Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

test(sagemaker): make training-job limit constructor test discriminating
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
Due: none

fix(huaweicloud): remove mock data from SMN service (#12836)
  prowler/providers/huaweicloud/services/smn/smn_service.py
  tests/providers/huaweicloud/services/smn/huaweicloud_smn_service_test.py
  tests/providers/huaweicloud/services/smn/smn_topic_subscriptions/smn_topic_subscriptions_test.py
Due: prowler

chore(changelog): v5.43.0 highlights
  docs/changelog.mdx
Due: none

fix(api): sign report URLs against public storage host (#12552)
  .env
  api/changelog.d/report-download-public-storage-endpoint.fixed.md
  api/changelog.d/s3-client-default-region.fixed.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tests/test_export.py
Due: api

fix(ui): keep the Registry tab hidden but retryable when access is unknown
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/providers/radio-group-provider.test.tsx
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/connect-account-form.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/tests/registry/registry.md
Due: none

fix(cloudflare): request every permission the checks need (#12842)
  docs/images/providers/cloudflare-token-permissions.png
  docs/user-guide/providers/cloudflare/authentication.mdx
  docs/user-guide/providers/cloudflare/getting-started-cloudflare.mdx
  docs/user-guide/tutorials/prowler-app-github-action.mdx
  ui/changelog.d/cloudflare-token-permissions.fixed.md
  ui/components/providers/workflow/forms/select-credentials-type/cloudflare/credentials-type/cloudflare-api-token-credentials-form.test.tsx
  ui/lib/external-urls.test.ts
  ui/lib/external-urls.ts
Due: none

feat(ui): install Registry checks artifacts on the API's verdict
  ui/actions/registry/registry.adapter.test.ts
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/registry/registry-artifact-card.integration.test.tsx
  ui/components/registry/registry-artifact-card.tsx
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.model.test.ts
  ui/components/registry/registry-explorer.model.ts
  ui/components/registry/registry-explorer.tsx
  ui/components/registry/registry-remove-dialog.tsx
  ui/lib/registry/artifacts.ts
  ui/lib/registry/installability.ts
  ui/lib/registry/provider-options.test.ts
  ui/lib/registry/provider-options.ts
  ui/tests/registry/controlled-registry-api.mts
  ui/tests/registry/registry.md
  ui/types/registry.ts
Due: none

fix(ui): address Registry review findings
  ui/actions/providers/registry-provider.ts
  ui/actions/registry/registry.ts
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/registry/registry-artifact-card.integration.test.tsx
  ui/components/registry/registry-artifact-card.tsx
  ui/components/registry/registry-explorer.tsx
  ui/lib/registry/provider-options.ts
Due: none

fix(ui): show a Registry provider retry while it is in flight
  ui/components/providers/workflow/forms/connect-account-form.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
Due: none

fix(ui): end a Registry provider retry only when that retry settles
  ui/components/providers/workflow/forms/connect-account-form.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
Due: none

feat(ui): install Registry checks artifacts on the API's verdict (#12843)
  ui/actions/providers/registry-provider.ts
  ui/actions/registry/registry.adapter.test.ts
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/providers/radio-group-provider.test.tsx
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/connect-account-form.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/registry/registry-artifact-card.integration.test.tsx
  ui/components/registry/registry-artifact-card.tsx
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.model.test.ts
  ui/components/registry/registry-explorer.model.ts
  ui/components/registry/registry-explorer.tsx
  ui/components/registry/registry-remove-dialog.tsx
  ui/lib/registry/artifacts.ts
  ui/lib/registry/installability.ts
  ui/lib/registry/provider-options.test.ts
  ui/lib/registry/provider-options.ts
  ui/tests/registry/controlled-registry-api.mts
  ui/tests/registry/registry.md
  ui/types/registry.ts
Due: none

fix(api): sign S3 report download URLs with Signature Version 4
  api/changelog.d/s3-report-download-sigv4.fixed.md
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tests/test_export.py
Due: api

fix(tests): avoid recursive mock and strengthen SigV4 assertion in S3 export tests
  api/src/backend/tasks/tests/test_export.py
Due: api

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(ui): hide Registry when the backend has it disabled
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
Due: none

fix(ui): skip Registry discovery outside Cloud
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
Due: none

fix(deps): bump anyio to 4.14.2 to resolve CVE-2026-63374
  api/changelog.d/api-anyio-cve-2026-63374.security.md
  api/pyproject.toml
  api/uv.lock
  prowler/changelog.d/sdk-anyio-cve-2026-63374.security.md
  pyproject.toml
  uv.lock
Due: prowler, api

fix(ui): keep Registry visible on an enabled backend's 404
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
Due: none

chore(security): accept CVE-2026-82049 in Grype and bump anyio in the MCP lock
  .grype.yaml
  mcp_server/changelog.d/mcp-anyio-cve-2026-63374.security.md
  mcp_server/uv.lock
Due: none

fix(api): dispatch queued scans orphaned by a blocking scan that never finished
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

chore(changelog): fill in PR number for queued scan dispatch fix
  api/CHANGELOG.md
Due: api

fix(ui): check every error code before hiding Registry on a 404
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
Due: none

fix(ui): hide Registry when it is unavailable to the deployment (#12847)
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
Due: none

fix(deps): bump anyio to 4.14.2 and accept unfixable CPython CVE-2026-82049 (#12848)
  .grype.yaml
  api/changelog.d/api-anyio-cve-2026-63374.security.md
  api/pyproject.toml
  api/uv.lock
  mcp_server/changelog.d/mcp-anyio-cve-2026-63374.security.md
  mcp_server/uv.lock
  prowler/changelog.d/sdk-anyio-cve-2026-63374.security.md
  pyproject.toml
  uv.lock
Due: prowler, api

fix(deps): bump anyio to 4.14.2 and accept unfixable CPython CVE-2026-82049 (#12850)
  .grype.yaml
  api/changelog.d/api-anyio-cve-2026-63374.security.md
  api/pyproject.toml
  api/uv.lock
  mcp_server/changelog.d/mcp-anyio-cve-2026-63374.security.md
  mcp_server/uv.lock
  prowler/changelog.d/sdk-anyio-cve-2026-63374.security.md
  pyproject.toml
  uv.lock
Due: prowler, api

feat(aws): Update regions for AWS services (#12846)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

feat(aws): add single-parameter CloudFormation scan role
  permissions/templates/cloudformation/prowler-scan-role-quick.yml
Due: none

feat(ui): add experimental AWS quick onboarding modal
  docs/developer-guide/environment-variables.mdx
  ui/Dockerfile
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/providers/aws-quick/aws-onboarding-method-tabs.test.tsx
  ui/components/providers/aws-quick/aws-onboarding-method-tabs.tsx
  ui/components/providers/aws-quick/aws-quick-flow.test.tsx
  ui/components/providers/aws-quick/aws-quick-flow.tsx
  ui/components/providers/aws-quick/aws-quick-onboarding-modal.test.tsx
  ui/components/providers/aws-quick/aws-quick-onboarding-modal.tsx
  ui/components/providers/aws-quick/aws-quick-steps.ts
  ui/components/providers/aws-quick/aws-quick.utils.test.ts
  ui/components/providers/aws-quick/aws-quick.utils.ts
  ui/components/providers/aws-quick/hooks/use-aws-quick-connect.test.tsx
  ui/components/providers/aws-quick/hooks/use-aws-quick-connect.ts
  ui/components/providers/aws-quick/steps/aws-quick-connect-step.tsx
  ui/components/providers/aws-quick/steps/aws-quick-name-step.tsx
  ui/components/providers/aws-quick/types.ts
  ui/components/providers/providers-accounts-view.test.tsx
  ui/components/providers/providers-accounts-view.tsx
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/steps/connect-step.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/lib/external-urls.test.ts
  ui/lib/external-urls.ts
  ui/lib/get-runtime-config.client.test.ts
  ui/lib/runtime-config.shared.ts
  ui/lib/runtime-config.ts
  ui/lib/shared/env.ts
  ui/types/env.d.ts
Due: none

chore(changelog): add missing
  docs/developer-guide/environment-variables.mdx
  ui/changelog.d/aws-quick-onboarding.added.md
Due: none

fix(ui): show API error message when mute rule creation fails
  ui/actions/mute-rules/mute-rules.test.ts
  ui/actions/mute-rules/mute-rules.ts
  ui/changelog.d/mute-rule-error-toast-raw-json.fixed.md
Due: none

chore(changelog): add missing changes
  docs/changelog.mdx
Due: none

chore(changelog): reclassify FedRAMP 20x pilot removal as changed
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.changed.md
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.removed.md
Due: prowler

chore(changelog): reclassify FedRAMP 20x pilot removal as changed (#12855)
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.changed.md
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.removed.md
Due: prowler

chore(changelog): v5.43.0
  api/CHANGELOG.md
  api/changelog.d/api-anyio-cve-2026-63374.security.md
  api/changelog.d/api-image-debian-cves.security.md
  api/changelog.d/api-image-powershell-dotnet-cve.security.md
  api/changelog.d/lapsed-invitations-block-re-invites.fixed.md
  api/changelog.d/report-download-public-storage-endpoint.fixed.md
  api/changelog.d/s3-client-default-region.fixed.md
  mcp_server/CHANGELOG.md
  mcp_server/changelog.d/mcp-anyio-cve-2026-63374.security.md
  prowler/CHANGELOG.md
  prowler/changelog.d/aws-inspector2-fips-checks.added.md
  prowler/changelog.d/aws-partition-bootstrap-falls-back-to-the-next-region.fixed.md
  prowler/changelog.d/azure-sovereign-cloud-defender-keyvault-hosts.fixed.md
  prowler/changelog.d/fedramp-20x-frr-class-c-2026.added.md
  prowler/changelog.d/fedramp-20x-ksi-2026.added.md
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.changed.md
  prowler/changelog.d/googleworkspace-2sv-all-users-overrides.fixed.md
  prowler/changelog.d/m365-defender-preset-policy-keyerror.fixed.md
  prowler/changelog.d/sdk-anyio-cve-2026-63374.security.md
  prowler/changelog.d/sdk-image-debian-cves.security.md
  prowler/changelog.d/sdk-image-powershell-dotnet-cve.security.md
  prowler/changelog.d/smn-topic-subscriptions.added.md
  ui/CHANGELOG.md
  ui/changelog.d/aws-marketplace-button.added.md
  ui/changelog.d/cloudflare-token-permissions.fixed.md
  ui/changelog.d/defer-onboarding-on-billing.fixed.md
  ui/changelog.d/disable-self-registration.added.md
  ui/changelog.d/fedramp-20x-cross-provider-breakdown.fixed.md
  ui/changelog.d/invitation-row-actions-non-pending.fixed.md
  ui/changelog.d/onboarding-invite-step.added.md
  ui/changelog.d/registry-private-cloud.added.md
Due: prowler, api

chore(changelog): v5.43.0 (#12856)
  api/CHANGELOG.md
  api/changelog.d/api-anyio-cve-2026-63374.security.md
  api/changelog.d/api-image-debian-cves.security.md
  api/changelog.d/api-image-powershell-dotnet-cve.security.md
  api/changelog.d/lapsed-invitations-block-re-invites.fixed.md
  api/changelog.d/report-download-public-storage-endpoint.fixed.md
  api/changelog.d/s3-client-default-region.fixed.md
  mcp_server/CHANGELOG.md
  mcp_server/changelog.d/mcp-anyio-cve-2026-63374.security.md
  prowler/CHANGELOG.md
  prowler/changelog.d/aws-inspector2-fips-checks.added.md
  prowler/changelog.d/aws-partition-bootstrap-falls-back-to-the-next-region.fixed.md
  prowler/changelog.d/azure-sovereign-cloud-defender-keyvault-hosts.fixed.md
  prowler/changelog.d/fedramp-20x-frr-class-c-2026.added.md
  prowler/changelog.d/fedramp-20x-ksi-2026.added.md
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.changed.md
  prowler/changelog.d/googleworkspace-2sv-all-users-overrides.fixed.md
  prowler/changelog.d/m365-defender-preset-policy-keyerror.fixed.md
  prowler/changelog.d/sdk-anyio-cve-2026-63374.security.md
  prowler/changelog.d/sdk-image-debian-cves.security.md
  prowler/changelog.d/sdk-image-powershell-dotnet-cve.security.md
  prowler/changelog.d/smn-topic-subscriptions.added.md
  ui/CHANGELOG.md
  ui/changelog.d/aws-marketplace-button.added.md
  ui/changelog.d/cloudflare-token-permissions.fixed.md
  ui/changelog.d/defer-onboarding-on-billing.fixed.md
  ui/changelog.d/disable-self-registration.added.md
  ui/changelog.d/fedramp-20x-cross-provider-breakdown.fixed.md
  ui/changelog.d/invitation-row-actions-non-pending.fixed.md
  ui/changelog.d/onboarding-invite-step.added.md
  ui/changelog.d/registry-private-cloud.added.md
Due: prowler, api

chore(api): update prowler dependency to v5.43 for release 5.43.0
  api/pyproject.toml
  api/uv.lock
Due: api

chore(api): Update prowler dependency to v5.43 for release 5.43.0 (#12857)
  api/pyproject.toml
  api/uv.lock
Due: api
