Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(changelog): update with latests changes
  prowler/CHANGELOG.md
Due: prowler

fix(kubernetes): change object type to set for apiserver check (#7952)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/apiserver/apiserver_strong_ciphers_only/apiserver_strong_ciphers_only.py
Due: prowler

fix(kubernetes): change object type to set for apiserver check (#8005)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/apiserver/apiserver_strong_ciphers_only/apiserver_strong_ciphers_only.py
Due: prowler

fix typo docs/developer-guide/services.md
  docs/developer-guide/services.md
Due: none

fix link
  docs/developer-guide/unit-testing.md
Due: none

fix typos
  docs/developer-guide/unit-testing.md
Due: none

fix indentation
  docs/developer-guide/unit-testing.md
Due: none

fix(dashboard): handle account uids with 0 at start and end (#7955)
  dashboard/pages/overview.py
  prowler/CHANGELOG.md
Due: prowler

chore(regions_update): Changes in regions for AWS services (#7973)
  prowler/providers/aws/aws_regions_by_service.json
  tests/providers/aws/aws_provider_test.py
Due: prowler

fix: improve error handling in UpdateViaCredentialsForm with early re… (#7988)
  ui/CHANGELOG.md
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/(set-up-provider)/add-credentials/page.tsx
  ui/components/providers/forms/delete-form.tsx
  ui/components/providers/forms/edit-form.tsx
  ui/components/providers/workflow/forms/add-via-credentials-form.tsx
  ui/components/providers/workflow/forms/add-via-role-form.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-static-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/add-via-service-account-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/gcp/via-service-account-form.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
  ui/hooks/index.ts
  ui/hooks/use-credentials-form.ts
  ui/hooks/use-form-server-errors.ts
  ui/hooks/use-local-storage.ts
  ui/lib/error-mappings.ts
  ui/lib/helper.ts
  ui/lib/index.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

chore(ec2): change all ec2 fixers to new structure
  prowler/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_cassandra_exposed_to_internet/ec2_instance_port_cassandra_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_elasticsearch_kibana_exposed_to_internet/ec2_instance_port_elasticsearch_kibana_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ftp_exposed_to_internet/ec2_instance_port_ftp_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_kafka_exposed_to_internet/ec2_instance_port_kafka_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_kerberos_exposed_to_internet/ec2_instance_port_kerberos_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ldap_exposed_to_internet/ec2_instance_port_ldap_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_mongodb_exposed_to_internet/ec2_instance_port_mongodb_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_mysql_exposed_to_internet/ec2_instance_port_mysql_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_oracle_exposed_to_internet/ec2_instance_port_oracle_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_postgresql_exposed_to_internet/ec2_instance_port_postgresql_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_rdp_exposed_to_internet/ec2_instance_port_rdp_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_redis_exposed_to_internet/ec2_instance_port_redis_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_sqlserver_exposed_to_internet/ec2_instance_port_sqlserver_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ssh_exposed_to_internet/ec2_instance_port_ssh_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_telnet_exposed_to_internet/ec2_instance_port_telnet_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports_fixer.py
  tests/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_cassandra_exposed_to_internet/ec2_instance_port_cassandra_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_elasticsearch_kibana_exposed_to_internet/ec2_instance_port_elasticsearch_kibana_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ftp_exposed_to_internet/ec2_instance_port_ftp_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_kafka_exposed_to_internet/ec2_instance_port_kafka_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_kerberos_exposed_to_internet/ec2_instance_port_kerberos_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ldap_exposed_to_internet/ec2_instance_port_ldap_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_mongodb_exposed_to_internet/ec2_instance_port_mongodb_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_mysql_exposed_to_internet/ec2_instance_port_mysql_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_oracle_exposed_to_internet/ec2_instance_port_oracle_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_postgresql_exposed_to_internet/ec2_instance_port_postgresql_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_rdp_exposed_to_internet/ec2_instance_port_rdp_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_redis_exposed_to_internet/ec2_instance_port_redis_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_sqlserver_exposed_to_internet/ec2_instance_port_sqlserver_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ssh_exposed_to_internet/ec2_instance_port_ssh_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_telnet_exposed_to_internet/ec2_instance_port_telnet_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports_fixer_test.py
Due: prowler

fix(dashboard): handle account uids with 0 at start and end (#8006)
  dashboard/pages/overview.py
  prowler/CHANGELOG.md
Due: prowler

fix(export): add name sanitization
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tests/test_export.py
Due: api

feat(deps): add new deps to check Azure Databricks service
  poetry.lock
  pyproject.toml
Due: none

feat(databricks): add new DataBricks service and check the check added is to ensure that workspace is deployed in customer-managed VNet
  prowler/providers/azure/services/databricks/__init__.py
  prowler/providers/azure/services/databricks/databricks_client.py
  prowler/providers/azure/services/databricks/databricks_service.py
  prowler/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/__init__.py
  prowler/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/databricks_workspace_vnet_injection_enabled.metadata.json
  prowler/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/databricks_workspace_vnet_injection_enabled.py
Due: prowler

test(databricks): test new DataBrick service methods and check the check ensure the case with no workspaces, a workspace with a VNet ID (PASS) and without it (FAIL)
  tests/providers/azure/services/databricks/databricks_service_test.py
  tests/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/databricks_workspace_vnet_injection_enabled_test.py
Due: none

chore(CHANGELOG): add new Azure Databrick service and check
  prowler/CHANGELOG.md
Due: prowler

fix: update with new master changes
  prowler/CHANGELOG.md
Due: prowler

chore: update changelog
  api/CHANGELOG.md
Due: api

feat(aws): add changelog
  prowler/CHANGELOG.md
Due: prowler

move notes to callout
  docs/developer-guide/unit-testing.md
Due: none

chore(pyproject): change deps order
  pyproject.toml
Due: none

move note to callout
  docs/developer-guide/unit-testing.md
Due: none

chore(pyproject): remove last comma
  pyproject.toml
Due: none

feat: back navigation keeping scanId in compliance
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-header/data-compliance.tsx
Due: none

chore: improve CHANGELOG.md
  ui/CHANGELOG.md
Due: none

feat: API loading states handling
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/page.tsx
Due: none

feat: add function to fetch user data
  ui/lib/lighthouse/data.ts
Due: none

chore: update ui changelog
  ui/CHANGELOG.md
  ui/lib/menu-list.ts
Due: none

move trufflehog to Code Quality and Security Checks section
  docs/developer-guide/introduction.md
Due: none

chore(changelog): make all consistent
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

chore(changelog): reorder fixed in UI
  ui/CHANGELOG.md
Due: none

chore: no dots
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

chore(api): exclude changelog from tests
  .github/workflows/api-pull-request.yml
Due: none

chore(api): exclude changelog from test container build
  .github/workflows/api-pull-request.yml
Due: none

fix: remove lighthouse config menu
  ui/lib/menu-list.ts
Due: none
