Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore(ui): reduce npm security overrides
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

chore(ui): update react to 19.2.6
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

fix(googleworkspace): use per-service resources for Calendar and Drive (#11161)
  prowler/CHANGELOG.md
  prowler/providers/googleworkspace/services/calendar/calendar_external_invitations_warning/calendar_external_invitations_warning.py
  prowler/providers/googleworkspace/services/calendar/calendar_external_sharing_primary_calendar/calendar_external_sharing_primary_calendar.py
  prowler/providers/googleworkspace/services/calendar/calendar_external_sharing_secondary_calendar/calendar_external_sharing_secondary_calendar.py
  prowler/providers/googleworkspace/services/drive/drive_access_checker_recipients_only/drive_access_checker_recipients_only.py
  prowler/providers/googleworkspace/services/drive/drive_desktop_access_disabled/drive_desktop_access_disabled.py
  prowler/providers/googleworkspace/services/drive/drive_external_sharing_warn_users/drive_external_sharing_warn_users.py
  prowler/providers/googleworkspace/services/drive/drive_internal_users_distribute_content/drive_internal_users_distribute_content.py
  prowler/providers/googleworkspace/services/drive/drive_publishing_files_disabled/drive_publishing_files_disabled.py
  prowler/providers/googleworkspace/services/drive/drive_shared_drive_creation_allowed/drive_shared_drive_creation_allowed.py
  prowler/providers/googleworkspace/services/drive/drive_shared_drive_disable_download_print_copy/drive_shared_drive_disable_download_print_copy.py
  prowler/providers/googleworkspace/services/drive/drive_shared_drive_managers_cannot_override/drive_shared_drive_managers_cannot_override.py
  prowler/providers/googleworkspace/services/drive/drive_shared_drive_members_only_access/drive_shared_drive_members_only_access.py
  prowler/providers/googleworkspace/services/drive/drive_sharing_allowlisted_domains/drive_sharing_allowlisted_domains.py
  prowler/providers/googleworkspace/services/drive/drive_warn_sharing_with_allowlisted_domains/drive_warn_sharing_with_allowlisted_domains.py
  tests/providers/googleworkspace/services/calendar/calendar_external_invitations_warning/calendar_external_invitations_warning_test.py
  tests/providers/googleworkspace/services/calendar/calendar_external_sharing_primary_calendar/calendar_external_sharing_primary_calendar_test.py
  tests/providers/googleworkspace/services/calendar/calendar_external_sharing_secondary_calendar/calendar_external_sharing_secondary_calendar_test.py
  tests/providers/googleworkspace/services/drive/drive_access_checker_recipients_only/drive_access_checker_recipients_only_test.py
  tests/providers/googleworkspace/services/drive/drive_desktop_access_disabled/drive_desktop_access_disabled_test.py
  tests/providers/googleworkspace/services/drive/drive_external_sharing_warn_users/drive_external_sharing_warn_users_test.py
  tests/providers/googleworkspace/services/drive/drive_internal_users_distribute_content/drive_internal_users_distribute_content_test.py
  tests/providers/googleworkspace/services/drive/drive_publishing_files_disabled/drive_publishing_files_disabled_test.py
  tests/providers/googleworkspace/services/drive/drive_shared_drive_creation_allowed/drive_shared_drive_creation_allowed_test.py
  tests/providers/googleworkspace/services/drive/drive_shared_drive_disable_download_print_copy/drive_shared_drive_disable_download_print_copy_test.py
  tests/providers/googleworkspace/services/drive/drive_shared_drive_managers_cannot_override/drive_shared_drive_managers_cannot_override_test.py
  tests/providers/googleworkspace/services/drive/drive_shared_drive_members_only_access/drive_shared_drive_members_only_access_test.py
  tests/providers/googleworkspace/services/drive/drive_sharing_allowlisted_domains/drive_sharing_allowlisted_domains_test.py
  tests/providers/googleworkspace/services/drive/drive_warn_sharing_with_allowlisted_domains/drive_warn_sharing_with_allowlisted_domains_test.py
Due: prowler

fix(googleworkspace): use per-service resources for Directory
  prowler/providers/googleworkspace/services/directory/directory_super_admin_count/directory_super_admin_count.py
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles.py
  tests/providers/googleworkspace/services/directory/directory_super_admin_count/directory_super_admin_count_test.py
  tests/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles_test.py
Due: prowler

fix(ui): update vulnerable npm packages (#11173)
  ui/CHANGELOG.md
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

docs: update CHANGELOG
  prowler/CHANGELOG.md
Due: prowler

docs(powerbi): add new documentation
  docs/docs.json
  docs/images/powerbi/benchmark-page.png
  docs/images/powerbi/download-compliance-scan.png
  docs/images/powerbi/overview-page.png
  docs/images/powerbi/report-cover.png
  docs/images/powerbi/requirement-page.png
  docs/images/powerbi/validation.png
  docs/images/powerbi/walkthrough-video-thumb.png
  docs/user-guide/cookbooks/powerbi-cis-benchmarks.mdx
  docs/user-guide/tutorials/PowerBI.mdx
Due: none

fix(googleworkspace): use per-service resources for Directory (#11176)
  prowler/CHANGELOG.md
  prowler/providers/googleworkspace/services/directory/directory_super_admin_count/directory_super_admin_count.py
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles.py
  tests/providers/googleworkspace/services/directory/directory_super_admin_count/directory_super_admin_count_test.py
  tests/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles_test.py
Due: prowler

fix: don't skip vulture
  .github/workflows/api-security.yml
  .github/workflows/sdk-security.yml
Due: none

chore(sdk): pin root transitive deps to prevent silent drift
  pyproject.toml
  uv.lock
Due: none

feat(ui): add health check endpoint (#11145)
  docker-compose.yml
  ui/CHANGELOG.md
  ui/app/api/health/route.test.ts
  ui/app/api/health/route.ts
Due: none

fix: pin osv-scanner
  .github/actions/osv-scanner/action.yml
Due: none

chore: remove `poetry` examples
  .github/actions/osv-scanner/action.yml
  .github/scripts/osv-scan.sh
Due: none

chore(security): replace safety with osv-scanner (#11167)
  .github/actions/osv-scanner/action.yml
  .github/scripts/osv-scan.sh
  .github/workflows/api-security.yml
  .github/workflows/sdk-security.yml
  .github/workflows/ui-security.yml
  .pre-commit-config.yaml
  .safety-policy.yml
  action.yml
  api/pyproject.toml
  api/uv.lock
  pyproject.toml
  scripts/setup-git-hooks.sh
  uv.lock
Due: api

docs: replace safety for osv-scanner
  docs/developer-guide/introduction.mdx
  docs/security/software-security.mdx
Due: none

docs: replace safety for osv-scanner (#11179)
  docs/developer-guide/introduction.mdx
  docs/security/software-security.mdx
Due: none

chore(sdk): resolve uv.lock merge conflict and drop orphan safety pins
  pyproject.toml
  uv.lock
Due: none

fix(googleworkspace): use per-service resources
  prowler/providers/googleworkspace/services/chat/chat_apps_installation_disabled/chat_apps_installation_disabled.py
  prowler/providers/googleworkspace/services/chat/chat_external_file_sharing_disabled/chat_external_file_sharing_disabled.py
  prowler/providers/googleworkspace/services/chat/chat_external_messaging_restricted/chat_external_messaging_restricted.py
  prowler/providers/googleworkspace/services/chat/chat_external_spaces_restricted/chat_external_spaces_restricted.py
  prowler/providers/googleworkspace/services/chat/chat_incoming_webhooks_disabled/chat_incoming_webhooks_disabled.py
  prowler/providers/googleworkspace/services/chat/chat_internal_file_sharing_disabled/chat_internal_file_sharing_disabled.py
  tests/providers/googleworkspace/services/chat/chat_apps_installation_disabled/chat_apps_installation_disabled_test.py
  tests/providers/googleworkspace/services/chat/chat_external_file_sharing_disabled/chat_external_file_sharing_disabled_test.py
  tests/providers/googleworkspace/services/chat/chat_external_messaging_restricted/chat_external_messaging_restricted_test.py
  tests/providers/googleworkspace/services/chat/chat_external_spaces_restricted/chat_external_spaces_restricted_test.py
  tests/providers/googleworkspace/services/chat/chat_incoming_webhooks_disabled/chat_incoming_webhooks_disabled_test.py
  tests/providers/googleworkspace/services/chat/chat_internal_file_sharing_disabled/chat_internal_file_sharing_disabled_test.py
Due: prowler

fix(gcp): update duplicated CIS requirement ID
  prowler/compliance/gcp/cis_4.0_gcp.json
Due: prowler

chore(changelog): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

fix add markdown formatting to Chat check metadata
  prowler/providers/googleworkspace/services/chat/chat_apps_installation_disabled/chat_apps_installation_disabled.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_external_file_sharing_disabled/chat_external_file_sharing_disabled.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_external_messaging_restricted/chat_external_messaging_restricted.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_external_spaces_restricted/chat_external_spaces_restricted.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_incoming_webhooks_disabled/chat_incoming_webhooks_disabled.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_internal_file_sharing_disabled/chat_internal_file_sharing_disabled.metadata.json
Due: prowler

chore(sdk): pin root transitive deps to prevent silent drift (#11178)
  pyproject.toml
  uv.lock
Due: none

fix(gcp): update duplicated CIS requirement ID (#11180)
  prowler/CHANGELOG.md
  prowler/compliance/gcp/cis_4.0_gcp.json
Due: prowler

docs(powerbi): update .pbit and docs
  contrib/PowerBI/Multicloud CIS Benchmarks/Prowler Multicloud CIS Benchmarks.pbit
  docs/user-guide/cookbooks/powerbi-cis-benchmarks.mdx
Due: none

chore(dora): update SDK to handle universal OCSF
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/universal/ocsf_compliance.py
  prowler/lib/outputs/compliance/universal/universal_output.py
Due: prowler

fix(okta): api tests failing
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
Due: api

feat(googleworkspace): implement Chat service with 6 CIS checks (#11126)
  docs/user-guide/providers/googleworkspace/authentication.mdx
  prowler/CHANGELOG.md
  prowler/compliance/googleworkspace/cis_1.3_googleworkspace.json
  prowler/compliance/googleworkspace/cisa_scuba_0.6_googleworkspace.json
  prowler/providers/googleworkspace/services/chat/__init__.py
  prowler/providers/googleworkspace/services/chat/chat_apps_installation_disabled/__init__.py
  prowler/providers/googleworkspace/services/chat/chat_apps_installation_disabled/chat_apps_installation_disabled.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_apps_installation_disabled/chat_apps_installation_disabled.py
  prowler/providers/googleworkspace/services/chat/chat_client.py
  prowler/providers/googleworkspace/services/chat/chat_external_file_sharing_disabled/__init__.py
  prowler/providers/googleworkspace/services/chat/chat_external_file_sharing_disabled/chat_external_file_sharing_disabled.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_external_file_sharing_disabled/chat_external_file_sharing_disabled.py
  prowler/providers/googleworkspace/services/chat/chat_external_messaging_restricted/__init__.py
  prowler/providers/googleworkspace/services/chat/chat_external_messaging_restricted/chat_external_messaging_restricted.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_external_messaging_restricted/chat_external_messaging_restricted.py
  prowler/providers/googleworkspace/services/chat/chat_external_spaces_restricted/__init__.py
  prowler/providers/googleworkspace/services/chat/chat_external_spaces_restricted/chat_external_spaces_restricted.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_external_spaces_restricted/chat_external_spaces_restricted.py
  prowler/providers/googleworkspace/services/chat/chat_incoming_webhooks_disabled/__init__.py
  prowler/providers/googleworkspace/services/chat/chat_incoming_webhooks_disabled/chat_incoming_webhooks_disabled.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_incoming_webhooks_disabled/chat_incoming_webhooks_disabled.py
  prowler/providers/googleworkspace/services/chat/chat_internal_file_sharing_disabled/__init__.py
  prowler/providers/googleworkspace/services/chat/chat_internal_file_sharing_disabled/chat_internal_file_sharing_disabled.metadata.json
  prowler/providers/googleworkspace/services/chat/chat_internal_file_sharing_disabled/chat_internal_file_sharing_disabled.py
  prowler/providers/googleworkspace/services/chat/chat_service.py
  tests/providers/googleworkspace/services/chat/chat_apps_installation_disabled/chat_apps_installation_disabled_test.py
  tests/providers/googleworkspace/services/chat/chat_external_file_sharing_disabled/chat_external_file_sharing_disabled_test.py
  tests/providers/googleworkspace/services/chat/chat_external_messaging_restricted/chat_external_messaging_restricted_test.py
  tests/providers/googleworkspace/services/chat/chat_external_spaces_restricted/chat_external_spaces_restricted_test.py
  tests/providers/googleworkspace/services/chat/chat_incoming_webhooks_disabled/chat_incoming_webhooks_disabled_test.py
  tests/providers/googleworkspace/services/chat/chat_internal_file_sharing_disabled/chat_internal_file_sharing_disabled_test.py
  tests/providers/googleworkspace/services/chat/chat_service_test.py
Due: prowler

chore: add renovate config check to pre commit
  .pre-commit-config.yaml
Due: none

chore(worktree): include openspec/ in copy-ignored allowlist
  .worktreeinclude
Due: none

ci: allow release-assets.githubusercontent.com in renovate validator workflow
  .github/workflows/renovate-config-validate.yml
Due: none

ci: added renovate config check workflow
  .github/workflows/renovate-config-validate.yml
Due: none

ci: allow registry.npmjs.org in renovate validator workflow
  .github/workflows/renovate-config-validate.yml
Due: none

chore(ci): add Renovate baseline config
  .github/renovate.json
Due: none

chore(ci): exempt vulnerability alerts from Renovate rate caps
  .github/renovate.json
Due: none

ci: allow nodejs.org in renovate validator workflow
  .github/workflows/renovate-config-validate.yml
Due: none

fix(stackit): use project id for mutelist matching
  prowler/providers/stackit/lib/mutelist/mutelist.py
  pyproject.toml
  tests/providers/stackit/lib/mutelist/stackit_mutelist_test.py
  uv.lock
Due: prowler

docs(sdk): add STACKIT changelog entry
  prowler/CHANGELOG.md
Due: prowler

fix(oci): address audit home region review
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/models.py
  prowler/providers/oraclecloud/oraclecloud_provider.py
  tests/providers/oraclecloud/oci_fixtures.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
  tests/providers/oraclecloud/services/audit/audit_service_test.py
Due: prowler

Add Azure DevOps Conditional Access check
  prowler/providers/m365/services/entra/entra_conditional_access_policy_explicitly_targets_azure_devops/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_explicitly_targets_azure_devops/entra_conditional_access_policy_explicitly_targets_azure_devops.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_explicitly_targets_azure_devops/entra_conditional_access_policy_explicitly_targets_azure_devops.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
