Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: restore pull_request event
  .github/workflows/pr-conflict-checker.yml
Due: none

fix(conflict-checker): fail on conflict
  .github/workflows/pr-conflict-checker.yml
Due: none

chore: restore testing conflicts
  .github/workflows/pr-conflict-checker.yml
  prowler/__main__.py
Due: prowler

fix(conflict-checker): fail on conflict (#8840)
  .github/workflows/pr-conflict-checker.yml
Due: none

feat(github): add unit tests
  tests/providers/github/github_provider_test.py
Due: none

feat(docs): add key path to github docs
  docs/basic-usage/prowler-cli.md
  docs/tutorials/github/authentication.md
  docs/tutorials/github/getting-started-github.md
Due: none

Apply suggestions for awslambda function inside vpc
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.metadata.json
Due: prowler

fix: review metadata cloudtrail logging
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.metadata.json
Due: prowler

fix: review metadata lambda no secrets in code
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.metadata.json
Due: prowler

fix: review metadata lambda no secrets in variables
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.metadata.json
Due: prowler

refactor(api-keys): improve unit tests
  api/src/backend/api/tests/test_views.py
Due: api

feat(graphs): first implementation of rechart graphs
  ui/components/graphs/BarChart.tsx
  ui/components/graphs/COLORS.md
  ui/components/graphs/DonutChart.tsx
  ui/components/graphs/HorizontalBarChart.tsx
  ui/components/graphs/LineChart.tsx
  ui/components/graphs/RadarChart.tsx
  ui/components/graphs/RadialChart.tsx
  ui/components/graphs/SankeyChart.tsx
  ui/components/graphs/ScatterPlot.tsx
  ui/components/graphs/index.ts
Due: none

feat(graphs): implement radar chart dot selection
  ui/components/graphs/RadarChart.tsx
Due: none

feat(graphs): implement radar chart custom tooltip
  ui/components/graphs/RadarChart.tsx
Due: none

fix: review metadata lambda not publicly accessible
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.metadata.json
Due: prowler

chore(aws): enhance metadata for `apigateway` service (#8788)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/apigateway/apigateway_restapi_authorizers_enabled/apigateway_restapi_authorizers_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_cache_encrypted/apigateway_restapi_cache_encrypted.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_client_certificate_enabled/apigateway_restapi_client_certificate_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/apigateway_restapi_logging_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/apigateway_restapi_public.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_public_with_authorizer/apigateway_restapi_public_with_authorizer.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/apigateway_restapi_tracing_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_waf_acl_attached/apigateway_restapi_waf_acl_attached.metadata.json
Due: prowler

feat(ui): resolve conflicts from compliance-mapper.tsx
  ui/lib/compliance/compliance-mapper.ts
Due: none

fix: review metadata lambda url cors policy
  prowler/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy.metadata.json
Due: prowler

fix: review metadata lambda url public
  prowler/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public.metadata.json
Due: prowler

fix: changelog blank spaces
  prowler/CHANGELOG.md
Due: prowler

chore(security): update Django to 5.1.13
  api/poetry.lock
  api/pyproject.toml
Due: api

fix: remove maxTokens for gpt-5
  ui/lib/lighthouse/utils.ts
Due: none

chore(security): update Django to 5.1.13 - add changelog
  api/CHANGELOG.md
Due: api

fix: review metadata lambda supported runtime
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.metadata.json
Due: prowler

fix: review metadata lambda multiaz
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.metadata.json
Due: prowler

chore: cert validation in serializers
  api/src/backend/api/models.py
  api/src/backend/api/v1/serializers.py
Due: api

fix(ui): tests and compliance version
  prowler/compliance/aws/c5_aws.json
  ui/components/compliance/compliance-accordion/compliance-accordion-requeriment-title.tsx
  ui/components/icons/compliance/IconCompliance.tsx
Due: prowler

chore: add rename entry to changelog
  api/CHANGELOG.md
Due: api

chore: regenerate spec
  api/src/backend/api/specs/v1.yaml
Due: api

feat(api-keys): Add API Key support for the Prowler API (#8805)
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/apps.py
  api/src/backend/api/authentication.py
  api/src/backend/api/base_views.py
  api/src/backend/api/db_utils.py
  api/src/backend/api/exceptions.py
  api/src/backend/api/filters.py
  api/src/backend/api/middleware.py
  api/src/backend/api/migrations/0048_api_key.py
  api/src/backend/api/models.py
  api/src/backend/api/schema_extensions.py
  api/src/backend/api/signals.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/test_db_utils.py
  api/src/backend/api/tests/test_middleware.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/custom_logging.py
  api/src/backend/config/django/base.py
  api/src/backend/config/django/testing.py
  api/src/backend/conftest.py
Due: api

chore(aws): enhance metadata for `awslambda` service (#8825)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.metadata.json
Due: prowler

fix: validation error
  api/src/backend/api/v1/serializers.py
Due: api

fix: test_views
  api/src/backend/api/tests/test_views.py
Due: api

feat(github): add repository creation restriction check (#8661)
  prowler/compliance/github/cis_1.0_github.json
  prowler/providers/github/services/organization/organization_repository_creation_limited/__init__.py
  prowler/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited.metadata.json
  prowler/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited.py
  prowler/providers/github/services/organization/organization_service.py
  tests/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited_test.py
Due: prowler

feat(ccc): add more catalogs
  prowler/__main__.py
  prowler/compliance/aws/ccc_audit_logs_aws.json
  prowler/compliance/aws/ccc_build_aws.json
  prowler/compliance/aws/ccc_container_registry_aws.json
  prowler/compliance/aws/ccc_data_warehouse_aws.json
  prowler/compliance/aws/ccc_gen_ai_aws.json
  prowler/compliance/aws/ccc_key_management_aws.json
  prowler/compliance/aws/ccc_load_balancer_aws.json
  prowler/compliance/aws/ccc_logging_aws.json
  prowler/compliance/azure/ccc_audit_logs_azure.json
  prowler/compliance/azure/ccc_build_azure.json
  prowler/compliance/azure/ccc_container_registry_azure.json
  prowler/compliance/azure/ccc_data_warehouse_azure.json
  prowler/compliance/azure/ccc_gen_ai_azure.json
  prowler/compliance/azure/ccc_key_management_azure.json
  prowler/compliance/azure/ccc_load_balancer_azure.json
  prowler/compliance/azure/ccc_logging_azure.json
  prowler/compliance/gcp/ccc_audit_logs_gcp.json
  prowler/compliance/gcp/ccc_build_gcp.json
  prowler/compliance/gcp/ccc_container_registry_gcp.json
  prowler/compliance/gcp/ccc_data_warehouse_gcp.json
  prowler/compliance/gcp/ccc_gen_ai_gcp.json
  prowler/compliance/gcp/ccc_key_management_gcp.json
  prowler/compliance/gcp/ccc_load_balancer_gcp.json
  prowler/compliance/gcp/ccc_logging_gcp.json
Due: prowler

chore: add other AGENTS.md for adding docs
  docs/AGETNS.md
Due: none

fix(compliance): generate file extension correctly (#8791)
  prowler/CHANGELOG.md
  prowler/lib/outputs/compliance/compliance_output.py
  tests/lib/outputs/compliance/compliance_test.py
Due: prowler

Apply suggestions from code review
  prowler/CHANGELOG.md
Due: prowler
