Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: remove uv.lock files
  mcp_server/uv.lock
  uv.lock
Due: none

Revert "chore: remove uv.lock files"
  mcp_server/uv.lock
  uv.lock
Due: none

chore: remove accidentally committed uv.lock
  uv.lock
Due: none

refactor(ui): add loginAndVerify helper and fix provider tests skip logic
  ui/tests/auth/auth-middleware.spec.ts
  ui/tests/auth/auth-session-errors.spec.ts
  ui/tests/auth/auth-token-refresh.spec.ts
  ui/tests/base-page.ts
  ui/tests/helpers.ts
  ui/tests/home/home-page.ts
  ui/tests/invitations/invitations-page.ts
  ui/tests/invitations/invitations.spec.ts
  ui/tests/profile/profile-page.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.spec.ts
  ui/tests/scans/scans-page.ts
  ui/tests/scans/scans.spec.ts
  ui/tests/setups/admin.auth.setup.ts
  ui/tests/setups/invite-and-manage-users.auth.setup.ts
  ui/tests/setups/manage-account.auth.setup.ts
  ui/tests/setups/manage-cloud-providers.auth.setup.ts
  ui/tests/setups/manage-integrations.auth.setup.ts
  ui/tests/setups/manage-scans.auth.setup.ts
  ui/tests/setups/unlimited-visibility.auth.setup.ts
  ui/tests/sign-in-base/sign-in-base-page.ts
  ui/tests/sign-in-base/sign-in-base.spec.ts
  ui/tests/sign-up/sign-up-page.ts
  ui/tests/sign-up/sign-up.spec.ts
Due: none

revert(ui): undo prettier formatting on unrelated files
  ui/tests/base-page.ts
  ui/tests/helpers.ts
  ui/tests/home/home-page.ts
  ui/tests/invitations/invitations-page.ts
  ui/tests/profile/profile-page.ts
  ui/tests/providers/providers-page.ts
  ui/tests/scans/scans-page.ts
  ui/tests/scans/scans.spec.ts
  ui/tests/setups/admin.auth.setup.ts
  ui/tests/setups/invite-and-manage-users.auth.setup.ts
  ui/tests/setups/manage-account.auth.setup.ts
  ui/tests/setups/manage-cloud-providers.auth.setup.ts
  ui/tests/setups/manage-integrations.auth.setup.ts
  ui/tests/setups/manage-scans.auth.setup.ts
  ui/tests/setups/unlimited-visibility.auth.setup.ts
  ui/tests/sign-up/sign-up-page.ts
  ui/tests/sign-up/sign-up.spec.ts
Due: none

docs(security): restructure security page into dedicated sections (#9836)
  docs/docs.json
  docs/security.mdx
  docs/security/data-regions.mdx
  docs/security/encryption.mdx
  docs/security/index.mdx
  docs/security/networking.mdx
  docs/security/software-security.mdx
  docs/support.mdx
Due: none

refactor(ui): cleanup unused code and update imports
  ui/tests/auth/auth-token-refresh.spec.ts
  ui/tests/auth/auth.md
  ui/tests/home/home-page.ts
  ui/tests/invitations/invitations.spec.ts
  ui/tests/providers/providers.spec.ts
Due: none

fix(cloudflare): use zone_name as region for DNS records in CheckReportCloudflare
  prowler/lib/check/models.py
  tests/providers/cloudflare/services/dns/dns_record_proxied/dns_record_proxied_test.py
Due: prowler

refactor(ui): use SignInPage for auth setups without formatting changes
  ui/tests/setups/admin.auth.setup.ts
  ui/tests/setups/invite-and-manage-users.auth.setup.ts
  ui/tests/setups/manage-account.auth.setup.ts
  ui/tests/setups/manage-cloud-providers.auth.setup.ts
  ui/tests/setups/manage-integrations.auth.setup.ts
  ui/tests/setups/manage-scans.auth.setup.ts
  ui/tests/setups/unlimited-visibility.auth.setup.ts
Due: none

refactor(ui): remove duplicated sign-in helpers and update env var names
  ui/tests/helpers.ts
Due: none

fix(m365): improve error handling for missing Defender ATP cmdlets
  prowler/lib/powershell/powershell.py
  prowler/providers/m365/services/defender/defender_service.py
Due: prowler

feat(m365): add defender_atp_safe_attachments_policy_enabled security check
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_atp_safe_attachments_policy_enabled/__init__.py
  prowler/providers/m365/services/defender/defender_atp_safe_attachments_policy_enabled/defender_atp_safe_attachments_policy_enabled.metadata.json
  prowler/providers/m365/services/defender/defender_atp_safe_attachments_policy_enabled/defender_atp_safe_attachments_policy_enabled.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_atp_safe_attachments_policy_enabled/defender_atp_safe_attachments_policy_enabled_test.py
Due: prowler

fix(gcp): use "non-preemptible VM" terminology
  prowler/providers/gcp/services/compute/compute_instance_on_host_maintenance_migrate/compute_instance_on_host_maintenance_migrate.py
Due: prowler

fix(gcp): use "non-preemptible VM" terminology
  tests/providers/gcp/services/compute/compute_instance_on_host_maintenance_migrate/compute_instance_on_host_maintenance_migrate_test.py
Due: none

feat(m365): add defender_zap_for_teams_enabled security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_service.py
  prowler/providers/m365/services/defender/defender_zap_for_teams_enabled/__init__.py
  prowler/providers/m365/services/defender/defender_zap_for_teams_enabled/defender_zap_for_teams_enabled.metadata.json
  prowler/providers/m365/services/defender/defender_zap_for_teams_enabled/defender_zap_for_teams_enabled.py
  tests/providers/m365/services/defender/defender_zap_for_teams_enabled/defender_zap_for_teams_enabled_test.py
Due: prowler

chore(skills): Add more sections for API and DRF development
  skills/django-drf/SKILL.md
  skills/django-drf/references/file-locations.md
  skills/prowler-api/SKILL.md
  skills/prowler-api/references/configuration.md
  skills/prowler-api/references/file-locations.md
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-api/assets/api_test.py
  skills/prowler-test-api/references/test-api-docs.md
Due: none

fix(m365): update defender_zap_for_teams_enabled metadata per guidelines
  prowler/providers/m365/services/defender/defender_zap_for_teams_enabled/defender_zap_for_teams_enabled.metadata.json
Due: prowler

feat(gcp): add check to enforce On Host Maintenance set to MIGRATE (#9834)
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/compute/compute_instance_on_host_maintenance_migrate/__init__.py
  prowler/providers/gcp/services/compute/compute_instance_on_host_maintenance_migrate/compute_instance_on_host_maintenance_migrate.metadata.json
  prowler/providers/gcp/services/compute/compute_instance_on_host_maintenance_migrate/compute_instance_on_host_maintenance_migrate.py
  prowler/providers/gcp/services/compute/compute_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/compute/compute_instance_on_host_maintenance_migrate/compute_instance_on_host_maintenance_migrate_test.py
Due: prowler

feat(openstack): add mutelist and new auth methods
  prowler/config/openstack_mutelist_example.yaml
  prowler/lib/check/check.py
  prowler/providers/common/provider.py
  prowler/providers/openstack/exceptions/exceptions.py
  prowler/providers/openstack/lib/arguments/arguments.py
  prowler/providers/openstack/lib/mutelist/mutelist.py
  prowler/providers/openstack/openstack_provider.py
  tests/providers/openstack/lib/__init__.py
  tests/providers/openstack/lib/arguments/__init__.py
  tests/providers/openstack/lib/arguments/arguments_test.py
  tests/providers/openstack/lib/mutelist/__init__.py
  tests/providers/openstack/lib/mutelist/fixtures/__init__.py
  tests/providers/openstack/lib/mutelist/fixtures/openstack_mutelist.yaml
  tests/providers/openstack/lib/mutelist/openstack_mutelist_test.py
  tests/providers/openstack/openstack_provider_test.py
Due: prowler

feat(gcp): add check for OS Login 2FA enabled at project level
  prowler/providers/gcp/services/compute/compute_project_os_login_2fa_enabled/__init__.py
  prowler/providers/gcp/services/compute/compute_project_os_login_2fa_enabled/compute_project_os_login_2fa_enabled.metadata.json
  prowler/providers/gcp/services/compute/compute_project_os_login_2fa_enabled/compute_project_os_login_2fa_enabled.py
  prowler/providers/gcp/services/compute/compute_service.py
  tests/providers/gcp/services/compute/compute_project_os_login_2fa_enabled/compute_project_os_login_2fa_enabled_test.py
Due: prowler

docs: update CHANGELOG
  prowler/CHANGELOG.md
Due: prowler

chore(openstack): made mutelist generic
  prowler/config/openstack_mutelist_example.yaml
Due: prowler

feat(aws/codebuild): add check for CodeBreach webhook filter vulnerability
  prowler/CHANGELOG.md
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/codebuild_project_webhook_filters_use_anchored_patterns.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/codebuild_project_webhook_filters_use_anchored_patterns.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/__init__.py
  tests/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/codebuild_project_webhook_filters_use_anchored_patterns_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Due: prowler

fix(skills): add Bash 3.2 compatibility to sync.sh
  skills/skill-sync/assets/sync.sh
Due: none

fix(aws/codebuild): update metadata to comply with Prowler guidelines
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/codebuild_project_webhook_filters_use_anchored_patterns.metadata.json
Due: prowler

fix: correct __init__.py placement (check folder needs it, test folder doesn't)
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/__init__.py
  tests/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/__init__.py
Due: prowler

fix(m365): remove unnecessary __init__.py from test folder
  tests/providers/m365/services/defender/defender_safe_attachments_policy_enabled/__init__.py
Due: none

chore(attack-paths): adding stability to Neo4j driver and session
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/retryable_session.py
Due: api

chore(attack-paths): removing close driver from retrayable session
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/retryable_session.py
Due: api

chore(attack-paths): adding stability to Neo4j driver and session (#9842)
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/retryable_session.py
Due: api

perf(ui): optimize CI cache for pnpm and Next.js builds
  .github/workflows/ui-e2e-tests.yml
  .github/workflows/ui-tests.yml
Due: none

perf(ui): optimize CI cache for pnpm and Next.js builds (#9843)
  .github/workflows/ui-e2e-tests.yml
  .github/workflows/ui-tests.yml
Due: none

feat(ci): add test impact analysis for selective test execution
  .github/scripts/test-impact.py
  .github/test-impact.yml
  .github/workflows/test-impact-analysis.yml
  .github/workflows/ui-e2e-tests-v2.yml
  ui/components/providers/index.ts
Due: none

chore(changelog): make all consistent and product-focused (#9808)
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

fix(ci): remove deprecated set-output format and revert test changes
  .github/scripts/test-impact.py
  .github/test-impact.yml
  ui/components/providers/index.ts
Due: none

test(ci): add auth component change to test selective E2E
  .github/test-impact.yml
  ui/components/auth/oss/index.ts
Due: none

chore: update poetry lock
  poetry.lock
Due: none

chore: clean up test changes and re-enable critical paths
  .github/test-impact.yml
  ui/components/auth/oss/index.ts
Due: none

feat(ci): add ignored paths for docs and non-code files
  .github/scripts/test-impact.py
  .github/test-impact.yml
Due: none

fix: skill for sdk test creation
  skills/prowler-test-sdk/SKILL.md
Due: none
