Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

refactor(chatbot-config): split client logic into separate component for SSR compatibility
  ui/app/(prowler)/lighthouse/config/page.tsx
  ui/app/(prowler)/lighthouse/page.tsx
  ui/components/lighthouse/chat.tsx
  ui/components/lighthouse/chatbot-config.tsx
  ui/components/lighthouse/index.ts
Due: none

Rename getProfileInfo to getUserInfo
  ui/lib/lighthouse/cache.ts
  ui/lib/lighthouse/tools/users.ts
Due: none

chore: Refine error messages for report fetching
  ui/actions/scans/scans.ts
Due: none

fix(ui): Improved the findings page scan Id filter
  ui/actions/scans/scans.ts
  ui/app/(prowler)/findings/page.tsx
  ui/components/compliance/compliance-scan-info.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/types/components.ts
  ui/types/filters.ts
Due: none

docs: update changelog
  ui/CHANGELOG.md
  ui/actions/scans/scans.ts
Due: none

docs: changelog update
  ui/CHANGELOG.md
Due: none

chore: support both GCP auth methods
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
Due: api

feat(fixers): add first version of azure fixers
  prowler/providers/azure/lib/fix/__init__.py
  prowler/providers/azure/lib/fix/fixer.py
  prowler/providers/azure/services/app/app_function_ftps_deployment_disabled/app_function_ftps_deployment_disabled_fixer.py
Due: prowler

chore: add service account type model
  api/src/backend/api/models.py
Due: api

feat(compliance-overviews): add new endpoints
  api/src/backend/api/filters.py
  api/src/backend/api/models.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

chore(release): Bump version to v5.7.2 (#7812)
  prowler/config/config.py
  pyproject.toml
Due: prowler

fix(m365): remove last encrypted password appearances (#7825)
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializer_utils/providers.py
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/m365_provider_test.py
Due: prowler, api

WIP
  ui/actions/scans/scans.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/lib/helper.ts
Due: none

feat: add custom server input component and refactor tenant name update form using server actions
  ui/actions/users/tenants.ts
  ui/app/(prowler)/profile/page.tsx
  ui/components/ui/custom/custom-alert-modal.tsx
  ui/components/ui/custom/custom-server-input.tsx
  ui/components/ui/custom/index.ts
  ui/components/users/forms/edit-tenant-form.tsx
  ui/components/users/forms/index.ts
  ui/components/users/profile/edit-tenant-form.tsx
  ui/components/users/profile/membership-item.tsx
  ui/components/users/profile/memberships-card.tsx
  ui/components/users/profile/user-basic-info-card.tsx
  ui/lib/permissions.ts
Due: none

fix: final typo
  ui/types/formSchemas.ts
Due: none

fix(formSchemas): encrypted password typo (#7828)
  ui/types/formSchemas.ts
Due: none

chore: update CHANGELOG.md
  ui/CHANGELOG.md
Due: none

docs(dev-guide): update content related with provider, services and check creation
  docs/developer-guide/checks.md
  docs/developer-guide/integrations.md
  docs/developer-guide/introduction.md
  docs/developer-guide/outputs.md
  docs/developer-guide/provider.md
  docs/developer-guide/services.md
  docs/developer-guide/unit-testing.md
  mkdocs.yml
Due: none

feat: add index property to order filters display
  ui/app/(prowler)/findings/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/types/filters.ts
Due: none

feat: implement provider UID extraction and mapping in scans pages (#7820)
  ui/CHANGELOG.md
  ui/actions/providers/providers.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/lib/provider-helpers.ts
  ui/types/filters.ts
  ui/types/providers.ts
Due: none

fix(m365powershell): add `sanitize` to `test_credentials` (#7818)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

fix: change invalid search term
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(api): connection correctly reflected
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

chore: tweaks for user basic info card component
  ui/components/ui/entities/info-field.tsx
  ui/components/users/profile/user-basic-info-card.tsx
Due: none

chore: update changelog
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
Due: api

fix: mock rls transaction to run inside with code
  api/src/backend/tasks/tests/test_scan.py
Due: api

chore: tweaks for membership item component
  ui/components/ui/entities/info-field.tsx
  ui/components/users/profile/membership-item.tsx
Due: none

ref(integrations): remove saml from integrations
  api/src/backend/api/migrations/0024_samlconfigurations.py
  api/src/backend/api/models.py
Due: api

tests(sso): add sso adapters tests
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/conftest.py
Due: api

fix: api prs
  .github/workflows/api-pull-request.yml
Due: none

chore: add to index
  mkdocs.yml
Due: none

docs(sso): add api documentation
  docs/tutorials/prowler-app-sso.md
Due: none

chore: remove warning
  api/src/backend/config/settings/social_login.py
Due: api

tests(sso): add models unittests
  api/src/backend/api/tests/test_models.py
Due: api

feat(sso): check certificates
  api/src/backend/api/v1/views.py
Due: api

chore: add xmlsec dependencies
  .github/workflows/api-pull-request.yml
Due: none

test(sso): add unittests
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  docs/tutorials/prowler-app-sso.md
Due: api

feat(sso): add sso with saml to API
  .env
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/adapters.py
  api/src/backend/api/migrations/0024_samlconfigurations.py
  api/src/backend/api/models.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
  api/src/backend/config/settings/social_login.py
Due: api

tests(sso): add views unittests
  .github/workflows/api-pull-request.yml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  docs/tutorials/prowler-app-sso.md
Due: api

tests(sso): add missing cov line
  api/src/backend/api/tests/test_models.py
Due: api
