Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: update metadata
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pod_creation_access/rbac_minimize_pod_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.metadata.json
Due: prowler

refactor(api): migrate Attack Paths network exposure queries from APOC to openCypher - Filtering Internet nodes
  api/src/backend/api/attack_paths/queries/aws.py
Due: api

chore(kubernetes): enhance metadata for `rbac` service (#9678)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/rbac/rbac_cluster_admin_usage/rbac_cluster_admin_usage.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pod_creation_access/rbac_minimize_pod_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_secret_access/rbac_minimize_secret_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_wildcard_use_roles/rbac_minimize_wildcard_use_roles.metadata.json
Due: prowler

chore(kubernetes): enhance metadata for `scheduler` service (#9679)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/scheduler/scheduler_bind_address/scheduler_bind_address.metadata.json
  prowler/providers/kubernetes/services/scheduler/scheduler_profiling/scheduler_profiling.metadata.json
Due: prowler

fix(api): address PR review comments for Google Workspace provider integration
  api/src/backend/api/migrations/0084_googleworkspace_provider.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/conftest.py
Due: api

chore(revision): resolve comments
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
Due: none

docs(aws): improve organizations (#10265)
  docs/images/organizations/onboarding-flow.svg
  docs/images/organizations/two-roles-architecture.svg
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
Due: none

refactor(ui): add Textarea and RadioGroup shadcn atoms
  ui/components/shadcn/radio-group/radio-group.tsx
  ui/components/shadcn/textarea/textarea.tsx
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

refactor(ui): use Textarea and RadioGroup atoms in wizard fields
  ui/components/providers/workflow/forms/fields/wizard-radio-card.tsx
  ui/components/providers/workflow/forms/fields/wizard-textarea-field.tsx
  ui/components/providers/workflow/forms/select-credentials-type/alibabacloud/radio-group-alibabacloud-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/radio-group-aws-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/cloudflare/radio-group-cloudflare-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/radio-group-gcp-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/radio-group-github-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/radio-group-m365-via-credentials-type-form.tsx
Due: none

fix(ui): bump pnpm overrides to resolve 11 npm security vulnerabilities
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

docs(ui): add security changelog entry for npm vulnerability fixes
  ui/CHANGELOG.md
Due: none

docs(ui): move security entry to new [1.19.1] changelog section
  ui/CHANGELOG.md
Due: none

fix(ui): bump pnpm overrides to resolve 11 npm security vulnerabilities (#10267)
  ui/CHANGELOG.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

feat(ui): improve attack paths query error handling
  ui/actions/attack-paths/queries.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/page.tsx
  ui/types/attack-paths.ts
Due: none

test(ui): add unit tests for executeQuery action
  ui/actions/attack-paths/queries.test.ts
Due: none

refactor(ui): simplify WizardRadioCard with CSS has-selector
  ui/components/providers/workflow/forms/fields/wizard-radio-card.tsx
  ui/components/providers/workflow/forms/select-credentials-type/alibabacloud/radio-group-alibabacloud-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/radio-group-aws-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/cloudflare/radio-group-cloudflare-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/radio-group-gcp-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/radio-group-github-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/radio-group-m365-via-credentials-type-form.tsx
Due: none

chore(ui): update dependency log for radix radio-group
  ui/dependency-log.json
Due: none

docs(ui): add changelog entry for attack paths error handling fix
  ui/CHANGELOG.md
Due: none

fix(pdf): handle logic for findings with no resources
  api/src/backend/tasks/jobs/threatscore_utils.py
  api/src/backend/tasks/tests/test_reports.py
Due: api

refactor(attack-paths): extract provider isolation property names into constants
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/queries/schema.py
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/indexes.py
  api/src/backend/tasks/jobs/attack_paths/queries.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(attack-paths): use PROVIDER_ID_PROPERTY in virtual Internet nodes and test constants
  api/src/backend/api/attack_paths/queries/aws.py
  api/src/backend/api/tests/test_attack_paths.py
Due: api

refactor(skills): update prowler-attack-paths-query skill for openCypher migration
  skills/prowler-attack-paths-query/SKILL.md
Due: none

feat(m365): add custom entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required check (#10197)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required/entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required/entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required/entra_conditional_access_policy_compliant_device_hybrid_joined_device_mfa_required_test.py
Due: prowler

fix(pdf): handle logic for findings with no resources
  api/src/backend/tasks/jobs/reports/ens.py
  api/src/backend/tasks/jobs/threatscore_utils.py
Due: api

fix(api): add missing logging for Attack Paths query execution and scan error handling
  api/CHANGELOG.md
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

fix(api): add exc_info to attack paths cleanup exception handlers
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

fix(api): upgrade Cartography to 0.132.0 to fix exposed_internet on ELB/ELBv2 nodes
  api/CHANGELOG.md
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/tasks/jobs/attack_paths/aws.py
Due: api

chore(revision): resolve comments
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/threatscore_utils.py
  api/src/backend/tasks/tests/test_reports.py
Due: api

fix(api): update api/CHANGELOG.md
  api/CHANGELOG.md
Due: api

chore(mongodbatlas): enhance metadata for `organizations` service (#9658)
  prowler/CHANGELOG.md
  prowler/providers/mongodbatlas/services/organizations/organizations_api_access_list_required/organizations_api_access_list_required.metadata.json
  prowler/providers/mongodbatlas/services/organizations/organizations_mfa_required/organizations_mfa_required.metadata.json
  prowler/providers/mongodbatlas/services/organizations/organizations_security_contact_defined/organizations_security_contact_defined.metadata.json
  prowler/providers/mongodbatlas/services/organizations/organizations_service_account_secrets_expiration/organizations_service_account_secrets_expiration.metadata.json
Due: prowler

chore(mongodbatlas): enhance metadata for `clusters` service (#9657)
  prowler/CHANGELOG.md
  prowler/providers/mongodbatlas/services/clusters/clusters_authentication_enabled/clusters_authentication_enabled.metadata.json
  prowler/providers/mongodbatlas/services/clusters/clusters_backup_enabled/clusters_backup_enabled.metadata.json
  prowler/providers/mongodbatlas/services/clusters/clusters_encryption_at_rest_enabled/clusters_encryption_at_rest_enabled.metadata.json
  prowler/providers/mongodbatlas/services/clusters/clusters_tls_enabled/clusters_tls_enabled.metadata.json
  prowler/providers/mongodbatlas/services/projects/projects_auditing_enabled/projects_auditing_enabled.metadata.json
  prowler/providers/mongodbatlas/services/projects/projects_network_access_list_exposed_to_internet/projects_network_access_list_exposed_to_internet.metadata.json
Due: prowler

chore(github): enhance metadata for `repository` service (#9659)
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_branch_delete_on_merge_enabled/repository_branch_delete_on_merge_enabled.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_deletion_disabled/repository_default_branch_deletion_disabled.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_disallows_force_push/repository_default_branch_disallows_force_push.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_protection_applies_to_admins/repository_default_branch_protection_applies_to_admins.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_protection_enabled/repository_default_branch_protection_enabled.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_conversation_resolution/repository_default_branch_requires_conversation_resolution.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_linear_history/repository_default_branch_requires_linear_history.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_multiple_approvals/repository_default_branch_requires_multiple_approvals.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_status_checks_required/repository_default_branch_status_checks_required.metadata.json
  prowler/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled.metadata.json
  prowler/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file.metadata.json
  prowler/providers/github/services/repository/repository_immutable_releases_enabled/repository_immutable_releases_enabled.metadata.json
  prowler/providers/github/services/repository/repository_inactive_not_archived/repository_inactive_not_archived.metadata.json
  prowler/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file.metadata.json
  prowler/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled.metadata.json
Due: prowler

feat(api): add comment about resources logic
  api/src/backend/tasks/jobs/threatscore_utils.py
Due: api

chore(github): enhance metadata for organization service
  prowler/CHANGELOG.md
  prowler/providers/github/services/organization/organization_default_repository_permission_strict/organization_default_repository_permission_strict.metadata.json
  prowler/providers/github/services/organization/organization_members_mfa_required/organization_members_mfa_required.metadata.json
  prowler/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited.metadata.json
  prowler/providers/github/services/organization/organization_verified_badge/organization_verified_badge.metadata.json
Due: prowler

feat(ui): improve attack paths page layout and UX (#10249)
  ui/CHANGELOG.md
  ui/actions/attack-paths/queries.test.ts
  ui/actions/attack-paths/queries.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-list-table.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-status-badge.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/page.tsx
  ui/types/attack-paths.ts
Due: none

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

chore(github): enhance metadata for 'organization' service (#10273)
  prowler/CHANGELOG.md
  prowler/providers/github/services/organization/organization_default_repository_permission_strict/organization_default_repository_permission_strict.metadata.json
  prowler/providers/github/services/organization/organization_members_mfa_required/organization_members_mfa_required.metadata.json
  prowler/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited.metadata.json
  prowler/providers/github/services/organization/organization_verified_badge/organization_verified_badge.metadata.json
Due: prowler

feat(ui): improve organizations onboarding
  ui/components/providers/organizations/org-setup-form.tsx
  ui/lib/external-urls.ts
Due: none

chore(oraclecloud): enhance metadata for `compute` service (#9371)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/compute/compute_instance_in_transit_encryption_enabled/compute_instance_in_transit_encryption_enabled.metadata.json
  prowler/providers/oraclecloud/services/compute/compute_instance_legacy_metadata_endpoint_disabled/compute_instance_legacy_metadata_endpoint_disabled.metadata.json
  prowler/providers/oraclecloud/services/compute/compute_instance_secure_boot_enabled/compute_instance_secure_boot_enabled.metadata.json
Due: prowler
