Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(api): revert changes
  prowler/compliance/gcp/nis2_gcp.json
Due: prowler

docs(checks): rename custom to configurable checks
  docs/developer-guide/checks.md
  docs/developer-guide/configurable-checks.md
  docs/developer-guide/custom-checks.md
  mkdocs.yml
Due: none

feat(compliance): add iso27001_2022 name
  prowler/compliance/m365/iso27001_2022_m365.json
Due: prowler

docs: review writting
  docs/developer-guide/configurable-checks.md
Due: none

chore(ui): update capitalization of Sign In and Sign Up to match UI standards
  ui/components/auth/oss/auth-form.tsx
Due: none

feat(fixtures): revert changes
  api/src/backend/api/fixtures/dev/7_dev_compliance.json
Due: api

docs(developer-guide): add configurable checks documentation (#8122)
  docs/developer-guide/checks.md
  docs/developer-guide/configurable-checks.md
  mkdocs.yml
Due: none

feat(compliance): fix sdk tests
  tests/lib/outputs/compliance/cis/cis_kubernetes_test.py
  tests/lib/outputs/compliance/cis/cis_m365_test.py
Due: none

feat(changelog-sdk): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

fix: acs url and password input visible when sign up
  .env
  ui/components/auth/oss/auth-form.tsx
  ui/components/integrations/forms/saml-config-form.tsx
Due: none

feat(changelog-api): update with latest changes
  api/CHANGELOG.md
Due: api

feat(regions_update): Update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

Update .env
  .env
Due: none

feat(changelog): update with changes
  api/CHANGELOG.md
Due: api

feat(compliance): fix tests
  tests/lib/check/compliance_check_test.py
Due: none

fix(compliance): avoid initializing prowler provider
  api/src/backend/tasks/jobs/scan.py
Due: api

fix(compliance): unit tests
  api/src/backend/tasks/tests/test_scan.py
Due: api

chore: rename API_BASE_URL to NEXT_PUBLIC_API_BASE_URL
  .env
  contrib/k8s/helm/prowler-ui/values.yaml
  docs/tutorials/prowler-app-sso.md
  ui/Dockerfile
  ui/components/integrations/forms/saml-config-form.tsx
  ui/lib/helper.ts
Due: none

chore: add new env var NEXT_PUBLIC_API_BASE_URL
  .env
  .github/workflows/ui-build-lint-push-containers.yml
  contrib/k8s/helm/prowler-ui/values.yaml
Due: none

docs: update changelog
  ui/CHANGELOG.md
Due: none

chore(regions_update): Changes in regions for AWS services (#8132)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

feat(m365): init modules before testing credentials
  prowler/providers/m365/m365_provider.py
Due: prowler

fix(compliance): Avoid initializing Prowler provider (#8133)
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

chore: update version
  .env
Due: none

chore(CHANGELOG): remove unnecesary add at beggining of some new checks entries
  prowler/CHANGELOG.md
Due: prowler

chore(CHANGELOG): put all new check entries in same format
  prowler/CHANGELOG.md
Due: prowler

chore(CHANGELOG): remove trailing final dots
  prowler/CHANGELOG.md
Due: prowler

feat(m365powershell): add `pwsh` authentication via service principal (#7992)
  Dockerfile
  api/CHANGELOG.md
  api/poetry.lock
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/conftest.py
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/add-assginments.png
  docs/tutorials/microsoft365/img/assign-exchange-administrator-role.png
  docs/tutorials/microsoft365/img/exchange-administrator-role.png
  docs/tutorials/microsoft365/img/exchange-permission.png
  docs/tutorials/microsoft365/img/final-permissions.png
  docs/tutorials/microsoft365/img/grant-external-api-permissions.png
  docs/tutorials/microsoft365/img/here.png
  docs/tutorials/microsoft365/img/search-exchange-api.png
  docs/tutorials/microsoft365/img/search-skype-teams-tenant-admin-api.png
  docs/tutorials/microsoft365/img/teams-permission.png
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
Due: prowler, api

Update prowler/lib/cli/parser.py
  prowler/lib/cli/parser.py
Due: prowler

chore(CHANGELOG): put all checks entries in same format (#8134)
  prowler/CHANGELOG.md
Due: prowler

fix(version): only for master branch (#7850)
  .env
  api/poetry.lock
  poetry.lock
Due: api

auth flow exceptions
  prowler/providers/common/provider.py
  prowler/providers/ionos/exceptions/exceptions.py
  prowler/providers/ionos/ionos_provider.py
  prowler/providers/ionos/lib/arguments/arguments.py
Due: prowler

docs: changelog update
  ui/CHANGELOG.md
Due: none

feat: saml docs for UI
  docs/img/saml-step-1.png
  docs/img/saml-step-2.png
  docs/img/saml-step-3.png
  docs/img/saml-step-4.png
  docs/tutorials/prowler-app-sso.md
Due: none

Add check for project Visibility
  prowler/providers/aws/services/codebuild/codebuild_project_is_not_public/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_is_not_public/codebuild_project_is_not_public.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_is_not_public/codebuild_project_is_not_public.py
  tests/providers/aws/services/codebuild/codebuild_project_is_not_public/test_codebuild_project_is_not_public.py
Due: prowler

chore: new images
  docs/img/saml-step-2.png
  docs/img/saml-step-4.png
Due: none

restore: change api redirect
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
Due: api

restore: change api redirect (#8138)
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
Due: api

fix: ACS dynamic url and password input visible in sign up (#8131)
  .env
  .github/workflows/ui-build-lint-push-containers.yml
  docs/tutorials/prowler-app-sso.md
  ui/CHANGELOG.md
  ui/Dockerfile
  ui/components/auth/oss/auth-form.tsx
  ui/components/integrations/forms/saml-config-form.tsx
  ui/lib/helper.ts
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
