Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

docs(okta): update user automation docstring
  prowler/providers/okta/services/user/user_service.py
Due: prowler

fix: changelog
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): normalize okta network zone SDK models
  prowler/providers/okta/services/network/network_zone_service.py
  tests/providers/okta/services/network_zone/network_zone_service_test.py
Due: prowler

test(sdk): cover okta network zone fallback branches
  tests/providers/okta/services/network_zone/network_zone_block_anonymized_proxies/network_zone_block_anonymized_proxies_test.py
  tests/providers/okta/services/network_zone/network_zone_service_test.py
Due: none

fix(okta): avoid false network zone findings
  prowler/providers/okta/services/network/lib/network_zone_helpers.py
  prowler/providers/okta/services/network/network_zone_block_anonymized_proxies/network_zone_block_anonymized_proxies.py
  prowler/providers/okta/services/network/network_zone_service.py
  tests/providers/okta/services/network_zone/network_zone_block_anonymized_proxies/network_zone_block_anonymized_proxies_test.py
  tests/providers/okta/services/network_zone/network_zone_fixtures.py
  tests/providers/okta/services/network_zone/network_zone_service_test.py
Due: prowler

docs(sdk): align okta getting started scopes
  docs/user-guide/providers/okta/getting-started-okta.mdx
Due: none

docs(changelog): add API security entry for dulwich/pyjwt osv-scanner bump
  api/CHANGELOG.md
Due: api

docs(changelog): add SDK security entry for dulwich/pyjwt osv-scanner bump
  prowler/CHANGELOG.md
Due: prowler

test(ui): cover runtime SaaS config resolution
  ui/__tests__/msw/handlers/attack-paths.ts
  ui/package.json
  ui/playwright.config.ts
  ui/tests/runtime-config/runtime-config-page.ts
  ui/tests/runtime-config/runtime-config.md
  ui/tests/runtime-config/runtime-config.spec.ts
  ui/vitest.config.ts
Due: none

docs: document runtime UI configuration
  docs/developer-guide/end2end-testing.mdx
  docs/troubleshooting.mdx
  ui/sentry/README.md
Due: none

fix(ui): escape U+2028/U+2029 in inline-script serialization
  ui/lib/safe-json.test.ts
  ui/lib/safe-json.ts
Due: none

chore: configure UI deployments via WEB_APP_ runtime env
  .env
  .github/workflows/ui-container-build-push.yml
  .github/workflows/ui-e2e-tests-v2.yml
  contrib/k8s/helm/prowler-app/templates/ui/configmap.yaml
  contrib/k8s/helm/prowler-ui/values.yaml
  ui/Dockerfile
Due: none

feat(ui): add readEnv runtime env helper with legacy fallback
  ui/lib/runtime-env.test.ts
  ui/lib/runtime-env.ts
Due: none

refactor(ui): rename runtime config env vars to UI_ prefix
  .env
  .github/workflows/ui-e2e-tests-v2.yml
  contrib/k8s/helm/prowler-app/templates/ui/configmap.yaml
  contrib/k8s/helm/prowler-ui/values.yaml
  ui/CHANGELOG.md
  ui/Dockerfile
  ui/__tests__/msw/handlers/attack-paths.ts
  ui/app/(auth)/alerts/confirm/confirm-alert-recipient.test.ts
  ui/app/(auth)/alerts/confirm/confirm-alert-recipient.ts
  ui/app/(auth)/alerts/unsubscribe/unsubscribe-alert-recipient.test.ts
  ui/app/(auth)/alerts/unsubscribe/unsubscribe-alert-recipient.ts
  ui/app/(auth)/layout.tsx
  ui/instrumentation-client.test.ts
  ui/instrumentation-client.ts
  ui/instrumentation.ts
  ui/lib/env.test.ts
  ui/lib/env.ts
  ui/lib/helper.ts
  ui/lib/runtime-config.ts
  ui/next.config.js
  ui/playwright.config.ts
  ui/sentry/sentry.edge.config.ts
  ui/sentry/sentry.server.config.ts
  ui/tests/runtime-config/runtime-config.md
  ui/types/env.d.ts
  ui/vitest.config.ts
Due: none

docs: document UI_ environment variable naming convention
  docs/developer-guide/end2end-testing.mdx
  docs/developer-guide/environment-variables.mdx
  docs/docs.json
  docs/troubleshooting.mdx
  ui/sentry/README.md
Due: none

feat(ui): resolve public SaaS config at container runtime
  ui/CHANGELOG.md
  ui/app/(auth)/alerts/confirm/confirm-alert-recipient.test.ts
  ui/app/(auth)/alerts/confirm/confirm-alert-recipient.ts
  ui/app/(auth)/alerts/unsubscribe/unsubscribe-alert-recipient.test.ts
  ui/app/(auth)/alerts/unsubscribe/unsubscribe-alert-recipient.ts
  ui/app/(auth)/layout.tsx
  ui/app/(prowler)/layout.tsx
  ui/app/instrumentation.client.ts
  ui/app/providers.tsx
  ui/components/integrations/saml/saml-config-form.tsx
  ui/components/runtime-config/runtime-public-config.tsx
  ui/instrumentation-client.test.ts
  ui/instrumentation-client.ts
  ui/instrumentation.ts
  ui/lib/env.test.ts
  ui/lib/env.ts
  ui/lib/get-runtime-config.client.test.ts
  ui/lib/get-runtime-config.client.ts
  ui/lib/helper.ts
  ui/lib/menu-list.ts
  ui/lib/runtime-config.shared.ts
  ui/lib/runtime-config.ts
  ui/lib/safe-json.test.ts
  ui/lib/safe-json.ts
  ui/next.config.js
  ui/sentry/sentry.edge.config.ts
  ui/sentry/sentry.server.config.ts
  ui/types/env.d.ts
Due: none

fix(sdk): align okta authenticator docs and style
  docs/user-guide/providers/okta/getting-started-okta.mdx
  prowler/providers/okta/services/authenticator/authenticator_okta_verify_fips_compliant/authenticator_okta_verify_fips_compliant.py
  prowler/providers/okta/services/authenticator/authenticator_service.py
  tests/providers/okta/services/authenticator/authenticator_service_test.py
Due: prowler

style(ui): trim runtime-config comments
  ui/Dockerfile
  ui/next.config.js
Due: none

docs(ui): link runtime-config changelog entry to #11500
  ui/CHANGELOG.md
Due: none

docs(ui): fix MD026 trailing colons in runtime-config test headings
  ui/tests/runtime-config/runtime-config.md
Due: none

chore: use okta global pagination helper
  prowler/providers/okta/services/network/network_zone_service.py
  tests/providers/okta/services/network_zone/network_zone_service_test.py
Due: prowler

fix(api): set non-empty HS256 test signing key for pyjwt 2.13.0
  api/src/backend/config/django/testing.py
Due: api

fix(gcp): tighten aggregated metric sink coverage
  prowler/providers/gcp/services/logging/logging_service.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_service_test.py
Due: prowler

fix(gcp): honour org-aggregated sinks in metric-filter checks (#11488)
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_service.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_service_test.py
Due: prowler

docs: clarify deprecated Prowler App env var handling
  docs/developer-guide/environment-variables.mdx
Due: none

feat(okta): add network zone STIG check (#11463)
  docs/user-guide/providers/okta/authentication.mdx
  docs/user-guide/providers/okta/getting-started-okta.mdx
  prowler/CHANGELOG.md
  prowler/providers/okta/okta_provider.py
  prowler/providers/okta/services/network/__init__.py
  prowler/providers/okta/services/network/lib/__init__.py
  prowler/providers/okta/services/network/lib/network_zone_helpers.py
  prowler/providers/okta/services/network/network_zone_block_anonymized_proxies/__init__.py
  prowler/providers/okta/services/network/network_zone_block_anonymized_proxies/network_zone_block_anonymized_proxies.metadata.json
  prowler/providers/okta/services/network/network_zone_block_anonymized_proxies/network_zone_block_anonymized_proxies.py
  prowler/providers/okta/services/network/network_zone_client.py
  prowler/providers/okta/services/network/network_zone_service.py
  tests/providers/okta/okta_fixtures.py
  tests/providers/okta/services/network_zone/network_zone_block_anonymized_proxies/network_zone_block_anonymized_proxies_test.py
  tests/providers/okta/services/network_zone/network_zone_fixtures.py
  tests/providers/okta/services/network_zone/network_zone_service_test.py
Due: prowler

fix(ui): avoid hydration mismatch from runtime config island reads
  ui/components/integrations/saml/saml-config-form.tsx
  ui/components/ui/sidebar/menu.tsx
  ui/hooks/use-runtime-config.test.ts
  ui/hooks/use-runtime-config.ts
  ui/lib/menu-list.test.ts
  ui/lib/menu-list.ts
Due: none

fix(ui): align server and edge Sentry env defaults with the browser SDK
  ui/sentry/sentry.edge.config.test.ts
  ui/sentry/sentry.edge.config.ts
  ui/sentry/sentry.server.config.test.ts
  ui/sentry/sentry.server.config.ts
Due: none

fix(gcp): honour org-aggregated sinks in metric-filter checks (#11501)
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_service.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_service_test.py
Due: prowler

feat: add pagination and pagination tests
  prowler/providers/okta/services/apitoken/api_token_service.py
  tests/providers/okta/lib/service/pagination_test.py
Due: prowler

chore: ruff format
  api/src/backend/config/django/base.py
Due: api

feat(ui): add product tour engine over driver.js
  ui/lib/tours/__tests__/use-driver-tour.test.tsx
  ui/lib/tours/store/local-storage-adapter.test.ts
  ui/lib/tours/store/local-storage-adapter.ts
  ui/lib/tours/store/tour-completion-store.ts
  ui/lib/tours/tour-types.ts
  ui/lib/tours/use-driver-tour.ts
  ui/lib/tours/use-tour-completion.ts
Due: none

feat(ui): add onboarding flow registry and gate decision
  ui/lib/onboarding/__tests__/gate-decision.test.ts
  ui/lib/onboarding/__tests__/registry.test.ts
  ui/lib/onboarding/gate-decision.ts
  ui/lib/onboarding/index.ts
  ui/lib/onboarding/onboarding-types.ts
  ui/lib/onboarding/registry.ts
Due: none

feat(ui): add onboarding sequence and checkpoint stores
  ui/store/__tests__/onboarding-checkpoint.test.ts
  ui/store/__tests__/onboarding-sequence.test.ts
  ui/store/onboarding-checkpoint.ts
  ui/store/onboarding-sequence.ts
Due: none

feat(ui): add product tour definitions for core flows
  ui/lib/tours/__tests__/add-provider.tour.test.ts
  ui/lib/tours/__tests__/attack-paths.tour.test.ts
  ui/lib/tours/__tests__/explore-findings.tour.test.ts
  ui/lib/tours/__tests__/view-compliance.tour.test.ts
  ui/lib/tours/__tests__/view-first-scan.tour.test.ts
  ui/lib/tours/add-provider.tour.ts
  ui/lib/tours/attack-paths.tour.ts
  ui/lib/tours/explore-findings.tour.ts
  ui/lib/tours/view-compliance.tour.ts
  ui/lib/tours/view-first-scan.tour.ts
Due: none

refactor(ui): drop attack-paths onboarding effects for hooks
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_hooks/index.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_hooks/use-attack-path-scans.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.tsx
Due: none

feat(ui): add onboarding components
  ui/components/onboarding/__tests__/onboarding-checkpoint-dialog.test.tsx
  ui/components/onboarding/__tests__/onboarding-checkpoint-watcher.test.tsx
  ui/components/onboarding/__tests__/onboarding-gate.test.tsx
  ui/components/onboarding/__tests__/onboarding-sequence-banner.logic.test.ts
  ui/components/onboarding/__tests__/onboarding-sequence-banner.test.tsx
  ui/components/onboarding/__tests__/onboarding-trigger.decision.test.ts
  ui/components/onboarding/__tests__/onboarding-trigger.test.tsx
  ui/components/onboarding/__tests__/onboarding-welcome-modal.test.tsx
  ui/components/onboarding/index.ts
  ui/components/onboarding/onboarding-checkpoint-dialog.tsx
  ui/components/onboarding/onboarding-checkpoint-watcher.tsx
  ui/components/onboarding/onboarding-gate.tsx
  ui/components/onboarding/onboarding-sequence-banner.logic.ts
  ui/components/onboarding/onboarding-sequence-banner.tsx
  ui/components/onboarding/onboarding-trigger.logic.ts
  ui/components/onboarding/onboarding-trigger.tsx
  ui/components/onboarding/onboarding-welcome-modal.tsx
Due: none

feat(ui): integrate onboarding tours into feature pages
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/scans/page.test.ts
  ui/app/(prowler)/scans/page.tsx
  ui/components/compliance/compliance-overview-grid.tsx
  ui/components/findings/findings-filters.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/providers/no-providers-added.tsx
  ui/components/providers/providers-accounts-view.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.test.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/scans/scans-page-shell.tsx
Due: none
