Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat: new findings table in Overview
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/ui/entities/date-with-time.tsx
Due: none

feat(gcp): add compute_snapshot_not_outdated check (#9774)
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/gcp/services/compute/compute_service.py
  prowler/providers/gcp/services/compute/compute_snapshot_not_outdated/__init__.py
  prowler/providers/gcp/services/compute/compute_snapshot_not_outdated/compute_snapshot_not_outdated.metadata.json
  prowler/providers/gcp/services/compute/compute_snapshot_not_outdated/compute_snapshot_not_outdated.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/gcp/services/compute/compute_snapshot_not_outdated/compute_snapshot_not_outdated_test.py
Due: prowler

chore: remove comments
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
Due: none

chore: update CTA
  ui/app/(prowler)/_overview/watchlist/_components/compliance-watchlist.tsx
Due: none

fix(ui-e2e): increase provider test timeout to 180s and remove unused os import
  ui/tests/providers/providers.spec.ts
Due: none

chore: rename zone records checks and add docstrings
  prowler/providers/cloudflare/services/dns/dns_record_cname_target_valid/dns_record_cname_target_valid.py
  prowler/providers/cloudflare/services/dns/dns_record_no_internal_ip/dns_record_no_internal_ip.py
  prowler/providers/cloudflare/services/dns/dns_record_no_wildcard/dns_record_no_wildcard.py
  prowler/providers/cloudflare/services/dns/dns_record_proxied/dns_record_proxied.py
  prowler/providers/cloudflare/services/zone/zone_firewall_blocking_rules_configured/__init__.py
  prowler/providers/cloudflare/services/zone/zone_firewall_blocking_rules_configured/zone_firewall_blocking_rules_configured.metadata.json
  prowler/providers/cloudflare/services/zone/zone_firewall_blocking_rules_configured/zone_firewall_blocking_rules_configured.py
  prowler/providers/cloudflare/services/zone/zone_waf_owasp_ruleset_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_waf_owasp_ruleset_enabled/zone_waf_owasp_ruleset_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_waf_owasp_ruleset_enabled/zone_waf_owasp_ruleset_enabled.py
  tests/providers/cloudflare/services/zone/zone_firewall_blocking_rules_configured/__init__.py
  tests/providers/cloudflare/services/zone/zone_firewall_blocking_rules_configured/zone_firewall_blocking_rules_configured_test.py
  tests/providers/cloudflare/services/zone/zone_waf_owasp_ruleset_enabled/__init__.py
  tests/providers/cloudflare/services/zone/zone_waf_owasp_ruleset_enabled/zone_waf_owasp_ruleset_enabled_test.py
Due: prowler

fix(ui-e2e): restore files from main, add sign-in.md docs, remove dotenv from playwright config
  api/.env.example
  mcp_server/.env.template
  ui/.vscode/settings.json
  ui/playwright.config.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.spec.ts
  ui/tests/scans/scans.spec.ts
  ui/tests/sign-in/sign-in.md
Due: api

docs(ui-e2e): add missing AUTH-SESSION and AUTH-TOKEN test cases to sign-in.md
  ui/tests/sign-in/sign-in.md
Due: none

fix(ui-e2e): restore helpers.ts from main
  ui/tests/helpers.ts
Due: none

fix(ui-e2e): restore CHANGELOG.md from main
  ui/CHANGELOG.md
Due: none

fix(ui-e2e): restore playwright.config.ts and package.json from main
  ui/package.json
  ui/playwright.config.ts
Due: none

fix(ui-e2e): remove dotenv deps, restore workers/reporter config, remove scans→providers dependency
  ui/package.json
  ui/playwright.config.ts
Due: none

chore: remove deprecated check
  prowler/providers/cloudflare/services/zone/zone_server_side_excludes_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_server_side_excludes_enabled/zone_server_side_excludes_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_server_side_excludes_enabled/zone_server_side_excludes_enabled.py
  tests/providers/cloudflare/services/zone/zone_server_side_excludes_enabled/zone_server_side_excludes_enabled_test.py
Due: prowler

fix(ui-e2e): restore dotenv-expand (was in main)
  ui/package.json
Due: none

chore(ui): update pnpm-lock.yaml after removing dotenv
  ui/dependency-log.json
  ui/pnpm-lock.yaml
Due: none

docs(skill): add mandatory checklist for E2E test documentation sync
  skills/prowler-test-ui/SKILL.md
Due: none

chore(entra): enhance performance for `user_registration_details` and user `mfa` evaluation (#9236)
  docs/user-guide/providers/azure/authentication.mdx
  prowler/CHANGELOG.md
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_service_test.py
  tests/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

chore(revision): resolve comments
  skills/prowler-test-ui/SKILL.md
Due: none

feat: enhance zone_challenge_passage_configured check
  prowler/providers/cloudflare/services/zone/zone_service.py
  tests/providers/cloudflare/services/zone/zone_challenge_passage_configured/zone_challenge_passage_configured_test.py
Due: prowler

feat: enhance zone_challenge_passage_configured check
  prowler/providers/cloudflare/services/zone/zone_challenge_passage_configured/zone_challenge_passage_configured.metadata.json
  prowler/providers/cloudflare/services/zone/zone_challenge_passage_configured/zone_challenge_passage_configured.py
Due: prowler

feat: enhance zone_rate_limiting_enabled
  prowler/providers/cloudflare/services/zone/zone_rate_limiting_enabled/zone_rate_limiting_enabled.py
Due: prowler

zone_development_mode_disabled
  prowler/providers/cloudflare/services/zone/zone_development_mode_disabled/zone_development_mode_disabled.py
Due: prowler

feat: fix zone_bot_fight_mode_enabled and add zone_browser_integrity_check_enabled
  prowler/providers/cloudflare/services/zone/zone_bot_fight_mode_enabled/zone_bot_fight_mode_enabled.py
  prowler/providers/cloudflare/services/zone/zone_browser_integrity_check_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_browser_integrity_check_enabled/zone_browser_integrity_check_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_browser_integrity_check_enabled/zone_browser_integrity_check_enabled.py
  prowler/providers/cloudflare/services/zone/zone_service.py
  tests/providers/cloudflare/services/zone/zone_bot_fight_mode_enabled/zone_bot_fight_mode_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_browser_integrity_check_enabled/zone_browser_integrity_check_enabled_test.py
  uv.lock
Due: prowler

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

chore: update prowler/CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler

feat(attack-paths): fixing deletion of old graph before loading dump
  .env
  api/src/backend/api/attack_paths/database.py
  api/src/backend/dump.json
  api/src/backend/dump_subraphall_data.json
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  api/src/backend/tasks/tests/test_deletion.py
  docker-compose-dev.yml
  docker-compose.yml
Due: api

fix: nested folders and add ResourceGroup
  prowler/providers/cloudflare/services/zone/zone_automatic_https_rewrites_enabled/zone_automatic_https_rewrites_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_dnssec_enabled/zone_dnssec_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_email_obfuscation_enabled/zone_email_obfuscation_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_hsts_enabled/zone_hsts_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_https_redirect_enabled/zone_https_redirect_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_min_tls_version_secure/zone_min_tls_version_secure.metadata.json
  prowler/providers/cloudflare/services/zone/zone_record_caa_exists/zone_record_caa_exists.metadata.json
  prowler/providers/cloudflare/services/zone/zone_record_dkim_exists/zone_record_dkim_exists.metadata.json
  prowler/providers/cloudflare/services/zone/zone_record_dmarc_exists/zone_record_dmarc_exists.metadata.json
  prowler/providers/cloudflare/services/zone/zone_record_spf_exists/zone_record_spf_exists.metadata.json
  prowler/providers/cloudflare/services/zone/zone_security_under_attack_disabled/zone_security_under_attack_disabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_ssl_strict/zone_ssl_strict.metadata.json
  prowler/providers/cloudflare/services/zone/zone_tls_1_3_enabled/zone_tls_1_3_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_universal_ssl_enabled/zone_universal_ssl_enabled.metadata.json
  tests/providers/cloudflare/services/zone/zone_automatic_https_rewrites_enabled/zone_automatic_https_rewrites_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_email_obfuscation_enabled/zone_email_obfuscation_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_record_caa_exists/zone_record_caa_exists_test.py
  tests/providers/cloudflare/services/zone/zone_record_dkim_exists/zone_record_dkim_exists_test.py
  tests/providers/cloudflare/services/zone/zone_record_dmarc_exists/zone_record_dmarc_exists_test.py
  tests/providers/cloudflare/services/zone/zone_record_spf_exists/zone_record_spf_exists_test.py
  tests/providers/cloudflare/services/zone/zone_security_under_attack_disabled/zone_security_under_attack_disabled_test.py
  tests/providers/cloudflare/services/zone/zone_tls_1_3_enabled/zone_tls_1_3_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_universal_ssl_enabled/zone_universal_ssl_enabled_test.py
Due: prowler

fix: add ResourceGroup to metadata
  prowler/providers/cloudflare/services/zone/zone_always_online_disabled/zone_always_online_disabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_bot_fight_mode_enabled/zone_bot_fight_mode_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_browser_integrity_check_enabled/zone_browser_integrity_check_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_challenge_passage_configured/zone_challenge_passage_configured.metadata.json
  prowler/providers/cloudflare/services/zone/zone_development_mode_disabled/zone_development_mode_disabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_hotlink_protection_enabled/zone_hotlink_protection_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_ip_geolocation_enabled/zone_ip_geolocation_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_rate_limiting_enabled/zone_rate_limiting_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_waf_enabled/zone_waf_enabled.metadata.json
Due: prowler

feat: add resource group model and fields
  api/src/backend/api/migrations/0068_finding_resource_group_scangroupsummary.py
  api/src/backend/api/migrations/0069_resource_resource_group.py
  api/src/backend/api/models.py
Due: api

feat: add resource group overview endpoint and filters
  api/src/backend/api/filters.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

feat: implement resource group aggregation in scan and backfill
  api/src/backend/tasks/jobs/backfill.py
  api/src/backend/tasks/jobs/scan.py
Due: api

test: add resource group feature tests
  api/src/backend/api/tests/test_views.py
  api/src/backend/conftest.py
  api/src/backend/tasks/tests/test_backfill.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

docs: update API spec and changelog for resource groups
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/utils.py
Due: api

style: apply ruff
  api/src/backend/api/tests/test_views.py
Due: api

feat(attack-paths): upading dependencies and fixing tests
  .env
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  docker-compose-dev.yml
  docker-compose.yml
Due: api

tests(e2e): rename from sign-in to auth
  ui/playwright.config.ts
  ui/tests/auth/auth-middleware.spec.ts
  ui/tests/auth/auth-page.ts
  ui/tests/auth/auth-session-errors.spec.ts
  ui/tests/auth/auth-token-refresh.spec.ts
  ui/tests/auth/auth.md
  ui/tests/auth/sign-in.spec.ts
  ui/tests/helpers.ts
  ui/tests/invitations/invitations.spec.ts
  ui/tests/sign-up/sign-up.spec.ts
Due: none

Remove unused scan task call
  api/src/backend/tasks/tasks.py
Due: api

tests(e2e): change package.json
  ui/package.json
Due: none

feat(attack-paths): improving model state for attack paths scans for not supported provider
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api
