Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(entra): add new check `entra_conditional_access_policy_all_apps_all_users` (#10619)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_conditional_access_policy_all_apps_all_users/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_all_apps_all_users/entra_conditional_access_policy_all_apps_all_users.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_all_apps_all_users/entra_conditional_access_policy_all_apps_all_users.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_all_apps_all_users/entra_conditional_access_policy_all_apps_all_users_test.py
Due: prowler

chore: update lock with prek dep
  poetry.lock
Due: none

chore(api): update lock with prek dep
  api/poetry.lock
  api/pyproject.toml
Due: api

chore(api): pin prek dep
  api/pyproject.toml
Due: api

build: keep existing poetry.lock files
  api/poetry.lock
  poetry.lock
Due: api

feat(intune): add device compliance policy marks noncompliant check (#10599)
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/providers/m365/services/intune/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default/__init__.py
  prowler/providers/m365/services/intune/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default.metadata.json
  prowler/providers/m365/services/intune/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default.py
  prowler/providers/m365/services/intune/intune_service.py
  tests/providers/m365/services/intune/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default_test.py
  tests/providers/m365/services/intune/intune_service_test.py
Due: prowler

fix(ui): adjust finding groups default sort to include muted counters
  ui/actions/finding-groups/finding-groups.test.ts
  ui/actions/finding-groups/finding-groups.ts
Due: none

fix(m365): mark delicensing resiliency as FAIL when eligibility is unknown
  prowler/CHANGELOG.md
  prowler/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled.py
  tests/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled_test.py
Due: prowler

chore: move delicensing resiliency changelog entry to 5.24.0
  prowler/CHANGELOG.md
Due: prowler

fix(ui): resolve merge conflict in CHANGELOG.md
  ui/CHANGELOG.md
Due: none

refactor(ui): move resource deep-link fetch from client to server
  ui/app/(prowler)/resources/page.tsx
  ui/components/resources/table/resources-table-with-selection.tsx
Due: none

test(ui): add source-level assertions for SSR resource fetch
  ui/app/(prowler)/resources/page.test.ts
Due: none

feat(m365): add exchange_organization_delicensing_resiliency_enabled security check (#10608)
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled.py
  prowler/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled_fixer.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled_fixer_test.py
  tests/providers/m365/services/exchange/exchange_organization_delicensing_resiliency_enabled/exchange_organization_delicensing_resiliency_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

build: bump poetry to 2.3.4 and consolidate SDK workflows (#10681)
  .github/actions/setup-python-poetry/action.yml
  .github/workflows/api-code-quality.yml
  .github/workflows/api-security.yml
  .github/workflows/api-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sdk-code-quality.yml
  .github/workflows/sdk-container-build-push.yml
  .github/workflows/sdk-pypi-release.yml
  .github/workflows/sdk-security.yml
  .github/workflows/sdk-tests.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  AGENTS.md
  Dockerfile
  api/CHANGELOG.md
  api/Dockerfile
  prowler/AGENTS.md
  prowler/CHANGELOG.md
  pyproject.toml
Due: prowler, api

fix(m365): remove Maester test reference from metadata notes
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mfa_enforced_for_guest_users/entra_conditional_access_policy_mfa_enforced_for_guest_users.metadata.json
Due: prowler

fix(m365): remove guest MFA check from prowler threatscore compliance
  prowler/compliance/m365/prowler_threatscore_m365.json
Due: prowler

fix(m365): remove guest MFA check from CIS 4.0 compliance
  prowler/compliance/m365/cis_4.0_m365.json
Due: prowler

fix(m365): remove guest MFA check from CIS 6.0 compliance
  prowler/compliance/m365/cis_6.0_m365.json
Due: prowler

fix(m365): remove unnecessary __init__.py from test directory
  tests/providers/m365/services/entra/entra_conditional_access_policy_mfa_enforced_for_guest_users/__init__.py
Due: none

chore(api): put locks like in master
  api/poetry.lock
  poetry.lock
Due: api

feat(m365): add entra_conditional_access_policy_mfa_enforced_for_guest_users security check (#10616)
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mfa_enforced_for_guest_users/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mfa_enforced_for_guest_users/entra_conditional_access_policy_mfa_enforced_for_guest_users.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mfa_enforced_for_guest_users/entra_conditional_access_policy_mfa_enforced_for_guest_users.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_mfa_enforced_for_guest_users/entra_conditional_access_policy_mfa_enforced_for_guest_users_test.py
Due: prowler

chore: typo in previous version
  api/CHANGELOG.md
Due: api

chore(revison): resolve comments
  skills/prowler-compliance/assets/parsers/finos_ccc.py
  skills/prowler-compliance/assets/sync_framework.py
Due: none

chore: add updated poetry lock
  api/poetry.lock
  poetry.lock
Due: api

chore: update prek version
  poetry.lock
  pyproject.toml
Due: none

refactor(entra): rename check to corporate_device_sign_in_frequency_enforced, inline helpers, remove tests __init__
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced_test.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_sign_in_frequency_enforced/__init__.py
Due: prowler

chore(security): bump pytest to 9.0.3 (#10678)
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
Due: api

style(m365): apply black formatting
  prowler/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced_test.py
Due: prowler

docs(m365): remove Maester reference from directory sync account check notes
  prowler/providers/m365/services/entra/entra_conditional_access_policy_directory_sync_account_excluded/entra_conditional_access_policy_directory_sync_account_excluded.metadata.json
Due: prowler

feat(m365): add entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced security check (#10618)
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced/entra_conditional_access_policy_corporate_device_sign_in_frequency_enforced_test.py
Due: prowler

Update CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler

chore(ui): bump serialize-javascript override from 7.0.3 to 7.0.5 (#10653)
  ui/CHANGELOG.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

feat(entra): directory sync account exclusion (#10620)
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_directory_sync_account_excluded/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_directory_sync_account_excluded/entra_conditional_access_policy_directory_sync_account_excluded.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_directory_sync_account_excluded/entra_conditional_access_policy_directory_sync_account_excluded.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_directory_sync_account_excluded/entra_conditional_access_policy_directory_sync_account_excluded_test.py
Due: prowler

refactor(entra): inline candidate-policy logic in block_unknown_device_platforms
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms.py
Due: prowler

test(entra): remove unused __init__.py from block_unknown_device_platforms tests
  tests/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/__init__.py
Due: none

feat(m365): add entra_conditional_access_policy_block_unknown_device_platforms security check (#10615)
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms_test.py
Due: prowler

Delete tests/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/__init__.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/__init__.py
Due: none

Update metadata for conditional access policy
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms.metadata.json
Due: prowler

Update entra_conditional_access_policy_block_unknown_device_platforms.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms.metadata.json
Due: prowler

style(entra): remove single quotes around policy display names in status_extended
  prowler/providers/m365/services/entra/entra_conditional_access_policy_approved_client_app_required_for_mobile/entra_conditional_access_policy_approved_client_app_required_for_mobile.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_approved_client_app_required_for_mobile/entra_conditional_access_policy_approved_client_app_required_for_mobile_test.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_block_unknown_device_platforms/entra_conditional_access_policy_block_unknown_device_platforms_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
