Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

Added credential files to arguments
  prowler/providers/opennebula/lib/arguments/arguments.py
Due: prowler

fix: force z-index componet select provider
  ui/components/filters/custom-select-provider.tsx
Due: none

feat(regions_update): Update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

inicio de sesión correcto
  poetry.lock
  prowler/__main__.py
  prowler/config/config.yaml
  prowler/providers/common/provider.py
  prowler/providers/ionos/ionos_provider.py
  prowler/providers/ionos/lib/arguments/arguments.py
  prowler/providers/ionos/lib/mutelist/mutelist.py
  pyproject.toml
Due: prowler

algunos cambios, añadido set_identity
  prowler/__main__.py
  prowler/checks/providers/ionos/compute/__init__.py
  prowler/checks/providers/ionos/compute/server_with_description.metadata.json
  prowler/lib/check/utils.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/ionos/ionos_provider.py
  prowler/providers/ionos/models.py
  prowler/providers/ionos/services/compute/__init__.py
  prowler/providers/ionos/services/compute/compute_client.py
  prowler/providers/ionos/services/compute/server_with_description/__init__.py
  prowler/providers/ionos/services/compute/server_with_description/server_with_description.metadata.json
  prowler/providers/ionos/services/compute/server_with_description/server_with_description.py
Due: prowler

Add Credentials Exception
  prowler/providers/opennebula/exceptions/exceptions.py
  prowler/providers/opennebula/lib/arguments/arguments.py
  prowler/providers/opennebula/opennebula_provider.py
Due: prowler

feat(nhn): enhance NhnProvider initialization with environment variable support
  prowler/providers/nhn/nhn_provider.py
  tests/providers/nhn/lib/mutelist/nhn_mutelist_test.py
  tests/providers/nhn/nhn_provider_test.py
Due: prowler

test(nhn): clear environment variables in NhnProvider tests
  tests/providers/nhn/nhn_provider_test.py
Due: none

fix(bedrock): update Bedrock Agent regions list according to docs
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

chore(regions_update): Changes in regions for AWS services (#7334)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

chore: upgrade Next.js to 14.2.25 to fix auth middleware vulnerability
  ui/package-lock.json
  ui/package.json
Due: none

chore: upgrade Next.js to 14.2.25 to fix auth middleware vulnerability (#7339)
  ui/package-lock.json
  ui/package.json
Due: none

docs: update changelog with Next.js security patch (#7339)
  ui/CHANGELOG.md
Due: none

chore: upgrade Next.js to 14.2.25 to fix auth middleware vulnerability (#7340)
  ui/package-lock.json
  ui/package.json
Due: none

chore: change config.yaml
  prowler/config/config.yaml
Due: prowler

docs: update changelog with Next.js security patch (#7339) (#7341)
  ui/CHANGELOG.md
Due: none

fix(route53): solve false positive in `route53_public_hosted_zones_cloudwatch_logging_enabled` (#7291)
  prowler/providers/aws/services/route53/route53_service.py
  tests/providers/aws/services/route53/route53_public_hosted_zones_cloudwatch_logging_enabled/route53_public_hosted_zones_cloudwatch_logging_enabled_test.py
Due: prowler

feat(compliance): Add endpoint to retrieve compliance overviews metadata (#7333)
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  ui/actions/compliances/compliances.ts
  ui/app/(prowler)/compliance/page.tsx
Due: api

chore(awslambda): update obsolete lambda runtimes (#7330)
  prowler/config/config.yaml
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.py
Due: prowler

ref(providers): refactor provider deletion functions
  api/src/backend/api/db_utils.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
Due: api

fix(tests): update deletion unit tests
  api/src/backend/api/tests/test_db_utils.py
  api/src/backend/tasks/tests/test_deletion.py
Due: api

feat: add check for dormant SA keys
  prowler/compliance/gcp/mitre_attack_gcp.json
  prowler/providers/gcp/services/iam/iam_sa_dormant_user_managed_keys/__init__.py
  prowler/providers/gcp/services/iam/iam_sa_dormant_user_managed_keys/iam_sa_dormant_user_managed_keys.metadata.json
  prowler/providers/gcp/services/iam/iam_sa_dormant_user_managed_keys/iam_sa_dormant_user_managed_keys.py
  prowler/providers/gcp/services/monitoring/monitoring_service.py
  tests/providers/gcp/services/iam/iam_sa_dormant_user_managed_keys/iam_sa_dormant_user_managed_keys_test.py
Due: prowler

chore(next): Remove `x-powered-by` header
  ui/next.config.js
Due: none

chore(next): Remove `x-powered-by` header (#7346)
  ui/next.config.js
Due: none

docs: update main README
  README.md
Due: none

chore(next): Remove `x-powered-by` header (#7347)
  ui/next.config.js
Due: none

Revert "feat: add check alias"
  prowler/providers/microsoft365/services/entra/entra_capolicy_administrative_roles_have_mfa_enabled/entra_capolicy_administrative_roles_have_mfa_enabled.metadata.json
Due: prowler

Revert "refactor: rename entra_ca_policy_admin_mfa_enabled_for_administrative_roles"
  prowler/providers/microsoft365/services/entra/entra_ca_policy_admin_mfa_enabled_for_administrative_roles/__init__.py
  prowler/providers/microsoft365/services/entra/entra_ca_policy_admin_mfa_enabled_for_administrative_roles/entra_ca_policy_admin_mfa_enabled_for_administrative_roles.metadata.json
  prowler/providers/microsoft365/services/entra/entra_ca_policy_admin_mfa_enabled_for_administrative_roles/entra_ca_policy_admin_mfa_enabled_for_administrative_roles.py
  tests/providers/microsoft365/services/entra/entra_ca_policy_admin_mfa_enabled_for_administrative_roles/entra_ca_policy_admin_mfa_enabled_for_administrative_roles_test.py
Due: prowler

chore(entra): rename check
  prowler/providers/microsoft365/services/entra/entra_policy_restricts_user_consent_for_apps/__init__.py
  prowler/providers/microsoft365/services/entra/entra_policy_restricts_user_consent_for_apps/entra_policy_restricts_user_consent_for_apps.metadata.json
  prowler/providers/microsoft365/services/entra/entra_policy_restricts_user_consent_for_apps/entra_policy_restricts_user_consent_for_apps.py
  tests/providers/microsoft365/services/entra/entra_policy_restricts_user_consent_for_apps/microsoft365_entra_policy_restricts_user_consent_for_apps_test.py
Due: prowler

feat(tasks): add retry mechanism for deletion tasks
  api/src/backend/config/celery.py
  api/src/backend/tasks/tasks.py
Due: api

feat: rename check
  prowler/providers/microsoft365/services/entra/entra_administrative_roles_have_mfa_enabled/__init__.py
  prowler/providers/microsoft365/services/entra/entra_administrative_roles_have_mfa_enabled/entra_administrative_roles_have_mfa_enabled.metadata.json
  prowler/providers/microsoft365/services/entra/entra_administrative_roles_have_mfa_enabled/entra_administrative_roles_have_mfa_enabled.py
  tests/providers/microsoft365/services/entra/entra_administrative_roles_have_mfa_enabled/entra_administrative_roles_have_mfa_enabled_test.py
Due: prowler

Revert "refactor: rename check"
  prowler/providers/microsoft365/services/entra/entra_ca_policy_managed_device_required_for_mfa_registration/__init__.py
  prowler/providers/microsoft365/services/entra/entra_ca_policy_managed_device_required_for_mfa_registration/entra_ca_policy_managed_device_required_for_mfa_registration.metadata.json
  prowler/providers/microsoft365/services/entra/entra_ca_policy_managed_device_required_for_mfa_registration/entra_ca_policy_managed_device_required_for_mfa_registration.py
  tests/providers/microsoft365/services/entra/entra_ca_policy_managed_device_required_for_mfa_registration/entra_ca_policy_managed_device_required_for_mfa_registration_test.py
Due: prowler
