Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

docs: add pre-commit hooks setup for TruffleHog and Safety
  README.md
Due: none

fix(ui): exclude provider/account keys from Clear all in pills strip
  ui/components/findings/findings-filters.tsx
Due: none

set home region to first in set
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

docs: simplify TruffleHog section to link official install guide
  README.md
Due: none

refactor(api): consolidate Cypher validation and rewriting into cypher_sanitizer module
  api/src/backend/api/attack_paths/cypher_sanitizer.py
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/tests/test_cypher_sanitizer.py
  skills/prowler-attack-paths-query/SKILL.md
Due: api

docs(api): clarify Max() usage for muted_reason in resource mapping
  api/src/backend/api/v1/views.py
Due: api

fix(oci): false positive for kms key rotation check
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled.metadata.json
  prowler/providers/oraclecloud/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled.py
  prowler/providers/oraclecloud/services/kms/kms_service.py
  tests/providers/oraclecloud/services/kms/kms_key_rotation_enabled/oraclecloud_kms_key_rotation_enabled_test.py
Due: prowler

fix(api): support finding-group aggregated filters (#10428)
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

chore(*): prettier
  ui/components/filters/apply-filters-button.tsx
Due: none

fix(api): populate compliance data in check_metadata for findings
  api/src/backend/tasks/jobs/scan.py
Due: api

test(api): verify compliance data is included in check_metadata
  api/src/backend/tasks/tests/test_scan.py
Due: api

docs(api): add changelog entry for compliance in check_metadata fix
  api/CHANGELOG.md
Due: api

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

style(ui): fix prettier formatting in resource drawer content
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
Due: none

fix(api): populate compliance data in check_metadata for findings (#10449)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

ensure home region is same
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

fix python ternary
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

chore: fix UI bump version
  .github/workflows/ui-bump-version.yml
Due: none

chore: fix UI bump version (#10451)
  .github/workflows/ui-bump-version.yml
Due: none

fix(api): filter neo4j.io defunct connection logs in Sentry before_send
  api/src/backend/api/tests/test_sentry.py
  api/src/backend/config/settings/sentry.py
Due: api

fix(api): filter neo4j.io defunct connection logs in Sentry before_send - Add api/CHANGELOG.md entry
  api/CHANGELOG.md
Due: api

fix(api): use getMessage() instead of .msg for Sentry log filtering
  api/src/backend/api/tests/test_sentry.py
  api/src/backend/config/settings/sentry.py
Due: api

fix: get resourceArns
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Due: prowler

tidy up
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

fix(oci): false positive for password policies
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/identity/identity_password_policy_expires_within_365_days/identity_password_policy_expires_within_365_days.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_password_policy_minimum_length_14/identity_password_policy_minimum_length_14.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_password_policy_prevents_reuse/identity_password_policy_prevents_reuse.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_service.py
  tests/providers/oraclecloud/services/identity/identity_password_policy_expires_within_365_days/identity_password_policy_expires_within_365_days_test.py
  tests/providers/oraclecloud/services/identity/identity_password_policy_minimum_length_14/identity_password_policy_minimum_length_14_test.py
  tests/providers/oraclecloud/services/identity/identity_password_policy_prevents_reuse/identity_password_policy_prevents_reuse_test.py
Due: prowler

clean up code
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

str not set
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

remove blank space
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

run formatter
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/lib/service/service.py
  prowler/providers/oraclecloud/oraclecloud_provider.py
  prowler/providers/oraclecloud/services/blockstorage/blockstorage_service.py
  prowler/providers/oraclecloud/services/compute/compute_service.py
Due: prowler

fix(image): pass registry arguments through init_global_provider
  prowler/providers/common/provider.py
  tests/providers/image/image_provider_test.py
Due: prowler

fix(image): pass registry arguments through init_global_provider
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  tests/providers/image/image_provider_test.py
Due: prowler

fix(cloudfront): improve check status extended and metadata
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_logging_enabled/cloudfront_distributions_logging_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_logging_enabled/cloudfront_distributions_logging_enabled.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_logging_enabled/cloudfront_distributions_logging_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Due: prowler

fix(aws): set right region for global services
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/service/service.py
  tests/providers/aws/lib/service/service_test.py
Due: prowler

chore(changelog): add PR #
  prowler/CHANGELOG.md
Due: prowler

chore(gha): ignore zizmor rules and fix version comment
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .github/workflows/ui-tests.yml
  .github/zizmor.yml
Due: none

chore(gha): ignore zizmor rules and fix version comment (#10459)
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .github/workflows/ui-tests.yml
  .github/zizmor.yml
Due: none

fix: resolve 403 error for admin users listing tenants
  api/src/backend/api/rbac/permissions.py
Due: api

chore: update org members
  .github/workflows/labeler.yml
Due: none
