Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(exchange): add new check `exchange_organization_modern_authentication_enabled` (#7636)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/exchange_organization_modern_authentication_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/exchange_organization_modern_authentication_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled_test.py
  tests/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/exchange_organization_modern_authentication_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

feat(filters): dimension approach
  api/src/backend/api/management/commands/findings.py
  api/src/backend/api/migrations/0018_filter_value.py
  api/src/backend/api/models.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
Due: api

feat: replace router usage with custom hook for URL filter management in date picker, search input, filter controls, dropdown filter, and data table filter components
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/custom-search-input.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/hooks/use-url-filters.ts
Due: none

Update cis_2.0_azure.json
  prowler/compliance/azure/cis_2.0_azure.json
Due: prowler

Delete tests/providers/azure/services/app/app_ensure_ftps_only directory
  tests/providers/azure/services/app/app_ensure_ftps_only/app_ensure_ftps_only.py
Due: none

chore(sentry): attach stacktrace to logging events (#7598)
  api/README.md
  api/src/backend/config/settings/sentry.py
  docs/index.md
Due: api

feat: add ThreatScore compliance models
  api/src/backend/tasks/jobs/export.py
Due: api

feat(regions_update): Update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

srn Implemented for manage groups
  ui/actions/manage-groups/manage-groups.ts
  ui/app/(prowler)/manage-groups/page.tsx
  ui/types/components.ts
Due: none

fix: update django to 5.1.8 to fix a vulnerability
  api/poetry.lock
  api/pyproject.toml
Due: api

fix: error about page number persistence when filters change (#7655)
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/custom-search-input.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/hooks/use-url-filters.ts
Due: none

chore: update changelog
  api/CHANGELOG.md
Due: api

ref: merge generate folder functions
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tasks.py
Due: api

fix: ResourceType
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured.metadata.json
Due: prowler

feat: add defender_antispam_outbound_policy_configured check
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

feat: add exchange_transport_rules_mail_forwarding_disabled check
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled_test.py
Due: prowler

feat(s3): remove validate_arguments
  prowler/providers/aws/lib/s3/s3.py
Due: prowler

feat: implement tooltip for delta status in findings and add id and uid to fields
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/data-table-row-details.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/ui/code-snippet/code-snippet.tsx
Due: none

fix: Test_defender_antispam_outbound_policy_configured tests
  tests/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured_test.py
Due: none

feat(changelog): update fixes
  prowler/CHANGELOG.md
Due: prowler

chore: Update api/CHANGELOG.md
  api/CHANGELOG.md
Due: api

srn Prettier fixes
  ui/app/(prowler)/manage-groups/page.tsx
  ui/types/components.ts
Due: none

feat(ui): Page size for datatables (#7634)
  ui/actions/invitations/invitation.ts
  ui/actions/manage-groups/manage-groups.ts
  ui/actions/providers/providers.ts
  ui/actions/roles/roles.ts
  ui/actions/scans/scans.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/invitations/page.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/roles/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/app/(prowler)/users/page.tsx
  ui/components/ui/table/data-table-pagination.tsx
  ui/components/ui/table/data-table.tsx
  ui/lib/helper.ts
  ui/types/components.ts
Due: none

feat: refactor delta tooltip implementation
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/delta-tooltip.tsx
  ui/components/findings/table/finding-detail.tsx
Due: none

fix(azure): CIS v2.0 4.4.1 Uses Wrong Check (#7656)
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_2.0_azure.json
Due: prowler

chore(regions_update): Changes in regions for AWS services (#7657)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(s3): add ContentType in upload_file (#7643)
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/s3_test.py
Due: prowler

Update CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler

fix(azure): CIS v2.0 4.4.1 Uses Wrong Check (#7660)
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_2.0_azure.json
Due: prowler

feat(dashboard): support m365 provider (#7633)
  dashboard/assets/images/providers/m365_provider.png
  dashboard/assets/styles/dist/output.css
  dashboard/compliance/cis_4_0_m365.py
  dashboard/lib/layouts.py
  dashboard/pages/compliance.py
  dashboard/pages/overview.py
  docs/img/dashboard.png
  prowler/CHANGELOG.md
Due: prowler

chore(changelog): update with latest PR (#7628)
  prowler/CHANGELOG.md
Due: prowler

docs(m365): add documentation for `m365` (#7622)
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/add-app-api-permission.png
  docs/tutorials/microsoft365/img/add-delegated-api-permission.png
  docs/tutorials/microsoft365/img/api-permissions-page.png
  docs/tutorials/microsoft365/img/app-overview.png
  docs/tutorials/microsoft365/img/app-registration-menu.png
  docs/tutorials/microsoft365/img/certificates-and-secrets.png
  docs/tutorials/microsoft365/img/custom-domain-names.png
  docs/tutorials/microsoft365/img/directory-permission-delegated.png
  docs/tutorials/microsoft365/img/directory-permission.png
  docs/tutorials/microsoft365/img/global-reader.png
  docs/tutorials/microsoft365/img/grant-admin-consent-delegated.png
  docs/tutorials/microsoft365/img/grant-admin-consent-for-role.png
  docs/tutorials/microsoft365/img/grant-admin-consent.png
  docs/tutorials/microsoft365/img/microsoft-entra-id.png
  docs/tutorials/microsoft365/img/new-client-secret.png
  docs/tutorials/microsoft365/img/new-registration.png
  docs/tutorials/microsoft365/img/search-default-domain.png
  docs/tutorials/microsoft365/img/search-domain-names.png
  docs/tutorials/microsoft365/img/user-domains.png
  docs/tutorials/microsoft365/img/user-info-page.png
  docs/tutorials/microsoft365/img/user-role-page.png
  docs/tutorials/microsoft365/use-of-powershell.md
  docs/tutorials/prowler-app.md
  mkdocs.yml
  prowler/CHANGELOG.md
Due: prowler

feat(defender): add new check for comprehensive attachment filter applied
  prowler/config/config.yaml
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/__init__.py
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied.metadata.json
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/config/fixtures/config.yaml
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied_test.py
  tests/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

fix(scan-resource-summaries): fix models and view
  api/src/backend/api/management/commands/findings.py
  api/src/backend/api/migrations/0018_filter_value.py
  api/src/backend/api/migrations/0018_resource_scan_summaries.py
  api/src/backend/api/models.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
Due: api

fix: typo
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_rules_whitelist_disabled/exchange_transport_rules_whitelist_disabled.metadata.json
Due: prowler

feat(m365): ensure all forms of mail forwarding are blocked or disabled (#7658)
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled.py
  prowler/providers/m365/services/defender/defender_service.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled.py
  tests/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled_test.py
Due: prowler

test: add generate_outputs unittests
  api/src/backend/tasks/tests/test_tasks.py
Due: api

test: modify unittests to check file_extension change
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
Due: none

ref: send to sentry
  api/src/backend/api/v1/views.py
Due: api

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
