Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(api): add custom check available method under model
  api/src/backend/api/exceptions.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

chore(openstack): refactor services and metadata files
  prowler/providers/openstack/services/compute/compute_instance_security_groups_attached/compute_instance_security_groups_attached.metadata.json
  prowler/providers/openstack/services/compute/compute_service.py
  prowler/providers/openstack/services/keystone/keystone_projects_enabled/keystone_projects_enabled.metadata.json
  prowler/providers/openstack/services/keystone/keystone_service.py
Due: prowler

docs: new support page
  docs/contact.mdx
  docs/docs.json
  docs/support.mdx
Due: none

chore: add redirect contact -> support
  docs/docs.json
  docs/support.mdx
Due: none

chore: add youtube for recordings
  docs/support.mdx
Due: none

chore(api): revert changes on api poetry lock
  api/poetry.lock
Due: api

chore(openstack): modify mutelist file
  prowler/providers/openstack/lib/mutelist/mutelist.py
Due: prowler

docs(support): add more details for Lighthouse AI
  docs/support.mdx
Due: none

chore: lint AWS IAM simulator
  contrib/aws/simulate_policy/simulate_policy_client.py
  contrib/aws/simulate_policy/simulate_policy_service.py
Due: none

chore(changelog): run check for root dependency files (#9823)
  .github/workflows/pr-check-changelog.yml
Due: none

chore: lint AWS IAM simulator (#9825)
  contrib/aws/simulate_policy/simulate_policy_client.py
  contrib/aws/simulate_policy/simulate_policy_service.py
Due: none

feat(ui)!: upgrade to Next.js 16.1.3
  ui/dependency-log.json
  ui/next.config.js
  ui/package.json
  ui/pnpm-lock.yaml
  ui/tsconfig.json
Due: none

refactor(ui): migrate ESLint to flat config v9
  ui/.eslintignore
  ui/.eslintrc.cjs
  ui/eslint.config.mjs
Due: none

fix(ui): update revalidateTag to Next.js 16 signature
  ui/actions/api-keys/api-keys.ts
Due: none

chore(ui): remove unnecessary eslint-disable comments
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.ts
  ui/components/graphs/threat-map.tsx
  ui/components/invitations/workflow/vertical-steps.tsx
  ui/components/lighthouse/ai-elements/input-group.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/vertical-steps.tsx
  ui/components/roles/workflow/vertical-steps.tsx
  ui/components/scans/table/scans/data-table-row-details.tsx
  ui/components/ui/chart/Chart.tsx
  ui/hooks/use-local-storage.ts
  ui/lib/helper.ts
  ui/lib/iac-utils.ts
Due: none

fix(ui): resolve all ESLint errors
  ui/actions/auth/auth.ts
  ui/actions/integrations/integrations.ts
  ui/actions/integrations/saml.ts
  ui/actions/overview/compliance-watchlist/compliance-watchlist.types.ts
  ui/app/(prowler)/attack-paths/(workflow)/_components/vertical-steps.tsx
  ui/app/(prowler)/lighthouse/config/(connect-llm)/connect/page.tsx
  ui/components/graphs/map-chart.tsx
  ui/components/integrations/jira/jira-integration-form.tsx
  ui/components/integrations/jira/jira-integrations-manager.tsx
  ui/components/integrations/s3/s3-integrations-manager.tsx
  ui/components/integrations/security-hub/security-hub-integrations-manager.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/lighthouse/ai-elements/prompt-input.tsx
  ui/components/lighthouse/banner.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/shadcn/info-field/info-field.tsx
  ui/components/ui/toast/use-toast.ts
  ui/eslint.config.mjs
  ui/instrumentation-client.ts
  ui/lib/helper.ts
  ui/lib/integrations/test-connection-helper.ts
  ui/lib/server-actions-helper.ts
  ui/lib/yaml.ts
  ui/types/attack-paths.ts
Due: none

fix(api): handle Neo4j unavailability during app initialization
  api/src/backend/api/apps.py
  api/src/backend/api/management/__init__.py
  api/src/backend/api/management/commands/__init__.py
Due: api

refactor(ui): migrate middleware.ts to proxy.ts
  ui/proxy.ts
Due: none

chore: CHANGELOG.md updated
  ui/CHANGELOG.md
Due: none

docs: new support page (#9824)
  docs/contact.mdx
  docs/docs.json
  docs/support.mdx
Due: none

feat(helm): update Prowler app Helm chart with new dependencies and configuration options
  contrib/k8s/helm/prowler-app/.helmignore
  contrib/k8s/helm/prowler-app/Chart.lock
  contrib/k8s/helm/prowler-app/Chart.yaml
  contrib/k8s/helm/prowler-app/README.md
  contrib/k8s/helm/prowler-app/charts/postgresql-18.2.0.tgz
  contrib/k8s/helm/prowler-app/charts/valkey-0.9.3.tgz
  contrib/k8s/helm/prowler-app/examples/minimal-installation/README.md
  contrib/k8s/helm/prowler-app/examples/minimal-installation/secrets.yaml
  contrib/k8s/helm/prowler-app/examples/minimal-installation/values.yaml
  contrib/k8s/helm/prowler-app/templates/_helpers.tpl
  contrib/k8s/helm/prowler-app/templates/api/deployment.yaml
  contrib/k8s/helm/prowler-app/templates/api/secret-django.yaml
  contrib/k8s/helm/prowler-app/templates/api/secret-postgres.yaml
  contrib/k8s/helm/prowler-app/templates/api/secret-valkey.yaml
  contrib/k8s/helm/prowler-app/templates/ui/_helpers.tpl
  contrib/k8s/helm/prowler-app/templates/ui/configmap.yaml
  contrib/k8s/helm/prowler-app/templates/ui/deployment.yaml
  contrib/k8s/helm/prowler-app/templates/worker/deployment.yaml
  contrib/k8s/helm/prowler-app/templates/worker/scaled-object.yaml
  contrib/k8s/helm/prowler-app/templates/worker_beat/deployment.yaml
  contrib/k8s/helm/prowler-app/values.schema.json
  contrib/k8s/helm/prowler-app/values.yaml
Due: none

fix(api): add defaults for Neo4j env vars in production settings
  api/src/backend/config/django/production.py
Due: api

feat(helm): add authUrl configuration to Prowler app Helm chart
  contrib/k8s/helm/prowler-app/templates/ui/configmap.yaml
  contrib/k8s/helm/prowler-app/values.schema.json
  contrib/k8s/helm/prowler-app/values.yaml
Due: none

refactor(ui): replace rss-parser with @extractus/feed-extractor
  ui/actions/feeds/feeds.ts
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

Update readme
  contrib/k8s/helm/prowler-app/README.md
  contrib/k8s/helm/prowler-app/examples/minimal-installation/README.md
  contrib/k8s/helm/prowler-app/examples/minimal-installation/values.yaml
Due: none

feat(m365): add exchange_shared_mailbox_sign_in_disabled check
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_shared_mailbox_sign_in_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_shared_mailbox_sign_in_disabled/exchange_shared_mailbox_sign_in_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_shared_mailbox_sign_in_disabled/exchange_shared_mailbox_sign_in_disabled.py
Due: prowler

docs(changelog): add exchange_shared_mailbox_sign_in_disabled entry
  prowler/CHANGELOG.md
Due: prowler

chore(azure): enhance metadata for `aisearch` service (#9087)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/aisearch/aisearch_service_not_publicly_accessible/aisearch_service_not_publicly_accessible.metadata.json
Due: prowler

fix(scans): fix scheduled scans duplicates
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/utils.py
Due: api

test(scans): add new unit tests
  api/src/backend/tasks/tests/test_tasks.py
Due: api

fix(m365): address PR review feedback for shared mailbox check
  prowler/providers/m365/services/exchange/exchange_shared_mailbox_sign_in_disabled/exchange_shared_mailbox_sign_in_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_shared_mailbox_sign_in_disabled/exchange_shared_mailbox_sign_in_disabled.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_shared_mailbox_sign_in_disabled/exchange_shared_mailbox_sign_in_disabled_test.py
Due: prowler

chore: update API changelog
  api/CHANGELOG.md
Due: api

chore: update metadata
  prowler/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled.metadata.json
  prowler/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes.metadata.json
  prowler/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled.metadata.json
  prowler/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled.metadata.json
Due: prowler

chore: enhance github documentation
  docs/introduction.mdx
  docs/user-guide/providers/github/authentication.mdx
  docs/user-guide/providers/github/getting-started-github.mdx
Due: none

chore: replace ui placeholder
  ui/components/providers/workflow/forms/connect-account-form.tsx
Due: none

chore(azure): enhance metadata for `aks` service (#9611)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled.metadata.json
  prowler/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes.metadata.json
  prowler/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled.metadata.json
  prowler/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled.metadata.json
Due: prowler

chore: update metadata
  prowler/providers/azure/services/apim/apim_threat_detection_llm_jacking/apim_threat_detection_llm_jacking.metadata.json
Due: prowler

chore(azure): enhance metadata for `apim` service (#9612)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/apim/apim_threat_detection_llm_jacking/apim_threat_detection_llm_jacking.metadata.json
Due: prowler

fix: false on repository_branch_delete_on_merge_enabled
  prowler/providers/github/services/repository/repository_branch_delete_on_merge_enabled/repository_branch_delete_on_merge_enabled.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_branch_delete_on_merge_enabled/repository_branch_delete_on_merge_enabled_test.py
Due: prowler

refactor(gcp): refocus suspended VM persistent disks check on security risks
  prowler/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/compute_instance_suspended_without_persistent_disks.metadata.json
Due: prowler
