Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(release): Bump version to v5.8.0 (#7788)
  prowler/config/config.py
  pyproject.toml
Due: prowler

chore(release): Bump version to v5.7.1 (#7789)
  prowler/config/config.py
  pyproject.toml
Due: prowler

feat(prowler-threatscore): add Weight field inside req
  prowler/compliance/aws/prowler_threatscore_aws.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/compliance/gcp/prowler_threatscore_gcp.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/prowler_threatscore/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365.py
  prowler_threatscore_aws
  prowler_threatscore_azure
  prowler_threatscore_gcp
  prowler_threatscore_m365
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365_test.py
Due: prowler

feat(changelog): update with latests changes
  prowler/CHANGELOG.md
Due: prowler

feat(prowler-threatscore): make changes in table
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
Due: prowler

feat(prowler-threatscore): fix flake8
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
Due: prowler

srn Download fixes
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-download-details.tsx
  ui/components/ui/download-icon-button/download-icon-button.tsx
  ui/styles/globals.css
  ui/tailwind.config.js
Due: none

docs: changelog updated
  ui/CHANGELOG.md
Due: none

chore: tweak some wording for consistency (#7794)
  ui/components/findings/table/finding-detail.tsx
  ui/components/providers/table/column-providers.tsx
Due: none

fix: retrieve more than 10 providers (#7793)
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/scans/page.tsx
Due: none

chore(backport): create label on minor release (#7791)
  .github/workflows/create-backport-label.yml
Due: none

feat(admincenter): add new check `admincenter_organization_customer_lockbox_enabled` (#7732)
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/__init__.py
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled.metadata.json
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  tests/providers/m365/services/admincenter/admincenter_groups_not_public_visibility/admincenter_groups_not_public_visibility_test.py
  tests/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
  tests/providers/m365/services/admincenter/admincenter_settings_password_never_expire/admincenter_settings_password_never_expire_test.py
  tests/providers/m365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint_test.py
  tests/providers/m365/services/admincenter/admincenter_users_between_two_and_four_global_admins/admincenter_users_between_two_and_four_global_admins_test.py
Due: prowler

fix(m365powershell): add `sanitize` to `test_credentials` (#7761)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

fix(m365powershell): add `sanitize` to `test_credentials` (#7797)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

feat(admincenter): add new check `admincenter_external_calendar_sharing_disabled` (#7733)
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/__init__.py
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled.metadata.json
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  tests/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
Due: prowler

refactor: types and copies
  ui/components/users/profile/memberships-card.tsx
  ui/components/users/profile/user-basic-info-card.tsx
  ui/lib/permissions.ts
  ui/types/users/users.ts
Due: none

feat(dashboard): apply scoring changes to prowler threatscore dashboard
  dashboard/pages/compliance.py
Due: none

feat(threatscore): make changes in table from CLI
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
Due: prowler

docs: Updated change log
  ui/CHANGELOG.md
Due: none

chore: resolve comments
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable.metadata.json
Due: prowler

feat(fixers): add first version of M365 fixers
  prowler/providers/m365/lib/fix/fixer.py
  prowler/providers/m365/models.py
  prowler/providers/m365/services/purview/purview_audit_log_search_enabled/purview_audit_log_search_enabled_fixer.py
  prowler/providers/m365/services/purview/purview_service.py
Due: prowler

chore(regions_update): Changes in regions for AWS services (#7774)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

feat(entra): add new check `entra_users_mfa_capable` (#7734)
  docs/getting-started/requirements.md
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/entra/entra_users_mfa_capable/__init__.py
  prowler/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable.metadata.json
  prowler/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable.py
  tests/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

feat: profile page (#7780)
  ui/CHANGELOG.md
  ui/actions/roles/roles.ts
  ui/actions/users/tenants.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/profile/page.tsx
  ui/components/findings/table/delta-indicator.tsx
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/components/users/profile/index.ts
  ui/components/users/profile/membership-item.tsx
  ui/components/users/profile/memberships-card.tsx
  ui/components/users/profile/role-item.tsx
  ui/components/users/profile/roles-card.tsx
  ui/components/users/profile/skeleton-user-info.tsx
  ui/components/users/profile/user-basic-info-card.tsx
  ui/components/users/profile/user-info.tsx
  ui/lib/permissions.ts
  ui/types/users/users.ts
Due: none

feat(kubernetes): support `HTTPS_PROXY` and `K8S_SKIP_TLS_VERIFY` (#7720)
  docs/tutorials/kubernetes/misc.md
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Due: prowler

chore: add changelog
  prowler/CHANGELOG.md
Due: prowler

fix(dashboard): remove typo from subscribe cards (#7792)
  dashboard/__main__.py
  dashboard/lib/layouts.py
  dashboard/pages/overview.py
Due: none

feat(kubernetes): add CIS 1.11 compliance framework (#7790)
  README.md
  dashboard/compliance/cis_1_11_kubernetes.py
  prowler/CHANGELOG.md
  prowler/compliance/kubernetes/cis_1.11_kubernetes.json
Due: prowler

fix(dashboard): remove typo from subscribe cards (#7798)
  dashboard/__main__.py
  dashboard/lib/layouts.py
  dashboard/pages/overview.py
Due: none

Update README.md
  README.md
Due: none

chore(README): update `README.md` (#7799)
  README.md
Due: none

feat(findings): add new index for finding uid
  api/src/backend/api/migrations/0024_findings_uid_index_partitions.py
  api/src/backend/api/migrations/0025_findings_uid_index_parent.py
  api/src/backend/api/models.py
Due: api

chore: bump API version
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

chore: update API changelog
  api/CHANGELOG.md
Due: api

feat(dashboard): add client-side search functionality for findings table
  dashboard/lib/layouts.py
  dashboard/pages/overview.py
Due: none

style: apply ruff
  api/src/backend/api/migrations/0025_findings_uid_index_parent.py
Due: api
