Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore: update lock files
  api/poetry.lock
  api/pyproject.toml
  poetry.lock
  pyproject.toml
Due: api

feat: add new check
  prowler/providers/m365/services/teams/teams_meeting_chat_anonymous_users_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_meeting_chat_anonymous_users_disabled/teams_meeting_chat_anonymous_users_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_chat_anonymous_users_disabled/teams_meeting_chat_anonymous_users_disabled.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_meeting_chat_anonymous_users_disabled/teams_meeting_chat_anonymous_users_disabled_test.py
  tests/providers/m365/services/teams/teams_service_test.py
Due: prowler

feat: add to changelog
  prowler/CHANGELOG.md
Due: prowler

feat(defender): add new check `defender_domain_dkim_enabled` (#7485)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_domain_dkim_enabled/__init__.py
  prowler/providers/m365/services/defender/defender_domain_dkim_enabled/defender_domain_dkim_enabled.metadata.json
  prowler/providers/m365/services/defender/defender_domain_dkim_enabled/defender_domain_dkim_enabled.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_domain_dkim_enabled/defender_domain_dkim_enabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

feat(exchange): add new check for tagging external mails
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_external_mail_tagged/__init__.py
  prowler/providers/m365/services/exchange/exchange_external_mail_tagged/exchange_external_mail_tagged.metadata.json
  prowler/providers/m365/services/exchange/exchange_external_mail_tagged/exchange_external_mail_tagged.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_external_mail_tagged/exchange_external_mail_tagged_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

fix: update unittest
  api/src/backend/api/tests/test_utils.py
Due: api

chore(exchange): add changelog
  prowler/CHANGELOG.md
Due: prowler

fix(aws): update bucket naming validation to accept dots (#7576)
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
Due: prowler

fix: typo
  api/src/backend/api/rls.py
Due: api

fix(aws): use correct ports in `ec2_instance_port_cifs_exposed_to_internet` recommendation (#7574)
  prowler/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet.metadata.json
Due: prowler

chore: revision
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist.py
  tests/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist_test.py
Due: prowler

feat(defender): add new check `defender_antispam_connection_filter_policy_empty_ip_allowlist` (#7492)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

chore: revision
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_ip_allow_list_not_used/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_ip_allow_list_not_used/defender_antispam_connection_filter_policy_ip_allow_list_not_used.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_ip_allow_list_not_used/defender_antispam_connection_filter_policy_ip_allow_list_not_used.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/defender_antispam_connection_filter_policy_safe_list_off.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/defender_antispam_connection_filter_policy_safe_list_off.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist_test.py
  tests/providers/m365/services/defender/defender_antispam_connection_filter_policy_ip_allow_list_not_used/defender_antispam_connection_filter_policy_ip_allow_list_not_used_test.py
  tests/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/defender_antispam_connection_filter_policy_safe_list_off_test.py
Due: prowler

feat(defender): add new check `defender_antispam_connection_filter_policy_safe_list_off` (#7494)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/defender_antispam_connection_filter_policy_safe_list_off.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/defender_antispam_connection_filter_policy_safe_list_off.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/defender_antispam_connection_filter_policy_safe_list_off_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

fix(teams): `teams_email_sending_to_channel_disabled` docstrings (#7559)
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.py
Due: prowler

fix: CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler

feat(teams): add new check `teams_external_domains_restricted` (#7557)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/teams/teams_external_domains_restricted/__init__.py
  prowler/providers/m365/services/teams/teams_external_domains_restricted/teams_external_domains_restricted.metadata.json
  prowler/providers/m365/services/teams/teams_external_domains_restricted/teams_external_domains_restricted.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_external_domains_restricted/teams_external_domains_restricted_test.py
  tests/providers/m365/services/teams/teams_service_test.py
Due: prowler

fix(aws): use correct ports in `ec2_instance_port_cifs_exposed_to_internet` recommendation (#7581)
  prowler/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet.metadata.json
Due: prowler

feat(teams): add new check `teams_unmanaged_communication_disabled` (#7561)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/teams/teams_service.py
  prowler/providers/m365/services/teams/teams_unmanaged_communication_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_unmanaged_communication_disabled/teams_unmanaged_communication_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_unmanaged_communication_disabled/teams_unmanaged_communication_disabled.py
  tests/providers/m365/services/teams/teams_service_test.py
  tests/providers/m365/services/teams/teams_unmanaged_communication_disabled/teams_unmanaged_communication_disabled_test.py
Due: prowler

fix: typo
  prowler/CHANGELOG.md
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.py
  tests/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled_test.py
Due: prowler

feat(teams): add new check `teams_external_users_cannot_start_conversations` (#7562)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.py
  prowler/providers/m365/services/teams/teams_external_users_cannot_start_conversations/__init__.py
  prowler/providers/m365/services/teams/teams_external_users_cannot_start_conversations/teams_external_users_cannot_start_conversations.metadata.json
  prowler/providers/m365/services/teams/teams_external_users_cannot_start_conversations/teams_external_users_cannot_start_conversations.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled_test.py
  tests/providers/m365/services/teams/teams_external_users_cannot_start_conversations/teams_external_users_cannot_start_conversations_test.py
  tests/providers/m365/services/teams/teams_service_test.py
Due: prowler

feat(teams): add new check `teams_meeting_anonymous_user_join_disabled` (#7565)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled_test.py
  tests/providers/m365/services/teams/teams_service_test.py
Due: prowler

fix(scan): handle cloud provider errors and ignore expected sentry noise
  api/src/backend/config/settings/sentry.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
Due: prowler, api

fix: tests
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
Due: prowler

fix: overview m365 auth
  docs/index.md
Due: none

feat: change to domain_id
  api/Dockerfile
  api/src/backend/api/utils.py
Due: api

chore: add m365 test connection form
  ui/actions/providers/providers.ts
  ui/components/providers/provider-info.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
Due: none

chore: rename legacy badges to follow the new naming convention
  ui/components/icons/providers-badge/aws-provider-badge.tsx
  ui/components/icons/providers-badge/azure-provider-badge.tsx
  ui/components/icons/providers-badge/gcp-provider-badge.tsx
  ui/components/icons/providers-badge/index.ts
  ui/components/icons/providers-badge/ks8-provider-badge.tsx
  ui/components/providers/radio-group-provider.tsx
Due: none

chore: add the new badge for m365 provider
  ui/components/icons/providers-badge/index.ts
  ui/components/icons/providers-badge/m365-provider-badge.tsx
  ui/components/providers/radio-group-provider.tsx
Due: none

feat: add m365 credentials form for this new provider
  ui/components/icons/providers-badge/m365-provider-badge.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/index.ts
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/components/ui/entities/get-provider-logo.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

feat: enhance requirements.md
  docs/getting-started/requirements.md
Due: none

fix: typo
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled.py
  tests/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled_test.py
  tests/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled_test.py
Due: prowler

feat(sharepoint): add check sharepoint_onedrive_sync_restricted_unmanaged_devices
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/__init__.py
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices.metadata.json
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
  tests/providers/m365/services/sharepoint/sharepoint_external_sharing_managed/sharepoint_external_sharing_managed_test.py
  tests/providers/m365/services/sharepoint/sharepoint_external_sharing_restricted/sharepoint_external_sharing_restricted_test.py
  tests/providers/m365/services/sharepoint/sharepoint_modern_authentication_required/sharepoint_modern_authentication_required_test.py
  tests/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices_test.py
  tests/providers/m365/services/sharepoint/sharepoint_service_test.py
Due: prowler

fix: typo
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled.py
  tests/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled_test.py
Due: prowler

feat(m365): update readme and changelog
  README.md
  prowler/CHANGELOG.md
Due: prowler

fix: remove duplicated folder
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.py
Due: prowler

fix: typo
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled.py
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled.py
  tests/providers/m365/services/teams/teams_meeting_anonymous_user_join_disabled/teams_meeting_anonymous_user_join_disabled_test.py
  tests/providers/m365/services/teams/teams_meeting_anonymous_user_start_disabled/teams_meeting_anonymous_user_start_disabled_test.py
Due: prowler

chore: add m365 to the formSchema
  ui/types/formSchemas.ts
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
