Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(ui): enable column sorting and hide Duration in scan jobs
  ui/components/scans/table/scans/scan-jobs-columns.test.tsx
  ui/components/scans/table/scans/scan-jobs-columns.tsx
Due: none

fix(ui): reset sort when switching scan jobs tabs
  ui/components/scans/scans-page-shell.test.tsx
  ui/components/scans/scans-page-shell.tsx
Due: none

chore(ci): add Renovate baseline config (#11181)
  .github/renovate.json
  .github/workflows/renovate-config-validate.yml
  .pre-commit-config.yaml
  .worktreeinclude
  docs/security/software-security.mdx
Due: none

chore(release): Bump versions to v5.27.2 (#11289)
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

feat(compliance): add resource metadata tab inside req find (#11187)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  ui/CHANGELOG.md
  ui/actions/findings/findings-by-resource.adapter.test.ts
  ui/actions/findings/findings-by-resource.adapter.ts
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.test.ts
  ui/components/resources/table/resource-detail-content.tsx
  ui/components/shared/resource-metadata-panel.test.tsx
  ui/components/shared/resource-metadata-panel.tsx
  ui/lib/resource-metadata.test.ts
  ui/lib/resource-metadata.ts
Due: api

chore(ci): disable Renovate minor and major version bumps
  .github/renovate.json
Due: none

chore(ci): restore patch/minor/major rules with enabled=false
  .github/renovate.json
Due: none

chore(ci): disable Renovate patch, minor and major version bumps (#11312)
  .github/renovate.json
Due: none

test(ui): align scans e2e page object with new launch scan modal
  ui/tests/scans/scans-page.ts
Due: none

feat(googleworkspace): add sites, additional_services and marketplace service checks (#11281)
  prowler/CHANGELOG.md
  prowler/compliance/googleworkspace/cis_1.3_googleworkspace.json
  prowler/compliance/googleworkspace/cisa_scuba_0.6_googleworkspace.json
  prowler/providers/googleworkspace/services/additionalservices/__init__.py
  prowler/providers/googleworkspace/services/additionalservices/additionalservices_client.py
  prowler/providers/googleworkspace/services/additionalservices/additionalservices_external_groups_disabled/__init__.py
  prowler/providers/googleworkspace/services/additionalservices/additionalservices_external_groups_disabled/additionalservices_external_groups_disabled.metadata.json
  prowler/providers/googleworkspace/services/additionalservices/additionalservices_external_groups_disabled/additionalservices_external_groups_disabled.py
  prowler/providers/googleworkspace/services/additionalservices/additionalservices_service.py
  prowler/providers/googleworkspace/services/marketplace/__init__.py
  prowler/providers/googleworkspace/services/marketplace/marketplace_apps_access_restricted/__init__.py
  prowler/providers/googleworkspace/services/marketplace/marketplace_apps_access_restricted/marketplace_apps_access_restricted.metadata.json
  prowler/providers/googleworkspace/services/marketplace/marketplace_apps_access_restricted/marketplace_apps_access_restricted.py
  prowler/providers/googleworkspace/services/marketplace/marketplace_client.py
  prowler/providers/googleworkspace/services/marketplace/marketplace_service.py
  prowler/providers/googleworkspace/services/sites/__init__.py
  prowler/providers/googleworkspace/services/sites/sites_client.py
  prowler/providers/googleworkspace/services/sites/sites_service.py
  prowler/providers/googleworkspace/services/sites/sites_service_disabled/__init__.py
  prowler/providers/googleworkspace/services/sites/sites_service_disabled/sites_service_disabled.metadata.json
  prowler/providers/googleworkspace/services/sites/sites_service_disabled/sites_service_disabled.py
  tests/providers/googleworkspace/services/additionalservices/additionalservices_external_groups_disabled/additionalservices_external_groups_disabled_test.py
  tests/providers/googleworkspace/services/additionalservices/additionalservices_service_test.py
  tests/providers/googleworkspace/services/marketplace/marketplace_apps_access_restricted/marketplace_apps_access_restricted_test.py
  tests/providers/googleworkspace/services/marketplace/marketplace_service_test.py
  tests/providers/googleworkspace/services/sites/sites_service_disabled/sites_service_disabled_test.py
  tests/providers/googleworkspace/services/sites/sites_service_test.py
Due: prowler

fix(sdk): absolute ENTRYPOINT to work with uv
  Dockerfile
  prowler/CHANGELOG.md
Due: prowler

chore: PR #
  prowler/CHANGELOG.md
Due: prowler

chore(m365): use PowerShell best practices for quoting credential variables (#9997)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

chore(oci): move #10347 changelog entry to 5.28.0 unreleased
  prowler/CHANGELOG.md
Due: prowler

fix(oci): keep broad except in get_regions_to_audit for resilient fallback
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

refactor(oci): slim PR to audit fix, reuse home_region from #10529
  prowler/providers/oraclecloud/models.py
  prowler/providers/oraclecloud/oraclecloud_provider.py
  tests/providers/oraclecloud/oci_fixtures.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
  tests/providers/oraclecloud/services/audit/audit_service_test.py
Due: prowler

fix(oci): resolve tenancy home region from full subscription list
  prowler/providers/oraclecloud/oraclecloud_provider.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
Due: prowler

fix(oci): use home region for audit configuration API call (#10347)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/oraclecloud_provider.py
  prowler/providers/oraclecloud/services/audit/audit_service.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
  tests/providers/oraclecloud/services/audit/audit_service_test.py
Due: prowler

test(ui): scope scans provider option to open popover
  ui/tests/scans/scans-page.ts
Due: none

feat(aws): add transfer_server_pqc_ssh_kex_enabled check
  contrib/k8s/helm/prowler-api/values.yaml
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/CHANGELOG.md
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/ccc_aws.json
  prowler/compliance/aws/csa_ccm_4.0_aws.json
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/fedramp_moderate_revision_4_aws.json
  prowler/compliance/aws/ffiec_aws.json
  prowler/compliance/aws/gxp_21_cfr_part_11_aws.json
  prowler/compliance/aws/iso27001_2013_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
  prowler/compliance/aws/nist_800_171_revision_2_aws.json
  prowler/compliance/aws/nist_800_53_revision_5_aws.json
  prowler/compliance/aws/rbi_cyber_security_framework_aws.json
  prowler/compliance/aws/secnumcloud_3.2_aws.json
  prowler/config/config.yaml
  prowler/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/__init__.py
  prowler/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/transfer_server_pqc_ssh_kex_enabled.metadata.json
  prowler/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/transfer_server_pqc_ssh_kex_enabled.py
  prowler/providers/aws/services/transfer/transfer_service.py
  tests/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/__init__.py
  tests/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/transfer_server_pqc_ssh_kex_enabled_test.py
  tests/providers/aws/services/transfer/transfer_service_test.py
Due: prowler

feat(aws): add apigateway_domain_name_pqc_tls_enabled check
  contrib/k8s/helm/prowler-api/values.yaml
  docs/user-guide/cli/tutorials/configuration_file.mdx
  permissions/prowler-additions-policy.json
  permissions/templates/cloudformation/prowler-scan-role.yml
  prowler/CHANGELOG.md
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/ccc_aws.json
  prowler/compliance/aws/csa_ccm_4.0_aws.json
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/fedramp_moderate_revision_4_aws.json
  prowler/compliance/aws/ffiec_aws.json
  prowler/compliance/aws/gxp_21_cfr_part_11_aws.json
  prowler/compliance/aws/iso27001_2013_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
  prowler/compliance/aws/nist_800_171_revision_2_aws.json
  prowler/compliance/aws/nist_800_53_revision_5_aws.json
  prowler/compliance/aws/rbi_cyber_security_framework_aws.json
  prowler/compliance/aws/secnumcloud_3.2_aws.json
  prowler/config/config.yaml
  prowler/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_service.py
  tests/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/__init__.py
  tests/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_service_test.py
Due: prowler

feat(aws): add cloudfront_distributions_pqc_tls_enabled check
  contrib/k8s/helm/prowler-api/values.yaml
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/CHANGELOG.md
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/ccc_aws.json
  prowler/compliance/aws/csa_ccm_4.0_aws.json
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/fedramp_moderate_revision_4_aws.json
  prowler/compliance/aws/ffiec_aws.json
  prowler/compliance/aws/gxp_21_cfr_part_11_aws.json
  prowler/compliance/aws/iso27001_2013_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
  prowler/compliance/aws/nist_800_171_revision_2_aws.json
  prowler/compliance/aws/nist_800_53_revision_5_aws.json
  prowler/compliance/aws/rbi_cyber_security_framework_aws.json
  prowler/compliance/aws/secnumcloud_3.2_aws.json
  prowler/config/config.yaml
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_pqc_tls_enabled/__init__.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_pqc_tls_enabled/cloudfront_distributions_pqc_tls_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_pqc_tls_enabled/cloudfront_distributions_pqc_tls_enabled.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_pqc_tls_enabled/__init__.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_pqc_tls_enabled/cloudfront_distributions_pqc_tls_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Due: prowler

feat(aws): add acmpca service and pqc key algorithm check
  contrib/k8s/helm/prowler-api/values.yaml
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/aws/services/acmpca/__init__.py
  prowler/providers/aws/services/acmpca/acmpca_certificate_authority_pqc_key_algorithm/__init__.py
  prowler/providers/aws/services/acmpca/acmpca_certificate_authority_pqc_key_algorithm/acmpca_certificate_authority_pqc_key_algorithm.metadata.json
  prowler/providers/aws/services/acmpca/acmpca_certificate_authority_pqc_key_algorithm/acmpca_certificate_authority_pqc_key_algorithm.py
  prowler/providers/aws/services/acmpca/acmpca_client.py
  prowler/providers/aws/services/acmpca/acmpca_service.py
  tests/providers/aws/services/acmpca/__init__.py
  tests/providers/aws/services/acmpca/acmpca_certificate_authority_pqc_key_algorithm/__init__.py
  tests/providers/aws/services/acmpca/acmpca_certificate_authority_pqc_key_algorithm/acmpca_certificate_authority_pqc_key_algorithm_test.py
  tests/providers/aws/services/acmpca/acmpca_service_test.py
Due: prowler

feat(aws): add rolesanywhere service and pqc trust anchor check
  contrib/k8s/helm/prowler-api/values.yaml
  docs/user-guide/cli/tutorials/configuration_file.mdx
  permissions/prowler-additions-policy.json
  permissions/templates/cloudformation/prowler-scan-role.yml
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/aws/services/rolesanywhere/__init__.py
  prowler/providers/aws/services/rolesanywhere/rolesanywhere_client.py
  prowler/providers/aws/services/rolesanywhere/rolesanywhere_service.py
  prowler/providers/aws/services/rolesanywhere/rolesanywhere_trust_anchor_pqc_pki/__init__.py
  prowler/providers/aws/services/rolesanywhere/rolesanywhere_trust_anchor_pqc_pki/rolesanywhere_trust_anchor_pqc_pki.metadata.json
  prowler/providers/aws/services/rolesanywhere/rolesanywhere_trust_anchor_pqc_pki/rolesanywhere_trust_anchor_pqc_pki.py
  tests/providers/aws/services/rolesanywhere/__init__.py
  tests/providers/aws/services/rolesanywhere/rolesanywhere_service_test.py
  tests/providers/aws/services/rolesanywhere/rolesanywhere_trust_anchor_pqc_pki/__init__.py
  tests/providers/aws/services/rolesanywhere/rolesanywhere_trust_anchor_pqc_pki/rolesanywhere_trust_anchor_pqc_pki_test.py
Due: prowler

fix(aws): order-independent CloudWatch metric filter pattern checks
  prowler/CHANGELOG.md
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_acls_alarm_configured/cloudwatch_changes_to_network_acls_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_gateways_alarm_configured/cloudwatch_changes_to_network_gateways_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_vpcs_alarm_configured/cloudwatch_changes_to_vpcs_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_authentication_failures/cloudwatch_log_metric_filter_authentication_failures.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_aws_organizations_changes/cloudwatch_log_metric_filter_aws_organizations_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_policy_changes/cloudwatch_log_metric_filter_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_security_group_changes/cloudwatch_log_metric_filter_security_group_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_sign_in_without_mfa/cloudwatch_log_metric_filter_sign_in_without_mfa.py
Due: prowler

fix(sdk): absolute ENTRYPOINT to work with uv (#11313)
  Dockerfile
  prowler/CHANGELOG.md
Due: prowler

chore(changelog): prepare for v5.28.0
  api/CHANGELOG.md
  mcp_server/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

fix(ui): resource tab scroll from container
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/shared/query-code-editor.tsx
  ui/components/shared/resource-metadata-panel.tsx
Due: none

fix(ui): resource tab scroll from container (#11320)
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/shared/query-code-editor.tsx
  ui/components/shared/resource-metadata-panel.tsx
Due: none

chore(changelog): prepare for v5.28.0 (#11321)
  api/CHANGELOG.md
  mcp_server/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

docs: add okta provider prowler cloud onboarding
  docs/user-guide/providers/okta/getting-started-okta.mdx
  docs/user-guide/providers/okta/images/okta-credentials-form.png
  docs/user-guide/providers/okta/images/okta-org-domain-form.png
  docs/user-guide/providers/okta/images/select-okta-provider.png
Due: none

fix(ui): resource tab scroll from container
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/shared/resource-metadata-panel.tsx
Due: none

docs: add okta provider prowler cloud onboarding (#11322)
  docs/user-guide/providers/okta/getting-started-okta.mdx
  docs/user-guide/providers/okta/images/okta-credentials-form.png
  docs/user-guide/providers/okta/images/okta-org-domain-form.png
  docs/user-guide/providers/okta/images/select-okta-provider.png
Due: none

fix(ui): unify ResourceMetadataPanel layout contract across surfaces
  ui/components/shared/resource-metadata-panel.tsx
  ui/styles/globals.css
Due: none

feat(ui): truncate tab labels with tooltip on narrow containers
  ui/components/shadcn/tabs/tabs.tsx
Due: none

refactor(ui): rework finding drawer tabs and resource actions
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-skeleton.tsx
Due: none

feat(ui): add link-xs button size for compact external links
  ui/components/shadcn/button/button.test.tsx
  ui/components/shadcn/button/button.tsx
  ui/components/shared/external-resource-link/external-resource-link.test.tsx
  ui/components/shared/external-resource-link/external-resource-link.tsx
Due: none

refactor(ui): reorganize resource detail content layout
  ui/components/resources/table/resource-detail-content.test.ts
  ui/components/resources/table/resource-detail-content.tsx
Due: none

docs(ui): add changelog entry for #11325
  ui/CHANGELOG.md
Due: none

style(ui): apply prettier and lint fixes
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/resources/table/resource-detail-content.test.ts
  ui/components/resources/table/resource-detail-content.tsx
  ui/components/shared/external-resource-link/external-resource-link.tsx
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
