Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(image): --registry-list crashes with AttributeError on global_provider (#10730)
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/providers/image/image_provider.py
  tests/providers/image/image_provider_test.py
Due: prowler

chore(deps): upgrade azure-mgmt-resource from 23.3.0 to 25.0.0
  poetry.lock
  prowler/CHANGELOG.md
  pyproject.toml
Due: prowler

fix(ui): correct IaC findings counters
  ui/CHANGELOG.md
  ui/components/findings/table/column-finding-groups.test.tsx
  ui/components/findings/table/column-finding-groups.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/lib/findings-groups.test.ts
  ui/lib/findings-groups.ts
Due: none

fix(googleworkspace): treat secure Google defaults as PASS for Calendar checks (#10735)
  prowler/CHANGELOG.md
  prowler/providers/googleworkspace/services/calendar/calendar_external_invitations_warning/calendar_external_invitations_warning.py
  prowler/providers/googleworkspace/services/calendar/calendar_external_sharing_primary_calendar/calendar_external_sharing_primary_calendar.py
  tests/providers/googleworkspace/services/calendar/calendar_external_invitations_warning/calendar_external_invitations_warning_test.py
  tests/providers/googleworkspace/services/calendar/calendar_external_sharing_primary_calendar/calendar_external_sharing_primary_calendar_test.py
Due: prowler

chore(deps): enable Dependabot pre-commit ecosystem and bump hooks (#10732)
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

chore(deps): downgrade azure-mgmt-resource from 25.0.0 to 24.0.0
  poetry.lock
  prowler/CHANGELOG.md
  pyproject.toml
Due: prowler

refactor(ui): align finding group types with conventions
  ui/lib/findings-groups.ts
Due: none

revert(ui): remove changelog entry, defer to next release
  ui/CHANGELOG.md
Due: none

fix(ui): sync changelog with latest master
  ui/CHANGELOG.md
Due: none

chore(deps): remove explicit marshmallow pin, already a transitive dependency of safety
  poetry.lock
  prowler/CHANGELOG.md
  pyproject.toml
Due: prowler

fix(ui): improve muted findings empty state copy
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/inline-resource-container.tsx
  ui/components/findings/table/inline-resource-container.utils.test.ts
  ui/components/findings/table/inline-resource-container.utils.ts
Due: none

style(ui): enlarge muted row indicator
  ui/components/findings/table/notification-indicator.tsx
Due: none

fix(ui): refine findings drawer behavior
  ui/actions/findings/findings-by-resource.adapter.test.ts
  ui/actions/findings/findings-by-resource.adapter.ts
  ui/actions/findings/findings-by-resource.ts
  ui/actions/findings/findings.ts
  ui/components/findings/table/column-finding-groups.test.tsx
  ui/components/findings/table/column-finding-groups.tsx
  ui/components/findings/table/finding-detail-drawer.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/findings/table/inline-resource-container.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.test.ts
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.ts
  ui/hooks/use-finding-group-resource-state.ts
  ui/lib/findings-groups.test.ts
  ui/lib/findings-groups.ts
Due: none

fix(api): add fallback handling for missing resources in findings (#10708)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

feat(ui): add provider icon to finding groups
  ui/components/findings/table/column-finding-groups.test.tsx
  ui/components/findings/table/column-finding-groups.tsx
Due: none

fix(ui): upgrade React 19.2.5 and Next.js 16.2.3 to mitigate CVE-2026-23869
  ui/CHANGELOG.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

style(ui): align provider icon in finding groups
  ui/components/findings/table/column-finding-groups.tsx
Due: none

fix(ui): set changelog version to 1.24.1 for CVE-2026-23869 entry
  ui/CHANGELOG.md
Due: none

refactor(ui): reuse shared finding delta and status types
  ui/actions/findings/findings-by-resource.ts
  ui/actions/findings/findings.ts
  ui/components/findings/table/column-finding-groups.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/notification-indicator.tsx
  ui/lib/findings-groups.ts
  ui/types/components.ts
Due: none

fix(api): exclude muted findings
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
Due: api

fix(api): add fallback handling for missing resources in findings (#10751)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

test(ui): cover drawer navigation stale state
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.test.ts
Due: none

fix(ui): sync pnpm-lock.yaml overrides with package.json
  ui/pnpm-lock.yaml
Due: none

chore: update changelog
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
Due: api

fix(ui): upgrade React 19.2.5 and Next.js 16.2.3 to mitigate CVE-2026-23869 (#10752)
  ui/CHANGELOG.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

chore(deps): bump msgraph-sdk to 1.55.0 and azure-mgmt-resource to 24.0.0, remove marshmallow (#10733)
  poetry.lock
  prowler/CHANGELOG.md
  pyproject.toml
Due: prowler

fix(ui): upgrade React 19.2.5 and Next.js 16.2.3 to mitigate CVE-2026-23869 (#10754)
  ui/CHANGELOG.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

fix(api): derive group status from total counts including muted findings
  api/src/backend/api/v1/views.py
Due: api

chore(attack-paths): bump cartography from 1.132.0 to 1.135.0
  api/poetry.lock
  api/pyproject.toml
Due: api

fix(api): exclude muted findings from pass_count, fail_count and manual_count (#10753)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
Due: api

fix(api): exclude muted findings from pass_count, fail_count and manual_count (#10755)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
Due: api

fix(ui): align resource inventory cards in light mode
  ui/CHANGELOG.md
  ui/app/(prowler)/_overview/resources-inventory/_components/resources-inventory-card-item.test.tsx
  ui/app/(prowler)/_overview/resources-inventory/_components/resources-inventory-card-item.tsx
  ui/app/(prowler)/_overview/resources-inventory/resources-inventory-skeleton.tsx
Due: none

fix(ui): refine drawer navigation loading states
  ui/components/findings/table/column-finding-groups.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.test.ts
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.ts
  ui/lib/findings-groups.test.ts
  ui/lib/findings-groups.ts
Due: none

docs(ui): update changelog entry for findings grouped view
  ui/CHANGELOG.md
Due: none

chore: CHANGELOG updated
  ui/CHANGELOG.md
Due: none

fix: CHANGELOG minor issue (#10758)
  ui/CHANGELOG.md
Due: none

fix: CHANGELOG minor issue (#10759)
  ui/CHANGELOG.md
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
