Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: set SDK changelog version for fixes (#11282)
  prowler/CHANGELOG.md
Due: prowler

chore: set SDK changelog version for fixes
  prowler/CHANGELOG.md
Due: prowler

chore: set SDK changelog version for fixes (#11283)
  prowler/CHANGELOG.md
Due: prowler

feat(okta): 4 new signon service checks (#11224)
  docs/user-guide/providers/okta/authentication.mdx
  docs/user-guide/providers/okta/getting-started-okta.mdx
  prowler/CHANGELOG.md
  prowler/providers/okta/lib/arguments/arguments.py
  prowler/providers/okta/models.py
  prowler/providers/okta/okta_provider.py
  prowler/providers/okta/services/signon/lib/__init__.py
  prowler/providers/okta/services/signon/lib/signon_helpers.py
  prowler/providers/okta/services/signon/signon_dod_warning_banner_configured/__init__.py
  prowler/providers/okta/services/signon/signon_dod_warning_banner_configured/signon_dod_warning_banner_configured.metadata.json
  prowler/providers/okta/services/signon/signon_dod_warning_banner_configured/signon_dod_warning_banner_configured.py
  prowler/providers/okta/services/signon/signon_global_session_cookies_not_persistent/__init__.py
  prowler/providers/okta/services/signon/signon_global_session_cookies_not_persistent/signon_global_session_cookies_not_persistent.metadata.json
  prowler/providers/okta/services/signon/signon_global_session_cookies_not_persistent/signon_global_session_cookies_not_persistent.py
  prowler/providers/okta/services/signon/signon_global_session_idle_timeout_15min/signon_global_session_idle_timeout_15min.metadata.json
  prowler/providers/okta/services/signon/signon_global_session_lifetime_18h/__init__.py
  prowler/providers/okta/services/signon/signon_global_session_lifetime_18h/signon_global_session_lifetime_18h.metadata.json
  prowler/providers/okta/services/signon/signon_global_session_lifetime_18h/signon_global_session_lifetime_18h.py
  prowler/providers/okta/services/signon/signon_global_session_policy_network_zone_enforced/__init__.py
  prowler/providers/okta/services/signon/signon_global_session_policy_network_zone_enforced/signon_global_session_policy_network_zone_enforced.metadata.json
  prowler/providers/okta/services/signon/signon_global_session_policy_network_zone_enforced/signon_global_session_policy_network_zone_enforced.py
  prowler/providers/okta/services/signon/signon_service.py
  tests/providers/okta/okta_fixtures.py
  tests/providers/okta/okta_provider_test.py
  tests/providers/okta/services/signon/signon_dod_warning_banner_configured/signon_dod_warning_banner_configured_test.py
  tests/providers/okta/services/signon/signon_fixtures.py
  tests/providers/okta/services/signon/signon_global_session_cookies_not_persistent/signon_global_session_cookies_not_persistent_test.py
  tests/providers/okta/services/signon/signon_global_session_lifetime_18h/signon_global_session_lifetime_18h_test.py
  tests/providers/okta/services/signon/signon_global_session_policy_network_zone_enforced/signon_global_session_policy_network_zone_enforced_test.py
  tests/providers/okta/services/signon/signon_service_test.py
Due: prowler

fix(mcp): bump fastmcp and transitives to clear osv-scanner findings
  mcp_server/CHANGELOG.md
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

test(m365): assert exact secret conversion command and clarify init_credential docstring
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

chore(mcp): bump outdated Actions in MCP workflows
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/mcp-security.yml
Due: none

test(m365): cover client_secret escaping edge cases in init_credential
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: none

Revert "chore(mcp): bump outdated Actions in MCP workflows"
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/mcp-security.yml
Due: none

fix(mcp): downgrade lockfile to versions older than the cooldown window
  mcp_server/CHANGELOG.md
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

docs(mcp): add PR link to security changelog entry
  mcp_server/CHANGELOG.md
Due: none

fix(api): chown src/backend and docker-entrypoint to prowler user (#11276)
  api/Dockerfile
Due: api

docs(mcp): move security entry to its own UNRELEASED section
  mcp_server/CHANGELOG.md
Due: none

feat(ui): support disabled options in MultiSelect
  ui/components/shadcn/select/multiselect.test.tsx
  ui/components/shadcn/select/multiselect.tsx
Due: none

fix(api): chown src/backend and docker-entrypoint to prowler user (#11285)
  api/Dockerfile
Due: api

refactor(ui): consolidate provider/account selectors into ProviderAccountSelectors
  ui/app/(prowler)/_overview/_components/accounts-selector.test.tsx
  ui/app/(prowler)/_overview/_components/accounts-selector.tsx
  ui/components/filters/provider-account-selectors.test.tsx
  ui/components/filters/provider-account-selectors.tsx
  ui/components/findings/findings-filters.tsx
  ui/components/resources/resources-filters.tsx
  ui/components/scans/scans-page-shell.test.tsx
  ui/components/scans/scans-page-shell.tsx
  ui/hooks/use-related-filters.ts
Due: none

docs(changelog): change fixes to a minor version
  mcp_server/CHANGELOG.md
Due: none

fix(ui): show disconnected providers as disabled in launch scan modal
  ui/app/(prowler)/scans/page.tsx
  ui/components/scans/launch-scan-modal.test.tsx
  ui/components/scans/launch-scan-modal.tsx
Due: none

refactor(ui): fetch all providers in selectors and charts
  ui/app/(prowler)/_overview/graphs-tabs/risk-pipeline-view/risk-pipeline-view.ssr.tsx
  ui/app/(prowler)/_overview/graphs-tabs/risk-plot/risk-plot.ssr.tsx
  ui/app/(prowler)/alerts/page.tsx
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/integrations/amazon-s3/page.tsx
  ui/app/(prowler)/integrations/aws-security-hub/page.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/providers/provider-groups-content.tsx
  ui/app/(prowler)/providers/providers-page.utils.test.ts
  ui/app/(prowler)/providers/providers-page.utils.ts
  ui/app/(prowler)/resources/page.tsx
Due: none

chore(deps): bump pytest version to 9.0.3
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

fix(mcp): bump fastmcp and transitives to clear osv-scanner findings (#11284)
  mcp_server/CHANGELOG.md
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

fix(api): bump updated_at on resources that gain tag mappings
  api/src/backend/tasks/jobs/scan.py
Due: api

chore(m365): move changelog entry to 5.28.0 Changed as a best-practices change
  prowler/CHANGELOG.md
Due: prowler

chore(m365): align docstring and comments with best-practices framing
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

ci(api): simplify SDK release pin to a single uv lock --upgrade-package
  .github/workflows/api-container-build-push.yml
Due: none

ci(api): use uv lock --upgrade-package for the master pin too
  .github/workflows/api-container-build-push.yml
Due: none

ci(api): unify push/release SDK pin steps into one
  .github/workflows/api-container-build-push.yml
Due: none

ci(api): simplify SDK release pin to a single uv lock --upgrade-package (#11287)
  .github/workflows/api-container-build-push.yml
Due: none

ci(api): simplify SDK release pin to a single uv lock --upgrade-package (#11288)
  .github/workflows/api-container-build-push.yml
Due: none

chore(ui): remove legacy scans view dead code
  ui/components/scans/forms/edit-scan-form.tsx
  ui/components/scans/forms/index.ts
  ui/components/scans/forms/schedule-form.tsx
  ui/components/scans/launch-workflow/index.ts
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/scans/scans-launch-section.test.tsx
  ui/components/scans/scans-launch-section.tsx
  ui/components/scans/table/scans/column-get-scans.test.ts
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-actions.tsx
  ui/components/scans/table/scans/data-table-row-details.tsx
  ui/components/scans/table/scans/index.ts
  ui/components/scans/table/scans/scans-table-with-polling.tsx
  ui/components/scans/table/scans/skeleton-scan-detail.tsx
  ui/types/formSchemas.ts
Due: none

feat(ui): add Edit Alias modal in scan jobs row actions
  ui/components/scans/edit-alias-modal.tsx
  ui/components/scans/table/scans/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scans/scan-jobs-row-actions.tsx
Due: none

refactor(ui): polish scan jobs columns and tabs
  ui/components/scans/scans-table.utils.ts
  ui/components/scans/table/scans/scan-jobs-columns.test.tsx
  ui/components/scans/table/scans/scan-jobs-columns.tsx
Due: none

chore: remove path updates, move minor to every three months
  .github/renovate.json
Due: none

chore: removed helm from renovate
  .github/renovate.json
Due: none

docs: updated docs with renovate usage
  docs/security/software-security.mdx
Due: none

chore(release): Bump versions to v5.27.2
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

chore: update harden runner version
  .github/workflows/renovate-config-validate.yml
Due: none

fix(ui): align expand-all toggle slot with cell placeholder
  ui/components/ui/table/data-table-expand-all-toggle.tsx
Due: none
