Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(attack-paths): Add Attack Paths visualization feature
  ui/.husky/pre-commit
  ui/actions/attack-paths/attack-paths.ts
  ui/actions/attack-paths/index.ts
  ui/app/(prowler)/attack-paths/(workflow)/layout.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/page.tsx
  ui/app/(prowler)/attack-paths/(workflow)/select-scan/page.tsx
  ui/app/(prowler)/attack-paths/page.tsx
  ui/components/attack-paths/graph/attack-path-graph.tsx
  ui/components/attack-paths/graph/graph-controls.tsx
  ui/components/attack-paths/graph/graph-legend.tsx
  ui/components/attack-paths/graph/graph-loading.tsx
  ui/components/attack-paths/graph/index.ts
  ui/components/attack-paths/index.ts
  ui/components/attack-paths/node-detail/index.ts
  ui/components/attack-paths/node-detail/node-detail-panel.tsx
  ui/components/attack-paths/node-detail/node-overview.tsx
  ui/components/attack-paths/node-detail/node-relationships.tsx
  ui/components/attack-paths/node-detail/node-remediation.tsx
  ui/components/attack-paths/query-builder/execute-button.tsx
  ui/components/attack-paths/query-builder/index.ts
  ui/components/attack-paths/query-builder/query-parameters-form.tsx
  ui/components/attack-paths/query-builder/query-selector.tsx
  ui/components/attack-paths/scan-selection/aws-connection-warning.tsx
  ui/components/attack-paths/scan-selection/index.ts
  ui/components/attack-paths/scan-selection/scan-list-table.tsx
  ui/components/attack-paths/scan-selection/scan-status-badge.tsx
  ui/components/attack-paths/workflow/index.ts
  ui/components/attack-paths/workflow/vertical-steps.tsx
  ui/components/attack-paths/workflow/workflow-attack-paths.tsx
  ui/hooks/attack-paths/index.ts
  ui/hooks/attack-paths/use-graph-state.ts
  ui/hooks/attack-paths/use-query-builder.ts
  ui/hooks/attack-paths/use-wizard-state.ts
  ui/lib/attack-paths/graph-colors.ts
  ui/lib/attack-paths/mock-data.ts
  ui/lib/menu-list.ts
  ui/package-lock.json
  ui/types/attack-paths.ts
  ui/ui/.husky/pre-commit
Due: none

fix(iac): add trivy installation in CLI image
  Dockerfile
Due: none

feat(aws): add CloudTrail enrichment to findings
  docs/user-guide/providers/aws/cloudtrail-enrichment.mdx
  prowler/lib/check/check.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/ocsf/ocsf.py
  prowler/lib/scan/network_scanner.py
  prowler/lib/scan/scan.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  prowler/providers/aws/services/cloudtrail/lib/__init__.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/__init__.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/cloudtrail_enricher.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/formatters.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/models.py
  prowler/providers/common/models.py
  tests/providers/aws/services/cloudtrail/lib/enrichment/__init__.py
  tests/providers/aws/services/cloudtrail/lib/enrichment/test_formatters.py
  tests/providers/aws/services/cloudtrail/lib/enrichment/test_models.py
Due: prowler

chore: revision
  prowler/lib/scan/network_scanner.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/cloudtrail_enricher.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/formatters.py
Due: prowler

fix: test
  tests/providers/aws/services/cloudtrail/lib/enrichment/test_models.py
Due: none

fix: lib tests
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/html/html_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
Due: none

chore: refactor
  docs/user-guide/providers/aws/cloudtrail-enrichment.mdx
  prowler/lib/check/check.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/ocsf/ocsf.py
  prowler/lib/scan/scan.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/common/models.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/html/html_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
Due: prowler

chore: refactor
  prowler/lib/check/check.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/finding.py
  prowler/lib/scan/scan.py
Due: prowler

chore: refactor
  prowler/lib/scan/scan.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/cloudtrail_enricher.py
Due: prowler

chore: refactor
  prowler/providers/aws/services/cloudtrail/lib/enrichment/cloudtrail_enricher.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/models.py
  tests/providers/aws/services/cloudtrail/lib/enrichment/test_models.py
Due: prowler

chore: improvement
  prowler/providers/aws/services/cloudtrail/lib/enrichment/cloudtrail_enricher.py
  tests/providers/aws/services/cloudtrail/lib/enrichment/test_cloudtrail_enricher.py
Due: prowler

chore: refactor
  prowler/providers/aws/services/cloudtrail/lib/enrichment/cloudtrail_enricher.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/formatters.py
  prowler/providers/aws/services/cloudtrail/lib/enrichment/models.py
  tests/providers/aws/services/cloudtrail/lib/enrichment/test_formatters.py
  tests/providers/aws/services/cloudtrail/lib/enrichment/test_models.py
Due: prowler

chore: moving files
  prowler/providers/aws/lib/cloudtrail_enrichment/__init__.py
  prowler/providers/aws/lib/cloudtrail_enrichment/cloudtrail_enricher.py
  prowler/providers/aws/lib/cloudtrail_enrichment/formatters.py
  prowler/providers/aws/lib/cloudtrail_enrichment/models.py
  tests/providers/aws/lib/cloudtrail_enrichment/__init__.py
  tests/providers/aws/lib/cloudtrail_enrichment/cloudtrail_enricher_test.py
  tests/providers/aws/lib/cloudtrail_enrichment/formatters_test.py
  tests/providers/aws/lib/cloudtrail_enrichment/models_test.py
Due: prowler

chore: add noqa
  prowler/providers/aws/lib/cloudtrail_enrichment/models.py
Due: prowler

chore: renaming
  prowler/providers/aws/lib/cloudtrail_timeline/__init__.py
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  prowler/providers/aws/lib/cloudtrail_timeline/formatters.py
  prowler/providers/aws/lib/cloudtrail_timeline/models.py
  tests/providers/aws/lib/cloudtrail_timeline/__init__.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
  tests/providers/aws/lib/cloudtrail_timeline/formatters_test.py
  tests/providers/aws/lib/cloudtrail_timeline/models_test.py
Due: prowler

chore: solve comment
  prowler/providers/aws/lib/cloudtrail_timeline/models.py
Due: prowler

feat(aws): Update regions for AWS services (#9243)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(iac): add trivy installation in CLI image (#9247)
  Dockerfile
Due: none

fix(attack-paths): Fix infinite update loop and button widths
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/page.tsx
  ui/components/attack-paths/scan-selection/scan-list-table.tsx
Due: none

feat: Enhance Lighthouse UI with new animated banner and collapsible sidebar components
  ui/app/(prowler)/page.tsx
  ui/components/feeds/feeds-client.tsx
  ui/components/lighthouse/banner-client.tsx
  ui/components/lighthouse/banner.tsx
  ui/components/ui/nav-bar/navbar-client.tsx
  ui/components/ui/sidebar/collapse-menu-button.tsx
  ui/components/ui/sidebar/collapsible-menu.tsx
  ui/components/ui/sidebar/index.ts
  ui/components/ui/sidebar/menu-item.tsx
  ui/components/ui/sidebar/menu.tsx
  ui/components/ui/sidebar/submenu-item.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/components/users/forms/edit-form.tsx
  ui/styles/globals.css
  ui/tailwind.config.js
Due: none

feat(attack-paths): Implement graph export functionality
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/page.tsx
  ui/components/attack-paths/graph/attack-path-graph.tsx
  ui/lib/attack-paths/export.ts
Due: none

feat: Update collapsible menu component to respond to sidebar state and improve styling
  ui/components/ui/sidebar/collapsible-menu.tsx
  ui/components/ui/sidebar/menu.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
Due: none

refactor(api): remove ServiceOverviewFilter and update related tests
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

chore: update changelog
  api/CHANGELOG.md
Due: api

feat(ui): add mongodbatlas icon and form
  ui/components/icons/providers-badge/mongodbatlas-provider-badge.tsx
  ui/components/providers/workflow/forms/via-credentials/mongodbatlas-credentials-form.tsx
Due: none

feat(ui): add changelog and update docs
  README.md
  docs/introduction.mdx
  ui/CHANGELOG.md
Due: none

feat(ui): add mongodbatlas to providers workflow
  ui/app/(prowler)/new-overview/components/accounts-selector.tsx
  ui/app/(prowler)/new-overview/components/provider-type-selector.tsx
  ui/components/filters/custom-provider-inputs.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/icons/providers-badge/index.ts
  ui/components/overview/provider-overview/provider-overview.tsx
  ui/components/providers/enhanced-provider-selector.tsx
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/via-credentials/index.ts
  ui/components/ui/entities/get-provider-logo.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/error-mappings.ts
  ui/lib/external-urls.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
  ui/types/providers.ts
Due: none

docs: fix mutelist broken links
  docs/user-guide/tutorials/prowler-app-mute-findings.mdx
Due: none

docs: fix mutelist broken links (#9249)
  docs/user-guide/tutorials/prowler-app-mute-findings.mdx
Due: none

fix(ui): point to new doc link
  ui/components/findings/table/delta-indicator.tsx
Due: none

fix: update links in DeltaIndicator and align menu items
  ui/components/findings/table/delta-indicator.tsx
  ui/components/ui/sidebar/collapsible-menu.tsx
  ui/components/ui/sidebar/menu-item.tsx
Due: none

refactor: update selector styles
  ui/components/feeds/feeds-client.tsx
  ui/components/shadcn/select/select.tsx
  ui/components/ui/nav-bar/navbar-client.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/styles/globals.css
Due: none

refactor: skeletons and tooltips
  ui/components/ThemeSwitch.tsx
  ui/components/feeds/feeds-client.tsx
  ui/components/findings/table/skeleton-table-findings.tsx
  ui/components/invitations/table/skeleton-table-invitations.tsx
  ui/components/manage-groups/table/skeleton-table-groups.tsx
  ui/components/overview/new-findings-table/table/skeleton-table-new-findings.tsx
  ui/components/providers/table/skeleton-table-provider.tsx
  ui/components/resources/skeleton/skeleton-table-resources.tsx
  ui/components/roles/table/skeleton-table-roles.tsx
  ui/components/scans/table/skeleton-table-scans.tsx
  ui/components/shadcn/tooltip.tsx
  ui/components/ui/sidebar/collapsible-menu.tsx
  ui/components/ui/sidebar/menu-item.tsx
  ui/components/ui/sidebar/menu.tsx
  ui/components/ui/sidebar/sidebar-toggle.tsx
  ui/components/ui/sidebar/submenu-item.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/components/users/table/skeleton-table-user.tsx
  ui/lib/menu-list.ts
Due: none

feat(aws-simulator): add initial implementation for AWS simulation feature
  prowler/providers/aws/lib/simulate_policy/__init__.py
  prowler/providers/aws/lib/simulate_policy/simulate_policy_client.py
  prowler/providers/aws/lib/simulate_policy/simulate_policy_service.py
Due: prowler

chore: update changelog
  ui/CHANGELOG.md
Due: none

Fix typos in some files
  dashboard/pages/overview.py
Due: none

feat: add mcp-server to docker-compose-dev
  .env
  docker-compose-dev.yml
  ui/lib/lighthouse/mcp-client.ts
Due: none

fix: semantic classes updated for errors and input components
  ui/components/auth/oss/sign-up-form.tsx
  ui/components/compliance/compliance-charts/bar-chart.tsx
  ui/components/compliance/compliance-charts/pie-chart.tsx
  ui/components/compliance/index.ts
  ui/components/findings/send-to-jira-modal.tsx
  ui/components/graphs/shared/alert-pill.tsx
  ui/components/graphs/threat-map.tsx
  ui/components/integrations/security-hub/security-hub-integrations-manager.tsx
  ui/components/invitations/invitation-details.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/invitations/workflow/workflow-send-invite.tsx
  ui/components/lighthouse/chat.tsx
  ui/components/lighthouse/connect-llm-provider.tsx
  ui/components/lighthouse/select-model.tsx
  ui/components/providers/enhanced-provider-selector.tsx
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/radio-group-aws-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/radio-group-gcp-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/radio-group-github-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/radio-group-m365-via-credentials-type-form.tsx
  ui/components/providers/workflow/workflow-add-provider.tsx
  ui/components/roles/workflow/workflow-add-edit-role.tsx
  ui/components/ui/chart/Chart.tsx
  ui/components/ui/chart/horizontal-split-chart.tsx
  ui/components/ui/custom/custom-input.tsx
  ui/components/ui/custom/custom-textarea.tsx
  ui/components/ui/index.ts
  ui/styles/globals.css
Due: none

refactor: old tailwind classes cleaning
  ui/tailwind.config.js
Due: none
