Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(changelog): v5.40.0 highlights
  docs/changelog.mdx
Due: none

chore(changelog): v5.40.0 highlights images
  docs/images/changelog/v5.40.0-imported-provider-indicator.png
Due: none

fix: typo
  docs/changelog.mdx
Due: none

feat(iam): add iam_policy_sensitive_actions_require_mfa_condition check
  prowler/providers/aws/services/iam/iam_policy_sensitive_actions_require_mfa_condition/__init__.py
  prowler/providers/aws/services/iam/iam_policy_sensitive_actions_require_mfa_condition/iam_policy_sensitive_actions_require_mfa_condition.metadata.json
  prowler/providers/aws/services/iam/iam_policy_sensitive_actions_require_mfa_condition/iam_policy_sensitive_actions_require_mfa_condition.py
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/iam_policy_sensitive_actions_require_mfa_condition/iam_policy_sensitive_actions_require_mfa_condition_test.py
Due: prowler

refactor(jira): O(1) key dedup in get_issues_status and document the all-or-nothing contract
  prowler/lib/outputs/jira/jira.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler

feat(jira): return the created issue, sanitize labels and add bulk status lookup
  prowler/changelog.d/jira-finding-labels-url.added.md
  prowler/changelog.d/jira-get-issues-status.added.md
  prowler/lib/outputs/jira/exceptions/exceptions.py
  prowler/lib/outputs/jira/jira.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler

fix(jira): match issue keys against the whole string in get_issues_status
  prowler/lib/outputs/jira/jira.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler

fix(iac): raise typed exceptions instead of sys.exit on provider failures
  prowler/__main__.py
  prowler/changelog.d/iac-clone-failure-exit.fixed.md
  prowler/providers/iac/exceptions/__init__.py
  prowler/providers/iac/exceptions/exceptions.py
  prowler/providers/iac/iac_provider.py
  tests/providers/iac/iac_provider_test.py
Due: prowler

fix(ui): complete Slack OAuth callback server-side to avoid router race
  ui/actions/integrations/slack.test.ts
  ui/actions/integrations/slack.ts
  ui/app/(prowler)/integrations/slack/callback/page.tsx
  ui/app/(prowler)/integrations/slack/callback/route.test.ts
  ui/app/(prowler)/integrations/slack/callback/route.ts
  ui/app/(prowler)/integrations/slack/slack-callback-page.integration.test.tsx
  ui/app/(prowler)/integrations/slack/slack-connect-notice.integration.test.tsx
  ui/app/(prowler)/integrations/slack/slack-integration-content.tsx
  ui/app/(prowler)/integrations/slack/slack-integration.harness.ts
  ui/app/(prowler)/integrations/slack/slack-page.integration.test.tsx
  ui/changelog.d/slack-oauth-callback-redirect.fixed.md
  ui/components/integrations/slack/slack-callback.test.tsx
  ui/components/integrations/slack/slack-callback.tsx
  ui/components/integrations/slack/slack-connect-notice.tsx
  ui/lib/integrations/slack-connect-status.test.ts
  ui/lib/integrations/slack-connect-status.ts
Due: none

fix(ui): align Slack channels notice link size, drop redundant tooltip
  ui/app/(prowler)/alerts/_components/slack-channels-field.tsx
Due: none

fix(sdk): use system trust store for push-to-cloud (#12485)
  docs/user-guide/tutorials/prowler-import-findings.mdx
  prowler/__main__.py
  prowler/changelog.d/push-to-cloud-system-trust.fixed.md
  prowler/lib/outputs/ocsf/ingestion.py
  pyproject.toml
  tests/lib/outputs/ocsf/ingestion_cli_test.py
  tests/lib/outputs/ocsf/ingestion_test.py
  uv.lock
Due: prowler

chore: remove mcp changes
  docs/changelog.mdx
Due: none

fix(ui): apply review polish to the Slack OAuth callback
  ui/actions/integrations/slack.test.ts
  ui/actions/integrations/slack.ts
  ui/app/(prowler)/integrations/slack/callback/route.test.ts
  ui/app/(prowler)/integrations/slack/callback/route.ts
  ui/app/(prowler)/integrations/slack/slack-integration.harness.ts
  ui/changelog.d/slack-oauth-callback-redirect.fixed.md
  ui/components/integrations/slack/slack-connect-notice.tsx
Due: none

fix(iac): raise typed exceptions instead of sys.exit on provider failures (#12227)
  prowler/__main__.py
  prowler/changelog.d/iac-clone-failure-exit.fixed.md
  prowler/providers/iac/exceptions/__init__.py
  prowler/providers/iac/exceptions/exceptions.py
  prowler/providers/iac/iac_provider.py
  tests/providers/iac/iac_provider_test.py
Due: prowler

docs(changelog): credit IaC typed exceptions fix in v5.40.0 external contributors
  docs/changelog.mdx
Due: none

fix: address CodeRabbit review feedback on MFA condition check
  prowler/providers/aws/services/iam/iam_policy_sensitive_actions_require_mfa_condition/iam_policy_sensitive_actions_require_mfa_condition.py
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/iam_policy_sensitive_actions_require_mfa_condition/iam_policy_sensitive_actions_require_mfa_condition_test.py
Due: prowler

fix(ui): harden Slack OAuth callback handling
  ui/app/(prowler)/alerts/_components/slack-channels-field.tsx
  ui/app/(prowler)/integrations/slack/slack-connect-notice.integration.test.tsx
  ui/app/(prowler)/integrations/slack/slack-integration-content.tsx
  ui/components/integrations/slack/slack-connect-notice.tsx
  ui/proxy.test.ts
  ui/proxy.ts
Due: none

remove workflows + optimize enums
  .github/actions/prowler-audit/action.yml
  .github/workflows/audit-agent.yml
  .gitignore
  contrib/audit-agent/README.md
  contrib/audit-agent/audit_agent/__init__.py
  contrib/audit-agent/audit_agent/__main__.py
  contrib/audit-agent/audit_agent/config.py
  contrib/audit-agent/audit_agent/enums.py
  contrib/audit-agent/audit_agent/prowler_compliance.py
  contrib/audit-agent/audit_agent/render.py
  contrib/audit-agent/audit_agent/scan.py
  contrib/audit-agent/targets.yml
  contrib/audit-agent/workflows/prowler-audit-pr.yml
  contrib/audit-agent/workflows/prowler-audit-scheduled.yml
  docs/developer-guide/audit-agent.mdx
  prowler/changelog.d/audit-agent.added.md
Due: prowler

fix(ui): handle Slack OAuth callback edge cases
  ui/app/(prowler)/integrations/slack/callback/route.test.ts
  ui/app/(prowler)/integrations/slack/callback/route.ts
  ui/app/(prowler)/integrations/slack/slack-connect-notice.integration.test.tsx
  ui/app/(prowler)/integrations/slack/slack-integration.harness.ts
  ui/components/integrations/slack/slack-connect-notice.tsx
Due: none

Remove option for running the agent in the docker
  contrib/audit-agent/README.md
  contrib/audit-agent/audit_agent/__main__.py
  contrib/audit-agent/audit_agent/scan.py
Due: none

feat: add CLI Audit Agent for SOC 2 and ISO 27001
  .gitignore
  contrib/audit-agent/.gitignore
  contrib/audit-agent/README.md
  contrib/audit-agent/audit_agent/__init__.py
  contrib/audit-agent/audit_agent/__main__.py
  contrib/audit-agent/audit_agent/config.py
  contrib/audit-agent/audit_agent/enums.py
  contrib/audit-agent/audit_agent/github_api.py
  contrib/audit-agent/audit_agent/map_controls.py
  contrib/audit-agent/audit_agent/prowler_compliance.py
  contrib/audit-agent/audit_agent/render.py
  contrib/audit-agent/audit_agent/report_files.py
  contrib/audit-agent/audit_agent/scan.py
  contrib/audit-agent/mappings/soc2_iso27001.json
  contrib/audit-agent/prowler-audit.yml.example
  contrib/audit-agent/run.py
  docs/developer-guide/audit-agent.mdx
  docs/docs.json
  tests/contrib/conftest.py
  tests/contrib/test_audit_agent.py
Due: none

fix(kubernetes): parse kubelet ConfigMaps independently and document gatherers
  prowler/changelog.d/kubernetes-control-plane-pods-none.fixed.md
  prowler/providers/kubernetes/services/apiserver/apiserver_service.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service.py
  prowler/providers/kubernetes/services/etcd/etcd_service.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service.py
  prowler/providers/kubernetes/services/scheduler/scheduler_service.py
  tests/providers/kubernetes/services/control_plane_pods_test.py
Due: prowler

orchestration layer + refactoring
  contrib/audit-agent/README.md
  contrib/audit-agent/audit_agent/__init__.py
  contrib/audit-agent/audit_agent/__main__.py
  contrib/audit-agent/audit_agent/config.py
  contrib/audit-agent/audit_agent/enums.py
  contrib/audit-agent/audit_agent/github_api.py
  contrib/audit-agent/audit_agent/http_util.py
  contrib/audit-agent/audit_agent/map_controls.py
  contrib/audit-agent/audit_agent/pipeline.py
  contrib/audit-agent/audit_agent/prowler_compliance.py
  contrib/audit-agent/audit_agent/render.py
  contrib/audit-agent/audit_agent/scan.py
  tests/contrib/test_audit_agent.py
Due: none

fix: reject BoolIfExists and mixed MFA condition values
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/iam_policy_sensitive_actions_require_mfa_condition/iam_policy_sensitive_actions_require_mfa_condition_test.py
Due: prowler

docs(changelog): reword Slack zero-findings fragment and drop the BOM
  prowler/changelog.d/slack-zero-findings.fixed.md
Due: prowler

Clean Architecture for better readability
  contrib/audit-agent/README.md
  contrib/audit-agent/audit_agent/__init__.py
  contrib/audit-agent/audit_agent/__main__.py
  contrib/audit-agent/audit_agent/application/__init__.py
  contrib/audit-agent/audit_agent/application/map_controls.py
  contrib/audit-agent/audit_agent/application/pipeline.py
  contrib/audit-agent/audit_agent/domain/__init__.py
  contrib/audit-agent/audit_agent/domain/enums.py
  contrib/audit-agent/audit_agent/infrastructure/__init__.py
  contrib/audit-agent/audit_agent/infrastructure/config.py
  contrib/audit-agent/audit_agent/infrastructure/github.py
  contrib/audit-agent/audit_agent/infrastructure/http.py
  contrib/audit-agent/audit_agent/infrastructure/prowler_compliance.py
  contrib/audit-agent/audit_agent/infrastructure/scan.py
  contrib/audit-agent/audit_agent/reporting/__init__.py
  contrib/audit-agent/audit_agent/reporting/render.py
  contrib/audit-agent/audit_agent/reporting/reports.py
  tests/contrib/test_audit_agent.py
Due: none

fix(ui): harden Slack OAuth callback guards
  ui/app/(prowler)/integrations/slack/callback/route.test.ts
  ui/app/(prowler)/integrations/slack/callback/route.ts
  ui/auth.config.ts
  ui/lib/integrations/slack-connect-status.ts
  ui/proxy.test.ts
  ui/proxy.ts
Due: none

feat(compliance): add Cyber Essentials 3.3 for Azure (#11588)
  prowler/changelog.d/cyber-essentials-3.3.added.md
  prowler/compliance/cyber_essentials_3.3.json
  tests/lib/check/universal_compliance_models_test.py
  ui/changelog.d/cyber-essentials-3.3.added.md
  ui/components/compliance/compliance-custom-details/cyber-essentials-details.tsx
  ui/components/icons/compliance/IconCompliance.test.ts
  ui/components/icons/compliance/IconCompliance.tsx
  ui/components/icons/compliance/cyber-essentials.svg
  ui/lib/compliance/compliance-mapper.test.ts
  ui/lib/compliance/compliance-mapper.ts
  ui/lib/compliance/cyber-essentials.test.ts
  ui/lib/compliance/cyber-essentials.tsx
  ui/types/compliance.ts
Due: prowler

test(ui): pin the auth ordering the Slack callback fix depends on
  ui/proxy.test.ts
Due: none

feat: add reliable Jira issue delivery results
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tests/test_integrations.py
  prowler/changelog.d/jira-finding-labels-url.added.md
  prowler/changelog.d/jira-get-issues-status.added.md
  prowler/lib/outputs/jira/jira.py
  prowler/lib/outputs/jira/models.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler, api

docs(sdk): clarify Google Workspace spoofing docstrings and typing
  prowler/changelog.d/googleworkspace-cis-full-audit-procedures.changed.md
  prowler/changelog.d/googleworkspace-cis-login-challenges-unmapped.changed.md
  prowler/providers/googleworkspace/services/gmail/gmail_domain_spoofing_protection_enabled/gmail_domain_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_employee_name_spoofing_protection_enabled/gmail_employee_name_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_groups_spoofing_protection_enabled/gmail_groups_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_inbound_domain_spoofing_protection_enabled/gmail_inbound_domain_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/rules/lib/alerts.py
Due: prowler

fix(azure): normalize policy definition ID equality and restrict assignments to atScope
  prowler/providers/azure/services/policy/policy_service.py
  tests/providers/azure/services/policy/policy_ensure_allowed_locations_is_enabled/policy_ensure_allowed_locations_is_enabled_test.py
  tests/providers/azure/services/policy/policy_service_test.py
Due: prowler

feat(azure): add policy_ensure_allowed_locations_is_enabled check
  prowler/providers/azure/services/policy/policy_ensure_allowed_locations_is_enabled/__init__.py
  prowler/providers/azure/services/policy/policy_ensure_allowed_locations_is_enabled/policy_ensure_allowed_locations_is_enabled.metadata.json
  prowler/providers/azure/services/policy/policy_ensure_allowed_locations_is_enabled/policy_ensure_allowed_locations_is_enabled.py
  prowler/providers/azure/services/policy/policy_service.py
  tests/providers/azure/services/policy/policy_ensure_allowed_locations_is_enabled/policy_ensure_allowed_locations_is_enabled_test.py
Due: prowler

fix(azure): remove unused get_asc_default_policy and add changelog for allowed locations check
  prowler/changelog.d/policy-allowed-locations.added.md
  prowler/providers/azure/services/policy/policy_service.py
Due: prowler

chore(changelog): add compliance info
  docs/changelog.mdx
Due: none

fix(ui): complete Slack OAuth callback server-side to avoid router race (#12572)
  ui/actions/integrations/slack.test.ts
  ui/actions/integrations/slack.ts
  ui/app/(prowler)/alerts/_components/slack-channels-field.tsx
  ui/app/(prowler)/integrations/slack/callback/page.tsx
  ui/app/(prowler)/integrations/slack/callback/route.test.ts
  ui/app/(prowler)/integrations/slack/callback/route.ts
  ui/app/(prowler)/integrations/slack/slack-callback-page.integration.test.tsx
  ui/app/(prowler)/integrations/slack/slack-connect-notice.integration.test.tsx
  ui/app/(prowler)/integrations/slack/slack-integration-content.tsx
  ui/app/(prowler)/integrations/slack/slack-integration.harness.ts
  ui/app/(prowler)/integrations/slack/slack-page.integration.test.tsx
  ui/auth.config.ts
  ui/changelog.d/slack-oauth-callback-redirect.fixed.md
  ui/components/integrations/slack/slack-callback.test.tsx
  ui/components/integrations/slack/slack-callback.tsx
  ui/components/integrations/slack/slack-connect-notice.tsx
  ui/lib/integrations/slack-connect-status.test.ts
  ui/lib/integrations/slack-connect-status.ts
  ui/proxy.test.ts
  ui/proxy.ts
Due: none

fix(kubernetes): return empty list when resource gather fails (#12225)
  prowler/changelog.d/kubernetes-control-plane-pods-none.fixed.md
  prowler/providers/kubernetes/services/apiserver/apiserver_service.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service.py
  prowler/providers/kubernetes/services/etcd/etcd_service.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service.py
  prowler/providers/kubernetes/services/scheduler/scheduler_service.py
  tests/providers/kubernetes/services/control_plane_pods_test.py
Due: prowler

docs(changelog): credit Kubernetes kubelet ConfigMap fix in v5.40.0 external contributors
  docs/changelog.mdx
Due: none
