Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(ui): align scan schedule estimates and actions with backend contract
  ui/components/providers/wizard/steps/launch-step.test.tsx
  ui/components/providers/wizard/steps/launch-step.tsx
  ui/components/scans/schedule/scan-schedule-fields.tsx
  ui/lib/schedules.test.ts
  ui/lib/schedules.ts
  ui/types/schedules.ts
Due: none

fix(api): correct changelog PR link and test resource name refresh - Pt. II
  api/src/backend/tasks/tests/.claude/plans/floating-puzzling-graham.md
Due: api

fix(ui): extend integration poll timeouts to 60s (#11519)
  ui/CHANGELOG.md
  ui/actions/integrations/integrations.ts
  ui/actions/integrations/jira-dispatch.ts
Due: none

fix(api): make SAML role assignment atomic and align SSO docs
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  docs/user-guide/tutorials/prowler-app-sso-google-workspace.mdx
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: api

fix(api): store and refresh Resource.name on every scan (#11476)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

feat(dashboard): render dynamic-provider compliance frameworks (#11503)
  dashboard/common_methods.py
  dashboard/compliance/generic.py
  dashboard/lib/layouts.py
  dashboard/pages/compliance.py
  dashboard/pages/overview.py
  tests/dashboard/__init__.py
  tests/dashboard/common_methods_test.py
  tests/dashboard/compliance/__init__.py
  tests/dashboard/compliance/generic_test.py
  tests/dashboard/pages/__init__.py
  tests/dashboard/pages/compliance_dispatch_test.py
  tests/dashboard/pages/conftest.py
  tests/dashboard/pages/scope_columns_test.py
Due: none

feat(compliance): add Okta IDaaS STIG V1R2 framework (#11428)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/export.py
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/compliance/okta/__init__.py
  prowler/compliance/okta/okta_idaas_stig_v1r2_okta.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/okta_idaas_stig/__init__.py
  prowler/lib/outputs/compliance/okta_idaas_stig/models.py
  prowler/lib/outputs/compliance/okta_idaas_stig/okta_idaas_stig.py
  prowler/lib/outputs/compliance/okta_idaas_stig/okta_idaas_stig_okta.py
  tests/lib/outputs/compliance/display_compliance_table_test.py
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/okta_idaas_stig/okta_idaas_stig_okta_test.py
  ui/CHANGELOG.md
  ui/components/compliance/compliance-custom-details/asd-essential-eight-details.tsx
  ui/components/compliance/compliance-custom-details/aws-well-architected-details.tsx
  ui/components/compliance/compliance-custom-details/ccc-details.tsx
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/components/compliance/compliance-custom-details/csa-details.tsx
  ui/components/compliance/compliance-custom-details/dora-details.tsx
  ui/components/compliance/compliance-custom-details/ens-details.tsx
  ui/components/compliance/compliance-custom-details/generic-details.tsx
  ui/components/compliance/compliance-custom-details/mitre-details.tsx
  ui/components/compliance/compliance-custom-details/okta-idaas-stig-details.tsx
  ui/components/compliance/compliance-custom-details/shared-components.tsx
  ui/components/compliance/compliance-custom-details/threat-details.tsx
  ui/components/icons/compliance/IconCompliance.test.ts
  ui/components/icons/compliance/IconCompliance.tsx
  ui/components/icons/compliance/okta.svg
  ui/components/shadcn/badge/badge.test.tsx
  ui/components/shadcn/badge/badge.tsx
  ui/lib/compliance/ccc.tsx
  ui/lib/compliance/compliance-mapper.test.ts
  ui/lib/compliance/compliance-mapper.ts
  ui/lib/compliance/okta-idaas-stig.tsx
  ui/types/compliance.ts
Due: prowler, api

chore(api): add changelog entry for SAML userType role assignment
  api/CHANGELOG.md
Due: api

fix(e2e): use branch SDK changes to create the container
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

fix(e2e): use branch SDK changes to create the container (#11522)
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

chore: revision
  prowler/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/bedrock_agent_role_least_privilege.py
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/__init__.py
  tests/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/bedrock_agent_role_least_privilege_test.py
Due: prowler

fix: black
  prowler/providers/aws/services/bedrock/bedrock_service.py
Due: prowler

chore: add docstrings
  prowler/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/bedrock_agent_role_least_privilege.py
  prowler/providers/aws/services/iam/iam_service.py
Due: prowler

fix(api): renumber attack_paths_scan is_migrated migration after merge
  api/CHANGELOG.md
  api/src/backend/api/migrations/0096_attack_paths_scan_is_migrated.py
Due: api

feat(bedrock): add bedrock_agent_role_least_privilege check (#11335)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/__init__.py
  prowler/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/bedrock_agent_role_least_privilege.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/bedrock_agent_role_least_privilege.py
  prowler/providers/aws/services/bedrock/bedrock_service.py
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/services/bedrock/bedrock_agent_role_least_privilege/bedrock_agent_role_least_privilege_test.py
Due: prowler

fix(sdk): discover StackIT ObjectStorage keys by group
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  tests/providers/stackit/services/objectstorage/stackit_objectstorage_service_test.py
Due: prowler

docs(sdk): update StackIT ObjectStorage release metadata
  README.md
  prowler/CHANGELOG.md
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_object_lock_enabled/objectstorage_bucket_object_lock_enabled.metadata.json
Due: prowler

docs(changelog): add PR number to Neptune sink entry
  api/CHANGELOG.md
  api/uv.lock
Due: api

fix: final revision
  prowler/providers/stackit/services/objectstorage/objectstorage_access_key_expiration/objectstorage_access_key_expiration.metadata.json
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_object_lock_enabled/objectstorage_bucket_object_lock_enabled.metadata.json
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_retention_policy/objectstorage_bucket_retention_policy.metadata.json
  tests/providers/stackit/services/objectstorage/__init__.py
  tests/providers/stackit/services/objectstorage/objectstorage_access_key_expiration/__init__.py
  tests/providers/stackit/services/objectstorage/objectstorage_bucket_object_lock_enabled/__init__.py
  tests/providers/stackit/services/objectstorage/objectstorage_bucket_retention_policy/__init__.py
Due: prowler

fix(prowler): move CloudWatch metric filter changelog entry to 5.30.0
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): disable resource analysis limits by default
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/lib/check/resource_limit.py
  tests/lib/check/resource_limit_test.py
Due: prowler

docs(skill): add language hints to code fences in attack-paths-query skill
  skills/prowler-attack-paths-query/SKILL.md
Due: none

feat(oci): add storage admin delete exclusion check
  prowler/CHANGELOG.md
  prowler/compliance/oraclecloud/cis_3.1_oraclecloud.json
  prowler/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/__init__.py
  prowler/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/identity_storage_service_level_admins_scoped.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/identity_storage_service_level_admins_scoped.py
  tests/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/identity_storage_service_level_admins_scoped_test.py
Due: prowler

chore(ui): add temporary api-debug logging to scan actions
  ui/actions/scans/scans.ts
  ui/lib/debug-api-log.ts
Due: none

feat(ui): show pending schedules and cadence in scan jobs tabs
  ui/actions/schedules/schedules.ts
  ui/app/(prowler)/scans/page.tsx
  ui/components/providers/wizard/steps/launch-step.tsx
  ui/components/scans/scans.utils.test.ts
  ui/components/scans/scans.utils.ts
  ui/components/scans/schedule/scan-schedule-fields.tsx
  ui/components/scans/table/cells/schedule-cell.tsx
  ui/components/scans/table/scan-jobs-columns.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
  ui/lib/schedules.ts
  ui/types/scans.ts
  ui/types/schedules.ts
Due: none

feat(sdk): apply resource limits to more AWS checks
  prowler/providers/aws/services/awslambda/awslambda_function_env_vars_not_encrypted_with_cmk/awslambda_function_env_vars_not_encrypted_with_cmk.py
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.py
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_dead_letter_queue/awslambda_function_no_dead_letter_queue.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.py
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.py
  prowler/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy.py
  prowler/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public.py
  prowler/providers/aws/services/awslambda/awslambda_function_using_cross_account_layers/awslambda_function_using_cross_account_layers.py
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.py
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.py
  prowler/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_kms_encryption_enabled/cloudwatch_log_group_kms_encryption_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_not_publicly_accessible/cloudwatch_log_group_not_publicly_accessible.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_retention_policy_specific_days_enabled/cloudwatch_log_group_retention_policy_specific_days_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  prowler/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled.py
  prowler/providers/aws/services/ec2/ec2_ebs_public_snapshot/ec2_ebs_public_snapshot.py
  prowler/providers/aws/services/ec2/ec2_ebs_snapshots_encrypted/ec2_ebs_snapshots_encrypted.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_containers_readonly_access/ecs_task_definitions_containers_readonly_access.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_namespace_not_shared/ecs_task_definitions_host_namespace_not_shared.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_networking_mode_users/ecs_task_definitions_host_networking_mode_users.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_logging_block_mode/ecs_task_definitions_logging_block_mode.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_logging_enabled/ecs_task_definitions_logging_enabled.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_privileged_containers/ecs_task_definitions_no_privileged_containers.py
Due: prowler

feat(ui): schedule scans from the launch scan modal
  ui/components/providers/wizard/steps/launch-step.tsx
  ui/components/scans/launch-scan-modal.test.tsx
  ui/components/scans/launch-scan-modal.tsx
  ui/components/scans/scans-page-shell.tsx
  ui/components/scans/schedule/save-schedule.test.ts
  ui/components/scans/schedule/save-schedule.ts
Due: none

chore(ui): remove temporary api-debug logging
  ui/actions/scans/scans.ts
  ui/actions/schedules/schedules.ts
  ui/lib/debug-api-log.ts
Due: none

perf(api): resolve compliance-overviews attributes provider via O(1) index
  api/CHANGELOG.md
  api/src/backend/api/compliance.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(bedrock): per-finding severity for long-term API key check
  prowler/CHANGELOG.md
  prowler/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/bedrock_api_key_no_long_term_credentials.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/bedrock_api_key_no_long_term_credentials.py
  tests/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/bedrock_api_key_no_long_term_credentials_test.py
Due: prowler

fix(ui): use useWatch so schedule fields react under React Compiler
  ui/components/scans/launch-scan-modal.tsx
  ui/components/scans/schedule/scan-schedule-fields.tsx
Due: none

fix(ui): hide fabricated id on pending schedule rows
  ui/components/scans/table/cells/scan-info-cell.tsx
Due: none

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

chore(api): revert uv.lock
  api/uv.lock
Due: api

fix(ui): align schedule removal with header and confirm before deleting
  ui/components/scans/schedule/edit-scan-schedule-modal.test.tsx
  ui/components/scans/schedule/edit-scan-schedule-modal.tsx
  ui/components/scans/schedule/scan-schedule-fields.tsx
Due: none

style(ui): capitalize the scheduled scan alias
  ui/components/scans/scans.utils.test.ts
  ui/components/scans/scans.utils.ts
Due: none

feat(ui): mark pending schedule rows with a tooltip badge
  ui/components/scans/table/cells/scan-info-cell.tsx
Due: none

fix(ui): adapt risk pipeline sankey layout
  ui/components/graphs/sankey-chart.layout.test.ts
  ui/components/graphs/sankey-chart.layout.ts
  ui/components/graphs/sankey-chart.test.tsx
  ui/components/graphs/sankey-chart.tsx
Due: none

fix(api): index temp Neo4j DB on Neptune sink, sign SigV4 Host with port, close legacy drain sink
  api/src/backend/api/attack_paths/sink/neo4j.py
  api/src/backend/api/attack_paths/sink/neptune.py
  api/src/backend/api/tests/test_sink.py
  api/src/backend/tasks/jobs/attack_paths/indexes.py
  api/src/backend/tasks/jobs/attack_paths/legacy_drain.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
