Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix: provider banner while none connected
  ui/app/(prowler)/scans/page.tsx
Due: none

chore: tweaks filters
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/filter-controls.tsx
Due: none

chore: fix linter
  ui/app/(prowler)/page.tsx
  ui/components/filters/filter-controls.tsx
Due: none

feat(models): skip django check from partitioned indexes
  api/src/backend/api/models.py
Due: api

feat: filters relationships in findings and scans page (#8046)
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/compliance/compliance-header/compliance-header.tsx
  ui/components/filters/clear-filters-button.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/filters/data-filters.ts
  ui/components/filters/filter-controls.tsx
  ui/components/filters/index.ts
  ui/components/findings/findings-filters.tsx
  ui/components/providers/provider-info.tsx
  ui/components/scans/index.ts
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/scans-filters.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/hooks/index.ts
  ui/hooks/use-related-filters.ts
  ui/hooks/use-url-filters.ts
  ui/types/filters.ts
Due: none

fix: test credentials
  prowler/providers/m365/lib/powershell/m365_powershell.py
Due: prowler

feat(integrations): add s3 integration
  api/src/backend/api/migrations/0031_alter_integration_configuration_and_more.py
  api/src/backend/api/models.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/connection.py
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tasks.py
  prowler/providers/aws/lib/s3/s3.py
Due: prowler, api

chore: add todo
  api/src/backend/api/utils.py
Due: api

chore: update migrations
  api/src/backend/api/migrations/0031_alter_integration_configuration_and_more.py
Due: api

test(integrations): add s3 integrations unittests
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tests/test_integrations.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

chore: update spec
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

ref(integrations): add some optimizations
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_integrations.py
  api/src/backend/tasks/tests/test_tasks.py
  prowler/providers/aws/lib/s3/s3.py
Due: prowler, api

chore: update changelog
  api/CHANGELOG.md
Due: api

chore: resolve conflicts
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/connection.py
Due: api

chore: fix format
  api/src/backend/api/migrations/0031_alter_integration_configuration_and_more.py
  api/src/backend/tasks/tests/test_integrations.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

fix(export): add missing m365 iso27001 mapping
  api/src/backend/tasks/jobs/export.py
Due: api

feat(dashboard): add dropdown for provider
  dashboard/lib/dropdowns.py
  dashboard/lib/layouts.py
  dashboard/pages/overview.py
Due: none

feat: populate new muted_reason field on findings
  api/src/backend/api/v1/serializers.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

feat: add processor validation and filtering with tests
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

chore: remove unused model migration
  api/src/backend/api/migrations/0033_finding_muted_reason.py
  api/src/backend/api/migrations/0033_finding_muted_reason_mutedfinding.py
Due: api

chore: updated openapi spec
  api/src/backend/api/specs/v1.yaml
Due: api

chore(api): clean up old files (#8051)
  api/.gitignore
  api/.pre-commit-config.yaml
Due: api

chore(ocsf): remove version number and point to the latest
  docs/tutorials/reporting.md
  prowler/lib/outputs/ocsf/ocsf.py
Due: prowler

chore(release): Bump version to v5.7.6
  prowler/config/config.py
  pyproject.toml
Due: prowler

chore(ocsf): remove version number and point to the latest
  docs/tutorials/reporting.md
  prowler/CHANGELOG.md
Due: prowler

chore(ocsf): remove version number and point to the latest (#8064)
  docs/tutorials/reporting.md
  prowler/CHANGELOG.md
  prowler/lib/outputs/ocsf/ocsf.py
Due: prowler

fix(changelog): Add missing entries
  ui/CHANGELOG.md
Due: none

fix(changelog): Add missing entries (#8066)
  ui/CHANGELOG.md
Due: none

chore(release): Bump version to v5.7.6 (#8065)
  prowler/config/config.py
  pyproject.toml
Due: prowler

fix(azure): make AlertRule description field optional
  prowler/providers/azure/services/monitor/monitor_service.py
Due: prowler

feat(azure): add monitor_alert_service_health check
  prowler/providers/azure/services/monitor/monitor_alert_service_health_exists/__init__.py
  prowler/providers/azure/services/monitor/monitor_alert_service_health_exists/monitor_alert_service_health_exists.metadata.json
  prowler/providers/azure/services/monitor/monitor_alert_service_health_exists/monitor_alert_service_health_exists.py
Due: prowler

test(azure): add tests for monitor_alert_service_health check
  tests/providers/azure/services/monitor/monitor_alert_service_health_exists/monitor_alert_service_health_exists_test.py
Due: none

docs(changelog): add monitor_alert_service_health check
  prowler/CHANGELOG.md
Due: prowler

Update .github/workflows/pull-request-check-changelog.yml
  .github/workflows/pull-request-check-changelog.yml
Due: none

docs(changelog): update PR link for new check
  prowler/CHANGELOG.md
Due: prowler

chore(actions): actions with commit-sha instead of version
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(actions): change tag name
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): check changelog changes on pull request (#7991)
  .github/workflows/pull-request-check-changelog.yml
Due: none

feat(lighthouse): add openai base url to env file
  .env
Due: none

feat: wip on saml ui integration
  ui/actions/integrations/index.ts
  ui/actions/integrations/saml.ts
  ui/app/(prowler)/integrations/page.tsx
  ui/components/integrations/forms/index.ts
  ui/components/integrations/forms/saml-config-form.tsx
  ui/components/integrations/index.ts
  ui/components/integrations/saml-integration-card.tsx
  ui/components/ui/form/form-buttons.tsx
  ui/components/ui/form/index.ts
  ui/components/ui/user-nav/user-nav.tsx
  ui/components/users/forms/edit-tenant-form.tsx
Due: none
