Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore(sdk): consolidate CHANGELOG entry for URL updates
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): populate AdditionalURLs for checks left empty after cleanup
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.metadata.json
  prowler/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private.metadata.json
Due: prowler

fix(sdk): update CodePipeline metadata to modern format and guidelines
  prowler/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private.metadata.json
Due: prowler

fix(sdk): use singular form in CodePipeline check title and description
  prowler/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private.metadata.json
Due: prowler

fix(kms): detect public access for any KMS action, not just kms:* (#10071)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.py
  tests/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible_test.py
Due: prowler

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(kms): detect public access for any KMS action, not just kms:* (#10075)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.py
  tests/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible_test.py
Due: prowler

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/fixtures/dev/8_dev_attack_paths_scans.json
  api/src/backend/api/migrations/0077_remove_attackpathsscan_graph_database_fields.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan -- Add api/CHANGELOG.md entry
  api/CHANGELOG.md
Due: api

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan - little extra refactor
  api/src/backend/api/v1/views.py
Due: api

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan - Fix migrations
  api/src/backend/api/migrations/0077_remove_attackpathsscan_graph_database_fields.py
Due: api

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan - Fix migrations, for real
  api/src/backend/api/migrations/0077_remove_attackpathsscan_graph_database_indexes.py
  api/src/backend/api/migrations/0078_remove_attackpathsscan_graph_database_fields.py
Due: api

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan - Fix tests
  api/src/backend/api/tests/test_views.py
Due: api

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan - Fix ruff
  api/src/backend/api/tests/test_views.py
Due: api

feat(openstack): Add 7 New Compute Security Checks (#9944)
  prowler/CHANGELOG.md
  prowler/providers/openstack/services/compute/compute_instance_config_drive_enabled/__init__.py
  prowler/providers/openstack/services/compute/compute_instance_config_drive_enabled/compute_instance_config_drive_enabled.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_config_drive_enabled/compute_instance_config_drive_enabled.py
  prowler/providers/openstack/services/compute/compute_instance_isolated_private_network/__init__.py
  prowler/providers/openstack/services/compute/compute_instance_isolated_private_network/compute_instance_isolated_private_network.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_isolated_private_network/compute_instance_isolated_private_network.py
  prowler/providers/openstack/services/compute/compute_instance_key_based_authentication/__init__.py
  prowler/providers/openstack/services/compute/compute_instance_key_based_authentication/compute_instance_key_based_authentication.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_key_based_authentication/compute_instance_key_based_authentication.py
  prowler/providers/openstack/services/compute/compute_instance_locked_status_enabled/__init__.py
  prowler/providers/openstack/services/compute/compute_instance_locked_status_enabled/compute_instance_locked_status_enabled.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_locked_status_enabled/compute_instance_locked_status_enabled.py
  prowler/providers/openstack/services/compute/compute_instance_metadata_sensitive_data/__init__.py
  prowler/providers/openstack/services/compute/compute_instance_metadata_sensitive_data/compute_instance_metadata_sensitive_data.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_metadata_sensitive_data/compute_instance_metadata_sensitive_data.py
  prowler/providers/openstack/services/compute/compute_instance_public_ip_exposed/__init__.py
  prowler/providers/openstack/services/compute/compute_instance_public_ip_exposed/compute_instance_public_ip_exposed.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_public_ip_exposed/compute_instance_public_ip_exposed.py
  prowler/providers/openstack/services/compute/compute_instance_security_groups_attached/compute_instance_security_groups_attached.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_trusted_image_certificates/__init__.py
  prowler/providers/openstack/services/compute/compute_instance_trusted_image_certificates/compute_instance_trusted_image_certificates.metadata.json
  prowler/providers/openstack/services/compute/compute_instance_trusted_image_certificates/compute_instance_trusted_image_certificates.py
  prowler/providers/openstack/services/compute/compute_service.py
  prowler/providers/openstack/services/compute/lib/__init__.py
  prowler/providers/openstack/services/compute/lib/ip.py
  tests/providers/openstack/services/compute/compute_instance_config_drive_enabled/compute_instance_config_drive_enabled_test.py
  tests/providers/openstack/services/compute/compute_instance_isolated_private_network/compute_instance_isolated_private_network_test.py
  tests/providers/openstack/services/compute/compute_instance_key_based_authentication/compute_instance_key_based_authentication_test.py
  tests/providers/openstack/services/compute/compute_instance_locked_status_enabled/compute_instance_locked_status_enabled_test.py
  tests/providers/openstack/services/compute/compute_instance_metadata_sensitive_data/compute_instance_metadata_sensitive_data_test.py
  tests/providers/openstack/services/compute/compute_instance_public_ip_exposed/compute_instance_public_ip_exposed_test.py
  tests/providers/openstack/services/compute/compute_instance_trusted_image_certificates/compute_instance_trusted_image_certificates_test.py
  tests/providers/openstack/services/compute/lib/ip_test.py
  tests/providers/openstack/services/compute/openstack_compute_service_test.py
Due: prowler

feat(ci): add Helm chart checks workflow for linting and validation
  .github/workflows/helm-chart-checks.yml
Due: none

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan - Fix safety
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
Due: none

Test
  .github/workflows/helm-chart-checks.yml
Due: none

Revert "Test"
  .github/workflows/helm-chart-checks.yml
Due: none

feat(ci): add Helm chart release workflow and .gitignore for charts
  .github/workflows/helm-chart-release.yml
  contrib/k8s/helm/prowler-app/.gitignore
Due: none

refactor(api): remove graph_database and is_graph_database_deleted from AttackPathsScan (#10077)
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/fixtures/dev/8_dev_attack_paths_scans.json
  api/src/backend/api/migrations/0077_remove_attackpathsscan_graph_database_indexes.py
  api/src/backend/api/migrations/0078_remove_attackpathsscan_graph_database_fields.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(api): gcp project id validation for legacy projects
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
Due: api

feat: add changelog
  api/CHANGELOG.md
Due: api

feat(m365): add entra_app_registration_no_unused_privileged_permissions security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_app_registration_no_unused_privileged_permissions/__init__.py
  prowler/providers/m365/services/entra/entra_app_registration_no_unused_privileged_permissions/entra_app_registration_no_unused_privileged_permissions.metadata.json
  prowler/providers/m365/services/entra/entra_app_registration_no_unused_privileged_permissions/entra_app_registration_no_unused_privileged_permissions.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_app_registration_no_unused_privileged_permissions/entra_app_registration_no_unused_privileged_permissions_test.py
Due: prowler

feat(workflow): Use AGENTS.md as source of truth
  .github/agents/issue-triage.md
  skills/gh-aw/SKILL.md
Due: none

fix(oci): update regions script to handle raw credentials
  util/update_oci_regions.py
Due: none

fix(oci): update regions script to handle raw credentials (#10081)
  util/update_oci_regions.py
Due: none

feat(oraclecloud): update commercial regions
  prowler/providers/oraclecloud/config.py
Due: prowler

fix: oci regions actions labels
  .github/workflows/sdk-refresh-oci-regions.yml
Due: none

fix: oci regions actions labels (#10083)
  .github/workflows/sdk-refresh-oci-regions.yml
Due: none

feat(oraclecloud): Update commercial regions (#10082)
  prowler/providers/oraclecloud/config.py
Due: prowler

feat(m365): add defenderxdr_privileged_user_exposed_credentials security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/defenderxdr/__init__.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_client.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/__init__.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.metadata.json
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_service.py
  tests/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials_test.py
Due: prowler

feat(m365): add entra_seamless_sso_disabled security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_seamless_sso_disabled/__init__.py
  prowler/providers/m365/services/entra/entra_seamless_sso_disabled/entra_seamless_sso_disabled.metadata.json
  prowler/providers/m365/services/entra/entra_seamless_sso_disabled/entra_seamless_sso_disabled.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_seamless_sso_disabled/entra_seamless_sso_disabled_test.py
Due: prowler

fix(m365): simplify oauth app governance failure handling
  prowler/providers/m365/services/entra/entra_app_registration_no_unused_privileged_permissions/entra_app_registration_no_unused_privileged_permissions.metadata.json
  prowler/providers/m365/services/entra/entra_app_registration_no_unused_privileged_permissions/entra_app_registration_no_unused_privileged_permissions.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_app_registration_no_unused_privileged_permissions/entra_app_registration_no_unused_privileged_permissions_test.py
Due: prowler

feat(m365): add defenderidentity_health_issues_no_open security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/defenderidentity/__init__.py
  prowler/providers/m365/services/defenderidentity/defenderidentity_client.py
  prowler/providers/m365/services/defenderidentity/defenderidentity_health_issues_no_open/__init__.py
  prowler/providers/m365/services/defenderidentity/defenderidentity_health_issues_no_open/defenderidentity_health_issues_no_open.metadata.json
  prowler/providers/m365/services/defenderidentity/defenderidentity_health_issues_no_open/defenderidentity_health_issues_no_open.py
  prowler/providers/m365/services/defenderidentity/defenderidentity_service.py
  tests/providers/m365/services/defenderidentity/defenderidentity_health_issues_no_open/defenderidentity_health_issues_no_open_test.py
Due: prowler

feat(attack-paths): add graph_data_ready field to decouple query availability from scan state
  api/CHANGELOG.md
  api/src/backend/api/migrations/0079_attackpathsscan_graph_data_ready.py
  api/src/backend/api/migrations/0080_backfill_attack_paths_graph_data_ready.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-list-table.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-status-badge.tsx
  ui/types/attack-paths.ts
Due: api

feat(image): add registry scan mode with OCI, Docker Hub, and ECR support
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  prowler/providers/image/exceptions/exceptions.py
  prowler/providers/image/image_provider.py
  prowler/providers/image/lib/arguments/arguments.py
  prowler/providers/image/lib/registry/__init__.py
  prowler/providers/image/lib/registry/base.py
  prowler/providers/image/lib/registry/dockerhub_adapter.py
  prowler/providers/image/lib/registry/factory.py
  prowler/providers/image/lib/registry/oci_adapter.py
  tests/providers/image/lib/__init__.py
  tests/providers/image/lib/registry/__init__.py
Due: prowler

test(image): add comprehensive registry scan mode unit tests
  tests/providers/image/lib/registry/test_arguments.py
  tests/providers/image/lib/registry/test_dockerhub_adapter.py
  tests/providers/image/lib/registry/test_factory.py
  tests/providers/image/lib/registry/test_oci_adapter.py
  tests/providers/image/lib/registry/test_provider_registry.py
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
