Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: update changelog
  api/CHANGELOG.md
Due: api

chore: set an appropiate User-Agent in requests (#8724)
  mcp_server/prowler_mcp_server/prowler_hub/server.py
Due: none

feat(config): JWT keys geneartion is only done when the application is really executed
  api/CHANGELOG.md
  api/src/backend/api/apps.py
Due: api

feat(config): improve comments on JWT generation
  api/src/backend/api/apps.py
Due: api

feat(config): add generation for JWT keys if missing (#8655)
  .env
  api/CHANGELOG.md
  api/README.md
  api/src/backend/api/apps.py
  api/src/backend/api/tests/test_apps.py
  docker-compose-dev.yml
  docker-compose.yml
Due: api

chore(changelog): update with latest changes
  api/CHANGELOG.md
Due: api

chore: clarify error message and improve exception handling in UserRoleRelationshipView
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

chore: improve documentation
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

feat(auth): add safeguards to prevent self-role removal and enforce MANAGE_ACCOUNT role presence (#8729)
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

fix(compliance): change order in models and remove prints
  prowler/lib/outputs/compliance/cis/cis_aws.py
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
Due: prowler

fix(compliance): change order in models and remove prints (#8738)
  prowler/lib/outputs/compliance/cis/cis_aws.py
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
Due: prowler

feat(compliance): test missing names
  api/src/backend/api/compliance.py
Due: api

chore(readme): remove deprecations and fix typo
  README.md
Due: none

chore: stop ignoring lib folders
  mcp_server/.gitignore
Due: none

chore(readme): remove deprecations and fix typo (#8739)
  README.md
Due: none

feat: add basic logger
  mcp_server/prowler_mcp_server/lib/__init__.py
  mcp_server/prowler_mcp_server/lib/logger.py
  mcp_server/prowler_mcp_server/main.py
  mcp_server/prowler_mcp_server/server.py
Due: none

chore: use the fastmcp logger instead a custom one
  mcp_server/prowler_mcp_server/lib/logger.py
  mcp_server/prowler_mcp_server/main.py
  mcp_server/prowler_mcp_server/server.py
Due: none

feat(compliance): add compliance name, version and framework in detailed page
  api/src/backend/api/compliance.py
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/ComplianceInfo.tsx
  ui/components/compliance/index.ts
Due: api

chore(changelog): update with latest changes
  ui/CHANGELOG.md
Due: none

docs(threatscore): change table order in examples
  docs/tutorials/compliance/threatscore.md
Due: none

feat(ui): fix linters
  ui/components/compliance/ComplianceInfo.tsx
Due: none

chore(api-deps-dev): bump authlib from 1.6.1 to 1.6.4
  api/poetry.lock
Due: api

feat(compliance): add compliance name, version and framework in title detailed page
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/ComplianceInfo.tsx
  ui/components/compliance/index.ts
Due: none

feat(mcp): add basic logger (#8740)
  mcp_server/.gitignore
  mcp_server/prowler_mcp_server/lib/__init__.py
  mcp_server/prowler_mcp_server/lib/logger.py
  mcp_server/prowler_mcp_server/main.py
  mcp_server/prowler_mcp_server/server.py
Due: none

fix(actions): lock poetry after changes (#8477)
  .github/workflows/api-pull-request.yml
Due: none

fix(lighthouse): allow scrolling during AI response streaming (#8669)
  ui/components/lighthouse/chat.tsx
Due: none

feat(mcp): add Prowler App integration with dynamic server generation
  mcp_server/prowler_mcp_server/prowler_app/__init__.py
  mcp_server/prowler_mcp_server/prowler_app/utils/auth.py
  mcp_server/prowler_mcp_server/prowler_app/utils/mcp_config.json
  mcp_server/prowler_mcp_server/prowler_app/utils/server_generator.py
  mcp_server/prowler_mcp_server/server.py
Due: none

docs(mcp): update README with comprehensive Prowler App documentation
  mcp_server/README.md
Due: none

feat(mcp): add environment template for Prowler App configuration
  mcp_server/.env.template
Due: none

chore(django): correct api changelog while upgrading django
  api/CHANGELOG.md
Due: api

chore: ignore adding files related to the Prowler App MCP server
  mcp_server/.gitignore
Due: none

refactor(mcp): change MCP file generation to be a script of the project
  mcp_server/prowler_mcp_server/prowler_app/utils/server_generator.py
  mcp_server/pyproject.toml
Due: none

docs: change Prowler App to be Cloud and App
  mcp_server/README.md
Due: none

docs: update Entra SSO SAML video link
  docs/tutorials/prowler-app-sso-entra.md
Due: none

chore: delete unnecesary changes to multiple parameter description
  api/src/backend/api/schema_hooks.py
  api/src/backend/api/utils.py
  api/src/backend/config/django/base.py
Due: api

docs: update Entra SSO SAML video link (#8745)
  docs/tutorials/prowler-app-sso-entra.md
Due: none

docs: update description for prowler_app_processors_create
  mcp_server/README.md
Due: none

chore(django): update django to 5.1.12 due to security problems (#8693)
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
Due: api
