Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(changelog): update with latest changes
  api/CHANGELOG.md
Due: api

chore(changelog): update with latest changes
  api/CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler, api

fix(image): use Trivy native auth instead of docker login/pull
  prowler/providers/image/image_provider.py
Due: prowler

feat(ui): add CSV and PDF download buttons to compliance views (#10093)
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-download-button.tsx
  ui/components/compliance/compliance-download-container.tsx
  ui/components/compliance/index.ts
Due: none

chore(api): bump Trivy to 0.69.1
  api/Dockerfile
Due: api

feat(docker): add ulimits configuration to worker services to prevent file descriptor exhaustion
  docker-compose-dev.yml
  docker-compose.yml
  docs/troubleshooting.mdx
Due: none

fix(compliance): remove account_id and location for manual reqs (#10105)
  prowler/CHANGELOG.md
  prowler/lib/outputs/compliance/cis/cis_m365.py
  tests/lib/outputs/compliance/cis/cis_m365_test.py
Due: prowler

chore(changelog): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

fix(ui): disable drag and enable text selection in drawers
  ui/components/shadcn/drawer.tsx
  ui/styles/globals.css
Due: none

fix(compliance): remove account_id and location for manual reqs (#10106)
  prowler/CHANGELOG.md
  prowler/lib/outputs/compliance/cis/cis_m365.py
  tests/lib/outputs/compliance/cis/cis_m365_test.py
Due: prowler

test(image): update tests for Trivy native auth, add env isolation
  prowler/providers/image/image_provider.py
  tests/providers/image/image_provider_test.py
Due: prowler

fix(api): gcp project id validation for legacy projects (#10078)
  api/CHANGELOG.md
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
Due: api

refactor(ui): enhance EnhancedMultiSelect with icons, sorted selection, and button footer
  ui/components/shadcn/select/enhanced-multi-select.tsx
Due: none

feat(ui): add provider icons to integration select dropdowns
  ui/components/findings/table/provider-icon-cell.tsx
  ui/components/integrations/s3/s3-integration-form.tsx
  ui/components/integrations/security-hub/security-hub-integration-form.tsx
Due: none

style(ui): use semantic border color in CommandInput
  ui/components/shadcn/command.tsx
Due: none

chore: resolve conflicts
  api/CHANGELOG.md
Due: api

style(image): apply black formatting to registry adapter and tests
  prowler/providers/image/lib/registry/oci_adapter.py
  tests/providers/image/lib/registry/test_oci_adapter.py
Due: prowler

fix(image): add 5xx retry and better diagnostics for Docker Hub auth
  prowler/providers/image/lib/registry/base.py
  prowler/providers/image/lib/registry/dockerhub_adapter.py
  tests/providers/image/lib/registry/test_dockerhub_adapter.py
Due: prowler

fix(api): clean up temp Neo4j databases on scan failure and provider deletion (#10101)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  api/src/backend/tasks/tests/test_deletion.py
Due: api

feat(image): add IMAGE scan path with per-image progress
  prowler/lib/check/checks_loader.py
  prowler/lib/scan/scan.py
  prowler/providers/image/image_provider.py
Due: prowler

feat(docker): ulimits to worker services to prevent exhaustion (#10107)
  docker-compose-dev.yml
  docker-compose.yml
  docs/troubleshooting.mdx
  prowler/CHANGELOG.md
Due: prowler

chore: update safety vulnerabilities
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
Due: none

docs(api): add changelog entry for agent guidelines update
  api/CHANGELOG.md
Due: api

fix(image): set custom User-Agent to avoid Cloudflare bot blocking
  prowler/providers/image/lib/registry/base.py
  tests/providers/image/lib/registry/test_dockerhub_adapter.py
Due: prowler

feat(ui): setup vitest with react testing library and TDD workflow (#9925)
  .github/workflows/ui-tests.yml
  AGENTS.md
  api/AGENTS.md
  api/CHANGELOG.md
  skills/README.md
  skills/tdd/SKILL.md
  skills/vitest/SKILL.md
  ui/.husky/pre-commit
  ui/AGENTS.md
  ui/CHANGELOG.md
  ui/components/ui/button/button.test.tsx
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/tsconfig.json
  ui/vitest.config.ts
  ui/vitest.setup.ts
Due: api

fix(api): gcp project id validation for legacy projects (#10109)
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
  api/CHANGELOG.md
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
Due: api

feat(ui): sort selected options to top on dropdown open
  ui/components/shadcn/command.tsx
  ui/components/shadcn/select/enhanced-multi-select.tsx
Due: none

refactor(ui): replace hardcoded colors with semantic tokens in selects
  ui/components/shadcn/badge/badge.tsx
  ui/components/shadcn/select/enhanced-multi-select.tsx
  ui/components/shadcn/select/multiselect.tsx
Due: none

fix(gcp): update metadata to match strict guidelines (CAI resource type, hub url)
  prowler/providers/gcp/services/dns/dns_policy_logging_enabled/dns_policy_logging_enabled.metadata.json
Due: prowler

fix(ui): add aria-label support to EnhancedMultiSelect
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/shadcn/select/enhanced-multi-select.tsx
Due: none

fix(image): address PR review items for image provider
  api/CHANGELOG.md
  api/src/backend/api/models.py
  api/src/backend/tasks/tasks.py
  prowler/CHANGELOG.md
  prowler/providers/image/exceptions/exceptions.py
  prowler/providers/image/image_provider.py
  prowler/providers/image/lib/registry/base.py
  tests/lib/scan/scan_test.py
  tests/providers/image/image_provider_test.py
  tests/providers/image/lib/registry/test_dockerhub_adapter.py
  tests/providers/image/lib/registry/test_provider_registry.py
Due: prowler, api

fix: delete unnecessary check
  prowler/providers/openstack/services/networking/networking_security_group_default_restricts_traffic/__init__.py
  prowler/providers/openstack/services/networking/networking_security_group_default_restricts_traffic/networking_security_group_default_restricts_traffic.metadata.json
  prowler/providers/openstack/services/networking/networking_security_group_default_restricts_traffic/networking_security_group_default_restricts_traffic.py
  tests/providers/openstack/services/networking/networking_security_group_default_restricts_traffic/networking_security_group_default_restricts_traffic_test.py
Due: prowler

fix(api): upgrade cartography to 0.129.0 and neo4j driver to 6.x
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/attack_paths/retryable_session.py
Due: api

docs(api): add changelog entries for cartography and neo4j upgrade
  api/CHANGELOG.md
Due: api

fix(ui): replace HeroUI dropdowns with shadcn selects (#10097)
  ui/CHANGELOG.md
  ui/components/filters/custom-account-selection.tsx
  ui/components/filters/custom-region-selection.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/filters/index.ts
  ui/components/findings/send-to-jira-modal.tsx
  ui/components/findings/table/provider-icon-cell.tsx
  ui/components/integrations/index.ts
  ui/components/integrations/s3/s3-integration-form.tsx
  ui/components/integrations/security-hub/security-hub-integration-form.tsx
  ui/components/integrations/security-hub/security-hub-integrations-manager.tsx
  ui/components/integrations/shared/integration-card-header.tsx
  ui/components/invitations/forms/edit-form.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/providers/enhanced-provider-selector.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/components/shadcn/badge/badge.tsx
  ui/components/shadcn/command.tsx
  ui/components/shadcn/drawer.tsx
  ui/components/shadcn/dropdown/action-dropdown.tsx
  ui/components/shadcn/popover.tsx
  ui/components/shadcn/select/enhanced-multi-select.tsx
  ui/components/shadcn/select/multiselect.tsx
  ui/components/ui/custom/custom-dropdown-selection.tsx
  ui/components/ui/custom/index.ts
  ui/components/users/forms/edit-form.tsx
  ui/styles/globals.css
  ui/tests/invitations/invitations-page.ts
  ui/tests/providers/providers-page.ts
Due: none
