Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(mcp): add integrations tools (#12138)
  docs/getting-started/basic-usage/prowler-mcp-tools.mdx
  mcp_server/README.md
  mcp_server/changelog.d/integrations-tools.added.md
  mcp_server/prowler_mcp_server/prowler_app/models/integrations.py
  mcp_server/prowler_mcp_server/prowler_app/tools/integrations.py
Due: none

fix(api): assign fallback role to SAML users (#12223)
  api/changelog.d/saml-missing-usertype-read-only.fixed.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  docs/user-guide/tutorials/prowler-app-sso-google-workspace.mdx
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: api

fix(ui): report hierarchy pagination guard exhaustion to Sentry
  ui/actions/organizations/organizations.test.ts
  ui/actions/organizations/organizations.ts
Due: none

test(attack-paths): assert every node gets the provider label
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/tests/test_cypher_sanitizer.py
Due: api

test(mcp): restore stateless HTTP tests after version bump
  mcp_server/tests/test_stateless_http.py
Due: none

test(mcp): drop stateless HTTP tests
  mcp_server/tests/test_stateless_http.py
Due: none

fix(mcp): run streamable HTTP stateless to stop session memory leak (#12235)
  mcp_server/changelog.d/mcp-stateless-http.fixed.md
  mcp_server/prowler_mcp_server/__init__.py
  mcp_server/prowler_mcp_server/main.py
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

fix(ui): deep-link wizard docs to per-method credentials sections
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
Due: none

feat(aws): add pathfinding.cloud privilege-escalation coverage (PROWLER-2279)
  api/changelog.d/pathfinding-attack-paths-service-queries.added.md
  api/src/backend/api/attack_paths/queries/aws.py
  api/src/backend/api/tests/test_attack_paths_service_privesc_queries.py
  prowler/changelog.d/pathfinding-privesc-combos.added.md
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
  tests/providers/aws/services/iam/lib/privilege_escalation_test.py
Due: prowler, api

fix(api): scope Attack Paths predefined queries with provider label (#12167)
  api/changelog.d/attack-paths-predefined-query-provider-label.fixed.md
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/tests/test_cypher_sanitizer.py
Due: api

fix(batch): add docstrings and CHANGELOG entry
  prowler/CHANGELOG.md
  prowler/providers/aws/services/batch/batch_client.py
  prowler/providers/aws/services/batch/batch_job_definition_no_secrets/batch_job_definition_no_secrets.py
  prowler/providers/aws/services/batch/batch_service.py
Due: prowler

test(ui): reconcile integration-test convention with master
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.harness.ts
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.integration.test.tsx
  ui/vitest.config.ts
Due: none

feat(ui): GCP org onboarding — Phase 1: canonical contract + lifecycle generalization (#12114)
  ui/__tests__/msw/handlers/organizations.fixtures.ts
  ui/__tests__/msw/handlers/organizations.ts
  ui/actions/organizations/organizations.adapter.test.ts
  ui/actions/organizations/organizations.adapter.ts
  ui/actions/organizations/organizations.test.ts
  ui/actions/organizations/organizations.ts
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.hierarchy.integration.test.tsx
  ui/app/(prowler)/providers/providers-page.utils.test.ts
  ui/app/(prowler)/providers/providers-page.utils.ts
  ui/app/(prowler)/providers/providers-tab-content.tsx
  ui/components/providers/forms/delete-organization-form.tsx
  ui/components/providers/organizations/hooks/org-setup-strategy.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.test.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
  ui/components/providers/organizations/org-account-selection.test.tsx
  ui/components/providers/organizations/org-account-selection.tsx
  ui/components/providers/organizations/org-account-selection.utils.test.ts
  ui/components/providers/organizations/org-account-selection.utils.ts
  ui/components/providers/organizations/org-account-tree-item.tsx
  ui/components/providers/organizations/org-setup-form.tsx
  ui/components/providers/providers-accounts-table.test.tsx
  ui/components/providers/providers-accounts-view.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.test.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
  ui/components/providers/wizard/types.ts
  ui/lib/organizations.test.ts
  ui/lib/organizations.ts
  ui/store/organizations/store.test.ts
  ui/store/organizations/store.ts
  ui/types/organizations.ts
  ui/types/providers-table.ts
  ui/types/tree.ts
Due: none

test(ui): AWS Organizations onboarding baseline integration suite (#12104)
  .github/workflows/ui-tests.yml
  ui/.gitignore
  ui/__tests__/app-shell.tsx
  ui/__tests__/browser-harness.ts
  ui/__tests__/fixtures.ts
  ui/__tests__/msw/handlers/organizations.fixtures.ts
  ui/__tests__/msw/handlers/organizations.ts
  ui/__tests__/render-browser.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.harness.integration.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.harness.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.integration.test.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.integration.test.tsx
  ui/app/(prowler)/providers/providers-tab-content.tsx
  ui/package.json
  ui/vitest.config.ts
  ui/vitest.integration.setup.ts
Due: none

ci: run PR checks on the PROWLER-2291 integration branch
  .github/workflows/api-code-quality.yml
  .github/workflows/api-codeql.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/api-tests.yml
  .github/workflows/check-test-init-files.yml
  .github/workflows/ci-zizmor.yml
  .github/workflows/conventional-commit.yml
  .github/workflows/docs-check-provider-cards.yml
  .github/workflows/find-secrets.yml
  .github/workflows/helm-chart-checks.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/mcp-security.yml
  .github/workflows/pr-check-changelog.yml
  .github/workflows/pr-check-compliance-mapping.yml
  .github/workflows/renovate-config-validate.yml
  .github/workflows/sdk-check-duplicate-test-names.yml
  .github/workflows/sdk-code-quality.yml
  .github/workflows/sdk-codeql.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/sdk-security.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/ui-codeql.yml
  .github/workflows/ui-container-checks.yml
  .github/workflows/ui-security.yml
Due: none

fix(api): purge git from the container image to drop perl CVEs
  api/Dockerfile
  api/changelog.d/api-container-purge-git.security.md
Due: api

refactor(ui): type the setup-form field a server error attaches to
  ui/components/providers/organizations/gcp-org-setup-form.tsx
  ui/components/providers/organizations/hooks/org-setup-strategy.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.test.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
  ui/components/providers/organizations/org-setup-form.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
Due: none

fix(ui): keep organization setup recoverable when a step fails late
  ui/app/(prowler)/providers/providers-page.gcp.integration.test.tsx
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/components/providers/organizations/gcp-org-setup-form.tsx
  ui/components/providers/organizations/hooks/use-org-setup-submission.test.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
  ui/components/providers/organizations/org-setup-form.tsx
Due: none

feat(ui): GCP organization onboarding flow + lifecycle safety (Phase 2)
  ui/__tests__/browser-harness.ts
  ui/__tests__/msw/handlers/organizations.fixtures.ts
  ui/actions/organizations/organizations.adapter.test.ts
  ui/actions/organizations/organizations.adapter.ts
  ui/app/(prowler)/providers/providers-page.gcp.integration.test.tsx
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.hierarchy.integration.test.tsx
  ui/app/(prowler)/providers/providers-page.integration.test.tsx
  ui/components/providers/forms/delete-organization-form.tsx
  ui/components/providers/organizations/discovery-timeout-notice.tsx
  ui/components/providers/organizations/gcp-method-selector.test.tsx
  ui/components/providers/organizations/gcp-method-selector.tsx
  ui/components/providers/organizations/gcp-org-setup-form.tsx
  ui/components/providers/organizations/hooks/org-setup-strategy.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.test.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
  ui/components/providers/organizations/org-account-selection.tsx
  ui/components/providers/organizations/org-account-selection.utils.ts
  ui/components/providers/organizations/org-launch-scan.tsx
  ui/components/providers/organizations/org-setup-form.test.tsx
  ui/components/providers/organizations/org-setup-form.tsx
  ui/components/providers/organizations/org-terminology.ts
  ui/components/providers/organizations/secret-replace-warning-modal.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
  ui/components/providers/wizard/steps/connect-step.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
  ui/lib/external-urls.ts
  ui/types/cloud-upgrade.ts
Due: none

fix(ui): keep aws organization e2e secrets optional
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

fix(ci): carry forward skipped API coverage
  codecov.yml
Due: none

fix(ui): address e2e review feedback
  .github/workflows/ui-e2e-tests-v2.yml
  ui/tests/helpers.ts
Due: none

fix(ui): stabilize cloud e2e prerequisites
  .github/test-impact.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .gitignore
  ui/.nvmrc
  ui/tests/home/home-page.ts
  ui/tests/scans/scans-page.ts
  ui/tests/sign-in-base/sign-in-base-page.ts
Due: none

fix(ci): avoid PyYAML in GitHub tests
  tests/github/ui_e2e_workflow_test.py
Due: none

fix(ui): wait for provider deletion in e2e cleanup
  ui/tests/helpers.ts
Due: none

test(ui): use role-based provider row locator
  ui/tests/helpers.ts
Due: none

fix(ui): avoid provider cleanup timeout
  ui/tests/helpers.ts
Due: none

fix(ci): seed API coverage carryforward
  .github/workflows/api-tests.yml
  tests/github/api_tests_workflow_test.py
Due: none

fix: handle fork e2e prerequisites
  .github/workflows/ui-e2e-tests-v2.yml
  tests/github/ui_e2e_workflow_test.py
  ui/Dockerfile
Due: none

fix(sdk): align secret scan source line indexing (#12141)
  prowler/changelog.d/kingfisher-lf-line-indexing.fixed.md
  prowler/lib/utils/utils.py
  tests/lib/utils/utils_test.py
Due: prowler

fix(html): sanitize markdown links and validate recommendation URL scheme
  prowler/lib/outputs/html/html.py
  tests/lib/outputs/html/html_test.py
Due: prowler

fix(deps): bump pillow, httplib2 and pyasn1 to resolve known CVEs
  api/changelog.d/api-deps-cve-bumps.security.md
  api/pyproject.toml
  api/uv.lock
  prowler/changelog.d/sdk-deps-cve-bumps.security.md
  pyproject.toml
  uv.lock
Due: prowler, api

fix(api): purge git from the container image to drop perl CVEs (#12238)
  api/Dockerfile
  api/changelog.d/api-container-purge-git.security.md
Due: api

fix(sdk): align secret scan source line indexing (#12240)
  prowler/changelog.d/kingfisher-lf-line-indexing.fixed.md
  prowler/lib/utils/utils.py
  tests/lib/utils/utils_test.py
Due: prowler

chore(security): renew and prune .trivyignore before the 2026-08-15 expiry
  .trivyignore
Due: none

refactor(html): move URL sanitizers to module helpers
  prowler/lib/outputs/html/html.py
Due: prowler

style(security): trim .trivyignore comments to the justification
  .trivyignore
Due: none

style(html): apply formatter output
  prowler/lib/outputs/html/html.py
Due: prowler

style(security): one-line each entry rationale
  .trivyignore
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
