Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(api): make findings partition bounds tile exactly
  api/changelog.d/uuid7-partition-bounds-tile.fixed.md
  api/src/backend/api/partitions.py
  api/src/backend/api/tests/test_partitions.py
  api/src/backend/api/uuid_utils.py
Due: api

fix(api): count the bound's millisecond with integer arithmetic
  api/src/backend/api/tests/test_partitions.py
  api/src/backend/api/uuid_utils.py
Due: api

fix(aws): lead the partition bootstrap regions with the configured region
  prowler/changelog.d/aws-bootstrap-region-partition.fixed.md
  prowler/changelog.d/aws-partition-bootstrap-region-honours-configured-region.fixed.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/config.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

fix(ui): resolve Registry access and operation review findings
  ui/actions/providers/dynamic-provider-credentials.ts
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/app/(prowler)/registry/page.tsx
  ui/components/providers/wizard/steps/dynamic-credentials-step.tsx
  ui/components/providers/workflow/provider-credential-fields.test.tsx
  ui/components/providers/workflow/provider-credential-fields.tsx
  ui/components/registry/registry-access-dialog.tsx
  ui/components/registry/registry-artifact-card.tsx
  ui/components/registry/registry-artifact-task-handler.ts
  ui/components/registry/registry-credential-task-handler.test.ts
  ui/components/registry/registry-credential-task-handler.ts
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.model.test.ts
  ui/components/registry/registry-explorer.model.ts
  ui/components/registry/registry-explorer.tsx
  ui/components/shared/task-polling-watcher.tsx
  ui/lib/csp.ts
  ui/lib/provider-credentials/provider-credential-schema.test.ts
  ui/lib/provider-credentials/provider-credential-schema.ts
  ui/lib/provider-credentials/provider-credential-values.test.ts
  ui/lib/provider-credentials/provider-credential-values.ts
  ui/lib/registry-credential-execution.ts
  ui/lib/registry/artifact-execution.test.ts
  ui/lib/registry/artifact-execution.ts
  ui/lib/registry/artifact-notifications.ts
  ui/lib/registry/credential-execution.test.ts
  ui/lib/registry/credential-execution.ts
  ui/lib/registry/credential-result.ts
  ui/lib/registry/credential-task.test.ts
  ui/lib/registry/credential-task.ts
  ui/lib/registry/presentation.test.ts
  ui/lib/registry/presentation.ts
  ui/next.config.test.ts
  ui/proxy.ts
Due: none

refactor(ui): remove unrelated shared animation changes
  ui/components/shadcn/dialog.tsx
  ui/components/shadcn/dialog/dialog.integration.test.tsx
  ui/components/shadcn/sheet/sheet.integration.test.tsx
  ui/components/shadcn/sheet/sheet.tsx
  ui/components/shadcn/tree-view/tree-node.integration.test.tsx
  ui/components/shadcn/tree-view/tree-node.tsx
Due: none

test(ui): isolate Registry acceptance and stabilize browser tests
  ui/package.json
  ui/playwright.base.ts
  ui/playwright.config.ts
  ui/playwright.registry.config.ts
  ui/vitest.config.ts
Due: none

test(ui): prune redundant Registry coverage
  ui/actions/registry/registry.test.ts
  ui/components/layout/app-sidebar/navigation-config.test.ts
  ui/components/registry/registry-credential-task-handler.test.ts
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.model.test.ts
  ui/lib/helper.test.ts
  ui/lib/registry/credential-execution.test.ts
  ui/lib/runtime-env.test.ts
  ui/store/ui/store-initializer.test.tsx
Due: none

docs(ui): update Registry validation and environment setup
  ui/tests/registry/evidence/registry-catalog-desktop-dark.png
  ui/tests/registry/evidence/registry-catalog-desktop-light.png
  ui/tests/registry/evidence/registry-catalog-tablet-light.png
  ui/tests/registry/registry.md
  ui/tests/registry/validation.md
Due: none

test(mcp): cover the attack-paths, compliance, muting, providers, roles and scans models
  mcp_server/changelog.d/mcp-server-coverage-phase2.added.md
  mcp_server/tests/prowler_app/models/test_attack_paths.py
  mcp_server/tests/prowler_app/models/test_compliance.py
  mcp_server/tests/prowler_app/models/test_muting.py
  mcp_server/tests/prowler_app/models/test_providers.py
  mcp_server/tests/prowler_app/models/test_roles.py
  mcp_server/tests/prowler_app/models/test_scans.py
Due: none

feat(googleworkspace): keyless auth via ADC and Service Account impersonation
  docs/user-guide/providers/googleworkspace/authentication.mdx
  docs/user-guide/providers/googleworkspace/getting-started-googleworkspace.mdx
  prowler/changelog.d/googleworkspace-keyless-impersonation.added.md
  prowler/providers/common/provider.py
  prowler/providers/googleworkspace/exceptions/exceptions.py
  prowler/providers/googleworkspace/googleworkspace_provider.py
  prowler/providers/googleworkspace/lib/arguments/arguments.py
  prowler/providers/googleworkspace/models.py
  tests/lib/cli/parser_test.py
  tests/providers/googleworkspace/googleworkspace_fixtures.py
  tests/providers/googleworkspace/googleworkspace_provider_test.py
Due: prowler

fix(image): honour TRIVY_CACHE_DIR when it is set
  prowler/changelog.d/trivy-cache-dir-configurable.fixed.md
  prowler/providers/image/image_provider.py
  tests/providers/image/image_provider_test.py
Due: prowler

fix(aws): configurable boto3 timeouts, 10s connect default
  docs/getting-started/basic-usage/prowler-cli.mdx
  docs/user-guide/providers/aws/boto3-configuration.mdx
  prowler/changelog.d/aws-boto3-connect-timeout-default.changed.md
  prowler/changelog.d/aws-boto3-timeouts.added.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/config.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
  prowler/providers/common/provider.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

fix(ci): format Bedrock tests with black and ignore Trivy grpc CVE
  .grype.yaml
  .trivyignore.yaml
  tests/providers/aws/services/bedrock/bedrock_service_test.py
Due: none

chore(revision): add missing changes
  docs/getting-started/basic-usage/prowler-cli.mdx
  docs/user-guide/providers/aws/boto3-configuration.mdx
  prowler/changelog.d/aws-boto3-connect-timeout-default.changed.md
  prowler/providers/aws/exceptions/exceptions.py
Due: prowler

fix(ci): suppress grpc xDS DoS CVE from the Trivy binary
  .grype.yaml
  .trivyignore.yaml
Due: none

fix(ui): simplify Registry branding and access controls
  ui/components/registry/registry-artifact-card.tsx
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.tsx
  ui/tests/registry/registry-page.ts
Due: none

feat(ui): link artifact success toast to Providers
  ui/components/registry/registry-artifact-task-handler.test.tsx
  ui/lib/registry/artifact-notifications.tsx
  ui/tests/registry/registry-page.ts
Due: none

chore(revision): add missing changes
  docs/user-guide/providers/aws/boto3-configuration.mdx
  prowler/changelog.d/aws-retries-max-attempts-zero.fixed.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

docs(aws): document PROWLER_AWS_PARTITION
  docs/user-guide/providers/aws/regions-and-partitions.mdx
Due: none

docs(image): document the Trivy vulnerability database cache
  docs/user-guide/providers/image/getting-started-image.mdx
Due: none

fix(aws): derive the partition bootstrap region from the session
  prowler/changelog.d/aws-partition-bootstrap-region-honours-configured-region.fixed.md
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/utils.py
Due: prowler

fix(ui): update Next.js to 16.3.3 to patch image optimization RCE
  ui/changelog.d/next-image-optimization-rce.security.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

fix(googleworkspace): key material wins over impersonation from any source and the flag requires a value
  docs/user-guide/providers/googleworkspace/authentication.mdx
  prowler/providers/googleworkspace/googleworkspace_provider.py
  prowler/providers/googleworkspace/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/googleworkspace/googleworkspace_provider_test.py
Due: prowler

fix(ci): suppress grpc xDS DoS CVE from the Trivy binary (#12777)
  .grype.yaml
  .trivyignore.yaml
Due: none

chore(ui): record the Next.js bump in the dependency log
  ui/dependency-log.json
Due: none

fix(mcp): patch the six high libuuid CVEs in the container image
  mcp_server/Dockerfile
  mcp_server/changelog.d/mcp-image-libuuid-cves.security.md
Due: none

fix(ui): update sharp to 0.35.4 to patch the libheif vulnerabilities
  ui/changelog.d/sharp-libheif-vulnerabilities.security.md
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Due: none

fix(ci): suppress grpc xDS DoS CVE from the Trivy binary (#12779)
  .grype.yaml
  .trivyignore.yaml
Due: none

fix(ui): align scan filters and actions
  ui/changelog.d/scans-filter-actions.fixed.md
  ui/components/scans/import-findings-modal.tsx
  ui/components/scans/scans-filter-bar.tsx
  ui/components/scans/scans-page-shell.test.tsx
  ui/components/scans/scans-page-shell.tsx
  ui/tests/scans/evidence/scans-controls-desktop.png
  ui/tests/scans/evidence/scans-controls-mobile.png
  ui/tests/scans/evidence/scans-controls-tablet.png
Due: none

docs(ui): clarify sharp security override
  ui/pnpm-workspace.yaml
Due: none

docs(image): air-gap needs TRIVY_SKIP_DB_UPDATE
  docs/user-guide/providers/image/getting-started-image.mdx
  prowler/providers/image/image_provider.py
  tests/providers/image/image_provider_test.py
Due: prowler

chore(version): update badge
  docs/getting-started/basic-usage/prowler-cli.mdx
  docs/user-guide/providers/aws/boto3-configuration.mdx
Due: none
