Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(aws): new check `eks_cluster_deletion_protection_enabled` (#8536)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/__init__.py
  prowler/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/eks_cluster_deletion_protection_enabled.metadata.json
  prowler/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/eks_cluster_deletion_protection_enabled.py
  prowler/providers/aws/services/eks/eks_service.py
  tests/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/eks_cluster_deletion_protection_enabled_test.py
Due: prowler

feat: add m365 certificate auth to api
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
Due: api

chore: add to changelog
  api/CHANGELOG.md
Due: api

fixed auth flux
  prowler/providers/ionos/ionos_provider.py
Due: prowler

Update dependencies and lockfile
  poetry.lock
  pyproject.toml
Due: none

script working
  contrib/other-contrib/provider-bulk-importer/bulk_provision_prowler.py
Due: none

fix: general quality review
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_copy_tags_to_snapshots/neptune_cluster_copy_tags_to_snapshots.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_deletion_protection/neptune_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/neptune_cluster_iam_authentication_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/neptune_cluster_integration_cloudwatch_logs.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_snapshot_encrypted/neptune_cluster_snapshot_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_uses_public_subnet/neptune_cluster_uses_public_subnet.metadata.json
Due: prowler

script working with test connection
  contrib/other-contrib/provider-bulk-importer/bulk_provision_prowler.py
Due: none

feat(sh): remove regions endpoint
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
Due: api

feat(azure): add ccc azure json
  prowler/compliance/azure/ccc_objects_azure.json
Due: prowler

feat(sh): avoid unique constraint in SH
  api/src/backend/api/v1/serializer_utils/integrations.py
Due: api

feat(sh): add custom credentials auth method
  api/src/backend/api/utils.py
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tests/test_integrations.py
Due: api

feat(azure): add ccc azure json
  dashboard/compliance/ccc_objects_azure.py
  prowler/__main__.py
  prowler/compliance/azure/ccc_objects_azure.json
  prowler/lib/outputs/compliance/ccc/ccc_azure.py
  prowler/lib/outputs/compliance/ccc/models.py
Due: prowler

chore: update spec
  api/src/backend/api/specs/v1.yaml
Due: api

fix: test
  api/src/backend/api/models.py
Due: api

chore(neptune): change RelatedUrl format to continue being a str
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_copy_tags_to_snapshots/neptune_cluster_copy_tags_to_snapshots.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_deletion_protection/neptune_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/neptune_cluster_iam_authentication_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/neptune_cluster_integration_cloudwatch_logs.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_snapshot_encrypted/neptune_cluster_snapshot_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_uses_public_subnet/neptune_cluster_uses_public_subnet.metadata.json
Due: prowler

feat: gpt-5 and gpt-5-mini integration with lighthouse (#8527)
  api/CHANGELOG.md
  api/src/backend/api/models.py
  ui/CHANGELOG.md
  ui/components/lighthouse/chatbot-config.tsx
Due: api

chore(changelog): update changes to newer unreleased version
  prowler/CHANGELOG.md
Due: prowler

add info about how to get a token
  contrib/other-contrib/provider-bulk-importer/README.md
Due: none

chore(developer-guide): restore the field RelatedUrl to be a str again
  docs/developer-guide/checks.md
Due: none

chore(securityhub): add static credentials and role assumption support
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Due: prowler

chore: add changelog
  prowler/CHANGELOG.md
Due: prowler

ref: improve regions info logic
  api/src/backend/api/utils.py
Due: api

fix GCP service account import
  contrib/other-contrib/provider-bulk-importer/README.md
  contrib/other-contrib/provider-bulk-importer/bulk_provision_prowler.py
Due: none

move to /util and include nuke_provider.py
  util/provider-bulk-importer/README.md
  util/provider-bulk-importer/bulk_provision_prowler.py
  util/provider-bulk-importer/examples/simple-providers.yaml
  util/provider-bulk-importer/nuke_providers.py
  util/provider-bulk-importer/requirements.txt
Due: none

solve flake issues
  util/provider-bulk-importer/bulk_provision_prowler.py
  util/provider-bulk-importer/nuke_providers.py
Due: none

feat(sh): enable custom credentials for test_connection
  api/src/backend/api/utils.py
  api/src/backend/tasks/tests/test_integrations.py
Due: api

docs(developer-guide): add writting guidelines for metadata
  docs/developer-guide/check-metadata-guidelines.md
  docs/developer-guide/checks.md
  mkdocs.yml
Due: none

apply black reformatting
  util/provider-bulk-importer/bulk_provision_prowler.py
Due: none

feat(iam): add ECS privilege escalation patterns to IAM checks
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
Due: prowler

feat(iam): add ECS privilege escalation patterns to IAM checks (#8541)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
Due: prowler

chore: add default values
  prowler/providers/aws/lib/security_hub/security_hub.py
Due: prowler

rename file and make test connection flags by default
  util/provider-bulk-importer/README.md
  util/provider-bulk-importer/prowler_bulk_provisioning.py
Due: none

chore: revision
  prowler/providers/iac/iac_provider.py
Due: prowler

feat(integrations): remove unique constraint for configuration
  api/src/backend/api/migrations/0046_remove_integration_unique_configuration_per_tenant.py
  api/src/backend/api/models.py
  api/src/backend/api/v1/serializer_utils/integrations.py
  api/src/backend/api/v1/serializers.py
Due: api

fix: add lighthouse migration file
  api/src/backend/api/migrations/0046_lighthouse_gpt5.py
Due: api

chore: revision
  prowler/providers/github/services/organization/organization_service.py
Due: prowler

fix(organization): list all accessible organizations (#8535)
  prowler/CHANGELOG.md
  prowler/providers/github/services/organization/organization_service.py
  tests/providers/github/services/organization/organization_service_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
