Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore(revision): add missing changes
  api/src/backend/api/authentication.py
  api/src/backend/api/tests/test_authentication.py
Due: api

fix(api): reject API keys whose owning user was deleted (#12210)
  api/changelog.d/12210.fixed.md
  api/src/backend/api/authentication.py
  api/src/backend/api/signals.py
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/test_authentication.py
  api/src/backend/api/tests/test_views.py
Due: api

docs(msp): align guides with current portal behavior (#12105)
  docs/getting-started/products/prowler-for-msps.mdx
  docs/user-guide/tutorials/prowler-for-msps-billing.mdx
  docs/user-guide/tutorials/prowler-for-msps-branding.mdx
  docs/user-guide/tutorials/prowler-for-msps-customers.mdx
  docs/user-guide/tutorials/prowler-for-msps-organization.mdx
  docs/user-guide/tutorials/prowler-for-msps-sign-up.mdx
  docs/user-guide/tutorials/prowler-for-msps-team.mdx
Due: none

fix(api): serialize SAML fallback role assignment
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  docs/user-guide/tutorials/prowler-app-sso-google-workspace.mdx
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: api

fix(ui): coerce aggregated ThreatScore section scores to numbers
  ui/actions/overview/threat-score/types/threat-score.types.ts
  ui/app/(prowler)/_overview/threat-score/_components/threat-score.tsx
  ui/app/(prowler)/_overview/threat-score/threat-score.ssr.test.tsx
  ui/app/(prowler)/_overview/threat-score/threat-score.ssr.tsx
Due: none

fix(api): reject API keys whose owning user was deleted (#12224)
  api/changelog.d/12210.fixed.md
  api/src/backend/api/authentication.py
  api/src/backend/api/signals.py
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/test_authentication.py
  api/src/backend/api/tests/test_views.py
Due: api

fix(api): refine SAML fallback validation
  api/src/backend/api/tests/test_views.py
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: api

feat(ui): enrich Lighthouse context on Overview and remaining pages (#12220)
  ui/actions/overview/threat-score/types/threat-score.types.ts
  ui/app/(prowler)/_overview/_components/overview-provider-context.test.tsx
  ui/app/(prowler)/_overview/_components/overview-provider-context.tsx
  ui/app/(prowler)/_overview/_lib/lighthouse-provider-context.test.ts
  ui/app/(prowler)/_overview/_lib/lighthouse-provider-context.ts
  ui/app/(prowler)/_overview/check-findings/check-findings.ssr.test.tsx
  ui/app/(prowler)/_overview/check-findings/check-findings.ssr.tsx
  ui/app/(prowler)/_overview/risk-severity/risk-severity-chart.ssr.test.tsx
  ui/app/(prowler)/_overview/risk-severity/risk-severity-chart.ssr.tsx
  ui/app/(prowler)/_overview/threat-score/_components/threat-score.tsx
  ui/app/(prowler)/_overview/threat-score/threat-score.ssr.test.tsx
  ui/app/(prowler)/_overview/threat-score/threat-score.ssr.tsx
  ui/app/(prowler)/_overview/watchlist/compliance-watchlist.ssr.test.tsx
  ui/app/(prowler)/_overview/watchlist/compliance-watchlist.ssr.tsx
  ui/app/(prowler)/_overview/watchlist/service-watchlist.ssr.test.tsx
  ui/app/(prowler)/_overview/watchlist/service-watchlist.ssr.tsx
  ui/app/(prowler)/alerts/_components/alerts-lighthouse-context.test.tsx
  ui/app/(prowler)/alerts/_components/alerts-lighthouse-context.tsx
  ui/app/(prowler)/alerts/page.tsx
  ui/app/(prowler)/lighthouse/_lib/chat-store.test.ts
  ui/app/(prowler)/page.tsx
  ui/components/lighthouse/context-chip.test.tsx
  ui/components/lighthouse/context-chip.tsx
  ui/lib/lighthouse/context/compiler.ts
  ui/lib/lighthouse/context/constants.ts
  ui/lib/lighthouse/context/context.test.ts
  ui/lib/lighthouse/context/contributions.test.ts
  ui/lib/lighthouse/context/contributions.ts
  ui/lib/lighthouse/context/pages.test.ts
  ui/lib/lighthouse/context/pages.ts
  ui/lib/lighthouse/context/schema.ts
  ui/lib/lighthouse/context/transport.test.ts
  ui/lib/lighthouse/context/transport.ts
  ui/types/lighthouse-context.ts
Due: none

fix(kubernetes): return empty list when control plane pod gather fails
  prowler/changelog.d/kubernetes-control-plane-pods-none.fixed.md
  prowler/providers/kubernetes/services/apiserver/apiserver_service.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service.py
  prowler/providers/kubernetes/services/etcd/etcd_service.py
  prowler/providers/kubernetes/services/scheduler/scheduler_service.py
  tests/providers/kubernetes/services/control_plane_pods_test.py
Due: prowler

fix(kubernetes): return empty list when kubelet config map gather fails
  prowler/changelog.d/kubernetes-control-plane-pods-none.fixed.md
  prowler/providers/kubernetes/services/kubelet/kubelet_service.py
  tests/providers/kubernetes/services/control_plane_pods_test.py
Due: prowler

fix(aws): return empty dict when regional client generation fails
  prowler/changelog.d/aws-generate-regional-clients-none.fixed.md
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

fix(iac): exit when cloning the scanned repository fails
  prowler/changelog.d/iac-clone-failure-exit.fixed.md
  prowler/providers/iac/iac_provider.py
  tests/providers/iac/iac_provider_test.py
Due: prowler

fix(check): return a set when check loading fails
  prowler/changelog.d/check-loading-implicit-none.fixed.md
  prowler/lib/check/check.py
  prowler/lib/check/checks_loader.py
  prowler/lib/check/utils.py
  tests/lib/check/check_loader_test.py
  tests/lib/check/check_test.py
Due: prowler

fix(slack): handle scans that produce no findings
  prowler/changelog.d/slack-zero-findings.fixed.md
  prowler/lib/outputs/slack/slack.py
  tests/lib/outputs/slack/slack_test.py
Due: prowler

fix(scan): avoid ZeroDivisionError in progress with no checks
  prowler/changelog.d/scan-progress-zero-checks.fixed.md
  prowler/lib/scan/scan.py
  tests/lib/scan/scan_test.py
Due: prowler

fix(check): handle audit metadata with no expected checks
  prowler/changelog.d/audit-metadata-no-expected-checks.fixed.md
  prowler/lib/check/check.py
  tests/lib/check/check_test.py
Due: prowler

fix(ecr): address maintainer review on ecr_repository_image_no_secrets
  prowler/providers/aws/services/ecr/ecr_repository_image_no_secrets/ecr_repository_image_no_secrets.metadata.json
  prowler/providers/aws/services/ecr/ecr_repository_image_no_secrets/ecr_repository_image_no_secrets.py
  prowler/providers/aws/services/ecr/ecr_service.py
  prowler/providers/aws/services/ecr/image_inspection.py
  tests/providers/aws/services/ecr/ecr_repository_image_no_secrets/ecr_repository_image_no_secrets_test.py
  tests/providers/aws/services/ecr/ecr_service_test.py
  tests/providers/aws/services/ecr/image_inspection_test.py
  tests/providers/aws/services/ecr/image_scan_fixtures.py
Due: prowler

fix(ecr): bound layer decompression against the per-image budget
  prowler/providers/aws/services/ecr/image_inspection.py
  tests/providers/aws/services/ecr/image_inspection_test.py
Due: prowler

fix(ecr): stream zstd layers to fully bound decompression memory
  prowler/providers/aws/services/ecr/image_inspection.py
  pyproject.toml
  tests/providers/aws/services/ecr/image_inspection_test.py
  uv.lock
Due: prowler

docs(compliance): improve cross-provider compliance guide (#12162)
  docs/docs.json
  docs/images/compliance/prowler-app-across-providers-detail.png
  docs/images/compliance/prowler-app-across-providers-expanded.png
  docs/images/compliance/prowler-app-across-providers-report.png
  docs/images/compliance/prowler-app-compliance-multiple-scans.png
  docs/images/compliance/prowler-app-cross-provider-overview.png
  docs/images/compliance/prowler-app-cross-provider-tab.png
  docs/style.css
  docs/user-guide/compliance/tutorials/compliance.mdx
  docs/user-guide/compliance/tutorials/cross-provider-compliance.mdx
  docs/user-guide/compliance/tutorials/cross-provider-type-compliance.mdx
Due: none

fix(ui): scope the hierarchy parent mode per organization and gate wizard re-entry
  ui/app/(prowler)/providers/providers-page.hierarchy.integration.test.tsx
  ui/app/(prowler)/providers/providers-page.utils.test.ts
  ui/app/(prowler)/providers/providers-page.utils.ts
  ui/components/providers/organizations/hooks/org-setup-strategy.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.test.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.test.tsx
  ui/lib/organizations.ts
  ui/store/organizations/store.test.ts
  ui/store/organizations/store.ts
  ui/types/organizations.ts
Due: none

refactor(ui): share the provider row resolution between org and node rows
  ui/app/(prowler)/providers/providers-page.utils.ts
Due: none

fix(api): respect provider group scope in provider actions (#12216)
  api/changelog.d/provider-group-action-scope.security.md
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/v1/mixins.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

feat(awslambda): add awslambda_layer_no_secrets_in_content check
  prowler/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/__init__.py
  prowler/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content.py
  prowler/providers/aws/services/awslambda/awslambda_service.py
  tests/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
Due: prowler

Add lambda:GetLayerVersion permission and changelog fragment
  permissions/prowler-additions-policy.json
  prowler/changelog.d/awslambda-layer-no-secrets-in-content.added.md
Due: prowler

fix(api): safely decode stored Celery task arguments (#12165)
  api/changelog.d/celery-task-kwargs-parsing.fixed.md
  api/src/backend/api/celery_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/tasks/jobs/orphan_recovery.py
  api/src/backend/tasks/tests/test_orphan_recovery.py
Due: api

fix(mcp): run streamable HTTP stateless to stop session memory leak
  mcp_server/changelog.d/mcp-stateless-http.fixed.md
  mcp_server/prowler_mcp_server/main.py
  mcp_server/prowler_mcp_server/server.py
  mcp_server/tests/test_stateless_http.py
Due: none

Update prowler/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content.metadata.json
Due: prowler

style(mcp): trim comments to one line
  mcp_server/prowler_mcp_server/server.py
  mcp_server/tests/test_stateless_http.py
Due: none

Update prowler/providers/aws/services/awslambda/awslambda_service.py
  prowler/providers/aws/services/awslambda/awslambda_service.py
Due: prowler

fix(ui): stabilize SAML ACS URL field
  ui/changelog.d/saml-acs-url-field.fixed.md
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/integrations/saml/saml-config-form.tsx
Due: none

Address CodeRabbit review: download timeout, partial-fetch MANUAL, CLI remediation
  prowler/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content.py
  prowler/providers/aws/services/awslambda/awslambda_service.py
  tests/providers/aws/services/awslambda/awslambda_layer_no_secrets_in_content/awslambda_layer_no_secrets_in_content_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
Due: prowler

fix(api): reuse safe SAML fallback roles
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  docs/user-guide/tutorials/prowler-app-sso-google-workspace.mdx
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: api

chore: bump FastMCP version
  mcp_server/prowler_mcp_server/__init__.py
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
  mcp_server/tests/test_stateless_http.py
  mcp_server/uv.lock
Due: none

fix(ui): stabilize SAML ACS URL field (#12236)
  ui/changelog.d/saml-acs-url-field.fixed.md
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/integrations/saml/saml-config-form.tsx
Due: none

fix(ui): deep-link wizard docs to per-method credentials sections
  docs/user-guide/providers/kubernetes/getting-started-k8s.mdx
  ui/changelog.d/provider-wizard-step-aware-docs-link.changed.md
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.test.tsx
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
  ui/lib/external-urls.test.ts
  ui/lib/external-urls.ts
Due: none

fix(mcp): get back ASGI deployment
  mcp_server/prowler_mcp_server/server.py
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
