Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: resolve conflicts
  prowler/CHANGELOG.md
Due: prowler

feat: add additional_urls to finding details
  ui/components/findings/table/finding-detail.tsx
  ui/types/components.ts
Due: none

fix(defender): change policies rules key (#8703)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/defender/defender_service.py
Due: prowler

fix: label and linter
  ui/components/findings/table/finding-detail.tsx
Due: none

fix: overflow
  ui/components/findings/table/finding-detail.tsx
Due: none

fix(auth): add method attribute to form for proper submission handling (#8699)
  ui/CHANGELOG.md
  ui/components/auth/oss/auth-form.tsx
Due: none

feat: address feedback
  api/src/backend/api/migrations/0048_add_api_key_model.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_models.py
Due: api

feat: add changeloge for api key
  api/CHANGELOG.md
Due: api

fix(auth): validate email field (#8698)
  ui/CHANGELOG.md
  ui/actions/auth/auth.ts
  ui/components/auth/oss/auth-form.tsx
  ui/tests/auth-login.spec.ts
  ui/tests/helpers.ts
  ui/types/authFormSchema.ts
Due: none

fix(auth): remove conflicting code in auth form component
  ui/components/auth/oss/auth-form.tsx
Due: none

chore(dependencies): update package versions and track them (#8696)
  ui/.npmrc
  ui/dependency-log.json
  ui/hooks/use-sidebar.ts
  ui/package-lock.json
  ui/package.json
  ui/scripts/update-dependency-log.js
Due: none

Update CHANGELOG.md
  ui/CHANGELOG.md
Due: none

fix(auth): add method attribute to form for proper submission handling (#8705)
  ui/CHANGELOG.md
  ui/components/auth/oss/auth-form.tsx
Due: none

fix(firehose): false positive in `firehose_stream_encrypted_at_rest` (#8599)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
  prowler/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk.py
  prowler/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public.py
  prowler/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version.py
  prowler/providers/aws/services/kafka/kafka_service.py
  tests/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk_test.py
  tests/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public_test.py
  tests/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version_test.py
  tests/providers/aws/services/kafka/kafka_service_test.py
Due: prowler

chore: count unique completed tests
  prowler/providers/llm/llm_provider.py
Due: prowler

fix(users): only list roles and memberships with manage_account
  api/src/backend/api/v1/views.py
Due: api

fix(users): exclude roles relationship from include if no permissions
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Due: api

chore: add changelog
  prowler/CHANGELOG.md
Due: prowler

fix(auth): validate email field (#8706)
  ui/CHANGELOG.md
  ui/actions/auth/auth.ts
  ui/components/auth/oss/auth-form.tsx
  ui/tests/auth-login.spec.ts
  ui/tests/helpers.ts
  ui/types/authFormSchema.ts
Due: none

fix(users): handle role absence in account management permissions
  api/src/backend/api/v1/serializers.py
Due: api

feat(rbac): add user role management fixtures and tests for role permissions
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/conftest.py
Due: api

chore: add to changelog
  ui/CHANGELOG.md
Due: none

chore(changelog): update changelog
  api/CHANGELOG.md
Due: api

docs(tutorials): clarify account management permissions in RBAC documentation
  docs/tutorials/prowler-app-rbac.md
Due: none

chore: fix changelog
  ui/CHANGELOG.md
Due: none

feat: enhance FindingDetail component with Markdown
  ui/components/findings/table/finding-detail.tsx
Due: none

fix: eslint sorting
  ui/components/findings/table/finding-detail.tsx
Due: none

fix(users): enhance user representation logic to show roles and memberships for self only if no manage_account
  api/src/backend/api/v1/serializers.py
Due: api

fix(users): ensure user role is set only for authenticated users in serializer context
  api/src/backend/api/v1/views.py
Due: api

fix(tests): update RBAC tests to reflect correct visibility of roles and memberships for users without manage_account
  api/src/backend/api/tests/test_rbac.py
Due: api

docs(tutorials): update account management permissions description for clarity
  docs/tutorials/prowler-app-rbac.md
Due: none

chore: update Changelog
  ui/CHANGELOG.md
Due: none

feat: add first Prowler MCP server version (#8695)
  mcp_server/.gitignore
  mcp_server/README.md
  mcp_server/prowler_mcp_server/__init__.py
  mcp_server/prowler_mcp_server/main.py
  mcp_server/prowler_mcp_server/prowler_hub/__init__.py
  mcp_server/prowler_mcp_server/prowler_hub/server.py
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
Due: none
