Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

perf(api): speed up finding-groups /resources endpoint (#10817)
  api/CHANGELOG.md
  api/src/backend/api/v1/views.py
Due: api

docs(ui): promote muted filter refactor changelog entry to 1.25.0 Changed
  ui/CHANGELOG.md
Due: none

fix(ui): centralize default muted findings filter on finding groups
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.test.ts
  ui/app/(prowler)/findings/page.tsx
  ui/hooks/use-finding-group-resource-state.test.ts
  ui/hooks/use-finding-group-resource-state.ts
  ui/lib/findings-filters.test.ts
  ui/lib/findings-filters.ts
  ui/lib/index.ts
Due: none

docs(ui): move muted filter fix to 1.24.2 changelog section
  ui/CHANGELOG.md
Due: none

fix(sdk): align exception handlers to SDK convention and improve test coverage
  prowler/CHANGELOG.md
  prowler/config/config.py
  prowler/lib/check/compliance_models.py
  prowler/lib/check/utils.py
  prowler/providers/common/arguments.py
  prowler/providers/common/provider.py
  tests/providers/external/test_dynamic_provider_loading.py
Due: prowler

chore: changelog
  ui/CHANGELOG.md
Due: none

chore: update CHANGELOG for Prowler v5.25.0 with new features
  prowler/CHANGELOG.md
Due: prowler

fix(ui): centralize default muted findings filter on finding groups (#10818)
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.test.ts
  ui/app/(prowler)/findings/page.tsx
  ui/hooks/use-finding-group-resource-state.test.ts
  ui/hooks/use-finding-group-resource-state.ts
  ui/lib/findings-filters.test.ts
  ui/lib/findings-filters.ts
  ui/lib/index.ts
Due: none

fix: changelog for v5.24.2
  ui/CHANGELOG.md
Due: none

fix(ui): centralize default muted findings filter on finding groups (#10819)
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.test.ts
  ui/app/(prowler)/findings/page.tsx
  ui/hooks/use-finding-group-resource-state.test.ts
  ui/hooks/use-finding-group-resource-state.ts
  ui/lib/findings-filters.test.ts
  ui/lib/findings-filters.ts
  ui/lib/index.ts
Due: none

test(ui): add E2E tests for invitation accept smart router
  ui/playwright.config.ts
  ui/tests/invitation-accept/invitation-accept-page.ts
  ui/tests/invitation-accept/invitation-accept.md
  ui/tests/invitation-accept/invitation-accept.spec.ts
Due: none

feat(external-provider): add dynamic loading tests and coverage for external provider
  .github/workflows/sdk-tests.yml
Due: none

fix: move changelog entry to unreleased section after master merge
  prowler/CHANGELOG.md
Due: prowler

feat(github): add --repo-list-file flag for GitHub scanning (#10501)
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  prowler/providers/github/exceptions/exceptions.py
  prowler/providers/github/github_provider.py
  prowler/providers/github/lib/arguments/arguments.py
  tests/providers/github/github_provider_test.py
  tests/providers/github/lib/arguments/github_arguments_test.py
Due: prowler

chore(release): Bump version to v5.24.3
  prowler/config/config.py
  pyproject.toml
Due: prowler

chore(ui): Bump version to v5.24.3
  .env
Due: none

docs: Update version to v5.24.2
  docs/getting-started/installation/prowler-app.mdx
Due: none

chore(api): Bump version to v1.25.3
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

docs(ui): drop 10803 changelog entry (no user-visible change)
  ui/CHANGELOG.md
Due: none

chore(api): Bump version to v1.25.3 (#10823)
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

chore(ui): Bump version to v5.24.3 (#10821)
  .env
Due: none

docs: Update version to v5.24.2 (#10822)
  docs/getting-started/installation/prowler-app.mdx
Due: none

chore(release): Bump version to v5.24.3 (#10820)
  prowler/config/config.py
  pyproject.toml
Due: prowler

fix(api): treat muted findings as resolved in finding-groups status
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

docs(api): add changelog entry for #10825
  api/CHANGELOG.md
Due: api

chore: ruff format
  api/src/backend/api/tests/test_views.py
Due: api

fix(api): treat muted findings as resolved in finding-groups status (#10825)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(api): reaggregate overview summaries after muting findings
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

docs(api): add changelog entry for #10827
  api/CHANGELOG.md
Due: api

fix(api): treat muted findings as resolved in finding-groups status (#10826)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(aws): fallback lookup events to resource name
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: prowler

chore: changelog #
  prowler/CHANGELOG.md
Due: prowler

fix: add guard
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: prowler

fix(aws): fallback lookup events to resource name (#10828)
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: prowler

fix(aws): fallback lookup events to resource name (#10830)
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: prowler

docs: how to configure AWS SDK Default for IAM Role authentication (#10807)
  docs/user-guide/providers/aws/authentication.mdx
  docs/user-guide/providers/aws/getting-started-aws.mdx
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
