Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(ui): warn at boot when billing or Stripe config is unreachable
  ui/lib/env.test.ts
  ui/lib/env.ts
Due: none

feat(ui): gate /billing on the cloud flag in proxy
  ui/proxy.ts
Due: none

test(ui): gate cloud-only e2e specs via isCloud()
  ui/tests/invitations/invitations.spec.ts
  ui/tests/providers/providers.spec.ts
Due: none

docs(ui): document UI_CLOUD_ENABLED runtime variable
  docs/developer-guide/environment-variables.mdx
  ui/Dockerfile
Due: none

fix(api): scope integrations to role provider visibility
  api/changelog.d/integrations-hidden-providers-disclosure.security.md
  api/changelog.d/integrations-limited-visibility.fixed.md
  api/changelog.d/integrations-object-scoping.security.md
  api/changelog.d/integrations-provider-scoping.security.md
  api/src/backend/api/base_views.py
  api/src/backend/api/rbac/permissions.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  docs/user-guide/tutorials/prowler-app-jira-integration.mdx
  docs/user-guide/tutorials/prowler-app-rbac.mdx
Due: api

refactor(ui): inline UI_CLOUD_ENABLED env name
  ui/lib/env.ts
  ui/lib/runtime-config.shared.ts
  ui/lib/runtime-config.ts
  ui/lib/shared/env.ts
Due: none

fix(ui): reduce sentry alert noise (#11665)
  ui/changelog.d/ui-sentry-actionability.fixed.md
  ui/instrumentation-client.ts
  ui/lib/server-actions-helper.test.ts
  ui/lib/server-actions-helper.ts
  ui/sentry/event-policy.test.ts
  ui/sentry/event-policy.ts
  ui/sentry/index.ts
  ui/sentry/sentry-event-filter.test.ts
  ui/sentry/sentry-event-filter.ts
  ui/sentry/sentry.edge.config.ts
  ui/sentry/sentry.server.config.ts
Due: none

chore(revision): add missing changes
  api/src/backend/api/rbac/permissions.py
  api/src/backend/api/v1/views.py
  docs/user-guide/tutorials/prowler-app-jira-integration.mdx
  docs/user-guide/tutorials/prowler-app-rbac.mdx
Due: api

chore(ui): migrate timeline changelog to fragment
  ui/CHANGELOG.md
  ui/changelog.d/findings-timeline-y-axis.fixed.md
Due: none

docs(alibabacloud): add service port remediation commands
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_elasticsearch_kibana_internet/ecs_securitygroup_restrict_elasticsearch_kibana_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_kafka_internet/ecs_securitygroup_restrict_kafka_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_memcached_internet/ecs_securitygroup_restrict_memcached_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_redis_internet/ecs_securitygroup_restrict_redis_internet.metadata.json
Due: prowler

docs(alibabacloud): add database port remediation commands
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_cassandra_internet/ecs_securitygroup_restrict_cassandra_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_mongodb_internet/ecs_securitygroup_restrict_mongodb_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_mysql_internet/ecs_securitygroup_restrict_mysql_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_oracle_internet/ecs_securitygroup_restrict_oracle_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_postgresql_internet/ecs_securitygroup_restrict_postgresql_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_sql_server_internet/ecs_securitygroup_restrict_sql_server_internet.metadata.json
Due: prowler

docs(alibabacloud): document security group priority helpers
  prowler/providers/alibabacloud/services/ecs/lib/security_groups.py
Due: prowler

feat(alibabacloud): evaluate effective security group rules
  prowler/providers/alibabacloud/services/ecs/lib/security_groups.py
  tests/providers/alibabacloud/services/ecs/lib/security_groups_test.py
Due: prowler

docs(alibabacloud): clarify service port remediation
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_elasticsearch_kibana_internet/ecs_securitygroup_restrict_elasticsearch_kibana_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_kafka_internet/ecs_securitygroup_restrict_kafka_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_memcached_internet/ecs_securitygroup_restrict_memcached_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_redis_internet/ecs_securitygroup_restrict_redis_internet.metadata.json
Due: prowler

docs(alibabacloud): add distributed database rule-id CLI
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_cassandra_internet/ecs_securitygroup_restrict_cassandra_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_mongodb_internet/ecs_securitygroup_restrict_mongodb_internet.metadata.json
Due: prowler

docs(alibabacloud): add network rule-id CLI
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ftp_internet/ecs_securitygroup_restrict_ftp_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_high_risk_ports_internet/ecs_securitygroup_restrict_high_risk_ports_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_telnet_internet/ecs_securitygroup_restrict_telnet_internet.metadata.json
Due: prowler

test(alibabacloud): validate exact-rule remediation guidance
  tests/providers/alibabacloud/services/ecs/security_group_public_port_checks_test.py
Due: none

docs(alibabacloud): clarify relational database remediation
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_mysql_internet/ecs_securitygroup_restrict_mysql_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_oracle_internet/ecs_securitygroup_restrict_oracle_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_postgresql_internet/ecs_securitygroup_restrict_postgresql_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_sql_server_internet/ecs_securitygroup_restrict_sql_server_internet.metadata.json
Due: prowler

docs(alibabacloud): add relational database rule-id CLI
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_mysql_internet/ecs_securitygroup_restrict_mysql_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_oracle_internet/ecs_securitygroup_restrict_oracle_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_postgresql_internet/ecs_securitygroup_restrict_postgresql_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_sql_server_internet/ecs_securitygroup_restrict_sql_server_internet.metadata.json
Due: prowler

fix(alibabacloud): isolate failed check state
  prowler/providers/alibabacloud/lib/service/service.py
  tests/providers/alibabacloud/services/ecs/alibabacloud_ecs_service_test.py
  tests/providers/alibabacloud/services/ecs/security_group_public_port_checks_test.py
Due: prowler

docs(alibabacloud): clarify network port remediation
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ftp_internet/ecs_securitygroup_restrict_ftp_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_high_risk_ports_internet/ecs_securitygroup_restrict_high_risk_ports_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_telnet_internet/ecs_securitygroup_restrict_telnet_internet.metadata.json
Due: prowler

feat(alibabacloud): track security group evaluation state
  prowler/providers/alibabacloud/lib/service/service.py
  prowler/providers/alibabacloud/services/ecs/ecs_service.py
  tests/providers/alibabacloud/services/ecs/alibabacloud_ecs_service_test.py
Due: prowler

refactor(alibabacloud): share public port check execution
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_rdp_internet/ecs_securitygroup_restrict_rdp_internet.py
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ssh_internet/ecs_securitygroup_restrict_ssh_internet.py
  prowler/providers/alibabacloud/services/ecs/lib/security_group_port_check.py
  tests/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_rdp_internet/ecs_securitygroup_restrict_rdp_internet_test.py
  tests/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ssh_internet/ecs_securitygroup_restrict_ssh_internet_test.py
Due: prowler

test(alibabacloud): require exact-rule CLI remediation
  tests/providers/alibabacloud/services/ecs/security_group_public_port_checks_test.py
Due: none

docs(alibabacloud): add service rule-id CLI
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_elasticsearch_kibana_internet/ecs_securitygroup_restrict_elasticsearch_kibana_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_kafka_internet/ecs_securitygroup_restrict_kafka_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_memcached_internet/ecs_securitygroup_restrict_memcached_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_redis_internet/ecs_securitygroup_restrict_redis_internet.metadata.json
Due: prowler

docs(alibabacloud): add network port remediation commands
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ftp_internet/ecs_securitygroup_restrict_ftp_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_high_risk_ports_internet/ecs_securitygroup_restrict_high_risk_ports_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_telnet_internet/ecs_securitygroup_restrict_telnet_internet.metadata.json
Due: prowler

docs(alibabacloud): clarify distributed database remediation
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_cassandra_internet/ecs_securitygroup_restrict_cassandra_internet.metadata.json
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_mongodb_internet/ecs_securitygroup_restrict_mongodb_internet.metadata.json
Due: prowler

chore(changelog): document Alibaba Cloud port checks
  prowler/changelog.d/alibabacloud-ecs-security-group-port-checks.added.md
Due: prowler

test(alibabacloud): prefix security group test filename
  tests/providers/alibabacloud/services/ecs/lib/alibabacloud_security_groups_test.py
Due: none

docs(alibabacloud): document public port helper
  prowler/providers/alibabacloud/services/ecs/lib/security_group_port_check.py
Due: prowler

refactor(alibabacloud): name remote access services
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_rdp_internet/ecs_securitygroup_restrict_rdp_internet.py
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ssh_internet/ecs_securitygroup_restrict_ssh_internet.py
Due: prowler

fix(alibabacloud): format empty port collections
  prowler/providers/alibabacloud/services/ecs/lib/security_groups.py
  tests/providers/alibabacloud/services/ecs/lib/alibabacloud_security_groups_test.py
Due: prowler

chore(skills): improve prowler-compliance coverage, validation and docs
  AGENTS.md
  skills/prowler-compliance/SKILL.md
  skills/prowler-compliance/references/check-mapping-reference.md
  skills/prowler-compliance/references/compliance-docs.md
Due: none

chore(revision): add missing changes
  skills/prowler-compliance/SKILL.md
  skills/prowler-compliance/references/check-mapping-reference.md
Due: none

refactor(sagemaker): move lifecycle secret scan into service layer
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/sagemaker_notebook_instance_no_secrets.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/sagemaker_notebook_instance_no_secrets.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/sagemaker_notebook_instance_no_secrets_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
Due: prowler

chore(skills): improve compliance coverage, validation & docs (#12062)
  AGENTS.md
  skills/prowler-compliance/SKILL.md
  skills/prowler-compliance/references/check-mapping-reference.md
  skills/prowler-compliance/references/compliance-docs.md
Due: none

docs(sagemaker): add markdown emphasis to no_secrets check metadata
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/sagemaker_notebook_instance_no_secrets.metadata.json
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
