Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(stackit): resolve implicit return in test_connection
  prowler/providers/stackit/stackit_provider.py
Due: prowler

ci(docs): wire markdownlint into CI and clean up touched files
  .github/workflows/markdown-lint.yml
  .markdownlintignore
  AGENTS.md
  CONTRIBUTING.md
  README.md
  permissions/templates/terraform/README.md
  skills/playwright/SKILL.md
  skills/postgresql-indexing/SKILL.md
  skills/prowler-compliance/SKILL.md
  skills/prowler-test-ui/SKILL.md
  ui/tests/auth/auth.md
  ui/tests/invitation-accept/invitation-accept.md
  ui/tests/invitations/invitations.md
  ui/tests/providers/providers.md
  ui/tests/scans/scans.md
  ui/tests/sign-in-base/sign-in-base.md
  ui/tests/sign-up/sign-up.md
Due: none

chore(ui): make View Resource an icon-only link next to the resource name (#11193)
  ui/CHANGELOG.md
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/ui/entities/entity-info.tsx
Due: none

refactor(ui): align health endpoint with IETF health-check format
  ui/app/api/health/route.test.ts
  ui/app/api/health/route.ts
Due: none

Revert "revert(ci): drop views.py version bump/verify steps in favor of pypro…"
  .github/workflows/api-bump-version.yml
  .github/workflows/prepare-release.yml
Due: none

chore(ci): allow Docker Hub CloudFront CDN in UI container checks
  .github/workflows/ui-container-checks.yml
Due: none

refactor(mcp): align health endpoint with IETF health-check format
  docker-compose-dev.yml
  docker-compose.yml
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
  mcp_server/tests/__init__.py
  mcp_server/tests/test_health.py
  mcp_server/uv.lock
Due: none

fix(ci): allow production.cloudfront.docker.com in mcp-container-checks egress
  .github/workflows/mcp-container-checks.yml
Due: none

chore(ci): drop views.py version bump/verify steps in favor of pyproject.toml-derived RELEASE_ID (#11205)
  .github/workflows/api-bump-version.yml
  .github/workflows/prepare-release.yml
Due: none

chore: update okta logo
  ui/components/icons/providers-badge/okta-provider-badge.tsx
Due: none

chore: update placeholders
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/via-credentials/okta-credentials-form.tsx
Due: none

chore(ci): consolidate sdk/api/ui/docs bump workflows into single bump-version.yml
  .github/workflows/api-bump-version.yml
  .github/workflows/bump-version.yml
  .github/workflows/docs-bump-version.yml
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sdk-bump-version.yml
  .github/workflows/ui-bump-version.yml
  .github/zizmor.yml
Due: none

fix(ui): align attack paths node label dimensions
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/finding-node.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/finding-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/resource-node.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/resource-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/export.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/export.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/layout.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-dimensions.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-label-lines.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-label-lines.ts
Due: none

docs(skills): require changelog confirmation
  skills/prowler-changelog/SKILL.md
Due: none

chore(ci): consolidate sdk/api/ui/docs bump workflows into single bump-version.yml (#11208)
  .github/workflows/api-bump-version.yml
  .github/workflows/bump-version.yml
  .github/workflows/docs-bump-version.yml
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sdk-bump-version.yml
  .github/workflows/ui-bump-version.yml
  .github/zizmor.yml
Due: none

feat(aws/sagemaker): add sagemaker_clarify_exists check
  prowler/providers/aws/services/sagemaker/sagemaker_clarify_exists/__init__.py
  prowler/providers/aws/services/sagemaker/sagemaker_clarify_exists/sagemaker_clarify_exists.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_clarify_exists/sagemaker_clarify_exists.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_clarify_exists/sagemaker_clarify_exists_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
Due: prowler

feat(m365/entra): add entra_app_registration_no_password_credentials check
  prowler/providers/m365/services/entra/entra_app_registration_no_password_credentials/__init__.py
  prowler/providers/m365/services/entra/entra_app_registration_no_password_credentials/entra_app_registration_no_password_credentials.metadata.json
  prowler/providers/m365/services/entra/entra_app_registration_no_password_credentials/entra_app_registration_no_password_credentials.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_app_registration_no_password_credentials/entra_app_registration_no_password_credentials_test.py
Due: prowler

refactor(ui): align /api/health with IETF health-check format (#11206)
  .github/workflows/ui-container-checks.yml
  ui/app/api/health/route.test.ts
  ui/app/api/health/route.ts
Due: none

docs(skills): require changelog confirmation (#11209)
  skills/prowler-changelog/SKILL.md
Due: none

fix(ui): improve attack paths node labels (#11197)
  ui/CHANGELOG.md
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/finding-node.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/finding-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/node-label-lines.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/resource-node.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/resource-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/export.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/export.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/layout.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/layout.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-dimensions.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-label-lines.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-label-lines.ts
Due: none

refactor(mcp): align /health with IETF health-check format (#11207)
  .github/workflows/mcp-container-checks.yml
  docker-compose-dev.yml
  docker-compose.yml
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
  mcp_server/tests/__init__.py
  mcp_server/tests/test_health.py
  mcp_server/uv.lock
Due: none

chore: update changelog
  ui/CHANGELOG.md
Due: none

feat: add exchange_mailbox_primary_smtp_uses_custom_domain check, metadata and tests
  prowler/providers/m365/services/exchange/exchange_mailbox_primary_smtp_uses_custom_domain/exchange_mailbox_primary_smtp_uses_custom_domain.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_primary_smtp_uses_custom_domain/exchange_mailbox_primary_smtp_uses_custom_domain.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_primary_smtp_uses_custom_domain/exchange_mailbox_primary_smtp_uses_custom_domain_test.py
Due: prowler

chore(readme): update table Prowler at a Glance
  README.md
Due: none

chore(ui): rename build-crendentials to build-credentials
  ui/actions/providers/providers.test.ts
  ui/actions/providers/providers.ts
  ui/lib/provider-credentials/build-credentials.ts
Due: none

feat(ui): register okta account node in attack paths
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-visuals.ts
Due: none

refactor(ui): clarify okta provider form copy and validation
  ui/components/providers/workflow/forms/via-credentials/okta-credentials-form.tsx
  ui/types/formSchemas.ts
Due: none

chore: update metadata description
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_cmek_encryption_enabled/cloudsql_instance_cmek_encryption_enabled.metadata.json
  tests/providers/gcp/services/cloudsql/cloudsql_instance_cmek_encryption_enabled/__init__.py
Due: prowler

chore(readme): update table Prowler at a Glance (#11216)
  README.md
Due: none

fix(ci): bump harden-runner to v2.19.3 so issue-triage jobs stop failing on ubuntu-slim
  .github/workflows/issue-triage.lock.yml
Due: none

chore(changelog): prepare for v5.27.0 (#11218)
  api/CHANGELOG.md
  mcp_server/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

chore(api): update prowler dependency to v5.27 for release 5.27.0
  api/pyproject.toml
  api/uv.lock
Due: api

fix(s3): only emit shadow-resource finding when bucket name matches a predictable pattern
  prowler/providers/aws/services/s3/s3_bucket_shadow_resource_vulnerability/s3_bucket_shadow_resource_vulnerability.py
  tests/providers/aws/services/s3/s3_bucket_shadow_resource_vulnerability/s3_bucket_shadow_resource_vulnerability_test.py
Due: prowler

docs(changelog): add entry for #11220 s3 shadow-resource fix
  prowler/CHANGELOG.md
Due: prowler

feat(okta): add signon_dod_warning_banner_configured security check
  prowler/compliance/okta/__init__.py
  prowler/compliance/okta/okta_stig_okta.json
  prowler/providers/okta/services/signon/signon_dod_warning_banner_configured/__init__.py
  prowler/providers/okta/services/signon/signon_dod_warning_banner_configured/signon_dod_warning_banner_configured.metadata.json
  prowler/providers/okta/services/signon/signon_dod_warning_banner_configured/signon_dod_warning_banner_configured.py
  tests/providers/okta/services/signon/signon_dod_warning_banner_configured/signon_dod_warning_banner_configured_test.py
Due: prowler

docs(changelog): add signon_dod_warning_banner_configured entry
  prowler/CHANGELOG.md
Due: prowler

chore(api): Update prowler dependency to v5.27 for release 5.27.0 (#11219)
  api/pyproject.toml
  api/uv.lock
Due: api

feat(awslambda): add secrets_ignore_files to skip files by name in no-secrets-in-code check
  prowler/config/config.yaml
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
Due: prowler

docs(changelog): add entry for #11222 lambda secrets_ignore_files
  prowler/CHANGELOG.md
Due: prowler
