Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(sharepoint): add new check related with OneDrive Sync (#7589)
  README.md
  prowler/CHANGELOG.md
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/__init__.py
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices.metadata.json
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
  tests/providers/m365/services/sharepoint/sharepoint_external_sharing_managed/sharepoint_external_sharing_managed_test.py
  tests/providers/m365/services/sharepoint/sharepoint_external_sharing_restricted/sharepoint_external_sharing_restricted_test.py
  tests/providers/m365/services/sharepoint/sharepoint_modern_authentication_required/sharepoint_modern_authentication_required_test.py
  tests/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices_test.py
  tests/providers/m365/services/sharepoint/sharepoint_service_test.py
Due: prowler

Change name to Lighthouse
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Due: api

fix: set correct default value for session duration
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
Due: none

feat(exchange): add new check `exchange_mailbox_policy_additional_storage_restricted` (#7638)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

feat(exchange): add new check for smtp auth disabled
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled_test.py
Due: prowler

feat(exchange): add changelog
  prowler/CHANGELOG.md
Due: prowler

test(performance): Add base framework for API performance tests (#7632)
  api/tests/performance/__init__.py
  api/tests/performance/benchmark.py
  api/tests/performance/requirements.txt
  api/tests/performance/scenarios/__init__.py
  api/tests/performance/scenarios/findings.py
  api/tests/performance/utils/__init__.py
  api/tests/performance/utils/config.py
  api/tests/performance/utils/helpers.py
Due: api

chore(m365): make suggested changes
  docs/getting-started/requirements.md
  docs/tutorials/microsoft365/use-of-powershell.md
Due: none

chore(m365): remove confusing info about encrypted password
  docs/tutorials/microsoft365/getting-started-m365.md
Due: none

fix: set correct default value for session duration (#7639)
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
Due: none

fix: typo in CLI metadata
  prowler/providers/m365/services/exchange/exchange_transport_rules_whitelist_disabled/exchange_transport_rules_whitelist_disabled.metadata.json
Due: prowler

srn PR comments
  ui/actions/invitations/invitation.ts
  ui/actions/providers/providers.ts
  ui/actions/roles/roles.ts
  ui/actions/scans/scans.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/invitations/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/roles/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/app/(prowler)/users/page.tsx
  ui/components/ui/table/data-table-pagination.tsx
  ui/components/ui/table/data-table.tsx
  ui/lib/helper.ts
  ui/types/components.ts
Due: none

feat(exchange): add new check for mailbox properties auditing on e3 enabled
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

docs(aws): add codebuild_github_allowed_organizations to configuration docs
  docs/tutorials/configuration_file.md
Due: none

chore: resolve comments
  prowler/lib/powershell/powershell.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

fix: add expected value to error_result
  prowler/lib/powershell/powershell.py
Due: prowler

fix(s3): add ContentType in upload_file (#7635)
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/s3_test.py
Due: prowler

feat(m365): automate `PowerShell` modules installation (#7618)
  Dockerfile
  api/Dockerfile
  prowler/lib/powershell/powershell.py
  prowler/providers/common/provider.py
  prowler/providers/m365/lib/arguments/arguments.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
Due: prowler, api

fix: add default value for error_result
  prowler/lib/powershell/powershell.py
Due: prowler

feat: add m365 to API (#7563)
  .github/workflows/api-pull-request.yml
  .pre-commit-config.yaml
  api/.pre-commit-config.yaml
  api/CHANGELOG.md
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/migrations/0017_m365_provider.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  poetry.lock
  prowler/lib/powershell/powershell.py
  prowler/providers/m365/m365_provider.py
  pyproject.toml
Due: prowler, api

feat(exchange): add new check for role assignment policies
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

fix: tests
  tests/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled_test.py
Due: none

fix: wrong status extended
  tests/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled_test.py
Due: none

Fix NextJS reviews
  ui/actions/lighthouse/compliances.ts
  ui/app/(prowler)/lighthouse/config/layout.tsx
  ui/app/(prowler)/lighthouse/page.tsx
  ui/lib/lighthouse/tools/checks.ts
  ui/lib/lighthouse/tools/compliances.ts
  ui/types/lighthouse/checks.ts
  ui/types/lighthouse/compliances.ts
  ui/types/lighthouse/findings.ts
  ui/types/lighthouse/overviews.ts
  ui/types/lighthouse/providers.ts
Due: none

feat(exchange): add new check `exchange_organization_mailtips_enabled` (#7637)
  docs/tutorials/configuration_file.md
  prowler/CHANGELOG.md
  prowler/config/config.py
  prowler/config/config.yaml
  prowler/providers/m365/services/exchange/exchange_organization_mailtips_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/config/fixtures/config.yaml
  tests/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

feat(exchange): add new check `exchange_transport_config_smtp_auth_disabled` (#7640)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled_test.py
Due: prowler

chore: update method description
  prowler/providers/m365/lib/powershell/m365_powershell.py
Due: prowler

feat: delta in findings with tooltip and flexible layout
  ui/components/findings/table/finding-detail.tsx
  ui/components/ui/entities/info-field.tsx
Due: none

feat(exchange): add new check `exchange_mailbox_properties_auditing_e3_enabled` (#7642)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

feat: add onOpenChange handler to TriggerSheet for dynamic URL updates
  ui/components/findings/table/column-findings.tsx
  ui/components/ui/sheet/trigger-sheet.tsx
Due: none

feat: add .cursorignore
  .gitignore
Due: none

test: add unittests
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

chore: restore comment
  api/src/backend/api/v1/views.py
Due: api

fix: update check severity
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.metadata.json
Due: prowler

build: clean imports
  ui/components/findings/table/finding-detail.tsx
  ui/components/ui/entities/info-field.tsx
Due: none

feat(exchange): add new check `exchange_roles_assignment_policy_addins_disabled` (#7644)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

fix: init org with all fields
  tests/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled_test.py
  tests/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/exchange_organization_modern_authentication_enabled_test.py
Due: none
