Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(aws): fix logic in VPC and ELBv2 checks (#8077)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/elbv2/elbv2_desync_mitigation_mode/elbv2_desync_mitigation_mode.py
  prowler/providers/aws/services/vpc/vpc_endpoint_multi_az_enabled/vpc_endpoint_multi_az_enabled.py
  tests/providers/aws/services/vpc/vpc_endpoint_multi_az_enabled/vpc_endpoint_multi_az_enabled_test.py
Due: prowler

chore: update default name value
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/api/v1/views.py
Due: api

fix(saml): avoid IndexError when some attributes are not specified (#8089)
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/api/v1/views.py
Due: api

feat(azure): add new check `keyvault_access_only_through_private_endpoints` (#8072)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/__init__.py
  prowler/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/keyvault_access_only_through_private_endpoints.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/keyvault_access_only_through_private_endpoints.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
  tests/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/keyvault_access_only_through_private_endpoints_test.py
Due: prowler

Update CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler

chore(e2e): add temporary AUTH_SECRET for Playwright E2E test runs
  .github/workflows/ui-end2end.yml
  ui/tests/e2e/global-setup.ts
Due: none

chore: add changelog
  prowler/CHANGELOG.md
Due: prowler

fix: updating migration order
  api/src/backend/api/migrations/0033_processors_enum.py
  api/src/backend/api/migrations/0034_processors.py
  api/src/backend/api/migrations/0035_finding_muted_reason.py
Due: api

fix: reuse validate_mutelist
  api/src/backend/api/v1/serializers.py
Due: api

feat: okta callback handled
  ui/app/api/auth/callback/saml/route.ts
Due: none

chore: update CHANGELOG.md
  ui/CHANGELOG.md
Due: none

build: no logs
  ui/app/api/auth/callback/saml/route.ts
Due: none

feat(resources): optimize endpoints and add failing findings count
  api/src/backend/api/filters.py
  api/src/backend/api/v1/mixins.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

fix(organizations): solve comments
  prowler/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
Due: prowler

ECS Cluster Container Insight Fixes
  prowler/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled.py
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled_test.py
Due: prowler

chore: update api changelog to reflect new feature
  api/CHANGELOG.md
Due: api

fix: updating yaml spec
  api/src/backend/api/specs/v1.yaml
Due: api

chore(e2e): update execSync command to use 'docker compose' format
  ui/package-lock.json
  ui/package.json
  ui/playwright.config.ts
  ui/tests/e2e/global-setup.ts
Due: none

fix: typo
  prowler/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled.py
Due: prowler

refactor(e2e): remove global-setup file — Docker lifecycle handled in CI
  ui/playwright.config.ts
  ui/tests/e2e/global-setup.ts
Due: none

fix(organizations): `Key Error: Statement` in check `organizations_scp_deny_regions` (#8091)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
Due: prowler

fix(aws): retrieve correctly ECS Container insights settings (#8097)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled.py
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled_test.py
Due: prowler

chore(gha): check changelog changes on pull request (#7991)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): add permissions on check-changelog workflow (#8080)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): check changelog when label is added or deleted (#8071)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): avoid comment on PRs for check-changelog workflow (#8083)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): avoid comment on PRs for check-changelog workflow (#8084)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): check changelog changes on pull request (#8101)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): add permissions on check-changelog workflow (#8102)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): avoid comment on PRs for check-changelog workflow (#8104)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): avoid comment on PRs for check-changelog workflow (#8105)
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(e2e): updated page load timing
  ui/playwright.config.ts
Due: none

refactor(e2e): removed sign-up redirection
  ui/tests/e2e/root.spec.ts
Due: none

test(e2e): implement login flow tests with valid and invalid credentials
  ui/tests/e2e/auth/authentication.spec.ts
Due: none
