Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(databricks): add default value for optional attributes
  prowler/providers/azure/services/databricks/databricks_service.py
Due: prowler

fix(iam): add missing ResourceType to metadata
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted.metadata.json
Due: prowler

feat(azure): add new check `databricks_workspace_cmk_encryption_enabled` (#8017)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/databricks/databricks_service.py
  prowler/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/__init__.py
  prowler/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/databricks_workspace_cmk_encryption_enabled.metadata.json
  prowler/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/databricks_workspace_cmk_encryption_enabled.py
  tests/providers/azure/services/databricks/databricks_service_test.py
  tests/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/databricks_workspace_cmk_encryption_enabled_test.py
Due: prowler

feat: clear button componetization
  ui/app/(prowler)/page.tsx
  ui/components/filters/clear-filters-button.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/filters/index.ts
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/hooks/use-url-filters.ts
Due: none

fix: compliance layout after merge master
  ui/components/compliance/compliance-header/compliance-header.tsx
Due: none

refactor(compliance): use raw SQL for complex queries
  api/src/backend/api/v1/views.py
Due: api

chore: add pr to changelog
  prowler/CHANGELOG.md
Due: prowler

fix(m365): avoid user requests in `setup_identity` app context and user auth log enhancement (#8043)
  docs/getting-started/requirements.md
  docs/tutorials/microsoft365/getting-started-m365.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

chore: revision
  prowler/config/config.py
  prowler/lib/outputs/compliance/compliance_output.py
Due: prowler

chore: revision
  prowler/lib/outputs/compliance/compliance_output.py
Due: prowler

feat(ui): updated findings redirection to reuse the same drawer
  ui/components/resources/skeleton/skeleton-finding-details.tsx
  ui/components/resources/table/data-table-row-details.tsx
  ui/components/resources/table/resource-detail.tsx
Due: none

chore: rename check
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/__init__.py
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled.metadata.json
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled.py
  tests/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled_test.py
Due: prowler

chore: resolve conflicts
  docs/getting-started/requirements.md
Due: none

fix(m365): avoid user requests in `setup_identity` app context and user auth log enhancement (#8055)
  docs/getting-started/requirements.md
  docs/tutorials/microsoft365/getting-started-m365.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

chore(docs): change format for CLI
  docs/tutorials/configuration_file.md
  docs/tutorials/custom-checks-metadata.md
  docs/tutorials/fixer.md
  docs/tutorials/integrations.md
  docs/tutorials/mutelist.md
  docs/tutorials/prowler-check-kreator.md
  docs/tutorials/quick-inventory.md
  docs/tutorials/scan-unused-services.md
Due: none

feat: relationship between scan filters
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/findings/findings-filters.tsx
  ui/components/providers/provider-info.tsx
  ui/components/scans/index.ts
  ui/components/scans/scans-filters.tsx
  ui/hooks/index.ts
  ui/hooks/use-related-filters.ts
Due: none

chore: add pr to changelog (#8054)
  prowler/CHANGELOG.md
Due: prowler

chore: add pr to changelog (#8057)
  prowler/CHANGELOG.md
Due: prowler

chore: revision
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted.py
  prowler/providers/azure/services/iam/iam_service.py
  tests/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted_test.py
Due: prowler

feat(storage): add new check `storage_default_to_entra_authorization_enabled` (#7981)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/__init__.py
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled.metadata.json
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
Due: prowler

docs: add provider-specific developer guide sections (#7996)
  docs/developer-guide/aws-details.md
  docs/developer-guide/azure-details.md
  docs/developer-guide/gcp-details.md
  docs/developer-guide/github-details.md
  docs/developer-guide/introduction.md
  docs/developer-guide/kubernetes-details.md
  docs/developer-guide/m365-details.md
  mkdocs.yml
Due: none

feat(azure): add new check `iam_role_user_access_admin_restricted` (#8040)
  prowler/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.py
  prowler/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks.py
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/__init__.py
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted.metadata.json
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created.py
  tests/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges_test.py
  tests/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa_test.py
  tests/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks_test.py
  tests/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted_test.py
  tests/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created_test.py
Due: prowler

Revert "feat: hadling empty cases in forms, and absence of pointer in errors"
  ui/actions/providers/providers.ts
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
Due: none

Revert "feat: unrequired password and user in m365 form"
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
Due: none

feat: add Google Tag Manager integration
  .env
  ui/app/(auth)/layout.tsx
  ui/package-lock.json
  ui/package.json
Due: none

Revert "chore: make user and password optional in ui"
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

docs: update changelog
  ui/CHANGELOG.md
Due: none

feat: add Google Tag Manager integration (#8058)
  .env
  ui/CHANGELOG.md
  ui/app/(auth)/layout.tsx
  ui/package-lock.json
  ui/package.json
Due: none

fix: delete compliance
  prowler/lib/outputs/compliance/iso27001/iso27001_m365.py
Due: prowler

fix: delete compliance
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365_test.py
Due: none

chore(ui): add NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID variable on Dockerfile
  .env
  ui/Dockerfile
Due: none

fix: add missing changelog compliance
  prowler/CHANGELOG.md
Due: prowler

fix: add missing changelog compliance timestamps (#8060)
  prowler/CHANGELOG.md
Due: prowler

chore(ui): add NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID variable on Dockerfile (#8061)
  .env
  ui/Dockerfile
Due: none

fix: add missing changelog compliance timestamps (#8062)
  prowler/CHANGELOG.md
Due: prowler
