Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

refactor(ui): migrate invitation and credentials forms to shadcn Select
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
Due: none

chore(ui): remove unused HeroUI filter selection components
  ui/components/filters/custom-account-selection.tsx
  ui/components/filters/custom-region-selection.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/filters/index.ts
Due: none

refactor(ui): replace HeroUI Chip with shadcn Badge in integrations
  ui/components/integrations/security-hub/security-hub-integrations-manager.tsx
  ui/components/integrations/shared/integration-card-header.tsx
Due: none

fix(sdk): return PASS when no MDE devices deployed
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.py
  tests/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials_test.py
Due: prowler

fix(sdk): distinguish MDE not enabled vs no devices in DefenderXDR check
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_service.py
  tests/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials_test.py
Due: prowler

refactor(ui): flatten scan interfaces and simplify badge component
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-list-table.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-status-badge.tsx
  ui/types/scans.ts
Due: none

fix(ui): widen WAITING_STATES type to accept ScanState in includes()
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-list-table.tsx
Due: none

refactor(sdk): simplify DefenderXDR check removing MDE prerequisite
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_service.py
  tests/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials_test.py
Due: prowler

fix(sdk): add MDE prerequisite check for exposed credentials detection
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_service.py
  tests/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials_test.py
Due: prowler

fix(ui): changes for update credetials for AliababaCloud provider (#10098)
  ui/CHANGELOG.md
  ui/components/providers/credentials-update-info.tsx
Due: none

chore(changelog): update with latest changes
  ui/CHANGELOG.md
Due: none

refactor(sdk): unify Defender services with S3/S3Control pattern
  prowler/providers/m365/services/defender/defender_endpoint_client.py
  prowler/providers/m365/services/defender/defender_endpoint_privileged_user_exposed_credentials/__init__.py
  prowler/providers/m365/services/defender/defender_endpoint_privileged_user_exposed_credentials/defender_endpoint_privileged_user_exposed_credentials.metadata.json
  prowler/providers/m365/services/defender/defender_endpoint_privileged_user_exposed_credentials/defender_endpoint_privileged_user_exposed_credentials.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_endpoint_privileged_user_exposed_credentials/__init__.py
  tests/providers/m365/services/defender/defender_endpoint_privileged_user_exposed_credentials/defender_endpoint_privileged_user_exposed_credentials_test.py
Due: prowler

refactor(sdk): remove deprecated defenderxdr service
  prowler/providers/m365/services/defenderxdr/__init__.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_client.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/__init__.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.metadata.json
  prowler/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials.py
  prowler/providers/m365/services/defenderxdr/defenderxdr_service.py
  tests/providers/m365/services/defenderxdr/defenderxdr_privileged_user_exposed_credentials/defenderxdr_privileged_user_exposed_credentials_test.py
Due: prowler

fix(ui): changes for update credetials for AliababaCloud provider (#10099)
  ui/CHANGELOG.md
  ui/components/providers/credentials-update-info.tsx
Due: none

refactor(sdk): unify DefenderIdentity into defender service
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/defender/defender_identity_client.py
  prowler/providers/m365/services/defender/defender_identity_health_issues_no_open/__init__.py
  prowler/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open.metadata.json
  prowler/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open.py
  prowler/providers/m365/services/defender/defender_service.py
  prowler/providers/m365/services/defenderidentity/defenderidentity_client.py
  prowler/providers/m365/services/defenderidentity/defenderidentity_service.py
  tests/providers/m365/services/defender/defender_identity_health_issues_no_open/__init__.py
  tests/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open_test.py
Due: prowler

docs(m365): add SecurityIdentitiesHealth.Read.All permission requirement
  docs/user-guide/providers/microsoft365/authentication.mdx
Due: none

feat(m365): add sensor deployment check to defender_identity_health_issues_no_open
  prowler/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open.metadata.json
  prowler/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open_test.py
Due: prowler

fix(m365): allow global health issues without sensors in defender_identity check
  prowler/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open.py
  tests/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open_test.py
Due: prowler

chore: improve image service
  prowler/providers/openstack/services/image/image_service.py
  tests/providers/openstack/services/image/image_service_test.py
Due: prowler

feat: add changelog
  prowler/CHANGELOG.md
Due: prowler

refactor(ui): simplify EnhancedMultiSelect component
  ui/components/shadcn/select/enhanced-multi-select.tsx
Due: none

refactor(ui): update EnhancedMultiSelect consumers
  ui/components/findings/send-to-jira-modal.tsx
  ui/components/integrations/s3/s3-integration-form.tsx
  ui/components/integrations/security-hub/security-hub-integration-form.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
Due: none

refactor(m365): separate health issues and sensors into distinct checks
  prowler/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open.py
  prowler/providers/m365/services/defender/defender_identity_sensors_deployed/__init__.py
  prowler/providers/m365/services/defender/defender_identity_sensors_deployed/defender_identity_sensors_deployed.metadata.json
  prowler/providers/m365/services/defender/defender_identity_sensors_deployed/defender_identity_sensors_deployed.py
  tests/providers/m365/services/defender/defender_identity_health_issues_no_open/defender_identity_health_issues_no_open_test.py
  tests/providers/m365/services/defender/defender_identity_sensors_deployed/__init__.py
  tests/providers/m365/services/defender/defender_identity_sensors_deployed/defender_identity_sensors_deployed_test.py
Due: prowler

chore(ui): add changelog entry for v1.18.3
  ui/CHANGELOG.md
Due: none

feat(attack-paths): add graph_data_ready field to decouple query availability from scan state (#10089)
  api/CHANGELOG.md
  api/src/backend/api/fixtures/dev/8_dev_attack_paths_scans.json
  api/src/backend/api/migrations/0079_attackpathsscan_graph_data_ready.py
  api/src/backend/api/migrations/0080_backfill_attack_paths_graph_data_ready.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  ui/CHANGELOG.md
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-list-table.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-status-badge.tsx
  ui/types/attack-paths.ts
  ui/types/scans.ts
Due: api

feat(docs): add Prowler Cloud docs to Openstack getting started
  docs/user-guide/providers/openstack/getting-started-openstack.mdx
Due: none

test(ui): update E2E locators for shadcn Select migration
  ui/tests/invitations/invitations-page.ts
  ui/tests/providers/providers-page.ts
Due: none

fix(api): clean up temp Neo4j databases on scan failure and provider deletion
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  api/src/backend/tasks/tests/test_deletion.py
Due: api

fix(api): clean up temp Neo4j databases on scan failure and provider deletion - Add api/CHANGELOG.md entry
  api/CHANGELOG.md
Due: api

Update api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/jobs/deletion.py
Due: api

fix: remove return statements from finally blocks to prevent swallowing exceptions
  prowler/lib/check/custom_checks_metadata.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/iam/iam_user_two_active_access_key/iam_user_two_active_access_key.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/gcp/gcp_provider.py
Due: prowler

fix(ui): apply provider/account filters to Findings Severity Over Time chart
  ui/app/(prowler)/_overview/severity-over-time/_components/finding-severity-over-time.tsx
Due: none

fix(ui): prevent line chart clipping on severity-over-time graph
  ui/components/graphs/line-chart.tsx
Due: none

fix(gcp): address review comments - added unit tests
  tests/providers/gcp/services/dns/dns_policy_logging_enabled/dns_policy_logging_enabled_test.py
Due: none

feat(ui): rename button component
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-download-container.tsx
  ui/components/compliance/index.ts
Due: none

feat(image): add image provider scan support to Scan class and API layer
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/migrations/0079_image_provider.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/export.py
  notebooks/image_provider_api_test.ipynb
  notebooks/image_provider_api_test_output.ipynb
  prowler/lib/scan/scan.py
Due: prowler, api

chore(api): update poetry.lock for image provider SDK branch
  api/poetry.lock
Due: api

fix(compliance): remove account_id and location for manual reqs
  prowler/lib/outputs/compliance/cis/cis_m365.py
  tests/lib/outputs/compliance/cis/cis_m365_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
