Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore: update oci checks
  README.md
Due: none

Fix conflicts on merging v5.19
  api/CHANGELOG.md
Due: api

docs: update readme and docs with new providers (#10295)
  README.md
  docs/introduction.mdx
Due: none

docs: update mutelist docs (#10296)
  docs/user-guide/tutorials/prowler-app-mute-findings.mdx
  docs/user-guide/tutorials/prowler-app-simple-mutelist.mdx
Due: none

fix(api): add missing logging for Attack Paths query execution and scan error handling (#10297)
  api/CHANGELOG.md
  api/src/backend/api/v1/views.py
  api/src/backend/config/custom_logging.py
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

feat(sdk): add universal compliance schema models and loaders
  prowler/lib/check/compliance_models.py
  tests/lib/check/universal_compliance_models_test.py
Due: prowler

feat(sdk): add universal compliance output modules (CSV, OCSF, table)
  prowler/lib/outputs/compliance/universal/__init__.py
  prowler/lib/outputs/compliance/universal/ocsf_compliance.py
  prowler/lib/outputs/compliance/universal/universal_output.py
  prowler/lib/outputs/compliance/universal/universal_table.py
  tests/lib/outputs/compliance/universal/__init__.py
  tests/lib/outputs/compliance/universal/ocsf_compliance_test.py
  tests/lib/outputs/compliance/universal/universal_output_test.py
  tests/lib/outputs/compliance/universal/universal_table_test.py
Due: prowler

feat(sdk): add multi-provider compliance framework JSONs
  prowler/compliance/csa_ccm_4.0.json
  prowler/compliance/generic_compliance.json
  prowler/config/config.py
Due: prowler

feat(sdk): integrate universal compliance into CLI pipeline
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/check/checks_loader.py
  prowler/lib/outputs/compliance/compliance.py
  tests/lib/outputs/compliance/display_compliance_table_test.py
  tests/lib/outputs/compliance/process_universal_test.py
Due: prowler

chore: address comments
  skills/django-migration-psql/SKILL.md
  skills/postgresql-indexing/SKILL.md
Due: none

fix(ui): add image provider default values in credentials form
  ui/hooks/use-credentials-form.ts
Due: none

docs(ui): add PR link to image provider changelog entry
  ui/CHANGELOG.md
Due: none

fix(ui): mock barrel import to fix vitest module resolution
  ui/components/providers/table/data-table-row-actions.test.tsx
Due: none

fix(ui): add missing await before handleApiResponse calls
  ui/actions/manage-groups/manage-groups.ts
Due: none

refactor(ui): extract inline nested types into dedicated interfaces
  ui/app/(prowler)/providers/account-groups-content.tsx
  ui/types/organizations.ts
Due: none

fix(ui): prevent provider row duplication in cloud org tree
  ui/app/(prowler)/providers/providers-page.utils.test.ts
  ui/app/(prowler)/providers/providers-page.utils.ts
Due: none

fix(ui): miscellaneous code review fixes for providers page
  ui/app/(prowler)/providers/page.tsx
  ui/components/providers/providers-filters.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
Due: none

docs(ui): add changelog entry for providers redesign
  ui/CHANGELOG.md
Due: none

chore: review security with zizmor
  .github/workflows/helm-chart-checks.yml
  .github/workflows/helm-chart-release.yml
Due: none

docs(mcp_server): add Attack Paths MCP tools documentation
  docs/getting-started/basic-usage/prowler-mcp-tools.mdx
  docs/getting-started/products/prowler-mcp.mdx
  docs/user-guide/tutorials/prowler-app-attack-paths.mdx
Due: none

feat: Helm CD (#10079)
  .github/workflows/helm-chart-checks.yml
  .github/workflows/helm-chart-release.yml
  contrib/k8s/helm/prowler-app/.gitignore
  contrib/k8s/helm/prowler-app/Chart.yaml
Due: none

docs(mcp_server): add Attack Paths MCP tools documentation (#10302)
  docs/getting-started/basic-usage/prowler-mcp-tools.mdx
  docs/getting-started/products/prowler-mcp.mdx
  docs/user-guide/tutorials/prowler-app-attack-paths.mdx
Due: none

fix(googleworkspace): address PR review feedback for API integration
  api/CHANGELOG.md
  api/src/backend/api/models.py
  prowler/providers/googleworkspace/exceptions/exceptions.py
  prowler/providers/googleworkspace/googleworkspace_provider.py
Due: prowler, api

style(ui): add background to IaC provider badge
  ui/components/icons/providers-badge/iac-provider-badge.tsx
Due: none

style(ui): improve expand/collapse icons alignment and styling
  ui/components/ui/table/data-table-expand-toggle.tsx
  ui/components/ui/table/data-table-expandable-cell.tsx
Due: none

refactor(ui): move connection status from provider cell to status column
  ui/components/providers/provider-info.tsx
  ui/components/providers/table/column-providers.tsx
Due: none

fix(ui): align header checkbox with row checkboxes
  ui/components/ui/table/data-table-expand-all-toggle.tsx
Due: none

fix(ui): add GroupFilterEntity and cycle detection for providers
  ui/app/(prowler)/providers/providers-page.utils.ts
  ui/components/providers/providers-filters.tsx
  ui/lib/helper-filters.ts
  ui/types/filters.ts
  ui/types/providers.ts
Due: none

style(ui): replace HeroUI classes with design tokens
  ui/app/(prowler)/providers/account-groups-content.tsx
Due: none

perf(ui): add concurrency limit to bulk connection test
  ui/components/providers/table/data-table-row-actions.tsx
Due: none

fix(ui): remove global overflow-hidden from TableCell
  ui/components/ui/table/table.tsx
Due: none

style(ui): reorder Tailwind classes from lint auto-fix
  ui/components/ui/table/data-table-expand-toggle.tsx
  ui/components/ui/table/data-table-expandable-cell.tsx
Due: none

fix(api): update Google Workspace test cases and restore Attack Paths CHANGELOG note
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
Due: api

feat(mutelisting): add mute button inside findings specific view
  ui/components/findings/table/finding-detail.tsx
Due: none

refactor(ui): extract shared testProviderConnection helper
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/lib/provider-helpers.ts
Due: none

chore(changelog): update with latest changes
  ui/CHANGELOG.md
Due: none

fix(api): update Google Workspace UID tests
  api/src/backend/api/tests/test_views.py
Due: api

fix(ui): deduplicate providers shown in org and OU tree
  ui/app/(prowler)/providers/providers-page.utils.ts
Due: none

test(ui): update add provider button name in page object
  ui/tests/providers/providers-page.ts
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
