Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(gcp): fix trailing whitespace
  prowler/providers/gcp/services/compute/compute_service.py
Due: prowler

fix(gcp): fix CI failures for compute_instance_group_multiple_zones check
  tests/providers/gcp/services/compute/compute_service_test.py
Due: none

chore(aws): enhance metadata for `inspector2` service (#9260)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled.metadata.json
Due: prowler

feat: add more dns checks
  prowler/providers/cloudflare/services/dns/dns_record_cname_target_valid/__init__.py
  prowler/providers/cloudflare/services/dns/dns_record_cname_target_valid/dns_record_cname_target_valid.metadata.json
  prowler/providers/cloudflare/services/dns/dns_record_cname_target_valid/dns_record_cname_target_valid.py
  prowler/providers/cloudflare/services/dns/dns_record_no_internal_ip/__init__.py
  prowler/providers/cloudflare/services/dns/dns_record_no_internal_ip/dns_record_no_internal_ip.metadata.json
  prowler/providers/cloudflare/services/dns/dns_record_no_internal_ip/dns_record_no_internal_ip.py
  prowler/providers/cloudflare/services/dns/dns_record_no_wildcard/__init__.py
  prowler/providers/cloudflare/services/dns/dns_record_no_wildcard/dns_record_no_wildcard.metadata.json
  prowler/providers/cloudflare/services/dns/dns_record_no_wildcard/dns_record_no_wildcard.py
  prowler/providers/cloudflare/services/dns/dns_record_proxied/__init__.py
  prowler/providers/cloudflare/services/dns/dns_record_proxied/dns_record_proxied.metadata.json
  prowler/providers/cloudflare/services/dns/dns_record_proxied/dns_record_proxied.py
  prowler/providers/cloudflare/services/dns/dns_records_proxied/dns_records_proxied.metadata.json
Due: prowler

refactor: remove waf and firewall services
  prowler/providers/cloudflare/services/firewall/firewall_client.py
  prowler/providers/cloudflare/services/firewall/firewall_has_blocking_rules/__init__.py
  prowler/providers/cloudflare/services/firewall/firewall_has_blocking_rules/firewall_has_blocking_rules.metadata.json
  prowler/providers/cloudflare/services/firewall/firewall_has_blocking_rules/firewall_has_blocking_rules.py
  prowler/providers/cloudflare/services/firewall/firewall_rate_limiting_configured/__init__.py
  prowler/providers/cloudflare/services/firewall/firewall_rate_limiting_configured/firewall_rate_limiting_configured.metadata.json
  prowler/providers/cloudflare/services/firewall/firewall_rate_limiting_configured/firewall_rate_limiting_configured.py
  prowler/providers/cloudflare/services/firewall/firewall_service.py
  prowler/providers/cloudflare/services/waf/waf_client.py
  prowler/providers/cloudflare/services/waf/waf_owasp_enabled/__init__.py
  prowler/providers/cloudflare/services/waf/waf_owasp_enabled/waf_owasp_enabled.metadata.json
  prowler/providers/cloudflare/services/waf/waf_owasp_enabled/waf_owasp_enabled.py
  prowler/providers/cloudflare/services/waf/waf_service.py
  prowler/providers/cloudflare/services/zones/zones_firewall_blocking_rules_configured/__init__.py
  prowler/providers/cloudflare/services/zones/zones_firewall_blocking_rules_configured/zones_firewall_blocking_rules_configured.metadata.json
  prowler/providers/cloudflare/services/zones/zones_firewall_blocking_rules_configured/zones_firewall_blocking_rules_configured.py
  prowler/providers/cloudflare/services/zones/zones_service.py
  prowler/providers/cloudflare/services/zones/zones_waf_owasp_ruleset_enabled/__init__.py
  prowler/providers/cloudflare/services/zones/zones_waf_owasp_ruleset_enabled/zones_waf_owasp_ruleset_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_waf_owasp_ruleset_enabled/zones_waf_owasp_ruleset_enabled.py
Due: prowler

chore: update metadata
  prowler/CHANGELOG.md
  prowler/providers/aws/services/servicecatalog/servicecatalog_portfolio_shared_within_organization_only/servicecatalog_portfolio_shared_within_organization_only.metadata.json
Due: prowler

chore(aws): enhance metadata for `servicecatalog` service (#9410)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/servicecatalog/servicecatalog_portfolio_shared_within_organization_only/servicecatalog_portfolio_shared_within_organization_only.metadata.json
Due: prowler

fix: logic from regional changes
  prowler/providers/cloudflare/services/dns/dns_service.py
Due: prowler

fix: remove terraform links
  prowler/providers/cloudflare/services/zones/zones_automatic_https_rewrites_enabled/zones_automatic_https_rewrites_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_dnssec_enabled/zones_dnssec_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_email_obfuscation_enabled/zones_email_obfuscation_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_https_redirect_enabled/zones_https_redirect_enabled.metadata.json
Due: prowler

fix: remove terraform link
  prowler/providers/cloudflare/services/zones/zones_dnssec_enabled/zones_dnssec_enabled.metadata.json
Due: prowler

chore: update changelog
  prowler/CHANGELOG.md
  prowler/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints.metadata.json
  prowler/providers/aws/services/sns/sns_topics_kms_encryption_at_rest_enabled/sns_topics_kms_encryption_at_rest_enabled.metadata.json
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.metadata.json
Due: prowler

chore(aws): enhance metadata for `sns` service (#9428)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints.metadata.json
  prowler/providers/aws/services/sns/sns_topics_kms_encryption_at_rest_enabled/sns_topics_kms_encryption_at_rest_enabled.metadata.json
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.metadata.json
Due: prowler

fix(gcp): store Cloud Storage bucket regions as lowercase
  prowler/providers/gcp/services/cloudstorage/cloudstorage_service.py
  tests/providers/gcp/services/cloudstorage/cloudstorage_service_test.py
Due: prowler

allow --list-checks without authentication
  prowler/providers/cloudflare/lib/arguments/arguments.py
Due: prowler

chore: update metadata
  prowler/CHANGELOG.md
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_errors_and_warnings/trustedadvisor_errors_and_warnings.metadata.json
Due: prowler

feat(report): add optimizations for PDF reporting
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/reports/base.py
  api/src/backend/tasks/jobs/reports/charts.py
  api/src/backend/tasks/jobs/reports/components.py
  api/src/backend/tasks/jobs/reports/config.py
  api/src/backend/tasks/jobs/reports/threatscore.py
  api/src/backend/tasks/jobs/threatscore.py
  api/src/backend/tasks/jobs/threatscore_utils.py
Due: api

docs: update CHANGELOG
  prowler/CHANGELOG.md
Due: prowler

fix: iteration and attribute read
  prowler/providers/cloudflare/services/dns/__init__.py
  prowler/providers/cloudflare/services/dns/dns_client.py
  prowler/providers/cloudflare/services/dns/dns_service.py
  prowler/providers/cloudflare/services/zones/zones_automatic_https_rewrites_enabled/zones_automatic_https_rewrites_enabled.py
  prowler/providers/cloudflare/services/zones/zones_caa_record_exists/zones_caa_record_exists.py
  prowler/providers/cloudflare/services/zones/zones_dmarc_record_exists/zones_dmarc_record_exists.py
  prowler/providers/cloudflare/services/zones/zones_email_obfuscation_enabled/zones_email_obfuscation_enabled.py
  prowler/providers/cloudflare/services/zones/zones_hsts_include_subdomains/zones_hsts_include_subdomains.py
  prowler/providers/cloudflare/services/zones/zones_security_level/zones_security_level.py
  prowler/providers/cloudflare/services/zones/zones_spf_record_exists/zones_spf_record_exists.py
  prowler/providers/cloudflare/services/zones/zones_tls_1_3_enabled/zones_tls_1_3_enabled.py
  prowler/providers/cloudflare/services/zones/zones_universal_ssl_enabled/zones_universal_ssl_enabled.py
Due: prowler

chore(aws): enhance metadata for `trustedadvisor` service (#9435)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_errors_and_warnings/trustedadvisor_errors_and_warnings.metadata.json
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed.metadata.json
Due: prowler

feat(mcp_server): add Pydantic models for compliance framework responses
  mcp_server/prowler_mcp_server/prowler_app/models/compliance.py
Due: none

feat(mcp_server): add compliance framework tools for Prowler App
  mcp_server/prowler_mcp_server/prowler_app/tools/compliance.py
Due: none

chore(mcp_server): bump version to 0.3.0
  mcp_server/CHANGELOG.md
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

fix(models): only update resources when tags are created
  api/src/backend/api/models.py
Due: api

chore: update API changelog
  api/CHANGELOG.md
Due: api

fix: iteration and attribute read
  prowler/providers/cloudflare/services/firewall/__init__.py
  prowler/providers/cloudflare/services/firewall/firewall_client.py
  prowler/providers/cloudflare/services/firewall/firewall_service.py
  prowler/providers/cloudflare/services/zones/zones_always_online_disabled/zones_always_online_disabled.py
  prowler/providers/cloudflare/services/zones/zones_bot_fight_mode_enabled/zones_bot_fight_mode_enabled.py
  prowler/providers/cloudflare/services/zones/zones_challenge_passage_configured/zones_challenge_passage_configured.py
  prowler/providers/cloudflare/services/zones/zones_development_mode_disabled/zones_development_mode_disabled.py
  prowler/providers/cloudflare/services/zones/zones_hotlink_protection_enabled/zones_hotlink_protection_enabled.py
  prowler/providers/cloudflare/services/zones/zones_ip_geolocation_enabled/zones_ip_geolocation_enabled.py
  prowler/providers/cloudflare/services/zones/zones_rate_limiting_enabled/zones_rate_limiting_enabled.py
  prowler/providers/cloudflare/services/zones/zones_server_side_excludes_enabled/zones_server_side_excludes_enabled.py
  prowler/providers/cloudflare/services/zones/zones_waf_enabled/zones_waf_enabled.py
Due: prowler

docs(changelog): add right PR link
  mcp_server/CHANGELOG.md
Due: none

feat(ui): add SSO and API Key link cards to Integrations page
  ui/app/(prowler)/integrations/page.tsx
  ui/components/integrations/api-key/api-key-link-card.tsx
  ui/components/integrations/index.ts
  ui/components/integrations/shared/index.ts
  ui/components/integrations/shared/link-card.tsx
  ui/components/integrations/sso/sso-link-card.tsx
Due: none

chore: update metadata
  prowler/CHANGELOG.md
  prowler/providers/aws/services/waf/waf_global_rulegroup_not_empty/waf_global_rulegroup_not_empty.metadata.json
  prowler/providers/aws/services/waf/waf_global_webacl_logging_enabled/waf_global_webacl_logging_enabled.metadata.json
  prowler/providers/aws/services/waf/waf_global_webacl_with_rules/waf_global_webacl_with_rules.metadata.json
  prowler/providers/aws/services/waf/waf_regional_rule_with_conditions/waf_regional_rule_with_conditions.metadata.json
  prowler/providers/aws/services/waf/waf_regional_rulegroup_not_empty/waf_regional_rulegroup_not_empty.metadata.json
  prowler/providers/aws/services/waf/waf_regional_webacl_with_rules/waf_regional_webacl_with_rules.metadata.json
Due: prowler

docs(ui): add changelog entry for SSO and API Key link cards
  ui/CHANGELOG.md
Due: none

fix(models): only update resources when tags are created (#9569)
  api/CHANGELOG.md
  api/src/backend/api/models.py
Due: api

chore(aws): enhance metadata for `waf` service (#9480)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/waf/waf_global_rule_with_conditions/waf_global_rule_with_conditions.metadata.json
  prowler/providers/aws/services/waf/waf_global_rulegroup_not_empty/waf_global_rulegroup_not_empty.metadata.json
  prowler/providers/aws/services/waf/waf_global_webacl_logging_enabled/waf_global_webacl_logging_enabled.metadata.json
  prowler/providers/aws/services/waf/waf_global_webacl_with_rules/waf_global_webacl_with_rules.metadata.json
  prowler/providers/aws/services/waf/waf_regional_rule_with_conditions/waf_regional_rule_with_conditions.metadata.json
  prowler/providers/aws/services/waf/waf_regional_rulegroup_not_empty/waf_regional_rulegroup_not_empty.metadata.json
  prowler/providers/aws/services/waf/waf_regional_webacl_with_rules/waf_regional_webacl_with_rules.metadata.json
Due: prowler

feat: add tests
  prowler/providers/cloudflare/services/zones/zones_dmarc_record_exists/zones_dmarc_record_exists.py
  tests/providers/cloudflare/services/dns/dns_service_test.py
  tests/providers/cloudflare/services/zones/zones_automatic_https_rewrites_enabled/zones_automatic_https_rewrites_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_caa_record_exists/zones_caa_record_exists_test.py
  tests/providers/cloudflare/services/zones/zones_dmarc_record_exists/zones_dmarc_record_exists_test.py
  tests/providers/cloudflare/services/zones/zones_email_obfuscation_enabled/zones_email_obfuscation_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_hsts_include_subdomains/zones_hsts_include_subdomains_test.py
  tests/providers/cloudflare/services/zones/zones_security_level/zones_security_level_test.py
  tests/providers/cloudflare/services/zones/zones_spf_record_exists/zones_spf_record_exists_test.py
  tests/providers/cloudflare/services/zones/zones_tls_1_3_enabled/zones_tls_1_3_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_universal_ssl_enabled/zones_universal_ssl_enabled_test.py
Due: prowler

feat(api): add reporting tests
  api/src/backend/tasks/jobs/reports/components.py
  api/src/backend/tasks/tests/test_reports_base.py
  api/src/backend/tasks/tests/test_reports_ens.py
  api/src/backend/tasks/tests/test_reports_nis2.py
  api/src/backend/tasks/tests/test_reports_threatscore.py
Due: api

feat: add tests
  tests/providers/cloudflare/services/firewall/firewall_service_test.py
  tests/providers/cloudflare/services/zones/zones_always_online_disabled/zones_always_online_disabled_test.py
  tests/providers/cloudflare/services/zones/zones_bot_fight_mode_enabled/zones_bot_fight_mode_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_challenge_passage_configured/zones_challenge_passage_configured_test.py
  tests/providers/cloudflare/services/zones/zones_development_mode_disabled/zones_development_mode_disabled_test.py
  tests/providers/cloudflare/services/zones/zones_hotlink_protection_enabled/zones_hotlink_protection_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_ip_geolocation_enabled/zones_ip_geolocation_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_rate_limiting_enabled/zones_rate_limiting_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_server_side_excludes_enabled/zones_server_side_excludes_enabled_test.py
  tests/providers/cloudflare/services/zones/zones_waf_enabled/zones_waf_enabled_test.py
Due: none

feat: replace custom Claude validation with Gentleman Guardian Angel (gga)
  .gga
  .pre-commit-config.yaml
  AGENTS-CODE-REVIEW.md
  scripts/gga-review.sh
  ui/.husky/pre-commit
  ui/README.md
Due: none

fix: add explicit brew tap before installing gga
  scripts/gga-review.sh
Due: none

fix: skip AI review for directories without AGENTS.md (opt-in model)
  scripts/gga-review.sh
Due: none

fix: add missing UI rules (shadcn, DRY/KISS, responsive)
  AGENTS-CODE-REVIEW.md
Due: none

refactor: optimize AGENTS-CODE-REVIEW.md for LLM parsing
  AGENTS-CODE-REVIEW.md
Due: none

feat: mcp behaves in different environments
  .env
  ui/dependency-log.json
  ui/next.config.js
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
