Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

test(performance): Add base framework for API performance tests (#7632)
  api/tests/performance/__init__.py
  api/tests/performance/benchmark.py
  api/tests/performance/requirements.txt
  api/tests/performance/scenarios/__init__.py
  api/tests/performance/scenarios/findings.py
  api/tests/performance/utils/__init__.py
  api/tests/performance/utils/config.py
  api/tests/performance/utils/helpers.py
Due: api

feat(sharepoint): add new check related with OneDrive Sync (#7589)
  README.md
  prowler/CHANGELOG.md
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/__init__.py
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices.metadata.json
  prowler/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
  tests/providers/m365/services/sharepoint/sharepoint_external_sharing_managed/sharepoint_external_sharing_managed_test.py
  tests/providers/m365/services/sharepoint/sharepoint_external_sharing_restricted/sharepoint_external_sharing_restricted_test.py
  tests/providers/m365/services/sharepoint/sharepoint_modern_authentication_required/sharepoint_modern_authentication_required_test.py
  tests/providers/m365/services/sharepoint/sharepoint_onedrive_sync_restricted_unmanaged_devices/sharepoint_onedrive_sync_restricted_unmanaged_devices_test.py
  tests/providers/m365/services/sharepoint/sharepoint_service_test.py
Due: prowler

chore(dockerfile): add image source as docker label (#7617)
  Dockerfile
Due: none

fix(typos): remove unneeded files (#7627)
  prowler_threatscore_aws
  prowler_threatscore_azure
  prowler_threatscore_gcp
Due: none

fix: set correct default value for session duration (#7639)
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
Due: none

feat(m365): automate `PowerShell` modules installation (#7618)
  Dockerfile
  api/Dockerfile
  prowler/lib/powershell/powershell.py
  prowler/providers/common/provider.py
  prowler/providers/m365/lib/arguments/arguments.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
Due: prowler, api

feat(exchange): add new check `exchange_mailbox_policy_additional_storage_restricted` (#7638)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

chore: remove redundant M365 references
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/m365_provider.py
Due: prowler

feat: add m365 to API (#7563)
  .github/workflows/api-pull-request.yml
  .pre-commit-config.yaml
  api/.pre-commit-config.yaml
  api/CHANGELOG.md
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/migrations/0017_m365_provider.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  poetry.lock
  prowler/lib/powershell/powershell.py
  prowler/providers/m365/m365_provider.py
  pyproject.toml
Due: prowler, api

feat(ui): Page size for datatables (#7634)
  ui/actions/invitations/invitation.ts
  ui/actions/manage-groups/manage-groups.ts
  ui/actions/providers/providers.ts
  ui/actions/roles/roles.ts
  ui/actions/scans/scans.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/invitations/page.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/roles/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/app/(prowler)/users/page.tsx
  ui/components/ui/table/data-table-pagination.tsx
  ui/components/ui/table/data-table.tsx
  ui/lib/helper.ts
  ui/types/components.ts
Due: none

feat(defender): add new check `defender_malware_policy_comprehensive_attachments_filter_applied` (#7661)
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/__init__.py
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied.metadata.json
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/config/fixtures/config.yaml
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied_test.py
  tests/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

feat(exchange): make `exchange_user_mailbox_auditing_enabled` check configurable (#7662)
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/m365/services/exchange/exchange_user_mailbox_auditing_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_user_mailbox_auditing_enabled/exchange_user_mailbox_auditing_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_user_mailbox_auditing_enabled/exchange_user_mailbox_auditing_enabled.py
  tests/config/fixtures/config.yaml
  tests/providers/m365/services/exchange/exchange_user_mailbox_auditing_enabled/exchange_user_mailbox_auditing_enabled_test.py
Due: prowler

feat(m365): ensure all forms of mail forwarding are blocked or disabled (#7658)
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled.py
  prowler/providers/m365/services/defender/defender_service.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled.py
  tests/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_rules_mail_forwarding_disabled/exchange_transport_rules_mail_forwarding_disabled_test.py
Due: prowler

feat(exchange): add new check `exchange_transport_config_smtp_auth_disabled` (#7640)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled_test.py
Due: prowler

fix: error about page number persistence when filters change (#7655)
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/custom-search-input.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/hooks/use-url-filters.ts
Due: none

docs(m365): add documentation for `m365` (#7622)
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/add-app-api-permission.png
  docs/tutorials/microsoft365/img/add-delegated-api-permission.png
  docs/tutorials/microsoft365/img/api-permissions-page.png
  docs/tutorials/microsoft365/img/app-overview.png
  docs/tutorials/microsoft365/img/app-registration-menu.png
  docs/tutorials/microsoft365/img/certificates-and-secrets.png
  docs/tutorials/microsoft365/img/custom-domain-names.png
  docs/tutorials/microsoft365/img/directory-permission-delegated.png
  docs/tutorials/microsoft365/img/directory-permission.png
  docs/tutorials/microsoft365/img/global-reader.png
  docs/tutorials/microsoft365/img/grant-admin-consent-delegated.png
  docs/tutorials/microsoft365/img/grant-admin-consent-for-role.png
  docs/tutorials/microsoft365/img/grant-admin-consent.png
  docs/tutorials/microsoft365/img/microsoft-entra-id.png
  docs/tutorials/microsoft365/img/new-client-secret.png
  docs/tutorials/microsoft365/img/new-registration.png
  docs/tutorials/microsoft365/img/search-default-domain.png
  docs/tutorials/microsoft365/img/search-domain-names.png
  docs/tutorials/microsoft365/img/user-domains.png
  docs/tutorials/microsoft365/img/user-info-page.png
  docs/tutorials/microsoft365/img/user-role-page.png
  docs/tutorials/microsoft365/use-of-powershell.md
  docs/tutorials/prowler-app.md
  mkdocs.yml
  prowler/CHANGELOG.md
Due: prowler

feat(exchange): add new check `exchange_roles_assignment_policy_addins_disabled` (#7644)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

chore(changelog): update with latest PR (#7628)
  prowler/CHANGELOG.md
Due: prowler

feat(exchange): add new check `exchange_organization_mailtips_enabled` (#7637)
  docs/tutorials/configuration_file.md
  prowler/CHANGELOG.md
  prowler/config/config.py
  prowler/config/config.yaml
  prowler/providers/m365/services/exchange/exchange_organization_mailtips_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/config/fixtures/config.yaml
  tests/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

feat(exchange): add new check `exchange_organization_modern_authentication_enabled` (#7636)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/exchange_organization_modern_authentication_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/exchange_organization_modern_authentication_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_organization_mailtips_enabled/exchange_organization_mailtips_enabled_test.py
  tests/providers/m365/services/exchange/exchange_organization_modern_authentication_enabled/exchange_organization_modern_authentication_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

feat(exchange): add new check `exchange_mailbox_properties_auditing_e3_enabled` (#7642)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

chore(sentry): attach stacktrace to logging events (#7598)
  api/README.md
  api/src/backend/config/settings/sentry.py
  docs/index.md
Due: api

feat(dashboard): support m365 provider (#7633)
  dashboard/assets/images/providers/m365_provider.png
  dashboard/assets/styles/dist/output.css
  dashboard/compliance/cis_4_0_m365.py
  dashboard/lib/layouts.py
  dashboard/pages/compliance.py
  dashboard/pages/overview.py
  docs/img/dashboard.png
  prowler/CHANGELOG.md
Due: prowler

chore(regions_update): Changes in regions for AWS services (#7657)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

chore(actions): run tests in dependabot updates (#7671)
  .github/workflows/sdk-pull-request.yml
Due: none

fix(metadata): typo in `defender_chat_report_policy_configured` (#7678)
  prowler/providers/m365/services/defender/defender_chat_report_policy_configured/defender_chat_report_policy_configured.metadata.json
Due: prowler

feat: add DeltaIndicator in new findings (#7676)
  ui/CHANGELOG.md
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
Due: none

feat(compliance): add a button to download the report in compliance card (#7665)
  ui/actions/scans/scans.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/download-icon-button/download-icon-button.tsx
  ui/components/ui/index.ts
  ui/lib/helper.ts
Due: none

feat(teams): add new checks `teams_security_reporting_enabled` and `defender_chat_report_policy_configured` (#7614)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_chat_report_policy_configured/__init__.py
  prowler/providers/m365/services/defender/defender_chat_report_policy_configured/defender_chat_report_policy_configured.metadata.json
  prowler/providers/m365/services/defender/defender_chat_report_policy_configured/defender_chat_report_policy_configured.py
  prowler/providers/m365/services/defender/defender_service.py
  prowler/providers/m365/services/teams/teams_security_reporting_enabled/__init__.py
  prowler/providers/m365/services/teams/teams_security_reporting_enabled/teams_security_reporting_enabled.metadata.json
  prowler/providers/m365/services/teams/teams_security_reporting_enabled/teams_security_reporting_enabled.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/defender/defender_chat_report_policy_configured/defender_chat_report_policy_configured_test.py
  tests/providers/m365/services/defender/defender_report_policy_configured/defender_report_policy_configured_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
  tests/providers/m365/services/teams/teams_security_reporting_enabled/teams_security_reporting_enabled_test.py
  tests/providers/m365/services/teams/teams_service_test.py
Due: prowler

chore: tweaks for m365 provider (#7668)
  ui/components/filters/custom-provider-inputs.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/filters/data-filters.ts
  ui/components/icons/Icons.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/provider-title-docs.tsx
  ui/lib/menu-list.ts
  ui/types/components.ts
Due: none

feat: add delta attribute in findings detail view with and finding id to the url (#7654)
  .gitignore
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/data-table-row-details.tsx
  ui/components/findings/table/delta-indicator.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/ui/code-snippet/code-snippet.tsx
  ui/components/ui/entities/info-field.tsx
  ui/components/ui/sheet/trigger-sheet.tsx
Due: none

docs: update changelog (#7672)
  ui/CHANGELOG.md
Due: none

refactor(finding-detail): remove "Next Scan" field (#7674)
  ui/components/findings/table/finding-detail.tsx
Due: none

fix(powershell): remove platform-specific execution (#7675)
  prowler/lib/powershell/powershell.py
Due: prowler

feat(docs): add snapshots to M365 docs (#7673)
  docs/img/m365-credentials.png
  docs/tutorials/aws/getting-started-aws.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/gcp/getting-started-gcp.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/add-domain-id.png
  docs/tutorials/microsoft365/img/click-next-m365.png
  docs/tutorials/microsoft365/img/launch-scan.png
  docs/tutorials/microsoft365/img/m365-credentials.png
  docs/tutorials/microsoft365/img/select-m365-prowler-cloud.png
  docs/tutorials/prowler-app.md
  prowler/CHANGELOG.md
Due: prowler

feat(aws): add static credentials for S3 and SH (#7322)
  prowler/CHANGELOG.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/aws/lib/session/__init__.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
  tests/providers/aws/lib/s3/s3_test.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Due: prowler

feat: diff between providers actions depending on their secrets (#7669)
  ui/components/providers/provider-info.tsx
  ui/components/providers/table/data-table-row-actions.tsx
Due: none

feat: add compliance to API report files and its endpoint (#7653)
  .github/workflows/api-pull-request.yml
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/compliance.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_export.py
  api/src/backend/tasks/tests/test_tasks.py
  prowler/lib/outputs/compliance/compliance_output.py
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
Due: prowler, api

fix(mutelist): properly handle wildcards and regex (#7685)
  prowler/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Due: prowler

fix(dashboard): drop duplicates for rows (#7686)
  dashboard/pages/compliance.py
  prowler/CHANGELOG.md
Due: prowler
