Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

Update CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler

fix(network): allow `0` as compliant value (#7926)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days.metadata.json
  prowler/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days.py
  tests/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days_test.py
Due: prowler

fix: change wrong info about providers
  docs/index.md
Due: none

fix: app description
  docs/index.md
Due: none

feat: adap to PCI generic name structure
  ui/lib/compliance/generic.tsx
Due: none

fix: index.md
  docs/index.md
Due: none

chore: update CHANGELOG
  prowler/CHANGELOG.md
Due: prowler

feat(compliance): improve pdf report error handle
  util/compliance_report/compliance_generator.py
Due: none

fix: make env-auth only user compatible
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
Due: prowler

feat(aws): avoid bypassing IAM check using wildcards (#7708)
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/iam_policy_no_full_access_to_kms/iam_policy_no_full_access_to_kms.py
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
  pyproject.toml
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/iam_policy_no_full_access_to_kms/iam_policy_no_full_access_to_kms_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/iam/lib/privilege_escalation_test.py
Due: prowler

docs: add github resources description
  docs/developer-guide/checks.md
Due: none

fix(app): change api call for `ftps_state` (#8020)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/app/app_service.py
  tests/providers/azure/services/app/app_service_test.py
Due: prowler

feat(m365): add m365 id info
  docs/developer-guide/checks.md
Due: none

fix: keeping h1 in navbar and removing comments
  ui/components/compliance/compliance-charts/heatmap-chart.tsx
  ui/components/ui/nav-bar/navbar.tsx
Due: none

feat(lighthouse): Add django endpoints to store config (#7848)
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/migrations/0031_lighthouseconfiguration.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/connection.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_connection.py
Due: api

docs(changelog): add entry for AppInsight new auth in check
  prowler/CHANGELOG.md
Due: prowler

fix(azure): add new way to auth against App Insight (#7763)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled.py
  tests/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled_test.py
Due: prowler

fix(eks): add EKS to service without subservices (#7959)
  prowler/CHANGELOG.md
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

fix: remove example from config
  prowler/config/config.yaml
Due: prowler

fix: navbar icon
  ui/components/ui/nav-bar/navbar.tsx
Due: none

feat(regions_update): Update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

chore: make user and password optional in api
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Due: api

chore: make user and password optional in ui
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

chore: test
  api/poetry.lock
  api/pyproject.toml
Due: api

fix: scan info available in detail without api call
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/types/scans.ts
Due: none

feat: enhance logs at login
  prowler/providers/m365/lib/powershell/m365_powershell.py
Due: prowler

Update prowler/CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler

chore(regions_update): Changes in regions for AWS services (#8026)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(network): allow `0` as compliant value (#8021)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days.metadata.json
  prowler/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days.py
  tests/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days_test.py
Due: prowler

fix: IAM principal can be a str, a list or a dict
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/lib/policy_test.py
Due: prowler

fix(findings): exclude blank resource types from metadata endpoints
  api/src/backend/api/v1/views.py
Due: api

fix(azure): add new way to auth against App Insight (#8024)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled.py
  tests/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled_test.py
Due: prowler

chore: update changelog
  api/CHANGELOG.md
Due: api

fix(metadata): add missing ResourceType values
  prowler/providers/aws/services/directconnect/directconnect_connection_redundancy/directconnect_connection_redundancy.metadata.json
  prowler/providers/aws/services/directconnect/directconnect_virtual_interface_redundancy/directconnect_virtual_interface_redundancy.metadata.json
  prowler/providers/azure/services/aisearch/aisearch_service_not_publicly_accessible/aisearch_service_not_publicly_accessible.metadata.json
  prowler/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled.metadata.json
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.metadata.json
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.metadata.json
Due: prowler

add changelog
  prowler/CHANGELOG.md
Due: prowler

fix: type error in scans
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-charts/heatmap-chart.tsx
  ui/lib/helper-filters.ts
  ui/types/scans.ts
Due: none

chore: add missing init file to check repository_secret_scanning_enabled
  prowler/providers/github/services/repository/repository_secret_scanning_enabled/__init__.py
Due: prowler
