Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(providers): Fix m365 UID validation (#7781)
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
Due: api

chore: update api changelog (#7775)
  api/CHANGELOG.md
Due: api

feat(export): support m365 - prowler threatscore (#7783)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/export.py
Due: api

fix: AWS I AM role validation when field is empty (#7787)
  ui/CHANGELOG.md
  ui/types/formSchemas.ts
Due: none

chore(m365): accept all tenant domains in authentication (#7746)
  api/src/backend/api/models.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/lib/service/service.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
Due: prowler, api

chore: tweak some wording for consistency (#7794)
  ui/components/findings/table/finding-detail.tsx
  ui/components/providers/table/column-providers.tsx
Due: none

chore(backport): create label on minor release (#7791)
  .github/workflows/create-backport-label.yml
Due: none

feat(admincenter): add new check `admincenter_external_calendar_sharing_disabled` (#7733)
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/__init__.py
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled.metadata.json
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  tests/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
Due: prowler

feat(admincenter): add new check `admincenter_organization_customer_lockbox_enabled` (#7732)
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/__init__.py
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled.metadata.json
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  tests/providers/m365/services/admincenter/admincenter_groups_not_public_visibility/admincenter_groups_not_public_visibility_test.py
  tests/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
  tests/providers/m365/services/admincenter/admincenter_settings_password_never_expire/admincenter_settings_password_never_expire_test.py
  tests/providers/m365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint_test.py
  tests/providers/m365/services/admincenter/admincenter_users_between_two_and_four_global_admins/admincenter_users_between_two_and_four_global_admins_test.py
Due: prowler

fix(m365powershell): add `sanitize` to `test_credentials` (#7761)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Due: prowler

fix: retrieve more than 10 providers (#7793)
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/scans/page.tsx
Due: none

chore(regions_update): Changes in regions for AWS services (#7774)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

feat(kubernetes): support `HTTPS_PROXY` and `K8S_SKIP_TLS_VERIFY` (#7720)
  docs/tutorials/kubernetes/misc.md
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Due: prowler

feat: profile page (#7780)
  ui/CHANGELOG.md
  ui/actions/roles/roles.ts
  ui/actions/users/tenants.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/profile/page.tsx
  ui/components/findings/table/delta-indicator.tsx
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/components/users/profile/index.ts
  ui/components/users/profile/membership-item.tsx
  ui/components/users/profile/memberships-card.tsx
  ui/components/users/profile/role-item.tsx
  ui/components/users/profile/roles-card.tsx
  ui/components/users/profile/skeleton-user-info.tsx
  ui/components/users/profile/user-basic-info-card.tsx
  ui/components/users/profile/user-info.tsx
  ui/lib/permissions.ts
  ui/types/users/users.ts
Due: none

feat(kubernetes): add CIS 1.11 compliance framework (#7790)
  README.md
  dashboard/compliance/cis_1_11_kubernetes.py
  prowler/CHANGELOG.md
  prowler/compliance/kubernetes/cis_1.11_kubernetes.json
Due: prowler

fix: move changes to release 5.8 (#7801)
  prowler/CHANGELOG.md
Due: prowler

feat(entra): add new check `entra_users_mfa_capable` (#7734)
  docs/getting-started/requirements.md
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/entra/entra_users_mfa_capable/__init__.py
  prowler/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable.metadata.json
  prowler/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable.py
  tests/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

chore(README): update `README.md` (#7799)
  README.md
Due: none

fix(dashboard): remove typo from subscribe cards (#7792)
  dashboard/__main__.py
  dashboard/lib/layouts.py
  dashboard/pages/overview.py
Due: none

feat(findings): Add new index for finding UID lookup (#7800)
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/migrations/0024_findings_uid_index_partitions.py
  api/src/backend/api/migrations/0025_findings_uid_index_parent.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

docs: update changelog UI (#7808)
  ui/CHANGELOG.md
Due: none

feat(prowler-threatscore): add Weight field inside req (#7795)
  dashboard/pages/compliance.py
  prowler/CHANGELOG.md
  prowler/compliance/aws/prowler_threatscore_aws.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/compliance/gcp/prowler_threatscore_gcp.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/prowler_threatscore/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365.py
  prowler_threatscore_aws
  prowler_threatscore_azure
  prowler_threatscore_gcp
  prowler_threatscore_m365
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365_test.py
Due: prowler

feat(gcp): add CIS 4.0 compliance framework (#7785)
  README.md
  dashboard/compliance/cis_4_0_gcp.py
  prowler/CHANGELOG.md
  prowler/compliance/gcp/cis_4.0_gcp.json
  util/generate_compliance_json_from_csv_for_cis15.py
Due: prowler

fix(admincenter): `admincenter_users_admins_reduced_license_footprint` logic (#7779)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint.py
  tests/providers/m365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint_test.py
Due: prowler

feat(prowler_threatscore): add a level for accordion in dashboard (#7739)
  dashboard/common_methods.py
  dashboard/compliance/prowler_threatscore_aws.py
  dashboard/compliance/prowler_threatscore_azure.py
  dashboard/compliance/prowler_threatscore_gcp.py
  dashboard/compliance/prowler_threatscore_m365.py
  prowler/CHANGELOG.md
Due: prowler

chore(readme): add Prowler Hub link (#7814)
  README.md
Due: none

feat(repository): add new check `repository_secret_scanning_enabled` (#7759)
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled.metadata.json
  prowler/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled_test.py
  tests/providers/github/services/repository/repository_service_test.py
Due: prowler

feat: resources in finding tables (#7813)
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/index.ts
  ui/components/ui/entities/snippet-chip.tsx
  ui/components/ui/entities/snippet-id.tsx
  ui/components/ui/entities/snippet-label.tsx
  ui/components/users/profile/user-basic-info-card.tsx
Due: none

feat(repository): add new check `repository_default_branch_requires_codeowners_review` (#7753)
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_requires_codeowners_review/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review_test.py
  tests/providers/github/services/repository/repository_service_test.py
Due: prowler

feat(repository): add new check `repository_has_codeowners_file` (#7752)
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_has_codeowners_file/__init__.py
  prowler/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file.metadata.json
  prowler/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file_test.py
  tests/providers/github/services/repository/repository_service_test.py
Due: prowler

fix(files): remove empty files (#7819)
  prowler_threatscore_aws
  prowler_threatscore_azure
  prowler_threatscore_gcp
  prowler_threatscore_m365
Due: none

fix(m365): add `powershell.close()` to `msgraph` services (#7816)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
Due: prowler

feat(repository): add new check `repository_dependency_scanning_enabled` (#7771)
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_dependency_scanning_enabled/__init__.py
  prowler/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled.metadata.json
  prowler/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled_test.py
Due: prowler

chore(m365powershell): manage encryption from plaintext password (#7784)
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  docs/getting-started/requirements.md
  docs/tutorials/microsoft365/getting-started-m365.md
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
  ui/actions/providers/providers.ts
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: prowler, api

feat: change tenant name in /profile page (#7829)
  ui/CHANGELOG.md
  ui/actions/users/tenants.ts
  ui/app/(prowler)/profile/page.tsx
  ui/components/ui/custom/custom-alert-modal.tsx
  ui/components/ui/custom/custom-server-input.tsx
  ui/components/ui/custom/index.ts
  ui/components/ui/entities/info-field.tsx
  ui/components/users/forms/edit-tenant-form.tsx
  ui/components/users/forms/index.ts
  ui/components/users/profile/membership-item.tsx
  ui/components/users/profile/memberships-card.tsx
  ui/components/users/profile/role-item.tsx
  ui/components/users/profile/user-basic-info-card.tsx
  ui/lib/permissions.ts
Due: none

feat(repository): add new check `repository_default_branch_requires_signed_commits` (#7777)
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_requires_signed_commits/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits_test.py
Due: prowler

fix(m365): remove last encrypted password appearances (#7825)
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializer_utils/providers.py
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/m365_provider_test.py
Due: prowler, api

fix(formSchemas): encrypted password typo (#7828)
  ui/types/formSchemas.ts
Due: none

fix(reports): change invalid search term for tasks (#7830)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

feat: implement provider UID extraction and mapping in scans pages (#7820)
  ui/CHANGELOG.md
  ui/actions/providers/providers.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/lib/provider-helpers.ts
  ui/types/filters.ts
  ui/types/providers.ts
Due: none
