Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

docs: format the Risk values as explicit Markdown with the concerns separated
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/cloudtrail_agentcore_data_events_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled.metadata.json
Due: prowler

docs(cloudtrail): name the destination the Memory application logs use
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled.metadata.json
Due: prowler

feat(cloudtrail): add Amazon Bedrock AgentCore data event checks
  prowler/changelog.d/cloudtrail-agentcore-data-events.added.md
  prowler/compliance/aws/aws_ai_security_framework_aws.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/__init__.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/cloudtrail_agentcore_data_events_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/cloudtrail_agentcore_data_events_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/__init__.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/cloudtrail_agentcore_data_events_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
Due: prowler

fix(cloudtrail): a stopped trail must not downgrade an AgentCore FAIL
  prowler/changelog.d/cloudtrail-agentcore-data-events.added.md
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/cloudtrail_agentcore_data_events_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/cloudtrail_agentcore_data_events_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_agentcore_data_events_enabled/cloudtrail_agentcore_data_events_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_agentcore_memory_data_events_enabled/cloudtrail_agentcore_memory_data_events_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
Due: prowler

feat: add a provider scaffold command
  docs/developer-guide/provider-scaffold.mdx
  docs/docs.json
  prowler/changelog.d/provider-scaffold-command.added.md
  prowler/lib/dev/__init__.py
  prowler/lib/dev/__main__.py
  prowler/lib/dev/cli.py
  prowler/lib/dev/provider_scaffold.py
  prowler/lib/dev/templates.py
  pyproject.toml
  tests/lib/dev/cli_test.py
  tests/lib/dev/provider_scaffold_test.py
Due: prowler

feat(sagemaker): add sagemaker_full_access_policy_attached check
  prowler/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/__init__.py
  prowler/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/sagemaker_full_access_policy_attached.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/sagemaker_full_access_policy_attached.py
  tests/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/sagemaker_full_access_policy_attached_test.py
Due: prowler

chore(changelog): add fragment for sagemaker_domain_encrypted_with_cmk
  prowler/changelog.d/sagemaker-domain-encrypted-with-cmk.added.md
Due: prowler

chore(changelog): add fragment for sagemaker_full_access_policy_attached
  prowler/changelog.d/sagemaker-full-access-policy-attached.added.md
Due: prowler

fix(organizations): answer an unreadable inventory with advice that is true
  prowler/changelog.d/organizations-delegated-administrators-ordering.fixed.md
  prowler/changelog.d/organizations-delegated-administrators-unreadable.fixed.md
  prowler/changelog.d/organizations-security-services-delegated-admin.added.md
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  prowler/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account.py
  tests/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators_test.py
  tests/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account_test.py
Due: prowler

fix(organizations): unreadable delegated administrators no longer read as none
  prowler/changelog.d/organizations-delegated-administrators-unreadable.fixed.md
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  prowler/providers/aws/services/organizations/organizations_service.py
  tests/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators_test.py
  tests/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account_test.py
  tests/providers/aws/services/organizations/organizations_service_test.py
Due: prowler

fix(organizations): untrusted delegated administrator masked by list order
  prowler/changelog.d/organizations-delegated-administrators-ordering.fixed.md
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  tests/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators_test.py
Due: prowler

style(organizations): drop duplicated rationale from two comment blocks
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  prowler/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account.py
Due: prowler

docs(changelog): name the access-denial status change in the fragment
  prowler/changelog.d/organizations-delegated-administrators-unreadable.fixed.md
Due: prowler

docs(organizations): add a class docstring to the delegated administrators check
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
Due: prowler

feat(organizations): add security services delegated admin check
  prowler/compliance/aws/aws_ai_security_framework_aws.json
  prowler/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/__init__.py
  prowler/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account.metadata.json
  prowler/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account.py
  prowler/providers/aws/services/organizations/organizations_service.py
  tests/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account_test.py
  tests/providers/aws/services/organizations/organizations_service_test.py
Due: prowler

test(organizations): capture the unpatched _make_api_call per builder call
  tests/providers/aws/services/organizations/organizations_service_test.py
Due: none

fix(organizations): name the failure when delegated administrators cannot be listed
  prowler/changelog.d/organizations-delegated-administrators-unreadable.fixed.md
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  prowler/providers/aws/services/organizations/organizations_service.py
  tests/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators_test.py
  tests/providers/aws/services/organizations/organizations_service_test.py
Due: prowler

docs(changelog): add fragment for the organizations delegated admin check
  prowler/changelog.d/organizations-security-services-delegated-admin.added.md
Due: prowler

test(organizations): cover the generic-handler sentinel for a renamed result key
  tests/providers/aws/services/organizations/organizations_service_test.py
Due: none

docs(organizations): document the contract each collector's sentinel carries
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  prowler/providers/aws/services/organizations/organizations_service.py
  tests/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators_test.py
  tests/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account_test.py
  tests/providers/aws/services/organizations/organizations_service_test.py
Due: prowler

refactor(organizations): report nothing when no security service is integrated
  prowler/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account.py
  prowler/providers/aws/services/organizations/organizations_service.py
  tests/providers/aws/services/organizations/organizations_security_services_delegated_admin_not_management_account/organizations_security_services_delegated_admin_not_management_account_test.py
  tests/providers/aws/services/organizations/organizations_service_test.py
Due: prowler

feat(sagemaker): add sagemaker_full_access_policy_attached check
  prowler/changelog.d/sagemaker-full-access-policy-attached.added.md
  prowler/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/__init__.py
  prowler/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/sagemaker_full_access_policy_attached.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/sagemaker_full_access_policy_attached.py
  tests/providers/aws/services/sagemaker/sagemaker_full_access_policy_attached/sagemaker_full_access_policy_attached_test.py
Due: prowler

fix(azure): guard aks version baseline against invalid config
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/changelog.d/aks-cluster-uses-a-supported-version.added.md
  prowler/config/config.yaml
  prowler/config/schema/azure.py
  prowler/providers/azure/services/aks/aks_cluster_uses_a_supported_version/aks_cluster_uses_a_supported_version.py
  tests/providers/azure/services/aks/aks_cluster_uses_a_supported_version/aks_cluster_uses_a_supported_version_test.py
Due: prowler

feat(registry): wire async artifact installation
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.tsx
  ui/tests/registry/controlled-registry-api.mts
  ui/tests/registry/controlled-registry-fixture.ts
  ui/tests/registry/registry.md
  ui/tests/registry/registry.spec.ts
Due: none

fix(api): reject negative findings partition max age
  api/src/backend/api/partitions.py
  api/src/backend/api/tests/test_partitions.py
Due: api

docs(azure): add execute docstring to aks version check
  prowler/providers/azure/services/aks/aks_cluster_uses_a_supported_version/aks_cluster_uses_a_supported_version.py
Due: prowler

fix(sdk): address SageMaker check review
  prowler/providers/aws/services/sagemaker/sagemaker_domain_vpc_only_enabled/sagemaker_domain_vpc_only_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_domain_vpc_only_enabled/sagemaker_domain_vpc_only_enabled.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_domain_vpc_only_enabled/sagemaker_domain_vpc_only_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
Due: prowler

fix: resolve testing output errors on Windows
  tests/lib/outputs/compliance/cis/cis_aws_config_requirements_test.py
  tests/lib/outputs/compliance/cis/cis_azure_config_requirements_test.py
  tests/lib/outputs/compliance/ens/ens_aws_config_requirements_test.py
  tests/lib/outputs/compliance/universal/ocsf_compliance_test.py
  tests/lib/outputs/compliance/universal/universal_output_test.py
  tests/lib/outputs/csv/csv_test.py
Due: none

fix: resolve testing and compliance output errors
  prowler/lib/outputs/compliance/asd_essential_eight/asd_essential_eight.py
  prowler/lib/outputs/compliance/ccc/ccc.py
  prowler/lib/outputs/compliance/compliance_output.py
  prowler/lib/outputs/compliance/generic/generic.py
  prowler/lib/outputs/compliance/iso27001/iso27001_aws.py
  prowler/lib/outputs/compliance/iso27001/iso27001_azure.py
  prowler/lib/outputs/compliance/iso27001/iso27001_gcp.py
  prowler/lib/outputs/compliance/kisa_ismsp/kisa_ismsp.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack.py
  tests/lib/outputs/compliance/asd_essential_eight/asd_essential_eight_aws_test.py
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
  tests/lib/outputs/compliance/ccc/ccc_aws_test.py
  tests/lib/outputs/compliance/ccc/ccc_azure_test.py
  tests/lib/outputs/compliance/ccc/ccc_gcp_test.py
  tests/lib/outputs/compliance/cis/cis_aws_test.py
  tests/lib/outputs/compliance/cis/cis_azure_test.py
  tests/lib/outputs/compliance/cis/cis_gcp_test.py
  tests/lib/outputs/compliance/cis/cis_kubernetes_test.py
  tests/lib/outputs/compliance/cis/cis_m365_test.py
  tests/lib/outputs/compliance/cis/models_test.py
  tests/lib/outputs/compliance/ens/ens_aws_test.py
  tests/lib/outputs/compliance/ens/ens_gcp_test.py
  tests/lib/outputs/compliance/generic/generic_aws_test.py
  tests/lib/outputs/compliance/iso27001/iso27001_aws_test.py
  tests/lib/outputs/compliance/kisa_ismsp/kisa_ismsp_aws_test.py
  tests/lib/outputs/compliance/mitre_attack/mitre_attack_aws_test.py
  tests/lib/outputs/compliance/mitre_attack/mitre_attack_azure_test.py
  tests/lib/outputs/compliance/mitre_attack/mitre_attack_gcp_test.py
  tests/lib/outputs/compliance/okta_idaas_stig/okta_idaas_stig_okta_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365_test.py
Due: prowler

refactor(ui): tighten the findings import types and status checks
  ui/app/(prowler)/scans/scans-page.integration.test.tsx
  ui/components/scans/import-findings-modal.tsx
  ui/types/users.ts
Due: none

fix: render generated imports the way the isort hook expects
  docs/developer-guide/provider-scaffold.mdx
  prowler/changelog.d/provider-scaffold-command.added.md
  prowler/lib/dev/provider_scaffold.py
  prowler/lib/dev/templates.py
  tests/lib/dev/provider_scaffold_test.py
Due: prowler

docs(api): correct changelog wording for negative partition max age
  api/changelog.d/findings-partition-max-age-unit.fixed.md
Due: api

fix(api): apply findings partition max age in months, not days (#12580)
  api/changelog.d/findings-partition-max-age-unit.fixed.md
  api/src/backend/api/partitions.py
  api/src/backend/api/tests/test_partitions.py
Due: api

fix(elasticbeanstalk): scan option names with values and key findings per setting
  prowler/changelog.d/elasticbeanstalk-environment-no-secrets.added.md
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_no_secrets_in_configuration/elasticbeanstalk_environment_no_secrets_in_configuration.metadata.json
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_no_secrets_in_configuration/elasticbeanstalk_environment_no_secrets_in_configuration.py
  tests/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_no_secrets_in_configuration/elasticbeanstalk_environment_no_secrets_in_configuration_test.py
Due: prowler

fix(compliance): correct Cyber Essentials mappings and remediation text
  prowler/compliance/cyber_essentials_3.3.json
Due: prowler

fix(compliance): correct Cyber Essentials mappings and remediation text (#12596)
  prowler/compliance/cyber_essentials_3.3.json
Due: prowler

fix(ui): refresh cached permissions after token rotation
  ui/auth.config.test.ts
  ui/auth.config.ts
Due: none

feat(registry): add dynamic provider schema boundary
  ui/actions/providers/index.ts
  ui/actions/providers/provider-schemas.adapter.test.ts
  ui/actions/providers/provider-schemas.adapter.ts
  ui/actions/providers/provider-schemas.test.ts
  ui/actions/providers/provider-schemas.ts
  ui/types/provider-schema.ts
Due: none

feat(compliance): map Cyber Essentials to Cloudflare
  prowler/changelog.d/cyber-essentials-3.3-cloudflare.added.md
  prowler/compliance/cyber_essentials_3.3.json
  tests/lib/check/universal_compliance_models_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
