Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(api): add ASD Essential Eight (AWS) compliance framework support
  api/src/backend/tasks/jobs/export.py
Due: api

docs: add Prowler Studio page and remove check-kreator pages
  docs/developer-guide/prowler-studio.mdx
  docs/docs.json
  docs/user-guide/cli/tutorials/prowler-check-kreator.mdx
  docs/user-guide/tutorials/prowler-check-kreator.mdx
Due: none

docs: add troubleshooting guide for stuck scans after worker crash (#10938)
  docs/troubleshooting.mdx
Due: none

chore(changelog): update with latest changes
  api/CHANGELOG.md
Due: api

docs: surface Prowler Studio repo card near the top
  docs/developer-guide/prowler-studio.mdx
Due: none

chore(deps): bump requests to 2.33.1 to fix CVE-2026-25645
  api/poetry.lock
  poetry.lock
Due: api

feat: add issue template for creating new checks (#10976)
  .github/ISSUE_TEMPLATE/new-check-request.yml
  docs/developer-guide/checks.mdx
Due: none

docs: add Prowler Studio page and remove check-kreator pages (#10981)
  docs/developer-guide/prowler-studio.mdx
  docs/docs.json
  docs/user-guide/cli/tutorials/prowler-check-kreator.mdx
  docs/user-guide/tutorials/prowler-check-kreator.mdx
Due: none

docs(changelog): consolidate CVE entries and link PR #10978
  api/CHANGELOG.md
  mcp_server/CHANGELOG.md
  prowler/CHANGELOG.md
Due: prowler, api

fix(k8s): deduplicate RBAC findings by unique subject (#10242)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
Due: prowler

fix: conflicts
  prowler/CHANGELOG.md
Due: prowler

fix(k8s): deduplicate RBAC findings by unique subject (#10984)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
Due: prowler

fix(timeline): don't shorten principal
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: prowler

chore: add PR #
  prowler/CHANGELOG.md
Due: prowler

chore: generic values
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: none

chore: test fallback
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: none

fix(timeline): Return a compact actor name from CloudTrail events (#10986)
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: prowler

fix(timeline): Return a compact actor name from CloudTrail events (#10987)
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline.py
  tests/providers/aws/lib/cloudtrail_timeline/cloudtrail_timeline_test.py
Due: prowler

chore: address comments
  prowler/providers/kubernetes/services/rbac/lib/role_permissions.py
  tests/providers/kubernetes/services/rbac/lib/role_permissions_test.py
Due: prowler

fix(k8s): match RBAC rules by apiGroup, not just core (#10969)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/rbac/lib/role_permissions.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
  tests/providers/kubernetes/services/rbac/lib/role_permissions_test.py
Due: prowler

fix(k8s): match RBAC rules by apiGroup, not just core (#10988)
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/rbac/lib/role_permissions.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
  tests/providers/kubernetes/services/rbac/lib/role_permissions_test.py
Due: prowler

fix(sdk): cover CNAME → dangling S3 in route53 takeover check (#10920)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.metadata.json
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  tests/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover_test.py
Due: prowler

chore(changelog): prepare for v5.25.2
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

fix(sdk): cover CNAME → dangling S3 in route53 takeover check (#10990)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.metadata.json
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  tests/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover_test.py
Due: prowler

chore(changelog): prepare for v5.25.2 (#10991)
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

fix: conflicts API
  api/CHANGELOG.md
Due: api

fix: conflicts SDK
  prowler/CHANGELOG.md
Due: prowler

chore(changelog): prepare for v5.25.2 (#10992)
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler

[CHAIN] refactor(ui): replace D3 graph rendering with React Flow (#10705)
  ui/CHANGELOG.md
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/attack-path-graph.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/graph-controls.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/graph-controls.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/index.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/finding-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/hidden-handles.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/internet-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/resource-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/format.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/graph-colors.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/index.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/layout.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/layout.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.tsx
  ui/components/ui/nav-bar/navbar.tsx
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

[CHAIN] feat(ui): add graph interactions and filtered view (#10756)
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/attack-path-graph.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/graph-utils.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.tsx
  ui/dependency-log.json
Due: none

fix(api): bump Trivy to 0.70.0 in API image for CVE-2026-33186
  api/CHANGELOG.md
  api/Dockerfile
  prowler/CHANGELOG.md
Due: prowler, api

fix(mcp): bump cryptography to 47.0.0 in MCP server lockfile
  mcp_server/CHANGELOG.md
  mcp_server/uv.lock
  prowler/CHANGELOG.md
Due: prowler

fix(api): bump cryptography to 46.0.7 in API lockfile for CVE-2026-39892
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
Due: api

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
