Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(beat): update unittest
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/tests/test_beat.py
Due: api

chore(release): Bump version to v5.16.0 (#9520)
  prowler/config/config.py
  pyproject.toml
Due: prowler

feat(ui): add scrollbar
  ui/components/providers/radio-group-provider.tsx
Due: none

fix: correct spelling in CHANGELOG and enhance resource detail display
  ui/CHANGELOG.md
  ui/app/(prowler)/resources/page.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/resources/table/resource-detail.tsx
Due: none

chore(release): Bump version to v5.15.1 (#9521)
  prowler/config/config.py
  pyproject.toml
Due: prowler

fix(iac): increase trivy timeout to 60m for larger repos
  prowler/providers/iac/iac_provider.py
Due: prowler

chore(readme): Add LFX health score badge (#9297)
  README.md
Due: none

feat: add reusable lighthouse utils
  ui/components/lighthouse/chain-of-thought-display.tsx
  ui/components/lighthouse/chat-utils.ts
  ui/components/lighthouse/message-item.tsx
  ui/lib/lighthouse/analyst-stream.ts
Due: none

refactor: lighthouse analyst endpoint uses utils
  ui/app/api/lighthouse/analyst/route.ts
Due: none

refactor: lighthouse chat component
  ui/components/lighthouse/chat.tsx
Due: none

chore: remove unused lighthouse resource actions
  ui/actions/lighthouse/index.ts
  ui/actions/lighthouse/resources.ts
Due: none

chore: upgrade streamdown dep
  ui/components/lighthouse/message-item.tsx
  ui/package.json
  ui/pnpm-lock.yaml
  ui/styles/globals.css
Due: none

feat: allow scrolling up during LLM response
  ui/components/ai-elements/conversation.tsx
  ui/components/lighthouse/chat.tsx
  ui/components/shadcn/button.tsx
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

chore: revert conversation component CSS change
  ui/components/ai-elements/conversation.tsx
Due: none

fix: double scroll issue in lighthouse chat interface
  ui/app/(prowler)/lighthouse/page.tsx
  ui/components/lighthouse/chat.tsx
Due: none

feat(lighthouse): filter out non-compatible OpenAI models
  api/src/backend/tasks/jobs/lighthouse_providers.py
Due: api

chore: update api changelog
  api/CHANGELOG.md
Due: api

chore(overview): adjust wording for Prowler ThreatScore
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
  ui/app/(prowler)/_new-overview/threat-score/_components/threat-score.tsx
Due: none

docs(k8s): enhance token management guidance in getting started guide (#9519)
  docs/user-guide/providers/kubernetes/getting-started-k8s.mdx
Due: none

chore(overview): adjust wording for Prowler ThreatScore (#9524)
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
  ui/app/(prowler)/_new-overview/threat-score/_components/threat-score.tsx
Due: none

docs(security): add more details
  docs/security.mdx
Due: none

chore: CHANGELOG.md updated
  ui/CHANGELOG.md
Due: none

fix(api): add one second countdown to scheduled scan task to ensure transaction completion (#9516)
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/tests/test_beat.py
Due: api

chore(overview): adjust wording for Prowler ThreatScore (#9526)
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
  ui/app/(prowler)/_new-overview/threat-score/_components/threat-score.tsx
Due: none

chore(dependencies): update @next/third-parties and eslint-config-next to version 15.5.9
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

refactor(overviews): DRY views and optimize queries
  api/src/backend/api/v1/views.py
Due: api

refactor(attack-surfaces): remove check_ids from response
  api/src/backend/api/apps.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

Revert "fix(api): unlimited limit-request-line (#9461)"
  api/src/backend/config/guniconf.py
Due: api

fix: sentence
  docs/security.mdx
Due: none

chore: bump version
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

build(deps): bump next from 15.5.7 to 15.5.9 in /ui (#9527)
  ui/CHANGELOG.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

chore(dependencies): update @next/third-parties to version 15.5.7 (#9513)
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

docs(security): add more details (#9525)
  docs/security.mdx
Due: none

fix(api): add one second countdown to scheduled scan task to ensure transaction completion (#9528)
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/tests/test_beat.py
Due: api

chore: update API spec
  api/src/backend/api/specs/v1.yaml
Due: api

chore: update API changelog
  api/CHANGELOG.md
Due: api

docs: improve response samples
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
