Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(attack-paths): improve graph visualization and interactions
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/attack-path-graph.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/graph-legend.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/graph-colors.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/index.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/page.tsx
Due: none

fix: resolve changelog conflicts for v5.16 backport
  prowler/CHANGELOG.md
Due: prowler

fix(skills): add Resources sections and fix reference URLs
  skills/prowler-api/SKILL.md
  skills/prowler-api/references/api-docs.md
  skills/prowler-compliance/SKILL.md
  skills/prowler-compliance/references/compliance-docs.md
  skills/prowler-mcp/SKILL.md
  skills/prowler-mcp/references/mcp-docs.md
  skills/prowler-provider/SKILL.md
  skills/prowler-provider/references/provider-docs.md
  skills/prowler-sdk-check/SKILL.md
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-api/references/api-testing-docs.md
  skills/prowler-test-sdk/SKILL.md
Due: none

fix(attack-paths): highlight single path upstream instead of all paths
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/attack-path-graph.tsx
Due: none

refactor(skills): point references to local docs instead of web URLs
  skills/playwright/SKILL.md
  skills/playwright/references/prowler-e2e.md
  skills/prowler-compliance/references/compliance-docs.md
  skills/prowler-docs/SKILL.md
  skills/prowler-docs/references/documentation-docs.md
  skills/prowler-mcp/references/mcp-docs.md
  skills/prowler-pr/SKILL.md
  skills/prowler-pr/references/pr-docs.md
  skills/prowler-provider/references/provider-docs.md
  skills/prowler-sdk-check/references/metadata-docs.md
  skills/prowler-test-sdk/references/testing-docs.md
  skills/prowler-test-ui/SKILL.md
  skills/prowler-test-ui/references/e2e-docs.md
  skills/prowler-ui/SKILL.md
  skills/prowler-ui/references/ui-docs.md
  skills/prowler/SKILL.md
  skills/prowler/references/prowler-docs.md
  skills/pytest/SKILL.md
  skills/pytest/references/prowler-testing.md
Due: none

fix(oci): validate credentials before scanning (#9740)
  docs/user-guide/providers/oci/authentication.mdx
  docs/user-guide/providers/oci/getting-started-oci.mdx
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/oraclecloud_provider.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
Due: prowler

feat(skills): add skill-creator meta-skill for creating new skills
  AGENTS.md
  skills/skill-creator/SKILL.md
  skills/skill-creator/assets/SKILL-TEMPLATE.md
Due: none

fix(skills): remove VSCode debugging reference from prowler skill
  skills/prowler/references/prowler-docs.md
Due: none

fix(skills): remove Keywords sections from all skills
  skills/ai-sdk-5/SKILL.md
  skills/django-drf/SKILL.md
  skills/nextjs-15/SKILL.md
  skills/playwright/SKILL.md
  skills/prowler-api/SKILL.md
  skills/prowler-compliance/SKILL.md
  skills/prowler-docs/SKILL.md
  skills/prowler-mcp/SKILL.md
  skills/prowler-provider/SKILL.md
  skills/prowler-sdk-check/SKILL.md
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-sdk/SKILL.md
  skills/prowler-test-ui/SKILL.md
  skills/prowler-ui/SKILL.md
  skills/pytest/SKILL.md
  skills/react-19/SKILL.md
  skills/skill-creator/SKILL.md
  skills/skill-creator/assets/SKILL-TEMPLATE.md
  skills/tailwind-4/SKILL.md
  skills/typescript/SKILL.md
  skills/zod-4/SKILL.md
  skills/zustand-5/SKILL.md
Due: none

chore: update Prowler MCP Server to not repeat information that is already in dev guide
  skills/playwright/SKILL.md
  skills/prowler-mcp/SKILL.md
  skills/prowler-mcp/references/mcp-docs.md
  skills/prowler-sdk-check/SKILL.md
  skills/prowler-test-sdk/SKILL.md
  skills/prowler-ui/SKILL.md
  skills/tailwind-4/SKILL.md
Due: none

chore: solve conflicts
  skills/prowler-mcp/SKILL.md
Due: none

fix(ui): pass provider UID to update credentials forms
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
Due: none

fix: typo in subscription error
  ui/components/providers/workflow/forms/test-connection-form.tsx
Due: none

chore: add README to understand the purpose of skills dir
  skills/README.md
Due: none

chore: add MCP Server changelog
  skills/prowler-pr/SKILL.md
Due: none

chore: add pytest docs URL
  skills/pytest/SKILL.md
Due: none

docs(ui): add changelog entry for OCI update credentials fix
  ui/CHANGELOG.md
Due: none

fix(skills): correct patterns in prowler-api and prowler-test-api to match actual codebase
  .pre-commit-config.yaml
  skills/prowler-api/SKILL.md
  skills/prowler-api/assets/celery_task.py
  skills/prowler-api/assets/models.py
  skills/prowler-api/assets/queries.py
  skills/prowler-api/assets/rbac.py
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-api/assets/rbac_test.py
  skills/prowler-test-api/assets/task_test.py
  skills/prowler-test-api/assets/viewset_test.py
Due: none

fix(ui): add toast notification for scan errors and use shadcn Button
  ui/components/providers/workflow/forms/test-connection-form.tsx
Due: none

fix(skills): remove Keywords sections per Agent Skills spec
  skills/prowler-api/SKILL.md
  skills/prowler-api/assets/celery_task.py
  skills/prowler-api/assets/filter.py
  skills/prowler-api/assets/models.py
  skills/prowler-api/assets/queries.py
  skills/prowler-api/assets/rbac.py
  skills/prowler-api/assets/serializer.py
  skills/prowler-api/assets/viewset.py
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-api/assets/conftest.py
  skills/prowler-test-api/assets/rbac_test.py
  skills/prowler-test-api/assets/task_test.py
  skills/prowler-test-api/assets/viewset_test.py
Due: none

fix: typo in subscription error (#9745)
  ui/components/providers/workflow/forms/test-connection-form.tsx
Due: none

fix(skills): align API skills with Agent Skills spec
  skills/prowler-api/SKILL.md
  skills/prowler-test-api/SKILL.md
Due: none

feat: enhance zone record checks
  prowler/providers/cloudflare/services/zones/zones_record_caa_exists/zones_record_caa_exists.metadata.json
  prowler/providers/cloudflare/services/zones/zones_record_caa_exists/zones_record_caa_exists.py
  prowler/providers/cloudflare/services/zones/zones_record_dkim_exists/__init__.py
  prowler/providers/cloudflare/services/zones/zones_record_dkim_exists/zones_record_dkim_exists.metadata.json
  prowler/providers/cloudflare/services/zones/zones_record_dkim_exists/zones_record_dkim_exists.py
  prowler/providers/cloudflare/services/zones/zones_record_dmarc_exists/zones_record_dmarc_exists.metadata.json
  prowler/providers/cloudflare/services/zones/zones_record_dmarc_exists/zones_record_dmarc_exists.py
  prowler/providers/cloudflare/services/zones/zones_record_spf_exists/zones_record_spf_exists.metadata.json
  prowler/providers/cloudflare/services/zones/zones_record_spf_exists/zones_record_spf_exists.py
  tests/providers/cloudflare/services/zones/zones_record_caa_exists/zones_record_caa_exists_test.py
  tests/providers/cloudflare/services/zones/zones_record_dkim_exists/zones_record_dkim_exists_test.py
  tests/providers/cloudflare/services/zones/zones_record_dmarc_exists/zones_record_dmarc_exists_test.py
  tests/providers/cloudflare/services/zones/zones_record_spf_exists/zones_record_spf_exists_test.py
Due: prowler

chore: resolve comment
  prowler/providers/cloudflare/services/zones/zones_dnssec_enabled/zones_dnssec_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_hsts_enabled/zones_hsts_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_https_redirect_enabled/zones_https_redirect_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_ssl_strict/zones_ssl_strict.metadata.json
Due: prowler

fix: metadata
  prowler/providers/cloudflare/services/zones/zones_hsts_enabled/zones_hsts_enabled.metadata.json
Due: prowler

chore: correct CheckTitle
  prowler/providers/cloudflare/services/zones/zones_automatic_https_rewrites_enabled/zones_automatic_https_rewrites_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_email_obfuscation_enabled/zones_email_obfuscation_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_record_caa_exists/zones_record_caa_exists.metadata.json
  prowler/providers/cloudflare/services/zones/zones_record_dkim_exists/zones_record_dkim_exists.metadata.json
  prowler/providers/cloudflare/services/zones/zones_record_spf_exists/zones_record_spf_exists.metadata.json
  prowler/providers/cloudflare/services/zones/zones_tls_1_3_enabled/zones_tls_1_3_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_universal_ssl_enabled/zones_universal_ssl_enabled.metadata.json
Due: prowler

refactor(gcp): relocate compute configuration changes check to logging service
  prowler/config/config.yaml
  prowler/providers/gcp/services/compute/compute_configuration_changes/compute_configuration_changes.metadata.json
  prowler/providers/gcp/services/compute/compute_configuration_changes/compute_configuration_changes.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/__init__.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled.metadata.json
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/gcp/services/compute/compute_configuration_changes/compute_configuration_changes_test.py
  tests/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_compute_configuration_changes_enabled_test.py
  tests/providers/gcp/services/logging/logging_service_test.py
Due: prowler

feat(gcp): add check to detect persistent disks on suspended VM instances
  prowler/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/__init__.py
  prowler/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/compute_instance_suspended_without_persistent_disks.metadata.json
  prowler/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/compute_instance_suspended_without_persistent_disks.py
  prowler/providers/gcp/services/compute/compute_service.py
  tests/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/compute_instance_suspended_without_persistent_disks_test.py
Due: prowler

refactor(skills): move API skills resources to references directory
  skills/prowler-api/SKILL.md
  skills/prowler-api/references/api-docs.md
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-api/references/test-api-docs.md
Due: none

docs: update CHANGELOG
  prowler/CHANGELOG.md
Due: prowler

refactor(api): rename resource_group to group
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0066_finding_resource_group_scangroupsummary.py
  api/src/backend/api/migrations/0067_resource_resource_group.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/backfill.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_backfill.py
Due: api

chore: correct CheckTitle
  prowler/providers/cloudflare/services/zones/zones_always_online_disabled/zones_always_online_disabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_bot_fight_mode_enabled/zones_bot_fight_mode_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_hotlink_protection_enabled/zones_hotlink_protection_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_ip_geolocation_enabled/zones_ip_geolocation_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_server_side_excludes_enabled/zones_server_side_excludes_enabled.metadata.json
  prowler/providers/cloudflare/services/zones/zones_waf_enabled/zones_waf_enabled.metadata.json
Due: prowler

fix(skills): remove unnecessary .github/skills symlink
  skills/setup.sh
Due: none

fix: remove config vars
  prowler/config/config.yaml
  prowler/providers/cloudflare/services/zones/zones_min_tls_version_secure/zones_min_tls_version_secure.py
Due: prowler

chore(template): PR Community Checklist
  .github/pull_request_template.md
Due: none

feat(ui): add resource_group filter to resources page and update inventory links
  ui/app/(prowler)/_overview/resources-inventory/_components/resources-inventory-card-item.tsx
  ui/app/(prowler)/resources/page.tsx
Due: none

refactor(ui): update resource inventory endpoint to use /overviews/groups
  ui/actions/overview/resources-inventory/resources-inventory.ts
  ui/actions/overview/resources-inventory/types/resources-inventory.types.ts
Due: none

docs(ui): add changelog entries for resources filters update
  ui/CHANGELOG.md
Due: none

feat(ui): update resources filters and overview card navigation
  ui/app/(prowler)/_overview/resources-inventory/_components/resources-inventory-card-item.tsx
  ui/app/(prowler)/resources/page.tsx
Due: none
