Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(compliance): add SecNumCloud 3.2 for GCP
  dashboard/compliance/secnumcloud_3_2_gcp.py
  prowler/compliance/gcp/secnumcloud_3.2_gcp.json
Due: prowler

chore(changelog): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

Update to include DoD region support
  prowler/providers/oraclecloud/config.py
Due: prowler

Add check to ensure defense regions not overwrote
  util/update_oci_regions.py
Due: none

feat(github): add ruleset stale review dismissal check
  prowler/providers/github/services/repository/checks/repository_ruleset_dismisses_stale_reviews/__init__.py
  prowler/providers/github/services/repository/checks/repository_ruleset_dismisses_stale_reviews/repository_ruleset_dismisses_stale_reviews.metadata.json
  prowler/providers/github/services/repository/checks/repository_ruleset_dismisses_stale_reviews/repository_ruleset_dismisses_stale_reviews.py
  prowler/providers/github/services/repository/repository_service.py
Due: prowler

feat(compliance): add SecNumCloud 3.2 for Azure (#10358)
  dashboard/compliance/secnumcloud_3_2_azure.py
  prowler/CHANGELOG.md
  prowler/compliance/azure/secnumcloud_3.2_azure.json
Due: prowler

refactor(sdk): remove redundant metadata field truncation for image provider
  prowler/providers/image/image_provider.py
Due: prowler

feat(compliance): add SecNumCloud 3.2 for GCP (#10364)
  dashboard/compliance/secnumcloud_3_2_gcp.py
  prowler/CHANGELOG.md
  prowler/compliance/gcp/secnumcloud_3.2_gcp.json
Due: prowler

fix(sdk): skip strict CheckMetadata validators for external tool providers (#10363)
  prowler/CHANGELOG.md
  prowler/lib/check/models.py
  prowler/providers/image/image_provider.py
  tests/lib/check/models_test.py
  tests/providers/image/image_provider_test.py
Due: prowler

fix: parser tests
  tests/lib/cli/parser_test.py
Due: none

fix(attack-paths): recover graph_data_ready when scan fails during graph swap (#10354)
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/tests/test_attack_paths_database.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(attack-paths): use neo4j.Record type instead of Any for sync record parameters
  api/src/backend/tasks/jobs/attack_paths/sync.py
Due: api

chore(sdk): bump pygithub from 2.5.0 to 2.8.0 (#10353)
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/iac/iac_provider.py
  pyproject.toml
  tests/providers/iac/iac_provider_test.py
Due: prowler

feat(compliance): add SecNumCloud 3.2 for AlibabaCloud
  dashboard/compliance/secnumcloud_3_2_alibabacloud.py
  prowler/compliance/alibabacloud/secnumcloud_3.2_alibabacloud.json
Due: prowler

perf(attack-paths): reduce sync and findings memory usage with smaller batches and cursor iteration (#10359)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

feat(ui): add skills system infrastructure to Lighthouse AI (#10322)
  ui/CHANGELOG.md
  ui/components/lighthouse/chat-utils.ts
  ui/lib/lighthouse/analyst-stream.ts
  ui/lib/lighthouse/constants.ts
  ui/lib/lighthouse/skills/index.ts
  ui/lib/lighthouse/skills/registry.ts
  ui/lib/lighthouse/skills/types.ts
  ui/lib/lighthouse/system-prompt.ts
  ui/lib/lighthouse/tools/load-skill.ts
  ui/lib/lighthouse/workflow.ts
Due: none

feat(mcp): add cartography schema tool for attack paths (#10321)
  mcp_server/CHANGELOG.md
  mcp_server/prowler_mcp_server/prowler_app/models/attack_paths.py
  mcp_server/prowler_mcp_server/prowler_app/tools/attack_paths.py
  mcp_server/prowler_mcp_server/prowler_app/utils/api_client.py
Due: none

feat(compliance): add SecNumCloud 3.2 for AlibabaCloud (#10370)
  dashboard/compliance/secnumcloud_3_2_alibabacloud.py
  prowler/CHANGELOG.md
  prowler/compliance/alibabacloud/secnumcloud_3.2_alibabacloud.json
Due: prowler

feat(api): add periodic cleanup of stale attack paths scans with dead-worker detection
  api/docker-entrypoint.sh
  api/src/backend/api/migrations/0085_attack_paths_cleanup_periodic_task.py
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/attack_paths/cleanup.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

feat(compliance): add SecNumCloud 3.2 for Oracle Cloud
  dashboard/compliance/secnumcloud_3_2_oraclecloud.py
  dashboard/pages/compliance.py
  prowler/compliance/oraclecloud/secnumcloud_3.2_oraclecloud.json
Due: prowler

fix(skills): address review feedback on symlink setup
  skills/setup.sh
  skills/setup_test.sh
Due: none

chore: update asserts in every unit test
  prowler/providers/vercel/lib/service/service.py
  prowler/providers/vercel/models.py
  prowler/providers/vercel/vercel_provider.py
  tests/providers/vercel/services/authentication/authentication_no_stale_tokens/authentication_no_stale_tokens_test.py
  tests/providers/vercel/services/authentication/authentication_token_not_expired/authentication_token_not_expired_test.py
  tests/providers/vercel/services/deployment/deployment_preview_not_publicly_accessible/deployment_preview_not_publicly_accessible_test.py
  tests/providers/vercel/services/deployment/deployment_production_uses_stable_target/deployment_production_uses_stable_target_test.py
  tests/providers/vercel/services/domain/domain_dns_properly_configured/domain_dns_properly_configured_test.py
  tests/providers/vercel/services/domain/domain_no_wildcard_dns_exposure/domain_no_wildcard_dns_exposure_test.py
  tests/providers/vercel/services/domain/domain_ssl_certificate_valid/domain_ssl_certificate_valid_test.py
  tests/providers/vercel/services/domain/domain_verified/domain_verified_test.py
  tests/providers/vercel/services/project/project_auto_expose_system_env_disabled/project_auto_expose_system_env_disabled_test.py
  tests/providers/vercel/services/project/project_deployment_protection_enabled/project_deployment_protection_enabled_test.py
  tests/providers/vercel/services/project/project_directory_listing_disabled/project_directory_listing_disabled_test.py
  tests/providers/vercel/services/project/project_environment_no_overly_broad_target/project_environment_no_overly_broad_target_test.py
  tests/providers/vercel/services/project/project_environment_no_secrets_in_plain_type/project_environment_no_secrets_in_plain_type_test.py
  tests/providers/vercel/services/project/project_environment_production_vars_not_in_preview/project_environment_production_vars_not_in_preview_test.py
  tests/providers/vercel/services/project/project_environment_sensitive_vars_encrypted/project_environment_sensitive_vars_encrypted_test.py
  tests/providers/vercel/services/project/project_git_fork_protection_enabled/project_git_fork_protection_enabled_test.py
  tests/providers/vercel/services/project/project_password_protection_enabled/project_password_protection_enabled_test.py
  tests/providers/vercel/services/project/project_production_deployment_protection_enabled/project_production_deployment_protection_enabled_test.py
  tests/providers/vercel/services/project/project_skew_protection_enabled/project_skew_protection_enabled_test.py
  tests/providers/vercel/services/security/security_custom_rules_configured/security_custom_rules_configured_test.py
  tests/providers/vercel/services/security/security_ip_blocking_rules_configured/security_ip_blocking_rules_configured_test.py
  tests/providers/vercel/services/security/security_managed_rulesets_enabled/security_managed_rulesets_enabled_test.py
  tests/providers/vercel/services/security/security_rate_limiting_configured/security_rate_limiting_configured_test.py
  tests/providers/vercel/services/security/security_waf_enabled/security_waf_enabled_test.py
  tests/providers/vercel/services/team/team_directory_sync_enabled/team_directory_sync_enabled_test.py
  tests/providers/vercel/services/team/team_member_no_stale_access/team_member_no_stale_access_test.py
  tests/providers/vercel/services/team/team_member_role_least_privilege/team_member_role_least_privilege_test.py
  tests/providers/vercel/services/team/team_no_stale_invitations/team_no_stale_invitations_test.py
  tests/providers/vercel/services/team/team_saml_sso_enabled/team_saml_sso_enabled_test.py
  tests/providers/vercel/services/team/team_saml_sso_enforced/team_saml_sso_enforced_test.py
Due: prowler

feat(compliance): add SecNumCloud 3.2 for Oracle Cloud (#10371)
  dashboard/compliance/secnumcloud_3_2_oraclecloud.py
  dashboard/pages/compliance.py
  prowler/CHANGELOG.md
  prowler/compliance/oraclecloud/secnumcloud_3.2_oraclecloud.json
Due: prowler

Make VM name comparison case-insensitive
  prowler/providers/azure/services/vm/vm_backup_enabled/vm_backup_enabled.py
Due: prowler

fix(api): rewrite rls_transaction to retry mid-query replica failures with primary fallback
  api/src/backend/api/adapters.py
  api/src/backend/api/base_views.py
  api/src/backend/api/db_utils.py
  api/src/backend/api/decorators.py
  api/src/backend/api/management/commands/findings.py
  api/src/backend/api/migrations/0008_daily_scheduled_tasks_update.py
  api/src/backend/api/renderers.py
  api/src/backend/api/tests/integration/test_rls_transaction.py
  api/src/backend/api/tests/test_db_utils.py
  api/src/backend/api/tests/test_decorators.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/celery.py
  api/src/backend/conftest.py
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/backfill.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/jobs/muting.py
  api/src/backend/tasks/jobs/report.py
  api/src/backend/tasks/jobs/reports/base.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/jobs/threatscore.py
  api/src/backend/tasks/jobs/threatscore_utils.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  api/src/backend/tasks/tests/test_export.py
  api/src/backend/tasks/tests/test_integrations.py
  api/src/backend/tasks/tests/test_scan.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

fix(api): rewrite rls_transaction to retry mid-query replica failures with primary fallback - Add api/CHANGELOG.md entry
  api/CHANGELOG.md
Due: api

feat(ui): add finding-groups types and drill-down store
  ui/store/findings-drilldown.ts
  ui/types/findings-table.ts
  ui/types/index.ts
Due: none

feat(ui): add finding-groups server actions and adapter
  ui/actions/finding-groups/finding-groups.adapter.ts
  ui/actions/finding-groups/finding-groups.ts
  ui/actions/finding-groups/index.ts
Due: none

feat(ui): add findings group table with drill-down view
  ui/components/findings/table/column-finding-groups.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/findings/table/impacted-providers-cell.tsx
  ui/hooks/use-infinite-resources.ts
Due: none

feat(ui): connect findings page to finding-groups endpoint
  ui/app/(prowler)/findings/page.tsx
  ui/components/findings/table/findings-selection-context.tsx
  ui/components/findings/table/index.ts
  ui/components/findings/table/skeleton-table-findings.tsx
Due: none

fix(ui): disable unsupported filter[muted] for finding-groups
  ui/components/findings/table/data-table-row-actions.tsx
  ui/hooks/use-url-filters.ts
  ui/lib/menu-list.ts
Due: none

feat(ui): add resource selection and mute actions to drill-down
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
Due: none

feat(ui): add search placeholder prop to DataTable
  ui/components/findings/table/findings-group-table.tsx
  ui/components/ui/table/data-table-search.tsx
  ui/components/ui/table/data-table.tsx
Due: none

style(ui): adjust provider icons in ImpactedProvidersCell
  ui/components/findings/table/impacted-providers-cell.tsx
Due: none

refactor(ui): consolidate columns into single select column
  ui/components/findings/table/column-finding-groups.tsx
  ui/components/findings/table/column-finding-resources.tsx
Due: none

feat(ui): add loading transition and TreeSpinner to drill-down
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/findings-group-table.tsx
Due: none

update changelog
  prowler/CHANGELOG.md
Due: prowler

revert changelog
  prowler/CHANGELOG.md
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
