Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(ui): use Tailwind v4 important modifier for sticky action cell
  ui/components/ui/table/data-table.test.tsx
  ui/components/ui/table/data-table.tsx
Due: none

fix(ui): align org bulk schedule handling with the API contract
  ui/components/providers/organizations/org-launch-scan.test.tsx
  ui/components/providers/organizations/org-launch-scan.tsx
  ui/components/providers/providers-accounts-table.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/scans/schedule/edit-scan-schedule-modal.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
  ui/types/schedules.ts
Due: none

fix(gcp): apply review fixes to secretmanager_secret_not_publicly_accessible
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/secretmanager_secret_not_publicly_accessible.metadata.json
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/secretmanager_secret_not_publicly_accessible.py
  prowler/providers/gcp/services/secretmanager/secretmanager_service.py
  tests/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/secretmanager_secret_not_publicly_accessible_test.py
  tests/providers/gcp/services/secretmanager/secretmanager_service_test.py
Due: prowler

chore(attack-paths): clarify and correct sync/scan logging (real node totals, per-batch timing, deduped warnings)
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
Due: api

chore: revision
  prowler/CHANGELOG.md
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled.metadata.json
  prowler/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled.py
  tests/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled_test.py
Due: prowler

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

feat(gcp): add secretmanager_secret_not_publicly_accessible check (#11025)
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/secretmanager/__init__.py
  prowler/providers/gcp/services/secretmanager/secretmanager_client.py
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/__init__.py
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/secretmanager_secret_not_publicly_accessible.metadata.json
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/secretmanager_secret_not_publicly_accessible.py
  prowler/providers/gcp/services/secretmanager/secretmanager_service.py
  tests/providers/gcp/services/secretmanager/__init__.py
  tests/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/__init__.py
  tests/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/secretmanager_secret_not_publicly_accessible_test.py
  tests/providers/gcp/services/secretmanager/secretmanager_service_test.py
Due: prowler

feat(gcp): add secretmanager_secret_rotation_enabled check
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_rotation_enabled/__init__.py
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_rotation_enabled/secretmanager_secret_rotation_enabled.metadata.json
  prowler/providers/gcp/services/secretmanager/secretmanager_secret_rotation_enabled/secretmanager_secret_rotation_enabled.py
  tests/providers/gcp/services/secretmanager/secretmanager_secret_rotation_enabled/__init__.py
  tests/providers/gcp/services/secretmanager/secretmanager_secret_rotation_enabled/secretmanager_secret_rotation_enabled_test.py
Due: prowler

chore: update metadata and status extended
  prowler/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled.metadata.json
  prowler/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled.py
  tests/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled_test.py
Due: prowler

feat(azure): add aks_cluster_azure_monitor_enabled check (#11029)
  prowler/CHANGELOG.md
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/__init__.py
  prowler/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled.metadata.json
  prowler/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled.py
  tests/providers/azure/services/aks/aks_cluster_azure_monitor_enabled/aks_cluster_azure_monitor_enabled_test.py
Due: prowler

chore: revision
  prowler/CHANGELOG.md
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/providers/azure/services/aks/aks_cluster_local_accounts_disabled/aks_cluster_local_accounts_disabled.metadata.json
  prowler/providers/azure/services/aks/aks_cluster_local_accounts_disabled/aks_cluster_local_accounts_disabled.py
  tests/providers/azure/services/aks/aks_cluster_local_accounts_disabled/aks_cluster_local_accounts_disabled_test.py
Due: prowler

feat(azure): add aks_cluster_local_accounts_disabled check (#11030)
  prowler/CHANGELOG.md
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/providers/azure/services/aks/aks_cluster_local_accounts_disabled/__init__.py
  prowler/providers/azure/services/aks/aks_cluster_local_accounts_disabled/aks_cluster_local_accounts_disabled.metadata.json
  prowler/providers/azure/services/aks/aks_cluster_local_accounts_disabled/aks_cluster_local_accounts_disabled.py
  tests/providers/azure/services/aks/aks_cluster_local_accounts_disabled/aks_cluster_local_accounts_disabled_test.py
Due: prowler

chore: revision
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/compliance/azure/soc2_azure.json
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/network/network_subnet_nsg_associated/network_subnet_nsg_associated.py
  tests/providers/azure/services/network/network_subnet_nsg_associated/network_subnet_nsg_associated_test.py
Due: prowler

fix(sdk): address resource limit review comments
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/providers/aws/services/awslambda/awslambda_service.py
  prowler/providers/aws/services/backup/backup_service.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled_test.py
Due: prowler

feat(azure): add network_subnet_nsg_associated check (#11043)
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/compliance/azure/soc2_azure.json
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/network/network_subnet_nsg_associated/__init__.py
  prowler/providers/azure/services/network/network_subnet_nsg_associated/network_subnet_nsg_associated.metadata.json
  prowler/providers/azure/services/network/network_subnet_nsg_associated/network_subnet_nsg_associated.py
  tests/providers/azure/services/network/network_subnet_nsg_associated/network_subnet_nsg_associated_test.py
Due: prowler

fix(api): bound Celery worker concurrency to a configurable default (#11075)
  api/.env.example
  api/CHANGELOG.md
  api/docs/orphan-task-recovery.md
  api/src/backend/api/tests/test_celery_settings.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/config/settings/celery.py
  docs/troubleshooting.mdx
Due: api

fix(sdk): propagate Lambda mapping client errors
  prowler/providers/aws/services/awslambda/awslambda_service.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
Due: prowler

style(sdk): format ECS resource limit test
  tests/providers/aws/services/ecs/ecs_service_test.py
Due: none

docs(sdk): move apigateway pqc changelog entry
  prowler/CHANGELOG.md
Due: prowler

docs(sdk): move cloudfront pqc changelog entry
  prowler/CHANGELOG.md
Due: prowler

docs(sdk): move transfer pqc changelog entry
  prowler/CHANGELOG.md
Due: prowler

docs(sdk): move acmpca pqc changelog entry
  prowler/CHANGELOG.md
Due: prowler

docs(sdk): remove configuration version badge
  docs/user-guide/cli/tutorials/configuration_file.mdx
Due: none

feat(aws): add transfer_server_pqc_ssh_kex_enabled check (#11315)
  contrib/k8s/helm/prowler-api/values.yaml
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/CHANGELOG.md
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/ccc_aws.json
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/fedramp_moderate_revision_4_aws.json
  prowler/compliance/aws/ffiec_aws.json
  prowler/compliance/aws/gxp_21_cfr_part_11_aws.json
  prowler/compliance/aws/iso27001_2013_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
  prowler/compliance/aws/nist_800_171_revision_2_aws.json
  prowler/compliance/aws/nist_800_53_revision_5_aws.json
  prowler/compliance/aws/rbi_cyber_security_framework_aws.json
  prowler/compliance/aws/secnumcloud_3.2_aws.json
  prowler/compliance/csa_ccm_4.0.json
  prowler/config/config.yaml
  prowler/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/__init__.py
  prowler/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/transfer_server_pqc_ssh_kex_enabled.metadata.json
  prowler/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/transfer_server_pqc_ssh_kex_enabled.py
  prowler/providers/aws/services/transfer/transfer_service.py
  tests/providers/aws/services/transfer/transfer_server_pqc_ssh_kex_enabled/transfer_server_pqc_ssh_kex_enabled_test.py
  tests/providers/aws/services/transfer/transfer_service_test.py
Due: prowler

chore: revision
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/network/network_vnet_ddos_protection_enabled/network_vnet_ddos_protection_enabled.py
Due: prowler

fix(api): use the uvicorn worker so keep-alive outlives the load balancer idle timeout
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/config/guniconf.py
  api/uv.lock
Due: api

feat(ui): add organization bulk scan scheduling (#11643)
  ui/actions/schedules/schedules.test.ts
  ui/actions/schedules/schedules.ts
  ui/app/(prowler)/providers/providers-page.utils.test.ts
  ui/app/(prowler)/providers/providers-page.utils.ts
  ui/app/(prowler)/scans/page.tsx
  ui/components/providers/organizations/org-launch-scan.test.tsx
  ui/components/providers/organizations/org-launch-scan.tsx
  ui/components/providers/providers-accounts-table.test.tsx
  ui/components/providers/providers-accounts-table.tsx
  ui/components/providers/providers-accounts-view.test.tsx
  ui/components/providers/providers-accounts-view.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/steps/launch-step.test.tsx
  ui/components/providers/wizard/steps/launch-step.tsx
  ui/components/scans/launch-scan-modal.test.tsx
  ui/components/scans/launch-scan-modal.tsx
  ui/components/scans/schedule/edit-scan-schedule-modal.test.tsx
  ui/components/scans/schedule/edit-scan-schedule-modal.tsx
  ui/components/scans/table/scan-jobs-columns.test.tsx
  ui/components/scans/table/scan-jobs-columns.tsx
  ui/components/scans/table/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
  ui/components/scans/table/scan-jobs-table.test.tsx
  ui/components/scans/table/scan-jobs-table.tsx
  ui/components/ui/table/data-table.test.tsx
  ui/components/ui/table/data-table.tsx
  ui/hooks/use-scan-schedule-capability.test.ts
  ui/hooks/use-scan-schedule-capability.ts
  ui/lib/schedules.ts
  ui/types/providers-table.ts
  ui/types/schedules.ts
Due: none

chore: update metadata
  prowler/providers/azure/services/network/network_vnet_ddos_protection_enabled/network_vnet_ddos_protection_enabled.metadata.json
Due: prowler

Potential fix for pull request finding
  api/src/backend/config/guniconf.py
Due: api

fix(sdk): expand apigateway pqc policy coverage
  contrib/k8s/helm/prowler-api/values.yaml
  permissions/prowler-additions-policy.json
  permissions/templates/cloudformation/prowler-scan-role.yml
  prowler/config/config.yaml
  prowler/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled.py
  tests/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled_test.py
Due: prowler

fix(api): uvicorn worker keepalive (#11663)
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/config/guniconf.py
  api/uv.lock
Due: api

feat(azure): add network_vnet_ddos_protection_enabled check (#11044)
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/network/network_vnet_ddos_protection_enabled/__init__.py
  prowler/providers/azure/services/network/network_vnet_ddos_protection_enabled/network_vnet_ddos_protection_enabled.metadata.json
  prowler/providers/azure/services/network/network_vnet_ddos_protection_enabled/network_vnet_ddos_protection_enabled.py
  tests/providers/azure/services/network/network_vnet_ddos_protection_enabled/network_vnet_ddos_protection_enabled_test.py
Due: prowler

fix(ui): use shared scan launch action errors
  ui/components/scans/launch-scan-modal.test.tsx
  ui/components/scans/launch-scan-modal.tsx
Due: none

fix(sdk): restrict apigateway pqc policies
  contrib/k8s/helm/prowler-api/values.yaml
  prowler/config/config.yaml
  prowler/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled.py
  tests/providers/aws/services/apigateway/apigateway_domain_name_pqc_tls_enabled/apigateway_domain_name_pqc_tls_enabled_test.py
Due: prowler

chore: revision
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_3.0_azure.json
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/compliance/azure/mitre_attack_azure.json
  prowler/compliance/azure/nis2_azure.json
  prowler/compliance/azure/secnumcloud_3.2_azure.json
  prowler/compliance/azure/soc2_azure.json
  prowler/providers/azure/services/entra/entra_app_registration_credential_not_expired/entra_app_registration_credential_not_expired.py
  prowler/providers/azure/services/entra/entra_service.py
Due: prowler
