Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(sdk): make stable branches configurable via audit_config
  prowler/config/config.yaml
  prowler/providers/vercel/services/deployment/deployment_production_uses_stable_target/deployment_production_uses_stable_target.py
Due: prowler

chore(sdk): remove Vercel compliance files
  prowler/compliance/vercel/__init__.py
  prowler/compliance/vercel/cis_controls_v8_vercel.json
  prowler/compliance/vercel/iso27001_2013_vercel.json
  prowler/compliance/vercel/nist_800_53_rev5_vercel.json
  prowler/compliance/vercel/pci_dss_4_0_vercel.json
  prowler/compliance/vercel/soc2_vercel.json
Due: prowler

refactor(sdk): rename custom entra conditional access check id
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_conditional_access_policy_requires_mdm_enrolled_compliant_device_for_all_users_all_apps/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_requires_mdm_enrolled_compliant_device_for_all_users_all_apps/entra_conditional_access_policy_requires_mdm_enrolled_compliant_device_for_all_users_all_apps.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_requires_mdm_enrolled_compliant_device_for_all_users_all_apps/entra_conditional_access_policy_requires_mdm_enrolled_compliant_device_for_all_users_all_apps.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_requires_mdm_enrolled_compliant_device_for_all_users_all_apps/entra_conditional_access_policy_requires_mdm_enrolled_compliant_device_for_all_users_all_apps_test.py
Due: prowler

refactor(sdk): shorten custom Entra check name
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mdm_enrolled_compliant_device_required/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mdm_enrolled_compliant_device_required/entra_conditional_access_policy_mdm_enrolled_compliant_device_required.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mdm_enrolled_compliant_device_required/entra_conditional_access_policy_mdm_enrolled_compliant_device_required.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_mdm_enrolled_compliant_device_required/entra_conditional_access_policy_mdm_enrolled_compliant_device_required_test.py
Due: prowler

refactor(sdk): shorten custom Entra check name
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mdm_enrolled_compliant_device_required/entra_conditional_access_policy_mdm_enrolled_compliant_device_required.metadata.json
Due: prowler

fix(api): harden attack paths query blocklist and address review feedback
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/urls.py
  api/src/backend/config/django/base.py
Due: api

fix(api): harden attack paths query blocklist and address review feedback - Format
  api/src/backend/api/attack_paths/views_helpers.py
Due: api

fix(api): remove dangling logger argument and clean up review feedback
  api/src/backend/api/attack_paths/views_helpers.py
Due: api

fix(k8s): deduplicate RBAC findings by unique subject
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
Due: prowler

fix(sdk): align custom Entra check with UHG-SBD.0012
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_or_hybrid_joined_device_or_mfa_required/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_or_hybrid_joined_device_or_mfa_required/entra_conditional_access_policy_compliant_device_or_hybrid_joined_device_or_mfa_required.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_or_hybrid_joined_device_or_mfa_required/entra_conditional_access_policy_compliant_device_or_hybrid_joined_device_or_mfa_required.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_mdm_enrolled_compliant_device_required/entra_conditional_access_policy_mdm_enrolled_compliant_device_required.metadata.json
  tests/providers/m365/services/entra/entra_conditional_access_policy_compliant_device_or_hybrid_joined_device_or_mfa_required/entra_conditional_access_policy_compliant_device_or_hybrid_joined_device_or_mfa_required_test.py
Due: prowler

feat(sdk): add provider identity fields to OCSF unmapped output (#10240)
  prowler/CHANGELOG.md
  prowler/lib/outputs/ocsf/ocsf.py
  tests/lib/outputs/ocsf/ocsf_test.py
Due: prowler

fix: add provider_uid
  tests/lib/outputs/finding_test.py
Due: none

fix(iac): include resource line range in finding UID to prevent duplicates (#10241)
  prowler/lib/outputs/finding.py
  prowler/lib/scan/scan.py
  tests/lib/outputs/finding_test.py
Due: prowler

chore(changelog): review latest entries
  prowler/CHANGELOG.md
Due: prowler

fix(codeartifact): only retrieve the latest version from a package
  prowler/providers/aws/services/codeartifact/codeartifact_service.py
  tests/providers/aws/services/codeartifact/codeartifact_service_test.py
Due: prowler

fix(k8s): disambiguate RBAC findings by prefixing resource_id with subject kind
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
Due: prowler

fix(k8s): include namespace in resource_id, drop resource_name override
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
Due: prowler

fix(k8s): simplify resource_id, document ServiceAccount exclusion
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
Due: prowler

docs(k8s): add changelog entry for RBAC findings deduplication
  prowler/CHANGELOG.md
Due: prowler

fix(api): return 400 for malformed custom Cypher queries instead of 500
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/views_helpers.py
Due: api

chore(ui): improve provider wizard docs link labels
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
Due: none

fix(api): return 400 for malformed custom Cypher queries instead of 500 - lint
  api/src/backend/api/attack_paths/database.py
Due: api

chore(ui): improve provider wizard docs link labels (#10244)
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
Due: none

docs: review with docs styleguide
  docs/user-guide/tutorials/prowler-app-attack-paths.mdx
Due: none

docs: add Attack Paths UI documentation (#10230)
  docs/docs.json
  docs/images/prowler-app/attack-paths/execute-query.png
  docs/images/prowler-app/attack-paths/fullscreen-mode.png
  docs/images/prowler-app/attack-paths/graph-filtered.png
  docs/images/prowler-app/attack-paths/graph-visualization.png
  docs/images/prowler-app/attack-paths/navigation.png
  docs/images/prowler-app/attack-paths/node-details.png
  docs/images/prowler-app/attack-paths/query-parameters.png
  docs/images/prowler-app/attack-paths/query-selector.png
  docs/images/prowler-app/attack-paths/scan-list-table.png
  docs/user-guide/tutorials/prowler-app-attack-paths.mdx
Due: none

chore(changelog): review latest entries (#10246)
  prowler/CHANGELOG.md
Due: prowler

feat(api): add Google Workspace provider API integration
  api/src/backend/api/migrations/0084_googleworkspace_provider.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
Due: api

docs(docs): add OCSF validation script reference
  docs/developer-guide/provider.mdx
  scripts/validate_ocsf_output.py
Due: none

chore(mcp_server): update for release 5.19
  mcp_server/CHANGELOG.md
Due: none

chore(mcp_server): update for release 5.19 (#10248)
  mcp_server/CHANGELOG.md
Due: none

feat(ui): improve attack paths page layout and UX
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-list-table.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-status-badge.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/page.tsx
Due: none

docs: update CHANGELOG
  api/CHANGELOG.md
Due: api

fix(api): fix exposed_internet not set on ELB/ELBv2 nodes in attack paths
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/cartography_overrides_aws_ec2_asset_exposure.json
  api/src/backend/tasks/jobs/attack_paths/cartography_overrides_aws_sync_order.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

chore(api): update prowler dependency to v5.19 for release 5.19.0
  api/poetry.lock
  api/pyproject.toml
Due: api

fix(api): fix exposed_internet not set on ELB/ELBv2 nodes in attack paths - Update api/CHANGELOG.md
  api/CHANGELOG.md
Due: api

chore(api): Update prowler dependency to v5.19 for release 5.19.0 (#10250)
  api/poetry.lock
  api/pyproject.toml
Due: api

fix(github): resolve flake8 errors and improve check metadata
  prowler/providers/common/provider.py
  prowler/providers/github/services/organization/organization_repository_deletion_limited/organization_repository_deletion_limited.metadata.json
  prowler/providers/github/services/organization/organization_repository_deletion_limited/organization_repository_deletion_limited.py
Due: prowler

fix(api): fix exposed_internet not set on ELB/ELBv2 nodes in attack paths - Improve analysis query when fromport and toport are nulls
  api/src/backend/tasks/jobs/attack_paths/cartography_overrides_aws_ec2_asset_exposure.json
Due: api

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

chore(release): Bump version to v5.20.0
  prowler/config/config.py
  pyproject.toml
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
