Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(ui): update muted indicator to match Figma design
  ui/components/findings/muted.tsx
Due: none

feat(ui): send finding context to Lighthouse chat
  ui/app/(prowler)/lighthouse/page.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/lighthouse/chat.tsx
Due: none

fix(ui): restore default muted filter on findings page
  ui/hooks/use-url-filters.ts
Due: none

docs: add cookbooks section
  docs/docs.json
  docs/user-guide/cookbooks/cicd-pipeline.mdx
  docs/user-guide/cookbooks/kubernetes-in-cluster.mdx
Due: none

fix(ui): restore default muted filter in findings menu link
  ui/lib/menu-list.ts
Due: none

feat: add docs and modify gh workflows
  .github/labeler.yml
  .github/test-impact.yml
  .github/workflows/sdk-tests.yml
  README.md
  docs/docs.json
  docs/introduction.mdx
  docs/user-guide/providers/vercel/authentication.mdx
  docs/user-guide/providers/vercel/getting-started-vercel.mdx
  docs/user-guide/providers/vercel/images/vercel-account-settings.png
  docs/user-guide/providers/vercel/images/vercel-create-token.png
  docs/user-guide/providers/vercel/images/vercel-team-id.png
Due: none

refactor(ui): address code review issues for grouped findings view
  ui/actions/findings/findings-by-resource.adapter.ts
  ui/components/findings/floating-mute-button.tsx
  ui/components/findings/table/column-finding-groups.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/findings/table/findings-selection-context.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/hooks/use-infinite-resources.ts
  ui/lib/date-utils.ts
  ui/styles/globals.css
Due: none

feat(mcp): Add resource events tool
  docs/getting-started/basic-usage/prowler-mcp-tools.mdx
  mcp_server/CHANGELOG.md
  mcp_server/prowler_mcp_server/prowler_app/models/resources.py
  mcp_server/prowler_mcp_server/prowler_app/tools/resources.py
  ui/CHANGELOG.md
  ui/lib/lighthouse/workflow.ts
Due: none

chore(changelog): Add PR #
  mcp_server/CHANGELOG.md
  ui/CHANGELOG.md
Due: none

fix: changelog
  mcp_server/CHANGELOG.md
  ui/CHANGELOG.md
Due: none

chore: udpate docs
  docs/user-guide/providers/vercel/getting-started-vercel.mdx
Due: none

feat(s3): add new check s3_bucket_website_hosting_disabled
  prowler/providers/aws/services/s3/s3_bucket_website_hosting_disabled/__init__.py
  prowler/providers/aws/services/s3/s3_bucket_website_hosting_disabled/s3_bucket_website_hosting_disabled.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_website_hosting_disabled/s3_bucket_website_hosting_disabled.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_bucket_website_hosting_disabled/s3_bucket_website_hosting_disabled_test.py
Due: prowler

fix(sdk): move changelog entry to 5.22.0 unreleased section
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): move changelog entry to 5.21.2 unreleased section
  prowler/CHANGELOG.md
Due: prowler

docs(attack-paths): fix ECS query names and improve readability
  docs/user-guide/tutorials/prowler-app-attack-paths.mdx
Due: none

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(sdk): support renamed OCI IdP mapping events
  prowler/CHANGELOG.md
  prowler/compliance/oraclecloud/cis_3.1_oraclecloud.json
  prowler/providers/oraclecloud/services/events/events_rule_idp_group_mapping_changes/events_rule_idp_group_mapping_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_idp_group_mapping_changes/events_rule_idp_group_mapping_changes.py
  tests/providers/oraclecloud/services/events/events_rule_idp_group_mapping_changes/events_rule_idp_group_mapping_changes_test.py
Due: prowler

feat: add changelog
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): use case-insensitive comparison for Azure VM backup checks (#10395)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/vm/vm_backup_enabled/vm_backup_enabled.py
  prowler/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/vm_sufficient_daily_backup_retention_period.py
  tests/providers/azure/services/vm/vm_backup_enabled/vm_backup_enabled_test.py
  tests/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/vm_sufficient_daily_backup_retention_period_test.py
Due: prowler

Fix changelog entries for Azure checks
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): use case-insensitive comparison for Azure VM backup checks (#10417)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/vm/vm_backup_enabled/vm_backup_enabled.py
  prowler/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/vm_sufficient_daily_backup_retention_period.py
  tests/providers/azure/services/vm/vm_backup_enabled/vm_backup_enabled_test.py
  tests/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/vm_sufficient_daily_backup_retention_period_test.py
Due: prowler

fix(sdk): use case-insensitive comparison for Azure MySQL flexible server checks (#10396)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled.py
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled_test.py
Due: prowler

fix(sdk): use case-insensitive comparison for Azure MySQL flexible server checks (#10418)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled.py
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled_test.py
Due: prowler

fix: use build_filter_params
  mcp_server/prowler_mcp_server/prowler_app/tools/resources.py
Due: none

fix(api): align finding-group latest aggregation
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(api): allow configurable VALKEY_SCHEME for Celery broker URL
  .env
  .github/workflows/api-tests.yml
  api/CHANGELOG.md
  api/src/backend/config/settings/celery.py
  contrib/k8s/helm/prowler-api/values.yaml
  contrib/k8s/helm/prowler-app/templates/api/secret-valkey.yaml
  contrib/k8s/helm/prowler-app/values.yaml
  skills/prowler-api/assets/celery_patterns.py
  skills/prowler-api/references/configuration.md
  skills/prowler-api/references/production-settings.md
Due: api

fix(ui): resolve infinite API calls when opening finding group
  ui/hooks/use-infinite-resources.ts
Due: none

feat(ui): add API request logging in development
  ui/instrumentation.ts
Due: none

fix(ui): improve finding groups table display
  ui/components/findings/table/column-finding-groups.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
Due: none

fix(ui): default findings page to FAIL status filter
  ui/lib/menu-list.ts
Due: none

chore(api): update changelog for finding groups latest
  api/CHANGELOG.md
Due: api

fix(helm): quote VALKEY_SCHEME default in prowler-app secret template
  contrib/k8s/helm/prowler-app/templates/api/secret-valkey.yaml
Due: none

chore(api): update changelog for mute stats sync
  api/CHANGELOG.md
Due: api

docs(googleworkspace): add Cloud/App documentation
  docs/images/providers/googleworkspace-check-connection.png
  docs/images/providers/googleworkspace-credentials-form.png
  docs/images/providers/googleworkspace-customer-id-form.png
  docs/images/providers/googleworkspace-customer-id.png
  docs/images/providers/googleworkspace-launch-scan.png
  docs/images/providers/select-googleworkspace-prowler-cloud.png
  docs/user-guide/providers/googleworkspace/authentication.mdx
  docs/user-guide/providers/googleworkspace/getting-started-googleworkspace.mdx
Due: none

refactor: simplify mute
  api/src/backend/api/v1/views.py
Due: api
