Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(oraclecloud): enhance metadata for `database` service (#9372)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/database/database_autonomous_database_access_restricted/database_autonomous_database_access_restricted.metadata.json
Due: prowler

fix: tests
  ui/components/providers/organizations/org-setup-form.tsx
Due: none

chore(ui): update changelog for v1.20.0
  ui/CHANGELOG.md
Due: none

chore(oraclecloud): enhance metadata for `filestorage` service (#9374)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/filestorage/filestorage_file_system_encrypted_with_cmk/filestorage_file_system_encrypted_with_cmk.metadata.json
Due: prowler

feat(api): fix tests
  api/src/backend/tasks/jobs/reports/ens.py
Due: api

chore(ui): update changelog for v1.20.0 (#10275)
  ui/CHANGELOG.md
Due: none

chore: update resource group
  prowler/providers/oraclecloud/services/integration/integration_instance_access_restricted/integration_instance_access_restricted.metadata.json
Due: prowler

chore(oraclecloud): enhance metadata for `integration` service (#9376)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/integration/integration_instance_access_restricted/integration_instance_access_restricted.metadata.json
Due: prowler

fix(pdf): align ENS report requirement status (#10270)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/reports/ens.py
  api/src/backend/tasks/jobs/threatscore_utils.py
  api/src/backend/tasks/tests/test_reports.py
Due: api

chore(oraclecloud): enhance metadata for `kms` service (#9377)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled.metadata.json
Due: prowler

docs(attack-paths): add module docstring to scan orchestrator
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

revert(attack-paths): restore original run() docstring
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

chore(oraclecloud): enhance metadata for `network` service (#9378)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/network/network_default_security_list_restricts_traffic/network_default_security_list_restricts_traffic.metadata.json
  prowler/providers/oraclecloud/services/network/network_security_group_ingress_from_internet_to_rdp_port/network_security_group_ingress_from_internet_to_rdp_port.metadata.json
  prowler/providers/oraclecloud/services/network/network_security_group_ingress_from_internet_to_ssh_port/network_security_group_ingress_from_internet_to_ssh_port.metadata.json
  prowler/providers/oraclecloud/services/network/network_security_list_ingress_from_internet_to_rdp_port/network_security_list_ingress_from_internet_to_rdp_port.metadata.json
  prowler/providers/oraclecloud/services/network/network_security_list_ingress_from_internet_to_ssh_port/network_security_list_ingress_from_internet_to_ssh_port.metadata.json
  prowler/providers/oraclecloud/services/network/network_vcn_subnet_flow_logs_enabled/network_vcn_subnet_flow_logs_enabled.metadata.json
Due: prowler

docs(attack-paths): fix module docstring inaccuracies
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

fix(ui): skip launch step when updating provider credentials
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.test.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
Due: none

chore(oraclecloud): enhance metadata for `objectstorage` service (#9379)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/objectstorage/objectstorage_bucket_encrypted_with_cmk/objectstorage_bucket_encrypted_with_cmk.metadata.json
  prowler/providers/oraclecloud/services/objectstorage/objectstorage_bucket_logging_enabled/objectstorage_bucket_logging_enabled.metadata.json
  prowler/providers/oraclecloud/services/objectstorage/objectstorage_bucket_not_publicly_accessible/objectstorage_bucket_not_publicly_accessible.metadata.json
  prowler/providers/oraclecloud/services/objectstorage/objectstorage_bucket_versioning_enabled/objectstorage_bucket_versioning_enabled.metadata.json
Due: prowler

chore(ui): add changelog entry for #10278
  ui/CHANGELOG.md
Due: none

fix(ui): skip launch step when updating provider credentials (#10278)
  ui/CHANGELOG.md
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.test.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
Due: none

chore(oraclecloud): enhance metadata for `events` service (#9373)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/events/events_notification_topic_and_subscription_exists/events_notification_topic_and_subscription_exists.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_cloudguard_problems/events_rule_cloudguard_problems.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_iam_group_changes/events_rule_iam_group_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_iam_policy_changes/events_rule_iam_policy_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_identity_provider_changes/events_rule_identity_provider_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_idp_group_mapping_changes/events_rule_idp_group_mapping_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_local_user_authentication/events_rule_local_user_authentication.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_network_gateway_changes/events_rule_network_gateway_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_network_security_group_changes/events_rule_network_security_group_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_route_table_changes/events_rule_route_table_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_security_list_changes/events_rule_security_list_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_user_changes/events_rule_user_changes.metadata.json
  prowler/providers/oraclecloud/services/events/events_rule_vcn_changes/events_rule_vcn_changes.metadata.json
Due: prowler

Update CHANGELOG.md
  ui/CHANGELOG.md
Due: none

fix(ui): skip launch step when updating provider credentials (#10279)
  ui/CHANGELOG.md
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.test.tsx
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
Due: none

chore(oraclecloud): enhance metadata for `identity` service (#9375)
  prowler/CHANGELOG.md
  prowler/providers/oraclecloud/services/identity/identity_iam_admins_cannot_update_tenancy_admins/identity_iam_admins_cannot_update_tenancy_admins.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_instance_principal_used/identity_instance_principal_used.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_no_resources_in_root_compartment/identity_no_resources_in_root_compartment.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_non_root_compartment_exists/identity_non_root_compartment_exists.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_password_policy_expires_within_365_days/identity_password_policy_expires_within_365_days.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_password_policy_minimum_length_14/identity_password_policy_minimum_length_14.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_password_policy_prevents_reuse/identity_password_policy_prevents_reuse.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_service_level_admins_exist/identity_service_level_admins_exist.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_tenancy_admin_permissions_limited/identity_tenancy_admin_permissions_limited.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_tenancy_admin_users_no_api_keys/identity_tenancy_admin_users_no_api_keys.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_user_api_keys_rotated_90_days/identity_user_api_keys_rotated_90_days.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_user_auth_tokens_rotated_90_days/identity_user_auth_tokens_rotated_90_days.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_user_customer_secret_keys_rotated_90_days/identity_user_customer_secret_keys_rotated_90_days.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_user_db_passwords_rotated_90_days/identity_user_db_passwords_rotated_90_days.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_user_mfa_enabled_console_access/identity_user_mfa_enabled_console_access.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_user_valid_email_address/identity_user_valid_email_address.metadata.json
Due: prowler

feat(gcp): Add check for enabled Gemini (Generative Language) API
  prowler/compliance/gcp/c5_gcp.json
  prowler/compliance/gcp/fedramp_20x_ksi_low_gcp.json
  prowler/compliance/gcp/hipaa_gcp.json
  prowler/compliance/gcp/iso27001_2022_gcp.json
  prowler/compliance/gcp/mitre_attack_gcp.json
  prowler/compliance/gcp/pci_4.0_gcp.json
  prowler/compliance/gcp/soc2_gcp.json
  prowler/providers/gcp/services/gemini/__init__.py
  prowler/providers/gcp/services/gemini/gemini_api_disabled/__init__.py
  prowler/providers/gcp/services/gemini/gemini_api_disabled/gemini_api_disabled.metadata.json
  prowler/providers/gcp/services/gemini/gemini_api_disabled/gemini_api_disabled.py
  tests/providers/gcp/services/gemini/gemini_api_disabled/gemini_api_disabled_test.py
Due: prowler

feat(gcp): Add check for unrestricted API keys witht the Gemini API enabled
  prowler/compliance/gcp/mitre_attack_gcp.json
  prowler/providers/gcp/services/apikeys/apikeys_api_restricted_with_gemini_api/__init__.py
  prowler/providers/gcp/services/apikeys/apikeys_api_restricted_with_gemini_api/apikeys_api_restricted_with_gemini_api.metadata.json
  prowler/providers/gcp/services/apikeys/apikeys_api_restricted_with_gemini_api/apikeys_api_restricted_with_gemini_api.py
  tests/providers/gcp/services/apikeys/apikeys_api_restricted_with_gemini_api/apikeys_api_restricted_with_gemini_api_test.py
Due: prowler

chore(changelog): Add `apikeys_api_restricted_with_gemini_api` & `gemini_api_disabled` checks to changelog
  prowler/CHANGELOG.md
Due: prowler

feat(sdk): add IONOS Cloud provider with compute service
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/lib/check/models.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
  prowler/providers/ionoscloud/__init__.py
  prowler/providers/ionoscloud/config.py
  prowler/providers/ionoscloud/exceptions/__init__.py
  prowler/providers/ionoscloud/exceptions/exceptions.py
  prowler/providers/ionoscloud/ionoscloud_provider.py
  prowler/providers/ionoscloud/lib/__init__.py
  prowler/providers/ionoscloud/lib/arguments/__init__.py
  prowler/providers/ionoscloud/lib/arguments/arguments.py
  prowler/providers/ionoscloud/lib/mutelist/__init__.py
  prowler/providers/ionoscloud/lib/mutelist/mutelist.py
  prowler/providers/ionoscloud/lib/service/__init__.py
  prowler/providers/ionoscloud/lib/service/service.py
  prowler/providers/ionoscloud/models.py
  prowler/providers/ionoscloud/services/__init__.py
  prowler/providers/ionoscloud/services/compute/__init__.py
  prowler/providers/ionoscloud/services/compute/compute_client.py
  prowler/providers/ionoscloud/services/compute/compute_server_public_internet_access/__init__.py
  prowler/providers/ionoscloud/services/compute/compute_server_public_internet_access/compute_server_public_internet_access.metadata.json
  prowler/providers/ionoscloud/services/compute/compute_server_public_internet_access/compute_server_public_internet_access.py
  prowler/providers/ionoscloud/services/compute/compute_service.py
  pyproject.toml
Due: prowler

fix(azure): pass authority to credentials for sovereign clouds
  prowler/providers/azure/azure_provider.py
Due: prowler

feat(organizations): add OU metadata to ASFF, OCSF and CSV outputs
  prowler/lib/outputs/asff/asff.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/ocsf/ocsf.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/organizations/organizations.py
  prowler/providers/aws/models.py
  tests/lib/outputs/fixtures/fixtures.py
  tests/providers/aws/lib/organizations/organizations_test.py
Due: prowler

test(organizations): add moto tests for OU metadata
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/organizations/organizations.py
  tests/providers/aws/lib/organizations/organizations_test.py
Due: prowler

docs(changelog): add OU metadata entry for #10283
  prowler/CHANGELOG.md
Due: prowler

chore(revision): resolve comments
  ui/CHANGELOG.md
  ui/components/providers/organizations/org-setup-form.tsx
  ui/lib/external-urls.ts
Due: none

fix(ui): rename error text token to text-text-error-primary
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/fields/wizard-input-field.tsx
  ui/components/providers/workflow/forms/fields/wizard-textarea-field.tsx
  ui/components/providers/workflow/forms/select-credentials-type/alibabacloud/radio-group-alibabacloud-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/radio-group-aws-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/cloudflare/radio-group-cloudflare-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/radio-group-gcp-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/radio-group-github-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/radio-group-m365-via-credentials-type-form.tsx
  ui/components/ui/form/Form.test.tsx
  ui/components/ui/form/Form.tsx
Due: none

fix(ui): sort imports in Form.test.tsx to satisfy eslint
  ui/components/ui/form/Form.test.tsx
Due: none

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

chore(revision): resolve comments
  ui/components/providers/organizations/org-setup-form.tsx
Due: none

fix(api): update tests and OpenAPI spec for Google Workspace provider
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
Due: api

chore: skills for indexes
  AGENTS.md
  api/AGENTS.md
  skills/django-migration-psql/SKILL.md
  skills/postgresql-indexing/SKILL.md
Due: api
