Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(ui): exclude onboarding e2e from oss
  ui/playwright.config.ts
Due: none

fix(ui): keep oss playwright web server
  ui/playwright.config.ts
Due: none

bump trivy in action
  .github/actions/trivy-scan/action.yml
Due: none

chore(revision): add needed changes
  api/src/backend/tasks/jobs/scan.py
Due: api

fix(sdk): patch container CVEs and suppress unfixable bookworm criticals (#11592)
  .github/actions/trivy-scan/action.yml
  .trivyignore
  Dockerfile
  api/CHANGELOG.md
  api/Dockerfile
  prowler/CHANGELOG.md
Due: prowler, api

test(ui): added vercel e2e test
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
  ui/types/env.d.ts
Due: none

ci: added vercel e2e test env vars
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

Add tryivignore
  .trivyignore
Due: none

fix(ui): update scan schedule helper copy
  ui/components/scans/schedule/scan-schedule-fields.test.tsx
  ui/components/scans/schedule/scan-schedule-fields.tsx
Due: none

fix(ui): show manual scan for onboarding providers
  ui/components/providers/wizard/steps/launch-step.test.tsx
  ui/components/providers/wizard/steps/launch-step.tsx
Due: none

fix(ui): sanitize HTML server action errors
  ui/actions/resources/resources.test.ts
  ui/actions/resources/resources.ts
  ui/actions/scans/scans.test.ts
  ui/actions/scans/scans.ts
  ui/lib/helper.test.ts
  ui/lib/helper.ts
  ui/lib/server-actions-helper.test.ts
  ui/lib/server-actions-helper.ts
Due: none

fix(ui): exclude onboarding e2e from oss (#11597)
  ui/playwright.config.ts
Due: none

test(ui): added okta e2e test
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
  ui/types/env.d.ts
Due: none

ci: added okta e2e test env vars
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

fix(m365): classify cloud-only sync check as manual
  prowler/providers/m365/services/entra/entra_directory_sync_object_takeover_blocked/entra_directory_sync_object_takeover_blocked.py
  tests/providers/m365/services/entra/entra_directory_sync_object_takeover_blocked/entra_directory_sync_object_takeover_blocked_test.py
Due: prowler

ci: added missing google workspace env vars
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

chore(changelog): update with latest changes
  api/CHANGELOG.md
Due: api

fix(api): patch dependency and container CVEs (#11596)
  .trivyignore
  api/CHANGELOG.md
  api/Dockerfile
  api/pyproject.toml
  api/uv.lock
  prowler/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: prowler, api

fix(api): route attack paths reads to the synced graph during Neptune cutover
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/ingest/__init__.py
  api/src/backend/api/attack_paths/ingest/driver.py
  api/src/backend/api/tests/test_attack_paths_database.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

feat(azure): add cosmosdb_account_backup_policy_continuous check (#11032)
  prowler/CHANGELOG.md
  prowler/compliance/azure/hipaa_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/compliance/csa_ccm_4.0.json
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_backup_policy_continuous/__init__.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_backup_policy_continuous/cosmosdb_account_backup_policy_continuous.metadata.json
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_backup_policy_continuous/cosmosdb_account_backup_policy_continuous.py
  tests/providers/azure/services/cosmosdb/cosmosdb_account_backup_policy_continuous/cosmosdb_account_backup_policy_continuous_test.py
Due: prowler

feat(jira): request timeout
  prowler/CHANGELOG.md
  prowler/lib/outputs/jira/jira.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler

chore: changelog
  prowler/CHANGELOG.md
Due: prowler

chore: remove comment
  prowler/lib/outputs/jira/jira.py
Due: prowler

chore: changelog #
  prowler/CHANGELOG.md
Due: prowler

chore(codepipeline): verify if repo is public with TLS
  prowler/CHANGELOG.md
  prowler/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private.py
  tests/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private_test.py
Due: prowler

chore: changelog #
  prowler/CHANGELOG.md
  tests/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private_test.py
Due: prowler

chore(api-beat): entrypoint from /home/prowler/docker-entrypoint.sh
  docker-compose-dev.yml
  docker-compose.yml
Due: none

chore(api-beat): entrypoint in contrib/
  contrib/k8s/helm/prowler-api/values.yaml
  contrib/k8s/helm/prowler-app/values.yaml
Due: none

fix(gcp): only credit aggregated sinks provably scoped to Admin Activity
  prowler/providers/gcp/services/logging/logging_service.py
  tests/providers/gcp/services/logging/logging_service_test.py
Due: prowler

test(ui): remove onboarding e2e suite
  ui/lib/onboarding/README.md
  ui/tests/onboarding/onboarding-page.ts
  ui/tests/onboarding/onboarding.md
  ui/tests/onboarding/onboarding.spec.ts
Due: none

refactor(sdk): enforce Provider subclass contract for entry-point providers in get_class
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  tests/providers/external/test_dynamic_provider_loading.py
Due: prowler

test(sdk): pin built-in provider naming convention as get_class contract
  tests/providers/external/test_dynamic_provider_loading.py
Due: none

refactor(api): share provider filter helpers
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/v1/mixins.py
  api/src/backend/api/v1/views.py
Due: api

test(ui): remove onboarding e2e suite (#11605)
  ui/lib/onboarding/README.md
  ui/tests/onboarding/onboarding-page.ts
  ui/tests/onboarding/onboarding.md
  ui/tests/onboarding/onboarding.spec.ts
Due: none

chore(codepipeline): verify if repo is public with TLS (#11603)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private.py
  tests/providers/aws/services/codepipeline/codepipeline_project_repo_private/codepipeline_project_repo_private_test.py
Due: prowler

feat(jira): request timeout (#11602)
  prowler/CHANGELOG.md
  prowler/lib/outputs/jira/jira.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler

docs(sdk): clarify provider argument builders are base defaults pending API consumption
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
Due: prowler

chore(api-beat): absolute entrypoint (#11604)
  contrib/k8s/helm/prowler-api/values.yaml
  contrib/k8s/helm/prowler-app/values.yaml
  docker-compose-dev.yml
  docker-compose.yml
Due: none

feat(api): add compliance provider filters (#11587)
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/mixins.py
  api/src/backend/api/v1/views.py
Due: api

chore: move changelog entry to 5.30.2
  prowler/CHANGELOG.md
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
