Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(attack-paths): recover graph_data_ready when scan fails during graph swap - Move api/CHANGELOG.md entry as next release will be a minor one
  api/CHANGELOG.md
Due: api

chore: udpate route53 service and check
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  prowler/providers/aws/services/route53/route53_service.py
  tests/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover_test.py
Due: prowler

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

perf(attack-paths): reduce sync and findings memory usage with smaller batches and cursor iteration - Add api/CHANGELOG.md entry for attack paths sync and findings streaming optimizations
  api/CHANGELOG.md
Due: api

fix(route53): resolve false positive in dangling IP check (#9952)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  prowler/providers/aws/services/route53/route53_service.py
  tests/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover_test.py
Due: prowler

chore(revision): add missing changes
  dashboard/compliance/rbi_cyber_security_framework_gcp.py
  prowler/compliance/gcp/rbi_cyber_security_framework_gcp.json
Due: prowler

fix: typo
  prowler/compliance/gcp/rbi_cyber_security_framework_gcp.json
Due: prowler

chore(changelog): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

chore(revision): add missing changelog info
  prowler/CHANGELOG.md
Due: prowler

fix(dashboard): add RBI compliance dashboard support for the azure provider
  dashboard/compliance/rbi_cyber_security_framework_azure.py
Due: none

fix(mcp): add HTTPS validation and preserve traceback in fetch_external_url
  mcp_server/prowler_mcp_server/prowler_app/utils/api_client.py
Due: none

refactor(mcp): add schema_content as optional field in CartographySchema model
  mcp_server/prowler_mcp_server/prowler_app/models/attack_paths.py
  mcp_server/prowler_mcp_server/prowler_app/tools/attack_paths.py
Due: none

fix(ui): fix merge syntax errors in credentials schema and form defaults
  ui/hooks/use-credentials-form.ts
  ui/types/formSchemas.ts
Due: none

fix(api): move psycopg2.sql changelog entry to v1.22.0
  api/CHANGELOG.md
Due: api

fix(api): move defusedxml changelog entry to v1.22.0
  api/CHANGELOG.md
Due: api

fix(api): [security] use psycopg2.sql to safely compose DDL in PostgresEnumMigration (#10166)
  api/CHANGELOG.md
  api/src/backend/api/db_utils.py
  api/src/backend/api/tests/test_db_utils.py
  api/src/backend/api/tests/test_views.py
Due: api

feat(ui): add Google Workspace provider integration (#10333)
  ui/CHANGELOG.md
  ui/app/(prowler)/_overview/_components/accounts-selector.tsx
  ui/app/(prowler)/_overview/_components/provider-type-selector.tsx
  ui/components/findings/table/provider-icon-cell.tsx
  ui/components/icons/providers-badge/googleworkspace-provider-badge.tsx
  ui/components/icons/providers-badge/index.ts
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/via-credentials/googleworkspace-credentials-form.tsx
  ui/components/ui/entities/get-provider-logo.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/error-mappings.ts
  ui/lib/external-urls.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
  ui/types/providers.ts
Due: none

fix(attack-paths): address review comments on batch size docs, all_objects rationale, and relationship pagination test
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(ui): add typed return interfaces to loadSkill tool
  ui/lib/lighthouse/tools/load-skill.ts
Due: none

fix(ui): use falsy coalescing for empty tool names in extractActualToolName
  ui/lib/lighthouse/analyst-stream.ts
Due: none

docs(ui): fix outdated docstrings and hardcoded skill example
  ui/components/lighthouse/chat-utils.ts
  ui/lib/lighthouse/system-prompt.ts
Due: none

fix(dashboard): add RBI compliance dashboard support for Azure (#10360)
  dashboard/compliance/rbi_cyber_security_framework_azure.py
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): align image provider metadata with CheckMetadata validation
  prowler/providers/image/image_provider.py
  tests/providers/image/image_provider_test.py
Due: prowler

feat(compliance): Add RBI Cyber Security Framework for GCP (#10339)
  dashboard/compliance/rbi_cyber_security_framework_gcp.py
  prowler/CHANGELOG.md
  prowler/compliance/gcp/rbi_cyber_security_framework_gcp.json
Due: prowler

fix(sdk): align iac provider metadata with CheckMetadata validation
  prowler/providers/iac/iac_provider.py
  tests/providers/iac/iac_provider_test.py
Due: prowler

fix(sdk): truncate image provider metadata fields to validation limits
  prowler/providers/image/image_provider.py
Due: prowler

chore: vercel provider revision
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/config/config.py
  prowler/lib/check/check.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
Due: prowler

chore: update metadata
  prowler/providers/vercel/services/authentication/authentication_no_stale_tokens/authentication_no_stale_tokens.metadata.json
  prowler/providers/vercel/services/authentication/authentication_token_not_expired/authentication_token_not_expired.metadata.json
  prowler/providers/vercel/services/deployment/deployment_preview_not_publicly_accessible/deployment_preview_not_publicly_accessible.metadata.json
  prowler/providers/vercel/services/deployment/deployment_production_uses_stable_target/deployment_production_uses_stable_target.metadata.json
  prowler/providers/vercel/services/domain/domain_dns_properly_configured/domain_dns_properly_configured.metadata.json
  prowler/providers/vercel/services/domain/domain_no_wildcard_dns_exposure/domain_no_wildcard_dns_exposure.metadata.json
  prowler/providers/vercel/services/domain/domain_ssl_certificate_valid/domain_ssl_certificate_valid.metadata.json
  prowler/providers/vercel/services/domain/domain_verified/domain_verified.metadata.json
  prowler/providers/vercel/services/project/project_auto_expose_system_env_disabled/project_auto_expose_system_env_disabled.metadata.json
  prowler/providers/vercel/services/project/project_deployment_protection_enabled/project_deployment_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_directory_listing_disabled/project_directory_listing_disabled.metadata.json
  prowler/providers/vercel/services/project/project_environment_no_overly_broad_target/project_environment_no_overly_broad_target.metadata.json
  prowler/providers/vercel/services/project/project_environment_no_secrets_in_plain_type/project_environment_no_secrets_in_plain_type.metadata.json
  prowler/providers/vercel/services/project/project_environment_production_vars_not_in_preview/project_environment_production_vars_not_in_preview.metadata.json
  prowler/providers/vercel/services/project/project_environment_sensitive_vars_encrypted/project_environment_sensitive_vars_encrypted.metadata.json
  prowler/providers/vercel/services/project/project_git_fork_protection_enabled/project_git_fork_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_password_protection_enabled/project_password_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_production_deployment_protection_enabled/project_production_deployment_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_skew_protection_enabled/project_skew_protection_enabled.metadata.json
  prowler/providers/vercel/services/security/security_custom_rules_configured/security_custom_rules_configured.metadata.json
  prowler/providers/vercel/services/security/security_ip_blocking_rules_configured/security_ip_blocking_rules_configured.metadata.json
  prowler/providers/vercel/services/security/security_managed_rulesets_enabled/security_managed_rulesets_enabled.metadata.json
  prowler/providers/vercel/services/security/security_rate_limiting_configured/security_rate_limiting_configured.metadata.json
  prowler/providers/vercel/services/security/security_waf_enabled/security_waf_enabled.metadata.json
  prowler/providers/vercel/services/team/team_directory_sync_enabled/team_directory_sync_enabled.metadata.json
  prowler/providers/vercel/services/team/team_member_no_stale_access/team_member_no_stale_access.metadata.json
  prowler/providers/vercel/services/team/team_member_role_least_privilege/team_member_role_least_privilege.metadata.json
  prowler/providers/vercel/services/team/team_no_stale_invitations/team_no_stale_invitations.metadata.json
  prowler/providers/vercel/services/team/team_saml_sso_enabled/team_saml_sso_enabled.metadata.json
  prowler/providers/vercel/services/team/team_saml_sso_enforced/team_saml_sso_enforced.metadata.json
Due: prowler

fix(sdk): skip strict CheckMetadata validators for external tool providers
  prowler/lib/check/models.py
  tests/lib/check/models_test.py
Due: prowler

chore: add missing check tests
  tests/providers/vercel/services/authentication/authentication_no_stale_tokens/__init__.py
  tests/providers/vercel/services/authentication/authentication_no_stale_tokens/authentication_no_stale_tokens_test.py
  tests/providers/vercel/services/deployment/deployment_production_uses_stable_target/__init__.py
  tests/providers/vercel/services/deployment/deployment_production_uses_stable_target/deployment_production_uses_stable_target_test.py
  tests/providers/vercel/services/domain/domain_dns_properly_configured/__init__.py
  tests/providers/vercel/services/domain/domain_dns_properly_configured/domain_dns_properly_configured_test.py
  tests/providers/vercel/services/domain/domain_no_wildcard_dns_exposure/__init__.py
  tests/providers/vercel/services/domain/domain_no_wildcard_dns_exposure/domain_no_wildcard_dns_exposure_test.py
  tests/providers/vercel/services/domain/domain_verified/__init__.py
  tests/providers/vercel/services/domain/domain_verified/domain_verified_test.py
  tests/providers/vercel/services/project/project_directory_listing_disabled/__init__.py
  tests/providers/vercel/services/project/project_directory_listing_disabled/project_directory_listing_disabled_test.py
  tests/providers/vercel/services/project/project_environment_no_overly_broad_target/__init__.py
  tests/providers/vercel/services/project/project_environment_no_overly_broad_target/project_environment_no_overly_broad_target_test.py
  tests/providers/vercel/services/project/project_environment_no_secrets_in_plain_type/__init__.py
  tests/providers/vercel/services/project/project_environment_no_secrets_in_plain_type/project_environment_no_secrets_in_plain_type_test.py
  tests/providers/vercel/services/project/project_environment_production_vars_not_in_preview/__init__.py
  tests/providers/vercel/services/project/project_environment_production_vars_not_in_preview/project_environment_production_vars_not_in_preview_test.py
  tests/providers/vercel/services/project/project_git_fork_protection_enabled/__init__.py
  tests/providers/vercel/services/project/project_git_fork_protection_enabled/project_git_fork_protection_enabled_test.py
  tests/providers/vercel/services/project/project_password_protection_enabled/__init__.py
  tests/providers/vercel/services/project/project_password_protection_enabled/project_password_protection_enabled_test.py
  tests/providers/vercel/services/project/project_production_deployment_protection_enabled/__init__.py
  tests/providers/vercel/services/project/project_production_deployment_protection_enabled/project_production_deployment_protection_enabled_test.py
  tests/providers/vercel/services/project/project_skew_protection_enabled/__init__.py
  tests/providers/vercel/services/project/project_skew_protection_enabled/project_skew_protection_enabled_test.py
  tests/providers/vercel/services/security/security_custom_rules_configured/__init__.py
  tests/providers/vercel/services/security/security_custom_rules_configured/security_custom_rules_configured_test.py
  tests/providers/vercel/services/security/security_ip_blocking_rules_configured/__init__.py
  tests/providers/vercel/services/security/security_ip_blocking_rules_configured/security_ip_blocking_rules_configured_test.py
  tests/providers/vercel/services/security/security_rate_limiting_configured/__init__.py
  tests/providers/vercel/services/security/security_rate_limiting_configured/security_rate_limiting_configured_test.py
  tests/providers/vercel/services/team/team_directory_sync_enabled/__init__.py
  tests/providers/vercel/services/team/team_directory_sync_enabled/team_directory_sync_enabled_test.py
  tests/providers/vercel/services/team/team_member_no_stale_access/__init__.py
  tests/providers/vercel/services/team/team_member_no_stale_access/team_member_no_stale_access_test.py
  tests/providers/vercel/services/team/team_no_stale_invitations/__init__.py
  tests/providers/vercel/services/team/team_no_stale_invitations/team_no_stale_invitations_test.py
  tests/providers/vercel/services/team/team_saml_sso_enforced/__init__.py
  tests/providers/vercel/services/team/team_saml_sso_enforced/team_saml_sso_enforced_test.py
Due: none

feat(vercel): add example mutelist
  prowler/config/vercel_mutelist_example.yaml
Due: prowler

chore: add vercel to outputs and to html
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/outputs.py
Due: prowler

revert(sdk): undo iac provider metadata workaround
  prowler/providers/iac/iac_provider.py
  tests/providers/iac/iac_provider_test.py
Due: prowler

chore: remove cli authentication flags
  prowler/providers/common/provider.py
  prowler/providers/vercel/exceptions/exceptions.py
  prowler/providers/vercel/lib/arguments/arguments.py
  prowler/providers/vercel/vercel_provider.py
  tests/providers/vercel/vercel_provider_test.py
Due: prowler

docs(sdk): add changelog entry for CheckMetadata validator bypass
  prowler/CHANGELOG.md
Due: prowler

fix: remove init from tests files
  tests/providers/vercel/services/authentication/authentication_no_stale_tokens/__init__.py
  tests/providers/vercel/services/deployment/deployment_production_uses_stable_target/__init__.py
  tests/providers/vercel/services/domain/domain_dns_properly_configured/__init__.py
  tests/providers/vercel/services/domain/domain_no_wildcard_dns_exposure/__init__.py
  tests/providers/vercel/services/domain/domain_verified/__init__.py
  tests/providers/vercel/services/project/project_directory_listing_disabled/__init__.py
  tests/providers/vercel/services/project/project_environment_no_overly_broad_target/__init__.py
  tests/providers/vercel/services/project/project_environment_no_secrets_in_plain_type/__init__.py
  tests/providers/vercel/services/project/project_environment_production_vars_not_in_preview/__init__.py
  tests/providers/vercel/services/project/project_git_fork_protection_enabled/__init__.py
  tests/providers/vercel/services/project/project_password_protection_enabled/__init__.py
  tests/providers/vercel/services/project/project_production_deployment_protection_enabled/__init__.py
  tests/providers/vercel/services/project/project_skew_protection_enabled/__init__.py
  tests/providers/vercel/services/security/security_custom_rules_configured/__init__.py
  tests/providers/vercel/services/security/security_ip_blocking_rules_configured/__init__.py
  tests/providers/vercel/services/security/security_rate_limiting_configured/__init__.py
  tests/providers/vercel/services/team/team_directory_sync_enabled/__init__.py
  tests/providers/vercel/services/team/team_member_no_stale_access/__init__.py
  tests/providers/vercel/services/team/team_no_stale_invitations/__init__.py
  tests/providers/vercel/services/team/team_saml_sso_enforced/__init__.py
Due: none

refactor(ui): extract skill prefix to shared constant
  ui/components/lighthouse/chat-utils.ts
  ui/lib/lighthouse/analyst-stream.ts
  ui/lib/lighthouse/constants.ts
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
