Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore: remove new test init files
  mcp_server/tests/__init__.py
  tests/config/schema/__init__.py
  tests/dashboard/__init__.py
  tests/dashboard/compliance/__init__.py
  tests/dashboard/pages/__init__.py
  tests/lib/outputs/compliance/asd_essential_eight/__init__.py
  tests/lib/outputs/compliance/c5/__init__.py
  tests/lib/outputs/compliance/ccc/__init__.py
  tests/lib/outputs/compliance/kisa_ismsp/__init__.py
  tests/lib/outputs/compliance/mitre_attack/__init__.py
  tests/lib/outputs/compliance/okta_idaas_stig/__init__.py
  tests/lib/outputs/compliance/prowler_threatscore/__init__.py
  tests/lib/outputs/compliance/universal/__init__.py
  tests/providers/aws/services/iam/iam_role_access_not_stale_to_bedrock/__init__.py
  tests/providers/aws/services/iam/iam_user_access_not_stale_to_bedrock/__init__.py
  tests/providers/aws/services/stepfunctions/stepfunctions_statemachine_no_secrets_in_definition/__init__.py
  tests/providers/aws/services/waf/waf_regional_webacl_logging_enabled/__init__.py
  tests/providers/external/__init__.py
  tests/providers/gcp/services/cloudfunction/__init__.py
  tests/providers/gcp/services/cloudfunction/cloudfunction_function_inside_vpc/__init__.py
  tests/providers/gcp/services/cloudfunction/cloudfunction_function_not_publicly_accessible/__init__.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_cmek_encryption_enabled/__init__.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/__init__.py
  tests/providers/gcp/services/secretmanager/__init__.py
  tests/providers/gcp/services/secretmanager/secretmanager_secret_not_publicly_accessible/__init__.py
  tests/providers/gcp/services/secretmanager/secretmanager_secret_rotation_enabled/__init__.py
Due: none

fix(api): preflight attack paths graph databases
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/cypher_sanitizer.py
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/tests/test_attack_paths_database.py
  api/src/backend/api/tests/test_cypher_sanitizer.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

feat(sdk): limit selected high-volume AWS resource analysis (#11228)
  docs/user-guide/cli/tutorials/configuration_file.mdx
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/config/schema/aws.py
  prowler/lib/resource_limit.py
  prowler/providers/aws/services/awslambda/awslambda_service.py
  prowler/providers/aws/services/backup/backup_service.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  prowler/providers/aws/services/codeartifact/codeartifact_service.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled.py
  tests/config/schema/aws_schema_test.py
  tests/lib/resource_limit_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
  tests/providers/aws/services/backup/backup_service_test.py
  tests/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_test.py
  tests/providers/aws/services/codeartifact/codeartifact_service_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled_test.py
Due: prowler

fix: ignore virtualenvs in test init guard
  scripts/check_test_init_files.py
  tests/lib/check_test_init_files_test.py
Due: none

chore(revision): add missing changes
  prowler/compliance/cyber_essentials_3.3.json
  ui/lib/compliance/cyber-essentials.test.ts
Due: prowler

fix(api): preflight attack paths graph databases (#11743)
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/cypher_sanitizer.py
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/tests/test_attack_paths_database.py
  api/src/backend/api/tests/test_cypher_sanitizer.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(ci): address UI E2E label gate review
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

ci(workflows): allowlist nodejs.org and Iconify endpoints in UI tests harden-runner
  .github/workflows/ui-tests.yml
Due: none

fix(ui): align Lighthouse business context limit
  ui/app/(prowler)/lighthouse/_components/config/business-context-form.test.tsx
  ui/app/(prowler)/lighthouse/_components/config/business-context-form.tsx
  ui/app/(prowler)/lighthouse/_components/config/lighthouse-v2-config-page.tsx
  ui/app/(prowler)/lighthouse/_lib/config.ts
Due: none

fix(ui): recover Lighthouse chat stream state
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.tsx
  ui/app/(prowler)/lighthouse/_lib/event-reducer.test.ts
  ui/app/(prowler)/lighthouse/_lib/event-reducer.ts
  ui/app/(prowler)/lighthouse/page.tsx
Due: none

fix(ui): harden Lighthouse chat UI
  ui/app/(prowler)/lighthouse/_components/ai-elements/chain-of-thought.tsx
  ui/app/(prowler)/lighthouse/_components/ai-elements/conversation.tsx
  ui/app/(prowler)/lighthouse/_components/chat/composer.tsx
  ui/app/(prowler)/lighthouse/_components/navigation/lighthouse-v2-sidebar-chat.tsx
  ui/app/(prowler)/lighthouse/_lib/messages.ts
  ui/app/(prowler)/lighthouse/settings/page.tsx
  ui/components/lighthouse-v1/ai-elements/conversation.tsx
  ui/lib/markdown.ts
Due: none

refactor(ui): move sidebar navigation mode toggle
  ui/components/sidebar/navigation-mode-toggle.tsx
  ui/components/ui/sidebar/menu.test.tsx
  ui/components/ui/sidebar/menu.tsx
Due: none

feat(ui): add cross-compliance provider view
  ui/actions/compliances/compliances.ts
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-accordion/client-accordion-content.test.ts
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
  ui/components/compliance/compliance-accordion/compliance-accordion-requeriment-title.tsx
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/components/compliance/compliance-page-tabs.shared.ts
  ui/components/compliance/compliance-page-tabs.test.tsx
  ui/components/compliance/compliance-page-tabs.tsx
  ui/components/compliance/cross-provider/cross-provider-card.test.tsx
  ui/components/compliance/cross-provider/cross-provider-card.tsx
  ui/components/compliance/cross-provider/cross-provider-detail-client.tsx
  ui/components/compliance/cross-provider/cross-provider-detail.tsx
  ui/components/compliance/cross-provider/cross-provider-domain-title.tsx
  ui/components/compliance/cross-provider/cross-provider-explorer-card.tsx
  ui/components/compliance/cross-provider/cross-provider-grid.tsx
  ui/components/compliance/cross-provider/cross-provider-header.tsx
  ui/components/compliance/cross-provider/index.ts
  ui/components/compliance/cross-provider/provider-coverage-panel.tsx
  ui/components/compliance/cross-provider/score-donut.tsx
  ui/components/compliance/cross-provider/top-failing-domains-panel.tsx
  ui/components/compliance/index.ts
  ui/components/shadcn/accordion.tsx
  ui/components/shadcn/index.ts
  ui/dependency-log.json
  ui/lib/compliance/cross-provider-adapter.test.ts
  ui/lib/compliance/cross-provider-adapter.ts
  ui/lib/compliance/cross-provider-insights.test.ts
  ui/lib/compliance/cross-provider-insights.ts
  ui/lib/compliance/csa.tsx
  ui/lib/compliance/universal-frameworks.sync.test.ts
  ui/lib/compliance/universal-frameworks.ts
  ui/lib/providers/provider-display.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/styles/globals.css
  ui/types/compliance.ts
Due: none

feat(ui): show OpenAI model without selector
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.tsx
Due: none

chore(api): opt out of PowerShell telemetry in the API image
  api/Dockerfile
Due: api

docs(api): add changelog entry for PowerShell telemetry opt-out
  api/CHANGELOG.md
Due: api

ci(workflows): allowlist nodejs.org and Iconify endpoints in UI tests harden-runner (#11744)
  .github/workflows/ui-tests.yml
Due: none

feat(ui): add AWS onboarding quick prompt
  ui/app/(prowler)/lighthouse/_components/chat/empty-state.tsx
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.test.tsx
Due: none

fix(ci): harden pull_request_target workflows (persist-credentials + toJson)
  .github/workflows/pr-conflict-checker.yml
  .github/workflows/pr-merged.yml
Due: none

fix(api): resolve multi-valued SAML userType claim by highest-privilege role
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(ci): harden pull_request_target workflows (persist-credentials + toJson) (#11747)
  .github/workflows/pr-conflict-checker.yml
  .github/workflows/pr-merged.yml
Due: none

ci(workflows): push SDK image to Public ECR via OIDC
  .github/workflows/sdk-container-build-push.yml
Due: none

ci(workflows): push SDK image to Public ECR via OIDC (#11749)
  .github/workflows/sdk-container-build-push.yml
Due: none

fix(github): skip archived repos in repository_has_codeowners_file check
  prowler/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file.py
  tests/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file_test.py
Due: prowler

chore(api): opt out of PowerShell telemetry in the API image (#11746)
  api/CHANGELOG.md
  api/Dockerfile
Due: api

feat(awslambda): add secrets_ignore_files to skip false-positive files (e.g. *.deps.json) in no-secrets-in-code check (#11222)
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/config/schema/aws.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  tests/config/schema/aws_schema_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
Due: prowler

chore(revision): add missing changes
  ui/__tests__/mocks/next-font-google.ts
  ui/app/(prowler)/scans/config/_components/scan-configuration-editor.tsx
  ui/components/shadcn/modal/modal.tsx
  ui/components/shadcn/textarea/textarea.tsx
  ui/vitest.browser.setup.ts
  ui/vitest.config.ts
  ui/vitest.setup.ts
Due: none

feat(okta): add configurable API request throttling and rate-limit retries (#11702)
  docs/docs.json
  docs/user-guide/providers/okta/retry-configuration.mdx
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/config/schema/okta.py
  prowler/providers/common/provider.py
  prowler/providers/okta/lib/arguments/arguments.py
  prowler/providers/okta/lib/service/rate_limiter.py
  prowler/providers/okta/lib/service/service.py
  prowler/providers/okta/okta_provider.py
  tests/config/schema/other_providers_schema_test.py
  tests/providers/okta/lib/arguments/okta_arguments_test.py
  tests/providers/okta/lib/service/okta_service_test.py
  tests/providers/okta/lib/service/rate_limiter_test.py
  tests/providers/okta/okta_fixtures.py
  tests/providers/okta/okta_provider_test.py
Due: prowler

modify policy and network
  prowler/providers/azure/services/network/network_service.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/azure/services/databricks/databricks_service_test.py
  tests/providers/azure/services/network/network_service_test.py
  tests/providers/azure/services/policy/policy_service_test.py
Due: prowler

docs(scan-config): add info about attaching scan config
  docs/developer-guide/configurable-checks.mdx
  docs/user-guide/tutorials/prowler-app-scan-configuration.mdx
Due: none

feat(m365): add Entra Conditional Access group management restriction (#11342)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_conditional_access_policy_groups_management_restricted/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_groups_management_restricted/entra_conditional_access_policy_groups_management_restricted.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_groups_management_restricted/entra_conditional_access_policy_groups_management_restricted.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_groups_management_restricted/entra_conditional_access_policy_groups_management_restricted_test.py
Due: prowler

docs(changelog): add entry for skipping archived repos in CODEOWNERS check
  prowler/CHANGELOG.md
Due: prowler

refactor(ui): restore shared select and button primitives
  ui/components/compliance/compliance-header/scan-selector.tsx
  ui/components/findings/table/column-finding-groups.test.tsx
  ui/components/shadcn/button/button.tsx
  ui/components/shadcn/select/multiselect.test.tsx
  ui/components/shadcn/select/multiselect.tsx
  ui/components/shadcn/select/select.test.tsx
  ui/components/shadcn/select/select.tsx
Due: none

fix(ui): align finding triage controls with shared primitives
  ui/components/findings/table/finding-note-modal.test.tsx
  ui/components/findings/table/finding-note-modal.tsx
  ui/components/findings/table/finding-triage-cells.test.tsx
  ui/components/findings/table/finding-triage-cells.tsx
  ui/components/findings/table/finding-triage-status-control.tsx
Due: none

refactor(ui): add finding notes to row actions
  ui/components/findings/table/data-table-row-actions.test.tsx
  ui/components/findings/table/data-table-row-actions.tsx
Due: none

refactor(ui): align finding action columns
  ui/components/findings/table/column-finding-resources.test.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/column-standalone-findings.test.tsx
  ui/components/findings/table/column-standalone-findings.tsx
Due: none

fix(ui): keep expanded finding resources scrollable
  ui/components/findings/table/inline-resource-container.test.ts
  ui/components/findings/table/inline-resource-container.tsx
Due: none

fix(github): skip archived repos in CODEOWNERS check (#11735)
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file.py
  tests/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file_test.py
Due: prowler

fix(ui): refine finding triage table presentation
  ui/components/findings/table/column-finding-resources.test.tsx
  ui/components/findings/table/column-standalone-findings.test.tsx
  ui/components/findings/table/data-table-row-actions.test.tsx
  ui/components/findings/table/finding-note-modal.test.tsx
  ui/components/findings/table/finding-note-modal.tsx
  ui/components/findings/table/finding-triage-cells.test.tsx
  ui/components/findings/table/finding-triage-cells.tsx
  ui/components/findings/table/finding-triage-status-control.tsx
  ui/components/findings/table/inline-resource-container.test.ts
  ui/components/findings/table/inline-resource-container.tsx
  ui/components/shadcn/select/select.test.tsx
  ui/components/shadcn/select/select.tsx
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
