Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(iam): add GitHub OIDC subject restriction check (#12845)
  prowler/providers/aws/services/iam/iam_role_github_oidc_trust_subject_restricted/iam_role_github_oidc_trust_subject_restricted.metadata.json
Due: prowler

feat(iam): add GitHub OIDC subject restriction check (#12845)
  tests/providers/aws/services/iam/iam_role_github_oidc_trust_subject_restricted/iam_role_github_oidc_trust_subject_restricted_test.py
Due: none

fix(ui): keep a retried AWS connect in step with its account
  ui/components/providers/wizard/steps/aws/connect-aws-account.test.ts
  ui/components/providers/wizard/steps/aws/connect-aws-account.ts
Due: none

feat(ui): keep the AWS connect draft while the step is away
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
  ui/store/provider-wizard/store.ts
  ui/types/provider-wizard.ts
Due: none

test(ui): cover the access-keys account refusal on its field
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
Due: none

refactor(ui): serve one IAM role helper to every AWS credentials flow
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
  ui/components/providers/wizard/steps/aws/aws-role-quick-deploy.tsx
  ui/components/providers/workflow/credentials-role-helper.test.tsx
  ui/components/providers/workflow/credentials-role-helper.tsx
Due: none

fix(ui): return AWS to its one-step form from the connection test
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
Due: none

fix(ui): scope the first-run marker per tenant
  ui/app/(prowler)/layout.tsx
  ui/components/onboarding/__tests__/onboarding-gate.test.tsx
  ui/components/onboarding/onboarding-gate.tsx
  ui/lib/onboarding/README.md
  ui/lib/onboarding/first-run-marker.ts
Due: none

chore(ui): refresh the tour anchor comment and the AWS changelog fragment
  ui/changelog.d/aws-one-step-connect.changed.md
  ui/lib/tours/add-provider.tour.ts
Due: none

fix(iam): address CodeRabbit review feedback on OIDC trust check (#12845)
  prowler/providers/aws/services/iam/iam_role_github_oidc_trust_subject_restricted/iam_role_github_oidc_trust_subject_restricted.py
Due: prowler

fix(iam): address CodeRabbit review feedback on OIDC trust check (#12845)
  prowler/providers/aws/services/iam/iam_role_github_oidc_trust_subject_restricted/iam_role_github_oidc_trust_subject_restricted.metadata.json
Due: prowler

fix(iam): address CodeRabbit review feedback on OIDC trust check (#12845)
  tests/providers/aws/services/iam/iam_role_github_oidc_trust_subject_restricted/iam_role_github_oidc_trust_subject_restricted_test.py
Due: none

docs(iam): update remediation CLI to use policy file and preserve existing statements
  prowler/providers/aws/services/iam/iam_role_github_oidc_trust_subject_restricted/iam_role_github_oidc_trust_subject_restricted.metadata.json
Due: prowler

fix(api): sign report download URLs with SigV4 when the bucket region is set (#12746)
  .env
  api/changelog.d/s3-report-download-sigv4.fixed.md
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tests/test_export.py
Due: api

fix(ui): let an anchored tour start cancel a pending auto-open
  ui/lib/tours/__tests__/use-driver-tour.lifecycle.test.tsx
  ui/lib/tours/use-driver-tour.ts
Due: none

fix(ui): report an AWS connect response that carries no id
  ui/components/providers/wizard/steps/aws/connect-aws-account.test.ts
  ui/components/providers/wizard/steps/aws/connect-aws-account.ts
Due: none

fix(ui): keep the bare first-run marker as a browser-wide opt-out
  ui/components/onboarding/__tests__/onboarding-gate.test.tsx
  ui/lib/onboarding/README.md
  ui/lib/onboarding/first-run-marker.ts
  ui/tests/sign-in-base/sign-in-base-page.ts
Due: none

fix(ui): keep Connect account enabled once the AWS keys form is valid
  ui/__tests__/msw/handlers/organizations.ts
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.integration.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
Due: none

test(ui): keep the first-run redirect out of the e2e auth setups
  ui/tests/setups/manage-registry.auth.setup.ts
  ui/tests/sign-in-base/sign-in-base-page.ts
Due: none

fix(ui): wait for the full provider connection check before reporting a result
  ui/changelog.d/provider-connection-check-wait.fixed.md
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/org-account-selection.utils.test.ts
  ui/components/providers/organizations/org-account-selection.utils.ts
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/lib/helper.test.ts
  ui/lib/helper.ts
  ui/lib/provider-helpers.test.ts
  ui/lib/provider-helpers.ts
Due: none

fix(aws): reuse the STS region that answered and add PROWLER_AWS_BOTO3_RETRIES_MAX_ATTEMPTS
  docs/user-guide/providers/aws/boto3-configuration.mdx
  prowler/changelog.d/aws-retries-max-attempts-env.added.md
  prowler/changelog.d/aws-sts-reuse-answering-region.fixed.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/config.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

feat(api): add an explicit endpoint for S3-compatible scan output storage
  .env
  api/changelog.d/s3-output-internal-endpoint.added.md
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tests/test_export.py
Due: api

fix(ui): read the persisted sidebar mode without a hydration mismatch
  ui/changelog.d/sidebar-mode-hydration.fixed.md
  ui/components/layout/app-sidebar/app-sidebar-content.tsx
  ui/components/layout/app-sidebar/app-sidebar-mode-store.test.ts
  ui/components/layout/app-sidebar/app-sidebar-mode-store.ts
  ui/components/layout/app-sidebar/app-sidebar-mode-toggle.tsx
Due: none

fix(sdk): report MANUAL when S3 bucket ACL or policy is unreadable
  prowler/changelog.d/s3-acl-policy-retrieval-manual.fixed.md
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.py
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl.py
  prowler/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl.py
  prowler/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_test.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Due: prowler

docs(aws): describe the scope of PROWLER_AWS_BOTO3_RETRIES_MAX_ATTEMPTS
  docs/user-guide/providers/aws/boto3-configuration.mdx
  prowler/changelog.d/aws-sts-reuse-answering-region.fixed.md
Due: prowler

fix(ui): report a still-running connection check as pending, not failed
  ui/components/providers/forms/delete-organization-form.tsx
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/org-account-selection.utils.test.ts
  ui/components/providers/organizations/org-account-selection.utils.ts
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/workflow/forms/test-connection-form.test.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/lib/provider-helpers.test.ts
  ui/lib/provider-helpers.ts
  ui/types/providers.ts
Due: none

fix(api): do not fall back to real AWS when an output endpoint is set
  .env
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tests/test_export.py
Due: api

fix(api): do not fall back to real AWS when an output endpoint is set
  api/src/backend/tasks/tests/test_export.py
Due: api

feat(ui): add paid plan variant to the cloud upgrade modal
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
  ui/lib/cloud-upgrade.ts
  ui/store/cloud-upgrade/store.ts
  ui/types/cloud-upgrade.ts
Due: none

feat(ui): open the paid plan upgrade from report downloads
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/_components/cross-account-detail.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-detail.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-pdf-button.test.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-pdf-button.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-download-container.test.tsx
  ui/components/compliance/compliance-download-container.tsx
  ui/components/compliance/compliance-overview-grid.tsx
  ui/components/compliance/threatscore-badge.test.tsx
  ui/components/compliance/threatscore-badge.tsx
  ui/components/scans/table/scan-jobs-columns.tsx
  ui/components/scans/table/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
  ui/components/scans/table/scan-jobs-table.tsx
  ui/hooks/use-report-download.ts
Due: none

feat(ui): guard report downloads behind a download access seam
  ui/actions/scans/scans.test.ts
  ui/actions/scans/scans.ts
  ui/app/(prowler)/compliance/_actions/cross-provider.test.ts
  ui/app/(prowler)/compliance/_lib/aggregated-compliance-actions.ts
  ui/app/api/scans/[scanId]/report/route.test.ts
  ui/app/api/scans/[scanId]/report/route.ts
  ui/lib/report-download-access.ts
Due: none

refactor(ui): parallelize the report lock lookup on compliance detail
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
Due: none

docs(ui): drop the issue-style reference from the changelog fragment
  ui/changelog.d/sidebar-mode-hydration.fixed.md
Due: none

fix(ui): compare the stored connection check instead of the browser clock
  ui/actions/providers/providers.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/org-account-selection.utils.ts
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/workflow/forms/test-connection-form.test.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/shadcn/tree-view/tree-status-icon.tsx
  ui/components/shadcn/tree-view/tree-status-indicator.tsx
  ui/lib/provider-helpers.test.ts
  ui/lib/provider-helpers.ts
  ui/types/providers.ts
  ui/types/tasks.ts
  ui/types/tree.ts
Due: none

chore(release): Bump versions to v5.43.1 (#12859)
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

fix(ui): read the persisted sidebar mode without a hydration mismatch (#12873)
  ui/changelog.d/sidebar-mode-hydration.fixed.md
  ui/components/layout/app-sidebar/app-sidebar-content.tsx
  ui/components/layout/app-sidebar/app-sidebar-mode-store.test.ts
  ui/components/layout/app-sidebar/app-sidebar-mode-store.ts
  ui/components/layout/app-sidebar/app-sidebar-mode-toggle.tsx
Due: none

feat(ui): open the paid plan upgrade modal from report downloads (#12875)
  ui/actions/scans/scans.test.ts
  ui/actions/scans/scans.ts
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/_actions/cross-provider.test.ts
  ui/app/(prowler)/compliance/_components/cross-account-detail.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-detail.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-pdf-button.test.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-pdf-button.tsx
  ui/app/(prowler)/compliance/_lib/aggregated-compliance-actions.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/app/api/scans/[scanId]/report/route.test.ts
  ui/app/api/scans/[scanId]/report/route.ts
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-download-container.test.tsx
  ui/components/compliance/compliance-download-container.tsx
  ui/components/compliance/compliance-overview-grid.tsx
  ui/components/compliance/threatscore-badge.test.tsx
  ui/components/compliance/threatscore-badge.tsx
  ui/components/scans/table/scan-jobs-columns.tsx
  ui/components/scans/table/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
  ui/components/scans/table/scan-jobs-table.tsx
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
  ui/hooks/use-report-download.ts
  ui/lib/cloud-upgrade.ts
  ui/lib/report-download-access.ts
  ui/store/cloud-upgrade/store.ts
  ui/types/cloud-upgrade.ts
Due: none

chore(release): Bump versions to v5.44.0 (#12860)
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  docs/getting-started/installation/prowler-app.mdx
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

feat(ui): connect and test AWS accounts in one step
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.integration.test.tsx
  ui/changelog.d/aws-one-step-connect.changed.md
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
  ui/components/providers/wizard/steps/aws/connect-aws-account.test.ts
  ui/components/providers/wizard/steps/aws/connect-aws-account.ts
  ui/components/providers/wizard/steps/connect-step.tsx
  ui/components/providers/wizard/wizard-stepper.tsx
Due: none
