Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix: typo
  docs/tutorials/prowler-app-s3-integration.md
Due: none

chore: add TODO
  prowler/lib/outputs/finding.py
Due: prowler

chore(regions_update): Changes in regions for AWS services (#8437)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(github): handle GithubAppIdentityInfo in output generation (#8423)
  prowler/CHANGELOG.md
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/html/html_test.py
Due: prowler

feat(gcp): add retry to avoid quota limit errors (#8412)
  docs/developer-guide/gcp-details.md
  docs/index.md
  docs/tutorials/gcp/retry-configuration.md
  mkdocs.yml
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  prowler/providers/gcp/config.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/arguments/arguments.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/apikeys/apikeys_service.py
  prowler/providers/gcp/services/bigquery/bigquery_service.py
  prowler/providers/gcp/services/cloudresourcemanager/cloudresourcemanager_service.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
  prowler/providers/gcp/services/cloudstorage/cloudstorage_service.py
  prowler/providers/gcp/services/compute/compute_service.py
  prowler/providers/gcp/services/dataproc/dataproc_service.py
  prowler/providers/gcp/services/dns/dns_service.py
  prowler/providers/gcp/services/gke/gke_service.py
  prowler/providers/gcp/services/iam/iam_service.py
  prowler/providers/gcp/services/kms/kms_service.py
  prowler/providers/gcp/services/logging/logging_service.py
  prowler/providers/gcp/services/monitoring/monitoring_service.py
  prowler/providers/gcp/services/serviceusage/serviceusage_service.py
  tests/lib/cli/parser_test.py
  tests/providers/gcp/gcp_provider_test.py
Due: prowler

chore: typos
  docs/tutorials/prowler-app-s3-integration.md
Due: none

feat(yaml): add default muted findings configuration and update placeholder in form
  ui/components/providers/forms/muted-findings-config-form.tsx
  ui/lib/yaml.ts
Due: none

chore: CHANGELOG.md updated
  ui/CHANGELOG.md
Due: none

fix(s3): Use HeadBucket instead of GetBucketLocation
  permissions/templates/cloudformation/prowler-scan-role.yml
  permissions/templates/terraform/s3-integration/main.tf
  prowler/providers/aws/lib/s3/exceptions/exceptions.py
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/s3_test.py
Due: prowler

feat(ui): add a default Mutelist placeholder (#8455)
  ui/CHANGELOG.md
  ui/components/providers/forms/muted-findings-config-form.tsx
  ui/lib/yaml.ts
Due: none

chore: changelog
  prowler/CHANGELOG.md
Due: prowler

chore(changelog): Add PR #
  prowler/CHANGELOG.md
Due: prowler

fix: m365 requirements needed permissions link
  docs/getting-started/requirements.md
Due: none

fix(s3): Use HeadBucket instead of GetBucketLocation
  docs/tutorials/prowler-app-s3-integration.md
Due: none

fix: missing parenthesis
  prowler/providers/aws/lib/s3/s3.py
Due: prowler

Revert "fix: m365 requirements needed permissions link"
  docs/getting-started/requirements.md
Due: none

fix: link
  docs/getting-started/requirements.md
Due: none

fix(docs): m365 requirements `Needed permissions` link (#8457)
  docs/getting-started/requirements.md
Due: none

chore(s3): remove trailing 's' from docs helper
  ui/components/integrations/s3/s3-integration-form.tsx
Due: none

chore(s3): remove trailing 's' from docs helper (#8458)
  ui/components/integrations/s3/s3-integration-form.tsx
Due: none

fix(s3): handle S3 API not found
  prowler/providers/aws/lib/s3/s3.py
Due: prowler

fix(s3): Use HeadBucket instead of GetBucketLocation (#8456)
  permissions/templates/cloudformation/prowler-scan-role.yml
  permissions/templates/terraform/s3-integration/main.tf
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/s3/exceptions/exceptions.py
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/s3_test.py
Due: prowler

WIP
  ui/app/(prowler)/layout.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/components/providers/index.ts
  ui/components/providers/muted-findings-config-button.tsx
  ui/hooks/index.ts
  ui/hooks/use-has-providers.ts
  ui/store/ui/ui-store.ts
Due: none

fix(docs): terraform deployment
  docs/tutorials/prowler-app-s3-integration.md
  permissions/templates/terraform/README.md
  permissions/templates/terraform/main.tf
  permissions/templates/terraform/s3-integration/main.tf
  permissions/templates/terraform/s3-integration/variables.tf
  permissions/templates/terraform/terraform.tfvars.example
  permissions/templates/terraform/variables.tf
Due: none

fix: typo
  permissions/templates/terraform/terraform.tfvars
Due: none

fix: style
  docs/tutorials/prowler-app-s3-integration.md
Due: none

feat: update AWS role credentials form to set default credentials type based on environment and enhance UI with recommended chips
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
Due: none

chore: chip removed in self hosted env
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
Due: none

feat: a role is mandatory if cloud && default credentials
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
Due: none

fix: move recommendation generator to supervisor agent
  ui/app/(prowler)/page.tsx
  ui/components/lighthouse/banner.tsx
  ui/lib/lighthouse/cache.ts
  ui/lib/lighthouse/recommendations.ts
  ui/lib/lighthouse/tools/overview.ts
Due: none

feat(ui): add SAML documentation link in config modal
  ui/components/integrations/saml/saml-config-form.tsx
Due: none

docs: changelog update
  ui/CHANGELOG.md
Due: none

chore: update help text in modal
  ui/components/integrations/saml/saml-config-form.tsx
Due: none

docs: update changelog
  ui/CHANGELOG.md
Due: none

chore: move fixes from version 5.9.3 to 5.10
  prowler/CHANGELOG.md
Due: prowler

fix: changelog check update messages
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore: update changelog
  api/CHANGELOG.md
  api/pyproject.toml
Due: api

test: without changelog
  api/pyproject.toml
Due: api

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
