Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

style(ui): fix lint and formatting in wizard components
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
  ui/components/providers/wizard/steps/launch-step.test.tsx
  ui/components/providers/wizard/steps/launch-step.tsx
  ui/components/providers/wizard/steps/test-connection-step.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
Due: none

feat(m365): enhance entra_legacy_authentication_blocked security check
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked.metadata.json
  prowler/providers/m365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked.py
  tests/providers/m365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked_test.py
Due: prowler

feat(m365): add entra_policy_requires_compliant_device_or_mfa security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_policy_requires_compliant_device_or_mfa/__init__.py
  prowler/providers/m365/services/entra/entra_policy_requires_compliant_device_or_mfa/entra_policy_requires_compliant_device_or_mfa.metadata.json
  prowler/providers/m365/services/entra/entra_policy_requires_compliant_device_or_mfa/entra_policy_requires_compliant_device_or_mfa.py
  tests/providers/m365/services/entra/entra_policy_requires_compliant_device_or_mfa/entra_policy_requires_compliant_device_or_mfa_test.py
Due: prowler

fix(vercel): remove __init__.py from test directories
  tests/providers/vercel/__init__.py
  tests/providers/vercel/lib/mutelist/__init__.py
  tests/providers/vercel/services/authentication/authentication_token_not_expired/__init__.py
  tests/providers/vercel/services/deployment/deployment_preview_not_publicly_accessible/__init__.py
  tests/providers/vercel/services/domain/domain_ssl_certificate_valid/__init__.py
  tests/providers/vercel/services/project/environment_sensitive_vars_encrypted/__init__.py
  tests/providers/vercel/services/project/project_auto_expose_system_env_disabled/__init__.py
  tests/providers/vercel/services/project/project_deployment_protection_enabled/__init__.py
  tests/providers/vercel/services/security/security_managed_rulesets_enabled/__init__.py
  tests/providers/vercel/services/security/security_waf_enabled/__init__.py
  tests/providers/vercel/services/team/team_member_role_least_privilege/__init__.py
  tests/providers/vercel/services/team/team_saml_sso_enabled/__init__.py
Due: none

fix(ci): harden GitHub Actions workflows against expression injection
  .github/actions/setup-python-poetry/action.yml
  .github/actions/slack-notification/action.yml
  .github/actions/trivy-scan/action.yml
  .github/dependabot.yml
  .github/workflows/api-bump-version.yml
  .github/workflows/api-code-quality.yml
  .github/workflows/api-codeql.yml
  .github/workflows/api-container-build-push.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/api-security.yml
  .github/workflows/api-tests.yml
  .github/workflows/create-backport-label.yml
  .github/workflows/docs-bump-version.yml
  .github/workflows/find-secrets.yml
  .github/workflows/mcp-container-build-push.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/pr-check-changelog.yml
  .github/workflows/pr-conflict-checker.yml
  .github/workflows/pr-merged.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sdk-bump-version.yml
  .github/workflows/sdk-check-duplicate-test-names.yml
  .github/workflows/sdk-code-quality.yml
  .github/workflows/sdk-codeql.yml
  .github/workflows/sdk-container-build-push.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/sdk-pypi-release.yml
  .github/workflows/sdk-refresh-aws-services-regions.yml
  .github/workflows/sdk-refresh-oci-regions.yml
  .github/workflows/sdk-security.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/test-impact-analysis.yml
  .github/workflows/ui-bump-version.yml
  .github/workflows/ui-codeql.yml
  .github/workflows/ui-container-build-push.yml
  .github/workflows/ui-container-checks.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .github/workflows/ui-tests.yml
Due: none

docs(changelog): add entry for CI security hardening
  prowler/CHANGELOG.md
Due: prowler

fix(ci): zizmor security improvements
  .github/actions/trivy-scan/action.yml
  .github/workflows/api-tests.yml
  .github/workflows/backport.yml
  .github/workflows/labeler.yml
  .github/workflows/mcp-container-build-push.yml
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/pr-conflict-checker.yml
  .github/workflows/pr-merged.yml
  .github/workflows/sdk-container-build-push.yml
  .github/workflows/sdk-pypi-release.yml
  .github/workflows/test-impact-analysis.yml
  .github/workflows/ui-container-build-push.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .github/workflows/ui-tests.yml
Due: none

security(ci): Add zizmor
  .github/workflows/ci-zizmor.yml
Due: none

fix(sdk): use correct ResourceGroup value in blockstorage metadata
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_metadata_sensitive_data/blockstorage_snapshot_metadata_sensitive_data.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_not_orphaned/blockstorage_snapshot_not_orphaned.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_backup_exists/blockstorage_volume_backup_exists.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_encryption_enabled/blockstorage_volume_encryption_enabled.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_metadata_sensitive_data/blockstorage_volume_metadata_sensitive_data.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_multiattach_disabled/blockstorage_volume_multiattach_disabled.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_not_unattached/blockstorage_volume_not_unattached.metadata.json
Due: prowler

fix(sdk): trim Description field to comply with 400-char metadata limit
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_multiattach_disabled/blockstorage_volume_multiattach_disabled.metadata.json
Due: prowler

chore: bump trivy action
  .github/actions/trivy-scan/action.yml
Due: none

fix(ci): zizmor security improvements (#10207)
  .github/actions/trivy-scan/action.yml
  .github/workflows/api-tests.yml
  .github/workflows/backport.yml
  .github/workflows/labeler.yml
  .github/workflows/mcp-container-build-push.yml
  .github/workflows/mcp-pypi-release.yml
  .github/workflows/pr-conflict-checker.yml
  .github/workflows/pr-merged.yml
  .github/workflows/sdk-container-build-push.yml
  .github/workflows/sdk-pypi-release.yml
  .github/workflows/test-impact-analysis.yml
  .github/workflows/ui-container-build-push.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .github/workflows/ui-tests.yml
Due: none

ci(security): Add zizmor (#10208)
  .github/actions/trivy-scan/action.yml
  .github/workflows/ci-zizmor.yml
Due: none

chore: bump Trivy to 0.69.2
  Dockerfile
  api/CHANGELOG.md
  api/Dockerfile
  prowler/CHANGELOG.md
Due: prowler, api

ci: restore persist credentials when no output is generated
  .github/workflows/api-code-quality.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/api-security.yml
  .github/workflows/api-tests.yml
  .github/workflows/ci-zizmor.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/pr-check-changelog.yml
  .github/workflows/pr-conflict-checker.yml
  .github/workflows/sdk-code-quality.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/sdk-security.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/test-impact-analysis.yml
  .github/workflows/ui-container-checks.yml
  .github/workflows/ui-tests.yml
Due: none

ci: zizmor.yml is not used
  .github/workflows/ci-zizmor.yml
Due: none

ci: restore persist credentials
  .github/workflows/pr-conflict-checker.yml
Due: none

feat(m365): add entra_authentication_method_sms_voice_disabled security check
  prowler/CHANGELOG.md
  prowler/providers/m365/services/entra/entra_authentication_method_sms_voice_disabled/__init__.py
  prowler/providers/m365/services/entra/entra_authentication_method_sms_voice_disabled/entra_authentication_method_sms_voice_disabled.metadata.json
  prowler/providers/m365/services/entra/entra_authentication_method_sms_voice_disabled/entra_authentication_method_sms_voice_disabled.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_authentication_method_sms_voice_disabled/entra_authentication_method_sms_voice_disabled_test.py
Due: prowler

ci(trivy): pin trivy-action to use Trivy v0.69.2
  .github/actions/trivy-scan/action.yml
Due: none

ci: restore persist credentials when no output is generated (#10211)
  .github/workflows/api-code-quality.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/api-security.yml
  .github/workflows/api-tests.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/pr-check-changelog.yml
  .github/workflows/sdk-code-quality.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/sdk-security.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/test-impact-analysis.yml
  .github/workflows/ui-container-checks.yml
  .github/workflows/ui-tests.yml
Due: none

chore: bump Trivy to 0.69.2 (#10210)
  .github/actions/trivy-scan/action.yml
  Dockerfile
  api/CHANGELOG.md
  api/Dockerfile
  prowler/CHANGELOG.md
Due: prowler, api

feat(m365): add entra_break_glass_users_fido2_security_key_registered security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_break_glass_users_fido2_security_key_registered/__init__.py
  prowler/providers/m365/services/entra/entra_break_glass_users_fido2_security_key_registered/entra_break_glass_users_fido2_security_key_registered.metadata.json
  prowler/providers/m365/services/entra/entra_break_glass_users_fido2_security_key_registered/entra_break_glass_users_fido2_security_key_registered.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_break_glass_users_fido2_security_key_registered/entra_break_glass_users_fido2_security_key_registered_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix: enforce cloudflare token/key format validation
  api/CHANGELOG.md
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/v1/serializers.py
  ui/CHANGELOG.md
  ui/types/formSchemas.ts
Due: api

feat(openstack): add objectstorage service with 7 checks
  prowler/providers/openstack/services/objectstorage/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_client.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_acl_not_globally_shared/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_acl_not_globally_shared/objectstorage_container_acl_not_globally_shared.metadata.json
  prowler/providers/openstack/services/objectstorage/objectstorage_container_acl_not_globally_shared/objectstorage_container_acl_not_globally_shared.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_listing_disabled/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_listing_disabled/objectstorage_container_listing_disabled.metadata.json
  prowler/providers/openstack/services/objectstorage/objectstorage_container_listing_disabled/objectstorage_container_listing_disabled.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_metadata_sensitive_data/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_metadata_sensitive_data/objectstorage_container_metadata_sensitive_data.metadata.json
  prowler/providers/openstack/services/objectstorage/objectstorage_container_metadata_sensitive_data/objectstorage_container_metadata_sensitive_data.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_public_read_acl_disabled/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_public_read_acl_disabled/objectstorage_container_public_read_acl_disabled.metadata.json
  prowler/providers/openstack/services/objectstorage/objectstorage_container_public_read_acl_disabled/objectstorage_container_public_read_acl_disabled.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_sync_not_enabled/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_sync_not_enabled/objectstorage_container_sync_not_enabled.metadata.json
  prowler/providers/openstack/services/objectstorage/objectstorage_container_sync_not_enabled/objectstorage_container_sync_not_enabled.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_versioning_enabled/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_versioning_enabled/objectstorage_container_versioning_enabled.metadata.json
  prowler/providers/openstack/services/objectstorage/objectstorage_container_versioning_enabled/objectstorage_container_versioning_enabled.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_write_acl_restricted/__init__.py
  prowler/providers/openstack/services/objectstorage/objectstorage_container_write_acl_restricted/objectstorage_container_write_acl_restricted.metadata.json
  prowler/providers/openstack/services/objectstorage/objectstorage_container_write_acl_restricted/objectstorage_container_write_acl_restricted.py
  prowler/providers/openstack/services/objectstorage/objectstorage_service.py
  tests/providers/openstack/services/objectstorage/objectstorage_container_acl_not_globally_shared/objectstorage_container_acl_not_globally_shared_test.py
  tests/providers/openstack/services/objectstorage/objectstorage_container_listing_disabled/objectstorage_container_listing_disabled_test.py
  tests/providers/openstack/services/objectstorage/objectstorage_container_metadata_sensitive_data/objectstorage_container_metadata_sensitive_data_test.py
  tests/providers/openstack/services/objectstorage/objectstorage_container_public_read_acl_disabled/objectstorage_container_public_read_acl_disabled_test.py
  tests/providers/openstack/services/objectstorage/objectstorage_container_sync_not_enabled/objectstorage_container_sync_not_enabled_test.py
  tests/providers/openstack/services/objectstorage/objectstorage_container_versioning_enabled/objectstorage_container_versioning_enabled_test.py
  tests/providers/openstack/services/objectstorage/objectstorage_container_write_acl_restricted/objectstorage_container_write_acl_restricted_test.py
  tests/providers/openstack/services/objectstorage/openstack_objectstorage_service_test.py
Due: prowler

feat(openstack): add networking service with 6 checks (#9970)
  prowler/CHANGELOG.md
  prowler/providers/openstack/lib/security_groups.py
  prowler/providers/openstack/services/networking/__init__.py
  prowler/providers/openstack/services/networking/networking_admin_state_down/__init__.py
  prowler/providers/openstack/services/networking/networking_admin_state_down/networking_admin_state_down.metadata.json
  prowler/providers/openstack/services/networking/networking_admin_state_down/networking_admin_state_down.py
  prowler/providers/openstack/services/networking/networking_client.py
  prowler/providers/openstack/services/networking/networking_port_security_disabled/__init__.py
  prowler/providers/openstack/services/networking/networking_port_security_disabled/networking_port_security_disabled.metadata.json
  prowler/providers/openstack/services/networking/networking_port_security_disabled/networking_port_security_disabled.py
  prowler/providers/openstack/services/networking/networking_security_group_allows_all_ingress_from_internet/__init__.py
  prowler/providers/openstack/services/networking/networking_security_group_allows_all_ingress_from_internet/networking_security_group_allows_all_ingress_from_internet.metadata.json
  prowler/providers/openstack/services/networking/networking_security_group_allows_all_ingress_from_internet/networking_security_group_allows_all_ingress_from_internet.py
  prowler/providers/openstack/services/networking/networking_security_group_allows_rdp_from_internet/__init__.py
  prowler/providers/openstack/services/networking/networking_security_group_allows_rdp_from_internet/networking_security_group_allows_rdp_from_internet.metadata.json
  prowler/providers/openstack/services/networking/networking_security_group_allows_rdp_from_internet/networking_security_group_allows_rdp_from_internet.py
  prowler/providers/openstack/services/networking/networking_security_group_allows_ssh_from_internet/__init__.py
  prowler/providers/openstack/services/networking/networking_security_group_allows_ssh_from_internet/networking_security_group_allows_ssh_from_internet.metadata.json
  prowler/providers/openstack/services/networking/networking_security_group_allows_ssh_from_internet/networking_security_group_allows_ssh_from_internet.py
  prowler/providers/openstack/services/networking/networking_service.py
  prowler/providers/openstack/services/networking/networking_subnet_dhcp_disabled/__init__.py
  prowler/providers/openstack/services/networking/networking_subnet_dhcp_disabled/networking_subnet_dhcp_disabled.metadata.json
  prowler/providers/openstack/services/networking/networking_subnet_dhcp_disabled/networking_subnet_dhcp_disabled.py
  tests/providers/openstack/services/networking/networking_admin_state_down/networking_admin_state_down_test.py
  tests/providers/openstack/services/networking/networking_port_security_disabled/networking_port_security_disabled_test.py
  tests/providers/openstack/services/networking/networking_security_group_allows_all_ingress_from_internet/networking_security_group_allows_all_ingress_from_internet_test.py
  tests/providers/openstack/services/networking/networking_security_group_allows_rdp_from_internet/networking_security_group_allows_rdp_from_internet_test.py
  tests/providers/openstack/services/networking/networking_security_group_allows_ssh_from_internet/networking_security_group_allows_ssh_from_internet_test.py
  tests/providers/openstack/services/networking/networking_subnet_dhcp_disabled/networking_subnet_dhcp_disabled_test.py
  tests/providers/openstack/services/networking/openstack_networking_service_test.py
Due: prowler

feat(m365): add entra_approved_client_app_required_for_mobile security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_approved_client_app_required_for_mobile/__init__.py
  prowler/providers/m365/services/entra/entra_approved_client_app_required_for_mobile/entra_approved_client_app_required_for_mobile.metadata.json
  prowler/providers/m365/services/entra/entra_approved_client_app_required_for_mobile/entra_approved_client_app_required_for_mobile.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_approved_client_app_required_for_mobile/entra_approved_client_app_required_for_mobile_test.py
Due: prowler

feat(openstack): add blockstorage service with 7 checks (#10120)
  prowler/CHANGELOG.md
  prowler/providers/openstack/services/blockstorage/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_client.py
  prowler/providers/openstack/services/blockstorage/blockstorage_service.py
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_metadata_sensitive_data/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_metadata_sensitive_data/blockstorage_snapshot_metadata_sensitive_data.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_metadata_sensitive_data/blockstorage_snapshot_metadata_sensitive_data.py
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_not_orphaned/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_not_orphaned/blockstorage_snapshot_not_orphaned.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_snapshot_not_orphaned/blockstorage_snapshot_not_orphaned.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_backup_exists/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_backup_exists/blockstorage_volume_backup_exists.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_backup_exists/blockstorage_volume_backup_exists.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_encryption_enabled/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_encryption_enabled/blockstorage_volume_encryption_enabled.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_encryption_enabled/blockstorage_volume_encryption_enabled.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_metadata_sensitive_data/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_metadata_sensitive_data/blockstorage_volume_metadata_sensitive_data.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_metadata_sensitive_data/blockstorage_volume_metadata_sensitive_data.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_multiattach_disabled/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_multiattach_disabled/blockstorage_volume_multiattach_disabled.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_multiattach_disabled/blockstorage_volume_multiattach_disabled.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_not_unattached/__init__.py
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_not_unattached/blockstorage_volume_not_unattached.metadata.json
  prowler/providers/openstack/services/blockstorage/blockstorage_volume_not_unattached/blockstorage_volume_not_unattached.py
  tests/providers/openstack/services/blockstorage/blockstorage_snapshot_metadata_sensitive_data/blockstorage_snapshot_metadata_sensitive_data_test.py
  tests/providers/openstack/services/blockstorage/blockstorage_snapshot_not_orphaned/blockstorage_snapshot_not_orphaned_test.py
  tests/providers/openstack/services/blockstorage/blockstorage_volume_backup_exists/blockstorage_volume_backup_exists_test.py
  tests/providers/openstack/services/blockstorage/blockstorage_volume_encryption_enabled/blockstorage_volume_encryption_enabled_test.py
  tests/providers/openstack/services/blockstorage/blockstorage_volume_metadata_sensitive_data/blockstorage_volume_metadata_sensitive_data_test.py
  tests/providers/openstack/services/blockstorage/blockstorage_volume_multiattach_disabled/blockstorage_volume_multiattach_disabled_test.py
  tests/providers/openstack/services/blockstorage/blockstorage_volume_not_unattached/blockstorage_volume_not_unattached_test.py
  tests/providers/openstack/services/blockstorage/openstack_blockstorage_service_test.py
Due: prowler

chore(image): modified check id and update changelog
  prowler/CHANGELOG.md
  prowler/providers/openstack/services/image/image_hw_mem_encryption_enabled/__init__.py
  prowler/providers/openstack/services/image/image_hw_mem_encryption_enabled/image_hw_mem_encryption_enabled.metadata.json
  prowler/providers/openstack/services/image/image_hw_mem_encryption_enabled/image_hw_mem_encryption_enabled.py
  tests/providers/openstack/services/image/image_hw_mem_encryption_enabled/image_hw_mem_encryption_enabled_test.py
Due: prowler

chore: changelog wording
  prowler/CHANGELOG.md
Due: prowler

feat(openstack): add image service with 6 checks (#10096)
  prowler/CHANGELOG.md
  prowler/providers/openstack/services/image/__init__.py
  prowler/providers/openstack/services/image/image_client.py
  prowler/providers/openstack/services/image/image_hw_mem_encryption_enabled/__init__.py
  prowler/providers/openstack/services/image/image_hw_mem_encryption_enabled/image_hw_mem_encryption_enabled.metadata.json
  prowler/providers/openstack/services/image/image_hw_mem_encryption_enabled/image_hw_mem_encryption_enabled.py
  prowler/providers/openstack/services/image/image_not_publicly_visible/__init__.py
  prowler/providers/openstack/services/image/image_not_publicly_visible/image_not_publicly_visible.metadata.json
  prowler/providers/openstack/services/image/image_not_publicly_visible/image_not_publicly_visible.py
  prowler/providers/openstack/services/image/image_not_shared_with_multiple_projects/__init__.py
  prowler/providers/openstack/services/image/image_not_shared_with_multiple_projects/image_not_shared_with_multiple_projects.metadata.json
  prowler/providers/openstack/services/image/image_not_shared_with_multiple_projects/image_not_shared_with_multiple_projects.py
  prowler/providers/openstack/services/image/image_protected_status_enabled/__init__.py
  prowler/providers/openstack/services/image/image_protected_status_enabled/image_protected_status_enabled.metadata.json
  prowler/providers/openstack/services/image/image_protected_status_enabled/image_protected_status_enabled.py
  prowler/providers/openstack/services/image/image_secure_boot_enabled/__init__.py
  prowler/providers/openstack/services/image/image_secure_boot_enabled/image_secure_boot_enabled.metadata.json
  prowler/providers/openstack/services/image/image_secure_boot_enabled/image_secure_boot_enabled.py
  prowler/providers/openstack/services/image/image_service.py
  prowler/providers/openstack/services/image/image_signature_verification_enabled/__init__.py
  prowler/providers/openstack/services/image/image_signature_verification_enabled/image_signature_verification_enabled.metadata.json
  prowler/providers/openstack/services/image/image_signature_verification_enabled/image_signature_verification_enabled.py
  tests/providers/openstack/services/image/image_hw_mem_encryption_enabled/image_hw_mem_encryption_enabled_test.py
  tests/providers/openstack/services/image/image_not_publicly_visible/image_not_publicly_visible_test.py
  tests/providers/openstack/services/image/image_not_shared_with_multiple_projects/image_not_shared_with_multiple_projects_test.py
  tests/providers/openstack/services/image/image_protected_status_enabled/image_protected_status_enabled_test.py
  tests/providers/openstack/services/image/image_secure_boot_enabled/image_secure_boot_enabled_test.py
  tests/providers/openstack/services/image/image_service_test.py
  tests/providers/openstack/services/image/image_signature_verification_enabled/image_signature_verification_enabled_test.py
Due: prowler

refactor(m365): rename conditional access policy checks to include policy prefix
  prowler/CHANGELOG.md
  prowler/compliance/azure/c5_azure.json
  prowler/compliance/azure/ccc_azure.json
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/compliance/azure/cis_3.0_azure.json
  prowler/compliance/azure/cis_4.0_azure.json
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/csa_ccm_4.0_azure.json
  prowler/compliance/azure/ens_rd2022_azure.json
  prowler/compliance/azure/fedramp_20x_ksi_low_azure.json
  prowler/compliance/azure/hipaa_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/compliance/azure/mitre_attack_azure.json
  prowler/compliance/azure/nis2_azure.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/compliance/azure/rbi_cyber_security_framework_azure.json
  prowler/compliance/azure/soc2_azure.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/entra_conditional_access_policy_app_enforced_restrictions.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/entra_conditional_access_policy_app_enforced_restrictions.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/entra_conditional_access_policy_app_enforced_restrictions_test.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/m365_entra_conditional_access_policy_require_mfa_for_management_api_test.py
Due: prowler

feat(m365): add entra_device_code_flow_blocked security check
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_device_code_flow_blocked/__init__.py
  prowler/providers/m365/services/entra/entra_device_code_flow_blocked/entra_device_code_flow_blocked.metadata.json
  prowler/providers/m365/services/entra/entra_device_code_flow_blocked/entra_device_code_flow_blocked.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_device_code_flow_blocked/__init__.py
  tests/providers/m365/services/entra/entra_device_code_flow_blocked/entra_device_code_flow_blocked_test.py
Due: prowler

feat(m365): add entra_device_code_flow_blocked security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_device_code_flow_blocked/__init__.py
  prowler/providers/m365/services/entra/entra_device_code_flow_blocked/entra_device_code_flow_blocked.metadata.json
  prowler/providers/m365/services/entra/entra_device_code_flow_blocked/entra_device_code_flow_blocked.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_device_code_flow_blocked/__init__.py
  tests/providers/m365/services/entra/entra_device_code_flow_blocked/entra_device_code_flow_blocked_test.py
Due: prowler

chore: reconcile changelog
  prowler/CHANGELOG.md
Due: prowler

fix(elbv2): Handle post-quantum (PQ) TLS policies
  prowler/CHANGELOG.md
  prowler/providers/aws/services/elbv2/elbv2_insecure_ssl_ciphers/elbv2_insecure_ssl_ciphers.py
  tests/providers/aws/services/elbv2/elbv2_insecure_ssl_ciphers/elbv2_insecure_ssl_ciphers_test.py
Due: prowler

chore(changelog): add entry
  prowler/CHANGELOG.md
Due: prowler

chore(changelog): release v5.19.0 (#10180)
  api/CHANGELOG.md
  mcp_server/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

refactor(m365): rename conditional access policy checks to include policy prefix (#10217)
  prowler/CHANGELOG.md
  prowler/compliance/azure/c5_azure.json
  prowler/compliance/azure/ccc_azure.json
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/compliance/azure/cis_3.0_azure.json
  prowler/compliance/azure/cis_4.0_azure.json
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/csa_ccm_4.0_azure.json
  prowler/compliance/azure/ens_rd2022_azure.json
  prowler/compliance/azure/fedramp_20x_ksi_low_azure.json
  prowler/compliance/azure/hipaa_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/compliance/azure/mitre_attack_azure.json
  prowler/compliance/azure/nis2_azure.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/compliance/azure/rbi_cyber_security_framework_azure.json
  prowler/compliance/azure/soc2_azure.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/entra_conditional_access_policy_app_enforced_restrictions.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/entra_conditional_access_policy_app_enforced_restrictions.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_app_enforced_restrictions/entra_conditional_access_policy_app_enforced_restrictions_test.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/m365_entra_conditional_access_policy_require_mfa_for_management_api_test.py
Due: prowler

feat(m365): add entra_compliant_device_required_for_cloud_app_access security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_compliant_device_required_for_cloud_app_access/__init__.py
  prowler/providers/m365/services/entra/entra_compliant_device_required_for_cloud_app_access/entra_compliant_device_required_for_cloud_app_access.metadata.json
  prowler/providers/m365/services/entra/entra_compliant_device_required_for_cloud_app_access/entra_compliant_device_required_for_cloud_app_access.py
  tests/providers/m365/services/entra/entra_compliant_device_required_for_cloud_app_access/__init__.py
  tests/providers/m365/services/entra/entra_compliant_device_required_for_cloud_app_access/entra_compliant_device_required_for_cloud_app_access_test.py
Due: prowler
