Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(mcp): supply the verifying key to the MCP server
  docker-compose-dev.yml
  docker-compose.yml
  docs/getting-started/installation/prowler-mcp.mdx
  mcp_server/changelog.d/mcp-jwt-signature-verification.security.md
  mcp_server/prowler_mcp_server/prowler_app/utils/auth.py
  mcp_server/tests/prowler_app/utils/test_auth.py
Due: none

fix(network): scope the outbound host check to Prowler App
  docs/user-guide/providers/iac/authentication.mdx
  prowler/__main__.py
  prowler/lib/network/ssrf.py
  tests/lib/network/ssrf_test.py
Due: prowler

fix(network): scope the outbound host check to Prowler App
  docs/user-guide/providers/kubernetes/misc.mdx
  prowler/__main__.py
  prowler/lib/network/ssrf.py
  tests/lib/network/ssrf_test.py
Due: prowler

fix(network): scope the outbound host check to Prowler App
  docs/user-guide/providers/openstack/authentication.mdx
  prowler/__main__.py
  prowler/lib/network/ssrf.py
  tests/lib/network/ssrf_test.py
Due: prowler

fix(image): scope the outbound host check to Prowler App
  docs/user-guide/providers/image/getting-started-image.mdx
  prowler/__main__.py
  prowler/providers/image/lib/registry/base.py
  tests/providers/image/lib/registry/test_oci_adapter.py
Due: prowler

test(network): assert the CLI opt-out by behaviour
  tests/lib/network/ssrf_test.py
Due: none

fix(image): keep origin enforcement when skipping
  prowler/providers/image/lib/registry/base.py
  tests/providers/image/lib/registry/test_oci_adapter.py
Due: prowler

refactor(outputs): drop the empty except in the sanitiser
  prowler/lib/outputs/utils.py
Due: prowler

perf(api): skip the scan id list for unlimited roles
  api/src/backend/api/v1/views.py
Due: api

docs(mcp): qualify the signature verification entry
  mcp_server/changelog.d/mcp-jwt-signature-verification.security.md
Due: none

test(network): cover an explicit CLI opt-in value
  tests/lib/network/ssrf_test.py
Due: none

fix(network): correct what the outbound guard logs
  prowler/lib/network/ssrf.py
  tests/lib/network/ssrf_test.py
Due: prowler

fix(iac): validate redirects and stop echoing errors
  prowler/changelog.d/iac-connection-test-ssrf.security.md
  prowler/providers/iac/iac_provider.py
  prowler/providers/iac/lib/git_transport.py
  tests/providers/iac/iac_provider_test.py
  tests/providers/iac/lib/git_transport_test.py
Due: prowler

docs(kubernetes): drop the useless allowlist workaround
  docs/user-guide/providers/kubernetes/misc.mdx
Due: none

docs(mcp): name both verifying key settings
  mcp_server/README.md
  mcp_server/prowler_mcp_server/prowler_app/utils/auth.py
Due: none

fix(image): validate every redirect destination
  prowler/changelog.d/image-registry-url-ssrf.security.md
  prowler/providers/image/lib/registry/base.py
  tests/providers/image/lib/registry/test_oci_adapter.py
Due: prowler

fix(alibabacloud): detect ECS security group rules open to ::/0
  prowler/changelog.d/alibabacloud-ecs-ipv6-sources.fixed.md
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_rdp_internet/ecs_securitygroup_restrict_rdp_internet.py
  prowler/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ssh_internet/ecs_securitygroup_restrict_ssh_internet.py
  prowler/providers/alibabacloud/services/ecs/ecs_service.py
  tests/providers/alibabacloud/services/ecs/alibabacloud_ecs_service_test.py
  tests/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_rdp_internet/ecs_securitygroup_restrict_rdp_internet_test.py
  tests/providers/alibabacloud/services/ecs/ecs_securitygroup_restrict_ssh_internet/ecs_securitygroup_restrict_ssh_internet_test.py
Due: prowler

fix(alibabacloud): read RDS whitelist from security_iplist
  prowler/changelog.d/alibabacloud-rds-whitelist-field.fixed.md
  prowler/providers/alibabacloud/services/rds/rds_instance_no_public_access_whitelist/rds_instance_no_public_access_whitelist.py
  prowler/providers/alibabacloud/services/rds/rds_service.py
  tests/providers/alibabacloud/services/rds/alibabacloud_rds_service_test.py
  tests/providers/alibabacloud/services/rds/rds_instance_no_public_access_whitelist/rds_instance_no_public_access_whitelist_test.py
Due: prowler

fix(image): rebuild request options on a redirect hop
  prowler/providers/image/lib/registry/base.py
  tests/providers/image/lib/registry/test_oci_adapter.py
Due: prowler

fix(image): rebuild method and body on a redirect hop
  prowler/providers/image/lib/registry/base.py
  tests/providers/image/lib/registry/test_oci_adapter.py
Due: prowler

ci(release): auto-create minor release branch and lift freeze on publish
  .github/workflows/prepare-release.yml
  .github/workflows/release-freeze-lift.yml
Due: none

ci(release): check versions before creating the release branch and match the version literally
  .github/workflows/prepare-release.yml
Due: none

fix(ui): show registry provider logos in the providers table
  ui/actions/registry/registry.ts
  ui/app/(prowler)/providers/providers-page.utils.test.ts
  ui/app/(prowler)/providers/providers-page.utils.ts
  ui/components/providers/registry-provider-logo.tsx
  ui/components/providers/table/column-providers.tsx
  ui/types/providers-table.ts
Due: none

fix(ui): size registry logos like built-ins in the provider selector
  ui/components/providers/radio-group-provider.integration.test.tsx
  ui/components/providers/radio-group-provider.tsx
Due: none

fix(ui): capitalize registry provider names and credential options
  ui/components/providers/wizard/steps/dynamic-credentials-step.test.tsx
  ui/components/providers/wizard/steps/dynamic-credentials-step.tsx
  ui/components/providers/workflow/provider-credential-fields.tsx
  ui/lib/registry/labels.test.ts
  ui/lib/registry/labels.ts
  ui/lib/registry/provider-options.test.ts
  ui/lib/registry/provider-options.ts
Due: none

docs: document credential schemas for external providers
  docs/developer-guide/provider.mdx
  prowler/providers/common/provider.py
Due: prowler

fix(ui): stream registry logos so provider rows never wait for them
  ui/app/(prowler)/providers/providers-page.utils.test.ts
  ui/app/(prowler)/providers/providers-page.utils.ts
  ui/app/(prowler)/providers/providers-tab-content.tsx
  ui/components/providers/providers-accounts-view.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/table/registry-row-logo.integration.test.tsx
  ui/components/providers/table/registry-row-logo.tsx
  ui/types/providers-table.ts
Due: none

test(ui): serve registry logos from MSW in browser tests
  ui/__tests__/msw/handlers/registry.ts
  ui/components/providers/radio-group-provider.integration.test.tsx
  ui/components/providers/table/registry-row-logo.integration.test.tsx
Due: none

docs: note the union exception and the eight-model limit outcome
  docs/developer-guide/provider.mdx
Due: none

fix(ui): bump Next.js to 16.3.8 to patch image optimization SSRF
  ui/changelog.d/next-image-optimization-ssrf.security.md
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Due: none

fix(aws): query Organizations in the audited partition
  prowler/changelog.d/aws-organizations-partition-region.fixed.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/organizations/organizations.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/organizations/organizations_test.py
Due: prowler

fix(ui): bump Next.js to 16.3.8 to patch the image optimization SSRF advisory (#12987)
  ui/changelog.d/next-image-optimization-ssrf.security.md
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Due: none
