Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat: new overview implemented
  ui/actions/overview/overview.ts
  ui/app/(prowler)/error.tsx
  ui/app/(prowler)/new-overview/page.tsx
  ui/app/(prowler)/page.tsx
  ui/components/overview/AttackSurface.tsx
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
  ui/components/overview/findings-by-severity-chart/skeleton-findings-severity-chart.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/findings-by-status-chart/skeleton-findings-status-chart.tsx
  ui/components/overview/index.ts
  ui/components/overview/provider-overview/provider-overview.tsx
  ui/components/overview/provider-overview/skeleton-provider-overview.tsx
Due: none

fix(tests): update PostgreSQL test files for new Server dataclass fields
  tests/providers/azure/services/postgresql/postgresql_flexible_server_allow_access_services_disabled/postgresql_flexible_server_allow_access_services_disabled_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_connection_throttling_on/postgresql_flexible_server_connection_throttling_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_enforce_ssl_enabled/postgresql_flexible_server_enforce_ssl_enabled_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_checkpoints_on/postgresql_flexible_server_log_checkpoints_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_connections_on/postgresql_flexible_server_log_connections_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_disconnections_on/postgresql_flexible_server_log_disconnections_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_retention_days_greater_3/postgresql_flexible_server_log_retention_days_greater_3_test.py
Due: none

refactor: replace CustomButton with Shadcn Button component across various compliance UI components for consistency and improved styling
  ui/app/(prowler)/compliance/[compliancetitle]/threatscore-download-button.tsx
  ui/components/compliance/compliance-accordion/client-accordion-wrapper.tsx
  ui/components/compliance/no-scans-available.tsx
  ui/components/compliance/threatscore-badge.tsx
  ui/components/icons/Icons.tsx
  ui/components/overview/new-findings-table/link-to-findings/link-to-findings.tsx
  ui/components/shadcn/button/button.tsx
  ui/components/ui/accordion/Accordion.tsx
  ui/components/ui/download-icon-button/download-icon-button.tsx
  ui/components/ui/sidebar/menu.tsx
Due: none

fix: poetry lock
  poetry.lock
Due: none

fix(azure): validation and other errors in cosmosdb, defender, storage and vm (#8915)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/storage/storage_service.py
  prowler/providers/azure/services/vm/vm_service.py
  tests/providers/azure/services/cosmosdb/cosmosdb_service_test.py
  tests/providers/azure/services/defender/defender_service_test.py
  tests/providers/azure/services/storage/storage_service_test.py
  tests/providers/azure/services/vm/vm_service_test.py
Due: prowler

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix(azure): validation and other errors in cosmosdb, defender, storage and vm (#9232)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/storage/storage_service.py
  prowler/providers/azure/services/vm/vm_service.py
  tests/providers/azure/services/cosmosdb/cosmosdb_service_test.py
  tests/providers/azure/services/defender/defender_service_test.py
  tests/providers/azure/services/storage/storage_service_test.py
  tests/providers/azure/services/vm/vm_service_test.py
Due: prowler

chore: addapt metadata to new format
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_entra_id_authentication_enabled/postgresql_flexible_server_entra_id_authentication_enabled.metadata.json
Due: prowler

fix: add to required iam roles
  docs/user-guide/providers/gcp/authentication.mdx
Due: none

feat(stackit): Add StackIT cloud provider with Object Storage encryption check
  prowler/config/config.yaml
  prowler/config/stackit_mutelist_example.yaml
  prowler/lib/check/models.py
  prowler/providers/common/provider.py
  prowler/providers/stackit/__init__.py
  prowler/providers/stackit/exceptions/__init__.py
  prowler/providers/stackit/exceptions/exceptions.py
  prowler/providers/stackit/lib/__init__.py
  prowler/providers/stackit/lib/arguments/__init__.py
  prowler/providers/stackit/lib/arguments/arguments.py
  prowler/providers/stackit/lib/mutelist/__init__.py
  prowler/providers/stackit/lib/mutelist/mutelist.py
  prowler/providers/stackit/lib/service/__init__.py
  prowler/providers/stackit/models.py
  prowler/providers/stackit/services/__init__.py
  prowler/providers/stackit/services/objectstorage/__init__.py
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_encryption/__init__.py
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_encryption/objectstorage_bucket_encryption.metadata.json
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_encryption/objectstorage_bucket_encryption.py
  prowler/providers/stackit/services/objectstorage/objectstorage_client.py
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
  pyproject.toml
Due: prowler

docs(sso): improve okta sso section
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: none

docs: review with docs styleguide
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: none

fix: remove unnecessary log
  prowler/lib/cli/parser.py
Due: prowler

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXI
  api/src/backend/api/apps.py
  api/src/backend/api/attack_paths/__init__.py
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/neo4j.py
  api/src/backend/api/attack_paths/query_definitions.py
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/migrations/0058_attack_paths_scan.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/prowler.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/attack_paths/utils.py
  api/src/backend/tasks/jobs/deletion.py
Due: api

fix(stackit): Add compliance directory to fix provider initialization
  prowler/compliance/stackit/__init__.py
Due: prowler

fix(stackit): Add StackIT output options initialization in main
  prowler/__main__.py
Due: prowler

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXII
  api/src/backend/api/attack_paths/__init__.py
Due: api

refactor: replace CustomButton with Shadcn Button component in various UI components for improved consistency and styling
  ui/components/feeds/feeds-client.tsx
  ui/components/integrations/jira/jira-integration-card.tsx
  ui/components/integrations/s3/s3-integration-card.tsx
  ui/components/integrations/security-hub/security-hub-integration-card.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/invitations/workflow/vertical-steps.tsx
  ui/components/invitations/workflow/workflow-send-invite.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/vertical-steps.tsx
  ui/components/providers/workflow/workflow-add-provider.tsx
  ui/components/ui/custom/custom-modal-buttons.tsx
  ui/components/ui/form/form-buttons.tsx
  ui/components/users/profile/api-keys-card-client.tsx
  ui/components/users/profile/membership-item.tsx
  ui/components/users/profile/memberships-card.tsx
  ui/components/users/profile/role-item.tsx
  ui/components/users/profile/roles-card.tsx
  ui/components/users/profile/user-basic-info-card.tsx
Due: none

fix(stackit): Add entity_type for StackIT in summary table
  prowler/lib/outputs/summary_table.py
Due: prowler

fix(stackit): Add StackIT provider support in finding output
  prowler/lib/outputs/finding.py
Due: prowler

fix: test
  tests/lib/cli/parser_test.py
Due: none

fix(stackit): Use S3-compatible API instead of StackIT SDK
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
  pyproject.toml
Due: prowler

fix(stackit): Add Object Storage credentials support
  prowler/providers/common/provider.py
  prowler/providers/stackit/lib/arguments/arguments.py
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

chore(outputs): raise an error when using `-M asff` for a provider other than `aws` (#9225)
  docs/user-guide/cli/tutorials/reporting.mdx
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/lib/cli/parser.py
  prowler/providers/common/arguments.py
  tests/lib/cli/parser_test.py
Due: prowler

fix(stackit): Bump Python to 3.10+ and use stackit-core SDK with API token authentication
  prowler/providers/common/provider.py
  prowler/providers/stackit/lib/arguments/arguments.py
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
  pyproject.toml
Due: prowler

fix(stackit): Use correct SDK imports - DefaultApi instead of ObjectStorageClient
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

fix(stackit): Use correct Configuration import path
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

fix(stackit): Remove project_id from Configuration initialization
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

docs(stackit): Add TODO plan for fixing ApiClient endpoint configuration
  STACKIT_TODO.md
Due: none

chore(revision): remove dashboard tests
  tests/dashboard/__init__.py
  tests/dashboard/test_category_filter.py
Due: none

chore(revision): remove docs
  docs/user-guide/cli/tutorials/dashboard-category-filter.mdx
  docs/user-guide/cli/tutorials/misc.mdx
  docs/user-guide/prowler-app/tutorials/category-filter.mdx
Due: none

chore(aws): refactor sg check to support the concept of all ports
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port.py
  prowler/providers/aws/services/ec2/lib/security_groups.py
Due: prowler

refactor: update UI components to use Shadcn Button and Card components for improved consistency and styling
  ui/components/compliance/compliance-accordion/compliance-accordion-title.tsx
  ui/components/compliance/threatscore-badge.tsx
  ui/components/findings/send-to-jira-modal.tsx
  ui/components/findings/table/delta-indicator.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/resources/table/resource-detail.tsx
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/ui/code-snippet/code-snippet.tsx
  ui/components/ui/custom/custom-banner.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/custom/custom-loader.tsx
  ui/components/ui/custom/custom-radio.tsx
  ui/components/ui/custom/index.ts
  ui/components/ui/entities/info-field.tsx
  ui/components/ui/entities/snippet-chip.tsx
  ui/components/ui/sheet/sheet.tsx
  ui/components/ui/sheet/trigger-sheet.tsx
  ui/components/ui/sidebar/collapse-menu-button.tsx
  ui/components/ui/sidebar/menu.tsx
  ui/components/ui/table/data-table-pagination.tsx
  ui/components/ui/table/severity-badge.tsx
Due: none

chore(aws): fallback to ipv6
  prowler/providers/aws/services/ec2/lib/security_groups.py
Due: prowler

lint
  prowler/providers/aws/services/ec2/lib/security_groups.py
Due: prowler

refactor: add SidebarExpandIcon and SidebarCollapseIcon components, update Card variants in integrations managers for consistency
  ui/components/icons/Icons.tsx
  ui/components/integrations/jira/jira-integrations-manager.tsx
  ui/components/integrations/s3/s3-integrations-manager.tsx
  ui/components/integrations/security-hub/security-hub-integrations-manager.tsx
  ui/components/shadcn/button/button.tsx
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/nav-bar/navbar-client.tsx
  ui/components/ui/sidebar/collapse-menu-button.tsx
  ui/components/ui/sidebar/menu.tsx
  ui/components/ui/sidebar/sidebar-toggle.tsx
  ui/components/ui/sidebar/sidebar.tsx
  ui/components/ui/tooltip/tooltip.tsx
  ui/lib/menu-list.ts
Due: none

refactor: replace CustomButton with Shadcn Button component in error, filter, and invitation components for improved consistency and styling
  ui/app/(prowler)/error.tsx
  ui/components/filters/clear-filters-button.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/findings/findings-filters.tsx
  ui/components/integrations/saml/saml-config-form.tsx
  ui/components/invitations/invitation-details.tsx
  ui/components/ui/user-nav/user-nav.tsx
Due: none
