Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

modify changelog
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stacks_termination_protection_enabled/cloudformation_stacks_termination_protection_enabled.metadata.json
Due: prowler

fix: add missing field_name parameter
  api/src/backend/api/filters.py
Due: api

feat(auth): enhance authentication flow with extended session and refresh token
  ui/auth.config.ts
  ui/nextauth.d.ts
Due: none

feat(auth): improve session error handling in authentication flow
  ui/components/auth/oss/sign-in-form.tsx
  ui/middleware.ts
Due: none

feat(auth): add comprehensive tests for session error handling and token refresh flow
  ui/tests/auth-login.spec.ts
  ui/tests/auth-middleware-error.spec.ts
  ui/tests/auth-refresh-token.spec.ts
  ui/tests/auth-session-error-message.spec.ts
  ui/tests/helpers.ts
Due: none

chore: CHANGELOG.md updated
  ui/CHANGELOG.md
Due: none

refactor(graphs): migrate to CSS variables for colors and typography
  ui/components/graphs/BarChart.tsx
  ui/components/graphs/DonutChart.tsx
  ui/components/graphs/HorizontalBarChart.tsx
  ui/components/graphs/LineChart.tsx
  ui/components/graphs/RadarChart.tsx
  ui/components/graphs/RadialChart.tsx
  ui/components/graphs/SankeyChart.tsx
  ui/components/graphs/ScatterPlot.tsx
  ui/config/fonts.ts
  ui/styles/globals.css
Due: none

feat(api): fix ruff
  api/src/backend/api/migrations/0049_compliancerequirementoverview_passed_findings_and_more.py
Due: api

feat(graphs): add interactive hover states and improve type safety
  ui/components/graphs/BarChart.tsx
  ui/components/graphs/HorizontalBarChart.tsx
  ui/config/fonts.ts
  ui/styles/globals.css
Due: none

chore: deprecate user auth
  prowler/providers/common/provider.py
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/lib/arguments/arguments.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
Due: prowler

chore: improve API docs for `Provider` endpoints (#8723)
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializers.py
Due: api

fix: tests
  tests/providers/m365/lib/arguments/m365_arguments_test.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_fixtures.py
  tests/providers/m365/m365_provider_test.py
Due: none

chore: remove cli user auth appareances
  docs/basic-usage/prowler-cli.md
  docs/tutorials/microsoft365/authentication.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/prowler-app.md
Due: none

refactor(auth): simplify token refresh and session error handling tests
  ui/tests/auth-refresh-token.spec.ts
  ui/tests/auth-session-error-message.spec.ts
  ui/tests/helpers.ts
Due: none

fix: restore app auth docs
  docs/tutorials/microsoft365/authentication.md
Due: none

refactor(auth): remove redundant session error handling tests for cleaner test suite
  ui/tests/auth-middleware-error.spec.ts
  ui/tests/auth-refresh-token.spec.ts
  ui/tests/auth-session-error-message.spec.ts
Due: none

refactor(compliance): optimize write operations for compliance overviews
  api/src/backend/api/migrations/0049_compliance_requirement_overview_remove_indexes.py
  api/src/backend/api/models.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

chore(changelog): update with latest changes
  api/CHANGELOG.md
Due: api

feat(api): rename migrations file
  api/src/backend/api/migrations/0049_compliancerequirementoverview_passed_failed_findings.py
Due: api

refactor(auth): remove outdated token error handling tests to streamline test suite
  ui/tests/auth-refresh-token.spec.ts
Due: none

feat(graphs): add demo page and shared components architecture
  ui/app/charts-demo/layout.tsx
  ui/app/charts-demo/page.tsx
  ui/auth.config.ts
  ui/components/graphs/BarChart.tsx
  ui/components/graphs/COLORS.md
  ui/components/graphs/DonutChart.tsx
  ui/components/graphs/HorizontalBarChart.tsx
  ui/components/graphs/LineChart.tsx
  ui/components/graphs/RadarChart.tsx
  ui/components/graphs/RadialChart.tsx
  ui/components/graphs/SankeyChart.tsx
  ui/components/graphs/ScatterPlot.tsx
  ui/components/graphs/models/chart-types.ts
  ui/components/graphs/shared/ChartTooltip.tsx
  ui/components/graphs/shared/chart-constants.ts
  ui/middleware.ts
Due: none

chore(aws): enhance metadata for `cloudformation` service (#8828)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stacks_termination_protection_enabled/cloudformation_stacks_termination_protection_enabled.metadata.json
Due: prowler

fix: remove from cli docs
  docs/basic-usage/prowler-cli.md
Due: none

chore: avoid confussion
  prowler/providers/m365/lib/arguments/arguments.py
Due: prowler

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: test
  tests/providers/m365/lib/arguments/m365_arguments_test.py
Due: none

feat(graphs): enhance tooltips with AlertPill and lucide icons
  ui/app/charts-demo/page.tsx
  ui/components/graphs/HorizontalBarChart.tsx
  ui/components/graphs/LineChart.tsx
  ui/components/graphs/RadarChart.tsx
  ui/components/graphs/ScatterPlot.tsx
  ui/components/graphs/shared/AlertPill.tsx
  ui/components/graphs/shared/ChartTooltip.tsx
  ui/components/graphs/shared/chart-constants.ts
  ui/styles/globals.css
Due: none

refactor(graphs): extract shared hooks and utilities
  ui/components/graphs/HorizontalBarChart.tsx
  ui/components/graphs/LineChart.tsx
  ui/components/graphs/ScatterPlot.tsx
  ui/components/graphs/hooks/useSortableData.ts
  ui/components/graphs/shared/AlertPill.tsx
  ui/components/graphs/shared/ChartTooltip.tsx
  ui/components/graphs/shared/severity-utils.ts
Due: none

refactor(constants): improve sort options naming consistency
  ui/components/graphs/HorizontalBarChart.tsx
  ui/components/graphs/ScatterPlot.tsx
  ui/components/graphs/hooks/useSortableData.ts
  ui/components/graphs/shared/chart-constants.ts
Due: none

fix(mcp): accept string type for all parameter types in MCP server
  mcp_server/prowler_mcp_server/prowler_app/utils/server_generator.py
Due: none

feat(threatscore): support compliance pdf reporting
  .gitignore
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/assets/fonts/FiraCode-Regular.ttf
  api/src/backend/tasks/assets/fonts/PlusJakartaSans-Regular.ttf
  api/src/backend/tasks/assets/img/prowler_logo.png
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/jobs/report.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_export.py
  api/src/backend/tasks/tests/test_tasks.py
  api/src/backend/tasks/tests/test_threatscore.py
  ui/actions/scans/scans.ts
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/[compliancetitle]/threatscore-download-button.tsx
  ui/lib/helper.ts
Due: api

fix: add pagination for `m365` and `azure` users retrieval (#8858)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
  tests/providers/azure/services/entra/entra_service_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

fix: add pagination for `m365` and `azure` users retrieval (#8868)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
  tests/providers/azure/services/entra/entra_service_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

refactor(compliance): improve rendering logic for findings and pass rate badges
  ui/components/compliance/compliance-custom-details/threat-details.tsx
  ui/types/compliance.ts
Due: none

fix(mcp): accept string type for all parameter types in MCP server (#8866)
  mcp_server/prowler_mcp_server/prowler_app/utils/server_generator.py
Due: none

revert: compliance requirements model deleted indexes
  api/src/backend/api/migrations/0049_compliance_requirement_overview_remove_indexes.py
  api/src/backend/api/models.py
Due: api
