Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(sdk): add validation for invalid checks, services, and categories (#8971)
  prowler/CHANGELOG.md
  prowler/lib/check/checks_loader.py
  tests/lib/check/check_loader_test.py
Due: prowler

feat(ui): remove changes
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
Due: none

fix(mongodbatlas): add provider_id to the test_connection
  prowler/providers/mongodbatlas/mongodbatlas_provider.py
Due: prowler

chore(api): clarify filter application in OverviewViewSet for ThreatScore snapshots
  api/src/backend/api/v1/views.py
Due: api

fix(mongodbatlas): add atlas_organization_id parameter
  prowler/providers/mongodbatlas/mongodbatlas_provider.py
Due: prowler

feat(api): add 'details' and 'partition' attributes to ResourceIncludeSerializer and tests
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Due: api

chore(api): update CHANGELOG
  api/CHANGELOG.md
Due: api

fix(gcp): check `check_name` has no `resource_name` error (#9169)
  prowler/CHANGELOG.md
  prowler/lib/check/models.py
Due: prowler

chore: update sdk changelog
  prowler/CHANGELOG.md
Due: prowler

fix: changelog
  prowler/CHANGELOG.md
Due: prowler

fix: changelog (#9179)
  prowler/CHANGELOG.md
Due: prowler

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

fix(gcp): check `check_name` has no `resource_name` error (#9178)
  prowler/CHANGELOG.md
  prowler/lib/check/models.py
Due: prowler

feat(compliance): add naming and visual improvements (#9145)
  prowler/CHANGELOG.md
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/nis2_aws.json
  prowler/compliance/azure/ens_rd2022_azure.json
  prowler/compliance/azure/nis2_azure.json
  prowler/compliance/gcp/ens_rd2022_gcp.json
  prowler/compliance/gcp/nis2_gcp.json
  tests/lib/outputs/compliance/ens/ens_aws_test.py
  tests/lib/outputs/compliance/ens/ens_azure_test.py
  tests/lib/outputs/compliance/ens/ens_gcp_test.py
  tests/lib/outputs/compliance/fixtures.py
Due: prowler

chore: remove obsolete pre-push hook and related documentation
  ui/.husky/pre-push
  ui/docs/code-review/CODE_REVIEW_TESTING.md
  ui/docs/code-review/DEPLOY_CODE_REVIEW.md
  ui/docs/code-review/README.md
Due: none

refactor(api): optimize snapshot retrieval in OverviewViewSet using DISTINCT ON for improved performance
  api/src/backend/api/v1/views.py
Due: api

feat: add claude code validation to pre-commit hook (#9177)
  .env
  .github/pull_request_template.md
  ui/.husky/pre-commit
  ui/docs/code-review/CODE_REVIEW_QUICK_START.md
  ui/docs/code-review/CODE_REVIEW_SETUP.md
  ui/docs/code-review/README.md
Due: none

fix: improve pre commit
  ui/.husky/pre-commit
Due: none

feat: enhance postinstall script to configure Git hooks and update README
  ui/README.md
  ui/package.json
  ui/scripts/setup-git-hooks.js
Due: none

fix(powershell): depth truncation
  prowler/providers/m365/lib/powershell/m365_powershell.py
Due: prowler

fix(ui): improve pre commit (#9180)
  ui/.husky/pre-commit
  ui/README.md
  ui/package.json
  ui/scripts/setup-git-hooks.js
Due: none

chore: change depth to 10
  prowler/providers/m365/lib/powershell/m365_powershell.py
Due: prowler

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: parse first json fragment amid log noise
  prowler/lib/powershell/powershell.py
  tests/lib/powershell/powershell_test.py
Due: prowler

chore: edit changelog
  prowler/CHANGELOG.md
Due: prowler

chore: implement tabs with skeletons
  ui/app/(prowler)/new-overview/components/finding-severity-over-time/time-range-selector.tsx
  ui/app/(prowler)/new-overview/components/graphs-tabs/graphs-tabs-client.tsx
  ui/app/(prowler)/new-overview/components/graphs-tabs/graphs-tabs-config.ts
  ui/app/(prowler)/new-overview/components/graphs-tabs/graphs-tabs-wrapper.tsx
  ui/app/(prowler)/new-overview/components/graphs-tabs/risk-pipeline-view.ssr.tsx
  ui/app/(prowler)/new-overview/components/graphs-tabs/risk-plot-view.tsx
  ui/app/(prowler)/new-overview/components/graphs-tabs/risk-radar-view.ssr.tsx
  ui/app/(prowler)/new-overview/components/graphs-tabs/threat-map-view.ssr.tsx
  ui/app/(prowler)/new-overview/page.tsx
  ui/components/graphs/threat-map.tsx
Due: none

fix(github_actions): use zizmor v1 format
  prowler/__main__.py
  prowler/lib/check/checks_loader.py
  prowler/lib/check/models.py
  prowler/lib/check/utils.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
  prowler/providers/github_action/github_action_provider.py
  prowler/providers/pipeline/__init__.py
  prowler/providers/pipeline/lib/__init__.py
  prowler/providers/pipeline/lib/arguments/__init__.py
  prowler/providers/pipeline/lib/arguments/arguments.py
  prowler/providers/pipeline/models.py
  prowler/providers/pipeline/pipeline_provider.py
Due: prowler

refactor(github_actions): rename to github_actions
  prowler/__main__.py
  prowler/lib/check/checks_loader.py
  prowler/lib/check/utils.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
  prowler/providers/github_actions/__init__.py
  prowler/providers/github_actions/github_actions_provider.py
  prowler/providers/github_actions/lib/__init__.py
  prowler/providers/github_actions/lib/arguments/__init__.py
  prowler/providers/github_actions/lib/arguments/arguments.py
  prowler/providers/github_actions/models.py
  tests/providers/github_actions/__init__.py
  tests/providers/github_actions/test_github_actions_provider.py
Due: prowler

refactor(ui): replace BaseCard and InnerBaseCard with a unified Card component across risk severity, status, and threat score charts for consistency and improved styling
  ui/app/(prowler)/new-overview/components/risk-severity-chart.tsx
  ui/app/(prowler)/new-overview/components/status-chart.tsx
  ui/app/(prowler)/new-overview/components/threat-score.tsx
  ui/components/shadcn/card/base-card/base-card.tsx
  ui/components/shadcn/card/card.tsx
  ui/components/shadcn/card/inner-base-card/index.ts
  ui/components/shadcn/card/inner-base-card/inner-base-card.tsx
  ui/components/shadcn/card/resource-stats-card/resource-stats-card.tsx
  ui/components/shadcn/index.ts
Due: none

docs(github_actions): migrate docs format to mdx
  docs/docs.json
  docs/user-guide/providers/github-actions/authentication.mdx
  docs/user-guide/providers/github-actions/getting-started-github-actions.mdx
  tests/providers/github_actions/test_github_actions_provider.py
Due: none

feat(github): Add GitHub check ensuring repository creation is limited (#8844)
  poetry.lock
  prowler/CHANGELOG.md
  prowler/compliance/github/cis_1.0_github.json
  prowler/providers/github/services/organization/organization_repository_creation_limited/__init__.py
  prowler/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited.metadata.json
  prowler/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited.py
  prowler/providers/github/services/organization/organization_service.py
  tests/providers/github/services/organization/organization_repository_creation_limited/organization_repository_creation_limited_test.py
Due: prowler

chore: fix format
  tests/providers/github_actions/test_github_actions_provider.py
Due: none

refactor(ui): update Card component styles for improved consistency and visual clarity
  ui/components/shadcn/card/card.tsx
Due: none

fix(github_actions): remove code from POC
  prowler/providers/pipeline/__init__.py
  prowler/providers/pipeline/lib/__init__.py
  prowler/providers/pipeline/lib/arguments/__init__.py
  prowler/providers/pipeline/lib/arguments/arguments.py
  prowler/providers/pipeline/models.py
  prowler/providers/pipeline/pipeline_provider.py
Due: prowler

fix(github_actions): add explicit return in _clone_repository exception handler
  prowler/providers/github_actions/github_actions_provider.py
Due: prowler

docs(github_actions): update CHANGELOG for GitHub Actions provider
  prowler/CHANGELOG.md
Due: prowler

fix: sync package.json dependencies with feature branch
  ui/package.json
Due: none

fix(github_actions): fix string in the tests
  tests/lib/cli/parser_test.py
Due: none
