Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(ui): replace initial spinner with skeleton rows in inline resources
  ui/components/findings/table/inline-resource-container.tsx
Due: none

fix(api): resolve check_title from summary table for performance and add resource_group test
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/conftest.py
Due: api

feat(googleworkspace): add directory check for CIS 1.1.3 - super admin only admin roles
  prowler/providers/googleworkspace/services/directory/directory_service.py
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/__init__.py
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles.metadata.json
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles.py
  tests/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles_test.py
Due: prowler

docs: update CHANGELOG
  prowler/CHANGELOG.md
Due: prowler

test(api): add regression tests for check_title variant resolution and resource filters
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Due: api

fix: changelog PR link
  api/CHANGELOG.md
Due: api

fix(celery): validate redis scheme
  api/src/backend/api/tests/test_celery_settings.py
  api/src/backend/config/settings/celery.py
Due: api

fix: delete current tennat
  ui/actions/users/tenants.ts
  ui/components/users/forms/delete-tenant-form.tsx
  ui/lib/navigation.ts
Due: none

chore(pnpm): approve build
  ui/package.json
Due: none

test: added fake env var for api url
  ui/vitest.config.ts
Due: none

test: added test and fixed reload issue
  ui/app/(prowler)/profile/profile-organizations.browser.test.tsx
  ui/app/(prowler)/profile/profile-organizations.harness.ts
  ui/components/users/forms/create-tenant-form.tsx
  ui/components/users/forms/delete-tenant-form.test.tsx
  ui/components/users/forms/switch-tenant-form.tsx
  ui/testing/msw/handlers.ts
Due: none

fix(trivy-scan): don't comment if PR from fork
  .github/actions/trivy-scan/action.yml
Due: none

fix(trivy-scan): don't comment if PR from fork (#10490)
  .github/actions/trivy-scan/action.yml
Due: none

chore: lint
  ui/components/users/forms/create-tenant-form.tsx
  ui/components/users/forms/switch-tenant-form.tsx
  ui/components/users/profile/memberships-card-client.tsx
Due: none

docs: updated changelog
  api/CHANGELOG.md
  ui/CHANGELOG.md
Due: api

test: updated default mock api url
  ui/testing/msw/handlers.ts
Due: none

fix(metadata): remove not needed try
  prowler/lib/check/custom_checks_metadata.py
Due: prowler

chore: changelog #
  prowler/CHANGELOG.md
Due: prowler

fix: changelog ordering
  api/CHANGELOG.md
Due: api

fix(api): resolve check_title filter to check_id for consistent finding-group counts (#10486)
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Due: api

chore: clean up
  ui/testing/msw/handlers.ts
Due: none

fix(api): Add ignore to safety SFTY-20260218-01424
  .github/workflows/api-security.yml
Due: none

chore: clean up
  ui/components/users/forms/index.ts
Due: none

feat(celery): `VALKEY_SCHEME` environment variable (#10420)
  .env
  .github/workflows/api-tests.yml
  api/CHANGELOG.md
  api/src/backend/api/tests/test_celery_settings.py
  api/src/backend/config/settings/celery.py
  contrib/k8s/helm/prowler-api/values.yaml
  contrib/k8s/helm/prowler-app/templates/api/secret-valkey.yaml
  contrib/k8s/helm/prowler-app/values.yaml
  skills/prowler-api/assets/celery_patterns.py
  skills/prowler-api/references/configuration.md
  skills/prowler-api/references/production-settings.md
Due: api

fix: remove return statements from finally blocks (#10102)
  prowler/CHANGELOG.md
  prowler/lib/check/custom_checks_metadata.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/iam/iam_user_two_active_access_key/iam_user_two_active_access_key.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/gcp/gcp_provider.py
Due: prowler

Apply suggestions from code review
  prowler/providers/azure/services/keyvault/keyvault_key_expiration_set_in_non_rbac/keyvault_key_expiration_set_in_non_rbac.py
  prowler/providers/azure/services/keyvault/keyvault_key_rotation_enabled/keyvault_key_rotation_enabled.py
  prowler/providers/azure/services/keyvault/keyvault_non_rbac_secret_expiration_set/keyvault_non_rbac_secret_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_key_expiration_set/keyvault_rbac_key_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_secret_expiration_set/keyvault_rbac_secret_expiration_set.py
Due: prowler

fix(azure): remove duplicate lines in keyvault key expiration checks
  prowler/providers/azure/services/keyvault/keyvault_key_expiration_set_in_non_rbac/keyvault_key_expiration_set_in_non_rbac.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_key_expiration_set/keyvault_rbac_key_expiration_set.py
Due: prowler

fix(azure): remove duplicate lines in keyvault rotation and secret expiration checks
  prowler/providers/azure/services/keyvault/keyvault_key_rotation_enabled/keyvault_key_rotation_enabled.py
  prowler/providers/azure/services/keyvault/keyvault_non_rbac_secret_expiration_set/keyvault_non_rbac_secret_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_secret_expiration_set/keyvault_rbac_secret_expiration_set.py
Due: prowler

fix(azure): apply black formatting to keyvault_key_rotation_enabled
  prowler/providers/azure/services/keyvault/keyvault_key_rotation_enabled/keyvault_key_rotation_enabled.py
Due: prowler

refactor to support multi subscriptions
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/services/aisearch/aisearch_service.py
  prowler/providers/azure/services/aks/aks_service.py
Due: prowler

fix(api): Wrap admin role creation in atomic transaction
  api/src/backend/api/base_views.py
Due: api

fix(compliance): correct Intune sign-in frequency mapping
  prowler/compliance/m365/cis_6.0_m365.json
Due: prowler

docs(changelog): reference Entra MFA check split
  prowler/CHANGELOG.md
Due: prowler

fix: issue when deleting the current org not refreshing active org (visual only)
  ui/app/(prowler)/profile/page.tsx
  ui/components/users/forms/delete-tenant-form.tsx
Due: none

feat: make resource group filter case-insensitive
  prowler/CHANGELOG.md
  prowler/lib/check/checks_loader.py
  tests/lib/check/check_loader_test.py
Due: prowler

fix(azure): align keyvault metadata, messages, and tests with item-level findings
  prowler/providers/azure/services/keyvault/keyvault_key_expiration_set_in_non_rbac/keyvault_key_expiration_set_in_non_rbac.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_key_expiration_set_in_non_rbac/keyvault_key_expiration_set_in_non_rbac.py
  prowler/providers/azure/services/keyvault/keyvault_key_rotation_enabled/keyvault_key_rotation_enabled.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_key_rotation_enabled/keyvault_key_rotation_enabled.py
  prowler/providers/azure/services/keyvault/keyvault_non_rbac_secret_expiration_set/keyvault_non_rbac_secret_expiration_set.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_non_rbac_secret_expiration_set/keyvault_non_rbac_secret_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_key_expiration_set/keyvault_rbac_key_expiration_set.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_rbac_key_expiration_set/keyvault_rbac_key_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_secret_expiration_set/keyvault_rbac_secret_expiration_set.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_rbac_secret_expiration_set/keyvault_rbac_secret_expiration_set.py
  tests/providers/azure/services/keyvault/keyvault_key_expiration_set_in_non_rbac/keyvault_key_expiration_set_in_non_rbac_test.py
  tests/providers/azure/services/keyvault/keyvault_key_rotation_enabled/keyvault_key_rotation_enabled_test.py
  tests/providers/azure/services/keyvault/keyvault_non_rbac_secret_expiration_set/keyvault_non_rbac_secret_expiration_set_test.py
  tests/providers/azure/services/keyvault/keyvault_rbac_key_expiration_set/keyvault_rbac_key_expiration_set_test.py
  tests/providers/azure/services/keyvault/keyvault_rbac_secret_expiration_set/keyvault_rbac_secret_expiration_set_test.py
Due: prowler

refactor(sdk): rename device registration MFA check
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_device_registration_mfa_required/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_device_registration_mfa_required/entra_conditional_access_policy_device_registration_mfa_required.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_device_registration_mfa_required/entra_conditional_access_policy_device_registration_mfa_required.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_intune_enrollment_mfa/entra_conditional_access_policy_intune_enrollment_mfa.metadata.json
  tests/providers/m365/services/entra/entra_conditional_access_policy_device_registration_mfa_required/entra_conditional_access_policy_device_registration_mfa_required_test.py
Due: prowler

refactor(m365): rename insider risk check to Purview variant
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_purview_elevated_insider_risk/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_purview_elevated_insider_risk/entra_conditional_access_policy_block_purview_elevated_insider_risk.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_purview_elevated_insider_risk/entra_conditional_access_policy_block_purview_elevated_insider_risk.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_block_purview_elevated_insider_risk/entra_conditional_access_policy_block_purview_elevated_insider_risk_test.py
Due: prowler

refactor(m365): rename O365 insider risk check
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_o365_elevated_insider_risk/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_o365_elevated_insider_risk/entra_conditional_access_policy_block_o365_elevated_insider_risk.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_o365_elevated_insider_risk/entra_conditional_access_policy_block_o365_elevated_insider_risk.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_block_o365_elevated_insider_risk/entra_conditional_access_policy_block_o365_elevated_insider_risk_test.py
Due: prowler

fix(api): close TOCTOU races in attack paths scan cleanup and failure handling
  api/src/backend/tasks/jobs/attack_paths/cleanup.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
