Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

docs: update changelog guidance to the fragment workflow
  .github/pull_request_template.md
  docs/developer-guide/provider.mdx
  docs/developer-guide/security-compliance-framework.mdx
  skills/prowler-changelog/SKILL.md
  skills/prowler-changelog/assets/entry-templates.md
  skills/prowler-ci/SKILL.md
  skills/prowler-compliance-review/SKILL.md
  skills/prowler-compliance-review/references/review-checklist.md
  skills/prowler-pr/SKILL.md
Due: none

feat: support OCI multi-region in app
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializers.py
  prowler/providers/oraclecloud/oraclecloud_provider.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
  ui/components/providers/workflow/forms/via-credentials/oraclecloud-credentials-form.tsx
  ui/lib/provider-credentials/build-credentials.test.ts
  ui/lib/provider-credentials/build-credentials.ts
Due: prowler, api

feat(oci): add storage admin delete exclusion check (#11523)
  prowler/CHANGELOG.md
  prowler/compliance/oraclecloud/cis_3.1_oraclecloud.json
  prowler/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/__init__.py
  prowler/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/identity_storage_service_level_admins_scoped.metadata.json
  prowler/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/identity_storage_service_level_admins_scoped.py
  tests/providers/oraclecloud/services/identity/identity_storage_service_level_admins_scoped/identity_storage_service_level_admins_scoped_test.py
Due: prowler

fix(gcp): address review for cloudsql HA check
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/cloudsql_instance_high_availability_enabled.metadata.json
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/cloudsql_instance_high_availability_enabled.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/cloudsql_instance_high_availability_enabled_test.py
Due: prowler

feat(gcp): add cloudsql_instance_high_availability_enabled check (#11024)
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/__init__.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/cloudsql_instance_high_availability_enabled.metadata.json
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/cloudsql_instance_high_availability_enabled.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_cmek_encryption_enabled/__init__.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/__init__.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_high_availability_enabled/cloudsql_instance_high_availability_enabled_test.py
Due: prowler

chore: prepare API and UI changelogs for 5.30.1 release (#11562)
  api/CHANGELOG.md
  ui/CHANGELOG.md
Due: api

Merge v5.30 into backport/v5.30/pr-11562
  api/CHANGELOG.md
Due: api

chore: prepare API and UI changelogs for 5.30.1 release (#11566)
  api/CHANGELOG.md
  ui/CHANGELOG.md
Due: api

build(api): add django-eventstream and bump gunicorn to the ASGI worker
  api/pyproject.toml
  api/uv.lock
Due: api

feat(api): serve the API through the gunicorn ASGI worker
  api/docker-entrypoint.sh
  api/src/backend/config/guniconf.py
Due: api

feat(api): add Server-Sent Events infrastructure
  api/src/backend/api/sse/__init__.py
  api/src/backend/api/sse/base_views.py
  api/src/backend/api/sse/channelmanager.py
  api/src/backend/api/sse/utils.py
  api/src/backend/api/tests/test_sse.py
  api/src/backend/config/django/base.py
  api/src/backend/config/settings/eventstream.py
Due: api

docs(developer-guide): add Server-Sent Events guide
  docs/developer-guide/server-sent-events.mdx
  docs/docs.json
Due: none

feat(api): add SSE authentication with access_token fallback
  api/src/backend/api/authentication.py
  api/src/backend/api/tests/test_authentication.py
Due: api

docs(api): add SSE infrastructure entry to the changelog
  api/CHANGELOG.md
Due: api

fix(api): reject SSE channel names with separator injection
  api/src/backend/api/sse/utils.py
  api/src/backend/api/tests/test_sse.py
Due: api

test(api): cover SSE authentication invalid-token path
  api/src/backend/api/tests/test_authentication.py
Due: api

test(api): add end-to-end stream test for BaseSSEViewSet
  api/src/backend/api/tests/test_sse.py
Due: api

docs(developer-guide): add version badge to the SSE guide
  docs/developer-guide/server-sent-events.mdx
Due: none

fix(compliance): correct multi-section undercount and leaked provider in tables
  prowler/lib/outputs/compliance/asd_essential_eight/asd_essential_eight.py
  prowler/lib/outputs/compliance/c5/c5.py
  prowler/lib/outputs/compliance/ccc/ccc.py
  prowler/lib/outputs/compliance/cis/cis.py
  prowler/lib/outputs/compliance/ens/ens.py
  prowler/lib/outputs/compliance/kisa_ismsp/kisa_ismsp.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack.py
  prowler/lib/outputs/compliance/okta_idaas_stig/okta_idaas_stig.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
  prowler/lib/outputs/compliance/universal/universal_table.py
  tests/lib/outputs/compliance/okta_idaas_stig/okta_idaas_stig_table_test.py
  tests/lib/outputs/compliance/universal/universal_table_test.py
Due: prowler

feat(azure): finalize cosmosdb_account_automatic_failover_enabled metadata, docstrings, compliance mappings
  prowler/CHANGELOG.md
  prowler/compliance/azure/csa_ccm_4.0_azure.json
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_automatic_failover_enabled/cosmosdb_account_automatic_failover_enabled.metadata.json
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_automatic_failover_enabled/cosmosdb_account_automatic_failover_enabled.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
  tests/providers/azure/services/cosmosdb/cosmosdb_account_automatic_failover_enabled/cosmosdb_account_automatic_failover_enabled_test.py
Due: prowler

fix(azure): handle None private_endpoint_connections in cosmosdb service
  prowler/CHANGELOG.md
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
Due: prowler

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

chore(banner): update info
  prowler/lib/banner.py
Due: prowler

chore(azure): map cosmosdb_account_automatic_failover_enabled under universal CCM BCR-11
  prowler/CHANGELOG.md
  prowler/compliance/csa_ccm_4.0.json
Due: prowler

ci(ui): gate E2E tests with opt-in label
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

ci(ui): keep E2E secrets unchanged
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

feat(azure): add cosmosdb_account_automatic_failover_enabled check (#11031)
  prowler/CHANGELOG.md
  prowler/compliance/azure/iso27001_2022_azure.json
  prowler/compliance/csa_ccm_4.0.json
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_automatic_failover_enabled/__init__.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_automatic_failover_enabled/cosmosdb_account_automatic_failover_enabled.metadata.json
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_automatic_failover_enabled/cosmosdb_account_automatic_failover_enabled.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
  tests/providers/azure/services/cosmosdb/cosmosdb_account_automatic_failover_enabled/cosmosdb_account_automatic_failover_enabled_test.py
Due: prowler

ci(ui): narrow E2E push paths
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

refactor(api): reuse shared JWT backend for SSE query-token auth
  api/src/backend/api/authentication.py
  api/src/backend/api/tests/test_authentication.py
Due: api

fix(api): scope SSE channels to the active request tenant
  api/src/backend/api/sse/channelmanager.py
  api/src/backend/api/tests/test_sse.py
Due: api

chore(release): Bump versions to v5.30.2
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

chore(banner): update info (#11568)
  prowler/lib/banner.py
Due: prowler

chore(changelog): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

chore(release): Bump versions to v5.30.2 (#11571)
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

feat(aws): Update regions for AWS services (#11570)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(ci): harden changelog compilation
  .github/scripts/changelog_attribution.py
  .github/workflows/compile-changelogs.yml
  tests/github/changelog_attribution_test.py
Due: none
