Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(ui): harden Registry accessibility and acceptance
  .github/test-impact.yml
  .github/workflows/ui-e2e-tests-v2.yml
  docs/developer-guide/environment-variables.mdx
  ui/Dockerfile
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/registry/registry-access-boundary.integration.test.tsx
  ui/components/registry/registry-access-dialog.tsx
  ui/components/registry/registry-artifact-detail.tsx
  ui/components/registry/registry-eligibility-provider.integration.test.tsx
  ui/components/registry/registry-eligibility-provider.tsx
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.tsx
  ui/components/registry/registry-onboarding.tsx
  ui/components/registry/registry-remove-dialog.tsx
  ui/components/shadcn/dialog.tsx
  ui/components/shadcn/dialog/dialog.integration.test.tsx
  ui/components/shadcn/sheet/sheet.integration.test.tsx
  ui/components/shadcn/sheet/sheet.tsx
  ui/components/shadcn/tree-view/tree-node.integration.test.tsx
  ui/components/shadcn/tree-view/tree-node.tsx
  ui/lib/registry/access.server.ts
  ui/package.json
  ui/playwright.config.ts
  ui/tests/registry/controlled-registry-api.mts
  ui/tests/registry/controlled-registry-fixture.ts
  ui/tests/registry/registry-page.ts
  ui/tests/registry/registry.md
  ui/tests/registry/registry.spec.ts
  ui/tests/setups/manage-registry.auth.setup.ts
  ui/types/env.d.ts
Due: none

ci(azure): verify Bicep template synchronization
  .github/workflows/docs-check-azure-arm-template.yml
  .github/workflows/markdown-lint.yml
  docs/snippets/azure-prowler-scan-template.mdx
  permissions/templates/azure/bicep/Makefile
  permissions/templates/azure/bicep/sync_docs_template.py
  permissions/templates/azure/bicep/sync_docs_template_test.py
Due: none

fix(aws): treat security groups on Batch compute environments as used (#12458)
  prowler/changelog.d/ec2-securitygroup-not-used-batch.fixed.md
  prowler/providers/aws/services/batch/batch_service.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used.metadata.json
  prowler/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used.py
  tests/providers/aws/services/batch/batch_service_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used_test.py
Due: prowler

fix(ci): allow pinned Bicep download
  .github/workflows/docs-check-azure-arm-template.yml
Due: none

fix(m365): address DMARC check review
  prowler/changelog.d/add-defender-domain-dmarc-records-published-check.added.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/cis_7.0_m365.json
  prowler/providers/m365/services/defender/defender_domain_dmarc_records_published/defender_domain_dmarc_records_published.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_domain_dmarc_records_published/defender_domain_dmarc_records_published_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

feat(m365): add defender_domain_dmarc_records_published check (#11936)
  prowler/changelog.d/add-defender-domain-dmarc-records-published-check.added.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/cis_7.0_m365.json
  prowler/providers/m365/services/defender/defender_domain_dmarc_records_published/__init__.py
  prowler/providers/m365/services/defender/defender_domain_dmarc_records_published/defender_domain_dmarc_records_published.metadata.json
  prowler/providers/m365/services/defender/defender_domain_dmarc_records_published/defender_domain_dmarc_records_published.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_domain_dmarc_records_published/defender_domain_dmarc_records_published_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

feat(azure): clarify certificate onboarding permissions and trim wizard copy
  docs/user-guide/providers/azure/authentication.mdx
  ui/.pnpm-store/v11/index.db
  ui/components/providers/workflow/forms/select-credentials-type/azure/credentials-type/azure-certificate-credentials-form.test.tsx
  ui/components/providers/workflow/forms/select-credentials-type/azure/credentials-type/azure-certificate-credentials-form.tsx
Due: none

fix(docs): correct MDX Tab indentation in Azure authentication page
  docs/user-guide/providers/azure/authentication.mdx
Due: none

chore(lighthouse): rename not tested to not connected
  ui/app/(prowler)/lighthouse/_components/config/lighthouse-v2-config-page.test.tsx
  ui/app/(prowler)/lighthouse/_components/config/status-badge.tsx
Due: none

refactor(ui): use internal Lighthouse feedback action
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.adapter.test.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.adapter.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.test.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.ts
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-view.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.tsx
  ui/app/(prowler)/lighthouse/_types/sessions.ts
Due: none

fix(ui): stabilize Registry acceptance flows
  ui/actions/registry/registry.adapter.test.ts
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/registry/registry-access-boundary.integration.test.tsx
  ui/components/registry/registry-access-boundary.tsx
  ui/components/registry/registry-access-dialog.tsx
  ui/components/registry/registry-eligibility-provider.integration.test.tsx
  ui/components/registry/registry-eligibility-provider.tsx
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.tsx
  ui/components/registry/registry-onboarding.tsx
Due: none

fix(gcp): describe BigQuery datasets and tables through a bounded thread pool
  prowler/changelog.d/gcp-bigquery-parallel-table-enumeration.fixed.md
  prowler/providers/gcp/services/bigquery/bigquery_service.py
  tests/providers/gcp/services/bigquery/bigquery_service_test.py
Due: prowler

docs(gcp): Google-style docstrings for the BigQuery enumeration methods
  prowler/providers/gcp/services/bigquery/bigquery_service.py
Due: prowler

fix(gcp): share one thread pool across the whole BigQuery enumeration
  prowler/providers/gcp/services/bigquery/bigquery_service.py
  tests/providers/gcp/services/bigquery/bigquery_service_test.py
Due: prowler

fix(gcp): bound BigQuery detail submissions and prove per-thread http isolation
  prowler/providers/gcp/services/bigquery/bigquery_service.py
  tests/providers/gcp/services/bigquery/bigquery_service_test.py
Due: prowler

chore(lighthouse): rename not tested to not connected (#12523)
  ui/app/(prowler)/lighthouse/_components/config/lighthouse-v2-config-page.test.tsx
  ui/app/(prowler)/lighthouse/_components/config/status-badge.tsx
Due: none

docs: clarify custom CA bundle scope
  docs/user-guide/tutorials/prowler-import-findings.mdx
Due: none

chore: fix black
  tests/lib/outputs/compliance/iso27001/iso27001_kubernetes_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_kubernetes_test.py
  tests/lib/outputs/compliance/universal/universal_output_test.py
Due: none

feat(kubernetes): include cluster name in compliance reports (#12506)
  prowler/changelog.d/kubernetes-compliance-report-cluster-name.added.md
  prowler/lib/outputs/compliance/cis/cis_kubernetes.py
  prowler/lib/outputs/compliance/cis/models.py
  prowler/lib/outputs/compliance/iso27001/iso27001_kubernetes.py
  prowler/lib/outputs/compliance/iso27001/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_kubernetes.py
  prowler/lib/outputs/compliance/universal/universal_output.py
  tests/lib/outputs/compliance/cis/cis_kubernetes_test.py
  tests/lib/outputs/compliance/iso27001/iso27001_kubernetes_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_kubernetes_test.py
  tests/lib/outputs/compliance/universal/universal_output_test.py
Due: prowler

fix(ui): revoke Registry access after denied actions
  ui/components/registry/registry-access-dialog.tsx
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.tsx
  ui/components/registry/registry-onboarding.tsx
Due: none

refactor(ui): submit Lighthouse feedback through PostHog
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.adapter.test.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.adapter.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.test.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.ts
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-feedback-survey.test.ts
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-feedback-survey.ts
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-view.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.tsx
  ui/app/(prowler)/lighthouse/_types/sessions.ts
Due: none

fix: add Celery loggers and restart policies to production compose
  api/src/backend/config/custom_logging.py
  docker-compose.yml
Due: api

chore: add changelog fragment for worker logging and restart policy fix
  api/changelog.d/worker-logging-restart-policy.fixed.md
Due: api

fix: wrap long lines in Celery logger declarations to pass ruff E501
  api/src/backend/config/custom_logging.py
Due: api

fix: add celery.app.trace and celery.beat loggers, rebase on master
  api/src/backend/config/custom_logging.py
Due: api

chore(alibabacloud): remove __init__.py from oss_bucket_versioning_enabled tests
  tests/providers/alibabacloud/services/oss/oss_bucket_versioning_enabled/__init__.py
Due: none

feat(alibabacloud): add oss_bucket_versioning_enabled check (#11913)
  prowler/changelog.d/oss-bucket-versioning-check.added.md
  prowler/providers/alibabacloud/services/oss/oss_bucket_versioning_enabled/__init__.py
  prowler/providers/alibabacloud/services/oss/oss_bucket_versioning_enabled/oss_bucket_versioning_enabled.metadata.json
  prowler/providers/alibabacloud/services/oss/oss_bucket_versioning_enabled/oss_bucket_versioning_enabled.py
  prowler/providers/alibabacloud/services/oss/oss_service.py
  tests/providers/alibabacloud/services/oss/oss_bucket_versioning_enabled/oss_bucket_versioning_enabled_test.py
Due: prowler

fix(compliance): discover universal frameworks from entry points
  prowler/config/config.py
  prowler/lib/check/compliance_models.py
  tests/lib/check/universal_compliance_models_test.py
  tests/providers/external/test_dynamic_provider_loading.py
  ui/actions/compliance-watchlist/compliance-watchlist.test.ts
  ui/actions/compliance-watchlist/compliance-watchlist.ts
  ui/app/(prowler)/compliance/[compliancetitle]/page.test.tsx
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/_components/cross-account-overview-section.test.tsx
  ui/app/(prowler)/compliance/_components/cross-account-overview-section.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-detail.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-framework-grid.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-overview.test.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-overview.tsx
  ui/app/(prowler)/compliance/_lib/__tests__/cross-provider-catalog.test.ts
  ui/app/(prowler)/compliance/_lib/__tests__/cross-provider-frameworks.test.ts
  ui/app/(prowler)/compliance/_lib/__tests__/watchlist-context.test.ts
  ui/app/(prowler)/compliance/_lib/cross-provider-catalog.ts
  ui/app/(prowler)/compliance/_lib/cross-provider-frameworks.ts
  ui/app/(prowler)/compliance/_lib/watchlist-context.ts
  ui/types/compliance-watchlist.ts
Due: prowler

chore(changelog): add missing
  prowler/changelog.d/universal-compliance-entry-points.fixed.md
  ui/changelog.d/cross-provider-catalog-unavailable.fixed.md
  ui/changelog.d/cross-provider-framework-catalog.fixed.md
Due: prowler

fix(alibabacloud): parse OSS bucket encryption from SDK response and drop SM4 as SSE algorithm
  prowler/changelog.d/oss-bucket-server-side-encryption-enabled.added.md
  prowler/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/oss_bucket_server_side_encryption_enabled.metadata.json
  prowler/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/oss_bucket_server_side_encryption_enabled.py
  prowler/providers/alibabacloud/services/oss/oss_service.py
  tests/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/__init__.py
  tests/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/oss_bucket_server_side_encryption_enabled_test.py
  tests/providers/alibabacloud/services/oss/oss_service_test.py
Due: prowler

docs: document AWS organization membership changes
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
Due: none

docs: clarify StackSet automatic deployment
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
Due: none

docs: explain AWS Organization account membership updates (#12512)
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
Due: none

docs: restructure organization documentation
  docs/docs.json
  docs/user-guide/organizations.mdx
  docs/user-guide/providers/aws/organizations.mdx
  docs/user-guide/providers/azure/management-groups.mdx
  docs/user-guide/providers/azure/subscriptions.mdx
  docs/user-guide/providers/gcp/organization.mdx
  docs/user-guide/tutorials/aws-organizations-bulk-provisioning.mdx
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
Due: none

docs: expose Azure management groups in provider navigation
  docs/docs.json
Due: none

docs: restructure organization documentation (#12521)
  docs/docs.json
  docs/user-guide/organizations.mdx
  docs/user-guide/providers/aws/organizations.mdx
  docs/user-guide/providers/azure/management-groups.mdx
  docs/user-guide/providers/azure/subscriptions.mdx
  docs/user-guide/providers/gcp/organization.mdx
  docs/user-guide/tutorials/aws-organizations-bulk-provisioning.mdx
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
Due: none

docs: state the Test connection precondition in the status table
  docs/user-guide/tutorials/prowler-app-slack-integration.mdx
Due: none

docs: name Prowler Local Server in the Slack tutorial prerequisites
  docs/user-guide/tutorials/prowler-app-slack-integration.mdx
Due: none

docs: re-stage the connected-state Slack screenshots on the contract
  docs/images/prowler-app/slack/channel-picker.png
  docs/images/prowler-app/slack/connected-workspace.png
  docs/user-guide/tutorials/prowler-app-slack-integration.mdx
Due: none

docs: name both cloud products in the Slack tutorial availability
  docs/user-guide/tutorials/prowler-app-slack-integration.mdx
Due: none
