Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(bms): remove is_mock from service, add service test
  prowler/providers/huaweicloud/services/bms/bms_service.py
  pyproject.toml
  tests/providers/huaweicloud/services/bms/huaweicloud_bms_service_test.py
  uv.lock
Due: prowler

test(ui): stabilize attack-paths refit integration test
  ui/__tests__/browser-harness.integration.test.ts
  ui/__tests__/browser-harness.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.harness.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.integration.test.tsx
Due: none

chore(changelog): v5.44.0 highlights
  docs/changelog.mdx
Due: none

chore(changelog): add missing info
  docs/changelog.mdx
Due: none

test(ui): scope E2E delete dialog and scans table locators
  ui/tests/helpers.ts
  ui/tests/scans/scans-page.ts
Due: none

test(ui): scope the E2E launch scan dialog by name
  ui/tests/scans/scans-page.ts
Due: none

chore(changelog): drop private cloud highlights
  docs/changelog.mdx
Due: none

test(ui): scope E2E delete dialog and scans table locators (#12898)
  ui/tests/helpers.ts
  ui/tests/scans/scans-page.ts
Due: none

fix(api): release providers blocked by scans whose worker died
  api/changelog.d/scan-heartbeat-release-stale.fixed.md
  api/src/backend/api/migrations/0101_scan_heartbeat_at.py
  api/src/backend/api/migrations/0102_scan_release_stale_periodic_task.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_scan_dead_release_view.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/orphan_recovery.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/jobs/scan_heartbeat.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_scan_heartbeat.py
Due: api

chore(changelog): v5.44.0
  api/CHANGELOG.md
  api/changelog.d/api-key-auth-no-row-lock.fixed.md
  api/changelog.d/attack-paths-tmp-db-reaper.fixed.md
  api/changelog.d/ephemeral-resource-count-reset.fixed.md
  api/changelog.d/latest-scan-null-completed-at.fixed.md
  api/changelog.d/latest-scan-selector.changed.md
  api/changelog.d/provider-deletion-unconfigured-sink.fixed.md
  api/changelog.d/s3-output-internal-endpoint.added.md
  api/changelog.d/s3-report-download-sigv4.fixed.md
  api/changelog.d/scan-create-task-args.fixed.md
  api/changelog.d/task-revoke-permissions.security.md
  api/changelog.d/worker-logging-restart-policy.fixed.md
  prowler/CHANGELOG.md
  prowler/changelog.d/aws-retries-max-attempts-env.added.md
  prowler/changelog.d/aws-sts-reuse-answering-region.fixed.md
  prowler/changelog.d/ui-e2e-secrets-via-env.security.md
  ui/CHANGELOG.md
  ui/changelog.d/aws-one-step-connect.changed.md
  ui/changelog.d/bundled-icons-offline.fixed.md
  ui/changelog.d/findings-page-streaming.changed.md
  ui/changelog.d/first-run-add-provider.changed.md
  ui/changelog.d/mute-rule-error-toast-raw-json.fixed.md
  ui/changelog.d/provider-connection-check-wait.fixed.md
  ui/changelog.d/sidebar-add-provider-action.added.md
  ui/changelog.d/sidebar-mode-hydration.fixed.md
Due: prowler, api

chore(changelog): v5.44.0 highlights (#12897)
  docs/changelog.mdx
Due: none

chore(changelog): v5.44.0 (#12900)
  api/CHANGELOG.md
  api/changelog.d/api-key-auth-no-row-lock.fixed.md
  api/changelog.d/attack-paths-tmp-db-reaper.fixed.md
  api/changelog.d/ephemeral-resource-count-reset.fixed.md
  api/changelog.d/latest-scan-null-completed-at.fixed.md
  api/changelog.d/latest-scan-selector.changed.md
  api/changelog.d/provider-deletion-unconfigured-sink.fixed.md
  api/changelog.d/s3-output-internal-endpoint.added.md
  api/changelog.d/s3-report-download-sigv4.fixed.md
  api/changelog.d/scan-create-task-args.fixed.md
  api/changelog.d/task-revoke-permissions.security.md
  api/changelog.d/worker-logging-restart-policy.fixed.md
  prowler/CHANGELOG.md
  prowler/changelog.d/aws-retries-max-attempts-env.added.md
  prowler/changelog.d/aws-sts-reuse-answering-region.fixed.md
  prowler/changelog.d/ui-e2e-secrets-via-env.security.md
  ui/CHANGELOG.md
  ui/changelog.d/aws-one-step-connect.changed.md
  ui/changelog.d/bundled-icons-offline.fixed.md
  ui/changelog.d/findings-page-streaming.changed.md
  ui/changelog.d/first-run-add-provider.changed.md
  ui/changelog.d/mute-rule-error-toast-raw-json.fixed.md
  ui/changelog.d/provider-connection-check-wait.fixed.md
  ui/changelog.d/sidebar-add-provider-action.added.md
  ui/changelog.d/sidebar-mode-hydration.fixed.md
Due: prowler, api

chore(api): update prowler dependency to v5.44 for release 5.44.0
  api/pyproject.toml
  api/uv.lock
Due: api

docs(api): state when a dead scan is released in the changelog
  api/changelog.d/scan-heartbeat-release-stale.fixed.md
Due: api

chore(api): Update prowler dependency to v5.44 for release 5.44.0 (#12901)
  api/pyproject.toml
  api/uv.lock
Due: api

test(ui): assert the attack-paths fit settles with every visible node on screen
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.integration.test.tsx
Due: none

fix(gcp): pass logging check for load balancers with backend buckets
  prowler/changelog.d/gcp-lb-logging-backend-bucket.fixed.md
  prowler/providers/gcp/services/compute/compute_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/compute/compute_service_test.py
Due: prowler

chore(release): Bump versions to v5.45.0
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  docs/getting-started/installation/prowler-app.mdx
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

chore(release): Bump versions to v5.44.1
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

chore(release): Bump versions to v5.44.1 (#12906)
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

chore(release): Bump versions to v5.45.0 (#12905)
  .env
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/uv.lock
  docs/getting-started/installation/prowler-app.mdx
  prowler/config/config.py
  pyproject.toml
  uv.lock
Due: prowler, api

chore(trivy): suppress fast-uri CVE-2026-84292
  .trivyignore.yaml
Due: none

chore(trivy): suppress fast-uri CVE-2026-84292 (#12907)
  .trivyignore.yaml
Due: none

chore(trivy): suppress fast-uri CVE-2026-84292 (#12908)
  .trivyignore.yaml
Due: none

fix(ui): select OCI home region by value in e2e
  ui/tests/providers/providers-page.ts
  ui/types/formSchemas.ts
Due: none

fix(oci): use home region for identity bootstrap (#12865)
  .github/workflows/sdk-refresh-oci-regions.yml
  api/changelog.d/oci-home-region-bootstrap.fixed.md
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  docs/user-guide/providers/oci/getting-started-oci.mdx
  prowler/changelog.d/oci-home-region-bootstrap.fixed.md
  prowler/providers/oraclecloud/oraclecloud_provider.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
  tests/providers/oraclecloud/ui_regions_sync_test.py
  ui/changelog.d/oci-home-region-bootstrap.fixed.md
  ui/components/providers/workflow/forms/via-credentials/oraclecloud-credentials-form.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/provider-credentials/build-credentials.ts
  ui/lib/provider-credentials/oci-regions.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
  ui/types/components.ts
  ui/types/env.d.ts
  ui/types/formSchemas.test.ts
  ui/types/formSchemas.ts
  util/update_oci_regions.py
Due: prowler, api

fix(oci): use home region for identity bootstrap (#12909)
  .github/workflows/sdk-refresh-oci-regions.yml
  api/changelog.d/oci-home-region-bootstrap.fixed.md
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  docs/user-guide/providers/oci/getting-started-oci.mdx
  prowler/changelog.d/oci-home-region-bootstrap.fixed.md
  prowler/providers/oraclecloud/oraclecloud_provider.py
  tests/providers/oraclecloud/oraclecloud_provider_test.py
  tests/providers/oraclecloud/ui_regions_sync_test.py
  ui/changelog.d/oci-home-region-bootstrap.fixed.md
  ui/components/providers/workflow/forms/via-credentials/oraclecloud-credentials-form.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/provider-credentials/build-credentials.ts
  ui/lib/provider-credentials/oci-regions.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
  ui/types/components.ts
  ui/types/env.d.ts
  ui/types/formSchemas.test.ts
  ui/types/formSchemas.ts
  util/update_oci_regions.py
Due: prowler, api

test(ui): stabilize attack-paths refit integration test (#12896)
  ui/__tests__/browser-harness.integration.test.ts
  ui/__tests__/browser-harness.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.harness.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.integration.test.tsx
Due: none

WIP
  .gitignore
  api/.env.example
  api/bin/cloudgov-beat.sh
  api/bin/cloudgov-web.sh
  api/bin/cloudgov-worker.sh
  api/requirements.txt
  api/runtime.txt
  api/src/backend/api/account_bootstrap.py
  api/src/backend/api/cloudgov/__init__.py
  api/src/backend/api/cloudgov/authentication.py
  api/src/backend/api/management/__init__.py
  api/src/backend/api/management/commands/__init__.py
  api/src/backend/api/templates/uaa_client/login_error.html
  api/src/backend/api/tests/test_cloudfoundry.py
  api/src/backend/api/tests/test_cloudgov_authentication.py
  api/src/backend/config/cloudfoundry.py
  api/src/backend/config/settings/celery.py
  api/src/backend/config/settings/social_login.py
  cloudgov-vars.example.yml
  docs/user-guide/providers/cloudgov/authentication.mdx
  docs/user-guide/providers/cloudgov/getting-started-cloudgov.mdx
  manifest.yml
Due: api

Procfile
  api/Procfile
Due: api

continued documenting attempt all 3 apps starting
  api/.cfignore
  api/bin/cloudgov-beat.sh
  api/bin/cloudgov-web.sh
  api/bin/cloudgov-worker.sh
  api/requirements.txt
  api/src/backend/api/account_bootstrap.py
  api/src/backend/api/cloudgov/authentication.py
  api/src/backend/api/tests/test_cloudfoundry.py
  api/src/backend/api/tests/test_cloudgov_authentication.py
  api/src/backend/api/tests/test_cloudgov_requirements.py
  api/src/backend/config/cloudfoundry.py
  api/src/backend/config/settings/social_login.py
  docs/user-guide/providers/cloudgov/common-issues.mdx
  docs/user-guide/providers/cloudgov/getting-started-cloudgov.mdx
  docs/user-guide/providers/cloudgov/required-files.mdx
  manifest.yml
Due: api

deployment successful
  docs/user-guide/providers/cloudgov/common-issues.mdx
  manifest.yml
Due: none

Successfully UAA SAML deployment
  .env
  .gitignore
  api/cf_lockfile.txt
  api/src/backend/api/account_bootstrap.py
  api/src/backend/api/cloudgov/authentication.py
  api/src/backend/api/cloudgov/views.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_cloudgov_authentication.py
  api/src/backend/config/django/base.py
  api/src/backend/config/django/production.py
  api/src/backend/config/settings/social_login.py
  api/src/backend/config/urls.py
  api/wheels/prowler-5.23.0-py3-none-any.whl
  cloudgov-vars.example.yml
  docs/user-guide/providers/cloudgov/authentication.mdx
  manifest.yml
  ui/.cfignore
  ui/app/api/auth/callback/saml/route.ts
  ui/components/auth/oss/sign-in-form.tsx
Due: api

WIP Status deployed and working with UAA
  PROVIDER_SETUP_NEXT_STEPS.md
  SESSION_SUMMARY.md
Due: none

gitleaks scan
  .gitleaksignore
Due: none

remove status docs
  PROVIDER_SETUP_NEXT_STEPS.md
  SESSION_SUMMARY.md
Due: none

fix(api): address PR review comments for Cloud Foundry integration
  api/src/backend/config/django/production.py
  api/src/backend/config/settings/social_login.py
  docs/user-guide/providers/cloudgov/cloudgov-architecture-guide.mdx
  docs/user-guide/providers/cloudgov/getting-started-cloudgov.mdx
  manifest.yml
Due: api

fix(cloudgov): resolve rebase markers and secure SAML callback
  api/src/backend/config/settings/social_login.py
Due: api
