Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(aws): update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(ui): defer billing onboarding and add AWS button styling (#12803)
  ui/changelog.d/aws-marketplace-button.added.md
  ui/changelog.d/defer-onboarding-on-billing.fixed.md
  ui/components/onboarding/__tests__/onboarding-gate.test.tsx
  ui/components/onboarding/onboarding-gate.tsx
  ui/components/shadcn/button/button.tsx
  ui/styles/globals.css
  ui/tests/onboarding/evidence/aws-marketplace-button-desktop.png
  ui/tests/onboarding/evidence/aws-marketplace-button-mobile.png
  ui/tests/onboarding/evidence/aws-marketplace-button-tablet.png
Due: none

fix(container): patch high Debian CVEs in SDK and API (#12805)
  Dockerfile
  api/Dockerfile
  api/changelog.d/api-image-debian-cves.security.md
  prowler/changelog.d/sdk-image-debian-cves.security.md
Due: prowler, api

feat(compliance): port FedRAMP 20x KSI to universal format
  prowler/changelog.d/fedramp-20x-ksi-2026.added.md
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.removed.md
  prowler/compliance/fedramp_20x_ksi_2026.json
Due: prowler

feat(compliance): replace FedRAMP 20x pilot KSI with Consolidated Rules 2026.06.24.01 (#11701)
  dashboard/compliance/fedramp_20x_ksi_low_aws.py
  dashboard/compliance/fedramp_20x_ksi_low_azure.py
  dashboard/compliance/fedramp_20x_ksi_low_gcp.py
  prowler/changelog.d/fedramp-20x-ksi-2026.added.md
  prowler/changelog.d/fedramp-20x-ksi-low-pilot.removed.md
  prowler/compliance/aws/fedramp_20x_ksi_low_aws.json
  prowler/compliance/azure/fedramp_20x_ksi_low_azure.json
  prowler/compliance/fedramp_20x_ksi_2026.json
  prowler/compliance/gcp/fedramp_20x_ksi_low_gcp.json
Due: prowler

fix(ui): defer billing onboarding and add AWS button styling (#12807)
  ui/changelog.d/aws-marketplace-button.added.md
  ui/changelog.d/defer-onboarding-on-billing.fixed.md
  ui/components/onboarding/__tests__/onboarding-gate.test.tsx
  ui/components/onboarding/onboarding-gate.tsx
  ui/components/shadcn/button/button.tsx
  ui/styles/globals.css
  ui/tests/onboarding/evidence/aws-marketplace-button-desktop.png
  ui/tests/onboarding/evidence/aws-marketplace-button-mobile.png
  ui/tests/onboarding/evidence/aws-marketplace-button-tablet.png
Due: none

fix(ui): show registry removal errors inside modal
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.tsx
  ui/components/registry/registry-remove-dialog.tsx
  ui/types/registry.ts
Due: none

fix(ui): support Template provider credential fields
  ui/actions/providers/dynamic-provider-credentials.test.ts
  ui/components/providers/wizard/steps/dynamic-credentials-step.test.tsx
  ui/components/providers/workflow/provider-credential-fields.tsx
  ui/lib/provider-credentials/fixtures/template-credential-schema.json
  ui/lib/provider-credentials/provider-credential-schema.test.ts
  ui/lib/provider-credentials/provider-credential-schema.ts
  ui/lib/provider-credentials/provider-credential-values.test.ts
  ui/lib/provider-credentials/provider-credential-values.ts
Due: none

docs(readme): update check and compliance counts
  README.md
Due: none

fix(inspector2): exact age thresholds and docstrings
  docs/developer-guide/configurable-checks.mdx
  prowler/providers/aws/services/elbv2/elbv2_listener_fips_tls_enabled/elbv2_listener_fips_tls_enabled.py
  prowler/providers/aws/services/inspector2/inspector2_active_findings_kev_within_due_date/inspector2_active_findings_kev_within_due_date.py
  prowler/providers/aws/services/inspector2/inspector2_active_findings_no_known_exploited_vulnerabilities/inspector2_active_findings_no_known_exploited_vulnerabilities.py
  prowler/providers/aws/services/inspector2/inspector2_active_findings_within_max_age/inspector2_active_findings_within_max_age.py
  prowler/providers/aws/services/inspector2/inspector2_coverage_recently_scanned/inspector2_coverage_recently_scanned.py
  prowler/providers/aws/services/inspector2/inspector2_coverage_scan_status_active/inspector2_coverage_scan_status_active.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  prowler/providers/aws/services/transfer/transfer_server_fips_security_policy_enabled/transfer_server_fips_security_policy_enabled.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_kev_within_due_date/inspector2_active_findings_kev_within_due_date_test.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_no_known_exploited_vulnerabilities/inspector2_active_findings_no_known_exploited_vulnerabilities_test.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_within_max_age/inspector2_active_findings_within_max_age_test.py
  tests/providers/aws/services/inspector2/inspector2_coverage_recently_scanned/inspector2_coverage_recently_scanned_test.py
  tests/providers/aws/services/inspector2/inspector2_coverage_scan_status_active/inspector2_coverage_scan_status_active_test.py
Due: prowler

fix(inspector2): use BatchGetFindingDetails for KEV lookups
  permissions/prowler-additions-policy.json
  permissions/templates/cloudformation/prowler-scan-role.yml
  prowler/changelog.d/aws-inspector2-fips-checks.added.md
  prowler/providers/aws/services/inspector2/inspector2_active_findings_kev_within_due_date/inspector2_active_findings_kev_within_due_date.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_active_findings_kev_within_due_date/inspector2_active_findings_kev_within_due_date.py
  prowler/providers/aws/services/inspector2/inspector2_active_findings_no_known_exploited_vulnerabilities/inspector2_active_findings_no_known_exploited_vulnerabilities.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_active_findings_no_known_exploited_vulnerabilities/inspector2_active_findings_no_known_exploited_vulnerabilities.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_no_known_exploited_vulnerabilities/inspector2_active_findings_no_known_exploited_vulnerabilities_test.py
  tests/providers/aws/services/inspector2/inspector2_service_test.py
Due: prowler

fix(m365): skip defender preset policies without rules
  prowler/changelog.d/m365-defender-preset-policy-keyerror.fixed.md
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured.py
  prowler/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains.py
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled.py
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied.py
  prowler/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled.py
  tests/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured_test.py
  tests/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains_test.py
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied_test.py
  tests/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled_test.py
Due: prowler

fix(ui): add FedRAMP 20x cross-provider mappers
  ui/changelog.d/fedramp-20x-cross-provider-breakdown.fixed.md
  ui/components/compliance/compliance-custom-details/fedramp-20x-details.tsx
  ui/lib/compliance/compliance-mapper.test.ts
  ui/lib/compliance/compliance-mapper.ts
  ui/lib/compliance/compliance-report-types.test.ts
  ui/lib/compliance/compliance-report-types.ts
  ui/lib/compliance/fedramp-20x.test.ts
  ui/lib/compliance/fedramp-20x.tsx
  ui/types/compliance.ts
Due: none

fix(container): bump PowerShell to 7.5.11 in SDK and API
  .trivyignore.yaml
  Dockerfile
  api/Dockerfile
  api/changelog.d/api-image-powershell-dotnet-cve.security.md
  prowler/changelog.d/sdk-image-powershell-dotnet-cve.security.md
Due: prowler, api

fix(container): bump PowerShell to 7.5.11 in SDK and API (#12811)
  .trivyignore.yaml
  Dockerfile
  api/Dockerfile
  api/changelog.d/api-image-powershell-dotnet-cve.security.md
  prowler/changelog.d/sdk-image-powershell-dotnet-cve.security.md
Due: prowler, api

fix(m365): skip defender preset policies without rules (#12809)
  prowler/changelog.d/m365-defender-preset-policy-keyerror.fixed.md
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured.py
  prowler/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains.py
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled.py
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied.py
  prowler/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled.py
  tests/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured_test.py
  tests/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains_test.py
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied_test.py
  tests/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled_test.py
Due: prowler

refactor(ui): share grouped compliance accordion
  ui/lib/compliance/cmmc.ts
  ui/lib/compliance/fedramp-20x.ts
  ui/lib/compliance/grouped-accordion.tsx
Due: none

refactor(ui): centralize compliance status counters
  ui/lib/compliance/c5.tsx
  ui/lib/compliance/cis-controls.tsx
  ui/lib/compliance/cmmc.ts
  ui/lib/compliance/commons.tsx
  ui/lib/compliance/csa.tsx
  ui/lib/compliance/cyber-essentials.tsx
  ui/lib/compliance/dora.tsx
  ui/lib/compliance/fedramp-20x.ts
  ui/lib/compliance/okta-idaas-stig.tsx
Due: none

fix(aws): try excluded regions last in the bootstrap failover
  docs/user-guide/providers/aws/regions-and-partitions.mdx
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

fix(azure): use the selected cloud endpoints in Defender and Key Vault
  prowler/changelog.d/azure-sovereign-cloud-defender-keyvault-hosts.fixed.md
  prowler/providers/azure/lib/service/service.py
  prowler/providers/azure/models.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
  tests/providers/azure/lib/service/azure_service_test.py
  tests/providers/azure/services/defender/defender_service_test.py
  tests/providers/azure/services/keyvault/keyvault_service_test.py
Due: prowler

fix(ui): add FedRAMP 20x cross-provider mappers (#12810)
  ui/changelog.d/fedramp-20x-cross-provider-breakdown.fixed.md
  ui/components/compliance/compliance-custom-details/fedramp-20x-details.tsx
  ui/lib/compliance/c5.tsx
  ui/lib/compliance/cis-controls.tsx
  ui/lib/compliance/cmmc.ts
  ui/lib/compliance/commons.tsx
  ui/lib/compliance/compliance-mapper.test.ts
  ui/lib/compliance/compliance-mapper.ts
  ui/lib/compliance/compliance-report-types.test.ts
  ui/lib/compliance/compliance-report-types.ts
  ui/lib/compliance/csa.tsx
  ui/lib/compliance/cyber-essentials.tsx
  ui/lib/compliance/dora.tsx
  ui/lib/compliance/fedramp-20x.test.ts
  ui/lib/compliance/fedramp-20x.ts
  ui/lib/compliance/grouped-accordion.tsx
  ui/lib/compliance/okta-idaas-stig.tsx
  ui/types/compliance.ts
Due: none

docs(azure): add docstrings requested in review
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
Due: prowler

fix(aws): fail over on a read timeout too
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

feat(ui): support Registry artifact version updates
  ui/actions/registry/registry.adapter.test.ts
  ui/actions/registry/registry.adapter.ts
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
  ui/components/registry/registry-artifact-card.integration.test.tsx
  ui/components/registry/registry-artifact-card.tsx
  ui/components/registry/registry-artifact-task-handler.test.tsx
  ui/components/registry/registry-artifact-task-handler.ts
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.model.test.ts
  ui/components/registry/registry-explorer.model.ts
  ui/components/registry/registry-explorer.tsx
  ui/lib/registry/artifact-execution.test.ts
  ui/lib/registry/artifact-execution.ts
  ui/lib/registry/artifact-notifications.tsx
  ui/tests/registry/controlled-registry-api.mts
  ui/tests/registry/controlled-registry-fixture.ts
  ui/tests/registry/registry-page.ts
  ui/tests/registry/registry.md
  ui/tests/registry/registry.spec.ts
  ui/types/registry.ts
Due: none

fix(ui): refresh Registry catalog without leaving the page
  ui/components/registry/registry-explorer.integration.test.tsx
  ui/components/registry/registry-explorer.tsx
  ui/components/registry/use-registry-refresh.ts
  ui/tests/registry/controlled-registry-api.mts
  ui/tests/registry/controlled-registry-fixture.ts
  ui/tests/registry/registry-page.ts
  ui/tests/registry/registry.md
  ui/tests/registry/registry.spec.ts
Due: none

fix(ui): preserve pending tasks when reloading
  ui/store/task-watcher/store.test.ts
  ui/store/task-watcher/store.ts
Due: none

fix(ui): keep Registry refresh errors retryable
  ui/actions/registry/registry.test.ts
  ui/actions/registry/registry.ts
Due: none

fix(aws): correct VPC endpoint account trust checks
  prowler/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries.py
  tests/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries_test.py
Due: prowler

feat(ui): allow disabling self-registration in Cloud
  ui/Dockerfile
  ui/app/(auth)/(guest-only)/sign-in/page.tsx
  ui/app/(auth)/(guest-only)/sign-up/page.test.tsx
  ui/app/(auth)/(guest-only)/sign-up/page.tsx
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.test.ts
  ui/app/api/auth/callback/google/route.ts
  ui/changelog.d/disable-self-registration.added.md
  ui/components/auth/oss/auth-form.tsx
  ui/components/auth/oss/sign-in-form.tsx
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/users/profile/memberships-card-client.test.tsx
  ui/components/users/profile/memberships-card-client.tsx
  ui/components/users/profile/memberships-card.tsx
  ui/lib/auth-callback-url.test.ts
  ui/lib/auth-callback-url.ts
  ui/lib/get-runtime-config.client.test.ts
  ui/lib/runtime-config.shared.ts
  ui/lib/runtime-config.test.ts
  ui/lib/runtime-config.ts
  ui/lib/runtime-env.test.ts
  ui/lib/runtime-env.ts
  ui/lib/shared/env.test.ts
  ui/lib/shared/env.ts
Due: none

docs(sdk): add VPC endpoint fix changelog
  prowler/changelog.d/vpc-endpoint-principal-account-list.fixed.md
Due: prowler

fix(aws): preserve endpoint condition semantics
  prowler/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries.py
  tests/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries_test.py
Due: prowler

test(ui): cover GitHub callback self-registration redirect
  ui/app/api/auth/callback/github/route.test.ts
Due: none

fix(ui): preserve provider aliases and field validation errors
  ui/actions/providers/registry-provider.test.ts
  ui/actions/providers/registry-provider.ts
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/wizard/steps/dynamic-credentials-step.test.tsx
  ui/components/providers/wizard/steps/dynamic-credentials-step.tsx
  ui/components/providers/workflow/forms/connect-account-form.test.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
Due: none

fix(ui): combine permissions across current user roles
  ui/lib/auth/current-user.test.ts
  ui/lib/auth/current-user.ts
Due: none

fix(ui): recover task polling after interrupted navigation
  ui/store/task-watcher/store.test.ts
  ui/store/task-watcher/store.ts
Due: none

test(ui): strengthen Registry privacy and pending task coverage
  ui/tests/registry/controlled-registry-api.mts
  ui/tests/registry/controlled-registry-fixture.ts
  ui/tests/registry/registry-page.ts
  ui/tests/registry/registry.md
  ui/tests/registry/registry.spec.ts
Due: none
