Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(firehose): false positive in `firehose_stream_encrypted_at_rest` (#8707)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
  prowler/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk.py
  prowler/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public.py
  prowler/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version.py
  prowler/providers/aws/services/kafka/kafka_service.py
  tests/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk_test.py
  tests/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public_test.py
  tests/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version_test.py
  tests/providers/aws/services/kafka/kafka_service_test.py
Due: prowler

feat: use default hash alg PBKDF2
  api/src/backend/api/migrations/0048_add_api_key_model.py
  api/src/backend/api/migrations/0048_apikey.py
  api/src/backend/api/models.py
  api/src/backend/config/django/base.py
Due: api

feat: remove using_admin_db()
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/models.py
Due: api

wip: do not use progress bar in Celery workers
  prowler/providers/iac/iac_provider.py
Due: prowler

wip
  prowler/lib/scan/scan.py
  prowler/providers/iac/iac_provider.py
Due: prowler

wip
  prowler/lib/scan/scan.py
Due: prowler

wip: fix IaC scan mapping
  prowler/lib/scan/scan.py
Due: prowler

wip: add IaC to API
  api/CHANGELOG.md
  api/Dockerfile
  api/src/backend/api/migrations/0048_iac_provider.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/tasks/jobs/export.py
  prowler/lib/scan/scan.py
Due: prowler, api

wip: add IaC to UI
  ui/CHANGELOG.md
  ui/components/filters/custom-provider-inputs.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/icons/providers-badge/iac-provider-badge.tsx
  ui/components/icons/providers-badge/index.ts
  ui/components/overview/provider-overview/provider-overview.tsx
  ui/components/providers/enhanced-provider-selector.tsx
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/via-credentials/iac-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/index.ts
  ui/components/ui/entities/get-provider-logo.tsx
  ui/lib/external-urls.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
  ui/types/providers.ts
Due: none

wip: set defaults
  prowler/lib/outputs/finding.py
Due: prowler

chore: update trivy
  api/Dockerfile
Due: api

chore: update comments
  prowler/providers/iac/iac_provider.py
Due: prowler

remove: commit local dev changes, revert after sending PR
  .env
  api/pyproject.toml
Due: api

chore: resolve comments
  prowler/providers/aws/services/ec2/ec2_ami_public/ec2_ami_public.py
  prowler/providers/aws/services/ec2/ec2_instance_with_outdated_ami/ec2_instance_with_outdated_ami.py
  prowler/providers/aws/services/ec2/ec2_service.py
Due: prowler

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: permission-aware include parameter
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/v1/serializers.py
Due: api

docs(threatscore): add docs related with Prowler ThreatScore
  docs/tutorials/compliance/threatscore.md
  mkdocs.yml
Due: none

chore(changelog): remove whitespace in links
  ui/CHANGELOG.md
Due: none

docs(threatscore): fix lines
  docs/tutorials/compliance/threatscore.md
Due: none

chore(release): Bump version to v5.12.2
  prowler/config/config.py
  pyproject.toml
Due: prowler

chore(gha): permissions missed for conflict checker action
  .github/workflows/pr-conflict-checker.yml
Due: none

chore(gha): permissions missed for conflict checker action (#8714)
  .github/workflows/pr-conflict-checker.yml
Due: none

chore: revision
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled_without_findings/accessanalyzer_enabled_without_findings.metadata.json
Due: prowler

docs(threatscore): add info about pillars and sub-pillars
  docs/tutorials/compliance/threatscore.md
Due: none

chore(aws/account): adapt metadata to new standarized format
  prowler/providers/aws/services/account/account_maintain_current_contact_details/account_maintain_current_contact_details.metadata.json
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.metadata.json
  prowler/providers/aws/services/account/account_security_contact_information_is_registered/account_security_contact_information_is_registered.metadata.json
  prowler/providers/aws/services/account/account_security_questions_are_registered_in_the_aws_account/account_security_questions_are_registered_in_the_aws_account.metadata.json
Due: prowler

chore(aws/acm): adapt metadata to new standarized format
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.metadata.json
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.metadata.json
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms.metadata.json
Due: prowler

feat(docs): add renaming checks to developer guide
  docs/developer-guide/renaming-checks.md
  mkdocs.yml
Due: none

chore(changelog): remove whitespace in links (#8712)
  ui/CHANGELOG.md
Due: none

chore(release): Bump version to v5.12.2 (#8713)
  prowler/config/config.py
  pyproject.toml
Due: prowler

feat: add changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/apigatewayv2): adapt metadata to new standarized format
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_access_logging_enabled/apigatewayv2_api_access_logging_enabled.metadata.json
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_authorizers_enabled/apigatewayv2_api_authorizers_enabled.metadata.json
Due: prowler
