Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

test: adapt mocked values to new BaseModels comprobations
  tests/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists_test.py
  tests/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_cmk_encrypted/monitor_storage_account_with_activity_logs_cmk_encrypted_test.py
  tests/providers/azure/services/storage/storage_account_key_access_disabled/storage_account_key_access_disabled_test.py
  tests/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled_test.py
  tests/providers/azure/services/storage/storage_blob_versioning_is_enabled/storage_blob_versioning_is_enabled_test.py
  tests/providers/azure/services/storage/storage_cross_tenant_replication_disabled/storage_cross_tenant_replication_disabled_test.py
  tests/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied_test.py
  tests/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys_test.py
  tests/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12_test.py
  tests/providers/azure/services/storage/storage_ensure_private_endpoints_in_storage_accounts/storage_ensure_private_endpoints_in_storage_accounts_test.py
  tests/providers/azure/services/storage/storage_ensure_soft_delete_is_enabled/storage_ensure_soft_delete_is_enabled_test.py
  tests/providers/azure/services/storage/storage_geo_redundant_enabled/storage_geo_redundant_enabled_test.py
  tests/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled_test.py
  tests/providers/azure/services/storage/storage_key_rotation_90_days/storage_key_rotation_90_days_test.py
  tests/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
  tests/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/storage_smb_channel_encryption_with_secure_algorithm_test.py
Due: none

feat: add new check
  prowler/providers/m365/services/entra/entra_intune_enrollment_sign_in_frequency_every_time/__init__.py
  prowler/providers/m365/services/entra/entra_intune_enrollment_sign_in_frequency_every_time/entra_intune_enrollment_sign_in_frequency_every_time.metadata.json
  prowler/providers/m365/services/entra/entra_intune_enrollment_sign_in_frequency_every_time/entra_intune_enrollment_sign_in_frequency_every_time.py
  tests/providers/m365/services/entra/entra_intune_enrollment_sign_in_frequency_every_time/entra_intune_enrollment_sign_in_frequency_every_time_test.py
Due: prowler

fix(mutelist): add uniqueness per type and add tests
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Due: api

chore: add entry to changelog
  prowler/CHANGELOG.md
Due: prowler

fix(mutelist): test
  api/src/backend/api/tests/test_views.py
Due: api

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: changelog and logic
  prowler/CHANGELOG.md
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
Due: prowler

feat: Processors API endpoint, implement MuteList (#7993)
  api/CHANGELOG.md
  api/src/backend/api/db_utils.py
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0033_processors_enum.py
  api/src/backend/api/migrations/0034_processors.py
  api/src/backend/api/migrations/0035_finding_muted_reason.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/base.py
  api/src/backend/api/v1/serializer_utils/integrations.py
  api/src/backend/api/v1/serializer_utils/processors.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

feat(resources): optimize resource retrieval to return latest findings
  api/src/backend/api/v1/mixins.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

chore: update documentation and API spec
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

chore: improve changelog
  api/CHANGELOG.md
Due: api

fix: tests
  tests/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest_test.py
Due: none

fix: remove unwanted files from pull request
  api/src/backend/api/adapters.py
  api/src/backend/api/migrations/0030_samlconfigurations.py
  api/src/backend/api/migrations/0033_samltoken.py
  api/src/backend/api/tests/test_adapters.py
Due: api

feat(resources): optimize findings lookup for retrieve
  api/src/backend/api/v1/views.py
Due: api

fix: remove renamed migration files from pull request
  api/src/backend/api/migrations/0031_lighthouseconfiguration.py
  api/src/backend/api/migrations/0032_scan_disable_on_cascade_periodic_tasks.py
Due: api

fix: restore migration files from master
  api/src/backend/api/migrations/0030_lighthouseconfiguration.py
  api/src/backend/api/migrations/0031_scan_disable_on_cascade_periodic_tasks.py
Due: api

feat(saml): prevent duplicate SAML entityID configuration
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_models.py
Due: api

test: adapt mocked values to new BaseModels comprobations
  tests/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private_test.py
Due: none

feat(security): password strength
  api/README.md
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/validators.py
  api/src/backend/config/django/base.py
  ui/components/auth/oss/auth-form.tsx
  ui/components/auth/oss/password-validator.tsx
  ui/types/authFormSchema.ts
Due: api

chore: changelog
  api/CHANGELOG.md
  ui/CHANGELOG.md
Due: api

fix: minor ui tweaks
  ui/components/auth/oss/password-validator.tsx
Due: none

fix: SAML 403 message (#8221)
  ui/actions/integrations/saml.ts
Due: none

fix(ui): lint
  ui/components/auth/oss/password-validator.tsx
Due: none

feat: Mutelist implementation (#8190)
  ui/CHANGELOG.md
  ui/actions/processors/index.ts
  ui/actions/processors/processors.ts
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/custom-checkbox-muted-findings.tsx
  ui/components/findings/muted.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/providers/forms/index.ts
  ui/components/providers/forms/muted-findings-config-form.tsx
  ui/components/providers/index.ts
  ui/components/providers/muted-findings-config-button.tsx
  ui/components/ui/custom/custom-alert-modal.tsx
  ui/components/ui/form/form-buttons.tsx
  ui/lib/yaml.ts
  ui/package-lock.json
  ui/package.json
  ui/types/components.ts
  ui/types/formSchemas.ts
  ui/types/index.ts
  ui/types/processors.ts
Due: none

fix: tests
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/tests/test_views.py
  ui/components/auth/oss/password-validator.tsx
Due: api

fix: tests
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/test_views.py
Due: api

fix(firehose): list all streams and fix `firehose_stream_encrypted_at_rest` logic (#8213)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/firehose/firehose_service.py
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
  tests/providers/aws/services/firehose/firehose_service_test.py
  tests/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest_test.py
Due: prowler

fix(azure/storage): use BaseModel for all Storage models (#8222)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists_test.py
  tests/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_cmk_encrypted/monitor_storage_account_with_activity_logs_cmk_encrypted_test.py
  tests/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private_test.py
  tests/providers/azure/services/storage/storage_account_key_access_disabled/storage_account_key_access_disabled_test.py
  tests/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled_test.py
  tests/providers/azure/services/storage/storage_blob_versioning_is_enabled/storage_blob_versioning_is_enabled_test.py
  tests/providers/azure/services/storage/storage_cross_tenant_replication_disabled/storage_cross_tenant_replication_disabled_test.py
  tests/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied_test.py
  tests/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys_test.py
  tests/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12_test.py
  tests/providers/azure/services/storage/storage_ensure_private_endpoints_in_storage_accounts/storage_ensure_private_endpoints_in_storage_accounts_test.py
  tests/providers/azure/services/storage/storage_ensure_soft_delete_is_enabled/storage_ensure_soft_delete_is_enabled_test.py
  tests/providers/azure/services/storage/storage_geo_redundant_enabled/storage_geo_redundant_enabled_test.py
  tests/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled_test.py
  tests/providers/azure/services/storage/storage_key_rotation_90_days/storage_key_rotation_90_days_test.py
  tests/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
  tests/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/storage_smb_channel_encryption_with_secure_algorithm_test.py
Due: prowler

feat(saml): prevent duplicate SAML entityID configuration (#8224)
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_models.py
Due: api

Delete tests/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/storage_smb_channel_encryption_with_secure_algorithm_test.py
  tests/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/storage_smb_channel_encryption_with_secure_algorithm_test.py
Due: none

fix: tests
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/integration/test_providers.py
Due: api

fix(firehose): list all streams and fix `firehose_stream_encrypted_at_rest` logic (#8226)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/firehose/firehose_service.py
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
  tests/providers/aws/services/firehose/firehose_service_test.py
  tests/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest_test.py
Due: prowler

fix: add min special chars
  api/src/backend/api/validators.py
  api/src/backend/config/django/base.py
Due: api

fix: remove unsolved merge comment
  tests/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled_test.py
Due: none

feat: wip on exclude mute findings
  ui/components/filters/custom-checkbox-muted-findings.tsx
  ui/components/findings/findings-filters.tsx
Due: none

fix: validate min special chars
  api/src/backend/api/validators.py
Due: api

fix: validator
  api/src/backend/api/validators.py
Due: api

fix: adapt the Account mocked data to new BaseModel
  tests/providers/azure/services/storage/storage_smb_protocol_version_is_latest/storage_smb_protocol_version_is_latest_test.py
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
