Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix: remove None databases name for removing provider neo4j databases
  api/src/backend/api/attack_paths/retryable_session.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
Due: api

chore(azure): enhance metadata for `app` service (#9613)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on.metadata.json
  prowler/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up.metadata.json
  prowler/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https.metadata.json
  prowler/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest.metadata.json
  prowler/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest.metadata.json
  prowler/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest.metadata.json
  prowler/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20.metadata.json
  prowler/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled.metadata.json
  prowler/providers/azure/services/app/app_function_access_keys_configured/app_function_access_keys_configured.metadata.json
  prowler/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled.metadata.json
  prowler/providers/azure/services/app/app_function_ftps_deployment_disabled/app_function_ftps_deployment_disabled.metadata.json
  prowler/providers/azure/services/app/app_function_identity_is_configured/app_function_identity_is_configured.metadata.json
  prowler/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges.metadata.json
  prowler/providers/azure/services/app/app_function_latest_runtime_version/app_function_latest_runtime_version.metadata.json
  prowler/providers/azure/services/app/app_function_not_publicly_accessible/app_function_not_publicly_accessible.metadata.json
  prowler/providers/azure/services/app/app_function_vnet_integration_enabled/app_function_vnet_integration_enabled.metadata.json
  prowler/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled.metadata.json
  prowler/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12.metadata.json
  prowler/providers/azure/services/app/app_register_with_identity/app_register_with_identity.metadata.json
Due: prowler

fix: improve API startup process manage.py detection (#9856)
  api/src/backend/api/apps.py
Due: api

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

chore(openstack): remove keystone service
  prowler/providers/openstack/services/keystone/__init__.py
  prowler/providers/openstack/services/keystone/keystone_client.py
  prowler/providers/openstack/services/keystone/keystone_projects_enabled/__init__.py
  prowler/providers/openstack/services/keystone/keystone_projects_enabled/keystone_projects_enabled.metadata.json
  prowler/providers/openstack/services/keystone/keystone_projects_enabled/keystone_projects_enabled.py
  prowler/providers/openstack/services/keystone/keystone_service.py
  tests/providers/openstack/services/keystone/keystone_projects_enabled/keystone_projects_enabled_test.py
  tests/providers/openstack/services/keystone/keystone_service_test.py
Due: prowler

chore(azure): enhance metadata for `appinsights` service (#9614)
  prowler/CHANGELOG.md
  prowler/providers/azure/services/appinsights/appinsights_ensure_is_configured/appinsights_ensure_is_configured.metadata.json
Due: prowler

chore: update `api/CHANGELOG.md`
  api/CHANGELOG.md
Due: api

feat(gcp): add check to detect persistent disks on suspended VM instances (#9747)
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/__init__.py
  prowler/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/compute_instance_suspended_without_persistent_disks.metadata.json
  prowler/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/compute_instance_suspended_without_persistent_disks.py
  prowler/providers/gcp/services/compute/compute_service.py
  tests/providers/gcp/services/compute/compute_instance_suspended_without_persistent_disks/compute_instance_suspended_without_persistent_disks_test.py
Due: prowler

fix: improve API startup process manage.py detection (#9859)
  api/src/backend/api/apps.py
Due: api

fix: remove `None` databases name for removing provider Neo4j databases (#9858)
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/retryable_session.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
Due: api

fix(attack-paths): read findings using replica DB and add more logs
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/prowler.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

feat(openstack): add labeler and modify sdk tests workflow
  .github/labeler.yml
  .github/workflows/sdk-tests.yml
Due: none

fix(attack-paths): add api/CHANGELOG.md
  api/CHANGELOG.md
Due: api

chore(skills): Improve Django and DRF skills (#9831)
  AGENTS.md
  api/AGENTS.md
  mcp_server/AGENTS.md
  skills/django-drf/SKILL.md
  skills/django-drf/assets/security_patterns.py
  skills/django-drf/references/file-locations.md
  skills/django-drf/references/json-api-conventions.md
  skills/jsonapi/SKILL.md
  skills/prowler-api/SKILL.md
  skills/prowler-api/assets/celery_patterns.py
  skills/prowler-api/assets/security_patterns.py
  skills/prowler-api/references/api-docs.md
  skills/prowler-api/references/configuration.md
  skills/prowler-api/references/file-locations.md
  skills/prowler-api/references/modeling-decisions.md
  skills/prowler-api/references/production-settings.md
  skills/prowler-commit/SKILL.md
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-api/assets/api_test.py
  skills/prowler-test-api/references/test-api-docs.md
  skills/skill-sync/assets/sync.sh
  ui/AGENTS.md
Due: api

fix(ui): enable nested modals inside resource detail drawer
  ui/components/resources/table/resource-detail.tsx
Due: none

feat(api): add provider_id filters to LatestResourceFilter
  api/src/backend/api/filters.py
Due: api

test(api): add tests for LatestResourceFilter provider_id filters
  api/src/backend/api/tests/test_views.py
Due: api

refactor(ui): migrate CodeSnippet from HeroUI to shadcn pattern
  ui/components/ui/code-snippet/code-snippet.tsx
Due: none

refactor(ui): migrate resource-detail from HeroUI to shadcn
  ui/components/resources/table/resource-detail.tsx
Due: none

fix(ui): change default pagination page size to 10
  ui/components/ui/table/data-table-pagination.tsx
Due: none

fix(attack-paths): load findings in batches into Neo4j
  api/src/backend/tasks/jobs/attack_paths/prowler.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(attack-paths): fix test read from replica
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(attack-paths): read findings using replica DB and add more logs (#9861)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/prowler.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

chore(changelog): add entry
  api/CHANGELOG.md
Due: api

fix: tests
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(attack-paths): add more logging
  .env
  api/src/backend/tasks/jobs/attack_paths/prowler.py
Due: api

fix: conflicts
  api/CHANGELOG.md
Due: api

fix(attack-paths): fix CHANGELOG
  api/CHANGELOG.md
Due: api

fix(attack-paths): read findings using replica DB and add more logs (#9863)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/prowler.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

feat(aws/codebuild): add check for CodeBreach webhook filter vulnerability (#9840)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/codebuild_project_webhook_filters_use_anchored_patterns.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/codebuild_project_webhook_filters_use_anchored_patterns.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_webhook_filters_use_anchored_patterns/codebuild_project_webhook_filters_use_anchored_patterns_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Due: prowler

fix: remove `None` databases name for removing provider Neo4j databases (#9860)
  api/src/backend/api/attack_paths/retryable_session.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
Due: api

refactor(ui): add paramPrefix support to DataTable components
  ui/components/ui/table/data-table-client-pagination.tsx
  ui/components/ui/table/data-table-client-search.tsx
  ui/components/ui/table/data-table-pagination.tsx
  ui/components/ui/table/data-table-search.tsx
  ui/components/ui/table/data-table.tsx
Due: none

refactor(ui): migrate resource-detail findings to server-side pagination
  ui/components/resources/table/resource-detail.tsx
Due: none

style(ui): format menu-item and use-url-filters
  ui/components/ui/sidebar/menu-item.tsx
  ui/hooks/use-url-filters.ts
Due: none

fix(attack-paths): fix tests
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api
