Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

make black happy
  tests/providers/aws/services/secretsmanager/secretsmanager_has_restrictive_resource_policy/secretsmanager_has_restrictive_resource_policy_test.py
Due: none

adapt check to follow best practices by avoiding "NotPrincipal" in a Deny statement of a resource-based policy
  prowler/providers/aws/services/secretsmanager/secretsmanager_has_restrictive_resource_policy/secretsmanager_has_restrictive_resource_policy.py
  tests/providers/aws/services/secretsmanager/secretsmanager_has_restrictive_resource_policy/secretsmanager_has_restrictive_resource_policy_test.py
Due: prowler

Enhance secretsmanager_has_restrictive_resource_policy check
  prowler/providers/aws/services/secretsmanager/secretsmanager_has_restrictive_resource_policy/secretsmanager_has_restrictive_resource_policy.py
  tests/providers/aws/services/secretsmanager/secretsmanager_has_restrictive_resource_policy/secretsmanager_has_restrictive_resource_policy_test.py
Due: prowler

chore(aws): add changelog entry for secretsmanager_has_restrictive_resource_policy
  prowler/CHANGELOG.md
Due: prowler

chore: add defusedxml as api dependency (#10401)
  api/poetry.lock
  api/pyproject.toml
Due: api

feat(api): replace _provider_id property with label-based isolation and regex injection for custom queries
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/cypher_rewriter.py
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/queries/aws.py
  api/src/backend/api/attack_paths/queries/schema.py
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/api/tests/test_cypher_rewriter.py
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/indexes.py
  api/src/backend/tasks/jobs/attack_paths/queries.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
Due: api

chore(skills): improve attack-paths-query skill accuracy and schema emphasis
  skills/prowler-attack-paths-query/SKILL.md
Due: none

chore(api): remove stale _provider_id references and dead parameter from attack paths
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

Adding CF Template to do full org deployment
  permissions/templates/cloudformation/prowler-org-scan-role-stackset.yaml
Due: none

chore(release): bump API for v1.22.1
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

chore(release): bump API for v1.22.1 (#10404)
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

chore(release): Bump version to v5.21.2
  prowler/config/config.py
  pyproject.toml
Due: prowler

chore(api): Bump version to v1.22.2
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

docs: Update version to v5.21.1
  docs/getting-started/installation/prowler-app.mdx
Due: none

fix: accept legacy metadata from db
  api/src/backend/tasks/tests/test_tasks.py
  prowler/lib/outputs/finding.py
  tests/lib/outputs/finding_test.py
Due: prowler, api

docs: Update version to v5.21.1 (#10407)
  docs/getting-started/installation/prowler-app.mdx
Due: none

chore(release): Bump version to v5.21.2 (#10405)
  prowler/config/config.py
  pyproject.toml
Due: prowler

chore(api): Bump version to v1.22.2 (#10406)
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

fix(ui): rename grouped findings table columns to Impacted Providers and Impacted Resources
  ui/components/findings/table/column-finding-groups.tsx
Due: none

feat(ui): search finding groups by check title instead of check ID
  ui/actions/finding-groups/finding-groups.ts
Due: none

refactor(ui): stabilize resource detail drawer with check-level metadata
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.ts
Due: none

refactor(ui): align findings filter labels with shared formatters
  ui/app/(prowler)/_overview/_components/accounts-selector.tsx
  ui/components/filters/filter-summary-strip.tsx
  ui/components/findings/findings-filters.tsx
  ui/hooks/use-filter-batch.ts
  ui/types/components.ts
Due: none

refactor(ui): reuse alert in query description
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-description.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-description.tsx
Due: none

refactor(ui): align query parameter inputs with shadcn
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-parameters-form.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-parameters-form.tsx
  ui/components/shadcn/index.ts
Due: none

fix(ui): resolve finding IDs before muting in grouped findings view
  ui/actions/findings/findings-by-resource.ts
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/findings/table/findings-selection-context.tsx
Due: none

fix(ui): polish findings filter chips and pending count
  ui/components/findings/findings-filters.tsx
Due: none

chore: update metadata
  prowler/providers/vercel/services/authentication/authentication_no_stale_tokens/authentication_no_stale_tokens.metadata.json
  prowler/providers/vercel/services/authentication/authentication_token_not_expired/authentication_token_not_expired.metadata.json
  prowler/providers/vercel/services/deployment/deployment_preview_not_publicly_accessible/deployment_preview_not_publicly_accessible.metadata.json
  prowler/providers/vercel/services/deployment/deployment_production_uses_stable_target/deployment_production_uses_stable_target.metadata.json
  prowler/providers/vercel/services/domain/domain_dns_properly_configured/domain_dns_properly_configured.metadata.json
  prowler/providers/vercel/services/domain/domain_no_wildcard_dns_exposure/domain_no_wildcard_dns_exposure.metadata.json
  prowler/providers/vercel/services/domain/domain_ssl_certificate_valid/domain_ssl_certificate_valid.metadata.json
  prowler/providers/vercel/services/domain/domain_verified/domain_verified.metadata.json
  prowler/providers/vercel/services/project/project_auto_expose_system_env_disabled/project_auto_expose_system_env_disabled.metadata.json
  prowler/providers/vercel/services/project/project_deployment_protection_enabled/project_deployment_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_directory_listing_disabled/project_directory_listing_disabled.metadata.json
  prowler/providers/vercel/services/project/project_environment_no_overly_broad_target/project_environment_no_overly_broad_target.metadata.json
  prowler/providers/vercel/services/project/project_environment_no_secrets_in_plain_type/project_environment_no_secrets_in_plain_type.metadata.json
  prowler/providers/vercel/services/project/project_environment_production_vars_not_in_preview/project_environment_production_vars_not_in_preview.metadata.json
  prowler/providers/vercel/services/project/project_environment_sensitive_vars_encrypted/project_environment_sensitive_vars_encrypted.metadata.json
  prowler/providers/vercel/services/project/project_git_fork_protection_enabled/project_git_fork_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_password_protection_enabled/project_password_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_production_deployment_protection_enabled/project_production_deployment_protection_enabled.metadata.json
  prowler/providers/vercel/services/project/project_skew_protection_enabled/project_skew_protection_enabled.metadata.json
  prowler/providers/vercel/services/security/security_custom_rules_configured/security_custom_rules_configured.metadata.json
  prowler/providers/vercel/services/security/security_ip_blocking_rules_configured/security_ip_blocking_rules_configured.metadata.json
  prowler/providers/vercel/services/security/security_managed_rulesets_enabled/security_managed_rulesets_enabled.metadata.json
  prowler/providers/vercel/services/security/security_rate_limiting_configured/security_rate_limiting_configured.metadata.json
  prowler/providers/vercel/services/security/security_waf_enabled/security_waf_enabled.metadata.json
  prowler/providers/vercel/services/team/team_directory_sync_enabled/team_directory_sync_enabled.metadata.json
  prowler/providers/vercel/services/team/team_member_no_stale_access/team_member_no_stale_access.metadata.json
  prowler/providers/vercel/services/team/team_member_role_least_privilege/team_member_role_least_privilege.metadata.json
  prowler/providers/vercel/services/team/team_no_stale_invitations/team_no_stale_invitations.metadata.json
  prowler/providers/vercel/services/team/team_saml_sso_enabled/team_saml_sso_enabled.metadata.json
  prowler/providers/vercel/services/team/team_saml_sso_enforced/team_saml_sso_enforced.metadata.json
Due: prowler

refactor(ui): unify attack paths error alerts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-execution-error.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-execution-error.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.tsx
Due: none

fix(ui): finalize reviewer feedback for findings batch filters
  ui/app/(prowler)/_overview/_components/accounts-selector.tsx
  ui/app/(prowler)/_overview/_components/provider-type-selector.tsx
  ui/components/filters/apply-filters-button.tsx
  ui/components/filters/custom-checkbox-muted-findings.tsx
  ui/components/filters/custom-date-picker.tsx
  ui/components/findings/findings-filters.tsx
  ui/hooks/use-filter-batch.ts
  ui/types/filters.ts
Due: none

docs(skills): add guardrails for review-driven UI patterns
  skills/prowler-pr/SKILL.md
  skills/prowler-ui/SKILL.md
  skills/typescript/SKILL.md
Due: none

fix(ui): validate custom attack path queries before fetch
  ui/actions/attack-paths/queries.test.ts
  ui/actions/attack-paths/queries.ts
Due: none

fix(ui): guard attack path documentation links
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-description.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-description.tsx
Due: none

docs(ui): link attack paths changelog entry to pr
  ui/CHANGELOG.md
Due: none

refactor(ui): use shared form primitives in query builder
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-parameters-form.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-parameters-form.tsx
Due: none

refactor(ui): remove muted indicator from finding group rows
  ui/components/findings/table/column-finding-groups.tsx
Due: none

feat: scan all teams when no team is specified
  prowler/providers/vercel/lib/service/service.py
  prowler/providers/vercel/models.py
  prowler/providers/vercel/services/authentication/authentication_service.py
  prowler/providers/vercel/services/authentication/authentication_token_not_expired/authentication_token_not_expired.py
  prowler/providers/vercel/services/deployment/deployment_production_uses_stable_target/deployment_production_uses_stable_target.py
  prowler/providers/vercel/services/deployment/deployment_service.py
  prowler/providers/vercel/services/domain/domain_no_wildcard_dns_exposure/domain_no_wildcard_dns_exposure.py
  prowler/providers/vercel/services/domain/domain_ssl_certificate_valid/domain_ssl_certificate_valid.metadata.json
  prowler/providers/vercel/services/domain/domain_ssl_certificate_valid/domain_ssl_certificate_valid.py
  prowler/providers/vercel/services/project/project_environment_sensitive_vars_encrypted/project_environment_sensitive_vars_encrypted.py
  prowler/providers/vercel/services/project/project_password_protection_enabled/project_password_protection_enabled.py
  prowler/providers/vercel/services/project/project_service.py
  prowler/providers/vercel/services/project/project_skew_protection_enabled/project_skew_protection_enabled.metadata.json
  prowler/providers/vercel/services/security/security_waf_enabled/security_waf_enabled.py
  prowler/providers/vercel/services/team/team_member_role_least_privilege/team_member_role_least_privilege.py
  prowler/providers/vercel/services/team/team_service.py
  prowler/providers/vercel/vercel_provider.py
Due: prowler

refactor(ui): refine custom query editor
  ui/actions/attack-paths/queries.adapter.test.ts
  ui/actions/attack-paths/queries.adapter.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-parameters-form.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-parameters-form.tsx
Due: none

fix tests
  prowler/providers/vercel/services/authentication/authentication_service.py
  tests/providers/vercel/services/deployment/deployment_preview_not_publicly_accessible/deployment_preview_not_publicly_accessible_test.py
  tests/providers/vercel/services/domain/domain_ssl_certificate_valid/domain_ssl_certificate_valid_test.py
  tests/providers/vercel/services/security/security_waf_enabled/security_waf_enabled_test.py
  tests/providers/vercel/services/team/team_member_role_least_privilege/team_member_role_least_privilege_test.py
Due: prowler

fix(ui): prevent actions dropdown from opening resource drawer
  ui/components/findings/table/column-finding-resources.tsx
Due: none

fix(ui): allow drill-down for single-resource finding groups
  ui/components/findings/table/column-finding-groups.tsx
Due: none
