Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(ui): add organization server actions and scan launching
  ui/actions/organizations/organizations.adapter.test.ts
  ui/actions/organizations/organizations.test.ts
  ui/actions/organizations/organizations.ts
  ui/actions/scans/scans.test.ts
  ui/actions/scans/scans.ts
Due: none

fix(ui): address server-action review feedback
  ui/actions/organizations/organizations.test.ts
  ui/actions/organizations/organizations.ts
  ui/actions/scans/scans.ts
  ui/lib/concurrency.test.ts
  ui/lib/concurrency.ts
Due: none

refactor(ui): deduplicate connect form back-step logic
  ui/components/providers/workflow/forms/connect-account-form.tsx
Due: none

fix(ui): add temporary organizations wizard stubs for stacked PR isolation
  ui/components/providers/organizations/org-account-selection.tsx
  ui/components/providers/organizations/org-launch-scan.tsx
  ui/components/providers/organizations/org-setup-form.tsx
Due: none

fix(ui): address organizations-flow review feedback
  ui/components/providers/organizations/hooks/error-utils.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
  ui/components/providers/organizations/org-account-selection.utils.test.ts
  ui/components/providers/organizations/org-account-selection.utils.ts
Due: none

feat(ui): add AWS Organizations bulk connect flow
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.test.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
  ui/components/providers/organizations/org-account-selection.test.tsx
  ui/components/providers/organizations/org-account-selection.tsx
  ui/components/providers/organizations/org-account-selection.utils.test.ts
  ui/components/providers/organizations/org-account-selection.utils.ts
  ui/components/providers/organizations/org-account-tree-item.tsx
  ui/components/providers/organizations/org-launch-scan.test.tsx
  ui/components/providers/organizations/org-launch-scan.tsx
  ui/components/providers/organizations/org-setup-form.tsx
Due: none

fix(ui): reuse provider secret on credentials retry
  ui/components/providers/wizard/steps/credentials-step.test.tsx
  ui/components/providers/wizard/steps/credentials-step.tsx
  ui/components/providers/wizard/steps/test-connection-step.test.tsx
  ui/components/providers/wizard/steps/test-connection-step.tsx
Due: none

style(ui): fix test formatting after rebase
  ui/components/providers/wizard/steps/credentials-step.test.tsx
Due: none

test(ui): update E2E page objects and improve test stability
  ui/tests/auth/auth-middleware.spec.ts
  ui/tests/auth/auth-session-errors.spec.ts
  ui/tests/invitations/invitations-page.ts
  ui/tests/providers/providers-page.ts
  ui/tsconfig.json
Due: none

fix(api): recalc tenant compliance summary after provider deletion
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/jobs/queries.py
  api/src/backend/tasks/tests/test_deletion.py
Due: api

fix(compliance): clean up compliance diffs to only include check mappings
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
Due: prowler

docs(ui): summarize provider wizard and organizations rollout in changelog
  ui/CHANGELOG.md
Due: none

chore: update changelog
  api/CHANGELOG.md
Due: api

docs(changelog): add entries for IaC branch support feature
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

docs: add pre-configured GitHub PAT creation links
  docs/user-guide/providers/github/authentication.mdx
  docs/user-guide/providers/github/getting-started-github.mdx
Due: none

fix(m365): update metadata fields for entra_all_apps_conditional_access_coverage
  prowler/providers/m365/services/entra/entra_all_apps_conditional_access_coverage/entra_all_apps_conditional_access_coverage.metadata.json
Due: prowler

fix(m365): fix black formatting, add Markdown to metadata, remove Maester reference
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.metadata.json
  tests/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled_test.py
Due: prowler

refactor(m365): report all policies targeting all cloud apps
  prowler/providers/m365/services/entra/entra_all_apps_conditional_access_coverage/entra_all_apps_conditional_access_coverage.py
  tests/providers/m365/services/entra/entra_all_apps_conditional_access_coverage/entra_all_apps_conditional_access_coverage_test.py
Due: prowler

refactor(m365): single finding listing all policies targeting all cloud apps
  prowler/providers/m365/services/entra/entra_all_apps_conditional_access_coverage/entra_all_apps_conditional_access_coverage.py
  tests/providers/m365/services/entra/entra_all_apps_conditional_access_coverage/entra_all_apps_conditional_access_coverage_test.py
Due: prowler

fix(iac): handle PATCH errors, temp dir leak, and duplicated validation
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  prowler/providers/iac/iac_provider.py
  ui/actions/providers/providers.ts
Due: prowler, api

feat(ui): add attack paths tools to Lighthouse allowed list
  ui/lib/lighthouse/workflow.ts
Due: none

refactor(m365): check credential restrictions and fix compliance mappings
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.metadata.json
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

docs(ui): add changelog entry for attack paths Lighthouse tools
  ui/CHANGELOG.md
Due: none

feat(sdk): add symmetric key restrictions to default app management policy check
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.metadata.json
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.py
  tests/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled_test.py
Due: prowler

chore(revision): resolve comments
  api/CHANGELOG.md
Due: api

fix(ocsf): serialization errors non-serializable resource meta (#10131)
  prowler/CHANGELOG.md
  prowler/lib/outputs/ocsf/ocsf.py
  tests/lib/outputs/ocsf/ocsf_test.py
Due: prowler

fix: black
  prowler/providers/m365/services/entra/entra_all_apps_conditional_access_coverage/entra_all_apps_conditional_access_coverage.py
Due: prowler

feat(github): add organization_repository_deletion_limited dir and checks
  prowler/providers/github/services/organization/organization_repository_deletion_limited/__init__.py
  prowler/providers/github/services/organization/organization_repository_deletion_limited/organization_repository_deletion_limited.metadata.json
  prowler/providers/github/services/organization/organization_repository_deletion_limited/organization_repository_deletion_limited.py
Due: prowler

fix(sdk): rename symmetric key restrictions to identifier URI restrictions
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.metadata.json
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.py
  tests/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled_test.py
Due: prowler

Revert "fix(sdk): rename symmetric key restrictions to identifier URI restrictions"
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.metadata.json
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.py
  tests/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled_test.py
Due: prowler

fix(ci): include E2E test paths in impact analysis module matching
  .github/test-impact.yml
Due: none

Revert "feat(sdk): add symmetric key restrictions to default app management policy check"
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.metadata.json
  prowler/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled.py
  tests/providers/m365/services/entra/entra_default_app_management_policy_enabled/entra_default_app_management_policy_enabled_test.py
Due: prowler

feat(api): block attack-paths-scans custom queries and schema endpoints
  api/src/backend/api/v1/urls.py
Due: api

fix(ci): address review feedback on test impact analysis
  .github/test-impact.yml
Due: none

chore: skip tests
  api/src/backend/api/tests/test_views.py
Due: api

test(ui): fix provider E2E test selectors and improve reliability
  ui/playwright.config.ts
  ui/tests/providers/providers-page.ts
Due: none

test(ui): improve invitation E2E tests and add aria-label to role selector
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/tests/invitations/invitations-page.ts
  ui/tests/invitations/invitations.spec.ts
Due: none

test(ui): use test.skip for missing env vars in provider E2E tests
  ui/tests/providers/providers.spec.ts
  ui/tests/sign-up/sign-up-page.ts
Due: none
