Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix: update placement of social buttons from right-start to top
  ui/components/auth/oss/social-buttons.tsx
Due: none

docs(github): refactor getting started and auth (#8767)
  docs/tutorials/github/authentication.md
  docs/tutorials/github/getting-started-github.md
  docs/tutorials/github/img/add-github-account-id.png
  docs/tutorials/github/img/auth-github-app.png
  docs/tutorials/github/img/auth-oauth.png
  docs/tutorials/github/img/auth-pat.png
  docs/tutorials/github/img/select-auth-method.png
  docs/tutorials/github/img/select-github.png
Due: none

feat(apigatewayv2): modify metadata
  prowler/CHANGELOG.md
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_access_logging_enabled/apigatewayv2_api_access_logging_enabled.metadata.json
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_authorizers_enabled/apigatewayv2_api_authorizers_enabled.metadata.json
Due: prowler

fix: update resource name display logic in ColumnResources component
  ui/components/resources/table/column-resources.tsx
Due: none

feat(mcp): enhance Dockerfile for multi-transport support
  mcp_server/Dockerfile
Due: none

refactor(mcp): remove unused imports and debug logging
  mcp_server/prowler_mcp_server/prowler_app/utils/server_generator.py
Due: none

chore: add new env vars to env template
  mcp_server/.env.template
Due: none

docs(mcp): add extensive HTTP transport documentation
  mcp_server/README.md
Due: none

feat(aws): enhance metadata for `apigatewayv2` service (#8719)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_access_logging_enabled/apigatewayv2_api_access_logging_enabled.metadata.json
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_authorizers_enabled/apigatewayv2_api_authorizers_enabled.metadata.json
Due: prowler

chore: remove generated test artifacts from version control
  .gitignore
  docs/developer-guide/github-details.md
  prowler/compliance/github/cis_1.0_github.json
  prowler/providers/github/services/organization/organization_default_repository_permission_strict/__init__.py
  prowler/providers/github/services/organization/organization_default_repository_permission_strict/organization_default_repository_permission_strict.py
  prowler/providers/github/services/organization/organization_service.py
  scripts/github_test_plan.py
  tests/providers/github/services/organization/organization_default_repository_permission_strict/organization_default_repository_permission_strict_test.py
  tests/providers/github/services/organization/organization_service_test.py
Due: prowler

docs: add CHANGELOG entry for organization_default_repository_permission_strict check
  prowler/CHANGELOG.md
Due: prowler

chore: solve comment
  prowler/providers/aws/lib/security_hub/security_hub.py
Due: prowler

(chore) fixed linting issues
  tests/providers/aws/services/iam/iam_service_test.py
Due: none

fix: better make file naming for Development Environment
  Makefile
Due: none

fix(user): PermissionError, 500, when deleting user (#8731)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(tests_iam): AWS managed policies are isolated (#8609)
  tests/providers/aws/services/iam/iam_service_test.py
Due: none

fix(users): fix changelog for patch
  api/CHANGELOG.md
Due: api

fix: move delete user 500 error fix to its right version
  api/CHANGELOG.md
Due: api

fix(user): PermissionError, 500, when deleting user (#8786)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix: move delete user 500 error fix to its right version (#8787)
  api/CHANGELOG.md
Due: api

feat: add lighthouse migration file
  api/src/backend/api/migrations/0048_lighthouseproviderconfiguration_and_more.py
Due: api

fix: update prowler package version in api (#8778)
  api/poetry.lock
Due: api

chore(regions_update): Changes in regions for AWS services (#8777)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

docs(mongodbatlas): refactor getting started and auth (#8776)
  docs/tutorials/mongodbatlas/authentication.md
  docs/tutorials/mongodbatlas/getting-started-mongodbatlas.md
Due: none

docs(mcp): add preview feature disclaimer (#8774)
  mcp_server/README.md
Due: none

ref(actions): remove xmlsec step (#8482)
  .github/workflows/api-pull-request.yml
Due: none

docs(threatscore): add info with Prowler ThreatScore (#8711)
  docs/tutorials/compliance/threatscore.md
  mkdocs.yml
Due: none

docs(azure): refactor getting started and auth (#8754)
  docs/tutorials/azure/authentication.md
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/azure/subscriptions.md
Due: none

feat(mcp): add Dockerfile for MCP Server containerization (#8768)
  mcp_server/.dockerignore
  mcp_server/Dockerfile
  mcp_server/README.md
Due: none

docs(m365): refactor getting started and auth (#8761)
  docs/developer-guide/checks.md
  docs/tutorials/microsoft365/authentication.md
  docs/tutorials/microsoft365/getting-started-m365.md
Due: none

feat(ui): add compliance_name (#8775)
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
Due: none

fix(ui): update ui changelog (#8771)
  ui/CHANGELOG.md
Due: none

chore: remove duplicate lighthouse settings model
  api/src/backend/api/models.py
Due: api

Apply suggestions from code review
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.metadata.json
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.metadata.json
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms.metadata.json
Due: prowler

feat(acm): modify metadata and add changelog
  prowler/CHANGELOG.md
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.metadata.json
Due: prowler

chore(aws/apigateway): adapt metadata to new standarized format
  prowler/providers/aws/services/apigateway/apigateway_restapi_authorizers_enabled/apigateway_restapi_authorizers_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_cache_encrypted/apigateway_restapi_cache_encrypted.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_client_certificate_enabled/apigateway_restapi_client_certificate_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/apigateway_restapi_logging_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/apigateway_restapi_public.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_public_with_authorizer/apigateway_restapi_public_with_authorizer.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/apigateway_restapi_tracing_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_waf_acl_attached/apigateway_restapi_waf_acl_attached.metadata.json
Due: prowler

chore: add aws/apigateway metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/appstream): adapt metadata to new standarized format
  prowler/providers/aws/services/appstream/appstream_fleet_default_internet_access_disabled/appstream_fleet_default_internet_access_disabled.metadata.json
  prowler/providers/aws/services/appstream/appstream_fleet_maximum_session_duration/appstream_fleet_maximum_session_duration.metadata.json
  prowler/providers/aws/services/appstream/appstream_fleet_session_disconnect_timeout/appstream_fleet_session_disconnect_timeout.metadata.json
  prowler/providers/aws/services/appstream/appstream_fleet_session_idle_disconnect_timeout/appstream_fleet_session_idle_disconnect_timeout.metadata.json
Due: prowler
