Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(sdk): skip S3 ACL MANUAL when the bucket ignores public ACLs
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl.py
  prowler/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Due: prowler

docs(sdk): add docstrings to S3 access-denied test helpers
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_test.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Due: none

test(sdk): parametrize S3 public access denied-read tests and drop the restrict-public-buckets case
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
Due: none

fix(sdk): skip S3 ACL MANUAL when the account ignores public ACLs
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl.py
  prowler/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl_test.py
Due: prowler

feat(bedrock): add AgentCore inventory collectors
  permissions/prowler-additions-policy.json
  prowler/changelog.d/bedrock-agentcore-inventory-collectors.added.md
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/bedrockagentcore/__init__.py
  prowler/providers/aws/services/bedrockagentcore/bedrockagentcore_client.py
  prowler/providers/aws/services/bedrockagentcore/bedrockagentcore_service.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  tests/providers/aws/services/bedrockagentcore/bedrockagentcore_service_gateway_targets_test.py
  tests/providers/aws/services/bedrockagentcore/bedrockagentcore_service_inventory_test.py
  tests/providers/aws/services/bedrockagentcore/bedrockagentcore_service_list_types_test.py
  tests/providers/aws/services/bedrockagentcore/bedrockagentcore_service_test.py
  tests/providers/aws/services/bedrockagentcore/bedrockagentcore_service_unexpected_error_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_delivery_test.py
  util/update_aws_services_regions.py
Due: prowler

docs(tests): document the three mock helpers the collectors tests define
  tests/providers/aws/services/bedrockagentcore/bedrockagentcore_service_inventory_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_delivery_test.py
Due: none

fix(ui): ignore an AWS connection result that lands after the step closes
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
Due: none

docs(ui): reflect the AWS one-step connection test in the tour and tutorial
  docs/user-guide/tutorials/prowler-app.mdx
  ui/lib/tours/add-provider.tour.ts
Due: none

feat(ui): connect and test AWS accounts in one step (#12876)
  docs/user-guide/tutorials/prowler-app.mdx
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.integration.test.tsx
  ui/changelog.d/aws-one-step-connect.changed.md
  ui/components/providers/wizard/hooks/use-provider-wizard-controller.ts
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/wizard/provider-wizard-modal.tsx
  ui/components/providers/wizard/provider-wizard-modal.utils.test.ts
  ui/components/providers/wizard/provider-wizard-modal.utils.ts
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
  ui/components/providers/wizard/steps/aws/connect-aws-account.test.ts
  ui/components/providers/wizard/steps/aws/connect-aws-account.ts
  ui/components/providers/wizard/steps/connect-step.tsx
  ui/components/providers/wizard/wizard-stepper.tsx
  ui/lib/tours/add-provider.tour.ts
Due: none

feat(api): add an explicit endpoint for S3-compatible scan output storage (#12871)
  .env
  api/changelog.d/s3-output-internal-endpoint.added.md
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tests/test_export.py
Due: api

fix(aws): reuse the STS region that answered and add PROWLER_AWS_BOTO3_RETRIES_MAX_ATTEMPTS (#12870)
  docs/user-guide/providers/aws/boto3-configuration.mdx
  prowler/changelog.d/aws-retries-max-attempts-env.added.md
  prowler/changelog.d/aws-sts-reuse-answering-region.fixed.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/config.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
  tests/providers/aws/aws_provider_test.py
Due: prowler

fix(ui): read uids and connection baselines in one request
  ui/actions/organizations/organizations.ts
  ui/actions/providers/providers.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
Due: none

fix(ui): keep the one-step AWS connect flow on the new result shape
  ui/actions/providers/providers.ts
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
  ui/components/providers/workflow/forms/test-connection-form.test.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
Due: none

feat(compliance): add Cloudflare mappings to NCSC Cyber Essentials 3.3 framework
  prowler/compliance/cyber_essentials_3.3.json
Due: prowler

fix(ui): wait for the full provider connection check before reporting a result (#12869)
  ui/actions/organizations/organizations.ts
  ui/actions/providers/providers.ts
  ui/changelog.d/provider-connection-check-wait.fixed.md
  ui/components/providers/forms/delete-organization-form.tsx
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.test.ts
  ui/components/providers/organizations/hooks/use-org-account-selection-flow.ts
  ui/components/providers/organizations/org-account-selection.utils.test.ts
  ui/components/providers/organizations/org-account-selection.utils.ts
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/wizard/provider-wizard-modal.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.test.tsx
  ui/components/providers/wizard/steps/aws/aws-connect-step.tsx
  ui/components/providers/workflow/forms/test-connection-form.test.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/shadcn/tree-view/tree-status-icon.tsx
  ui/components/shadcn/tree-view/tree-status-indicator.tsx
  ui/lib/helper.test.ts
  ui/lib/helper.ts
  ui/lib/provider-helpers.test.ts
  ui/lib/provider-helpers.ts
  ui/types/providers.ts
  ui/types/tasks.ts
  ui/types/tree.ts
Due: none

feat(ui): re-check a resource with a partial scan from the findings actions
  ui/actions/findings/findings-by-resource.adapter.test.ts
  ui/actions/findings/findings-by-resource.adapter.ts
  ui/actions/scans/scans.test.ts
  ui/actions/scans/scans.ts
  ui/components/findings/recheck-resource-action-item.test.tsx
  ui/components/findings/recheck-resource-action-item.tsx
  ui/components/findings/recheck-resource-modal-host.test.tsx
  ui/components/findings/recheck-resource-modal-host.tsx
  ui/components/findings/recheck-resource-modal.test.tsx
  ui/components/findings/recheck-resource-modal.tsx
  ui/components/findings/table/column-finding-resources.test.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/data-table-row-actions.test.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer.test.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.test.ts
  ui/components/layout/main-layout/main-layout.test.tsx
  ui/components/layout/main-layout/main-layout.tsx
  ui/lib/partial-scans.test.ts
  ui/lib/partial-scans.ts
  ui/store/index.ts
  ui/store/partial-scan/store.ts
  ui/types/partial-scans.ts
Due: none

feat(ui): label partial scans in the scans table
  ui/components/scans/table/cells/scan-info-cell.tsx
  ui/components/scans/table/scan-jobs-columns.test.tsx
  ui/types/scans.ts
Due: none

fix(api): return the new scan id when a scan is created
  api/changelog.d/scan-create-task-args.fixed.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

test(mcp): tighten assertions flagged in review
  mcp_server/tests/prowler_app/models/test_resources.py
  mcp_server/tests/prowler_app/tools/test_base.py
  mcp_server/tests/prowler_app/tools/test_finding_groups.py
  mcp_server/tests/prowler_app/tools/test_resources.py
Due: none

test(mcp): assert the scans list current page
  mcp_server/tests/prowler_app/models/test_scans.py
Due: none

refactor(api): pass the scan task kwargs inline
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

chore(api): ignore schema_editor in vulture
  pyproject.toml
Due: none

fix(api): renumber reaper migration and dedupe temp db listing
  api/src/backend/api/attack_paths/ingest/driver.py
  api/src/backend/api/migrations/0100_attack_paths_tmp_db_reap_periodic_task.py
  api/src/backend/api/tests/test_attack_paths_database.py
  api/src/backend/tasks/jobs/attack_paths/tmp_db_reaper.py
  api/src/backend/tasks/tests/test_attack_paths_tmp_db_reaper.py
Due: api

fix(ui): harden the partial scan modal and badge after review
  ui/components/findings/recheck-resource-modal.test.tsx
  ui/components/findings/recheck-resource-modal.tsx
  ui/components/scans/table/cells/scan-info-cell.tsx
  ui/components/scans/table/scan-jobs-columns.test.tsx
Due: none

test(api): document the scan task record cases
  api/src/backend/tasks/tests/test_tasks.py
Due: api

chore(api): drop vulture schema_editor ignore
  pyproject.toml
Due: none

fix(api): return the new scan id when a scan is created (#12878)
  api/changelog.d/scan-create-task-args.fixed.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

fix(api): reap orphaned attack paths temp Neo4j databases (#12832)
  api/changelog.d/attack-paths-tmp-db-reaper.fixed.md
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/ingest/__init__.py
  api/src/backend/api/attack_paths/ingest/driver.py
  api/src/backend/api/migrations/0100_attack_paths_tmp_db_reap_periodic_task.py
  api/src/backend/api/tests/test_attack_paths_database.py
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/attack_paths/tmp_db_reaper.py
  api/src/backend/tasks/jobs/orphan_recovery.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_attack_paths_tmp_db_reaper.py
Due: api

feat(ui): re-check a resource with a partial scan from the findings actions (#12879)
  ui/actions/findings/findings-by-resource.adapter.test.ts
  ui/actions/findings/findings-by-resource.adapter.ts
  ui/actions/scans/scans.test.ts
  ui/actions/scans/scans.ts
  ui/components/findings/recheck-resource-action-item.test.tsx
  ui/components/findings/recheck-resource-action-item.tsx
  ui/components/findings/recheck-resource-modal-host.test.tsx
  ui/components/findings/recheck-resource-modal-host.tsx
  ui/components/findings/recheck-resource-modal.test.tsx
  ui/components/findings/recheck-resource-modal.tsx
  ui/components/findings/table/column-finding-resources.test.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/data-table-row-actions.test.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer.test.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.test.ts
  ui/components/layout/main-layout/main-layout.test.tsx
  ui/components/layout/main-layout/main-layout.tsx
  ui/components/scans/table/cells/scan-info-cell.tsx
  ui/components/scans/table/scan-jobs-columns.test.tsx
  ui/lib/partial-scans.test.ts
  ui/lib/partial-scans.ts
  ui/store/index.ts
  ui/store/partial-scan/store.ts
  ui/types/partial-scans.ts
  ui/types/scans.ts
Due: none

fix(ecr): add missing blank line for flake8 E302
  tests/providers/aws/services/ecr/ecr_repository_encrypted_with_cmk/ecr_repository_encrypted_with_cmk_test.py
Due: none

fix(ui): show API error message when mute rule creation fails (#12853)
  ui/actions/mute-rules/mute-rules.test.ts
  ui/actions/mute-rules/mute-rules.ts
  ui/changelog.d/mute-rule-error-toast-raw-json.fixed.md
Due: none

Update ces_service.py
  prowler/providers/huaweicloud/services/ces/ces_service.py
Due: prowler

Update huaweicloud_ces_service_test.py
  tests/providers/huaweicloud/services/ces/huaweicloud_ces_service_test.py
Due: none

fix(ui): stop offering reports and compliance for partial scans
  ui/app/(prowler)/compliance/page.test.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/scans/table/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
Due: none

fix(ui): exclude partial scans from compliance at the API and from URLs
  ui/app/(prowler)/compliance/page.test.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/scans/table/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
Due: none

fix(ui): fall back when the compliance URL scan cannot be found
  ui/app/(prowler)/compliance/page.test.tsx
  ui/app/(prowler)/compliance/page.tsx
Due: none

fix(ui): stop offering reports and compliance for partial scans (#12880)
  ui/app/(prowler)/compliance/page.test.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/scans/table/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
Due: none

docs(introduction): list UI and API support for Okta
  docs/introduction.mdx
Due: none

docs(introduction): list UI and API support for Okta (#12881)
  docs/introduction.mdx
Due: none

fix(api): stop locking the API key row on every authenticated request
  api/changelog.d/api-key-auth-no-row-lock.fixed.md
  api/src/backend/api/authentication.py
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/test_authentication.py
Due: api

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
