Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

docs: clarify documentation links pattern applies only to integrations
  ui/AGENTS.md
Due: none

feat(regions_update): Update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

test(ui): add Azure provider management E2E tests
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
Due: none

test(ui): add Azure environment variables for E2E tests
  .github/workflows/ui-e2e-tests.yml
Due: none

fix: small enhancement
  docs/user-guide/providers/microsoft365/authentication.mdx
Due: none

fix(docs): small enhancement in warning (#8950)
  docs/user-guide/providers/microsoft365/authentication.mdx
Due: none

chore(aws): enhance metadata for `directoryservice` service (#8859)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/directoryservice/directoryservice_directory_log_forwarding_enabled/directoryservice_directory_log_forwarding_enabled.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_directory_monitor_notifications/directoryservice_directory_monitor_notifications.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_directory_snapshots_limit/directoryservice_directory_snapshots_limit.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_ldap_certificate_expiration/directoryservice_ldap_certificate_expiration.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_radius_server_security_protocol/directoryservice_radius_server_security_protocol.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_supported_mfa_radius_enabled/directoryservice_supported_mfa_radius_enabled.metadata.json
Due: prowler

feat(util): add from_yaml_to_json.py (#8943)
  util/compliance/ccc/from_yaml_to_json.py
Due: none

refactor(ui): convert ResourceStatsCard components to use functional components with forwarded refs for improved flexibility
  ui/components/shadcn/resource-stats-card/resource-stats-card-container.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-content.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-divider.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-header.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

feat(api): add provider_id__in filter for ScanSummary queries
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
Due: api

chore: update changelog
  api/CHANGELOG.md
Due: api

feat(api): add tests for provider_id__in filter in findings overview endpoints
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
Due: api

test(ui): enhance Playwright test setups for user authentication (#8881)
  ui/.gitignore
  ui/package.json
  ui/playwright.config.ts
  ui/tests/helpers.ts
  ui/tests/page-objects/home-page.ts
  ui/tests/page-objects/sign-in-page.ts
  ui/tests/setups/admin.auth.setup.ts
  ui/tests/setups/invite-and-manage-users.auth.setup.ts
  ui/tests/setups/manage-account.auth.setup.ts
  ui/tests/setups/manage-cloud-providers.auth.setup.ts
  ui/tests/setups/manage-integrations.auth.setup.ts
  ui/tests/setups/manage-scans.auth.setup.ts
  ui/tests/setups/unlimited-visibility.auth.setup.ts
Due: none

feat: update M365 credentials form (#8929)
  ui/CHANGELOG.md
  ui/app/(prowler)/providers/(set-up-provider)/add-credentials/page.tsx
  ui/components/providers/credentials-update-info.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/credentials-type/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/m365/credentials-type/m365-certificate-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/credentials-type/m365-client-secret-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/m365/radio-group-m365-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/m365/select-via-m365.tsx
  ui/components/providers/workflow/forms/via-credentials/index.ts
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/lib/provider-helpers.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

chore(api): update changelog for version 1.14.0 release
  api/CHANGELOG.md
Due: api

fix: links
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.metadata.json
Due: prowler

fix: correct default badge background color to darker shade
  ui/components/shadcn/resource-stats-card/resource-stats-card-content.tsx
Due: none

docs(fix): space in providers table (#8938)
  docs/introduction.mdx
Due: none

fix: restore link
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.metadata.json
Due: prowler

docs: remove anchors from redirects
  docs/docs.json
Due: none

feat: add DependsOn
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.metadata.json
Due: prowler

fix(docs): redirect user-guide-tutorials (#8945)
  docs/docs.json
Due: none

test(ui): add M365 provider management E2E tests
  .github/workflows/ui-e2e-tests.yml
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
Due: none

docs: remove anchors from redirects (#8953)
  docs/docs.json
Due: none

fix: links
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.metadata.json
Due: prowler

fix: links
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.metadata.json
Due: prowler

feat: update resource stats card
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

chore(regions_update): Changes in regions for AWS services (#8946)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

chore: deprecate old lighthouse endpoints
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

chore: use API logger in migration file
  api/src/backend/api/migrations/0050_lighthouse_multi_llm.py
Due: api

refactor(ui): update padding variant and restructure CardVariant for improved consistency in ResourceStatsCard components
  ui/components/shadcn/resource-stats-card/resource-stats-card-container.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-content.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

fix: move lighthouse provider delete cleanup to pre_delete signal
  api/src/backend/api/models.py
  api/src/backend/api/signals.py
Due: api

test: add test for tenant defaults update on provider delete
  api/src/backend/api/tests/test_views.py
Due: api

feat(ui): new card components and derivates for overview (#8921)
  ui/components.json
  ui/components/shadcn/README.md
  ui/components/shadcn/card.tsx
  ui/components/shadcn/index.ts
  ui/components/shadcn/resource-stats-card/index.ts
  ui/components/shadcn/resource-stats-card/resource-stats-card-container.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-content.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-divider.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-header.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
  ui/dependency-log.json
  ui/package-lock.json
  ui/package.json
Due: none

test(ui): enhance M365 provider management E2E tests
  .github/workflows/ui-e2e-tests.yml
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
Due: none

feat(compliance): Add HIPAA compliance framework for GCP
  prowler/compliance/gcp/hipaa_gcp.json
Due: prowler

test(ui): update sign-up tests to use E2E_NEW_PASSWORD environment variable
  .github/workflows/ui-e2e-tests.yml
  ui/tests/sign-up/sign-up.md
  ui/tests/sign-up/sign-up.spec.ts
Due: none
