Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(docs): change format for AWS tutorials
  docs/tutorials/aws/boto3-configuration.md
  docs/tutorials/aws/organizations.md
  docs/tutorials/aws/regions-and-partitions.md
  docs/tutorials/aws/role-assumption.md
  docs/tutorials/aws/s3.md
  docs/tutorials/aws/securityhub.md
  docs/tutorials/aws/threat-detection.md
Due: none

chore(docs): change format for Azure tutorials
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/azure/subscriptions.md
Due: none

docs(changelog): update PR link for new fix
  api/CHANGELOG.md
Due: api

docs(changelog): change fix from version
  api/CHANGELOG.md
Due: api

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: add sp env auth flag to setup_powershell
  prowler/providers/m365/m365_provider.py
Due: prowler

chore(docs): change format for gcp tutorials
  docs/tutorials/gcp/authentication.md
Due: none

chore(docs): change format for kubernetes tutorials
  docs/tutorials/kubernetes/in-cluster.md
  docs/tutorials/kubernetes/misc.md
Due: none

fix: app auth cloud
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/m365_provider_test.py
Due: prowler

chore(docs): change format for m365 tutorials
  docs/tutorials/microsoft365/authentication.md
  docs/tutorials/microsoft365/getting-started-m365.md
Due: none

feat: integrate Google Tag Manager manually to avoid ORB blocking
  ui/next.config.js
Due: none

Revert "refactor(compliance): use raw SQL for complex queries"
  api/src/backend/api/v1/views.py
Due: api

feat(compliance): add min risk level as a var
  util/compliance_report/compliance_generator.py
Due: none

chore(gha): check changelog when label is added or deleted
  .github/workflows/pull-request-check-changelog.yml
Due: none

feat(azure): add public_network_access_disabled to KeyVault service
  prowler/providers/azure/services/keyvault/keyvault_service.py
Due: prowler

feat(azure): new check keyvault_ensure_public_network_access_disabled
  prowler/providers/azure/services/keyvault/keyvault_ensure_public_network_access_disabled/__init__.py
  prowler/providers/azure/services/keyvault/keyvault_ensure_public_network_access_disabled/keyvault_ensure_public_network_access_disabled.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_ensure_public_network_access_disabled/keyvault_ensure_public_network_access_disabled.py
Due: prowler

test(azure): add unit tests for keyvault_ensure_public_network_access_disabled
  tests/providers/azure/services/keyvault/keyvault_ensure_public_network_access_disabled/keyvault_ensure_public_network_access_disabled_test.py
Due: none

docs(changelog): add keyvault_ensure_public_network_access_disabled
  prowler/CHANGELOG.md
Due: prowler

chore: add NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID with empty value
  .env
Due: none

chore(gha): test without paths
  .github/workflows/pull-request-check-changelog.yml
Due: none

add app auth to pwsh in test_connection
  prowler/providers/m365/m365_provider.py
Due: prowler

chore(gha): test with paths but labeled is outside
  .github/workflows/pull-request-check-changelog.yml
Due: none

chore(gha): needs to run without paths
  .github/workflows/pull-request-check-changelog.yml
Due: none

feat: integrate Google Tag Manager manually to avoid ORB blocking (#8070)
  .env
  ui/next.config.js
Due: none

fix: use none user creds
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
Due: prowler

chore(gha): check changelog when label is added or deleted (#8071)
  .github/workflows/pull-request-check-changelog.yml
Due: none

fix: use none user creds in test_connection
  prowler/providers/m365/m365_provider.py
Due: prowler

tests(performance): add new scenario for compliance overviews
  api/tests/performance/scenarios/compliance.py
Due: api

chore: rename check from keyvault_ensure_public_network_access_disabled to keyvault_access_only_through_private_endpoints
  prowler/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/__init__.py
  prowler/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/keyvault_access_only_through_private_endpoints.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/keyvault_access_only_through_private_endpoints.py
  tests/providers/azure/services/keyvault/keyvault_access_only_through_private_endpoints/keyvault_access_only_through_private_endpoints_test.py
Due: prowler

docs(dev-guide): add generic best practices for checks and services
  docs/developer-guide/checks.md
  docs/developer-guide/services.md
Due: none

docs(changelog): add PR link
  prowler/CHANGELOG.md
Due: prowler

style: apply ruff
  api/tests/performance/scenarios/compliance.py
Due: api

feat: add better logs for pwsh app auth
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
Due: prowler

feat(docs): update docs with needed permissions
  docs/getting-started/requirements.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/azure/img/domain-permission.png
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/app-permissions.png
  docs/tutorials/microsoft365/img/final-permissions-m365.png
  docs/tutorials/microsoft365/img/grant-admin-consent.png
  prowler/providers/azure/services/entra/entra_service.py
Due: prowler

fix: add changelog
  prowler/CHANGELOG.md
Due: prowler

chore: skip safety vulnerabilities related to asteval
  .github/workflows/api-pull-request.yml
Due: none

chore(API): skip safety vulnerabilities related to asteval (#8076)
  .github/workflows/api-pull-request.yml
Due: none

feat: integration within profile and refactor
  ui/actions/integrations/saml.ts
  ui/app/(prowler)/integrations/page.tsx
  ui/app/(prowler)/profile/page.tsx
  ui/components/integrations/forms/saml-config-form.tsx
  ui/components/integrations/saml-integration-card.tsx
  ui/components/ui/custom/custom-server-input.tsx
  ui/components/ui/user-nav/user-nav.tsx
Due: none
