Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

docs(ui): add invitation flow changelog entries
  ui/CHANGELOG.md
Due: none

fix(ui): break redirect loop on "Create an account" button (PROWLER-1298)
  ui/app/(auth)/invitation/accept/accept-invitation-client.tsx
  ui/proxy.ts
Due: none

fix(ui): prettier formatting for AcceptInvitationClient (PROWLER-1298)
  ui/app/(auth)/invitation/accept/page.tsx
Due: none

fix(ui): update E2E test to expect preserved query params in callbackUrl (PROWLER-1298)
  ui/tests/auth/auth-middleware.spec.ts
Due: none

fix(ui): wrap NavigationProgress in Suspense boundary (PROWLER-1298)
  ui/app/(auth)/invitation/accept/page.tsx
  ui/app/(auth)/layout.tsx
Due: none

fix(ui): apply code review feedback (PROWLER-1298)
  ui/app/(auth)/invitation/accept/accept-invitation-client.tsx
  ui/auth.config.ts
Due: none

docs: update architecture diagram
  README.md
  docs/images/products/prowler-app-architecture.mmd
  docs/images/products/prowler-app-architecture.png
Due: none

chore: update docs
  docs/getting-started/products/img/prowler-app-architecture.png
  docs/getting-started/products/prowler-app.mdx
Due: none

feat(docker): add zizmor v1.23.1 to CLI and API Docker images
  Dockerfile
  api/Dockerfile
  prowler/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan.py
  tests/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan_test.py
Due: prowler, api

fix(ui): prettier formatting for isInvitationPage (PROWLER-1298)
  ui/auth.config.ts
Due: none

feat(ui): add delta field to finding resources
  ui/actions/finding-groups/finding-groups.adapter.ts
  ui/components/findings/table/column-finding-resources.tsx
  ui/types/findings-table.ts
Due: none

test(ui): add tests for delta status in finding resources
  ui/actions/finding-groups/finding-groups.adapter.test.ts
  ui/components/findings/table/column-finding-resources.test.tsx
Due: none

fix(github): use zizmor docs URL in Recommendation.Text instead of Hub URL
  prowler/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan.py
Due: prowler

fix(sdk): add autouse mock_aws fixture and leak detector to prevent AWS test leaks
  .github/workflows/sdk-tests.yml
  prowler/CHANGELOG.md
  tests/providers/aws/conftest.py
  tests/providers/aws/utils.py
Due: prowler

fix(github): address PR review findings for zizmor integration
  prowler/lib/outputs/compliance/c5/c5.py
  prowler/lib/outputs/compliance/csa/csa.py
  prowler/lib/outputs/compliance/ens/ens.py
  prowler/lib/outputs/compliance/generic/generic_table.py
  prowler/lib/outputs/compliance/kisa_ismsp/kisa_ismsp.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
  prowler/providers/common/provider.py
  prowler/providers/github/services/githubactions/githubactions_service.py
  prowler/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan.metadata.json
  prowler/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan.py
  tests/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan_test.py
Due: prowler

feat: add sort for delta field
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

chore: update changelog
  api/CHANGELOG.md
Due: api

fix(docker): extract zizmor tarball to subdirectory to preserve /tmp permissions
  Dockerfile
  api/Dockerfile
Due: api

fix(aws): recognize service-specific condition keys as restrictive in is_policy_public (#10600)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/lib/policy_test.py
Due: prowler

feat(api): support sort by delta on finding-groups endpoints (#10606)
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

docs: update architecture diagram (#10604)
  README.md
  docs/getting-started/products/img/prowler-app-architecture.png
  docs/getting-started/products/prowler-app.mdx
  docs/images/products/prowler-app-architecture.mmd
  docs/images/products/prowler-app-architecture.png
Due: none

fix(googleworkspace): fix super admin role check using Role Assignments API
  prowler/providers/googleworkspace/services/directory/directory_service.py
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles.py
  tests/providers/googleworkspace/googleworkspace_fixtures.py
  tests/providers/googleworkspace/services/directory/directory_service_test.py
  tests/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles_test.py
Due: prowler

chore: update compliance and check code
  prowler/compliance/aws/aws_foundational_technical_review_aws.json
  prowler/compliance/aws/ccc_aws.json
  prowler/compliance/aws/cisa_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
  prowler/compliance/aws/nist_csf_2.0_aws.json
  prowler/compliance/aws/pci_4.0_aws.json
  prowler/providers/aws/services/bedrock/bedrock_vpc_endpoints_configured/bedrock_vpc_endpoints_configured.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_vpc_endpoints_configured/bedrock_vpc_endpoints_configured.py
  tests/providers/aws/services/bedrock/bedrock_vpc_endpoints_configured/bedrock_vpc_endpoints_configured_test.py
Due: prowler

chore: update changelog
  prowler/CHANGELOG.md
Due: prowler

fix: remove init from tests folder
  tests/providers/aws/services/bedrock/bedrock_vpc_endpoints_configured/__init__.py
Due: none

chore: update api lock
  api/poetry.lock
Due: api

fix(googleworkspace): address calendar PR review comments
  prowler/providers/googleworkspace/services/calendar/calendar_service.py
Due: prowler

chore: remove api entry
  api/CHANGELOG.md
Due: api

feat(googleworkspace): add directory check for CIS 1.1.3 - super admin only admin roles (#10488)
  docs/user-guide/providers/googleworkspace/authentication.mdx
  docs/user-guide/providers/googleworkspace/getting-started-googleworkspace.mdx
  prowler/CHANGELOG.md
  prowler/compliance/googleworkspace/cis_1.3_googleworkspace.json
  prowler/providers/googleworkspace/googleworkspace_provider.py
  prowler/providers/googleworkspace/services/directory/directory_service.py
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/__init__.py
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles.metadata.json
  prowler/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles.py
  tests/providers/googleworkspace/googleworkspace_fixtures.py
  tests/providers/googleworkspace/services/directory/directory_service_test.py
  tests/providers/googleworkspace/services/directory/directory_super_admin_only_admin_roles/directory_super_admin_only_admin_roles_test.py
Due: prowler

docs: add PR link to CHANGELOG entry for zizmor integration
  prowler/CHANGELOG.md
Due: prowler

fix(sdk): address copilot review comments on error message and unused parameter
  tests/providers/aws/conftest.py
  tests/providers/aws/utils.py
Due: none

docs: add API CHANGELOG entry for zizmor Docker installation
  api/CHANGELOG.md
Due: api

fix(github): skip githubactions check entirely when scanning is disabled
  prowler/providers/github/services/githubactions/githubactions_service.py
  prowler/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan.py
  tests/providers/github/services/githubactions/githubactions_workflow_security_scan/githubactions_workflow_security_scan_test.py
Due: prowler

docs: add Vercel Cloud getting started
  docs/images/providers/select-vercel-prowler-cloud.png
  docs/images/providers/vercel-launch-scan.png
  docs/images/providers/vercel-team-id-form.png
  docs/images/providers/vercel-token-form.png
  docs/user-guide/providers/vercel/getting-started-vercel.mdx
Due: none

feat(ui): add resourceType field and update resource EntityInfo in drawer
  ui/actions/finding-groups/finding-groups.adapter.ts
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/types/findings-table.ts
Due: none

refactor(ui): move sorting to server-side and fix filtered resource count
  ui/actions/finding-groups/finding-groups.ts
  ui/actions/findings/findings-by-resource.ts
  ui/app/(prowler)/findings/page.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/inline-resource-container.tsx
  ui/hooks/use-infinite-resources.ts
Due: none

style(ui): update danger card variant to match resource inventory
  ui/components/shadcn/card/card.tsx
Due: none

test(ui): update tests for resource display, sorting, and compliance
  ui/actions/finding-groups/finding-groups.test.ts
  ui/app/(prowler)/findings/page.test.ts
  ui/components/findings/table/column-finding-resources.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.test.ts
  ui/hooks/use-infinite-resources.test.ts
Due: none

style(ui): apply linter formatting
  ui/actions/finding-groups/finding-groups.ts
  ui/hooks/use-infinite-resources.test.ts
  ui/hooks/use-infinite-resources.ts
Due: none

feat(sdk): warn when sensitive CLI flags receive explicit values (#10532)
  docs/developer-guide/provider.mdx
  docs/user-guide/cli/tutorials/pentesting.mdx
  prowler/CHANGELOG.md
  prowler/lib/cli/parser.py
  prowler/lib/cli/redact.py
  prowler/lib/cli/sensitive.py
  prowler/providers/nhn/lib/arguments/arguments.py
  prowler/providers/openstack/lib/arguments/arguments.py
  skills/prowler-provider/SKILL.md
  tests/lib/cli/redact_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
