Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(ui): add product lockups
  ui/components/auth/oss/auth-layout.tsx
  ui/components/icons/prowler/ProwlerIcons.test.tsx
  ui/components/icons/prowler/ProwlerIcons.tsx
  ui/components/layout/sidebar/sheet-menu.tsx
  ui/components/layout/sidebar/sidebar.test.tsx
  ui/components/layout/sidebar/sidebar.tsx
  ui/public/logos/prowler-cloud-dark.svg
  ui/public/logos/prowler-cloud-light.svg
  ui/public/logos/prowler-local-server-dark.svg
  ui/public/logos/prowler-local-server-light.svg
Due: none

feat(dashboard): redesign local dashboard sidebar and pages (#11972)
  dashboard/__main__.py
  dashboard/assets/cloud-pages.css
  dashboard/assets/images/icons/cloud/alerts.svg
  dashboard/assets/images/icons/cloud/attack-paths.svg
  dashboard/assets/images/icons/cloud/check.svg
  dashboard/assets/images/icons/cloud/compliance.svg
  dashboard/assets/images/icons/cloud/docs.svg
  dashboard/assets/images/icons/cloud/findings.svg
  dashboard/assets/images/icons/cloud/help.svg
  dashboard/assets/images/icons/cloud/integrations.svg
  dashboard/assets/images/icons/cloud/lighthouse-ai.svg
  dashboard/assets/images/icons/cloud/mutelist.svg
  dashboard/assets/images/icons/cloud/organization.svg
  dashboard/assets/images/icons/cloud/overview.svg
  dashboard/assets/images/icons/cloud/prowler-lockup.svg
  dashboard/assets/images/icons/cloud/prowler-mark.svg
  dashboard/pages/cloud.py
  prowler/changelog.d/dashboard-local-redesign.changed.md
Due: prowler

fix(ui): complete public branding and trial entry
  ui/app/(auth)/layout.tsx
  ui/components/auth/oss/auth-layout.tsx
  ui/components/auth/oss/public-auth-shell.test.tsx
  ui/components/auth/oss/public-auth-shell.tsx
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
Due: none

Fix CTS tracker status mapping and RDS datastore None handling
  api/huaweicloud_provider/services/cts/cts_service.py
  api/huaweicloud_provider/services/rds/rds_service.py
  prowler/providers/huaweicloud/services/cts/cts_service.py
  prowler/providers/huaweicloud/services/ecs/ecs_service.py
  prowler/providers/huaweicloud/services/rds/rds_service.py
Due: prowler, api

fix(ui): clarify Cloud upgrade CTAs
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
Due: none

fix(ui): limit modal close ring to keyboard focus
  ui/components/shadcn/dialog.test.tsx
  ui/components/shadcn/dialog.tsx
Due: none

fix(ui): expand Cloud upgrade benefits
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
Due: none

chore(docs): organize products -> OSS
  docs/AGENTS.md
  docs/docs.json
  docs/getting-started/products/index.mdx
  docs/getting-started/products/prowler-sdk.mdx
Due: none

fix(ui): keep Chat label visible in sidebar
  ui/components/layout/sidebar/menu.test.tsx
  ui/components/sidebar/navigation-mode-toggle.tsx
Due: none

chore(docs): update readme
  README.md
  docs/images/products/prowler-app-architecture.mmd
Due: none

fix(ui): correct Cloud upgrade modal layout
  ui/components/shadcn/dialog.test.tsx
  ui/components/shadcn/dialog.tsx
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
Due: none

fix(ui): truncate long Cloud upgrade CTAs
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
Due: none

fix(ui): constrain Cloud upgrade modal content
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
Due: none

chore(docs): address comments
  README.md
  docs/AGENTS.md
  docs/developer-guide/security-compliance-framework.mdx
  docs/docs.json
  docs/getting-started/basic-usage/prowler-app.mdx
  docs/getting-started/products/index.mdx
  docs/getting-started/products/prowler-app.mdx
  docs/getting-started/products/prowler-mcp.mdx
  docs/introduction.mdx
  docs/user-guide/compliance/tutorials/compliance.mdx
  docs/user-guide/providers/mongodbatlas/getting-started-mongodbatlas.mdx
  docs/user-guide/tutorials/prowler-app-mute-findings.mdx
  docs/user-guide/tutorials/prowler-app-sso-google-workspace.mdx
  docs/user-guide/tutorials/prowler-app.mdx
  docs/user-guide/tutorials/prowler-scan-scheduling.mdx
Due: none

chore(docs): address comments
  docs/user-guide/providers/aws/regions-and-partitions.mdx
  docs/user-guide/tutorials/prowler-app-sso-google-workspace.mdx
  docs/user-guide/tutorials/prowler-app-sso.mdx
  docs/user-guide/tutorials/prowler-app.mdx
  docs/user-guide/tutorials/prowler-scan-scheduling.mdx
Due: none

fix(ui): capitalize Cloud upgrade modal titles
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
Due: none

docs(github): fix broken fine-grained PAT anchor in authentication table
  docs/user-guide/providers/github/authentication.mdx
Due: none

refactor(ui): reuse shared cloud feature primitives
  ui/app/(prowler)/alerts/_components/seed-from-findings-button.tsx
  ui/app/(prowler)/compliance/_components/compliance-page-tabs.tsx
  ui/app/(prowler)/scans/import/page.test.tsx
  ui/app/(prowler)/scans/import/page.tsx
  ui/components/findings/table/finding-note-modal.tsx
  ui/components/findings/table/finding-triage-cells.test.tsx
  ui/components/findings/table/finding-triage-cells.tsx
  ui/components/layout/sidebar/menu-item.tsx
  ui/components/layout/sidebar/submenu-item.tsx
  ui/components/lighthouse-v1/managed-lighthouse-callout.tsx
  ui/components/providers/organizations/aws-method-selector.tsx
  ui/components/providers/wizard/steps/launch-step.test.tsx
  ui/components/providers/wizard/steps/launch-step.tsx
  ui/components/scans/launch-scan-modal.tsx
  ui/components/scans/schedule/scan-schedule-fields.tsx
  ui/components/shadcn/badge/badge.test.tsx
  ui/components/shadcn/badge/badge.tsx
  ui/components/shared/cloud-feature-badge.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
  ui/components/sidebar/navigation-mode-toggle.tsx
  ui/styles/globals.css
Due: none

feat(aws): add glue_catalog_connection_no_secrets check
  prowler/changelog.d/glue-catalog-connection-no-secrets.added.md
  prowler/providers/aws/services/glue/glue_catalog_connection_no_secrets/__init__.py
  prowler/providers/aws/services/glue/glue_catalog_connection_no_secrets/glue_catalog_connection_no_secrets.metadata.json
  prowler/providers/aws/services/glue/glue_catalog_connection_no_secrets/glue_catalog_connection_no_secrets.py
  tests/providers/aws/services/glue/glue_catalog_connection_no_secrets/__init__.py
  tests/providers/aws/services/glue/glue_catalog_connection_no_secrets/glue_catalog_connection_no_secrets_test.py
Due: prowler

feat(alibabacloud): collect OSS bucket default encryption settings
  prowler/changelog.d/oss-bucket-server-side-encryption-enabled.added.md
  prowler/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/__init__.py
  prowler/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/oss_bucket_server_side_encryption_enabled.metadata.json
  prowler/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/oss_bucket_server_side_encryption_enabled.py
  prowler/providers/alibabacloud/services/oss/oss_service.py
  tests/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/__init__.py
  tests/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/oss_bucket_server_side_encryption_enabled_test.py
Due: prowler

feat(aws): capture SageMaker endpoint config KmsKeyId
  prowler/changelog.d/sagemaker-endpoint-config-kms-encryption-enabled.added.md
  prowler/providers/aws/services/sagemaker/sagemaker_endpoint_config_kms_encryption_enabled/__init__.py
  prowler/providers/aws/services/sagemaker/sagemaker_endpoint_config_kms_encryption_enabled/sagemaker_endpoint_config_kms_encryption_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_endpoint_config_kms_encryption_enabled/sagemaker_endpoint_config_kms_encryption_enabled.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_endpoint_config_kms_encryption_enabled/__init__.py
  tests/providers/aws/services/sagemaker/sagemaker_endpoint_config_kms_encryption_enabled/sagemaker_endpoint_config_kms_encryption_enabled_test.py
Due: prowler

fix(api): prevent false Attack Paths stale cleanup
  api/changelog.d/attack-paths-stale-cleanup.fixed.md
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/config/django/base.py
  api/src/backend/tasks/jobs/attack_paths/cleanup.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/orphan_recovery.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  api/src/backend/tasks/tests/test_orphan_recovery.py
Due: api

docs(github): fix broken fine-grained PAT anchor in authentication table (#11985)
  docs/user-guide/providers/github/authentication.mdx
Due: none

fix(api): defer attack paths task revocation until commit
  api/src/backend/tasks/jobs/attack_paths/cleanup.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  api/src/backend/tasks/tests/test_orphan_recovery.py
Due: api

fix(ui): update Cloud Defender upgrade CTAs
  ui/components/layout/sidebar/menu.test.tsx
  ui/components/layout/sidebar/menu.tsx
  ui/components/lighthouse-v1/managed-lighthouse-callout.test.tsx
  ui/components/lighthouse-v1/managed-lighthouse-callout.tsx
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
Due: none

fix(ui): preserve Cloud upgrade UTM attribution
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
  ui/proxy.test.ts
  ui/proxy.ts
Due: none

chore(docs): sort pages and add cloud icon not to misalign
  docs/AGENTS.md
  docs/docs.json
  docs/getting-started/products/index.mdx
  docs/images/icons/cloud-bold.svg
  docs/style.css
  docs/user-guide/compliance/tutorials/cross-provider-compliance.mdx
  docs/user-guide/providers/aws/organizations.mdx
  docs/user-guide/tutorials/aws-organizations-bulk-provisioning.mdx
  docs/user-guide/tutorials/prowler-alerts.mdx
  docs/user-guide/tutorials/prowler-app-findings-triage.mdx
  docs/user-guide/tutorials/prowler-app-scan-configuration.mdx
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
  docs/user-guide/tutorials/prowler-cloud-azure-management-groups.mdx
  docs/user-guide/tutorials/prowler-cloud-gcp-organizations.mdx
  docs/user-guide/tutorials/prowler-cloud-lighthouse-multi-llm.mdx
  docs/user-guide/tutorials/prowler-cloud-public-ips.mdx
  docs/user-guide/tutorials/prowler-import-findings.mdx
  docs/user-guide/tutorials/prowler-scan-scheduling.mdx
Due: none

feat(ui): add missing changes
  ui/components/compliance/compliance-custom-details/cyber-essentials-details.tsx
  ui/lib/compliance/compliance-mapper.test.ts
  ui/lib/compliance/compliance-mapper.ts
  ui/lib/compliance/cyber-essentials.tsx
  ui/types/compliance.ts
Due: none

feat(compliance): add NCSC Cyber Essentials 3.3 for Azure
  prowler/compliance/cyber_essentials.json
  tests/lib/check/universal_compliance_models_test.py
Due: prowler

chore(revision): add missing changes
  prowler/compliance/cyber_essentials_3.3.json
  ui/lib/compliance/cyber-essentials.test.ts
Due: prowler

chore(changelog): update with latest changes
  api/CHANGELOG.md
  ui/CHANGELOG.md
Due: api

Apply suggestion from @pedrooot
  api/CHANGELOG.md
Due: api

chore(revision): add missing changes
  prowler/compliance/cyber_essentials_3.3.json
  tests/lib/check/universal_compliance_models_test.py
  ui/components/icons/compliance/IconCompliance.test.ts
  ui/components/icons/compliance/IconCompliance.tsx
  ui/components/icons/compliance/cyber-essentials.svg
Due: prowler

chore(changelog): add fragment for Cyber Essentials 3.3 framework
  prowler/changelog.d/cyber-essentials-3.3.added.md
Due: prowler

docs: fix malformed height attribute in ECR badge
  README.md
Due: none

docs: fix malformed height attribute in ECR badge (#11987)
  README.md
Due: none

docs(alibabacloud): add execute docstring for OSS SSE check
  prowler/providers/alibabacloud/services/oss/oss_bucket_server_side_encryption_enabled/oss_bucket_server_side_encryption_enabled.py
Due: prowler

refactor(ui): keep Cloud session attribution in Cloud
  ui/proxy.test.ts
  ui/proxy.ts
Due: none

fix(dashboard): correct UTM tags on local dashboard Prowler Cloud links
  dashboard/lib/layouts.py
  dashboard/pages/cloud.py
  dashboard/pages/overview.py
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
