Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(ui): stabilize E2E tests and improve CI performance
  ui/CHANGELOG.md
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/tests/auth-middleware-error.spec.ts
  ui/tests/auth-refresh-token.spec.ts
  ui/tests/auth-session-error-message.spec.ts
  ui/tests/helpers.ts
  ui/tests/home/home-page.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.spec.ts
  ui/tests/scans/scans.spec.ts
  ui/tests/sign-in/auth-login.spec.ts
  ui/tests/sign-in/auth-middleware.spec.ts
  ui/tests/sign-in/auth-session-errors.spec.ts
  ui/tests/sign-in/auth-token-refresh.spec.ts
  ui/tests/sign-in/sign-in-page.ts
  ui/tests/sign-in/sign-in.spec.ts
Due: none

fix(ui): improve E2E test stability for CI
  ui/playwright.config.ts
  ui/tests/providers/providers-page.ts
  ui/tests/sign-in/auth-session-errors.spec.ts
Due: none

fix(ui): restore original test behavior for clickNext and callbackUrl test
  ui/tests/providers/providers-page.ts
  ui/tests/sign-in/auth-session-errors.spec.ts
Due: none

fix(ui): revert to exact master behavior for clickNext and signOut
  ui/tests/providers/providers-page.ts
  ui/tests/sign-in/sign-in-page.ts
Due: none

fix(ui): remove URL assertions from verify methods to match master
  ui/tests/providers/providers-page.ts
Due: none

fix(ui): match original test behavior exactly
  ui/tests/home/home-page.ts
  ui/tests/sign-in/sign-in-page.ts
  ui/tests/sign-in/sign-in.spec.ts
Due: none

fix(ui): revert providers-page.ts to exact master version
  ui/tests/providers/providers-page.ts
Due: none

fix(ui): add visibility waits before filling provider forms
  ui/tests/providers/providers-page.ts
Due: none

fix(ui): add waitForURL after clickNext to ensure navigation completes
  ui/playwright.config.ts
  ui/tests/providers/providers-page.ts
Due: none

test(ui-e2e): wait for provider wizard steps by UI state
  ui/tests/providers/providers-page.ts
Due: none

test(ui-e2e): force 1 worker in CI
  ui/playwright.config.ts
Due: none

test(ui-e2e): stabilize add-credentials step wait
  ui/playwright.config.ts
  ui/tests/providers/providers-page.ts
Due: none

chore: rename cloudflare zones service to zone
  prowler/config/cloudflare_mutelist_example.yaml
  prowler/providers/cloudflare/cloudflare_provider.py
  prowler/providers/cloudflare/models.py
  prowler/providers/cloudflare/services/zone/__init__.py
  prowler/providers/cloudflare/services/zone/zone_client.py
  prowler/providers/cloudflare/services/zone/zone_dnssec_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_dnssec_enabled/zone_dnssec_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_dnssec_enabled/zone_dnssec_enabled.py
  prowler/providers/cloudflare/services/zone/zone_hsts_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_hsts_enabled/zone_hsts_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_hsts_enabled/zone_hsts_enabled.py
  prowler/providers/cloudflare/services/zone/zone_https_redirect_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_https_redirect_enabled/zone_https_redirect_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_https_redirect_enabled/zone_https_redirect_enabled.py
  prowler/providers/cloudflare/services/zone/zone_min_tls_version_secure/__init__.py
  prowler/providers/cloudflare/services/zone/zone_min_tls_version_secure/zone_min_tls_version_secure.metadata.json
  prowler/providers/cloudflare/services/zone/zone_min_tls_version_secure/zone_min_tls_version_secure.py
  prowler/providers/cloudflare/services/zone/zone_service.py
  prowler/providers/cloudflare/services/zone/zone_ssl_strict/__init__.py
  prowler/providers/cloudflare/services/zone/zone_ssl_strict/zone_ssl_strict.metadata.json
  prowler/providers/cloudflare/services/zone/zone_ssl_strict/zone_ssl_strict.py
  prowler/providers/cloudflare/services/zones/zones_client.py
  tests/providers/cloudflare/cloudflare_provider_test.py
  tests/providers/cloudflare/lib/mutelist/cloudflare_mutelist_test.py
  tests/providers/cloudflare/lib/mutelist/fixtures/cloudflare_mutelist.yaml
  tests/providers/cloudflare/services/zone/zone_dnssec_enabled/zone_dnssec_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_hsts_enabled/zone_hsts_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_https_redirect_enabled/zone_https_redirect_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_min_tls_version_secure/zone_min_tls_version_secure_test.py
  tests/providers/cloudflare/services/zone/zone_service_test.py
  tests/providers/cloudflare/services/zone/zone_ssl_strict/zone_ssl_strict_test.py
Due: prowler

fix(attack-paths): fix duplicate virtual nodes in priv escalation queries
  api/src/backend/api/attack_paths/query_definitions.py
Due: api

feat(ui): improve threatscore visualization per pillar (#9773)
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-charts/chart-skeletons.tsx
  ui/components/compliance/compliance-charts/requirements-status-card.tsx
  ui/components/compliance/compliance-charts/threatscore-breakdown-card.tsx
  ui/components/compliance/compliance-charts/top-failed-sections-card.tsx
  ui/components/compliance/compliance-download-button.tsx
  ui/components/compliance/compliance-header/compliance-header.tsx
  ui/components/compliance/index.ts
  ui/components/compliance/threatscore-badge.tsx
  ui/components/graphs/radial-chart.tsx
  ui/lib/compliance/score-utils.ts
Due: none

refactor(attack-paths): show target roles in PassRole escalation paths
  api/src/backend/api/attack_paths/query_definitions.py
Due: api

fix(attack-paths): remove duplicate path_target causing disconnected nodes
  api/src/backend/api/attack_paths/query_definitions.py
Due: api

fix(attack-paths): connect virtual nodes from principal instead of effective_principal
  api/src/backend/api/attack_paths/query_definitions.py
Due: api

test(ui-e2e): relax credentials page loaded assertion
  ui/tests/providers/providers-page.ts
Due: none

test(ui-e2e): fix provider wizard step detection and delete race condition
  ui/tests/helpers.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.spec.ts
Due: none

feat(attack-paths): add Bedrock and AttachRolePolicy privilege escalation queries
  api/src/backend/api/attack_paths/query_definitions.py
Due: api

test(ui-e2e): add screenshot capture on step transition failure for CI debugging
  ui/tests/providers/providers-page.ts
Due: none

test(ui-e2e): enable HTML reporter in CI for artifact upload
  ui/playwright.config.ts
Due: none

test(ui-e2e): improve provider deletion wait with double poll strategy
  ui/tests/helpers.ts
Due: none

test(ui-e2e): use 10s fixed delay for Celery provider deletion
  ui/tests/helpers.ts
Due: none

test(ui-e2e): revert to master-like approach for provider wizard
  ui/tests/helpers.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.spec.ts
Due: none

test(ui-e2e): make scans depend on providers to avoid parallel conflicts
  ui/playwright.config.ts
Due: none

chore(cloudflare): rename zones service to zone (#9792)
  prowler/config/cloudflare_mutelist_example.yaml
  prowler/providers/cloudflare/cloudflare_provider.py
  prowler/providers/cloudflare/models.py
  prowler/providers/cloudflare/services/zone/__init__.py
  prowler/providers/cloudflare/services/zone/zone_client.py
  prowler/providers/cloudflare/services/zone/zone_dnssec_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_dnssec_enabled/zone_dnssec_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_dnssec_enabled/zone_dnssec_enabled.py
  prowler/providers/cloudflare/services/zone/zone_hsts_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_hsts_enabled/zone_hsts_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_hsts_enabled/zone_hsts_enabled.py
  prowler/providers/cloudflare/services/zone/zone_https_redirect_enabled/__init__.py
  prowler/providers/cloudflare/services/zone/zone_https_redirect_enabled/zone_https_redirect_enabled.metadata.json
  prowler/providers/cloudflare/services/zone/zone_https_redirect_enabled/zone_https_redirect_enabled.py
  prowler/providers/cloudflare/services/zone/zone_min_tls_version_secure/__init__.py
  prowler/providers/cloudflare/services/zone/zone_min_tls_version_secure/zone_min_tls_version_secure.metadata.json
  prowler/providers/cloudflare/services/zone/zone_min_tls_version_secure/zone_min_tls_version_secure.py
  prowler/providers/cloudflare/services/zone/zone_service.py
  prowler/providers/cloudflare/services/zone/zone_ssl_strict/__init__.py
  prowler/providers/cloudflare/services/zone/zone_ssl_strict/zone_ssl_strict.metadata.json
  prowler/providers/cloudflare/services/zone/zone_ssl_strict/zone_ssl_strict.py
  prowler/providers/cloudflare/services/zones/zones_client.py
  tests/providers/cloudflare/cloudflare_provider_test.py
  tests/providers/cloudflare/lib/mutelist/cloudflare_mutelist_test.py
  tests/providers/cloudflare/lib/mutelist/fixtures/cloudflare_mutelist.yaml
  tests/providers/cloudflare/services/zone/zone_dnssec_enabled/zone_dnssec_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_hsts_enabled/zone_hsts_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_https_redirect_enabled/zone_https_redirect_enabled_test.py
  tests/providers/cloudflare/services/zone/zone_min_tls_version_secure/zone_min_tls_version_secure_test.py
  tests/providers/cloudflare/services/zone/zone_service_test.py
  tests/providers/cloudflare/services/zone/zone_ssl_strict/zone_ssl_strict_test.py
Due: prowler

fix(ui-e2e): update provider selectors from option to radio
  ui/tests/providers/providers-page.ts
Due: none

fix: filter_zones
  prowler/providers/cloudflare/cloudflare_provider.py
  prowler/providers/cloudflare/services/zone/zone_service.py
  tests/providers/cloudflare/cloudflare_provider_test.py
Due: prowler

chore: e2e providers test simplification
  ui/CHANGELOG.md
  ui/tests/helpers.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.spec.ts
Due: none

fix(ui-e2e): use .or() for provider selectors to handle both radio and option roles
  ui/tests/providers/providers-page.ts
Due: none

fix(ui-e2e): increase constraint retry timeout to 75s (15 retries * 5s)
  ui/tests/providers/providers-page.ts
Due: none

fix(ui-e2e): replace fragile CSS selectors with text matching for sign-in page
  api/.env.example
  mcp_server/.env.template
  ui/.vscode/settings.json
  ui/tests/sign-in/auth-middleware.spec.ts
  ui/tests/sign-in/sign-in-page.ts
  ui/tests/sign-in/sign-in.spec.ts
Due: api

fix(ui-e2e): reduce CI workers to 1 for sequential test execution
  ui/playwright.config.ts
Due: none

fix(ui-e2e): use 1 worker for both local and CI
  ui/playwright.config.ts
Due: none

chore(ui-e2e): remove unused os import from playwright config
  ui/playwright.config.ts
Due: none

feat(ui): add region column to findings table
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/finding-detail.tsx
Due: none

chore: add docstrings
  prowler/providers/cloudflare/services/zone/zone_automatic_https_rewrites_enabled/zone_automatic_https_rewrites_enabled.py
  prowler/providers/cloudflare/services/zone/zone_email_obfuscation_enabled/zone_email_obfuscation_enabled.py
  prowler/providers/cloudflare/services/zone/zone_record_caa_exists/zone_record_caa_exists.py
  prowler/providers/cloudflare/services/zone/zone_record_dkim_exists/zone_record_dkim_exists.py
  prowler/providers/cloudflare/services/zone/zone_record_dmarc_exists/zone_record_dmarc_exists.py
  prowler/providers/cloudflare/services/zone/zone_record_spf_exists/zone_record_spf_exists.py
  prowler/providers/cloudflare/services/zone/zone_security_under_attack_disabled/zone_security_under_attack_disabled.py
  prowler/providers/cloudflare/services/zone/zone_tls_1_3_enabled/zone_tls_1_3_enabled.py
  prowler/providers/cloudflare/services/zone/zone_universal_ssl_enabled/zone_universal_ssl_enabled.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
