Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore: add other prs to changelog
  prowler/CHANGELOG.md
Due: prowler

Remove GuardDuty metadata update from changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws): enhance metadata for `lightsail` service (#9264)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/lightsail/lightsail_database_public/lightsail_database_public.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_instance_automated_snapshots/lightsail_instance_automated_snapshots.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_instance_public/lightsail_instance_public.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_static_ip_unused/lightsail_static_ip_unused.metadata.json
Due: prowler

refactor: move validation to filter
  api/src/backend/api/filters.py
  api/src/backend/api/v1/views.py
Due: api

chore(github): configure new runner for AWS tests
  .github/workflows/sdk-tests.yml
Due: none

fix(api): unlimited limit-request-line (#9461)
  api/src/backend/config/guniconf.py
Due: api

chore(aws): enhance metadata for `mq` service (#9267)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/mq/mq_broker_active_deployment_mode/mq_broker_active_deployment_mode.metadata.json
  prowler/providers/aws/services/mq/mq_broker_auto_minor_version_upgrades/mq_broker_auto_minor_version_upgrades.metadata.json
  prowler/providers/aws/services/mq/mq_broker_cluster_deployment_mode/mq_broker_cluster_deployment_mode.metadata.json
  prowler/providers/aws/services/mq/mq_broker_logging_enabled/mq_broker_logging_enabled.metadata.json
  prowler/providers/aws/services/mq/mq_broker_not_publicly_accessible/mq_broker_not_publicly_accessible.metadata.json
Due: prowler

refactor: restructure task chaining to use groups for parallel run
  api/src/backend/tasks/tasks.py
Due: api

chore(github): test aws tests on new runner
  .github/workflows/sdk-tests.yml
Due: none

fix: remove importing non-existent classes
  mcp_server/prowler_mcp_server/prowler_app/models/__init__.py
Due: none

fix: remove importing non-existent classes (#9467)
  mcp_server/prowler_mcp_server/prowler_app/models/__init__.py
Due: none

chore: move to pnpm-lock and upgrade lighthouse dependencies
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

chore(ci): try with 4 threads
  .github/workflows/sdk-tests.yml
Due: none

chore(aws): enhance metadata for `networkfirewall` service (#9382)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/networkfirewall/networkfirewall_deletion_protection/networkfirewall_deletion_protection.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_in_all_vpc/networkfirewall_in_all_vpc.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_logging_enabled/networkfirewall_logging_enabled.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_multi_az/networkfirewall_multi_az.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_fragmented_packets/networkfirewall_policy_default_action_fragmented_packets.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_full_packets/networkfirewall_policy_default_action_full_packets.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_rule_group_associated/networkfirewall_policy_rule_group_associated.metadata.json
Due: prowler

fix: update test
  api/src/backend/api/tests/test_views.py
Due: api

feat(ui): add navigation progress bar using Next.js onRouterTransitionStart
  ui/app/(auth)/layout.tsx
  ui/app/(prowler)/layout.tsx
  ui/components/ui/index.ts
  ui/components/ui/navigation-progress/index.ts
  ui/components/ui/navigation-progress/navigation-progress.tsx
  ui/components/ui/navigation-progress/use-navigation-progress.ts
  ui/instrumentation-client.ts
  ui/styles/globals.css
Due: none

refactor(ui): simplify navigation progress with DRY helpers
  ui/components/ui/navigation-progress/navigation-progress.tsx
  ui/components/ui/navigation-progress/use-navigation-progress.ts
Due: none

fix(ui): cancel progress when navigating to same URL
  ui/components/ui/navigation-progress/use-navigation-progress.ts
  ui/instrumentation-client.ts
Due: none

feat(api): add findings severity timeseries endpoint (#9363)
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0061_daily_severity_summary.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/backfill.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
Due: api

docs(ui): add navigation progress bar to CHANGELOG
  ui/CHANGELOG.md
Due: none

feat(ui): add navigation progress bar for better UX during page transitions (#9465)
  ui/CHANGELOG.md
  ui/app/(auth)/layout.tsx
  ui/app/(prowler)/layout.tsx
  ui/components/ui/index.ts
  ui/components/ui/navigation-progress/index.ts
  ui/components/ui/navigation-progress/navigation-progress.tsx
  ui/components/ui/navigation-progress/use-navigation-progress.ts
  ui/instrumentation-client.ts
  ui/styles/globals.css
Due: none

feat(compliance): add needed changes for RBI azure
  prowler/compliance/azure/rbi_cyber_security_framework_azure.json
Due: prowler

chore(aws): enhance metadata for `macie` service (#9265)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/macie/macie_automated_sensitive_data_discovery_enabled/macie_automated_sensitive_data_discovery_enabled.metadata.json
  prowler/providers/aws/services/macie/macie_is_enabled/macie_is_enabled.metadata.json
Due: prowler

chore: execute tests for only needed aws services
  .github/workflows/sdk-tests.yml
Due: none

chore: change s3 check to test
  prowler/providers/aws/services/s3/s3_bucket_level_public_access_block/s3_bucket_level_public_access_block.py
Due: prowler

fix(ui): correct Risk Score calculation and add severity percentages
  ui/actions/overview/index.ts
  ui/actions/overview/risk-plot/index.ts
  ui/actions/overview/risk-plot/risk-plot.adapter.ts
  ui/actions/overview/risk-plot/risk-plot.ts
  ui/actions/overview/risk-plot/types/risk-plot.types.ts
  ui/app/(prowler)/_new-overview/graphs-tabs/_config/graphs-tabs-config.ts
  ui/app/(prowler)/_new-overview/graphs-tabs/graphs-tabs-wrapper.tsx
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-view.tsx
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot.ssr.tsx
  ui/components/graphs/shared/alert-pill.tsx
Due: none

docs(ui): add Risk Plot to CHANGELOG
  ui/CHANGELOG.md
Due: none

fix(ui): format Risk Score tooltip to match ThreatScore style
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
Due: none

fix(ui): simplify Risk Score tooltip format
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
Due: none

fix(ui): show raw Risk Score percentage without rounding
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
Due: none

fix(ui): show Top Failed Requirements for compliances without section hierarchy
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-charts/top-failed-sections-card.tsx
  ui/lib/compliance/commons.tsx
  ui/lib/compliance/compliance-mapper.ts
  ui/lib/compliance/mitre.tsx
  ui/types/compliance.ts
Due: none

fix(ui): remove rounding from Risk Score conversion to preserve decimals
  ui/actions/overview/risk-plot/risk-plot.adapter.ts
Due: none

refactor(ui): simplify Risk Plot - use ThreatScore directly, remove mocks
  ui/actions/overview/risk-plot/risk-plot.adapter.ts
  ui/actions/overview/risk-plot/types/risk-plot.types.ts
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-client.tsx
  ui/app/(prowler)/_new-overview/graphs-tabs/risk-plot/risk-plot-view.tsx
Due: none

fix(ui): use severity sum for failed findings count in Risk Plot
  ui/actions/overview/risk-plot/risk-plot.adapter.ts
Due: none

feat(compliance): add RBI Cyber Security Framework for Azure
  prowler/compliance/azure/rbi_cyber_security_framework_azure.json
Due: prowler

docs(changelog): add RBI Cyber Security Framework for Azure
  prowler/CHANGELOG.md
Due: prowler

chore(changelog): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

chore(changelog): update with latest changes
  ui/CHANGELOG.md
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
