Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore(aws/awslambda): adapt metadata to new standarized format
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.metadata.json
Due: prowler

chore: add aws/awslambda metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/backup): adapt metadata to new standarized format
  prowler/providers/aws/services/backup/backup_plans_exist/backup_plans_exist.metadata.json
  prowler/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted.metadata.json
  prowler/providers/aws/services/backup/backup_reportplans_exist/backup_reportplans_exist.metadata.json
  prowler/providers/aws/services/backup/backup_vaults_encrypted/backup_vaults_encrypted.metadata.json
  prowler/providers/aws/services/backup/backup_vaults_exist/backup_vaults_exist.metadata.json
Due: prowler

chore: add aws/backup metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

fix(tests): deprecated import
  api/src/backend/api/tests/test_db_utils.py
Due: api

fix: remove incorrect links
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/apigateway_restapi_logging_enabled.metadata.json
Due: prowler

fix: remove incorrect links
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/apigateway_restapi_public.metadata.json
Due: prowler

fix: remove incorrect links
  prowler/providers/aws/services/apigateway/apigateway_restapi_public_with_authorizer/apigateway_restapi_public_with_authorizer.metadata.json
Due: prowler

chore: change link order
  prowler/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/apigateway_restapi_tracing_enabled.metadata.json
Due: prowler

refactor(auth): remove unused isCloudEnv prop from AuthForm and SignUpForm, replacing it with environment variable check
  ui/components/auth/oss/auth-form.tsx
  ui/components/auth/oss/sign-up-form.tsx
Due: none

fix: links
  prowler/providers/aws/services/appstream/appstream_fleet_default_internet_access_disabled/appstream_fleet_default_internet_access_disabled.metadata.json
Due: prowler

fix: categories
  prowler/providers/aws/services/appstream/appstream_fleet_maximum_session_duration/appstream_fleet_maximum_session_duration.metadata.json
Due: prowler

fix: metadata
  prowler/providers/aws/services/appstream/appstream_fleet_session_disconnect_timeout/appstream_fleet_session_disconnect_timeout.metadata.json
Due: prowler

fix: metadata
  prowler/providers/aws/services/appstream/appstream_fleet_session_disconnect_timeout/appstream_fleet_session_disconnect_timeout.metadata.json
  prowler/providers/aws/services/appstream/appstream_fleet_session_idle_disconnect_timeout/appstream_fleet_session_idle_disconnect_timeout.metadata.json
Due: prowler

fix: metadata
  prowler/providers/aws/services/appstream/appstream_fleet_session_idle_disconnect_timeout/appstream_fleet_session_idle_disconnect_timeout.metadata.json
Due: prowler

fix: import
  api/src/backend/api/models.py
Due: api

refactor(auth): centralize error handling paths in SignUpForm and improve resource input parsing in Lighthouse tools
  ui/components/auth/oss/sign-up-form.tsx
  ui/lib/lighthouse/tools/resources.ts
Due: none

feat(compliance): add c5 germany support for AWS
  api/src/backend/tasks/jobs/export.py
  dashboard/compliance/c5_aws.py
  prowler/__main__.py
  prowler/compliance/aws/c5_aws.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/c5/c5.py
  prowler/lib/outputs/compliance/c5/c5_aws.py
  prowler/lib/outputs/compliance/compliance.py
  ui/lib/compliance/c5.tsx
  ui/types/compliance.ts
Due: prowler, api

feat(export): change output order to keep consistency
  api/src/backend/tasks/jobs/export.py
Due: api

chore(aws/bedrock): adapt metadata to new standarized format
  prowler/providers/aws/services/bedrock/bedrock_agent_guardrail_enabled/bedrock_agent_guardrail_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_api_key_no_administrative_privileges/bedrock_api_key_no_administrative_privileges.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/bedrock_api_key_no_long_term_credentials.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/bedrock_guardrail_prompt_attack_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/bedrock_guardrail_sensitive_information_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.metadata.json
Due: prowler

chore: add aws/bedrock metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/cloudformation): adapt metadata to new standarized format
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stacks_termination_protection_enabled/cloudformation_stacks_termination_protection_enabled.metadata.json
Due: prowler

chore: add aws/cloudformation metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/cloudfront): adapt metadata to new standarized format
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_custom_ssl_certificate/cloudfront_distributions_custom_ssl_certificate.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_default_root_object/cloudfront_distributions_default_root_object.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_field_level_encryption_enabled/cloudfront_distributions_field_level_encryption_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_geo_restrictions_enabled/cloudfront_distributions_geo_restrictions_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_enabled/cloudfront_distributions_https_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_logging_enabled/cloudfront_distributions_logging_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_multiple_origin_failover_configured/cloudfront_distributions_multiple_origin_failover_configured.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_origin_traffic_encrypted/cloudfront_distributions_origin_traffic_encrypted.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_access_control/cloudfront_distributions_s3_origin_access_control.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_using_deprecated_ssl_protocols/cloudfront_distributions_using_deprecated_ssl_protocols.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_using_waf/cloudfront_distributions_using_waf.metadata.json
Due: prowler

chore: add aws/cloudfront metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

feat(github): handle separately path and content of github app key
  prowler/providers/common/provider.py
  prowler/providers/github/github_provider.py
  prowler/providers/github/lib/arguments/arguments.py
  tests/providers/github/github_provider_test.py
  tests/providers/github/lib/arguments/github_arguments_test.py
Due: prowler

feat(ui): latest c5 touches
  prowler/compliance/aws/c5_aws.json
  ui/components/compliance/compliance-accordion/compliance-accordion-requeriment-title.tsx
  ui/components/compliance/compliance-custom-details/c5-details.tsx
  ui/components/icons/compliance/IconCompliance.tsx
  ui/components/icons/compliance/c5.svg
  ui/lib/compliance/compliance-mapper.ts
Due: prowler

chore(changelog): update with latest changes
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Due: prowler, api

chore(aws/cloudtrail): adapt metadata to new standarized format
  prowler/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_insights_exist/cloudtrail_insights_exist.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_kms_encryption_enabled/cloudtrail_kms_encryption_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.metadata.json
Due: prowler

chore: add aws/cloudtrail metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

feat: add RBI compliance framework for GCP
  prowler/compliance/gcp/rbi_cyber_security_framework_gcp.json
Due: prowler

feat(github): add organization verified badge check (CIS 1.3.9)
  prowler/providers/github/services/organization/organization_service.py
  prowler/providers/github/services/organization/organization_verified_badge/__init__.py
  prowler/providers/github/services/organization/organization_verified_badge/organization_verified_badge.metadata.json
  prowler/providers/github/services/organization/organization_verified_badge/organization_verified_badge.py
  tests/providers/github/services/organization/organization_service_test.py
  tests/providers/github/services/organization/organization_verified_badge/organization_verified_badge_test.py
Due: prowler

feat: add HIPAA compliance framework for Azure
  prowler/compliance/azure/hipaa_azure.json
Due: prowler

feat: add RBI compliance framework for Azure
  prowler/compliance/azure/rbi_cyber_security_framework_azure.json
  tests/lib/check/test_compliance_rbi_azure.py
Due: prowler

feat(github): add organization_base_permissions_strict check for CIS 1.3.8
  prowler/providers/github/services/organization/organization_base_permissions_strict/__init__.py
  prowler/providers/github/services/organization/organization_base_permissions_strict/organization_base_permissions_strict.metadata.json
  prowler/providers/github/services/organization/organization_base_permissions_strict/organization_base_permissions_strict.py
  prowler/providers/github/services/organization/organization_service.py
  tests/providers/github/services/organization/organization_base_permissions_strict/organization_base_permissions_strict_test.py
  tests/providers/github/services/organization/organization_service_test.py
Due: prowler

feat: add HIPAA compliance framework for GCP
  prowler/compliance/gcp/hipaa_gcp.json
  tests/lib/outputs/compliance/hipaa/__init__.py
  tests/lib/outputs/compliance/hipaa/hipaa_gcp_test.py
Due: prowler

test: make conflict checker fail for testing
  .github/workflows/pr-conflict-checker.yml
Due: none

chore: test conflicts
  prowler/__main__.py
Due: prowler
