Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(oci): handle null fields in identity service (#12337)
  prowler/changelog.d/oci-dynamic-group-null-matching-rule.fixed.md
  prowler/providers/oraclecloud/services/identity/identity_service.py
  tests/providers/oraclecloud/services/identity/identity_service_test.py
Due: prowler

fix(sdk): only report JDBC strings with embedded credentials (#12288)
  prowler/changelog.d/kingfisher-jdbc-false-positive.fixed.md
  prowler/lib/utils/kingfisher_rules/kingfisher_jdbc_1.yaml
  prowler/lib/utils/utils.py
  tests/lib/utils/utils_test.py
Due: prowler

fix(aws): remove rds certificate expiration false positives
  prowler/changelog.d/rds-certificate-expiration-neptune-fp.fixed.md
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Due: prowler

chore(revision): coderabbitai comments
  prowler/changelog.d/delegated-admin-unknown-manual.changed.md
  prowler/providers/aws/services/config/config_delegated_admin_and_org_aggregator_all_regions/config_delegated_admin_and_org_aggregator_all_regions.py
  tests/providers/aws/services/config/config_delegated_admin_and_org_aggregator_all_regions/config_delegated_admin_and_org_aggregator_all_regions_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_fixer_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
Due: prowler

chore: fix flake8
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_fixer_test.py
Due: none

fix(ci): add the input to base action
  .github/actions/setup-python-uv/action.yml
Due: none

ci(container): scan images with Grype alongside Trivy
  .github/actions/grype-scan/action.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/ui-container-checks.yml
Due: none

ci(container): block on critical and high, and allow Grype's egress
  .github/actions/grype-scan/action.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/ui-container-checks.yml
Due: none

fix(container): verify the checksum of downloaded third-party binaries (#12334)
  Dockerfile
  api/Dockerfile
  api/changelog.d/api-verify-downloaded-binaries.security.md
  prowler/changelog.d/verify-downloaded-binaries.security.md
Due: prowler, api

ci(container): exclude what cannot be fixed, upgrade aiohttp
  .grype.yaml
  api/changelog.d/api-aiohttp-cve-2026-69244.security.md
  api/pyproject.toml
  api/uv.lock
  prowler/changelog.d/aiohttp-cve-2026-69244.security.md
  pyproject.toml
  uv.lock
Due: prowler, api

fix(ci): formatting in action.yml for update-sdk-lock
  .github/actions/setup-python-uv/action.yml
Due: none

ci(container): print only the findings that block
  .github/actions/grype-scan/action.yml
Due: none

ci(container): scan images with Grype alongside Trivy, blocking on critical and high (#12340)
  .github/actions/grype-scan/action.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/ui-container-checks.yml
  .grype.yaml
  api/changelog.d/api-aiohttp-cve-2026-69244.security.md
  api/pyproject.toml
  api/uv.lock
  prowler/changelog.d/aiohttp-cve-2026-69244.security.md
  pyproject.toml
  uv.lock
Due: prowler, api

fix(ui): prevent stale SAML metadata reads
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/integrations/saml/saml-config-form.tsx
Due: none

ci(container): stop gating on findings nobody can fix, and explain failures in the PR
  .github/actions/grype-scan/action.yml
  .github/scripts/grype-pr-comment.js
  .github/workflows/api-container-checks.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/ui-container-checks.yml
  .grype.yaml
Due: none

ci(container): align the Trivy gate with Grype's
  .github/actions/trivy-scan/action.yml
  .github/workflows/api-container-checks.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/ui-container-checks.yml
  .trivyignore.yaml
Due: none

fix(ui): preserve finding compliance logo background
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
Due: none

ci(container): classify what the aligned Trivy gate reports
  .trivyignore.yaml
Due: none

fix(aws): delegated administrator lookup and reporting (#12319)
  prowler/changelog.d/delegated-admin-unknown-manual.changed.md
  prowler/changelog.d/guardduty-delegated-admin-lookup.fixed.md
  prowler/changelog.d/securityhub-admin-lookup-per-region.fixed.md
  prowler/changelog.d/securityhub-delegated-admin-fields.fixed.md
  prowler/providers/aws/services/config/config_delegated_admin_and_org_aggregator_all_regions/config_delegated_admin_and_org_aggregator_all_regions.py
  prowler/providers/aws/services/guardduty/guardduty_delegated_admin_enabled_all_regions/guardduty_delegated_admin_enabled_all_regions.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  prowler/providers/aws/services/securityhub/securityhub_delegated_admin_enabled_all_regions/securityhub_delegated_admin_enabled_all_regions.py
  prowler/providers/aws/services/securityhub/securityhub_service.py
  tests/providers/aws/services/config/config_delegated_admin_and_org_aggregator_all_regions/config_delegated_admin_and_org_aggregator_all_regions_test.py
  tests/providers/aws/services/guardduty/guardduty_delegated_admin_enabled_all_regions/guardduty_delegated_admin_enabled_all_regions_test.py
  tests/providers/aws/services/securityhub/securityhub_delegated_admin_enabled_all_regions/securityhub_delegated_admin_enabled_all_regions_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_fixer_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
  tests/providers/aws/services/securityhub/securityhub_service_test.py
  tests/providers/aws/utils.py
Due: prowler

ci(container): exclude the second oras-go finding
  .trivyignore.yaml
Due: none

fix(sdk): only report JDBC strings with embedded credentials (#12338)
  prowler/changelog.d/kingfisher-jdbc-false-positive.fixed.md
  prowler/lib/utils/kingfisher_rules/kingfisher_jdbc_1.yaml
  prowler/lib/utils/utils.py
  tests/lib/utils/utils_test.py
Due: prowler

chore(revision): change logic
  prowler/changelog.d/rds-certificate-expiration-neptune-fp.fixed.md
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Due: prowler

chore(ui): scope this branch to the test-harness fixes
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.integration.test.tsx
  ui/app/(prowler)/providers/providers-tab-content.tsx
  ui/changelog.d/cancelled-task-error.fixed.md
  ui/lib/helper.test.ts
  ui/lib/helper.ts
  ui/types/schedules.ts
Due: none

ci(container): allow the Grype installer's primary download host
  .github/workflows/api-container-checks.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/ui-container-checks.yml
Due: none

ci(container): gate Grype only on fixable findings, and comment results on the PR (#12341)
  .github/actions/grype-scan/action.yml
  .github/actions/trivy-scan/action.yml
  .github/scripts/grype-pr-comment.js
  .github/workflows/api-container-checks.yml
  .github/workflows/mcp-container-checks.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/ui-container-checks.yml
  .grype.yaml
  .trivyignore.yaml
Due: none

fix(ui): harden SAML configuration workflow
  ui/actions/integrations/saml.test.ts
  ui/actions/integrations/saml.ts
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/integrations/saml/saml-config-form.tsx
Due: none

fix(m365): harden ExternalAccessWithTrialTenants collection and align check metadata
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/teams/teams_external_access_trial_tenants_blocked/teams_external_access_trial_tenants_blocked.metadata.json
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_external_access_trial_tenants_blocked/teams_external_access_trial_tenants_blocked_test.py
  tests/providers/m365/services/teams/teams_service_test.py
Due: prowler

refactor(ui): streamline SAML configuration form
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/integrations/saml/saml-config-form.tsx
  ui/lib/cloud-upgrade.ts
  ui/types/formSchemas.test.ts
  ui/types/formSchemas.ts
  ui/types/saml.ts
Due: none

test(mcp): cover the integrations tools and models
  mcp_server/changelog.d/integrations-tests.added.md
  mcp_server/changelog.d/list-integrations-sparse-fieldset.changed.md
  mcp_server/prowler_mcp_server/prowler_app/models/integrations.py
  mcp_server/prowler_mcp_server/prowler_app/tools/integrations.py
  mcp_server/tests/helpers/http.py
  mcp_server/tests/prowler_app/models/test_integrations.py
  mcp_server/tests/prowler_app/tools/test_integrations.py
Due: none

fix(aws): delegated administrator lookup and reporting (#12342)
  prowler/changelog.d/delegated-admin-unknown-manual.changed.md
  prowler/changelog.d/guardduty-delegated-admin-lookup.fixed.md
  prowler/changelog.d/securityhub-admin-lookup-per-region.fixed.md
  prowler/changelog.d/securityhub-delegated-admin-fields.fixed.md
  prowler/providers/aws/services/config/config_delegated_admin_and_org_aggregator_all_regions/config_delegated_admin_and_org_aggregator_all_regions.py
  prowler/providers/aws/services/guardduty/guardduty_delegated_admin_enabled_all_regions/guardduty_delegated_admin_enabled_all_regions.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  prowler/providers/aws/services/securityhub/securityhub_delegated_admin_enabled_all_regions/securityhub_delegated_admin_enabled_all_regions.py
  prowler/providers/aws/services/securityhub/securityhub_service.py
  tests/providers/aws/services/config/config_delegated_admin_and_org_aggregator_all_regions/config_delegated_admin_and_org_aggregator_all_regions_test.py
  tests/providers/aws/services/guardduty/guardduty_delegated_admin_enabled_all_regions/guardduty_delegated_admin_enabled_all_regions_test.py
  tests/providers/aws/services/securityhub/securityhub_delegated_admin_enabled_all_regions/securityhub_delegated_admin_enabled_all_regions_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_fixer_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
  tests/providers/aws/services/securityhub/securityhub_service_test.py
  tests/providers/aws/utils.py
Due: prowler

fix(api): log comp report output dir failures with exc_info (#12142)
  api/changelog.d/report-output-dir-error-grouping.fixed.md
  api/src/backend/api/tests/test_sentry.py
  api/src/backend/config/settings/sentry.py
  api/src/backend/tasks/jobs/report.py
  api/src/backend/tasks/tests/test_reports.py
Due: api

chore: fix CI
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.py
Due: prowler

test(ui): stabilize browser-mode test harnesses (#12301)
  ui/__tests__/browser-harness.integration.test.ts
  ui/__tests__/browser-harness.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/query-selector.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.harness.ts
  ui/app/(prowler)/providers/providers-tab-content.tsx
  ui/vitest.config.ts
Due: none

fix(ui): keep page-size selector when table fits one page
  ui/changelog.d/table-page-size-selector.fixed.md
  ui/components/shadcn/table/data-table-pagination.test.tsx
  ui/components/shadcn/table/data-table-pagination.tsx
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
