Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

docs(changelog): add fragment for sagemaker_notebook_instance_no_secrets
  prowler/changelog.d/sagemaker-notebook-no-secrets.added.md
Due: prowler

feat(sagemaker): add sagemaker_notebook_instance_no_secrets check (#11843)
  prowler/changelog.d/sagemaker-notebook-no-secrets.added.md
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/__init__.py
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/sagemaker_notebook_instance_no_secrets.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/sagemaker_notebook_instance_no_secrets.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_no_secrets/sagemaker_notebook_instance_no_secrets_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
Due: prowler

fix(ui): prevent findings timeline axis overflow (#11545)
  ui/changelog.d/findings-timeline-y-axis.fixed.md
  ui/components/graphs/line-chart.test.tsx
  ui/components/graphs/line-chart.tsx
  ui/components/graphs/line-chart.utils.ts
Due: none

fix(ui): apply CodeRabbit feedback on cloud env migration
  ui/Dockerfile
  ui/types/authFormSchema.ts
Due: none

fix(ui): gate scan tour behind full launch condition
  ui/app/(prowler)/scans/page.test.tsx
  ui/components/scans/scans-page-shell.test.tsx
  ui/components/scans/scans-page-shell.tsx
Due: none

fix(ui): show AWS Organizations deployment hint in error color
  ui/changelog.d/aws-organizations-ou-hint-error-color.fixed.md
  ui/components/providers/organizations/org-setup-form.tsx
Due: none

fix(api): expose failed Jira dispatch findings
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tests/test_integrations.py
Due: api

fix(ui): complete grouped Jira dispatch review
  ui/actions/integrations/jira-dispatch.test.ts
  ui/actions/integrations/jira-dispatch.ts
  ui/app/(prowler)/findings/page.test.ts
  ui/components/findings/floating-mute-button.test.tsx
  ui/components/findings/floating-mute-button.tsx
  ui/components/findings/jira-dispatch-task-handler.test.tsx
  ui/components/findings/jira-dispatch-task-handler.tsx
  ui/components/findings/send-to-jira-modal.test.tsx
  ui/components/findings/send-to-jira-modal.tsx
  ui/components/findings/table/column-finding-resources.test.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/data-table-row-actions.test.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/findings/table/findings-group-drill-down.test.ts
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/findings-group-table.test.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/shadcn/custom/custom-radio.tsx
  ui/components/shared/task-polling-watcher.tsx
  ui/lib/jira-dispatch-result.ts
  ui/lib/jira-dispatch-selection.ts
  ui/lib/jira-dispatch-task.ts
  ui/store/task-watcher/store.test.ts
  ui/store/task-watcher/store.ts
  ui/types/integrations.ts
Due: none

feat(huaweicloud): add ECS key-pair/security-group, RDS disk-encryption and VPC all-protocols checks with tests
  prowler/providers/huaweicloud/services/ecs/ecs_instance_key_pair/__init__.py
  prowler/providers/huaweicloud/services/ecs/ecs_instance_key_pair/ecs_instance_key_pair.metadata.json
  prowler/providers/huaweicloud/services/ecs/ecs_instance_key_pair/ecs_instance_key_pair.py
  prowler/providers/huaweicloud/services/ecs/ecs_instance_no_default_security_group/__init__.py
  prowler/providers/huaweicloud/services/ecs/ecs_instance_no_default_security_group/ecs_instance_no_default_security_group.metadata.json
  prowler/providers/huaweicloud/services/ecs/ecs_instance_no_default_security_group/ecs_instance_no_default_security_group.py
  prowler/providers/huaweicloud/services/ecs/ecs_instance_security_groups_attached/__init__.py
  prowler/providers/huaweicloud/services/ecs/ecs_instance_security_groups_attached/ecs_instance_security_groups_attached.metadata.json
  prowler/providers/huaweicloud/services/ecs/ecs_instance_security_groups_attached/ecs_instance_security_groups_attached.py
  prowler/providers/huaweicloud/services/rds/rds_instance_disk_encryption/__init__.py
  prowler/providers/huaweicloud/services/rds/rds_instance_disk_encryption/rds_instance_disk_encryption.metadata.json
  prowler/providers/huaweicloud/services/rds/rds_instance_disk_encryption/rds_instance_disk_encryption.py
  prowler/providers/huaweicloud/services/vpc/vpc_security_group_all_protocols_open/__init__.py
  prowler/providers/huaweicloud/services/vpc/vpc_security_group_all_protocols_open/vpc_security_group_all_protocols_open.metadata.json
  prowler/providers/huaweicloud/services/vpc/vpc_security_group_all_protocols_open/vpc_security_group_all_protocols_open.py
  tests/providers/huaweicloud/services/ecs/ecs_instance_key_pair/ecs_instance_key_pair_test.py
  tests/providers/huaweicloud/services/ecs/ecs_instance_no_default_security_group/ecs_instance_no_default_security_group_test.py
  tests/providers/huaweicloud/services/ecs/ecs_instance_security_groups_attached/ecs_instance_security_groups_attached_test.py
  tests/providers/huaweicloud/services/rds/rds_instance_disk_encryption/rds_instance_disk_encryption_test.py
  tests/providers/huaweicloud/services/vpc/vpc_security_group_all_protocols_open/vpc_security_group_all_protocols_open_test.py
Due: prowler

feat(huaweicloud): register as first-class provider and wire HuaweiCloudOutputOptions
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/config/config.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/compliance/universal/universal_output.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/huaweicloud/huaweicloud_provider.py
  tests/lib/cli/parser_test.py
  uv.lock
Due: prowler

docs: expand external and full-stack provider golden paths
  docs/developer-guide/provider-golden-paths.mdx
  skills/prowler-provider/SKILL.md
Due: none

test(ui): remove redundant auth header mocks
  ui/actions/attack-paths/queries.test.ts
  ui/actions/attack-paths/scans.test.ts
  ui/actions/finding-groups/finding-groups.test.ts
  ui/actions/findings/findings-by-resource.test.ts
  ui/actions/findings/findings-triage.test.ts
  ui/actions/findings/findings.test.ts
  ui/actions/integrations/jira-dispatch.test.ts
  ui/actions/manage-groups/manage-groups.test.ts
  ui/actions/organizations/organizations.test.ts
  ui/actions/providers/providers.test.ts
  ui/actions/resources/resources.test.ts
  ui/actions/roles/roles.test.ts
  ui/actions/scans/scans.test.ts
  ui/actions/schedules/schedules.test.ts
  ui/app/(prowler)/alerts/_actions/alerts.test.ts
  ui/app/(prowler)/alerts/_actions/recipients.test.ts
  ui/app/(prowler)/compliance/_actions/cross-provider.test.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.test.ts
  ui/app/api/scans/[scanId]/report/route.test.ts
Due: none

docs: use double quotes for section-title reference in golden paths
  docs/developer-guide/provider-golden-paths.mdx
Due: none

refactor(huaweicloud): align exceptions with ProwlerException framework
  prowler/providers/huaweicloud/exceptions/exceptions.py
  prowler/providers/huaweicloud/huaweicloud_provider.py
  prowler/providers/huaweicloud/models.py
Due: prowler

test(huaweicloud): add provider, exceptions, metadata, mutelist and service tests
  tests/providers/huaweicloud/huaweicloud_metadata_test.py
  tests/providers/huaweicloud/huaweicloud_provider_test.py
  tests/providers/huaweicloud/lib/mutelist/huaweicloud_mutelist_test.py
  tests/providers/huaweicloud/lib/service/huaweicloud_service_test.py
Due: none

docs: add new agent configuration tutorial
  docs/docs.json
  docs/getting-started/basic-usage/prowler-mcp.mdx
  docs/getting-started/goto/prowler-mcp-agents.mdx
  docs/getting-started/products/index.mdx
  docs/getting-started/products/prowler-claude-code-plugin.mdx
  docs/getting-started/products/prowler-mcp.mdx
  docs/images/prowler-mcp/claude/claude-code-mcp-add.png
  docs/images/prowler-mcp/claude/claude-code-mcp-command.png
  docs/images/prowler-mcp/claude/claude-code-prowler-query.png
  docs/images/prowler-mcp/claude/claude-desktop-developer-settings.png
  docs/images/prowler-mcp/claude/claude-desktop-prowler-tools.png
  docs/images/prowler-mcp/codex/codex-app-mcp-servers.png
  docs/images/prowler-mcp/codex/codex-mcp-slash-command.png
  docs/images/prowler-mcp/codex/codex-prowler-query.png
  docs/user-guide/ai-agents/claude-code.mdx
  docs/user-guide/ai-agents/claude-desktop.mdx
  docs/user-guide/ai-agents/codex.mdx
  docs/user-guide/ai-agents/cursor.mdx
  docs/user-guide/ai-agents/vscode.mdx
Due: none

test(ui): prebundle server-only in browser tests
  ui/vitest.config.ts
Due: none

docs(codex): add missing content
  docs/user-guide/ai-agents/codex.mdx
Due: none

style(huaweicloud): apply isort/black formatting to services and checks
  prowler/providers/huaweicloud/services/cts/cts_client.py
  prowler/providers/huaweicloud/services/cts/cts_enabled/cts_enabled.py
  prowler/providers/huaweicloud/services/cts/cts_service.py
  prowler/providers/huaweicloud/services/ecs/ecs_client.py
  prowler/providers/huaweicloud/services/ecs/ecs_instance_public_ip/__init__.py
  prowler/providers/huaweicloud/services/ecs/ecs_instance_public_ip/ecs_instance_public_ip.py
  prowler/providers/huaweicloud/services/ecs/ecs_service.py
  prowler/providers/huaweicloud/services/elb/elb_client.py
  prowler/providers/huaweicloud/services/elb/elb_public_exposure/elb_public_exposure.py
  prowler/providers/huaweicloud/services/elb/elb_service.py
  prowler/providers/huaweicloud/services/evs/evs_client.py
  prowler/providers/huaweicloud/services/evs/evs_service.py
  prowler/providers/huaweicloud/services/evs/evs_volume_encryption/evs_volume_encryption.py
  prowler/providers/huaweicloud/services/iam/iam_client.py
  prowler/providers/huaweicloud/services/iam/iam_service.py
  prowler/providers/huaweicloud/services/iam/iam_user_disabled/iam_user_disabled.py
  prowler/providers/huaweicloud/services/iam/iam_user_mfa_enabled/iam_user_mfa_enabled.py
  prowler/providers/huaweicloud/services/kms/kms_client.py
  prowler/providers/huaweicloud/services/kms/kms_key_not_pending_deletion/kms_key_not_pending_deletion.py
  prowler/providers/huaweicloud/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled.py
  prowler/providers/huaweicloud/services/kms/kms_service.py
  prowler/providers/huaweicloud/services/obs/obs_bucket_encryption/obs_bucket_encryption.py
  prowler/providers/huaweicloud/services/obs/obs_bucket_public_access/obs_bucket_public_access.py
  prowler/providers/huaweicloud/services/obs/obs_client.py
  prowler/providers/huaweicloud/services/obs/obs_service.py
  prowler/providers/huaweicloud/services/rds/rds_backup_enabled/rds_backup_enabled.py
  prowler/providers/huaweicloud/services/rds/rds_client.py
  prowler/providers/huaweicloud/services/rds/rds_public_access/rds_public_access.py
  prowler/providers/huaweicloud/services/rds/rds_service.py
  prowler/providers/huaweicloud/services/vpc/vpc_client.py
  prowler/providers/huaweicloud/services/vpc/vpc_default_security_group_restricts_all_traffic/vpc_default_security_group_restricts_all_traffic.py
  prowler/providers/huaweicloud/services/vpc/vpc_security_group_open_ingress/vpc_security_group_open_ingress.py
  prowler/providers/huaweicloud/services/vpc/vpc_service.py
  prowler/providers/huaweicloud/services/waf/waf_client.py
  prowler/providers/huaweicloud/services/waf/waf_enabled/waf_enabled.py
  prowler/providers/huaweicloud/services/waf/waf_service.py
Due: prowler

docs: remove unused redirection
  docs/getting-started/goto/prowler-mcp-agents.mdx
Due: none

docs: fix broken anchors to Claude agent guides
  docs/getting-started/basic-usage/prowler-mcp.mdx
Due: none

refactor(huaweicloud): remove mock-auth demo mode, use real SDK calls
  prowler/providers/huaweicloud/huaweicloud_provider.py
  prowler/providers/huaweicloud/lib/mutelist/mutelist.py
  prowler/providers/huaweicloud/lib/service/service.py
  prowler/providers/huaweicloud/models.py
  prowler/providers/huaweicloud/services/cts/cts_service.py
  prowler/providers/huaweicloud/services/ecs/ecs_service.py
  prowler/providers/huaweicloud/services/elb/elb_service.py
  prowler/providers/huaweicloud/services/evs/evs_service.py
  prowler/providers/huaweicloud/services/iam/iam_service.py
  prowler/providers/huaweicloud/services/kms/kms_service.py
  prowler/providers/huaweicloud/services/obs/obs_service.py
  prowler/providers/huaweicloud/services/rds/rds_service.py
  prowler/providers/huaweicloud/services/vpc/vpc_service.py
  prowler/providers/huaweicloud/services/waf/waf_service.py
  tests/providers/huaweicloud/huaweicloud_provider_test.py
  tests/providers/huaweicloud/lib/mutelist/huaweicloud_mutelist_test.py
  tests/providers/huaweicloud/services/evs/evs_volume_encryption/evs_volume_encryption_test.py
  tests/providers/huaweicloud/services/iam/iam_password_policy_minimum_age/iam_password_policy_minimum_age_test.py
  tests/providers/huaweicloud/services/iam/iam_password_policy_reuse_prevention/iam_password_policy_reuse_prevention_test.py
  tests/providers/huaweicloud/services/iam/iam_user_disabled/iam_user_disabled_test.py
  tests/providers/huaweicloud/services/iam/iam_user_mfa_enabled/iam_user_mfa_enabled_test.py
  tests/providers/huaweicloud/services/vpc/vpc_default_security_group_restricts_all_traffic/vpc_default_security_group_restricts_all_traffic_test.py
Due: prowler

fix(ui): remove unused npm from container to drop tar CVE-2026-59873
  ui/Dockerfile
  ui/changelog.d/ui-trivy-cve-2026-59873-npm-tar.security.md
Due: none

fix(huaweicloud): drop unverifiable OBS encryption check, fix root MFA check
  prowler/compliance/huaweicloud/cis_1.0_huaweicloud.json
  prowler/providers/huaweicloud/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled.metadata.json
  prowler/providers/huaweicloud/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled.py
  prowler/providers/huaweicloud/services/iam/iam_service.py
  prowler/providers/huaweicloud/services/obs/obs_bucket_encryption/__init__.py
  prowler/providers/huaweicloud/services/obs/obs_bucket_encryption/obs_bucket_encryption.metadata.json
  prowler/providers/huaweicloud/services/obs/obs_bucket_encryption/obs_bucket_encryption.py
  prowler/providers/huaweicloud/services/obs/obs_service.py
  tests/providers/huaweicloud/lib/mutelist/huaweicloud_mutelist_test.py
  tests/providers/huaweicloud/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled_test.py
  tests/providers/huaweicloud/services/obs/obs_bucket_encryption/obs_bucket_encryption_test.py
Due: prowler

docs: add vscode screenshots for config tutorial
  docs/images/prowler-mcp/vscode/vscode-agent-tools.png
  docs/images/prowler-mcp/vscode/vscode-command-palette.png
  docs/images/prowler-mcp/vscode/vscode-list-servers.png
  docs/images/prowler-mcp/vscode/vscode-mcp-json.png
  docs/user-guide/ai-agents/vscode.mdx
Due: none

style(huaweicloud): register sensitive CLI args and fix password-policy categories
  prowler/providers/huaweicloud/lib/arguments/arguments.py
  prowler/providers/huaweicloud/services/iam/iam_account_password_policy/iam_account_password_policy.metadata.json
  prowler/providers/huaweicloud/services/iam/iam_password_policy_char_combination/iam_password_policy_char_combination.metadata.json
  prowler/providers/huaweicloud/services/iam/iam_password_policy_expires_passwords/iam_password_policy_expires_passwords.metadata.json
  prowler/providers/huaweicloud/services/iam/iam_password_policy_minimum_age/iam_password_policy_minimum_age.metadata.json
  prowler/providers/huaweicloud/services/iam/iam_password_policy_reuse_prevention/iam_password_policy_reuse_prevention.metadata.json
Due: prowler

test(huaweicloud): add service-layer tests for all 10 services
  tests/providers/huaweicloud/services/cts/cts_service_test.py
  tests/providers/huaweicloud/services/ecs/ecs_service_test.py
  tests/providers/huaweicloud/services/elb/elb_service_test.py
  tests/providers/huaweicloud/services/evs/evs_service_test.py
  tests/providers/huaweicloud/services/iam/iam_service_test.py
  tests/providers/huaweicloud/services/kms/kms_service_test.py
  tests/providers/huaweicloud/services/obs/obs_service_test.py
  tests/providers/huaweicloud/services/rds/rds_service_test.py
  tests/providers/huaweicloud/services/vpc/vpc_service_test.py
  tests/providers/huaweicloud/services/waf/waf_service_test.py
Due: none

fix(huaweicloud): CTS fetched from empty regional_clients
  prowler/providers/huaweicloud/services/cts/cts_service.py
  tests/providers/huaweicloud/services/cts/cts_service_test.py
Due: prowler

fix(ui): remove unused npm from container to drop tar CVE-2026-59873 (#12065)
  ui/Dockerfile
  ui/changelog.d/ui-trivy-cve-2026-59873-npm-tar.security.md
Due: none

docs: add cursor screenshots for config tutorial
  docs/images/prowler-mcp/cursor/cursor-customize-page.png
  docs/images/prowler-mcp/cursor/cursor-mcp-json.png
  docs/images/prowler-mcp/cursor/cursor-prowler-connected.png
  docs/images/prowler-mcp/cursor/cursor-prowler-query.png
  docs/user-guide/ai-agents/cursor.mdx
Due: none

docs(codex): add ChatGPT desktop to Codex title
  docs/user-guide/ai-agents/codex.mdx
Due: none

docs: add AI agents overview page
  docs/docs.json
  docs/user-guide/ai-agents/index.mdx
Due: none

docs: add better card description naming
  docs/user-guide/ai-agents/index.mdx
Due: none

docs: add better card descriptions
  docs/user-guide/ai-agents/index.mdx
Due: none

fix(ui): prevent cloud upgrade modal flash on close
  ui/changelog.d/prowler-2254-cloud-upgrade-modal-flash.fixed.md
  ui/components/shared/cloud-upgrade-modal.test.tsx
  ui/components/shared/cloud-upgrade-modal.tsx
Due: none

refactor(huaweicloud): env-var-only auth, drop dead code
  prowler/compliance/huaweicloud/cis_1.0_huaweicloud.json
  prowler/providers/common/provider.py
  prowler/providers/huaweicloud/huaweicloud_provider.py
  prowler/providers/huaweicloud/lib/arguments/arguments.py
  prowler/providers/huaweicloud/models.py
  prowler/providers/huaweicloud/services/iam/iam_service.py
  prowler/providers/huaweicloud/services/iam/iam_user_disabled/iam_user_disabled.py
  prowler/providers/huaweicloud/services/iam/iam_user_mfa_enabled/iam_user_mfa_enabled.py
  tests/providers/huaweicloud/services/iam/iam_service_test.py
  tests/providers/huaweicloud/services/iam/iam_user_disabled/iam_user_disabled_test.py
  tests/providers/huaweicloud/services/iam/iam_user_mfa_enabled/iam_user_mfa_enabled_test.py
Due: prowler

feat(huaweicloud): implement agency (assume-role) support
  prowler/providers/huaweicloud/exceptions/exceptions.py
  prowler/providers/huaweicloud/huaweicloud_provider.py
  prowler/providers/huaweicloud/lib/arguments/arguments.py
  tests/providers/huaweicloud/huaweicloud_provider_test.py
Due: prowler

feat(ui): add Lighthouse contextual transport core
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.adapter.test.ts
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.adapter.ts
  ui/app/(prowler)/lighthouse/_lib/chat-store.test.ts
  ui/app/(prowler)/lighthouse/_lib/chat-store.ts
  ui/app/(prowler)/lighthouse/_lib/messages.test.ts
  ui/app/(prowler)/lighthouse/_lib/messages.ts
  ui/app/(prowler)/lighthouse/_types/sessions.ts
  ui/lib/lighthouse/context/compiler.ts
  ui/lib/lighthouse/context/context.test.ts
  ui/lib/lighthouse/context/schema.ts
  ui/lib/lighthouse/context/transport.test.ts
  ui/lib/lighthouse/context/transport.ts
  ui/types/lighthouse-context.ts
Due: none

feat(ui): add contextual Lighthouse page UX
  ui/app/(prowler)/_overview/threat-score/threat-score.ssr.test.tsx
  ui/app/(prowler)/_overview/threat-score/threat-score.ssr.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.tsx
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-detail.tsx
  ui/app/(prowler)/compliance/_components/cross-provider-overview.tsx
  ui/app/(prowler)/lighthouse/_components/chat/composer.tsx
  ui/app/(prowler)/lighthouse/_components/chat/empty-state.tsx
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-page.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-view.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.tsx
  ui/app/(prowler)/lighthouse/_components/panel/lighthouse-panel-chat.test.tsx
  ui/changelog.d/lighthouse-contextual-pages.added.md
  ui/components/compliance/compliance-overview-grid.tsx
  ui/components/findings/table/findings-group-table.test.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/findings/table/inline-resource-container.tsx
  ui/components/lighthouse/context-chip.test.tsx
  ui/components/lighthouse/context-chip.tsx
  ui/components/lighthouse/context-contributor.test.tsx
  ui/components/lighthouse/context-contributor.tsx
  ui/components/providers/providers-accounts-table.test.tsx
  ui/components/providers/providers-accounts-table.tsx
  ui/components/resources/table/resources-table-with-selection.test.tsx
  ui/components/resources/table/resources-table-with-selection.tsx
  ui/components/scans/table/scan-jobs-table.test.tsx
  ui/components/scans/table/scan-jobs-table.tsx
  ui/hooks/use-finding-group-resource-state.ts
  ui/hooks/use-lighthouse-context.test.ts
  ui/hooks/use-lighthouse-context.ts
  ui/lib/lighthouse/context/contributions.test.ts
  ui/lib/lighthouse/context/contributions.ts
  ui/lib/lighthouse/context/pages.test.ts
  ui/lib/lighthouse/context/pages.ts
  ui/store/lighthouse-context/store.test.ts
  ui/store/lighthouse-context/store.ts
Due: none
