Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

fix(ui): stabilize side-panel outlet ref and reset lazy tab on switch
  ui/components/side-panel/detail-side-panel.tsx
  ui/components/side-panel/global-side-panel.test.tsx
  ui/components/side-panel/global-side-panel.tsx
Due: none

test(ui): assert both finding title copies in groups column test
  ui/components/findings/table/column-finding-groups.test.tsx
Due: none

fix(api): strengthen social account linking (#12013)
  api/changelog.d/social-account-linking.security.md
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/config/settings/social_login.py
Due: api

fix: harden Jira site handling (#12012)
  api/changelog.d/jira-site-name-validation.security.md
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializer_utils/integrations.py
  prowler/changelog.d/jira-tenant-info-request.security.md
  prowler/lib/outputs/jira/jira.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler, api

fix(ui): allow rename and delete for dynamic providers (#11957)
  ui/changelog.d/dynamic-provider-alias-delete.changed.md
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
Due: none

docs(mcp): restructure MCP docs around Cloud vs Local MCP Server
  claude_plugins/prowler/.claude-plugin/plugin.json
  claude_plugins/prowler/skills/framework-compliance-triage/SKILL.md
  docs/developer-guide/lighthouse-architecture.mdx
  docs/developer-guide/mcp-server.mdx
  docs/docs.json
  docs/getting-started/basic-usage/prowler-mcp-tools.mdx
  docs/getting-started/basic-usage/prowler-mcp.mdx
  docs/getting-started/installation/prowler-mcp.mdx
  docs/getting-started/products/prowler-mcp.mdx
  docs/images/lighthouse-architecture.mmd
  docs/images/prowler_mcp_schema.mmd
  docs/images/prowler_mcp_schema.png
  docs/user-guide/tutorials/prowler-app-attack-paths.mdx
  mcp_server/.env.template
  mcp_server/AGENTS.md
  mcp_server/README.md
  mcp_server/prowler_mcp_server/prowler_app/models/__init__.py
  mcp_server/prowler_mcp_server/prowler_app/models/finding_groups.py
  mcp_server/prowler_mcp_server/prowler_app/tools/__init__.py
  mcp_server/prowler_mcp_server/prowler_app/tools/attack_paths.py
  mcp_server/prowler_mcp_server/prowler_app/tools/compliance.py
  mcp_server/prowler_mcp_server/prowler_app/tools/finding_groups.py
  mcp_server/prowler_mcp_server/prowler_app/tools/findings.py
  mcp_server/prowler_mcp_server/prowler_app/tools/muting.py
  mcp_server/prowler_mcp_server/prowler_app/tools/providers.py
  mcp_server/prowler_mcp_server/prowler_app/tools/resources.py
  mcp_server/prowler_mcp_server/prowler_app/tools/scans.py
  mcp_server/prowler_mcp_server/prowler_app/utils/api_client.py
  mcp_server/prowler_mcp_server/prowler_app/utils/auth.py
  mcp_server/prowler_mcp_server/server.py
  skills/prowler-mcp/SKILL.md
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.test.tsx
  ui/app/(prowler)/lighthouse/_lib/event-reducer.test.ts
  ui/app/(prowler)/lighthouse/_lib/tool-calls.test.ts
  ui/app/(prowler)/lighthouse/_lib/tool-calls.ts
  ui/lib/lighthouse-v1/mcp-client.ts
  ui/lib/lighthouse-v1/skills/definitions/attack-path-custom-query.ts
  ui/lib/lighthouse-v1/system-prompt.ts
  ui/lib/lighthouse-v1/tools/meta-tool.ts
  ui/lib/lighthouse-v1/workflow.ts
Due: none

fix(api): strengthen social account linking (#12015)
  api/changelog.d/social-account-linking.security.md
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/config/settings/social_login.py
Due: api

chore(mcp): let the load_all_tools use different packages
  mcp_server/prowler_mcp_server/prowler_app/utils/tool_loader.py
Due: none

fix(ui): guard S3 quick-create link when bucket account id is missing
  ui/lib/external-urls.test.ts
  ui/lib/external-urls.ts
Due: none

fix(ui): show scan in Findings filter from View Findings action (#11997)
  ui/changelog.d/findings-scan-filter-selection.fixed.md
  ui/components/scans/table/scan-jobs-row-actions.test.tsx
  ui/components/scans/table/scan-jobs-row-actions.tsx
Due: none

chore(mcp): add changelog fragment for prowler_* tool rename
  mcp_server/changelog.d/prowler-tools-namespace.changed.md
Due: none

test(ui): update OCI provider E2E credentials
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.md
  ui/tests/providers/providers.spec.ts
Due: none

fix(ui): make OCI credentials regionless
  ui/changelog.d/oci-regionless-provider-e2e.fixed.md
  ui/components/providers/workflow/forms/via-credentials/oraclecloud-credentials-form.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/provider-credentials/build-credentials.test.ts
  ui/lib/provider-credentials/build-credentials.ts
  ui/types/components.ts
  ui/types/env.d.ts
  ui/types/formSchemas.test.ts
  ui/types/formSchemas.ts
Due: none

fix(api): support regionless OCI credentials
  api/changelog.d/oci-regionless-api-legacy-region.changed.md
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
Due: api

fix: harden Jira site handling (#12016)
  api/changelog.d/jira-site-name-validation.security.md
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializer_utils/integrations.py
  prowler/changelog.d/jira-tenant-info-request.security.md
  prowler/lib/outputs/jira/jira.py
  tests/lib/outputs/jira/jira_test.py
Due: prowler, api

fix(ui): render Jira Cloud badge copy
  ui/components/findings/floating-mute-button.test.tsx
  ui/components/findings/floating-mute-button.tsx
Due: none

fix(ui): normalize Lighthouse MCP tool allowlist
  ui/lib/lighthouse-v1/allowed-tools.test.ts
  ui/lib/lighthouse-v1/allowed-tools.ts
  ui/lib/lighthouse-v1/tools/meta-tool.ts
  ui/lib/lighthouse-v1/workflow.ts
Due: none

fix(api): restore scan retry caches
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

fix(ui): handle grouped Jira dispatch failures
  ui/actions/integrations/jira-dispatch.test.ts
  ui/actions/integrations/jira-dispatch.ts
  ui/components/findings/send-to-jira-modal.test.tsx
  ui/types/integrations.ts
Due: none

chore(ui): add changelog entry
  ui/changelog.d/prowler-tools-namespace.changed.md
Due: none

test(ui): remove redundant OCI credentials test
  ui/lib/provider-credentials/build-credentials.test.ts
Due: none

fix(ui): keep polling slow Jira dispatches
  ui/components/findings/send-to-jira-modal.test.tsx
  ui/components/findings/send-to-jira-modal.tsx
Due: none

fix(api): disable social account connection notifications
  api/changelog.d/social-account-linking.security.md
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/config/settings/social_login.py
Due: api

fix(api): suppress expected attack paths deletion errors
  api/changelog.d/attack-paths-deletion-sentry.fixed.md
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/decorators.py
  api/src/backend/api/tests/test_decorators.py
  api/src/backend/api/tests/test_sentry.py
  api/src/backend/config/settings/sentry.py
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_attack_paths_aws.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

chore(mcp): bump version to 0.8.0
  mcp_server/prowler_mcp_server/__init__.py
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

fix(attack-paths): stale attack paths scan task is now 16h
  api/src/backend/config/django/base.py
Due: api

fix(api): disable social account connection notifications (#12018)
  api/changelog.d/social-account-linking.security.md
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/config/settings/social_login.py
Due: api

feat(ui): register Stripe publishable keys in runtime config island
  ui/lib/get-runtime-config.client.test.ts
  ui/lib/get-runtime-config.client.ts
  ui/lib/runtime-config.shared.ts
  ui/lib/runtime-config.ts
  ui/types/env.d.ts
Due: none

fix(ui): remove auth card theme toggle
  ui/components/auth/oss/auth-layout.test.tsx
  ui/components/auth/oss/auth-layout.tsx
Due: none

fix(ui): scope org account pre-selection to the deployed OU
  ui/actions/organizations/organizations.adapter.test.ts
  ui/actions/organizations/organizations.adapter.ts
  ui/components/providers/organizations/hooks/use-org-setup-submission.ts
Due: none

fix(ui): stabilize cloud e2e prerequisites
  .github/test-impact.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .gitignore
  ui/.nvmrc
  ui/tests/home/home-page.ts
  ui/tests/scans/scans-page.ts
  ui/tests/sign-in-base/sign-in-base-page.ts
Due: none

fix(attack-paths): stale attack paths scan task is now 16h - test
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(api): disable social account connection notifications (#12020)
  api/changelog.d/social-account-linking.security.md
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/config/settings/social_login.py
Due: api

fix(ui): always show Scans page so imported scans are visible
  ui/app/(prowler)/scans/page.test.ts
  ui/app/(prowler)/scans/page.tsx
  ui/changelog.d/display-imported-scans.fixed.md
  ui/components/scans/no-providers-connected.tsx
  ui/components/scans/scans-page-shell.test.tsx
  ui/components/scans/scans-page-shell.tsx
  ui/components/scans/scans-providers-empty-state.tsx
Due: none

fix(ui): scope Lighthouse icon gradient ids per instance
  ui/components/icons/Icons.tsx
  ui/components/icons/lighthouse-icon.test.tsx
Due: none

feat(ui): add discovery callout and glow to Lighthouse trigger
  ui/components/shadcn/discovery-callout/discovery-callout.test.tsx
  ui/components/shadcn/discovery-callout/discovery-callout.tsx
  ui/components/side-panel/side-panel-trigger.test.tsx
  ui/components/side-panel/side-panel-trigger.tsx
  ui/store/__tests__/side-panel.test.ts
  ui/store/side-panel.ts
Due: none
