Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(attack-paths): add outcome to query metadata
  api/changelog.d/attack-paths-query-outcome.added.md
  api/src/backend/api/attack_paths/__init__.py
  api/src/backend/api/attack_paths/queries/__init__.py
  api/src/backend/api/attack_paths/queries/aws.py
  api/src/backend/api/attack_paths/queries/types.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_attack_paths_queries.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Due: api

docs(m365): highlight key terms in check Risk descriptions (#12156)
  prowler/changelog.d/m365-risk-field-formatting.changed.md
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_safe_list_off/defender_antispam_connection_filter_policy_safe_list_off.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_device_registration_mfa_required/entra_conditional_access_policy_device_registration_mfa_required.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_directory_sync_account_excluded/entra_conditional_access_policy_directory_sync_account_excluded.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_explicitly_targets_azure_devops/entra_conditional_access_policy_explicitly_targets_azure_devops.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_no_deleted_object_references/entra_conditional_access_policy_no_deleted_object_references.metadata.json
  prowler/providers/m365/services/entra/entra_directory_sync_object_takeover_blocked/entra_directory_sync_object_takeover_blocked.metadata.json
  prowler/providers/m365/services/intune/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default/intune_device_compliance_policy_unassigned_devices_not_compliant_by_default.metadata.json
  prowler/providers/m365/services/teams/teams_meeting_presenters_restricted/teams_meeting_presenters_restricted.metadata.json
Due: prowler

feat(ui): support multiple SAML domains in Cloud (#12332)
  ui/actions/integrations/saml.test.ts
  ui/actions/integrations/saml.ts
  ui/changelog.d/saml-multiple-domains.added.md
  ui/components/integrations/saml/saml-config-form.test.tsx
  ui/components/integrations/saml/saml-config-form.tsx
  ui/components/integrations/saml/saml-integration-card.tsx
  ui/lib/cloud-upgrade.test.ts
  ui/lib/cloud-upgrade.ts
  ui/types/cloud-upgrade.ts
  ui/types/formSchemas.test.ts
  ui/types/formSchemas.ts
  ui/types/index.ts
  ui/types/saml.ts
Due: none

chore: update changelog
  prowler/changelog.d/m365-cis7-teams.added.md
Due: prowler

feat(m365): add CIS M365 v7.0.0 teams external access check (#12151)
  prowler/changelog.d/m365-cis7-teams.added.md
  prowler/compliance/m365/cis_7.0_m365.json
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/teams/teams_external_access_trial_tenants_blocked/__init__.py
  prowler/providers/m365/services/teams/teams_external_access_trial_tenants_blocked/teams_external_access_trial_tenants_blocked.metadata.json
  prowler/providers/m365/services/teams/teams_external_access_trial_tenants_blocked/teams_external_access_trial_tenants_blocked.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_external_access_trial_tenants_blocked/teams_external_access_trial_tenants_blocked_test.py
  tests/providers/m365/services/teams/teams_service_test.py
Due: prowler

fix(mcp): report safe_to_retry on every Jira dispatch outcome
  mcp_server/changelog.d/jira-dispatch-safe-to-retry.changed.md
  mcp_server/prowler_mcp_server/prowler_app/models/integrations.py
  mcp_server/prowler_mcp_server/prowler_app/tools/integrations.py
  mcp_server/prowler_mcp_server/prowler_app/utils/api_client.py
  mcp_server/tests/prowler_app/tools/test_integrations.py
  mcp_server/tests/prowler_app/utils/test_api_client.py
Due: none

ci(container): pin Trivy to v0.72.0 across the estate
  .github/actions/trivy-scan/action.yml
  api/changelog.d/api-trivy-0720-pin.changed.md
  prowler/changelog.d/trivy-0720-pin.changed.md
Due: prowler, api

ci(container): pin Trivy to v0.72.0 across the estate (#12346)
  .github/actions/trivy-scan/action.yml
  api/changelog.d/api-trivy-0720-pin.changed.md
  prowler/changelog.d/trivy-0720-pin.changed.md
Due: prowler, api

fix(m365): use Graph v1.0 for device registration policy and polish checks
  prowler/providers/m365/services/entra/entra_device_registration_join_restricted/entra_device_registration_join_restricted.py
  prowler/providers/m365/services/entra/entra_device_registration_max_devices_per_user_limited/entra_device_registration_max_devices_per_user_limited.py
  prowler/providers/m365/services/entra/entra_device_registration_registering_user_not_local_admin/entra_device_registration_registering_user_not_local_admin.py
  prowler/providers/m365/services/entra/entra_policy_default_user_cannot_read_bitlocker_keys/entra_policy_default_user_cannot_read_bitlocker_keys.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_device_registration_global_admins_not_local_admins/entra_device_registration_global_admins_not_local_admins_test.py
  tests/providers/m365/services/entra/entra_device_registration_join_restricted/entra_device_registration_join_restricted_test.py
  tests/providers/m365/services/entra/entra_device_registration_laps_enabled/entra_device_registration_laps_enabled_test.py
  tests/providers/m365/services/entra/entra_device_registration_max_devices_per_user_limited/entra_device_registration_max_devices_per_user_limited_test.py
  tests/providers/m365/services/entra/entra_device_registration_registering_user_not_local_admin/entra_device_registration_registering_user_not_local_admin_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

chore(api): remove auto-generated spec changes
  api/src/backend/api/specs/v1.yaml
Due: api

fix(m365): address review feedback on entra device registration checks
  prowler/changelog.d/m365-cis7-entra-device-registration.added.md
  prowler/providers/m365/services/entra/entra_device_registration_global_admins_not_local_admins/entra_device_registration_global_admins_not_local_admins.py
  prowler/providers/m365/services/entra/entra_device_registration_join_restricted/entra_device_registration_join_restricted.py
  prowler/providers/m365/services/entra/entra_device_registration_laps_enabled/entra_device_registration_laps_enabled.py
  prowler/providers/m365/services/entra/entra_device_registration_max_devices_per_user_limited/entra_device_registration_max_devices_per_user_limited.py
  prowler/providers/m365/services/entra/entra_device_registration_registering_user_not_local_admin/entra_device_registration_registering_user_not_local_admin.py
  prowler/providers/m365/services/entra/entra_policy_default_user_cannot_read_bitlocker_keys/entra_policy_default_user_cannot_read_bitlocker_keys.py
  tests/providers/m365/services/entra/entra_policy_default_user_cannot_read_bitlocker_keys/entra_policy_default_user_cannot_read_bitlocker_keys_test.py
Due: prowler

docs(compliance): watchlist
  docs/images/compliance/prowler-app-compliance-single-scan-pins.png
  docs/images/compliance/prowler-app-compliance-watchlist-editor.png
  docs/images/compliance/prowler-app-compliance-watchlist-filtered.png
  docs/images/compliance/prowler-app-compliance-watchlist-pins.png
  docs/images/compliance/prowler-app-overview-compliance-watchlist.png
  docs/user-guide/compliance/tutorials/compliance.mdx
  docs/user-guide/compliance/tutorials/cross-provider-compliance.mdx
  docs/user-guide/compliance/tutorials/cross-provider-type-compliance.mdx
Due: none

docs(compliance): watchlist (#12347)
  docs/images/compliance/prowler-app-compliance-single-scan-pins.png
  docs/images/compliance/prowler-app-compliance-watchlist-editor.png
  docs/images/compliance/prowler-app-compliance-watchlist-filtered.png
  docs/images/compliance/prowler-app-compliance-watchlist-pins.png
  docs/images/compliance/prowler-app-overview-compliance-watchlist.png
  docs/user-guide/compliance/tutorials/compliance.mdx
  docs/user-guide/compliance/tutorials/cross-provider-compliance.mdx
  docs/user-guide/compliance/tutorials/cross-provider-type-compliance.mdx
Due: none

feat(attack-paths): add attack-path view transform
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/group-graph.test.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/group-graph.ts
Due: none

feat(attack-paths): track expanded classes in the graph store
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_hooks/use-graph-state.ts
Due: none

feat(attack-paths): add outcome to query attributes type
  ui/types/attack-paths.ts
Due: none

feat(attack-paths): add group and outcome node components
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/group-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/nodes/outcome-node.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/layout.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_lib/node-dimensions.ts
Due: none

feat(attack-paths): render grouped view with expand/collapse and outcome
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/attack-path-graph.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/graph-controls.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/attack-paths-page.tsx
Due: none

feat(attack-paths): drop provider-root legend item
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/graph-legend.test.tsx
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/graph/graph-legend.tsx
Due: none

docs(compliance): watchlist review
  docs/user-guide/compliance/tutorials/compliance.mdx
Due: none

docs(compliance): watchlist review (#12348)
  docs/user-guide/compliance/tutorials/compliance.mdx
Due: none

fix(mcp): treat a Jira dispatch that failed on the server as unknown
  mcp_server/changelog.d/jira-dispatch-safe-to-retry.changed.md
  mcp_server/prowler_mcp_server/prowler_app/tools/integrations.py
  mcp_server/tests/prowler_app/tools/test_integrations.py
Due: none

docs(mcp): state the actual Jira dispatch retry rule in the changelog
  mcp_server/changelog.d/jira-dispatch-safe-to-retry.changed.md
Due: none

feat(ui): pre-fill Cloudflare and GitHub token creation URLs
  ui/changelog.d/provider-wizard-preconfigured-credential-links.added.md
  ui/components/providers/workflow/forms/select-credentials-type/cloudflare/credentials-type/cloudflare-api-token-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/credentials-type/github-personal-access-token-form.tsx
  ui/lib/external-urls.test.ts
  ui/lib/external-urls.ts
Due: none

feat(m365): add CIS M365 v7.0.0 entra device registration checks (#12152)
  prowler/changelog.d/m365-cis7-entra-device-registration.added.md
  prowler/compliance/m365/cis_7.0_m365.json
  prowler/providers/m365/services/entra/entra_device_registration_global_admins_not_local_admins/__init__.py
  prowler/providers/m365/services/entra/entra_device_registration_global_admins_not_local_admins/entra_device_registration_global_admins_not_local_admins.metadata.json
  prowler/providers/m365/services/entra/entra_device_registration_global_admins_not_local_admins/entra_device_registration_global_admins_not_local_admins.py
  prowler/providers/m365/services/entra/entra_device_registration_join_restricted/__init__.py
  prowler/providers/m365/services/entra/entra_device_registration_join_restricted/entra_device_registration_join_restricted.metadata.json
  prowler/providers/m365/services/entra/entra_device_registration_join_restricted/entra_device_registration_join_restricted.py
  prowler/providers/m365/services/entra/entra_device_registration_laps_enabled/__init__.py
  prowler/providers/m365/services/entra/entra_device_registration_laps_enabled/entra_device_registration_laps_enabled.metadata.json
  prowler/providers/m365/services/entra/entra_device_registration_laps_enabled/entra_device_registration_laps_enabled.py
  prowler/providers/m365/services/entra/entra_device_registration_max_devices_per_user_limited/__init__.py
  prowler/providers/m365/services/entra/entra_device_registration_max_devices_per_user_limited/entra_device_registration_max_devices_per_user_limited.metadata.json
  prowler/providers/m365/services/entra/entra_device_registration_max_devices_per_user_limited/entra_device_registration_max_devices_per_user_limited.py
  prowler/providers/m365/services/entra/entra_device_registration_registering_user_not_local_admin/__init__.py
  prowler/providers/m365/services/entra/entra_device_registration_registering_user_not_local_admin/entra_device_registration_registering_user_not_local_admin.metadata.json
  prowler/providers/m365/services/entra/entra_device_registration_registering_user_not_local_admin/entra_device_registration_registering_user_not_local_admin.py
  prowler/providers/m365/services/entra/entra_policy_default_user_cannot_read_bitlocker_keys/__init__.py
  prowler/providers/m365/services/entra/entra_policy_default_user_cannot_read_bitlocker_keys/entra_policy_default_user_cannot_read_bitlocker_keys.metadata.json
  prowler/providers/m365/services/entra/entra_policy_default_user_cannot_read_bitlocker_keys/entra_policy_default_user_cannot_read_bitlocker_keys.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_device_registration_global_admins_not_local_admins/entra_device_registration_global_admins_not_local_admins_test.py
  tests/providers/m365/services/entra/entra_device_registration_join_restricted/entra_device_registration_join_restricted_test.py
  tests/providers/m365/services/entra/entra_device_registration_laps_enabled/entra_device_registration_laps_enabled_test.py
  tests/providers/m365/services/entra/entra_device_registration_max_devices_per_user_limited/entra_device_registration_max_devices_per_user_limited_test.py
  tests/providers/m365/services/entra/entra_device_registration_registering_user_not_local_admin/entra_device_registration_registering_user_not_local_admin_test.py
  tests/providers/m365/services/entra/entra_policy_default_user_cannot_read_bitlocker_keys/entra_policy_default_user_cannot_read_bitlocker_keys_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

chore: resolve comments
  api/src/backend/api/attack_paths/queries/aws.py
Due: api

fix(ui): launch organization scans through the bulk endpoint
  ui/__tests__/msw/handlers/organizations.ts
  ui/actions/scans/scans.test.ts
  ui/actions/scans/scans.ts
  ui/app/(prowler)/providers/providers-page.gcp.integration.test.tsx
  ui/app/(prowler)/providers/providers-page.harness.tsx
  ui/app/(prowler)/providers/providers-page.integration.test.tsx
  ui/changelog.d/organization-bulk-scan.fixed.md
  ui/components/providers/organizations/org-launch-scan.test.tsx
  ui/components/providers/organizations/org-launch-scan.tsx
Due: none

fix(ui): always show Scans page so imported scans are visible (#12025)
  ui/app/(prowler)/scans/page.test.ts
  ui/app/(prowler)/scans/page.test.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/changelog.d/display-imported-scans.fixed.md
  ui/components/scans/no-providers-connected.tsx
  ui/components/scans/scans-page-shell.test.tsx
  ui/components/scans/scans-page-shell.tsx
  ui/components/scans/scans-providers-empty-state.test.tsx
  ui/components/scans/scans-providers-empty-state.tsx
  ui/components/shadcn/custom/custom-banner.tsx
Due: none

fix(ui): keep page-size selector when table fits one page (#12299)
  ui/changelog.d/table-page-size-selector.fixed.md
  ui/components/shadcn/table/data-table-pagination.test.tsx
  ui/components/shadcn/table/data-table-pagination.tsx
Due: none

feat(attack-paths): add outcome to query metadata (#12344)
  api/changelog.d/attack-paths-query-outcome.added.md
  api/src/backend/api/attack_paths/__init__.py
  api/src/backend/api/attack_paths/queries/__init__.py
  api/src/backend/api/attack_paths/queries/aws.py
  api/src/backend/api/attack_paths/queries/types.py
  api/src/backend/api/tests/test_attack_paths_queries.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Due: api

feat(ui): pre-fill Cloudflare and GitHub token creation URLs
  ui/lib/external-urls.test.ts
Due: none

feat(ui): show sign-in methods in the Cloud users table (#12268)
  ui/changelog.d/user-sign-in-method-indicators.added.md
  ui/components/users/table/column-users.test.tsx
  ui/components/users/table/column-users.tsx
  ui/components/users/table/skeleton-table-user.test.tsx
  ui/components/users/table/skeleton-table-user.tsx
  ui/types/components.ts
  ui/types/users.ts
Due: none

feat(ui): add lighthouse skills catalog and prompt transport
  ui/lib/lighthouse/message-content.ts
  ui/lib/lighthouse/skills/definitions.ts
  ui/lib/lighthouse/skills/registry.test.ts
  ui/lib/lighthouse/skills/registry.ts
  ui/lib/lighthouse/skills/step-markers.test.ts
  ui/lib/lighthouse/skills/step-markers.ts
  ui/lib/lighthouse/skills/transport.test.ts
  ui/lib/lighthouse/skills/transport.ts
  ui/types/lighthouse-skills.ts
Due: none

feat(ui): thread skill launches through the lighthouse chat stores
  ui/app/(prowler)/lighthouse/_actions/lighthouse-v2.adapter.ts
  ui/app/(prowler)/lighthouse/_lib/chat-store.test.ts
  ui/app/(prowler)/lighthouse/_lib/chat-store.ts
  ui/app/(prowler)/lighthouse/_lib/event-reducer.test.ts
  ui/app/(prowler)/lighthouse/_lib/event-reducer.ts
  ui/app/(prowler)/lighthouse/_lib/messages.test.ts
  ui/app/(prowler)/lighthouse/_lib/messages.ts
  ui/app/(prowler)/lighthouse/_lib/panel-chat-store.test.ts
  ui/app/(prowler)/lighthouse/_lib/panel-chat-store.ts
  ui/app/(prowler)/lighthouse/_types/sessions.ts
Due: none

feat(ui): render skill runs in the lighthouse chat
  ui/app/(prowler)/lighthouse/_components/chat/lighthouse-v2-chat-view.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/message-bubble.tsx
  ui/app/(prowler)/lighthouse/_components/chat/skill-completed.tsx
  ui/app/(prowler)/lighthouse/_components/chat/skill-composer-pill.tsx
  ui/app/(prowler)/lighthouse/_components/chat/skill-message-card.tsx
  ui/app/(prowler)/lighthouse/_components/chat/skill-run-progress.test.tsx
  ui/app/(prowler)/lighthouse/_components/chat/skill-run-progress.tsx
Due: none

feat(ui): replace finding detail banner with lighthouse skills block
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/lighthouse/skills-block.test.tsx
  ui/components/lighthouse/skills-block.tsx
Due: none

test(ui): pre-bundle next/dynamic for browser-mode vitest
  ui/vitest.config.ts
Due: none

feat(ui): surface lighthouse skills on findings table rows
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/findings/table/lighthouse-skills-launch.tsx
Due: none

docs: document multiple SAML domains
  docs/images/prowler-app/saml/saml-multiple-domains.png
  docs/images/prowler-app/saml/saml-step-3.png
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: none

feat(ui): pre-fill Cloudflare and GitHub token creation URLs
  ui/changelog.d/provider-wizard-preconfigured-credential-links.added.md
  ui/lib/external-urls.test.ts
  ui/lib/external-urls.ts
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
