Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

feat(attack-paths): prowler to cartography data model - S3 done - WIP
  api/Dockerfile
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/cartography/__init__.py
  api/src/backend/tasks/jobs/cartography/aws/__init__.py
  api/src/backend/tasks/jobs/cartography/aws/s3.py
Due: api

chore: update docs links
  docs/getting-started/basic-usage/prowler-cli.mdx
  docs/user-guide/providers/oci/getting-started-oci.mdx
Due: none

chore: use mintlify to get also the documents in md format
  mcp_server/prowler_mcp_server/prowler_documentation/search_engine.py
Due: none

docs(mcp): update changelog
  mcp_server/CHANGELOG.md
Due: none

feat(mcp): migrate documentation search from ReadTheDocs to Mintlify API (#8916)
  mcp_server/CHANGELOG.md
  mcp_server/README.md
  mcp_server/prowler_mcp_server/prowler_documentation/search_engine.py
  mcp_server/prowler_mcp_server/prowler_documentation/server.py
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Due: none

feat: update lighthouse config page
  ui/app/(prowler)/lighthouse/config/page.tsx
  ui/components/lighthouse/lighthouse-settings.tsx
  ui/components/lighthouse/llm-providers-table.tsx
Due: none

feat: add ai elements
  ui/components/lighthouse/ai-elements/button.tsx
  ui/components/lighthouse/ai-elements/dropdown-menu.tsx
  ui/components/lighthouse/ai-elements/input-group.tsx
  ui/components/lighthouse/ai-elements/input.tsx
  ui/components/lighthouse/ai-elements/prompt-input.tsx
  ui/components/lighthouse/ai-elements/select.tsx
  ui/components/lighthouse/ai-elements/textarea.tsx
  ui/components/lighthouse/ai-elements/tooltip.tsx
Due: none

feat: add client-side lighthouse provider config workflow
  ui/components/lighthouse/workflow/index.ts
  ui/components/lighthouse/workflow/workflow-connect-llm.tsx
Due: none

feat: add actions to new lighthouse endpoints
  ui/actions/lighthouse/llm-providers.ts
Due: none

feat: add client-side lighthouse provider config workflow
  ui/app/(prowler)/lighthouse/config/(connect-llm)/configure/page.tsx
  ui/app/(prowler)/lighthouse/config/(connect-llm)/connect/page.tsx
  ui/app/(prowler)/lighthouse/config/(connect-llm)/layout.tsx
  ui/app/(prowler)/lighthouse/config/(connect-llm)/select-model/page.tsx
  ui/components/lighthouse/connect-llm-provider.tsx
  ui/components/lighthouse/select-model.tsx
Due: none

fix: migrate to new API endpoints and cleanup
  ui/actions/lighthouse/lighthouse.ts
  ui/actions/lighthouse/llm-providers.ts
  ui/app/(prowler)/lighthouse/page.tsx
  ui/app/api/lighthouse/analyst/route.ts
  ui/components/lighthouse/banner.tsx
  ui/components/lighthouse/chatbot-config.tsx
  ui/components/lighthouse/connect-llm-provider.tsx
  ui/components/lighthouse/index.ts
  ui/components/lighthouse/lighthouse-settings.tsx
  ui/components/lighthouse/llm-providers-table.tsx
  ui/components/lighthouse/select-model.tsx
  ui/components/ui/index.ts
  ui/lib/lighthouse/workflow.ts
Due: none

feat: allow switching models in chat
  ui/actions/lighthouse/lighthouse.ts
  ui/app/(prowler)/lighthouse/page.tsx
  ui/components/lighthouse/chat.tsx
Due: none

fix: remove lighthouse settings spacer
  ui/components/lighthouse/lighthouse-settings.tsx
Due: none

feat: allow configuring LLM providers
  ui/actions/lighthouse/lighthouse.ts
  ui/app/(prowler)/lighthouse/config/(connect-llm)/configure/page.tsx
  ui/app/(prowler)/lighthouse/config/(connect-llm)/connect/page.tsx
  ui/app/(prowler)/lighthouse/config/(connect-llm)/layout.tsx
  ui/app/(prowler)/lighthouse/config/(connect-llm)/select-model/page.tsx
  ui/components/lighthouse/connect-llm-provider.tsx
  ui/components/lighthouse/forms/delete-llm-provider-form.tsx
  ui/components/lighthouse/select-model.tsx
  ui/components/lighthouse/workflow/workflow-connect-llm.tsx
Due: none

feat: add streamdown to render lighthouse output
  ui/components/lighthouse/chat.tsx
  ui/components/lighthouse/memoized-markdown.tsx
  ui/package-lock.json
  ui/package.json
  ui/styles/globals.css
Due: none

fix: replace copy and regenerate action buttons
  ui/components/lighthouse/actions.tsx
  ui/components/lighthouse/ai-elements/actions.tsx
  ui/components/lighthouse/chat.tsx
Due: none

feat(compliance): add CCC catalogs for AWS, Azure and GCP (#8000)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/export.py
  dashboard/compliance/ccc_aws.py
  dashboard/compliance/ccc_azure.py
  dashboard/compliance/ccc_gcp.py
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/compliance/aws/ccc_aws.json
  prowler/compliance/azure/ccc_azure.json
  prowler/compliance/gcp/ccc_gcp.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/ccc/__init__.py
  prowler/lib/outputs/compliance/ccc/ccc_aws.py
  prowler/lib/outputs/compliance/ccc/ccc_azure.py
  prowler/lib/outputs/compliance/ccc/ccc_gcp.py
  prowler/lib/outputs/compliance/ccc/models.py
  ui/CHANGELOG.md
  ui/components/compliance/compliance-custom-details/ccc-details.tsx
  ui/components/icons/compliance/IconCompliance.tsx
  ui/components/icons/compliance/ccc.svg
  ui/lib/compliance/ccc.tsx
  ui/lib/compliance/compliance-mapper.ts
  ui/types/compliance.ts
Due: prowler, api

chore(readme): update compliance numbers
  README.md
Due: none

chore(readme): update compliance numbers (#8926)
  README.md
Due: none

feat: new version with shadcn info
  ui/AGENTS.md
Due: none

chore: remove CLAUDE.md from branch
  ui/CLAUDE.md
Due: none

chore: CHANGELOG.md updated
  ui/CHANGELOG.md
Due: none

chore: CHANGELOG.md update for next version
  ui/CHANGELOG.md
Due: none

feat(ui): refactor ResourceStatsCard components to utilize class-variance-authority
  ui/components/shadcn/resource-stats-card/resource-stats-card-container.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-content.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-divider.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-header.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

feat(api): add Oracle Cloud Infrastructure (OCI) provider support
  README.md
  api/src/backend/api/migrations/0050_oraclecloud_provider.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  docs/introduction.mdx
Due: api

chore: add changelog
  api/CHANGELOG.md
Due: api

chore: remove CHANGELOG.md updates
  ui/CHANGELOG.md
Due: none

fix: ignore typescript error
  ui/components/lighthouse/ai-elements/prompt-input.tsx
Due: none

refactor(ui): convert Card components to functional components and add data attributes for improved accessibility
  ui/components/shadcn/card.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

feat(ui): add comprehensive agentic files (#8885)
  ui/AGENTS.md
Due: none

fix: action
  .github/workflows/pr-conflict-checker.yml
Due: none

fix(gcp): no resource_name errors
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.py
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.py
  prowler/providers/gcp/services/iam/iam_role_kms_enforce_separation_of_duties/iam_role_kms_enforce_separation_of_duties.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_sink_created/logging_sink_created.py
Due: prowler

Revert "fix: action"
  .github/workflows/pr-conflict-checker.yml
Due: none

feat: add changelog
  prowler/CHANGELOG.md
Due: prowler

fix: flake8
  prowler/providers/ionos/lib/arguments/arguments.py
  prowler/providers/ionos/lib/mutelist/mutelist.py
  prowler/providers/ionos/lib/service.py
  prowler/providers/ionos/models.py
  prowler/providers/ionos/services/objectstorage/objectstorage_bucket_public_access/objectstorage_bucket_public_access.py
  prowler/providers/ionos/services/objectstorage/objectstorage_service.py
  prowler/providers/ionos/services/server/server_firewall_allow_ingress_from_internet_to_tcp_ftp_port_20_21/server_firewall_allow_ingress_from_internet_to_tcp_ftp_port_20_21.py
  prowler/providers/ionos/services/server/server_firewall_allow_ingress_from_internet_to_tcp_ssh_port_22/server_firewall_allow_ingress_from_internet_to_tcp_ssh_port_22.py
  prowler/providers/ionos/services/server/server_public_ip/server_public_ip.py
  prowler/providers/ionos/services/server/server_service.py
  prowler/providers/ionos/services/server/server_volume_snapshots_exists/server_volume_snapshots_exists.py
  tests/providers/ionos/ionos_fixtures.py
  tests/providers/ionos/ionos_provider_test.py
Due: prowler

fix: flake8
  prowler/providers/ionos/services/objectstorage/objectstorage_client.py
  prowler/providers/ionos/services/server/server_client.py
Due: prowler

fix: black
  prowler/providers/ionos/exceptions/exceptions.py
Due: prowler

fix(efs): update metadata
  prowler/CHANGELOG.md
  prowler/providers/aws/services/efs/efs_access_point_enforce_root_directory/efs_access_point_enforce_root_directory.metadata.json
  prowler/providers/aws/services/efs/efs_access_point_enforce_user_identity/efs_access_point_enforce_user_identity.metadata.json
  prowler/providers/aws/services/efs/efs_encryption_at_rest_enabled/efs_encryption_at_rest_enabled.metadata.json
  prowler/providers/aws/services/efs/efs_have_backup_enabled/efs_have_backup_enabled.metadata.json
  prowler/providers/aws/services/efs/efs_mount_target_not_publicly_accessible/efs_mount_target_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/efs/efs_multi_az_enabled/efs_multi_az_enabled.metadata.json
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.metadata.json
Due: prowler

fix(gcp): no resource_name errors (#8928)
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.py
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.py
  prowler/providers/gcp/services/iam/iam_role_kms_enforce_separation_of_duties/iam_role_kms_enforce_separation_of_duties.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_audit_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled/logging_log_metric_filter_and_alert_for_bucket_permission_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled/logging_log_metric_filter_and_alert_for_custom_role_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled/logging_log_metric_filter_and_alert_for_project_ownership_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled/logging_log_metric_filter_and_alert_for_sql_instance_configuration_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_firewall_rule_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled/logging_log_metric_filter_and_alert_for_vpc_network_route_changes_enabled.py
  prowler/providers/gcp/services/logging/logging_sink_created/logging_sink_created.py
Due: prowler
