Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix(api): merge Attack Paths findings on short UIDs for AWS resources (#10839)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/queries.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(api): merge Attack Paths findings on short UIDs for AWS resources (#10841)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/queries.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

docs(api): add changelog entry for #10843
  api/CHANGELOG.md
Due: api

fix(api): reaggregate resource inventory and attack surface after muting findings
  api/src/backend/tasks/jobs/backfill.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_backfill.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

chore: update changelog
  api/CHANGELOG.md
Due: api

refactor: unify filtering and sorting for finding (#10803)
  ui/actions/finding-groups/finding-groups.test.ts
  ui/actions/finding-groups/finding-groups.ts
  ui/actions/findings/findings-by-resource.test.ts
  ui/actions/findings/findings-by-resource.ts
  ui/actions/resources/resources.test.ts
  ui/actions/resources/resources.ts
  ui/app/(prowler)/_overview/attack-surface/_components/attack-surface-card-item.tsx
  ui/app/(prowler)/_overview/graphs-tabs/findings-view/findings-view.ssr.tsx
  ui/app/(prowler)/_overview/graphs-tabs/risk-plot/risk-plot-client.tsx
  ui/app/(prowler)/_overview/graphs-tabs/risk-radar-view/risk-radar-view-client.tsx
  ui/app/(prowler)/_overview/severity-over-time/_components/finding-severity-over-time.tsx
  ui/app/(prowler)/findings/page.test.ts
  ui/app/(prowler)/findings/page.tsx
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
  ui/components/filters/custom-checkbox-muted-findings.tsx
  ui/components/findings/table/inline-resource-container.utils.ts
  ui/components/graphs/sankey-chart.tsx
  ui/components/overview/new-findings-table/link-to-findings/link-to-findings.tsx
  ui/hooks/use-finding-group-resource-state.test.ts
  ui/lib/findings-filters.test.ts
  ui/lib/findings-filters.ts
  ui/lib/findings-sort.test.ts
  ui/lib/findings-sort.ts
  ui/lib/index.ts
Due: none

chore(safety): define policy for high and critical
  .github/workflows/api-security.yml
  .github/workflows/sdk-security.yml
  .pre-commit-config.yaml
  .safety-policy.yml
Due: none

feat(github): map check with compliance
  prowler/compliance/github/cis_1.0_github.json
Due: prowler

chore: run workflows on safety policy change
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
Due: none

chore: update changelog
  prowler/CHANGELOG.md
  prowler/compliance/github/cis_1.0_github.json
Due: prowler

chore(safety): define policy for high and critical (#10845)
  .github/workflows/api-security.yml
  .github/workflows/sdk-security.yml
  .pre-commit-config.yaml
  .safety-policy.yml
Due: none

chore: remove unnecessary comments
  prowler/providers/github/services/repository/repository_default_branch_dismisses_stale_reviews/repository_default_branch_dismisses_stale_reviews.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_dismisses_stale_reviews/repository_default_branch_dismisses_stale_reviews.py
Due: prowler

feat(ui): add shared mute rule reason helpers
  ui/lib/index.ts
  ui/lib/mute-rules.ts
Due: none

fix(ui): scope muted findings in drawer to active filter
  ui/hooks/use-finding-group-resource-state.test.ts
  ui/hooks/use-finding-group-resource-state.ts
Due: none

feat(ui): redesign mute findings modal with reason counter
  ui/components/findings/mute-findings-modal.test.tsx
  ui/components/findings/mute-findings-modal.tsx
Due: none

feat(ui): revamp mutelist table, edit form, and target previews
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-edit-form.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-edit-form.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-target-previews.test.ts
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-target-previews.ts
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-targets-modal.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.tsx
Due: none

chore(ui): add 1.25.0 changelog entries for Mutelist UX revamp
  ui/CHANGELOG.md
Due: none

fix(api): upsert overview summaries and route backfill tasks to overview queue
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/backfill.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_backfill.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

refactor(api): rename backfill_scan_*_summaries to aggregate_* and align Celery task names
  api/CHANGELOG.md
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/backfill.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_backfill.py
  api/src/backend/tasks/tests/test_tasks.py
Due: api

chore: ruff format
  api/src/backend/tasks/tests/test_backfill.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

feat(api): add mute-rules bulk-delete endpoint
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Due: api

feat(ui): add bulkDeleteMuteRules server action
  ui/actions/mute-rules/index.ts
  ui/actions/mute-rules/mute-rules.ts
Due: none

feat(ui): support stable row IDs in DataTable
  ui/components/ui/table/data-table.tsx
Due: none

feat(ui): add search, sort, and bulk delete to Mutelist table
  ui/app/(prowler)/mutelist/_components/simple/floating-bulk-delete-button.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/floating-bulk-delete-button.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-edit-form.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-edit-form.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-target-previews.test.ts
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-target-previews.ts
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.tsx
  ui/components/findings/mute-findings-modal.tsx
  ui/hooks/use-finding-group-resource-state.test.ts
Due: none

chore: changelog entries for Mutelist search and bulk delete
  api/CHANGELOG.md
  ui/CHANGELOG.md
Due: api

fix: return data from rulesets too
  prowler/providers/github/services/repository/repository_default_branch_dismisses_stale_reviews/repository_default_branch_dismisses_stale_reviews.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_dismisses_stale_reviews/repository_default_branch_dismisses_stale_reviews.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_dismisses_stale_reviews/repository_default_branch_dismisses_stale_reviews_test.py
  tests/providers/github/services/repository/repository_service_test.py
Due: prowler

feat(ui): add resource link to finding drawer
  ui/CHANGELOG.md
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.test.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
Due: none

docs(ui): link changelog entry to PR
  ui/CHANGELOG.md
Due: none

refactor(ui): align Mutelist table header with overview findings card
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.tsx
Due: none

fix(ui): keep '+N more' visible next to the Findings cell label
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.tsx
Due: none

refactor(ui): refresh Mutelist table skeleton to match simplified cell
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.tsx
Due: none

feat(m365): add entra_pim_only_management security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_pim_only_management/__init__.py
  prowler/providers/m365/services/entra/entra_pim_only_management/entra_pim_only_management.metadata.json
  prowler/providers/m365/services/entra/entra_pim_only_management/entra_pim_only_management.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_pim_only_management/__init__.py
  tests/providers/m365/services/entra/entra_pim_only_management/entra_pim_only_management_test.py
Due: prowler

chore(deps): bump pyasn1 from 0.6.2 to 0.6.3 (#10838)
  poetry.lock
Due: none

feat(m365): add entra_emergency_access_users_not_blocked security check
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/providers/m365/services/entra/entra_emergency_access_users_not_blocked/__init__.py
  prowler/providers/m365/services/entra/entra_emergency_access_users_not_blocked/entra_emergency_access_users_not_blocked.metadata.json
  prowler/providers/m365/services/entra/entra_emergency_access_users_not_blocked/entra_emergency_access_users_not_blocked.py
  tests/providers/m365/services/entra/entra_emergency_access_users_not_blocked/entra_emergency_access_users_not_blocked_test.py
Due: prowler

refactor: drop bulk-delete scope from Mutelist UX PR
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  ui/CHANGELOG.md
  ui/actions/mute-rules/index.ts
  ui/actions/mute-rules/mute-rules.ts
  ui/app/(prowler)/mutelist/_components/simple/floating-bulk-delete-button.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/floating-bulk-delete-button.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-columns.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table-client.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.test.tsx
  ui/app/(prowler)/mutelist/_components/simple/mute-rules-table.tsx
  ui/components/ui/table/data-table.tsx
Due: api

docs(ui): reword Mutelist entry in 1.25.0 changelog
  ui/CHANGELOG.md
Due: none

docs(ui): move knip changelog entry to 1.25.0 UNRELEASED
  ui/CHANGELOG.md
Due: none

chore(pre-commit): migrate .pre-commit-config.yaml to prek.toml
  .github/test-impact.yml
  .pre-commit-config.yaml
  docs/security/software-security.mdx
  mcp_server/.dockerignore
  prek.toml
  scripts/setup-git-hooks.sh
  ui/.dockerignore
  ui/.husky/pre-commit
Due: none

fix(ui): drop initial auto-focus in shared Modal
  ui/components/shadcn/modal/modal.tsx
Due: none

fix(ui): stop long UIDs from overflowing targets modal
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-targets-modal.tsx
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
