Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

chore: format
  api/src/backend/tasks/tests/test_scan.py
Due: api

chore: add comment
  api/src/backend/tasks/jobs/scan.py
Due: api

fix(api): connection correctly reflected (#7831)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

fix: changelog
  api/CHANGELOG.md
Due: api

chore: restructure provider setup flow to handle different credential methods
  ui/CHANGELOG.md
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/components/providers/credentials-update-info.tsx
  ui/components/providers/index.ts
Due: none

fix: fix linter
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/components/providers/index.ts
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
Due: none

chore: tweak wording
  ui/components/providers/credentials-update-info.tsx
Due: none

fix(api): connection correctly reflected (#7885)
  api/CHANGELOG.md
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Due: api

fix(iac): return checkov stderr as error log
  prowler/providers/iac/iac_provider.py
Due: prowler

fix(iac): fix tests
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
Due: none

fix: remove warning of encrypted password for cloud
  docs/tutorials/microsoft365/getting-started-m365.md
Due: none

chore: fix: ensure service_account_key is a valid JSON object, not just any JSON value
  ui/types/formSchemas.ts
Due: none

fix(docs): remove warning of encrypted password for cloud (#7886)
  docs/tutorials/microsoft365/getting-started-m365.md
Due: none

fix: add new get method to avoid race conditions when creating async tasks (#7876)
  .env
  api/CHANGELOG.md
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/v1/views.py
Due: api

chore: replace directory permission to domain
  docs/getting-started/requirements.md
Due: none

chore: update changelog
  api/CHANGELOG.md
Due: api

chore: replace directory permission to domain
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/microsoft365/getting-started-m365.md
Due: none

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: add new get method to avoid race conditions when creating async tasks (#7887)
  .env
  api/CHANGELOG.md
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/v1/views.py
Due: api

chore: replace `Directory.Read.All` permission to `Domain.Read.All` for Azure (#7888)
  docs/getting-started/requirements.md
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/microsoft365/getting-started-m365.md
  prowler/CHANGELOG.md
Due: prowler

chore: fix commit sha when a pr is merged
  .github/workflows/pull-request-merged.yml
Due: none

chore: tweak comments
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/(set-up-provider)/add-credentials/page.tsx
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/components/providers/credentials-update-info.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/via-service-account-form.tsx
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
Due: none

chore: clean up redundant type
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/via-service-account-form.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
Due: none

fix: set user_id for tenant operations
  api/src/backend/api/base_views.py
Due: api

feat: iso detail implementation WIP
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
  ui/components/compliance/compliance-accordion/compliance-accordion-requeriment-title.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-custom-details/ens-details.tsx
  ui/components/compliance/compliance-custom-details/iso-details.tsx
  ui/components/compliance/failed-sections-chart.tsx
  ui/lib/compliance/iso.tsx
  ui/public/ens.png
  ui/types/compliance.ts
Due: none

feat: mapper for each compliance and common ones
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/lib/compliance/commons.ts
  ui/lib/compliance/ens.tsx
  ui/lib/compliance/iso.tsx
Due: none

chore: fix commit sha when a pr is merged (#7889)
  .github/workflows/pull-request-merged.yml
Due: none

refactor(ui): remove ContentLayout component and implement UserProvider for user state management
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/integrations/page.tsx
  ui/app/(prowler)/invitations/page.tsx
  ui/app/(prowler)/layout.tsx
  ui/app/(prowler)/manage-groups/layout.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/profile/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/roles/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/app/(prowler)/services/page.tsx
  ui/app/(prowler)/users/page.tsx
  ui/app/(prowler)/workloads/page.tsx
  ui/components/providers/index.ts
  ui/components/providers/user-provider.tsx
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/content-layout/skeleton-content-layout.tsx
  ui/components/ui/index.ts
  ui/components/ui/main-layout/main-layout.tsx
  ui/components/ui/nav-bar/navbar.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/hooks/use-user.ts
Due: none

lint fixes
  ui/app/(prowler)/findings/page.tsx
Due: none

fix: host_is_overloaded check
  prowler/providers/opennebula/services/host/host_service.py
Due: prowler

fix: template service to capture both ordered/dicts and objects with attributes
  prowler/providers/opennebula/services/template/template_service.py
Due: prowler

fix: if OS exists but is None now returns dict
  prowler/providers/opennebula/services/template/template_service.py
Due: prowler

fix: removed 'TOKEN' from sensitive keys
  prowler/providers/opennebula/services/template/template_has_embedded_credentials/template_has_embedded_credentials.py
Due: prowler

add: new function to mark private ip
  prowler/providers/opennebula/services/network/network_service.py
Due: prowler

srn refactoring
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/findings/page.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/lib/provider-helpers.ts
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
