Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix: handle invitations in social and SAML auth
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  ui/actions/integrations/saml.ts
  ui/app/(auth)/(guest-only)/sign-up/page.tsx
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.ts
  ui/app/api/auth/callback/saml/route.ts
  ui/components/auth/oss/auth-form.tsx
  ui/components/auth/oss/sign-in-form.tsx
  ui/components/auth/oss/sign-up-form.tsx
  ui/components/auth/oss/social-buttons.tsx
  ui/lib/auth-callback-url.test.ts
  ui/lib/auth-callback-url.ts
Due: api

fix(m365): only count RestrictAccess policies as compliant
  prowler/providers/m365/services/exchange/exchange_application_access_policy_restricts_mailbox_apps/exchange_application_access_policy_restricts_mailbox_apps.py
  tests/providers/m365/services/exchange/exchange_application_access_policy_restricts_mailbox_apps/exchange_application_access_policy_restricts_mailbox_apps_test.py
Due: prowler

docs(api): update changelog for invitation auth fix
  api/CHANGELOG.md
Due: api

fix(kubernetes): reject exec auth in cloud kubeconfigs
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  ui/types/formSchemas.test.ts
  ui/types/formSchemas.ts
Due: api

feat(iam): add AWS Bedrock AgentCore privilege escalation paths (#11726)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
  tests/providers/aws/services/iam/iam_inline_policy_allows_privilege_escalation/iam_inline_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
Due: prowler

fix(ui): resolve dialog accessibility warnings in triage note modal
  ui/components/findings/table/finding-note-modal.tsx
  ui/components/shadcn/modal/modal.tsx
Due: none

fix(ui): keep triage note modal mounted when pasting long text
  ui/components/shadcn/dropdown/action-dropdown.tsx
Due: none

fix(ui): update cloud-only triage copy and share constant with tests
  ui/components/findings/table/column-finding-resources.test.tsx
  ui/components/findings/table/finding-triage-cells.tsx
Due: none

docs(ui): update changelog for invitation auth fix
  ui/CHANGELOG.md
Due: none

test(ui): cover kubeconfig backend-deferred validation
  ui/types/formSchemas.test.ts
Due: none

docs(changelog): note kubernetes exec auth hardening
  api/CHANGELOG.md
  ui/CHANGELOG.md
Due: api

feat(apigateway): add check for secrets in REST API stage variables
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.py
  prowler/providers/aws/services/apigateway/apigateway_service.py
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/__init__.py
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.metadata.json
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables_test.py
Due: prowler

chore: migrate check to new secrets check structure
  docs/user-guide/cli/tutorials/configuration_file.mdx
  docs/user-guide/cli/tutorials/pentesting.mdx
  prowler/CHANGELOG.md
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.py
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables_test.py
Due: prowler

fix: address invitation auth review feedback
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.ts
  ui/components/auth/oss/sign-up-form.tsx
  ui/components/auth/oss/social-buttons.tsx
  ui/lib/auth-callback-url.test.ts
Due: api

fix(ui): show kubeconfig exec auth warning
  ui/components/providers/workflow/forms/via-credentials/k8s-credentials-form.tsx
  ui/types/formSchemas.ts
Due: none

chore: remove spurious __init__.py and metadata.json from test folder
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/__init__.py
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.metadata.json
Due: none

test(apigateway): assert secret maps to correct stage variable
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables_test.py
Due: none

fix: address remaining invitation auth review feedback
  api/src/backend/api/tests/test_views.py
  ui/components/auth/oss/social-buttons.tsx
Due: api

fix(api): support timestamp precision in findings filters
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Due: api

fix(api): support timestamp precision in findings filters - pt. ii
  api/src/backend/api/specs/v1.yaml
Due: api

chore: udpate changelog
  prowler/CHANGELOG.md
Due: prowler

feat(apigateway): add check for secrets in REST API stage variables (#11188)
  docs/user-guide/cli/tutorials/configuration_file.mdx
  docs/user-guide/cli/tutorials/pentesting.mdx
  prowler/CHANGELOG.md
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables.py
  prowler/providers/aws/services/apigateway/apigateway_service.py
  tests/providers/aws/services/apigateway/apigateway_restapi_no_secrets_in_stage_variables/apigateway_restapi_no_secrets_in_stage_variables_test.py
Due: prowler

fix(api): address timestamp filter review comments
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
Due: api

fix(ui): align triage column label in open-source finding groups
  ui/components/findings/table/finding-triage-cells.tsx
Due: none

fix(ui): avoid replaying social invitation callbacks
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.ts
Due: none

perf(api): optimize attack paths graph cleanup
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/sink/drop.py
  api/src/backend/api/attack_paths/sink/neo4j.py
  api/src/backend/api/attack_paths/sink/neptune.py
  api/src/backend/api/tests/test_sink.py
Due: api

docs(scan-config): add info about permissions related with scan config
  docs/user-guide/tutorials/prowler-app-rbac.mdx
  docs/user-guide/tutorials/prowler-app-scan-configuration.mdx
Due: none

docs: unify subscription banner
  docs/snippets/subscription-banner.mdx
  docs/user-guide/tutorials/prowler-alerts.mdx
  docs/user-guide/tutorials/prowler-app.mdx
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
  docs/user-guide/tutorials/prowler-import-findings.mdx
  docs/user-guide/tutorials/prowler-scan-scheduling.mdx
Due: none

chore(revision): add missing changes
  docs/user-guide/tutorials/prowler-app-scan-configuration.mdx
Due: none

fix(ui): use standard mono font for textarea
  ui/__tests__/mocks/next-font-google.ts
  ui/components/shadcn/textarea/textarea.test.ts
  ui/components/shadcn/textarea/textarea.tsx
  ui/vitest.browser.setup.ts
  ui/vitest.config.ts
  ui/vitest.setup.ts
Due: none

fix(ui): harden provider scan config actions
  ui/app/(prowler)/providers/page.test.ts
  ui/app/(prowler)/providers/page.tsx
  ui/components/providers/providers-accounts-table.test.tsx
  ui/components/providers/providers-accounts-table.tsx
  ui/components/providers/providers-accounts-view.tsx
  ui/components/providers/scan-config/manage-scan-config-modal.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/table/data-table-row-actions.test.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/types/scan-configurations.ts
Due: none

fix(ui): limit scan config provider loading
  ui/app/(prowler)/scans/config/page.test.ts
  ui/app/(prowler)/scans/config/page.tsx
Due: none

test(api): simplify attack paths sink drop test records
  api/src/backend/api/tests/test_sink.py
Due: api

test(ui): cover disabled scan config menu item
  ui/components/ui/sidebar/submenu-item.test.tsx
Due: none

fix(ui): hide secondary breadcrumb icons
  ui/components/ui/breadcrumbs/breadcrumb-navigation.test.tsx
  ui/components/ui/breadcrumbs/breadcrumb-navigation.tsx
Due: none

docs: unify subscription banner (#11756)
  docs/snippets/subscription-banner.mdx
  docs/user-guide/tutorials/prowler-alerts.mdx
  docs/user-guide/tutorials/prowler-app.mdx
  docs/user-guide/tutorials/prowler-cloud-aws-organizations.mdx
  docs/user-guide/tutorials/prowler-import-findings.mdx
  docs/user-guide/tutorials/prowler-scan-scheduling.mdx
Due: none

docs(ui): remove scan config changelog entry
  ui/CHANGELOG.md
Due: none

docs(ui): remove cloud scan config changelog entries
  ui/CHANGELOG.md
Due: none

docs(lighthouse): document Lighthouse AI on Prowler Cloud
  docs/docs.json
  docs/getting-started/products/prowler-lighthouse-ai.mdx
  docs/images/prowler-app/lighthouse/oss/config.png
  docs/images/prowler-app/lighthouse/oss/configuration.png
  docs/images/prowler-app/lighthouse/oss/feature1.png
  docs/images/prowler-app/lighthouse/oss/feature2.png
  docs/images/prowler-app/lighthouse/oss/feature3.png
  docs/images/prowler-app/lighthouse/oss/intro.png
  docs/images/prowler-app/lighthouse/oss/set-default-provider.png
  docs/images/prowler-app/lighthouse/oss/switch-models.png
  docs/images/prowler-app/lighthouse/prowler-cloud/chat-animation.gif
  docs/images/prowler-app/lighthouse/prowler-cloud/config-page.png
  docs/images/prowler-app/lighthouse/prowler-cloud/main-chat-page.png
  docs/images/prowler-app/lighthouse/prowler-cloud/tool-usage.png
  docs/user-guide/tutorials/prowler-app-lighthouse-multi-llm.mdx
  docs/user-guide/tutorials/prowler-app-lighthouse.mdx
  docs/user-guide/tutorials/prowler-cloud-lighthouse-multi-llm.mdx
  docs/user-guide/tutorials/prowler-cloud-lighthouse.mdx
Due: none

docs: clarify SAML userType role mapping
  docs/user-guide/tutorials/prowler-app-sso.mdx
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
