Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(ui): introduce shadcn Card component and related exports with documentation
  ui/components/shadcn/README.md
  ui/components/shadcn/card.tsx
  ui/components/shadcn/index.ts
Due: none

chore(mcp): add changelog with first version (#8884)
  .github/workflows/pull-request-check-changelog.yml
  mcp_server/CHANGELOG.md
Due: none

chore: resolve comment
  api/CHANGELOG.md
Due: api

refactor(compliance): extract CCC section configuration into constants
  ui/components/compliance/compliance-custom-details/ccc-details.tsx
  ui/lib/compliance/ccc.tsx
Due: none

refactor(ui): update alias for UI components to point to shadcn directory
  ui/components.json
Due: none

chore(compliance): reorder imports in ccc.tsx
  ui/lib/compliance/ccc.tsx
Due: none

feat(ui): add ResourceStatsCard component with customizable stats and variants
  ui/components/shadcn/resource-stats-card/index.ts
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

docs: improve style and curl example
  docs/tutorials/prowler-app-api-keys.md
Due: none

docs: API keys support (#8918)
  docs/tutorials/img/api-keys/create.png
  docs/tutorials/img/api-keys/created.png
  docs/tutorials/img/api-keys/list.png
  docs/tutorials/img/api-keys/management.png
  docs/tutorials/img/api-keys/update.png
  docs/tutorials/prowler-app-api-keys.md
  mkdocs.yml
Due: none

refactor(ui): streamline accent color determination in ResourceStatsCard and define shared color palette
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

fix(ui): lint
  ui/lib/compliance/ccc.tsx
Due: none

fix(docs): improve prowler cli basic for oci
  docs/basic-usage/prowler-cli.md
Due: none

fix(api): tests
  api/src/backend/tasks/tests/test_tasks.py
  api/src/backend/tasks/tests/test_threatscore.py
Due: api

feat(ui): enhance ResourceStatsCard with size variants and improved badge handling
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

fix(api): tests
  api/src/backend/tasks/tests/test_tasks.py
Due: api

feat: add amazon bedrock
  api/src/backend/api/migrations/0051_lighthouse_bedrock.py
  api/src/backend/api/models.py
  api/src/backend/api/v1/serializer_utils/lighthouse.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/lighthouse_providers.py
Due: api

docs(ui): consolidate comprehensive guidelines into CLAUDE.md
  ui/CLAUDE.md
Due: none

fix(entra): value error for auth method
  prowler/providers/m365/services/entra/entra_admin_users_phishing_resistant_mfa_enabled/entra_admin_users_phishing_resistant_mfa_enabled.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_admin_users_phishing_resistant_mfa_enabled/entra_admin_users_phishing_resistant_mfa_enabled_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

feat: add changelog
  prowler/CHANGELOG.md
Due: prowler

chore: add bedrock test cases
  api/src/backend/api/tests/test_views.py
Due: api

chore(api): enhance m365 user auth deprecation (#8913)
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializer_utils/providers.py
Due: api

chore: revision
  prowler/providers/oraclecloud/lib/arguments/arguments.py
Due: prowler

feat(ui): add ResourceStatsCardContainer, ResourceStatsCardContent, ResourceStatsCardDivider, and ResourceStatsCardHeader components with associated props
  ui/components/shadcn/index.ts
  ui/components/shadcn/resource-stats-card/index.ts
  ui/components/shadcn/resource-stats-card/resource-stats-card-container.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-content.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-divider.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card-header.tsx
  ui/components/shadcn/resource-stats-card/resource-stats-card.tsx
Due: none

test(ui): update GitHub sign-in button locator in E2E tests
  ui/tests/sign-up/sign-up-page.ts
Due: none

fix: lint
  prowler/lib/check/compliance_models.py
Due: prowler

chore: migrate docs
  docs/user-guide/providers/oci/authentication.mdx
  docs/user-guide/providers/oci/getting-started-oci.mdx
Due: none

docs: add prowler old root path redirect
  docs/docs.json
Due: none

docs: add prowler old root path redirect (#8922)
  docs/docs.json
Due: none

chore: delete readthedocs preview environment
  .github/workflows/build-documentation-on-pr.yml
Due: none

chore: migrate index.md
  docs/index.md
  docs/introduction.mdx
Due: none

chore: delete readthedocs preview environment (#8923)
  .github/workflows/build-documentation-on-pr.yml
Due: none

chore: delete mkdocs.yml
  mkdocs.yml
Due: none

chore: add OCI to docs.json
  docs/docs.json
Due: none

chore: delete mkdocs.yml (#8924)
  mkdocs.yml
Due: none

chore: remove mkdocs.yml
  mkdocs.yml
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
