Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXIII
  api/src/backend/api/attack_paths/database.py
  api/src/backend/tasks/jobs/attack_paths/__init__.py
  api/src/backend/tasks/jobs/attack_paths/aws.py
  api/src/backend/tasks/jobs/attack_paths/prowler.py
  api/src/backend/tasks/jobs/deletion.py
Due: api

fix(stackit): Add custom_endpoint to Configuration for Object Storage API
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

fix(stackit): DefaultApi takes Configuration directly, not ApiClient
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

fix(stackit): Add required region parameter to list_buckets API call
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

fix: tests using new buttons
  ui/tests/helpers.ts
  ui/tests/providers/providers-page.ts
Due: none

chore: update CHANGELOG
  ui/CHANGELOG.md
Due: none

fix(stackit): Set STACKIT_SERVICE_ACCOUNT_TOKEN environment variable for SDK authentication
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  prowler/providers/stackit/stackit_provider.py
Due: prowler

fix(stackit): Add StackIT support to stdout_report and fix get_nested_attribute call
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/outputs.py
Due: prowler

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXIV
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXV
  api/src/backend/api/v1/views.py
Due: api

refactor: replace CustomButton with Shadcn Button component in authentication and social button components for improved consistency and styling
  ui/components/auth/oss/auth-footer-link.tsx
  ui/components/auth/oss/sign-in-form.tsx
  ui/components/auth/oss/sign-up-form.tsx
  ui/components/auth/oss/social-buttons.tsx
  ui/components/integrations/security-hub/security-hub-integration-form.tsx
  ui/components/invitations/workflow/vertical-steps.tsx
  ui/components/providers/enhanced-provider-selector.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/vertical-steps.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/components/roles/workflow/vertical-steps.tsx
  ui/lib/menu-list.ts
Due: none

chore: recreate package lock
  ui/package-lock.json
Due: none

feat(kubernetes): add Prowler ThreatScore compliance framework
  dashboard/compliance/prowler_threatscore_kubernetes.py
  prowler/__main__.py
  prowler/compliance/kubernetes/prowler_threatscore_kubernetes.json
  prowler/lib/outputs/compliance/prowler_threatscore/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_kubernetes.py
Due: prowler

feat(report): support k8s reporting pdf
  api/src/backend/tasks/jobs/report.py
Due: api

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXVI
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/tasks/jobs/deletion.py
Due: api

refactor: all custom buttons from hero ui removed
  ui/components/findings/table/delta-indicator.tsx
  ui/components/invitations/forms/edit-form.tsx
  ui/components/providers/forms/edit-form.tsx
  ui/components/providers/forms/muted-findings-config-form.tsx
  ui/components/providers/workflow/credentials-role-helper.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/components/scans/forms/edit-scan-form.tsx
  ui/components/scans/forms/schedule-form.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/no-providers-connected.tsx
  ui/components/ui/headers/navigation-header.tsx
  ui/components/ui/table/data-table.tsx
  ui/components/users/forms/edit-form.tsx
  ui/components/users/profile/api-key-success-modal.tsx
  ui/components/users/profile/api-keys-card-client.tsx
  ui/components/users/profile/role-item.tsx
Due: none

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXVII
  api/src/backend/api/attack_paths/query_definitions.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
Due: api

feat: adds support building multiarch prowler containers
  .github/workflows/api-build-lint-push-containers.yml
  .github/workflows/sdk-build-lint-push-containers.yml
  .github/workflows/ui-build-lint-push-containers.yml
Due: none

refactor: adapts multiarch approach to new action changes
  .github/workflows/api-build-lint-push-containers.yml
  .github/workflows/api-container-build-push.yml
  .github/workflows/mcp-container-build-push.yml
  .github/workflows/sdk-build-lint-push-containers.yml
  .github/workflows/sdk-container-build-push.yml
  .github/workflows/ui-build-lint-push-containers.yml
  .github/workflows/ui-container-build-push.yml
Due: none

chore: enhance azure entra performance
  prowler/providers/azure/services/entra/entra_service.py
  tests/providers/azure/services/entra/entra_service_test.py
Due: prowler

chore: enhance m365 entra performance
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: prowler

fix: lint
  prowler/providers/m365/services/entra/entra_service.py
Due: prowler

feat: adds regctl for deleting intermediary images
  .github/workflows/api-container-build-push.yml
  .github/workflows/mcp-container-build-push.yml
  .github/workflows/sdk-container-build-push.yml
  .github/workflows/ui-container-build-push.yml
Due: none

feat(stackit): Replace objectstorage with iaas service and security group checks
  prowler/providers/stackit/services/iaas/__init__.py
  prowler/providers/stackit/services/iaas/iaas_client.py
  prowler/providers/stackit/services/iaas/iaas_security_group_all_traffic_unrestricted/__init__.py
  prowler/providers/stackit/services/iaas/iaas_security_group_all_traffic_unrestricted/iaas_security_group_all_traffic_unrestricted.metadata.json
  prowler/providers/stackit/services/iaas/iaas_security_group_all_traffic_unrestricted/iaas_security_group_all_traffic_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_security_group_database_unrestricted/__init__.py
  prowler/providers/stackit/services/iaas/iaas_security_group_database_unrestricted/iaas_security_group_database_unrestricted.metadata.json
  prowler/providers/stackit/services/iaas/iaas_security_group_database_unrestricted/iaas_security_group_database_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_security_group_rdp_unrestricted/__init__.py
  prowler/providers/stackit/services/iaas/iaas_security_group_rdp_unrestricted/iaas_security_group_rdp_unrestricted.metadata.json
  prowler/providers/stackit/services/iaas/iaas_security_group_rdp_unrestricted/iaas_security_group_rdp_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_security_group_ssh_unrestricted/__init__.py
  prowler/providers/stackit/services/iaas/iaas_security_group_ssh_unrestricted/iaas_security_group_ssh_unrestricted.metadata.json
  prowler/providers/stackit/services/iaas/iaas_security_group_ssh_unrestricted/iaas_security_group_ssh_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_service.py
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_encryption/objectstorage_bucket_encryption.metadata.json
  prowler/providers/stackit/services/objectstorage/objectstorage_bucket_encryption/objectstorage_bucket_encryption.py
  prowler/providers/stackit/services/objectstorage/objectstorage_client.py
  prowler/providers/stackit/services/objectstorage/objectstorage_service.py
  pyproject.toml
Due: prowler

docs(stackit): Update TODO with completed iaas service implementation
  STACKIT_TODO.md
Due: none

fix(stackit): Remove region parameter from IaaS API calls
  prowler/providers/stackit/services/iaas/iaas_service.py
Due: prowler

fix(stackit): Make protocol and ip_range optional in SecurityGroupRule
  prowler/providers/stackit/services/iaas/iaas_service.py
Due: prowler

feat(azure): new check for Entra ID authentication for Azure PostgreSQL Flexible Server (#8764)
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_entra_id_authentication_enabled/__init__.py
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_entra_id_authentication_enabled/postgresql_flexible_server_entra_id_authentication_enabled.metadata.json
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_entra_id_authentication_enabled/postgresql_flexible_server_entra_id_authentication_enabled.py
  prowler/providers/azure/services/postgresql/postgresql_service.py
  pyproject.toml
  tests/providers/azure/services/postgresql/postgresql_flexible_server_allow_access_services_disabled/postgresql_flexible_server_allow_access_services_disabled_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_connection_throttling_on/postgresql_flexible_server_connection_throttling_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_enforce_ssl_enabled/postgresql_flexible_server_enforce_ssl_enabled_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_entra_id_authentication_enabled/postgresql_flexible_server_entra_id_authentication_enabled_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_checkpoints_on/postgresql_flexible_server_log_checkpoints_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_connections_on/postgresql_flexible_server_log_connections_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_disconnections_on/postgresql_flexible_server_log_disconnections_on_test.py
  tests/providers/azure/services/postgresql/postgresql_flexible_server_log_retention_days_greater_3/postgresql_flexible_server_log_retention_days_greater_3_test.py
  tests/providers/azure/services/postgresql/postgresql_service_test.py
Due: prowler

chore: resolve comments
  docs/user-guide/providers/gcp/authentication.mdx
Due: none

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXVIII
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/tasks/jobs/attack_paths/prowler.py
Due: api

feat(attack-paths): Add Cartography AWS syncy - WIP - Pt. XXIX
  api/src/backend/api/attack_paths/views_helpers.py
Due: api

Feature: Added first check, docs and README
  STACKIT_TODO.md
  docs/developer-guide/stackit-details.mdx
  poetry.lock
  prowler/providers/stackit/services/iaas/iaas_security_group_all_traffic_unrestricted/iaas_security_group_all_traffic_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_security_group_database_unrestricted/iaas_security_group_database_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_security_group_rdp_unrestricted/iaas_security_group_rdp_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_security_group_ssh_unrestricted/iaas_security_group_ssh_unrestricted.py
  prowler/providers/stackit/services/iaas/iaas_service.py
  prowler/providers/stackit/stackit_provider.py
  tests/providers/stackit/__init__.py
  tests/providers/stackit/services/__init__.py
  tests/providers/stackit/services/iaas/__init__.py
  tests/providers/stackit/services/iaas/iaas_security_group_all_traffic_unrestricted/__init__.py
  tests/providers/stackit/services/iaas/iaas_security_group_all_traffic_unrestricted/iaas_security_group_all_traffic_unrestricted_test.py
  tests/providers/stackit/services/iaas/iaas_security_group_database_unrestricted/__init__.py
  tests/providers/stackit/services/iaas/iaas_security_group_database_unrestricted/iaas_security_group_database_unrestricted_test.py
  tests/providers/stackit/services/iaas/iaas_security_group_rdp_unrestricted/__init__.py
  tests/providers/stackit/services/iaas/iaas_security_group_rdp_unrestricted/iaas_security_group_rdp_unrestricted_test.py
  tests/providers/stackit/services/iaas/iaas_security_group_ssh_unrestricted/__init__.py
  tests/providers/stackit/services/iaas/iaas_security_group_ssh_unrestricted/iaas_security_group_ssh_unrestricted_test.py
  tests/providers/stackit/services/iaas/iaas_service_test.py
  tests/providers/stackit/stackit_fixtures.py
  tests/providers/stackit/stackit_provider_test.py
Due: prowler

docs(stackit): Update authentication guide with correct service account key process
  docs/developer-guide/stackit-details.mdx
Due: none

docs(stackit): Remove deprecated Token Flow and add CLI access token generation
  docs/developer-guide/stackit-details.mdx
Due: none

Fix: Fixed stackit python package versions
  poetry.lock
  pyproject.toml
Due: none

feat: add API endpoint
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
Due: api

Potential fix for code scanning alert no. 1840: Information exposure through an exception
  api/src/backend/api/v1/views.py
Due: api

fix(docs): Fix dead links
  docs/user-guide/cli/tutorials/parallel-execution.mdx
  docs/user-guide/cli/tutorials/quick-inventory.mdx
  prowler/__main__.py
  prowler/lib/cli/parser.py
  prowler/lib/utils/utils.py
  prowler/providers/aws/lib/quick_inventory/quick_inventory.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  pyproject.toml
  tests/providers/aws/lib/security_hub/security_hub_test.py
Due: prowler

fix(m365): support multiple OWA mailbox policies
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
