Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: zizmor in pre-commit (#10343)
  .pre-commit-config.yaml
Due: none

feat(aws): Update regions for AWS services (#10341)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

chore: update threatscore
  prowler/compliance/azure/prowler_threatscore_azure.json
Due: prowler

feat(azure): add 'entra_conditional_access_policy_require_mfa_for_admin_portals' check and update compliance (#10330)
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_3.0_azure.json
  prowler/compliance/azure/cis_4.0_azure.json
  prowler/compliance/azure/cis_5.0_azure.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/providers/azure/config.py
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_admin_portals/__init__.py
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_admin_portals/entra_conditional_access_policy_require_mfa_for_admin_portals.metadata.json
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_admin_portals/entra_conditional_access_policy_require_mfa_for_admin_portals.py
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.metadata.json
  tests/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_admin_portals/entra_conditional_access_policy_require_mfa_for_admin_portals_test.py
Due: prowler

refactor(attack-paths): complete migration to private graph labels and properties (phase 2) (#10268)
  api/CHANGELOG.md
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/attack_paths/queries/aws.py
  api/src/backend/api/attack_paths/queries/schema.py
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/indexes.py
  api/src/backend/tasks/jobs/attack_paths/queries.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(security): Ignore cryptography vulnerability until we can upgrade it
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
Due: none

fix(security): Ignore cryptography vulnerability until we can upgrade it (#10345)
  .github/workflows/api-security.yml
  .pre-commit-config.yaml
Due: none

fix(attack-paths): remove deprecated label references
  api/poetry.lock
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  skills/prowler-attack-paths-query/SKILL.md
Due: api

fix(ui): address PR review feedback for Google Workspace provider integration
  ui/CHANGELOG.md
  ui/components/providers/workflow/forms/via-credentials/googleworkspace-credentials-form.tsx
  ui/lib/error-mappings.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/tests/providers/providers-page.ts
  ui/tests/providers/providers.spec.ts
  ui/types/formSchemas.ts
Due: none

fix(ui): replace legacy HeroUI input with WizardInputField in image form
  ui/components/providers/workflow/forms/via-credentials/image-credentials-form.tsx
  ui/types/formSchemas.ts
Due: none

fix(m365): make compliant device check standalone
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/compliance/m365/cis_6.0_m365.json
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_compliant_device_required_for_cloud_app_access/entra_compliant_device_required_for_cloud_app_access.py
  tests/providers/m365/services/entra/entra_compliant_device_required_for_cloud_app_access/entra_compliant_device_required_for_cloud_app_access_test.py
Due: prowler

fix(ui): handle missing relationships in FindingDetail to prevent crash (#10314)
  ui/CHANGELOG.md
Due: none

fix(ui): align image provider form validation with API contract
  ui/components/providers/workflow/forms/via-credentials/image-credentials-form.tsx
  ui/types/formSchemas.ts
Due: none

fix(oci): use home region for audit configuration API call
  prowler/providers/oraclecloud/services/audit/audit_service.py
  tests/providers/oraclecloud/services/audit/audit_service_test.py
Due: prowler

fix(ui): address review issues in Events tab components
  ui/components/resources/table/resource-detail-content.tsx
  ui/components/shared/events-timeline/events-timeline.tsx
Due: none

feat(github): add organization_repository_deletion_limited check (#10185)
  prowler/CHANGELOG.md
  prowler/compliance/github/cis_1.0_github.json
  prowler/providers/common/provider.py
  prowler/providers/github/github_provider.py
  prowler/providers/github/services/organization/organization_repository_deletion_limited/__init__.py
  prowler/providers/github/services/organization/organization_repository_deletion_limited/organization_repository_deletion_limited.metadata.json
  prowler/providers/github/services/organization/organization_repository_deletion_limited/organization_repository_deletion_limited.py
  prowler/providers/github/services/organization/organization_service.py
  tests/providers/github/services/organization/organization_repository_deletion_limited/organization_repository_deletion_limited_test.py
Due: prowler

feat(attack-paths): scans add tenant and provider related labels to nodes (#10308)
  api/CHANGELOG.md
  api/poetry.lock
  api/src/backend/api/attack_paths/views_helpers.py
  api/src/backend/api/tests/test_attack_paths.py
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
  skills/prowler-attack-paths-query/SKILL.md
Due: api

fix(github): use raw_data fallback for org attributes not exposed by PyGithub
  prowler/providers/github/services/organization/organization_service.py
Due: prowler

chore(sdk): bump pygithub from 2.5.0 to 2.8.0
  poetry.lock
  prowler/CHANGELOG.md
  pyproject.toml
Due: prowler

fix(sdk): prevent trivy cache dir leak in test_connection-only flows
  prowler/providers/image/image_provider.py
Due: prowler

fix(attack-paths): recover graph_data_ready when scan fails during graph swap
  api/src/backend/api/attack_paths/database.py
  api/src/backend/api/tests/test_attack_paths_database.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(attack-paths): recover graph_data_ready when scan fails during graph swap - Add api/CHANGELOG.md entry
  api/CHANGELOG.md
Due: api

fix(api): prevent false graph_data_ready recovery before gate is applied
  api/src/backend/api/attack_paths/database.py
  api/src/backend/tasks/jobs/attack_paths/db_utils.py
  api/src/backend/tasks/jobs/attack_paths/scan.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api

fix(api): make CORS_ALLOWED_ORIGINS configurable via env variable
  api/src/backend/config/django/production.py
Due: api

feat(api): make CORS_ALLOWED_ORIGINS configurable via environment variable
  api/src/backend/config/django/production.py
Due: api

fix(ci): checkout upstream repo for tests
  .github/actions/setup-python-poetry/action.yml
Due: none

fix(ci): checkout upstream repo for tests (#10356)
  .github/actions/setup-python-poetry/action.yml
Due: none

fix(docs): setting a couple of api prs in 5.21 instead of 5.20
  api/CHANGELOG.md
Due: api

fix(docs): setting a couple of API PRs in the next release instead of 5.20 (#10357)
  api/CHANGELOG.md
Due: api

chore: changelog #
  api/CHANGELOG.md
Due: api

feat(ui): Add CloudTrail Events tab to detail cards (#10320)
  ui/CHANGELOG.md
  ui/actions/resources/index.ts
  ui/actions/resources/resources.test.ts
  ui/actions/resources/resources.ts
  ui/components/findings/table/finding-detail.test.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/resources/table/resource-detail-content.tsx
  ui/components/shared/events-timeline/events-timeline.test.tsx
  ui/components/shared/events-timeline/events-timeline.tsx
  ui/types/resources.ts
Due: none

fix(ui): use correct React import and Zod 4 email API
  ui/components/icons/providers-badge/googleworkspace-provider-badge.tsx
  ui/types/formSchemas.ts
Due: none

chore(lighthouse): add feature entry to changelog
  ui/CHANGELOG.md
Due: none

feat: CORS_ALLOWED_ORIGINS configurable via environment variable (#10355)
  api/CHANGELOG.md
  api/src/backend/config/django/production.py
Due: api

chore(changelog): add new wtool to schema
  mcp_server/CHANGELOG.md
Due: none

feat(compliance): add SecNumCloud 3.2 for Azure
  dashboard/compliance/secnumcloud_3_2_azure.py
  prowler/compliance/azure/secnumcloud_3.2_azure.json
Due: prowler

style(ui): fix Prettier formatting in credentials schema
  ui/types/formSchemas.ts
Due: none

chore(changelog): update with latest changes
  prowler/CHANGELOG.md
Due: prowler

feat(image): add image provider to UI (#10167)
  prowler/CHANGELOG.md
  prowler/providers/image/image_provider.py
  prowler/providers/image/lib/arguments/arguments.py
  tests/providers/image/image_provider_test.py
  ui/CHANGELOG.md
  ui/app/(prowler)/_overview/_components/accounts-selector.tsx
  ui/app/(prowler)/_overview/_components/provider-type-selector.tsx
  ui/components/filters/custom-provider-inputs.tsx
  ui/components/findings/table/provider-icon-cell.tsx
  ui/components/graphs/sankey-chart.tsx
  ui/components/icons/providers-badge/image-provider-badge.tsx
  ui/components/icons/providers-badge/index.ts
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/via-credentials/image-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/index.ts
  ui/components/ui/entities/get-provider-logo.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/external-urls.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
  ui/types/providers.ts
Due: prowler

perf(attack-paths): reduce sync and findings memory usage with smaller batches and cursor iteration
  api/src/backend/tasks/jobs/attack_paths/config.py
  api/src/backend/tasks/jobs/attack_paths/findings.py
  api/src/backend/tasks/jobs/attack_paths/sync.py
  api/src/backend/tasks/tests/test_attack_paths_scan.py
Due: api
