Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

docs: review with docs styleguide
  docs/developer-guide/llm-details.md
  docs/tutorials/llm/getting-started-llm.md
  mkdocs.yml
Due: none

fix(ui): update ui changelog (#8771)
  ui/CHANGELOG.md
Due: none

docs(mcp): add preview feature disclaimer (#8774)
  mcp_server/README.md
Due: none

feat(ui): add compliance_name (#8775)
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
Due: none

docs(m365): refactor getting started and auth (#8761)
  docs/developer-guide/checks.md
  docs/tutorials/microsoft365/authentication.md
  docs/tutorials/microsoft365/getting-started-m365.md
Due: none

docs(mongodbatlas): refactor getting started and auth
  docs/tutorials/mongodbatlas/authentication.md
  docs/tutorials/mongodbatlas/getting-started-mongodbatlas.md
Due: none

docs: review with docs styleguide
  docs/tutorials/mongodbatlas/authentication.md
  docs/tutorials/mongodbatlas/getting-started-mongodbatlas.md
Due: none

feat(regions_update): Update regions for AWS services
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

docs(iac): refactor getting started and auth
  docs/tutorials/iac/getting-started-iac.md
Due: none

fix: update prowler package version in api
  api/poetry.lock
Due: api

fix: remove findings by status tooltip when no data
  ui/actions/manage-groups/manage-groups.ts
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
Due: none

chore: update api changelog
  api/CHANGELOG.md
Due: api

docs(threatscore): add info with Prowler ThreatScore (#8711)
  docs/tutorials/compliance/threatscore.md
  mkdocs.yml
Due: none

Revert "chore: update api changelog"
  api/CHANGELOG.md
Due: api

docs: review with docs styleguide
  docs/tutorials/iac/getting-started-iac.md
Due: none

fix: update prowler package version in api (#8778)
  api/poetry.lock
Due: api

docs(mongodbatlas): refactor getting started and auth (#8776)
  docs/tutorials/mongodbatlas/authentication.md
  docs/tutorials/mongodbatlas/getting-started-mongodbatlas.md
Due: none

fix: add tooltip again for findings and add region param to compliance card url
  ui/components/compliance/compliance-card.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
Due: none

fix: heatmap with correct tooltip colors
  ui/components/compliance/compliance-charts/heatmap-chart.tsx
Due: none

chore(regions_update): Changes in regions for AWS services (#8777)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix: closeOnSelect fix
  ui/components/compliance/compliance-charts/heatmap-chart.tsx
  ui/components/providers/table/data-table-row-actions.tsx
Due: none

ref: remove xmlsec
  .github/workflows/api-pull-request.yml
Due: none

ref(actions): remove xmlsec step (#8482)
  .github/workflows/api-pull-request.yml
Due: none

fix: fix user profile organizations responsive layout
  ui/components/users/profile/membership-item.tsx
Due: none

feat(appsync): modify metadata
  prowler/providers/aws/services/appsync/appsync_field_level_logging_enabled/appsync_field_level_logging_enabled.metadata.json
  prowler/providers/aws/services/appsync/appsync_graphql_api_no_api_key_authentication/appsync_graphql_api_no_api_key_authentication.metadata.json
Due: prowler

fix: improve changelog
  prowler/CHANGELOG.md
Due: prowler

fix: send invitation layout fix
  ui/app/(prowler)/invitations/(send-invite)/layout.tsx
  ui/components/invitations/workflow/workflow-send-invite.tsx
Due: none

fix: fix user profile layout styles
  ui/app/(prowler)/profile/page.tsx
Due: none

feat(compliance-mapper): add first version (#8568)
  util/compliance/compliance_mapper/README.md
  util/compliance/compliance_mapper/compliance_mapper.py
  util/compliance/generate_json_from_csv/generate_compliance_json_from_csv_for_cis10_github.py
  util/compliance/generate_json_from_csv/generate_compliance_json_from_csv_for_cis15.py
  util/compliance/generate_json_from_csv/generate_compliance_json_from_csv_for_cis20_gcp.py
  util/compliance/generate_json_from_csv/generate_compliance_json_from_csv_for_cis40_microsoft365.py
  util/compliance/generate_json_from_csv/generate_compliance_json_from_csv_for_ens.py
  util/compliance/generate_json_from_csv/generate_compliance_json_from_csv_threatscore.py
  util/compliance/threatscore/get_prowler_threatscore_from_generic_output.py
Due: none

docs(iac): refactor getting started and auth (#8779)
  docs/tutorials/iac/getting-started-iac.md
Due: none

fix: remove unwanted heroui dependencies
  ui/dependency-log.json
  ui/package-lock.json
  ui/package.json
Due: none

fix: match page icons with sidebar ones
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/invitations/page.tsx
  ui/app/(prowler)/manage-groups/layout.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/profile/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/resources/page.tsx
  ui/app/(prowler)/roles/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/app/(prowler)/users/page.tsx
Due: none

fix: removed dashed selects
  ui/components/filters/custom-date-picker.tsx
  ui/components/invitations/forms/edit-form.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
Due: none

feat: include new make build command
  Makefile
Due: none

chore(aws): enhance metadata for `appsync` service (#8721)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/appsync/appsync_field_level_logging_enabled/appsync_field_level_logging_enabled.metadata.json
  prowler/providers/aws/services/appsync/appsync_graphql_api_no_api_key_authentication/appsync_graphql_api_no_api_key_authentication.metadata.json
Due: prowler

fix: update CopyLinkButton styles and add @heroui/react dependency
  ui/app/(prowler)/manage-groups/layout.tsx
  ui/components/ui/entities/copy-link-button.tsx
  ui/dependency-log.json
Due: none

fix: adjust layout padding for add role page
  ui/app/(prowler)/roles/(add-role)/layout.tsx
Due: none

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
