Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix: it was
  prowler/providers/microsoft365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked.py
Due: prowler

fix: add missing client app type
  prowler/providers/microsoft365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked.py
Due: prowler

feat: delete poc script
  poc.py
Due: none

feat(tasks): add logging and error handling
  api/src/backend/tasks/tasks.py
Due: api

chore: update API changelog
  api/CHANGELOG.md
Due: api

fix(tasks): fix exception message
  api/src/backend/tasks/tasks.py
Due: api

fix: validation error
  tests/providers/microsoft365/services/entra/entra_users_mfa_enabled/entra_users_mfa_enabled_test.py
Due: none

fix: validation error
  tests/providers/microsoft365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked_test.py
Due: none

fix: remove unused imports
  tests/providers/azure/services/containerregistry/containerregistry_uses_private_link/containerregistry_uses_private_link_test.py
Due: none

fix: rebuild poetry lock
  poetry.lock
Due: none

docs(python): add annotations about Python version
  docs/index.md
Due: none

fix(task): fix race condition when detecting duplicated scheduled scans
  api/src/backend/tasks/tasks.py
Due: api

fix(entra): check name and logic of `entra_admin_users_have_mfa_enabled` (#7230)
  prowler/providers/microsoft365/services/entra/entra_admin_portals_access_restriction/__init__.py
  prowler/providers/microsoft365/services/entra/entra_admin_portals_access_restriction/entra_admin_portals_access_restriction.metadata.json
  prowler/providers/microsoft365/services/entra/entra_admin_portals_access_restriction/entra_admin_portals_access_restriction.py
  prowler/providers/microsoft365/services/entra/entra_admin_users_mfa_enabled/__init__.py
  prowler/providers/microsoft365/services/entra/entra_admin_users_mfa_enabled/entra_admin_users_mfa_enabled.metadata.json
  prowler/providers/microsoft365/services/entra/entra_admin_users_mfa_enabled/entra_admin_users_mfa_enabled.py
  tests/providers/microsoft365/services/entra/entra_admin_portals_access_restriction/entra_admin_portals_access_restriction_test.py
  tests/providers/microsoft365/services/entra/entra_admin_users_mfa_enabled/entra_admin_users_mfa_enabled_test.py
Due: prowler

feat(entra): add new check `entra_admin_users_phishing_resistant_mfa_enabled` (#7211)
  prowler/providers/microsoft365/services/entra/entra_admin_users_phishing_resistant_mfa_enabled/__init__.py
  prowler/providers/microsoft365/services/entra/entra_admin_users_phishing_resistant_mfa_enabled/entra_admin_users_phishing_resistant_mfa_enabled.metadata.json
  prowler/providers/microsoft365/services/entra/entra_admin_users_phishing_resistant_mfa_enabled/entra_admin_users_phishing_resistant_mfa_enabled.py
  prowler/providers/microsoft365/services/entra/entra_service.py
  tests/providers/microsoft365/services/entra/entra_admin_users_phishing_resistant_mfa_enabled/entra_admin_users_phishing_resistant_mfa_enabled_test.py
  tests/providers/microsoft365/services/entra/microsoft365_entra_service_test.py
Due: prowler

feat(entra): add new check `entra_users_mfa_enabled` (#7228)
  prowler/providers/microsoft365/services/entra/entra_users_mfa_enabled/__init__.py
  prowler/providers/microsoft365/services/entra/entra_users_mfa_enabled/entra_users_mfa_enabled.metadata.json
  prowler/providers/microsoft365/services/entra/entra_users_mfa_enabled/entra_users_mfa_enabled.py
  tests/providers/microsoft365/services/entra/entra_users_mfa_enabled/entra_users_mfa_enabled_test.py
Due: prowler

feat(entra): add new check `entra_legacy_authentication_blocked` (#7240)
  prowler/providers/microsoft365/services/entra/entra_legacy_authentication_blocked/__init__.py
  prowler/providers/microsoft365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked.metadata.json
  prowler/providers/microsoft365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked.py
  prowler/providers/microsoft365/services/entra/entra_service.py
  tests/providers/microsoft365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked_test.py
Due: prowler

feat(awssession): make refactors and add a common session class
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/aws/lib/session/__init__.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
Due: prowler

feat(gcp): add check for dormant (unused) SA keys (#7348)
  README.md
  prowler/compliance/gcp/mitre_attack_gcp.json
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/__init__.py
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/iam_sa_user_managed_key_unused.metadata.json
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/iam_sa_user_managed_key_unused.py
  prowler/providers/gcp/services/monitoring/monitoring_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/iam/iam_sa_dormant_user_managed_keys/iam_sa_dormant_user_managed_keys_test.py
  tests/providers/gcp/services/monitoring/monitoring_service_test.py
Due: prowler

docs(python): add annotations about Python version (#7402)
  docs/index.md
Due: none

feat(m365): add service exchange with one check
  prowler/providers/microsoft365/services/exchange/__init__.py
  prowler/providers/microsoft365/services/exchange/exchange_client.py
  prowler/providers/microsoft365/services/exchange/exchange_organization_mailbox_auditing_enabled/__init__.py
  prowler/providers/microsoft365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled.metadata.json
  prowler/providers/microsoft365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled.py
  prowler/providers/microsoft365/services/exchange/exchange_service.py
  tests/providers/microsoft365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled_test.py
  tests/providers/microsoft365/services/exchange/exchange_service_test.py
Due: prowler

fix: update version
  poetry.lock
  pyproject.toml
Due: none

chore(entra): change check name
  prowler/providers/microsoft365/services/entra/entra_admin_users_cloud_only/__init__.py
  prowler/providers/microsoft365/services/entra/entra_admin_users_cloud_only/entra_admin_users_cloud_only.metadata.json
  prowler/providers/microsoft365/services/entra/entra_admin_users_cloud_only/entra_admin_users_cloud_only.py
  tests/providers/microsoft365/services/entra/entra_admin_users_cloud_only/entra_admin_users_cloud_only_test.py
Due: prowler

docs(gcp): modify mkdocs to add GCP
  mkdocs.yml
Due: none

fix(changelog): adjust version to release hotfix
  api/CHANGELOG.md
Due: api

chore: rebuild poetry lock
  poetry.lock
Due: none

fix(contaierregistry): remove old models imports
  prowler/providers/azure/services/containerregistry/containerregistry_service.py
  tests/providers/azure/services/containerregistry/containerregistry_admin_user_disabled/containerregistry_admin_user_disabled_test.py
  tests/providers/azure/services/containerregistry/containerregistry_not_publicly_accessible/containerregistry_not_publicly_accessible_test.py
  tests/providers/azure/services/containerregistry/containerregistry_service_test.py
  tests/providers/azure/services/containerregistry/containerregistry_uses_private_link/containerregistry_uses_private_link_test.py
Due: prowler

fix(scans): Handle duplicated scan tasks (#7401)
  api/CHANGELOG.md
  api/src/backend/tasks/tasks.py
Due: api

chore: bump API version
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Due: api

fix(changelog): fix API changelog
  api/CHANGELOG.md
Due: api

feat(exchange): modify service
  prowler/providers/microsoft365/services/exchange/exchange_service.py
  tests/providers/microsoft365/services/exchange/exchange_service_test.py
Due: prowler

docs(getting_started): resolve some comments
  docs/tutorials/aws/getting-started-aws.md
  docs/tutorials/aws/img/get-external-id-prowler-cloud.png
  docs/tutorials/azure/getting-started-azure.md
Due: none

docs(providers): change structure and improve typos
  docs/tutorials/aws/getting-started-aws.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/azure/img/get-subscription-id.png
  docs/tutorials/gcp/getting-started-gcp.md
Due: none

feat: enhanced arguments
  prowler/providers/common/provider.py
  prowler/providers/microsoft365/lib/arguments/arguments.py
  prowler/providers/microsoft365/microsoft365_provider.py
Due: prowler

feat(exchange): create checks files
  prowler/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/__init__.py
  prowler/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/exchange_account_mailbox_bypassaudit_not_enabled.metadata.json
  prowler/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/exchange_account_mailbox_bypassaudit_not_enabled.py
  tests/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/exchange_account_mailbox_bypassaudit_not_enabled_test.py
Due: prowler

fix: initialize pwsh only when needed
  prowler/providers/microsoft365/lib/service/service.py
Due: prowler

chore(entra): modify status extended
  prowler/providers/microsoft365/services/entra/entra_admin_users_cloud_only/entra_admin_users_cloud_only.metadata.json
  prowler/providers/microsoft365/services/entra/entra_admin_users_cloud_only/entra_admin_users_cloud_only.py
  tests/providers/microsoft365/services/entra/entra_admin_users_cloud_only/entra_admin_users_cloud_only_test.py
Due: prowler

fix(exchange): remove check from other branch
  prowler/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/__init__.py
  prowler/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/exchange_account_mailbox_bypassaudit_not_enabled.metadata.json
  prowler/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/exchange_account_mailbox_bypassaudit_not_enabled.py
  tests/providers/microsoft365/services/exchange/exchange_account_mailbox_bypassaudit_not_enabled/exchange_account_mailbox_bypassaudit_not_enabled_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
