Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

feat(scaleway): add new provider
  README.md
  docs/docs.json
  docs/introduction.mdx
  docs/user-guide/providers/scaleway/getting-started-scaleway.mdx
  poetry.lock
  prowler/__main__.py
  prowler/config/config.py
  prowler/lib/check/check.py
  prowler/lib/check/models.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
  prowler/providers/scaleway/__init__.py
  prowler/providers/scaleway/exceptions/__init__.py
  prowler/providers/scaleway/exceptions/exceptions.py
  prowler/providers/scaleway/lib/__init__.py
  prowler/providers/scaleway/lib/arguments/__init__.py
  prowler/providers/scaleway/lib/arguments/arguments.py
  prowler/providers/scaleway/lib/mutelist/__init__.py
  prowler/providers/scaleway/lib/mutelist/mutelist.py
  prowler/providers/scaleway/lib/service/__init__.py
  prowler/providers/scaleway/lib/service/service.py
  prowler/providers/scaleway/models.py
  prowler/providers/scaleway/scaleway_provider.py
  prowler/providers/scaleway/services/__init__.py
  prowler/providers/scaleway/services/iam/__init__.py
  prowler/providers/scaleway/services/iam/iam_client.py
  prowler/providers/scaleway/services/iam/iam_no_root_api_keys/__init__.py
  prowler/providers/scaleway/services/iam/iam_no_root_api_keys/iam_no_root_api_keys.metadata.json
  prowler/providers/scaleway/services/iam/iam_no_root_api_keys/iam_no_root_api_keys.py
  prowler/providers/scaleway/services/iam/iam_service.py
  pyproject.toml
  tests/providers/scaleway/scaleway_fixtures.py
  tests/providers/scaleway/scaleway_provider_test.py
  tests/providers/scaleway/services/iam/iam_no_root_api_keys/iam_no_root_api_keys_test.py
  tests/providers/scaleway/services/iam/iam_service_test.py
Due: prowler

fix(ui): enforce 100-char limit on mute rule name input (#11158)
  ui/CHANGELOG.md
  ui/components/findings/mute-findings-modal.test.tsx
  ui/components/findings/mute-findings-modal.tsx
  ui/lib/mute-rules.ts
Due: none

chore: fix actions
  mcp_server/prowler_mcp_server/prowler_app/models/finding_groups.py
  mcp_server/prowler_mcp_server/prowler_app/tools/finding_groups.py
  prowler/CHANGELOG.md
  tests/providers/scaleway/services/iam/scaleway_iam_service_test.py
Due: prowler

chore: improve readme
  README.md
  docs/introduction.mdx
  prowler/lib/outputs/html/html.py
Due: prowler

fix(ci): allow raw.githubusercontent.com in harden-runner for uv git resolution
  .github/workflows/api-code-quality.yml
  .github/workflows/api-security.yml
  .github/workflows/api-tests.yml
Due: none

chore(security): replace safety with osv-scanner
  .github/actions/osv-scanner/action.yml
  .github/scripts/osv-scan.sh
  .github/workflows/sdk-security.yml
  .github/workflows/ui-security.yml
  .pre-commit-config.yaml
  .safety-policy.yml
  api/poetry.lock
  api/pyproject.toml
  poetry.lock
  pyproject.toml
  scripts/setup-git-hooks.sh
Due: api

chore: update docs
  README.md
  docs/introduction.mdx
Due: none

fix(ui): make health check live-only
  docker-compose.yml
  ui/CHANGELOG.md
  ui/app/api/health/route.test.ts
  ui/app/api/health/route.ts
Due: none

docs: update CHANGELOG
  prowler/CHANGELOG.md
Due: prowler

chore(ui): scope prek pre-commit to staged files, drop legacy husky (#11118)
  ui/.husky/pre-commit
  ui/.pre-commit-config.yaml
  ui/.prettierignore
  ui/AGENTS.md
  ui/CHANGELOG.md
  ui/README.md
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/docs/code-review/CODE_REVIEW_SETUP.md
  ui/docs/code-review/README.md
  ui/eslint.config.mjs
  ui/package.json
  ui/scripts/setup-git-hooks.js
  ui/scripts/update-dependency-log.js
  ui/sentry/README.md
  ui/styles/globals.css
  ui/tests/auth/auth-middleware.spec.ts
  ui/tests/auth/auth.md
  ui/tests/base-page.ts
  ui/tests/helpers.ts
  ui/tests/home/home-page.ts
  ui/tests/invitations/invitations.md
  ui/tests/providers/providers-page.ts
  ui/tests/scans/scans-page.ts
  ui/tests/scans/scans.md
  ui/tests/scans/scans.spec.ts
  ui/tests/setups/admin.auth.setup.ts
  ui/tests/setups/invite-and-manage-users.auth.setup.ts
  ui/tests/setups/manage-account.auth.setup.ts
  ui/tests/setups/manage-cloud-providers.auth.setup.ts
  ui/tests/setups/manage-integrations.auth.setup.ts
  ui/tests/setups/manage-scans.auth.setup.ts
  ui/tests/setups/unlimited-visibility.auth.setup.ts
  ui/tests/sign-in-base/sign-in-base.md
  ui/tests/sign-up/sign-up-page.ts
  ui/tests/sign-up/sign-up.md
  ui/tests/sign-up/sign-up.spec.ts
  ui/tsconfig.json
Due: none

ci(api): replace poetry with uv (api) (#10775)
  .github/actions/setup-python-uv/action.yml
  .github/workflows/api-code-quality.yml
  .github/workflows/api-security.yml
  .github/workflows/api-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sdk-code-quality.yml
  .github/workflows/ui-e2e-tests-v2.yml
  .pre-commit-config.yaml
  api/AGENTS.md
  api/CHANGELOG.md
  api/Dockerfile
  api/README.md
  api/docker-entrypoint.sh
  api/poetry.lock
  api/pyproject.toml
  api/uv.lock
  contrib/k8s/helm/prowler-api/values.yaml
  skills/django-drf/SKILL.md
  skills/prowler-api/SKILL.md
  skills/prowler-api/references/production-settings.md
  skills/prowler-test-api/SKILL.md
  skills/prowler-test-api/references/test-api-docs.md
  skills/prowler/SKILL.md
  skills/tdd/SKILL.md
Due: api

chore(sdk): migrate pyproject.toml from poetry to uv
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

chore(sdk): switch Dockerfile, Makefile and readthedocs config to uv
  .readthedocs.yaml
  Dockerfile
  Makefile
Due: none

chore(ci): switch sdk workflows and prepare-release to setup-python-uv
  .github/workflows/pr-check-changelog.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sdk-code-quality.yml
  .github/workflows/sdk-container-build-push.yml
  .github/workflows/sdk-container-checks.yml
  .github/workflows/sdk-pypi-release.yml
  .github/workflows/sdk-security.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/ui-e2e-tests-v2.yml
Due: none

chore(sdk): update pre-commit, wt.toml, docs, skills and contrib scripts to uv
  .config/wt.toml
  .pre-commit-config.yaml
  .safety-policy.yml
  AGENTS.md
  README.md
  contrib/aws/multi-account-securityhub/run-prowler-securityhub.sh
  docs/AGENTS.md
  docs/developer-guide/checks.mdx
  docs/developer-guide/introduction.mdx
  docs/developer-guide/provider.mdx
  docs/developer-guide/security-compliance-framework.mdx
  docs/developer-guide/services.mdx
  docs/getting-started/installation/prowler-app.mdx
  docs/getting-started/installation/prowler-cli.mdx
  docs/user-guide/providers/aws/cloudshell.mdx
  docs/user-guide/providers/github/getting-started-github.mdx
  docs/user-guide/providers/oci/getting-started-oci.mdx
  docs/user-guide/providers/okta/authentication.mdx
  prowler/AGENTS.md
  scripts/setup-git-hooks.sh
  skills/prowler-compliance-review/SKILL.md
  skills/prowler-provider/SKILL.md
  skills/prowler-sdk-check/SKILL.md
  skills/prowler-test-sdk/SKILL.md
  skills/prowler/SKILL.md
  skills/tdd/SKILL.md
Due: prowler

chore(sdk): remove setup-python-poetry action
  .github/actions/setup-python-poetry/action.yml
Due: none

chore(sdk): remove remaining Poetry references from docs and PR template
  .github/pull_request_template.md
  AGENTS.md
  docs/user-guide/providers/aws/cloudshell.mdx
  prowler/AGENTS.md
  skills/prowler/SKILL.md
Due: prowler

chore(sdk): exclude .venv from flake8/bandit/vulture scans
  .github/workflows/sdk-code-quality.yml
  .github/workflows/sdk-security.yml
  Makefile
Due: none

chore: add idc to the check logic
  prowler/providers/aws/services/sagemaker/sagemaker_domain_sso_configured/sagemaker_domain_sso_configured.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_domain_sso_configured/sagemaker_domain_sso_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
Due: prowler

chore: update metadata
  prowler/providers/aws/services/sagemaker/sagemaker_domain_sso_configured/sagemaker_domain_sso_configured.metadata.json
Due: prowler

fix: severities
  .github/actions/osv-scanner/action.yml
  .github/scripts/osv-scan.sh
Due: none

feat: add changelog
  prowler/CHANGELOG.md
Due: prowler

fix(googleworkspace): use per-service resources for Gmail
  prowler/providers/googleworkspace/services/gmail/gmail_anomalous_attachment_protection_enabled/gmail_anomalous_attachment_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_auto_forwarding_disabled/gmail_auto_forwarding_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_comprehensive_mail_storage_enabled/gmail_comprehensive_mail_storage_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_domain_spoofing_protection_enabled/gmail_domain_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_employee_name_spoofing_protection_enabled/gmail_employee_name_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_encrypted_attachment_protection_enabled/gmail_encrypted_attachment_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_enhanced_pre_delivery_scanning_enabled/gmail_enhanced_pre_delivery_scanning_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_external_image_scanning_enabled/gmail_external_image_scanning_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_groups_spoofing_protection_enabled/gmail_groups_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_inbound_domain_spoofing_protection_enabled/gmail_inbound_domain_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_mail_delegation_disabled/gmail_mail_delegation_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_per_user_outbound_gateway_disabled/gmail_per_user_outbound_gateway_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_pop_imap_access_disabled/gmail_pop_imap_access_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_script_attachment_protection_enabled/gmail_script_attachment_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_shortener_scanning_enabled/gmail_shortener_scanning_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_unauthenticated_email_protection_enabled/gmail_unauthenticated_email_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_untrusted_link_warnings_enabled/gmail_untrusted_link_warnings_enabled.py
  tests/providers/googleworkspace/services/gmail/gmail_anomalous_attachment_protection_enabled/gmail_anomalous_attachment_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_auto_forwarding_disabled/gmail_auto_forwarding_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_comprehensive_mail_storage_enabled/gmail_comprehensive_mail_storage_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_domain_spoofing_protection_enabled/gmail_domain_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_employee_name_spoofing_protection_enabled/gmail_employee_name_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_encrypted_attachment_protection_enabled/gmail_encrypted_attachment_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_enhanced_pre_delivery_scanning_enabled/gmail_enhanced_pre_delivery_scanning_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_external_image_scanning_enabled/gmail_external_image_scanning_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_groups_spoofing_protection_enabled/gmail_groups_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_inbound_domain_spoofing_protection_enabled/gmail_inbound_domain_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_mail_delegation_disabled/gmail_mail_delegation_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_per_user_outbound_gateway_disabled/gmail_per_user_outbound_gateway_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_pop_imap_access_disabled/gmail_pop_imap_access_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_script_attachment_protection_enabled/gmail_script_attachment_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_shortener_scanning_enabled/gmail_shortener_scanning_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_unauthenticated_email_protection_enabled/gmail_unauthenticated_email_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_untrusted_link_warnings_enabled/gmail_untrusted_link_warnings_enabled_test.py
Due: prowler

fix: reporting
  .github/scripts/osv-scan.sh
Due: none

feat(sagemaker): add sagemaker_domain_sso_configured check (#11094)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/sagemaker/sagemaker_domain_sso_configured/__init__.py
  prowler/providers/aws/services/sagemaker/sagemaker_domain_sso_configured/sagemaker_domain_sso_configured.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_domain_sso_configured/sagemaker_domain_sso_configured.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_domain_sso_configured/sagemaker_domain_sso_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
Due: prowler

chore: write PR comment with osv-scanner results
  .github/actions/osv-scanner/action.yml
  .github/scripts/osv-scan.sh
  .github/workflows/api-security.yml
  .github/workflows/sdk-security.yml
  .github/workflows/ui-security.yml
Due: none

fix(ui): hide muted finding groups immediately with TTL persistence
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/findings/table/findings-group-table.test.tsx
  ui/components/findings/table/findings-group-table.tsx
  ui/components/findings/table/findings-selection-context.tsx
  ui/components/findings/table/inline-resource-container.tsx
  ui/lib/optimistic-muted-groups.test.ts
  ui/lib/optimistic-muted-groups.ts
Due: none

docs(ui): add changelog entry for PROWLER-1454 fix
  ui/CHANGELOG.md
Due: none

fix(ui): align health check container port
  docker-compose.yml
  ui/app/api/health/route.test.ts
  ui/app/api/health/route.ts
Due: none

fix: imposter commit
  action.yml
Due: none

chore(revision): resolve comments
  api/src/backend/tasks/jobs/reports/base.py
  api/src/backend/tasks/jobs/threatscore_utils.py
  docs/user-guide/compliance/tutorials/compliance.mdx
Due: api

fix(cloudflare): plan-aware WAF FAIL hints for zones
  prowler/CHANGELOG.md
  prowler/providers/cloudflare/lib/plan.py
  prowler/providers/cloudflare/services/zone/zone_waf_enabled/zone_waf_enabled.py
  tests/providers/cloudflare/services/zone/zone_waf_enabled/zone_waf_enabled_test.py
Due: prowler

docs(cloudflare): add pre-configured token creation links (#11156)
  docs/user-guide/providers/cloudflare/authentication.mdx
  docs/user-guide/providers/cloudflare/getting-started-cloudflare.mdx
Due: none

fix(googleworkspace): use per-service resources for Gmail (#11169)
  prowler/CHANGELOG.md
  prowler/providers/googleworkspace/services/gmail/gmail_anomalous_attachment_protection_enabled/gmail_anomalous_attachment_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_auto_forwarding_disabled/gmail_auto_forwarding_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_comprehensive_mail_storage_enabled/gmail_comprehensive_mail_storage_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_domain_spoofing_protection_enabled/gmail_domain_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_employee_name_spoofing_protection_enabled/gmail_employee_name_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_encrypted_attachment_protection_enabled/gmail_encrypted_attachment_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_enhanced_pre_delivery_scanning_enabled/gmail_enhanced_pre_delivery_scanning_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_external_image_scanning_enabled/gmail_external_image_scanning_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_groups_spoofing_protection_enabled/gmail_groups_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_inbound_domain_spoofing_protection_enabled/gmail_inbound_domain_spoofing_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_mail_delegation_disabled/gmail_mail_delegation_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_per_user_outbound_gateway_disabled/gmail_per_user_outbound_gateway_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_pop_imap_access_disabled/gmail_pop_imap_access_disabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_script_attachment_protection_enabled/gmail_script_attachment_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_shortener_scanning_enabled/gmail_shortener_scanning_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_unauthenticated_email_protection_enabled/gmail_unauthenticated_email_protection_enabled.py
  prowler/providers/googleworkspace/services/gmail/gmail_untrusted_link_warnings_enabled/gmail_untrusted_link_warnings_enabled.py
  tests/providers/googleworkspace/services/gmail/gmail_anomalous_attachment_protection_enabled/gmail_anomalous_attachment_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_auto_forwarding_disabled/gmail_auto_forwarding_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_comprehensive_mail_storage_enabled/gmail_comprehensive_mail_storage_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_domain_spoofing_protection_enabled/gmail_domain_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_employee_name_spoofing_protection_enabled/gmail_employee_name_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_encrypted_attachment_protection_enabled/gmail_encrypted_attachment_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_enhanced_pre_delivery_scanning_enabled/gmail_enhanced_pre_delivery_scanning_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_external_image_scanning_enabled/gmail_external_image_scanning_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_groups_spoofing_protection_enabled/gmail_groups_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_inbound_domain_spoofing_protection_enabled/gmail_inbound_domain_spoofing_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_mail_delegation_disabled/gmail_mail_delegation_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_per_user_outbound_gateway_disabled/gmail_per_user_outbound_gateway_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_pop_imap_access_disabled/gmail_pop_imap_access_disabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_script_attachment_protection_enabled/gmail_script_attachment_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_shortener_scanning_enabled/gmail_shortener_scanning_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_unauthenticated_email_protection_enabled/gmail_unauthenticated_email_protection_enabled_test.py
  tests/providers/googleworkspace/services/gmail/gmail_untrusted_link_warnings_enabled/gmail_untrusted_link_warnings_enabled_test.py
Due: prowler

fix(ui): update vulnerable npm packages
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

chore: resolve conflicts
  prowler/CHANGELOG.md
Due: prowler

chore(ui): document npm security updates
  ui/CHANGELOG.md
  ui/dependency-log.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

fix(cloudflare): plan-aware WAF FAIL hints for zones (#9896)
  prowler/CHANGELOG.md
  prowler/providers/cloudflare/lib/plan.py
  prowler/providers/cloudflare/services/zone/zone_waf_enabled/zone_waf_enabled.py
  tests/providers/cloudflare/services/zone/zone_waf_enabled/zone_waf_enabled_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
