Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

docs: add Hadolint installation step to pre-commit hooks setup
  README.md
Due: none

Add multi region filtering argument support
  prowler/providers/common/provider.py
  prowler/providers/oraclecloud/lib/arguments/arguments.py
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

Fix service region support
  prowler/providers/oraclecloud/services/blockstorage/blockstorage_service.py
  prowler/providers/oraclecloud/services/compute/compute_service.py
  prowler/providers/oraclecloud/services/kms/kms_service.py
Due: prowler

fix filestorage as well
  prowler/providers/oraclecloud/services/filestorage/filestorage_service.py
Due: prowler

add changelog entry
  prowler/CHANGELOG.md
Due: prowler

typo
  prowler/CHANGELOG.md
Due: prowler

fix(aws): set partition's region for global services (#10458)
  prowler/CHANGELOG.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/service/service.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/service/service_test.py
Due: prowler

fix: Prowler's changelog
  prowler/CHANGELOG.md
Due: prowler

feat(ui): add createTenant server action
  ui/actions/users/tenants.ts
Due: none

feat(ui): add deleteTenant server action
  ui/actions/users/tenants.ts
Due: none

fix(ui): refresh table and drawer after muting findings
  ui/components/findings/mute-findings-modal.tsx
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/findings-group-drill-down.tsx
  ui/components/findings/table/findings-selection-context.tsx
  ui/components/findings/table/resource-detail-drawer/use-resource-detail-drawer.ts
  ui/hooks/use-infinite-resources.ts
Due: none

fix: Prowler's changelog (#10475)
  prowler/CHANGELOG.md
Due: prowler

feat(ui): add CreateTenantForm component with auto-switch
  ui/components/users/forms/create-tenant-form.tsx
  ui/components/users/forms/index.ts
Due: none

feat(ui): add DeleteTenantForm with name confirmation and target Select
  ui/components/users/forms/delete-tenant-form.tsx
  ui/components/users/forms/index.ts
Due: none

feat(ui): add Create/Delete buttons, server/client split for MembershipsCard
  ui/app/(prowler)/profile/page.tsx
  ui/app/(prowler)/profile/profile-switch-tenant.browser.test.tsx
  ui/components/users/profile/membership-item.test.tsx
  ui/components/users/profile/membership-item.tsx
  ui/components/users/profile/memberships-card-client.tsx
  ui/components/users/profile/memberships-card.tsx
Due: none

make sure the config override happens
  prowler/providers/oraclecloud/services/blockstorage/blockstorage_service.py
  prowler/providers/oraclecloud/services/compute/compute_service.py
  prowler/providers/oraclecloud/services/filestorage/filestorage_service.py
  prowler/providers/oraclecloud/services/kms/kms_service.py
Due: prowler

fix(api): fix finding groups muted filter, counters and reaggregation
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
Due: api

chore: update changelog
  api/CHANGELOG.md
Due: api

test(ui): add jsdom tests for CreateTenantForm
  ui/components/users/forms/create-tenant-form.test.tsx
Due: none

test(ui): add jsdom tests for DeleteTenantForm
  ui/components/users/forms/delete-tenant-form.test.tsx
Due: none

refactor(ui): unify ActionDropdown with variant prop
  ui/components/findings/table/column-finding-resources.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/invitations/table/data-table-row-actions.tsx
  ui/components/manage-groups/table/data-table-row-actions.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/resources/table/column-resources.tsx
  ui/components/roles/table/data-table-row-actions.tsx
  ui/components/scans/table/scans/data-table-row-actions.tsx
  ui/components/shadcn/dropdown/action-dropdown.tsx
  ui/components/users/profile/api-keys/data-table-row-actions.tsx
  ui/components/users/table/data-table-row-actions.tsx
Due: none

style(ui): improve resource drawer detail layout
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
Due: none

fix(ui): allow DateWithTime inline wrap on narrow columns
  ui/components/ui/entities/date-with-time.tsx
Due: none

fix(ui): apply nav button color on parent for disabled state
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
Due: none

use regions_check
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

feat(cli): add --resource-group flag to filter checks by resource group
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/check/checks_loader.py
  prowler/lib/cli/parser.py
  tests/lib/check/check_loader_test.py
  tests/lib/cli/parser_test.py
Due: prowler

style(ui): fix prettier formatting in column-finding-resources
  ui/components/findings/table/column-finding-resources.tsx
Due: none

refactor(m365): rename check to entra_conditional_access_policy_block_o365_insider_risk
  prowler/CHANGELOG.md
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_o365_insider_risk/__init__.py
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_o365_insider_risk/entra_conditional_access_policy_block_o365_insider_risk.metadata.json
  prowler/providers/m365/services/entra/entra_conditional_access_policy_block_o365_insider_risk/entra_conditional_access_policy_block_o365_insider_risk.py
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/m365/services/entra/entra_conditional_access_policy_block_o365_insider_risk/entra_conditional_access_policy_block_o365_insider_risk_test.py
Due: prowler

style: fix black formatting for device registration MFA check
  prowler/providers/m365/services/entra/entra_conditional_access_policy_device_registration_mfa/entra_conditional_access_policy_device_registration_mfa.py
Due: prowler

docs(CHANGELOG): consolidate resource-group entries with PR link
  prowler/CHANGELOG.md
Due: prowler

refactor(ui): use default ActionDropdown trigger in mutelist
  ui/app/(prowler)/mutelist/_components/simple/mute-rule-row-actions.tsx
Due: none

make sure region filtering does by name
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

refactor(ui): consolidate date formatting utils into lib/date-utils
  ui/actions/attack-paths/scans.adapter.ts
  ui/app/(prowler)/attack-paths/(workflow)/query-builder/_components/scan-list-table.tsx
  ui/components/feeds/feeds-client.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/findings/table/resource-detail-drawer/resource-detail-drawer-content.tsx
  ui/components/scans/table/scan-detail.tsx
  ui/components/users/profile/api-keys/utils.ts
  ui/lib/date-utils.ts
Due: none

fix: deduplicate summaries per provider for all finding group endpoints
  api/src/backend/api/v1/views.py
Due: api

fix linting
  prowler/providers/oraclecloud/oraclecloud_provider.py
Due: prowler

tidy up changelog
  prowler/CHANGELOG.md
Due: prowler
