Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

fix: typo
  prowler/providers/m365/services/defender/defender_chat_report_policy_configured/defender_chat_report_policy_configured.metadata.json
Due: prowler

feat: add DeltaIndicator in new findings (#7676)
  ui/CHANGELOG.md
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
Due: none

fix(inspector2): handle error when getting active findings (#7670)
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
Due: prowler

feat(chart): add HorizontalSplitBar component for visualizing two values with tooltips and customizable styles
  ui/components/ui/chart/horizontal-split-bar.tsx
Due: none

fix(inspector2): handle error when getting active findings (#7679)
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
Due: prowler

fix(metadata): typo in `defender_chat_report_policy_configured` (#7678)
  prowler/providers/m365/services/defender/defender_chat_report_policy_configured/defender_chat_report_policy_configured.metadata.json
Due: prowler

feat: enhance authentication method in finding
  prowler/lib/outputs/html/html.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
Due: prowler

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

feat: add compliance to API report files and its endpoint (#7653)
  .github/workflows/api-pull-request.yml
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/compliance.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_export.py
  api/src/backend/tasks/tests/test_tasks.py
  prowler/lib/outputs/compliance/compliance_output.py
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
Due: prowler, api

refactor(chart): match acceptance criteria
  ui/components/ui/chart/horizontal-split-bar.tsx
  ui/components/ui/chart/horizontal-split-chart.tsx
Due: none

feat(changelog): add new chart for visualizing passed and failed findings (#7680)
  ui/CHANGELOG.md
Due: none

feat: add tests
  prowler/lib/outputs/html/html.py
  tests/lib/outputs/html/html_test.py
  tests/providers/m365/m365_fixtures.py
Due: prowler

fix(dashboard): remove muted findings on compliance page
  dashboard/pages/compliance.py
Due: none

docs: update the download export documentation
  docs/img/compliance_download.png
  docs/img/download_output.png
  docs/img/output_folder.png
  docs/tutorials/prowler-app.md
Due: none

feat(changelog): update with latests changes
  prowler/CHANGELOG.md
Due: prowler

refactor(chart): improve accessibility
  ui/components/ui/chart/horizontal-split-chart.tsx
Due: none

fix(dashboard): remove muted findings on compliance page (#7683)
  dashboard/pages/compliance.py
  prowler/CHANGELOG.md
Due: prowler

fix(mutelist): properly handle wildcards and regex
  prowler/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Due: prowler

fix(mutelist): properly handle wildcards and regex (#7685)
  prowler/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Due: prowler

docs: add section screenshots
  docs/img/compliance_section.png
  docs/img/scan_jobs_section.png
  docs/tutorials/prowler-app.md
Due: none

docs: add suggestions
  docs/tutorials/prowler-app.md
Due: none

docs: remove numbered list due to display problems
  docs/tutorials/prowler-app.md
Due: none

refactor: adjust bar height
  ui/components/ui/chart/horizontal-split-chart.tsx
Due: none

fix(dashboard): drop duplicates for rows
  dashboard/pages/compliance.py
Due: none

fix(dashboard): drop duplicates for rows (#7686)
  dashboard/pages/compliance.py
  prowler/CHANGELOG.md
Due: prowler

feat(changelog): revert changes
  prowler/CHANGELOG.md
Due: prowler

fix(defender): add priority and recipients to policy rules
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

chore(action): Remove cache in PyPI release (#7532)
  .github/workflows/sdk-pypi-release.yml
Due: none

feat(exchange): add new check `exchange_mailbox_audit_bypass_disabled` (#7418)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/exchange_mailbox_audit_bypass_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/exchange_mailbox_audit_bypass_disabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/purview/purview_audit_log_search_enabled/purview_audit_log_search_enabled.py
  prowler/providers/m365/services/purview/purview_service.py
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.py
  prowler/providers/m365/services/teams/teams_external_file_sharing_restricted/teams_external_file_sharing_restricted.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/exchange_mailbox_audit_bypass_disabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

chore(regions_update): Changes in regions for AWS services (#7527)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

feat(defender): add new check `defender_antiphishing_policy_configured` (#7453)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/__init__.py
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured.metadata.json
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

docs(gcp): update required permissions for GCP (#7488)
  docs/getting-started/requirements.md
  docs/tutorials/gcp/authentication.md
Due: none

feat(exchange): add service and new check `exchange_organization_mailbox_auditing_enabled` (#7408)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/__init__.py
  prowler/providers/m365/services/exchange/exchange_client.py
  prowler/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Due: prowler

chore: pass labels (#7553)
  .github/workflows/pull-request-merged.yml
Due: none

chore: fix merged PR action, incorrect order on payload (#7554)
  .github/workflows/pull-request-merged.yml
Due: none

feat(defender): add service and new check `defender_malware_policy_common_attachments_filter_enabled` (#7425)
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/__init__.py
  prowler/providers/m365/services/defender/defender_client.py
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/__init__.py
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled.metadata.json
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Due: prowler

chore: pass labels as json is required (#7555)
  .github/workflows/pull-request-merged.yml
Due: none

feat(teams): add new check `teams_email_sending_to_channel_disabled` (#7533)
  prowler/CHANGELOG.md
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled_test.py
Due: prowler

Path conditions:
  prowler: any of: prowler/**
  api: any of: api/**
