Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

refactor: add type-safe constants for credential field names
  ui/actions/providers/providers.ts
  ui/components/providers/workflow/forms/select-credentials-type/gcp/via-service-account-form.tsx
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/error-mappings.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

fix lint
  ui/hooks/use-credentials-form.ts
Due: none

fix(ui): resolve hydration issue by refactoring compliance card
  ui/components/compliance/compliance-card.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/ui/custom/custom-button.tsx
  ui/components/ui/download-icon-button/download-icon-button.tsx
Due: none

chore(tests): improve tests
  tests/providers/aws/lib/fix/awsfixer_test.py
  tests/providers/azure/lib/fix/azurefixer_test.py
  tests/providers/m365/lib/fix/m365fixer_test.py
Due: none

refactor: centralize provider credential field names and improve type safety
  ui/actions/providers/providers.ts
  ui/components/providers/forms/delete-form.tsx
  ui/components/providers/forms/edit-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-static-credentials-form.tsx
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

fix vulture
  tests/providers/aws/lib/fix/awsfixer_test.py
Due: none

docs: add provider-specific developer guide sections
  docs/developer-guide/aws-details.md
  docs/developer-guide/azure-details.md
  docs/developer-guide/gcp-details.md
  docs/developer-guide/github-details.md
  docs/developer-guide/introduction.md
  docs/developer-guide/kubernetes-details.md
  docs/developer-guide/m365-details.md
  mkdocs.yml
Due: none

chore(release): Bump version to v5.7.5
  prowler/config/config.py
  pyproject.toml
Due: prowler

docs: changelog update
  ui/CHANGELOG.md
Due: none

fix(migration): create site stuff before socialaccount
  api/docker-entrypoint.sh
  api/src/backend/api/management/commands/check_and_fix_socialaccount_sites_migration.py
  api/src/backend/config/celery.py
  api/src/backend/manage.py
Due: api

fix(migration): create site stuff before socialaccount (#7999)
  api/docker-entrypoint.sh
  api/src/backend/api/management/commands/check_and_fix_socialaccount_sites_migration.py
  api/src/backend/config/celery.py
  api/src/backend/manage.py
Due: api

feat: support both auth methods
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
Due: prowler

chore(release): Bump version to v5.7.5 (#7997)
  prowler/config/config.py
  pyproject.toml
Due: prowler

feat: WIP on mitre compliance and fixes
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-accordion/client-accordion-wrapper.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-charts/bar-chart.tsx
  ui/components/compliance/compliance-custom-details/mitre-details.tsx
  ui/components/compliance/compliance-header/scan-selector.tsx
  ui/lib/compliance/commons.ts
  ui/lib/compliance/mitre.tsx
  ui/types/compliance.ts
Due: none

chore(aws): migrate fixers to new structure until ec2_ebs
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_fixer.py
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_fixer.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_fixer.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled_fixer.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration_fixer.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking_fixer.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation_fixer.py
  prowler/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_fixer.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot_fixer.py
  prowler/providers/aws/services/ec2/ec2_ami_public/ec2_ami_public_fixer.py
  prowler/providers/aws/services/ec2/ec2_ebs_default_encryption/ec2_ebs_default_encryption_fixer.py
  prowler/providers/aws/services/ec2/ec2_ebs_public_snapshot/ec2_ebs_public_snapshot_fixer.py
  prowler/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access_fixer.py
  tests/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_fixer_test.py
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_fixer_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_fixer_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled_fixer_test.py
  tests/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_fixer_test.py
  tests/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot_fixer_test.py
  tests/providers/aws/services/ec2/ec2_ami_public/ec2_ami_public_fixer_test.py
  tests/providers/aws/services/ec2/ec2_ebs_default_encryption/ec2_ebs_default_encryption_fixer_test.py
  tests/providers/aws/services/ec2/ec2_ebs_public_snapshot/ec2_ebs_public_snapshot_fixer_test.py
  tests/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access_fixer_test.py
Due: prowler

fix: remove duplicate lighthouse connection test case
  api/src/backend/api/tests/test_views.py
Due: api

chore: copy changed
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
Due: none

feat(compliance): improve pdf output
  util/compliance_report/compliance_generator.py
Due: none

fix(gcp): remove azure video from gcp docs
  docs/tutorials/gcp/getting-started-gcp.md
Due: none

chore: update changelog
  api/CHANGELOG.md
Due: api

refactor(ui): unify credential forms and eliminate code duplication
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/(set-up-provider)/add-credentials/page.tsx
  ui/components/providers/forms/edit-form.tsx
  ui/components/providers/workflow/forms/add-via-role-form.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-static-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/add-via-service-account-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/gcp/via-service-account-form.tsx
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/helper.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
Due: none

fix linter
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/lib/provider-credentials/build-crendentials.ts
Due: none

fix: iso hierarchy
  ui/lib/compliance/iso.tsx
Due: none

chore: update changelog.md
  ui/CHANGELOG.md
Due: none

build: types corrections
  ui/components/compliance/compliance-custom-details/aws-well-architected-details.tsx
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/components/compliance/compliance-custom-details/threat-details.tsx
Due: none

chore: ruff format
  api/src/backend/api/migrations/0025_processors.py
  api/src/backend/api/migrations/0026_finding_muted_reason_mutedfinding.py
Due: api

fix: wrong import path
  api/src/backend/api/v1/serializers.py
Due: api

chore(regions_update): Changes in regions for AWS services (#7898)
  prowler/providers/aws/aws_regions_by_service.json
Due: prowler

fix(gcp): test connection by verifying token (#7883)
  prowler/providers/gcp/gcp_provider.py
Due: prowler

feat: MittreAtack compliance detailed view (#8002)
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
  ui/components/compliance/compliance-accordion/client-accordion-wrapper.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-charts/bar-chart.tsx
  ui/components/compliance/compliance-custom-details/aws-well-architected-details.tsx
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/components/compliance/compliance-custom-details/mitre-details.tsx
  ui/components/compliance/compliance-custom-details/threat-details.tsx
  ui/components/compliance/compliance-header/scan-selector.tsx
  ui/lib/compliance/commons.ts
  ui/lib/compliance/iso.tsx
  ui/lib/compliance/mitre.tsx
  ui/types/compliance.ts
Due: none

srn Removed the hydration fix
  ui/CHANGELOG.md
  ui/components/compliance/compliance-card.tsx
Due: none

fix(gcp): remove azure video from gcp docs (#8001)
  docs/tutorials/gcp/getting-started-gcp.md
Due: none

chore: prevent empty optional fields from being sent to API
  ui/hooks/use-credentials-form.ts
  ui/lib/helper.ts
  ui/lib/provider-credentials/build-crendentials.ts
Due: none

fix(PRWLR-7380): button nesting hydration error (#7998)
  ui/CHANGELOG.md
  ui/components/scans/launch-workflow/select-scan-provider.tsx
Due: none

fix: test
  tests/providers/aws/aws_provider_test.py
Due: none

feat(gcp): add NIS 2 compliance framework (#7912)
  README.md
  dashboard/compliance/nis2_gcp.py
  prowler/CHANGELOG.md
  prowler/compliance/gcp/nis2_gcp.json
Due: prowler

fix: mkdocs formatting
  docs/developer-guide/integrations.md
Due: none

fix(k8s): remove typo for PCI 4.0 compliance framework (#7971)
  prowler/CHANGELOG.md
  prowler/compliance/kubernetes/pci_4.0_kubernetes.json
Due: prowler

fix(k8s): remove typo for PCI 4.0 compliance framework (#8004)
  prowler/CHANGELOG.md
  prowler/compliance/kubernetes/pci_4.0_kubernetes.json
Due: prowler
