Repository prowler-cloud/prowler: changes, and which Codecov flags are due for each by the changed paths.
All: prowler, api

codecov.yml:

component_management:
  individual_components:
    - component_id: "prowler"
      paths:
        - "prowler/**"
    - component_id: "api"
      paths:
        - "api/**"

comment:
  layout: "header, diff, flags, components"

chore: update v1 spec
  api/src/backend/api/specs/v1.yaml
Due: api

fix(scans): improve auto-refresh behavior and add loading skeleton for scan details
  ui/components/scans/auto-refresh.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-details.tsx
  ui/components/scans/table/scans/skeleton-scan-detail.tsx
  ui/components/ui/sheet/trigger-sheet.tsx
Due: none

fix(scans): prevent opening scan details when executing or available
  ui/components/scans/table/scans/column-get-scans.tsx
Due: none

fix: remove maxTokens for gpt-5 (#8843)
  ui/CHANGELOG.md
  ui/lib/lighthouse/utils.ts
Due: none

fix: user pagination
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/entra/entra_service.py
Due: prowler

fix: tests
  tests/providers/azure/services/entra/entra_service_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Due: none

fix(scans): detail drawer fails after dependencies migration (#8856)
  ui/components/scans/auto-refresh.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-details.tsx
  ui/components/scans/table/scans/skeleton-scan-detail.tsx
  ui/components/ui/sheet/trigger-sheet.tsx
Due: none

chore: add to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: metadata
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.metadata.json
Due: prowler

chore(aws): enhance metadata for `account` service (#8715)
  prowler/CHANGELOG.md
  prowler/providers/aws/services/account/account_maintain_current_contact_details/account_maintain_current_contact_details.metadata.json
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.metadata.json
  prowler/providers/aws/services/account/account_security_contact_information_is_registered/account_security_contact_information_is_registered.metadata.json
  prowler/providers/aws/services/account/account_security_questions_are_registered_in_the_aws_account/account_security_questions_are_registered_in_the_aws_account.metadata.json
Due: prowler

chore: resolve conflicts
  ui/lib/lighthouse/utils.ts
Due: none

chore(security): update Django to 5.1.13 (#8842)
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
Due: api

fix(doc): document about using the same .env as the code version (#8804)
  api/README.md
  docs/installation/prowler-app.md
Due: api

fix: remove maxTokens for gpt-5 (#8857)
  ui/CHANGELOG.md
  ui/lib/lighthouse/utils.ts
Due: none

fix: error in tests
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
Due: prowler

feat(graphs): implement radar chart dot selection
  ui/components/graphs/RadarChart.tsx
Due: none

feat(graphs): first implementation of rechart graphs
  ui/components/graphs/BarChart.tsx
  ui/components/graphs/COLORS.md
  ui/components/graphs/DonutChart.tsx
  ui/components/graphs/HorizontalBarChart.tsx
  ui/components/graphs/LineChart.tsx
  ui/components/graphs/RadarChart.tsx
  ui/components/graphs/RadialChart.tsx
  ui/components/graphs/SankeyChart.tsx
  ui/components/graphs/ScatterPlot.tsx
  ui/components/graphs/index.ts
Due: none

feat(graphs): implement radar chart custom tooltip
  ui/components/graphs/RadarChart.tsx
Due: none

fix: add some deleted filters
  api/src/backend/api/filters.py
Due: api

feat(api): remove compliance from serializer
  api/src/backend/api/v1/serializers.py
Due: api

chore: regenerate schema
  api/src/backend/api/specs/v1.yaml
Due: api

chore(aws/directoryservice): adapt metadata to new standarized format
  prowler/providers/aws/services/directoryservice/directoryservice_directory_log_forwarding_enabled/directoryservice_directory_log_forwarding_enabled.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_directory_monitor_notifications/directoryservice_directory_monitor_notifications.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_directory_snapshots_limit/directoryservice_directory_snapshots_limit.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_ldap_certificate_expiration/directoryservice_ldap_certificate_expiration.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_radius_server_security_protocol/directoryservice_radius_server_security_protocol.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_supported_mfa_radius_enabled/directoryservice_supported_mfa_radius_enabled.metadata.json
Due: prowler

chore: add aws/directoryservice metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/dlm): adapt metadata to new standarized format
  prowler/providers/aws/services/dlm/dlm_ebs_snapshot_lifecycle_policy_exists/dlm_ebs_snapshot_lifecycle_policy_exists.metadata.json
Due: prowler

chore: add aws/dlm metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/dms): adapt metadata to new standarized format
  prowler/providers/aws/services/dms/dms_endpoint_mongodb_authentication_enabled/dms_endpoint_mongodb_authentication_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_endpoint_neptune_iam_authorization_enabled/dms_endpoint_neptune_iam_authorization_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_endpoint_redis_in_transit_encryption_enabled/dms_endpoint_redis_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_endpoint_ssl_enabled/dms_endpoint_ssl_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/dms_instance_minor_version_upgrade_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_instance_multi_az_enabled/dms_instance_multi_az_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.metadata.json
  prowler/providers/aws/services/dms/dms_replication_task_source_logging_enabled/dms_replication_task_source_logging_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_replication_task_target_logging_enabled/dms_replication_task_target_logging_enabled.metadata.json
Due: prowler

chore: add aws/dms metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

chore(aws/documentdb): adapt metadata to new standarized format
  prowler/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_cloudwatch_log_export/documentdb_cluster_cloudwatch_log_export.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/documentdb_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_multi_az_enabled/documentdb_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_storage_encrypted/documentdb_cluster_storage_encrypted.metadata.json
Due: prowler

chore: add aws/documentdb metadata update to changelog
  prowler/CHANGELOG.md
Due: prowler

fix: add lookup expression
  api/src/backend/api/filters.py
Due: api

chore: format new filter
  api/src/backend/api/filters.py
Due: api

fix(migrations): api key rls migration
  api/src/backend/api/migrations/0048_api_key.py
Due: api

fix(migrations): API key RLS migration (#8863)
  api/src/backend/api/migrations/0048_api_key.py
Due: api

feat(database): add db read replica support
  .env
  api/src/backend/api/base_views.py
  api/src/backend/api/db_router.py
  api/src/backend/api/db_utils.py
  api/src/backend/api/renderers.py
  api/src/backend/config/django/devel.py
  api/src/backend/config/django/production.py
Due: api

refactor(tasks): optimize read queries with read replica
  api/src/backend/api/db_router.py
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
Due: api

feat(api): apply changes after revision
  api/src/backend/api/migrations/0027_compliance_requirement_overviews.py
  api/src/backend/api/migrations/0049_compliancerequirementoverview_passed_findings_and_more.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
Due: api

chore: remove reverted change from changelog
  api/CHANGELOG.md
Due: api

feat(api): change counting keys
  api/src/backend/tasks/jobs/scan.py
Due: api
